[2019-03-13 17:26] saturnism opened #995 "Java examples to not use /tmp"
Spring Boot may be using /tmp files for logging or by the default tomcat starter. Update sample to avoid that.

[2019-03-13 17:27] saturnism commented on #970
Waiting for https://github.com/knative/docs/issues/995

[2019-03-13 17:28] saturnism commented on #995
Waiting for https://github.com/knative/docs/issues/995

[2019-03-14 16:30] ahmetb opened #1000 "hack/generate-api-reference-docs: doesn't cleanup cloned repos"
Need to add traps to the script to cleanup the cloned repos on /tmp.  Per #997, apparently people can run out of space on /tmp if we just leave those around.

[2019-03-14 18:01] samodell commented on #299
Thanks @tcnghia ! Let me know if you/anyone has time to draft a few paragraphs on these topics. Docs team can then polish and figure out where to put the info.

[2019-03-15 13:14] khrm opened #1005 "Eventing cronjob doesn't reflects the current output"
The output given at https://github.com/knative/docs/tree/master/eventing/samples/cronjob-source#verify is not correct. Knative-eventing has adopted cloudevents.io due to which it expects different output.

## Given Behavior
{
  "ID": "1543616460000180552-203",
  "EventTime": "2018-11-30T22:21:00.000186721Z",
  "Body": "{\"message\": \"Hello world!\"}"
}

## Actual Behavior

[code]
## Steps to Repr

[2019-03-15 16:35] #1005 closed

[2019-03-15 20:13] evankanderson commented on #668
Yes, feel free to take this issue. We expect that Broker and Trigger (see https://github.com/knative/eventing/blob/master/docs/decisions/broker-trigger.md) will make this easier.

[2019-03-15 21:03] #1000 closed

[2019-03-16 02:13] RichieEscarez opened #1009 "Determine what a "maintainer" content section might look like"
Should "maintainer" info have its own section, maybe near to the "contributors" info?

For example, docs/reference/README.md includes "how to build the API". Should that remain where it is or should we consider building out a separate place for that role?

[2019-03-16 13:36] RPing opened #1011 "broken links in installing-logging-metrics-traces.md stackdriver section"
The links of step 2 & step3 are broken.
https://github.com/knative/docs/blob/master/docs/serving/installing-logging-metrics-traces.md#stackdriver

[2019-03-16 13:38] RPing commented on #1011
hmm...It seems that github problem.
now it works.

[2019-03-16 13:38] #1011 closed

[2019-03-16 23:37] craigbox commented on #968
I had this problem too installing 0.4.

To fix the docs, we just need to swap the order?

--filename https://github.com/knative/eventing/releases/download/v0.4.0/in-memory-channel.yaml \
--filename https://github.com/knative/eventing/releases/download/v0.4.0/release.yaml \

becomes

--filename https://github.com/knative/eventing/releases/download/v0.4.0/release.yaml \
--filename https://github.com

[2019-03-17 09:48] lou-lan opened #1013 "Knative release image use tag not sha"
## What is changing? (Please include as many details as possible.)
fix release yaml
[code]
->
[code]

## How will this impact our users?
The speed is not ideal in some areas.
[code]

## In what release will this take happen (to the best of your knowledge)?
v0.4

[2019-03-17 16:07] evankanderson commented on #968
Yes, we should install the release *before* the in-memory channel, because the in-memory channel defines custom resources which are defined in `release.yaml` (in particular, the ClusterChannelProvisioner CRD).

[2019-03-17 16:09] evankanderson commented on #968
@craigbox -- where did you find that ordering in the docs? I can't locate it at the moment...

[2019-03-17 22:48] craigbox commented on #968
https://github.com/knative/docs/blob/master/docs/install/Knative-with-GKE.md

[2019-03-18 19:42] rgregg opened #1018 "Move the community governance docs to a non-versioned new repo"
Opening from #1017, to track separately from the core issue.

This will provide a single hub for this content, as well as issues related to the content, that is separate from the technical documentation and sample code that lives in the docs repo today.

As @RichieEscarez mentioned, having a non-versioned single source of truth for our governance and community organization content is another benef

[2019-03-18 22:54] samodell opened #1020 "Docs repo Eventing updates for v0.5"
/docs/docs/eventing
- [ ] README.md
- [ ] Images: add new [broker trigger diagram](https://github.com/knative/eventing/blob/master/docs/spec/images/broker-trigger-overview.svg)

/docs/docs/eventing/debugging
- [ ] README.md
- [ ] example-model.png

[2019-03-18 22:55] samodell opened #1021 "Eventing sample updates for v0.5"
[/docs/docs/eventing/samples](https://github.com/knative/docs/tree/master/docs/eventing/samples)

- [x] gcp-pubsub-source
- [x] iot-core
- [x] kubernetes-event-source

[2019-03-18 23:31] RichieEscarez opened #1022 "broken buildpack Serving Samples (2) - buildpack.yaml 404"
## Expected Behavior
knative/build-templates/master/buildpack/buildpack.yaml exists

## Actual Behavior
Different files exist in that directory, you get a 404

The files have all been updated and changed:
https://github.com/knative/build-templates/pull/67

## Steps to Reproduce the Problem

Broken Serving samples:
1. https://github.com/knative/docs/tree/master/docs/serving/samples/buildpack-app-do

[2019-03-18 23:33] samodell opened #1023 "Eventing repo docs -- edit new broker/trigger content"
[/eventing/docs/broker/](https://github.com/knative/eventing/tree/master/docs/broker)
- [ ] README.md edit

[2019-03-19 11:10] konryd opened #1028 "Installation steps assume knative eventing namespace while it's not there"
## Expected Behavior
Installation succeeds when following the installation steps

## Actual Behavior
The installation gets confused by knative eventing.
[code]

## Steps to Reproduce the Problem
1. Create a cluster in GKE using Cloud Console ui (leave everything default)
1. Start following the installation steps from "Grant cluster-admin permissions to the current user:" (inclusive)

## Additional

[2019-03-19 15:51] abbi-gaurav opened #1029 "Default channel documentation should state that one can specify no channel provisioners"
**Describe the change you'd like to see**
There can be scenarios when one does not want to specify a `default-channel-config` and to not use an in-memory-provisioner.
In such a case, a custom provisioner will be installed after installing `knative eventing`.

However, the `knative eventing` fails if one does not provide a `default-channel-config` config map.
Since providing a config map is mandato

[2019-03-19 16:19] grayside commented on #497
Looks like we can declare success here.

[2019-03-19 16:19] #497 closed

[2019-03-19 17:24] samodell commented on #968
Did some testing this morning and I think I've resolved the issue. It's not necessary to explicitly install the in-memory channel provisioner, but running the install commands as a chain the way we had been was making it easy for stuff to get out of order and fail.

If we chain the install commands together with && instead, things will install correctly the first time. To install all the component

[2019-03-19 20:26] evankanderson commented on #968
I don't think you need separate invocations of `kubectl`, just to re-order
lines 3 and 4 between knative/eventing/releases/.../in-memory-channel and
knative/eventing/releases/.../release.yaml

On Tue, Mar 19, 2019 at 10:24 AM samodell <notifications@github.com> wrote:

--
Evan Anderson <argent@google.com>

[2019-03-19 20:41] samodell commented on #968
Well, if we were going to include that, I would agree, but the in-memory channel provisioner comes with https://github.com/knative/eventing/releases/download/v0.4.0/release.yaml so I don't see any reason to explicitly install it if we don't need to.

If you take out the in-memory channel provisioner file and do the original install style (just one kubectl apply and multiple file names) the install

[2019-03-19 20:51] evankanderson commented on #968
Kubectl will apply the filenames in order, IIRC. The problem is that
in-memory-channel.yaml depends on CRDs defined in the release.yaml file for
eventing.

On Tue, Mar 19, 2019 at 1:41 PM samodell <notifications@github.com> wrote:

--
Evan Anderson <argent@google.com>

[2019-03-19 20:56] samodell commented on #968
But the install still fails even if you pull out the line for explicitly installing in-memory-channel.yaml, and mentions files besides the in-memory channel provisioner:

[code]

[2019-03-19 20:57] samodell commented on #968
If you run the exact same command again, it will succeed, or it will succeed the first time chained together with the &&s and multiple kubectl apply's.

[2019-03-19 23:11] samodell opened #1032 "Create "getting started" checklist for code contributors"
**Describe the change you'd like to see**
Create a "getting started" checklist for code contributors that encourages doc participation.

Right now, the contributing guide is a little intimidating; would be nice to pull together an easy path to contributing, and it's a good opportunity to encourage folks to get started with docs, as well as to check out the good-first-issue tags in the repos.

[2019-03-19 23:17] samodell commented on #1028
Duplicate of #968 , see that issue for a solution. Docs will be updated soon.

[2019-03-19 23:17] #1028 closed

[2019-03-20 16:09] kameshsampath opened #1033 "Add an helloworld Quarkus Java example"
[QuarkusIO](https://quarkus.io) is latest Java .runtime that is best suited to handle java Knative serverless workloads.  It will be nice to have one example using the Quarkus. I have already developed an example https://github.com/redhat-developer-demos/knative-tutorial-greeter/tree/master/java/quarkus, will refactor and add it here.

[2019-03-20 16:24] kameshsampath opened #1034 "Eventing Kubernetes Event Source link is broken"
The Kubernetes eventing source eventing sample  README in https://github.com/knative/eventing-sources/tree/master/samples/kubernetes-event-source shows deprecation notice with new url as https://github.com/knative/docs/tree/master/eventing/samples/kubernetes-event-source

## Expected Behavior
the user will be redirected to https://github.com/knative/docs/tree/master/eventing/samples/kubernetes-eve

[2019-03-20 18:01] adrcunha commented on #67
This is done.

[2019-03-20 18:01] #67 closed

[2019-03-20 18:58] samodell opened #1036 "Add labels to CRDs in install .yaml files to prevent errors during install"
More background info in #968 , but tl;dr: Installs of multiple components sometimes fail due to race conditions happening in the way CRDs are applied. To fix this issue, we can label the CRDs in the install .yaml files so that we can control what is applied first. Goal is to have this in place for v0.5.

- [x] Serving
- [x] Eventing
- [x] Build

[2019-03-20 18:59] samodell commented on #968
Spoke with @evankanderson about this; it is definitely okay to drop the in-memory channel provisioner from the set of install commands, but right now there's not a great way to prevent the errors created by the race-condition issues with CRDs. The && strategy above has the same issue as the current set of install commands; it's possible for it to succeed on the first try, but it also might fail.

[2019-03-20 20:07] samodell opened #1038 "Find and correct links from other repos into Docs repo"
With the file restructure for the Docs website, all links pointing to specific pages/samples/etc. in the Docs repo from other Knative repos are now broken. These need to be found and fixed.

Work commenced after PR #1025 merged in.

- [x] Serving https://github.com/knative/serving/pull/3497
- [x] Build https://github.com/knative/build/pull/586
- [x] Eventing https://github.com/knative/eventing/pul

[2019-03-20 20:08] samodell commented on #1034
Umbrella issue for all external links to Docs repo: #1038

[2019-03-20 20:48] #724 closed

[2019-03-20 20:48] #725 closed

[2019-03-20 20:48] #726 closed

[2019-03-20 20:48] #727 closed

[2019-03-20 20:48] #728 closed

[2019-03-20 20:48] #729 closed

[2019-03-20 20:48] #730 closed

[2019-03-20 20:51] RichieEscarez commented on #1038
Known file or folder changes:

- Add a "[docs](https://github.com/knative/docs/tree/master/docs)" folder in the root of knative/docs. The following content has been moved into the docs folder ([#1007](https://github.com/knative/docs/pull/1007)):
   - serving
   - build
   - eventing
   - reference
   - images
   - install
- Consolidate hello world samples into a "[hello-world](https://github.com/k

[2019-03-21 01:18] RichieEscarez opened #1045 "Samples do not instruct to clone code"
With the content rendered in the website, we are now missing links or instructions about how to download the code source (or even view it).

We need to add a "Before you begin" section, or just ensure that there are instructions about how to clone the code from the repo so that its locally available.

Previously, all the sample readme's are written with the assumption that you are viewing them fro

[2019-03-21 05:26] yonwon01 commented on #983
I got a same problem..

`$ curl -L https://github.com/knative/serving/releases/download/v0.4.0/serving.yaml \   | sed 's/LoadBalancer/NodePort/' \   | kubectl apply --filename -`

`  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   603    0   603    0     0    695      0 --:--:-- --:--:

[2019-03-21 17:21] rgregg commented on #1045
I think the helloworld samples were written with the idea that you'd copy and paste from the doc. The other samples however definitely had that expectation.

[2019-03-21 17:22] rgregg opened #1050 "Proposed navigation for knative.dev/docs"
**Describe the change you'd like to see**
The navigation for knative.dev/docs today is a bit all over the place (since it's based on the structure of the files). It makes it hard to find and consume the information in a logical order.

I'd recommend we order the content so that browsing the website can help you through the user journey for onboarding and using Knative.

I've created a proposed hie

[2019-03-21 18:53] samodell commented on #1036
A little more detail on the plan, from Evan in #docs on Slack:
"We're going to label all our CRDs, and then install the yaml with `kubectl -l resource_definition=true ....` the first time, then the second time without a label constraint."

[2019-03-21 19:48] adrcunha commented on #311
That can be a separate E2E test in the CI flow, and even presubmit if necessary, no problem.

[2019-03-22 04:28] rgregg commented on #1018
We should hold off on doing this change until #1017 is approved/rejected, so we can keep the history.

[2019-03-22 09:55] schneidersteve commented on #983
I have the same problem with minikube (--vm-driver kvm2 --memory 8192 --cpus 4):

$ curl -L https://github.com/knative/serving/releases/download/v0.4.0/serving.yaml | sed 's/LoadBalancer/NodePort/' | kubectl apply --filename -

`namespace/knative-serving created
clusterrole.rbac.authorization.k8s.io/knative-serving-admin created
clusterrole.rbac.authorization.k8s.io/knative-serving-core created
se

[2019-03-22 14:40] sebgoa commented on #983
"Just" re-issue the command again. It is a race due to the CRDs installation.

[2019-03-22 14:40] sebgoa commented on #983
#1036  should fix this for could I believe.

[2019-03-22 14:58] schneidersteve commented on #983
I retested successfully with the following minikube configuration and Knative **0.4.1**

1. minikube with --vm-driver kvm2 --memory 16384 --cpus 4
2. kubectl apply --filename https://github.com/knative/serving/releases/download/v0.4.1/istio-crds.yaml && curl -L https://github.com/knative/serving/releases/download/v0.4.1/istio.yaml | sed 's/LoadBalancer/NodePort/' | kubectl apply --filename -
3. ku

[2019-03-22 15:01] sebgoa commented on #891
First the new URL of the GCP doc is: https://github.com/knative/docs/tree/master/docs/eventing/samples/gcp-pubsub-source

[2019-03-22 15:06] sebgoa commented on #794
@meteatamel can you specify where this manifest is ?

[2019-03-22 15:09] meteatamel commented on #794
I was probably referring to this but it looks like it's fixed now: https://github.com/knative/docs/blob/master/docs/eventing/samples/gcp-pubsub-source/subscriber.yaml

[2019-03-22 15:16] #794 closed

[2019-03-22 16:35] RichieEscarez commented on #1038
https://github.com/knative/eventing-sources/pull/265

[2019-03-22 17:04] #1034 closed

[2019-03-22 23:17] samodell commented on #1050
Related to #986

[2019-03-22 23:27] samodell opened #1066 "Empty issue lists for "help wanted" and "good first issue" labels"
On the Contributing home page, the "How can I help" section links out to bug lists in the various components, but all of the links point to empty lists. We should update the links to also include the "good first issue" label, but that label isn't used much either.

https://www.knative.dev/contributing/#how-can-i-help

## Expected Behavior
New contributors will find appropriately tagged issues that

[2019-03-25 07:45] vincent-pli commented on #817
Run the same command again fix the issue ^_^

[2019-03-25 15:59] samodell commented on #817
Yep, confirmed that this is the same issue as in #968. To fix, rerun the install commands; they should succeed on the second try. We are tracking a fix to this issue in #1036

[2019-03-25 15:59] #817 closed

[2019-03-25 22:50] #297 closed

[2019-03-26 00:16] dgerd opened #1078 "Knative Serving: URLs in TrafficTargets in 0.5"
## What is changing? (Please include as many details as possible.)
The `traffic` block in Service and Route status will have a new field called `url`. For traffic targets that contain a `name` the `url` will display the full endpoint (including scheme) at which the target can be hit.

Example:
[code]

## How will this impact our users?
Instead of forming the URL based on a well known pattern (i.e.

[2019-03-26 16:26] RichieEscarez opened #1084 "Add other medium.com blog content to knative.dev?"
The following blog posts exist on medium.com/knative, do we want them added to our website too (https://www.knative.dev/blog/articles/)?

@mattmoor : https://medium.com/knative/ko-fast-kubernetes-microservice-development-in-go-f94a934a7240

@josephburnett : https://medium.com/knative/knative-v0-3-autoscaling-a-love-story-d6954279a67a

Ive manually copied over the HTML for the last 0.4 release anno

[2019-03-26 17:31] chaodaiG opened #1086 "Consolidate helloworld scala app instruction"
**Describe the change you'd like to see**
All instructions for `Helloworld` example apps under `docs/serving/samples/hello-world` are following a consistent pattern, except for Scala. Please consolidate it using the same pattern, or move it to be under `community/samples/serving`.

[2019-03-26 17:31] chaodaiG commented on #1086
@RichieEscarez fyi

[2019-03-26 17:49] chaodaiG commented on #1086
I think @viktorklang created this sample app

[2019-03-26 18:18] ciaranRoche opened #1088 "Small Error in Auto Scaling Sample"
## Expected Behaviour
Complete the [Auto Scaling Sample](https://github.com/knative/docs/tree/master/docs/serving/samples/autoscale-go) as described in the repo.

## Actual Behavior
 When you get to the step where you send 30 seconds of traffic using the following  command
[code]
An error is thrown, this is due to a previous step where there is a small typo in where you export the `IP_ADDRESS`
Thi

[2019-03-26 19:11] viktorklang commented on #1086
@chaodaiG Could you elaborate as to what changes you would like to be made?

[2019-03-26 19:54] chaodaiG commented on #1086
@viktorklang , a few days ago @RichieEscarez 's PR reorganized samples, and now helloworld Scala sample is under `docs/serving/samples/hello-world`. There are also other helloworld samples for other languages, which follow very similar format, and some implicit naming conventions.
For example:
https://github.com/knative/docs/blob/master/docs/serving/samples/hello-world/helloworld-go/README.md
http

[2019-03-26 20:03] viktorklang commented on #1086
@chaodaiG I don't mind having the sample reformatted, as long as it's still correct. I'm happy to review a PR if you are keen on helping out!

[2019-03-26 20:04] chaodaiG commented on #1086
sounds good

[2019-03-27 16:21] mchmarny commented on #1084
yes, both should be added, exporting now...

[2019-03-27 16:26] mchmarny commented on #1084
@RichieEscarez I've sent you the autoscaling one.
@mattmoor you will have to export the ko one since you published it

[2019-03-27 17:23] RichieEscarez commented on #1084
Received, thanks! Ill wait for the last file to be sent over and get them into the site some time tomorrow.

[2019-03-28 18:05] estrellis opened #1109 "Install on Google Kubernetes Engine(docs/install/Knative-with-GKE.md)"
## Expected Behavior
cut paste of install command from guide failed

## Actual Behavior
bash gcloud container clusters create $CLUSTER_NAME \ --zone=$CLUSTER_ZONE \ --cluster-version=latest \ --machine-type=n1-standard-4 \ --enable-autoscaling --min-nodes=1 --max-nodes=10 \ --enable-autorepair \ --scopes=service-control,service-management,compute-rw,storage-ro,cloud-platform,logging-write,monitori

[2019-03-28 22:10] n3wscott opened #1110 "in 0.5.0, message dumper has been removed."
Eventing Sources has removed `gcr.io/knative-releases/github.com/knative/eventing-sources/cmd/message_dumper`

The new image to use to view events:   `gcr.io/knative-releases/github.com/knative/eventing-sources/cmd/event_display`

[2019-03-29 12:46] abrennan89 commented on #75
@bbrowning @markusthoemmes would you be able to provide this or know who could?

[2019-03-29 16:34] sebgoa commented on #1109
With the formatting I cannot tell what you changed in the command.

[2019-03-29 16:50] sebgoa commented on #1109
it is a rendering issue on the website, not in the github page.

[2019-03-29 16:56] sebgoa commented on #1109
I submitted a fix, but we probably need to have an automatic linter for this.

[2019-03-29 17:16] #1109 closed

[2019-03-29 22:03] udhos opened #1119 "Fix 'verion' mispelling in check-install-version"
**Describe the change you'd like to see**

At the end of this doc:

https://github.com/knative/docs/blob/master/docs/install/check-install-version.md

Find this mispelling for 'version':

[2019-03-29 23:34] samodell commented on #1050
@rgregg -- I have an update on this. The "Information Architecture Task Force" met today to talk about your proposal and to each draft proposals of our own. You can see our [meeting notes here](https://docs.google.com/document/d/1wpEmlTzqtI7_2S5Or2-nbnlJvsFhRvqG_gLUAzgTz5A/), and our proposals were added to the sheet where you drafted yours.

Next, I'm going to consolidate the multiple proposals i

[2019-03-31 12:14] sebgoa commented on #1119
@udhos why don't you submit a PR for this ? You can simply edit the file in the github interface by clicking on the pen icon, make the change and submit the small patch.

[2019-04-01 10:06] abrennan89 commented on #350
@samodell I checked this with @markusthoemmes and he said that "`N+1` instead of `N` in this line should fix it https://github.com/knative/docs/blob/master/docs/serving/samples/autoscale-go/autoscale.go#L35" - I am happy to take this one and fix it along with other changes when I am working on autoscaler docs?

[2019-04-01 10:14] abrennan89 commented on #1088
Hi @ciaranRoche :) are you currently working on this issue? I have found another issue for the autoscaling samples so might make sense to group them if there are a bunch of small changes?

@samodell how do we go about getting issues assigned? I can add PRs but not assign an issue to myself :)

[2019-04-01 10:18] abrennan89 commented on #1045
This step does seem to exist for https://github.com/knative/docs/blob/master/docs/serving/samples/autoscale-go/README.md#prerequisites ?
Can we add a list of specific samples or docs this is missing from?

[2019-04-01 12:03] ciaranRoche commented on #1088
@abrennan89 I am finished working on this issue, just waiting on one more approval is all. I do not mind adding those changes to my PR [1] if you want to leave a comment on the issue you found.

[1] - https://github.com/knative/docs/pull/1094

[2019-04-01 22:26] Harwayne commented on #1021
/close

[2019-04-01 22:26] #1021 closed

[2019-04-02 02:52] samodell commented on #1119
Fixed by #1122

[2019-04-02 02:52] #1119 closed

[2019-04-02 16:36] ZhiminXiang opened #1130 "Need instructions about how to configure mTLS within Knative cluster"
**Describe the change you'd like to see**
As Istio 1.1 was landed within Knative, Istio mTLS should be unblocked. (see [more](https://github.com/knative/serving/issues/539) about the mTLS issue).

So we need instructions about how to configure Istio mTLS within Knative cluster.

[2019-04-02 22:19] samodell opened #1133 "Add a how-to guide for creating brokers and triggers"
**Describe the change you'd like to see**
Add documentation about creating brokers and triggers to the docs repo, or point to that content in the Eventing repo: https://github.com/knative/eventing/tree/master/docs/broker

[2019-04-03 03:38] RichieEscarez opened #1134 "Are the hardcoded in-page license statements needed?"
## What is changing?

When merged, there will be a footer on the whole Knative.dev site that lists the Knative licenses and also links to the License file in the knative/docs repo: https://github.com/knative/website/pull/24

If the footer shows a license on every page in the website and there exists a License file in the docs repo, do we need the hardcoded license footers in each page in the docs

[2019-04-03 15:06] #401 closed

[2019-04-03 15:28] samodell opened #1136 "Adding how to cherry-pick info to Docs Contributor guide"
**Describe the change you'd like to see**
Add info about how to cherry-pick PRs back into other releases. Include info on where to find the merged commit number (bottom of the merged PR).

[2019-04-03 18:51] RichieEscarez opened #1138 "Create new v0.5 docs release branch and publish to knative.dev"
After v0.5 docs projects are complete and doc updates have merged:

* Obtain commit number to use for creating new `release-0.5` branch
* Add new '0.5' version to the docs website
* Publish 0.5 to knative.com (switch /docs to 0.5 and move 0.4 to v04.-docs)

Code releases (4/2):
https://github.com/knative/build/releases
https://github.com/knative/eventing/releases
https://github.com/knative/eventin

[2019-04-03 19:18] RichieEscarez opened #1139 "Run API ref docs build for 0.5"
Generate new version of the 0.5 API reference docs

* Obtain commit numbers to build API for each Knative component
* Use instructions here https://github.com/knative/docs/tree/master/docs/reference

[2019-04-03 19:19] RichieEscarez commented on #1138
Required: https://github.com/knative/docs/issues/1139

[2019-04-03 20:53] RichieEscarez commented on #1139
Related: https://github.com/knative/docs/pull/1120

[2019-04-05 16:18] samodell commented on #1138
Also required: #994

[2019-04-05 17:22] bbrowning opened #1148 "Istio installation instructions need updating for Serving 0.6"
## What is changing? (Please include as many details as possible.)
The way Istio CustomResourceDefinitions are installed is changing in Knative Serving 0.6 that brings in Istio 1.1. Previously, users could just `kubectl apply -f` the istio CRDs and the other bits of Istio. Now, they'll need to apply the CRD yaml, wait until the Kubernetes job that spins up finishes, and then apply the other Istio

[2019-04-05 17:22] bbrowning commented on #1148
/kind install

[2019-04-05 17:47] tcnghia commented on #1148
One downside of this new installation is that we can no longer append the CRD installation into the first part of the main manifest.  The kubectl -> init pod -> crd sequence is slower than before, and we will be guaranteed to hit the race condition.

[2019-04-05 17:57] samodell commented on #299
Related: https://github.com/knative/serving/issues/3670

[2019-04-05 18:08] mattmoor commented on #299
Can we prioritize this for 0.6?

[2019-04-05 21:35] samodell commented on #1020
Closed by #1125

/close

[2019-04-05 21:35] #1020 closed

[2019-04-05 22:33] #1078 closed

[2019-04-05 23:12] #994 closed

[2019-04-05 23:34] #1110 closed

[2019-04-06 01:49] RichieEscarez opened #1150 "Scrollbar in codeblock renders over and covers the content"
## Expected Behavior

View and scroll the length of the code that is rendered in codeblock.

## Actual Behavior

This stackoverflow topic articulates the issue well:
https://meta.stackoverflow.com/questions/326473/one-line-codeblock-scrollbars-wont-disappear/326476#326476

## Steps to Reproduce the Problem

1. On MacOS
1. Open Chrome
1. View a topic with codeblocks, for example:
https://www.knativ

[2019-04-06 07:58] #1139 closed

[2019-04-08 16:01] #1150 closed

[2019-04-08 16:05] #1138 closed

[2019-04-09 22:36] RichieEscarez commented on #1084
Ive manually copied in the remaining posts. PR is awaiting review.

[2019-04-10 08:15] ciaranRoche commented on #1088
This issue can be closed, now that https://github.com/knative/docs/pull/1094 has been merged.

[2019-04-10 08:15] #1088 closed

[2019-04-10 15:15] sebgoa commented on #1148
This is definitely less than ideal. Was the istio team informed ?

[2019-04-10 16:09] #891 closed

[2019-04-10 16:46] #1084 closed

[2019-04-10 18:11] rakhbari opened #1158 "Knative main documentation site appears to be down"
## Expected Behavior

Browsing to [](http://www.knative.dev/docs) should render the documentation page.

## Actual Behavior

Page does not render. Error message is displayed: We can’t connect to the server at www.knative.dev

## Steps to Reproduce the Problem

1. Open browser
2. Attempt to navigate to http://www.knative.dev/docs
3. See error

## Additional Info
`wget` console output if that helps:

[2019-04-10 18:19] samodell commented on #1158
Hm, @rakhbari , are you still seeing this behavior? The site loads for me.

[2019-04-10 18:26] samodell commented on #1158
@RichieEscarez  mentioned this might have something to do with attempting to navigate to the http version of the site instead of the https version. For me, it redirects automatically, but that may not be the case for you depending on your browser. Try navigating to https://knative.dev/docs

[2019-04-10 18:38] rakhbari commented on #1158
For me it also first redirects to [https://www.knative.dev/docs](), but then it fails to render due to the error in my original post.

Same behavior for [https://knative.dev/docs]()

[code]

[2019-04-10 18:45] RichieEscarez commented on #1158
Sorry, we are not seeing that error. Do you get the same when you include the www?

Here is what i see:
[code]

[2019-04-10 18:47] RichieEscarez commented on #1158
This suggests it might have to do with your wget version?

https://stackoverflow.com/questions/28757232/unable-to-establish-ssl-connection-upon-wget-on-ubuntu-14-04-lts

[2019-04-10 19:44] rakhbari commented on #1158
Yes, the `wget` that failed was on an old server of mine still running CentOS 5. I tried the same thing on another sever of mine running latest/greatest Ubuntu 18.10 with a fresh `apt update;apt upgrade`. On that the `wget` to https://www.knative.dev/docs worked.

But still, none of our desktop PCs at work, whether Windows 10 or Mac can render this site. Tried FireFox and Chrome on both platforms.

[2019-04-10 19:55] RichieEscarez commented on #1158
The site is hosted on Netlfiy and their server status page indicates no issues: https://www.netlifystatus.com/

This is the default subdomain: https://knative.netlify.com/
Can you try to hit that URL to see if you get the same error?

[2019-04-10 20:09] rakhbari commented on #1158
Yes, the Netlify site renders just fine. I have a feeling this is an issue with our DNS at work. Hint being the error in the page: DNS_PROBE_FINISHED_NXDOMAIN

https://kinsta.com/knowledgebase/dns_probe_finished_nxdomain/#dns-domain

When I get home tonight I'm going to try to browse to https://www.knative.dev/docs from my home desktop machines and see if that works. If it does, then I'll have pro

[2019-04-10 20:13] RichieEscarez commented on #1158
No worries! I just want to make sure that its not anything else.

[2019-04-11 20:33] samodell commented on #1158
We've had no other reports of this, so closing for now.

[2019-04-11 20:33] #1158 closed

[2019-04-11 20:34] #970 closed

[2019-04-11 20:50] RichieEscarez opened #1166 "Add v0.5 release blog post to knative.dev/blogs"
@mchmarny can you please export and send me your latest post so that i can add it to the site:
https://medium.com/knative/announcing-knative-v0-5-release-cfe646ca8e30

[2019-04-12 17:32] eaydogan commented on #1158
<img width="1241" alt="Screen Shot 2019-04-12 at 20 31 06" src="https://user-images.githubusercontent.com/1244956/56055400-0eeb7180-5d62-11e9-84aa-999d7b0ba0e4.png">

[2019-04-12 17:40] RichieEscarez commented on #1158
Context please @eaydogan

Did you try the items above (ie netlify subdomain)? Without more info its impossible to help since we are not seeing these issues ourselves.

Can you try clicking Advanced to see if the "Proceed anyway" link works?

Here is more info that might help resolve why you get that screen: https://www.google.com/search?q=your+connection+is+not+private+chrome

[2019-04-12 17:46] eaydogan commented on #1158
@RichieEscarez sorry for false alarm.

It was related active pow.cx

I removed old dev extension from /etc/resolver

now it's ok.

Again, sorry for the false alarm.

[2019-04-12 17:46] rakhbari commented on #1158
@eaydogan, when I ran into my original issue (which has turned out to be problems with DNS servers at my work) I first checked with an online SSL checker and the SSL certs for www.knative.dev appear to be flawless. No issues that I can see.

https://www.sslshopper.com/ssl-checker.html#hostname=www.knative.dev

[2019-04-13 19:51] abbi-gaurav opened #1174 "Instructions to install eventing v0.5 release are missing"
## Expected Behavior
It seems the installation instructions for eventing are missing.
Referring to this link, I cannot find instructions to install eventing for v0.5.
https://github.com/knative/docs/tree/master/docs/eventing#installation

## Actual Behavior
There are instructions to install eventing v0.5.0

## Steps to Reproduce the Problem
Refer to the link https://github.com/knative/docs/tree/ma

[2019-04-13 19:57] Abd4llA commented on #1174
seems to be available on [GKE](https://github.com/knative/docs/blob/master/docs/install/Knative-with-GKE.md) installation guide, but not in [minikube](https://github.com/knative/docs/blob/master/docs/install/Knative-with-Minikube.md). So we need to update the minikube doc

[2019-04-14 00:32] samodell commented on #1174
You can find instructions for install at https://www.knative.dev/docs/install/
You can refer to the "on any cluster" install guide: https://www.knative.dev/docs/install/knative-with-any-k8s/

Or you can always use the custom install page to pick and choose what set of components to install:
https://www.knative.dev/docs/install/knative-custom-install/

The instructions for installing eventing were

[2019-04-14 00:32] #1174 closed

[2019-04-14 04:21] vaikas-google opened #1175 "Links point to knative.slack.com instead of slack.knative.dev"
## Expected Behavior
Links point to correct Slack channel that allows signups for new users.

## Actual Behavior
They point to knative.slack.com which does not allow new users outside of a few organizations to sign up.

## Steps to Reproduce the Problem

1. Look at the docs
1. Click on them from a non logged in browser tab
1. Get redirected to a sign up page that restricts who can sign up.

## Add

[2019-04-14 07:19] ledboot opened #1177 "Knative-custom-install.md"
In [Knative-custom-install.md](https://github.com/knative/docs/blob/master/docs/install/Knative-custom-install.md) file , I found a minor mistakes.
In section [install-details-and-options](https://github.com/knative/docs/blob/master/docs/install/Knative-custom-install.md#install-details-and-options) the name of `release.yaml` should be written as `build.yaml`

[2019-04-15 16:19] #1175 closed

[2019-04-15 16:31] WLun001 commented on #498
Any websocket sample?

[2019-04-15 16:46] #1177 closed

[2019-04-15 22:42] samodell commented on #1134
@rgregg Thoughts on this?

[2019-04-16 03:44] rgregg commented on #1134
We should definitely not have the license repeated twice on every page. Besides eliminating the need for repeating it on every markdown file in the docs repo (an already solved problem) what's pushing for us to add it to the template?

Are there other pages (say, like the governance pages) where the license text does include another license source that was referenced?

[2019-04-16 09:21] wangXing2 commented on #498
I don't know yet.

[2019-04-16 09:22] wangXing2 commented on #498
I don't know yet.

[2019-04-16 17:04] RichieEscarez commented on #1134
When i created the first Kubernetes docs site, I remember the legal team stating that that we must add a license to all pages. This is what they do: https://kubernetes.io/#mc_embed_signup_scroll

[2019-04-17 16:58] matzew opened #1189 "Eventing install does not talk about installing eventing"
Looking at v0.4.x:
https://github.com/knative/docs/tree/v0.4.x/docs/eventing#installation

I see actual install scripts for the eventing bits, like:

[code]

Now, the v0.5.x (and master) completely lacks that section:
https://github.com/knative/docs/tree/v0.5.x/docs/eventing#installation

it just says that eventing requires serving/istio... and no `kubectl` for the actual install

[2019-04-17 16:58] matzew commented on #1189
/assign @samodell

[2019-04-17 17:07] samodell commented on #1189
Dupe of #1174

@matzew  So this is WAI -- I pulled the install commands off that page since they duplicate the information in the Knative install guides: https://www.knative.dev/docs/install/index.html

That "Installation" header on the Eventing page now links to the install guides, so my hope is that it's easy to find the commands after landing there. The best place to find a list of the current

[2019-04-17 17:07] #1189 closed

[2019-04-17 17:12] matzew commented on #1174
I do find this confusing, tbh

[2019-04-17 17:28] samodell commented on #1174
@matzew  Especially since you're not the first person to find issue with this, I'd like to understand better.

So, the commands that were there just had the `kubectl apply` piece of it; they didn't touch on cluster setup or Istio install + config. Are you often installing (or re-installing) on a cluster that's already set up?

And when you found the commands missing, did you follow the link there

[2019-04-17 17:42] samodell commented on #1174
Also, I know we need to update the minikube guide so it also has the info for installing Build and Eventing -- do either of you (@matzew  or @abbi-gaurav ) have an opinion on switching from the current type of command that page uses for install:
[code]

to just the standard `kubectl apply --filename https://github.com/knative/serving/releases/download/v0.5.0/serving.yaml` commands that most of the

[2019-04-17 18:00] samodell opened #1190 "Update minikube install guide to include eventing + build"
Tracking for an issue brought up in #1174

The minikube install guide should have comprehensive install options.

[2019-04-17 18:07] samodell opened #1191 "Add "updating your Knative installation" guide to install section"
We need a guide to cover the easiest way to upgrade from one version of Knative to another.

[2019-04-17 18:23] samodell opened #1192 "Add "installing from a nightly release" guide to install section"
**Describe the change you'd like to see**
The install section should include information about installing from the nightly component releases, not just the latest numbered release

[2019-04-17 18:36] mhamwala commented on #1045
Happy to work on this?

[2019-04-17 19:34] samodell commented on #1045
That'd be great, @mhamwala !

[2019-04-17 19:48] samodell opened #1194 "Update install guides to use CRD labels added in v0.5"
**Describe the change you'd like to see**
Update install guides to use label installs added in #1036

[2019-04-17 20:06] rgregg commented on #1018
Now that #1017 is done, we can proceed.

[2019-04-18 01:49] RichieEscarez commented on #1018
@rgregg is the focus of this new and separate repo solely focused on community governance?
Or, is this a repository that can also contain other non-versioned content, for example Blog posts?
/cc @mchmarny

[2019-04-18 04:01] rgregg commented on #1018
I think we'd want to have a repo just for the community/governance stuff so that we can lock it down to only the steering committee members who have approval access.

For other non-versioned content, like the blog, we'll need to find another place for it.

[2019-04-18 16:30] mhamwala opened #1202 "numbers not rendering on the website in some instances"
## Expected Behavior
1. first item
2. second item
3. third item

## Actual Behavior
`1.` first item
`1.` second item
`1.` third item

## Steps to Reproduce the Problem
Some numbered bullet points are not rendering on the website but are fine in the github docs, this is the first instance I have seen of this happening, take a look at this Hello world sample app - https://knative.dev/docs/serving/sa

[2019-04-18 16:38] mhamwala commented on #1202
I think what might be happening is that it renders every block after a ```shell block like a new list hence the recurring `1`'s, I cloud be wrong.

[2019-04-18 16:45] samodell commented on #1202
Thank you for looking into this!

@RichieEscarez  some more website rendering issues.

[2019-04-18 18:20] mhamwala commented on #1045
Going to submit separate PR's for each component just to make it easier to review, I believe these are all the samples in Serving that need the extra clone instruction step ^

[2019-04-18 19:59] #1190 closed

[2019-04-18 22:24] saturnism opened #1204 "Remove ENV PORT from Dockerfile"
## Expected Behavior
`PORT` environmental variable and its default value should not be specified in Dockerfiles. Remove this from existing Dockerfile examples

## Actual Behavior
`PORT` environmental variables are specified in Dockerfiles due to past historical reasons.

[2019-04-18 22:36] RichieEscarez opened #1205 "Edit for Hello World Java w/ Spark"
To help move the sample into users hands, #1155 was merged but needs a follow up edit.

[2019-04-18 22:38] #832 closed

[2019-04-18 22:44] hpandeycodeit commented on #1204
I will fix this.

[2019-04-19 14:22] aslom commented on #422
The link in this issue does not work - it should be with "contributing" not "community"
https://github.com/knative/docs/blob/master/contributing/WORKING-GROUPS.md
https://knative.dev/contributing/working-groups/
https://github.com/knative/docs/edit/master/contributing/WORKING-GROUPS.md

[2019-04-19 14:27] ImJasonH commented on #422
Sorry I've missed so many of these pings! I don't have permission to edit the Knative calendar, someone else will have to do it, or add me to the ACL.

[2019-04-19 16:10] vaikas-google commented on #422
@RichieEscarez is the Eventing still broken? I tried to bring it up and it seemed right to me. If not, @mogar1980 could you modify the event because it's owned by you.

[2019-04-19 16:48] mogar1980 commented on #422
I think Eventing is working. I see both the recurring WG and one-off meetings that have been added in the last few months

[2019-04-19 17:00] ZhiminXiang opened #1210 "The part of configuring Istio Gateway in the doc `using-an-ssl-cert.md` is stale"
**Describe the change you'd like to see**
In Istio 1.1, it supports dynamically adding TLS certificates into Istio Gateway to terminate TLS connection. See [here](https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/). While in our current [doc](https://github.com/knative/docs/blob/master/docs/serving/using-an-ssl-cert.md#configure-the-knative-shared-gateway-to-use-the-new-secret), it

[2019-04-19 17:02] RichieEscarez commented on #422
Hi @ImJasonH and @mattmoor, the only pending item here is to fix the link to the Build calendar.

Issues:
1. Currently Build opens a one-off copy: https://calendar.google.com/event?action=TEMPLATE&tmeid=MTBkb3MwYnVrbDd0djE0a2kzcmpmbjZndm9fMjAxODA5MTJUMTcwMDAwWiBqYXNvbmhhbGxAZ29vZ2xlLmNvbQ&tmsrc=jasonhall%40google.com&scp=ALL
1. The reoccurring build meeting are not listed in the team calendar

Act

[2019-04-19 17:05] RichieEscarez commented on #422
@rgregg or @argent who has ACL privileges to Jason to the team calendar?

[2019-04-19 19:00] RichieEscarez commented on #1018
This should be assigned to a member of Knative Admin. When the new repo is created Im happy to jump in and handle the file movement as well as update the build scripts.

[2019-04-19 21:15] RichieEscarez opened #1213 "Landing pages for all samples"
Create landing pages for all samples:
- cross link to Knative samples from Community samples
- cross link to Community samples from Knative samples
- new top level landing page (top level menu item in left nav tree - "Samples") to link all Knative and Community samples (plus section for linking to external Knative samples)
- ensure all existing samples are surfaced (listed in the samples landing p

[2019-04-19 22:12] mhamwala opened #1215 "Create "help wanted" label for knative docs repo"
**Describe the change you'd like to see**
The knative/docs repo doesn't appear to have a "help wanted" label, we should have and be using this if we are linking to it here - https://github.com/knative/docs/blob/master/contributing/README.md#how-can-i-help and wanting new contributors to help out

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-04-19 23:21] RichieEscarez opened #1216 "Installing the Knative Build component(docs/build/installing-build-component.md)"
Some of the new install steps are not mentioned on the component specific instructions, for example [clusterroles](https://knative.dev/docs/install/knative-with-any-k8s/)

[2019-04-19 23:30] RichieEscarez opened #1217 "Performing a Custom Knative Installation(docs/install/Knative-custom-install.md)"
Indentation is not displaying correctly nor are the lists.

[2019-04-20 12:05] mhamwala commented on #1066
Sorry @samodell just seen this issue, I created a PR yesterday to fix this issue: https://github.com/knative/docs/pull/1214. I suggest that we should clearly d

[2019-04-20 12:27] mhamwala opened #1220 "Clearly define "help wanted" label"
## What is changing? (Please include as many details as possible.)
I'm unsure to what the difference is between the "help wanted" and "good first issue" labels are. on the website, we link to issues with the label "help wanted" but I have seen issues that are not "good first issues" with the "help wanted" label on them. I suggest that we link to issues that are "good first issue" on the website an

[2019-04-21 18:01] sebgoa commented on #1217
this page here: https://github.com/knative/docs/blob/master/docs/install/Knative-custom-install.md

renders well on github

[2019-04-21 18:02] sebgoa commented on #1204
I think this applies to all Dockerfiles, not just the Java example

[2019-04-22 06:25] SataQiu opened #1222 "Is there any plan to implement knative i18n ?"
**Describe the change you'd like to see**
Is there any plan to implement knative i18n?
At present, our website `https://knative.dev` only supports English.
To facilitate internationalization, we should consider supporting more languages.
I am very interested in implementing knative Chinese localization.
If you have any plans, please let me know.
I'm happy to make an effort in this area!

**Additio

[2019-04-22 17:23] samodell commented on #1222
Related to #716

Hi @SataQiu , and thanks for your interest in translating Knative into Chinese! So far, we don't have a firm plan for how to kick off i18n for Knative. As the project is still in its pre-beta phase, there will continue to be a great deal of change between now and the 1.0 version. Once we reach the beta phase, and in theory some more stability in the project, that will likely be th

[2019-04-22 18:42] samodell commented on #1066
@mhamwala  I think it's nice to have both -- you're right that everything labled with "good first issue" indicates that help is wanted, but not everything labled with "help wanted" (when we start using the label) will be a good first issue. In theory, something labled with "good first issue" should have the necessary change very clearly documented, and it should be something that someone with litt

[2019-04-22 18:44] samodell commented on #1220
Main difference:

Something labeled with "help wanted" might be too complicated for a first-time contributor. It might be ambiguous, or otherwise difficult.

Something labeled with "good first issue" should be a very clearly defined problem, with clear information on what is needed to complete the task. "Good first issue"s should be very accessible to first-time contributors.

[2019-04-22 18:45] samodell commented on #1194
Closed by #1195

[2019-04-22 18:45] #1194 closed

[2019-04-22 20:27] RichieEscarez commented on #1217
Yes, we have noticed that the markdown processor is very picky on knative.dev. Here is an example from that page:

![image](https://user-images.githubusercontent.com/11762685/56527309-50b6ad80-6502-11e9-9e15-850cd6e0e25a.png)

[2019-04-22 22:49] mhamwala commented on #1215
Closing as @samodell created kind/help-wanted label

[2019-04-22 22:49] #1215 closed

[2019-04-22 22:54] mhamwala commented on #1066
Ahh okay i understand! Thanks for clearing that up. We could possibly rename that "kind/help-wanted" label to just "help wanted" so that it's the same as the other Knative folders? I will update my PR tomorrow!

Link: https://github.com/knative/docs/issues/1215

[2019-04-23 08:28] saturnism opened #1226 "Change Spring Boot example to use Webflux"
**Describe the change you'd like to see**
Current Spring Boot example uses tomcat behind the scenes. To lower the footprint and improve startup speed, use webflux server instead.

[2019-04-23 09:29] arunk-s opened #1227 "Activator pod failing with `CrashLoopBackOff` on GKE"
## Expected Behavior
All pods in ns `knative-serving` on GKE are running.

## Actual Behavior
`activator-service` doesn't have minimum availability.
[code]
Describe on pod shows liveness and readiness probe is failing.
[code]
## Steps to Reproduce the Problem

1. Install knative on existing cluster with Istio installation (`version > 1.1` ) already available
[code]
2. `activator` service on `knati

[2019-04-23 15:43] dprotaso commented on #422
the real argent @evankanderson

[2019-04-23 16:37] rgregg commented on #1018
Yep. I've proposed this to the KSC, but we're waiting until we have all the vacant seats filled before we vote on anything new.

[2019-04-23 17:45] #1220 closed

[2019-04-23 21:22] mhamwala commented on #1066
I believe this can be closed @samodell

[2019-04-23 21:25] #1066 closed

[2019-04-23 21:36] mhamwala commented on #1136
This can be closed? @samodell @RichieEscarez

[2019-04-23 21:37] evankanderson commented on #422
For some reason, Jason was the only WG lead (AFAICT) that had not been invited to the shared calendar. Fixed.

[2019-04-23 21:44] mhamwala commented on #983
@juhoffma @schneidersteve did you manage to get past this error?

[2019-04-23 21:58] mhamwala commented on #348
This can be closed @samodell
fixes: #958

[2019-04-23 22:01] samodell commented on #348
Thanks! @mhamwala

[2019-04-23 22:02] #348 closed

[2019-04-24 14:30] modassarrana opened #1234 "Cannot apply helloworl-go service . Getting Error "admission webhook webhook.serving.knative.dev denied the request: mutation failed: unknown field template""
<I am trying to bring up hello world service on knative , but getting error : admission webhook webhook.serving.knative.dev denied the request: mutation failed: unknown field template.

Let me give you a background of stuff performed

1>	Brought up kubernetes cluster of 1 master & 2 slave nodes using kubespray
2>	Kubectl version is 1.11.3
3>	Install istio & knative using url https://github.com/kna

[2019-04-24 17:14] n3wscott opened #1235 "Heads up: Changes in Knative Eventing Sources"
## What is changing? (Please include as many details as possible.)

1. We are going to rename knative/eventing-sources repo to knative/eventing-contrib
2. We are moving underlying source types to knative/eventing
    - ContainerSource
    - KubernetesSource
    - CronJobSource
3. We will move channel impls that are currently in knative/contrib to knative-contrib

## How will this impact our users?

[2019-04-24 17:23] RichieEscarez commented on #1234
Thanks for opening this issue @modassarrana!
You should also consider pinging the Slack channel for help at https://knative.slack.com/

[2019-04-24 17:23] #422 closed

[2019-04-24 17:36] n3wscott commented on #1235
Moving CronJobSource: https://github.com/knative/eventing/pull/1092

[2019-04-24 18:32] RichieEscarez commented on #1234
@modassarrana Im not sure if there is something here that might help (since I dont see the exact error message you recieved) but we have a Serving debugging topic here: https://knative.dev/docs/serving/debugging-application-issues/

/cc @grayside

[2019-04-24 18:49] mhamwala commented on #1234
@modassarrana could you put 3 backticks ``` before and after code blocks to make it easier for us to see whats going on?

[2019-04-24 19:48] #1213 closed

[2019-04-25 07:47] aliok opened #1239 "How to build the docs website (knative.dev) locally?"
**Describe the change you'd like to see**
Instructions on how to build the docs locally.

**Additional context**
I noticed some formatting errors and wanted to debug them but I can't debug without being able to build the docs locally.

[2019-04-25 08:11] modassarrana commented on #1234
Hi ,

I have used the sample helloworld-go service.yaml file in my knative environment. Tried to bring up the service using it. PLease find the sample service.yaml file code  and exact error :
[code]

Error
-----
Error from server (InternalError): error when creating "service.yaml": Internal error occurred: admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: cannot

[2019-04-25 08:23] modassarrana commented on #1234
Hi Richie,

Can you add me in the slack , so that I can chat & get my issues resolved.

Thanks,
Modassar Rana

From: RichieEscarez <notifications@github.com>
Sent: Thursday, April 25, 2019 3:23 AM
To: knative/docs <docs@noreply.github.com>
Cc: Modassar Rana <modassar.rana@infosys.com>; Mention <mention@noreply.github.com>
Subject: Re: [knative/docs] Cannot apply helloworl-go service . Getting Erro

[2019-04-25 18:21] ahmetb opened #1240 "Commands/code snippets for samples in knative.dev are prefixed with spaces"
e.g. https://knative.dev/docs/serving/samples/hello-world/helloworld-go/index.html

this won't work because:

- yaml doesn't tolerate indentation errors like this
- bash commands prefixed with spaces aren't saved in bash history so people can't re-run them later again.

![image](https://user-images.githubusercontent.com/159209/56758689-20624f80-674c-11e9-8882-1db537ba00dc.png)

[2019-04-25 21:05] n3wscott commented on #1235
Moving ContainerSource:

- Adding - knative/eventing#1099
- Deleting - knative/eventing-sources#371

[2019-04-25 21:44] mhamwala commented on #1239
@aliok It's built into some code editors, so if your using (assuming your using a mac)
`Atom`:
Just open the Markdown file and hit Ctrl+Shift+M to toggle the Markdown preview panel next to it. It handles HTML and images also.
`vscode`:
I think its Ctrl+Shift+P then hit Markdown: Open Preview.
if your not using one of these editors i suggest a quick google and hopefully your editor supports this :)

[2019-04-25 21:48] samodell commented on #1239
Hey @aliok  -- do you mean building the docs to see how they'll appear on the knative.dev website? If that's the case, @RichieEscarez  can help with that.

It's true that the markdown rendering on the website isn't perfectly in sync with GitHub's own markdown rendering; I have seen some formatting issues. We'd love for you to look into those.

[2019-04-25 21:51] samodell commented on #1227
hi @arunk-s  -- for issues with Knative and its behavior, please open the issue in the most relevant component repo -- in this case, sounds like https://github.com/knative/serving

You might also try to get trouble-shooting help on the Slack channel, at https://slack.knative.dev

[2019-04-25 21:51] #1227 closed

[2019-04-25 21:51] aliok commented on #1239
@samodell  yes, exactly. Some Markdown content is rendered strange and I wanted to debug them locally. But I don't know what kind of set up is used here.

[2019-04-25 21:52] samodell commented on #1166
@mchmarny  Ping on this -- can you export the post and send it to Richie, so he can upload it to knative.dev?

[2019-04-25 22:17] aliok commented on #1239
Ok, now I found it. https://github.com/knative/website is building it.

I will send a PR to note this in the docs repo.

[2019-04-25 22:43] mhamwala commented on #1202
I started looking into this, a potential fix could be adding four spaces to indent content between bullet points but I haven't figured out how to confirm that this works by viewing the rendered website.

having the same issue as: https://github.com/knative/docs/issues/1239

[2019-04-26 00:14] modassarrana commented on #1234
knative v0.5 upports istio 0.6 , but istio have already comeup with release 1.1 . Is there any plan to include istio latest version in knative.

[2019-04-26 08:06] markusthoemmes commented on #1234
@modassarrana Knative is tested with Istio 1.1 at HEAD. AFAIK 0.5 was tested with 1.0.7.

[2019-04-26 08:34] modassarrana commented on #1234
Knative Install doc still uses 0.5 yaml file for its component . Can installation doc be updated with master .

At present , there is no request limit in Knative serving.  After that max limit , it should either throw a message or should not accept any outside service request.

Example -> I have ping function as a service in knative environment. Now tester wants to test this ping service from outs

[2019-04-26 09:47] arunk-s commented on #1227
Ah. Apologies @samodell ! Thanks for the correction :)

[2019-04-26 18:19] n3wscott commented on #1235
Moving ApiServer Source:

- Adding - https://github.com/knative/eventing/pull/1108

[2019-04-28 14:35] mattmoor commented on #1234
@modassarrana The samples at HEAD reflect Knative at HEAD.  In 0.6 (not released) we are changing the preferred resource layout to what's currently in the samples.  These samples will work against a nightly build, but not against the latest release (0.5).

For samples that work against 0.5, see the 0.5 branch off of this repo.

[2019-04-28 14:40] mattmoor opened #1244 "Istio install page"
In 0.6 we will stop shipping Istio (what we use is customized for development in ways that are unsuitable for production).

Vendors with hosted Istio offerings should prefer those in their docs (e.g. [GKE docs here](https://github.com/knative/docs/pull/1243)), but we should have a page that describes:
1. Where to find Istio's installation guide
2. How to customize Istio for use with Knative.

Assi

[2019-04-29 21:32] #1136 closed

[2019-05-01 08:39] sebgoa opened #1255 "Documentation to buid/run the website locally"
Going through the contributions guidelnes nowhere do I see the commands to deploy the website locally so that folks can debug rendering issues.

[2019-05-01 08:40] sebgoa commented on #1255
closing as dupe of #1239

[2019-05-01 08:40] #1255 closed

[2019-05-01 17:05] amygdala opened #1259 "link to repo code samples from docs pages"
for pages like this:
https://knative.dev/docs/eventing/samples/kubernetes-event-source/

I was surprised that they don't contain links to the code (e.g. the mentioned yaml files).  After some poking around, I found the accompanying code for the above page here: https://github.com/knative/docs/tree/master/docs/eventing/samples/kubernetes-event-source
but we shouldn't make people search like that.

[2019-05-01 20:03] amygdala opened #1262 "secrets setup in pubsub eventing example needs more detail"
In this readme:
https://github.com/knative/docs/blob/master/docs/eventing/samples/gcp-pubsub-source/README.md#prerequisites
it says:

[code]
This needs more detail.  It's apparently not always created. How do you tell if you need to do this?  (and does anything non-optimal happen if you overwrite?)

In my case, it turns out I *did* need to install this secret. I figured this out because the `gcppu

[2019-05-01 21:59] amygdala opened #1264 "bad links/missing files in pubsub eventing example"
The 'verify' section of https://github.com/knative/docs/tree/release-0.5/docs/eventing/samples/gcp-pubsub-source#verify as well as https://github.com/knative/docs/tree/master/docs/eventing/samples/gcp-pubsub-source has some issues.

In the 0.5 version, the readme says:

However, the link is bad: there's no Subscriber section.

In the master version, the text is:

However, there's no subscriber.yam

[2019-05-01 23:22] amygdala opened #1265 "pubsub eventing example: 'event-display' pod is crashing"
using knative version 0.5.

I see the following in the 'event-display' pod logs:

`{"level":"info","ts":"2019-05-01T23:03:47.272Z","logger":"queueproxy","caller":"queue/main.go:314","msg":"Received TERM signal, attempting to gracefully shutdown servers.","knative.dev/key":"default/event-display-8nlzf","knative.dev/pod":"event-display-8nlzf-deployment-9f697b997-qnfs7"}`

then:
[code]

As far as I k

[2019-05-02 07:42] rashiga opened #1266 "event delivery failed"
All the pods in the knative namespaces are up and running.The pods for the Kuberneteseventsource and trigger is also up and running and the Broker is also configured. The kuberneteseventsource pod is showing the logs like
{"level":"info","ts":1556768160.3738706,"logger":"fallback","caller":"kubernetesevents/adapter.go:113","msg":"Event delivery failed: error sending cloudevent: Status[400 Bad Requ

[2019-05-02 16:36] amygdala commented on #1265
update: While the sample is not working for me— it doesn't seem to pick up on or process the pubsub messages— Ahmet was wondering if this in particular might be normal scale-to-zero behaviour.  In which case this is probably not the source of the sample's problems (and perhaps the issue title needs to change).  If I learn anything more I'll update.

[2019-05-02 17:40] RichieEscarez commented on #1239
Status: I will open a PR for this some time tomorrow (sorry, our team has been out of office the first part of the week at a workshop so playing catch up now).

@sebgoa @aliok
For the interim, the local build steps are generally:

1. Install and setup Hugo local server: https://gohugo.io/getting-started/quick-start/
2. Meet Docsy requirements: https://github.com/google/docsy-example/blob/master/co

[2019-05-02 17:57] amygdala commented on #1265
Update 2: figured it out.  For the record (in case anyone hits the same problem), the issue was that I'd changed the default namespace partway through the installation.  the brokers were not in the same namespace as the gcppubsubsource, which caused probs.

[2019-05-02 17:57] #1265 closed

[2019-05-02 22:39] RichieEscarez commented on #1134
@rgregg I just noticed that other sites also include a link to their "Privacy Policy". Which does Knative use?

For example, kubflow.io use/link to the Google Privacy Policy and kubernetes.io uses the Linux Foundation Privacy Policy.

[2019-05-03 06:48] rhuss opened #1269 "Published sample docs references unreleased code"
## Expected Behavior

The docs for samples published at knative.dev references code in the Knative repositories which are not yet published and hence is likely to break when the CRD schema changed and the sample is applied to a released version of Knative. This is currently the case as the latest 0.5.x Knative serving release has a different schema structure than expected by Knative on the master

[2019-05-03 21:07] RichieEscarez commented on #299
Related: #1148

[2019-05-03 21:26] RichieEscarez opened #1271 "Document advanced trigger filter for eventing"
## What is changing?

[Advanced trigger filter proposal](https://github.com/knative/eventing/pull/1047)

## In what release will this take happen (to the best of your knowledge)?
0.6

From https://github.com/knative/eventing/issues/930:
Problem
We need more advanced filtering mechanisms than just exact match on Cloud Event types and sources.

Persona:
Event Consumer

Exit Criteria
Being able to co

[2019-05-06 08:25] sebgoa commented on #1264
@amygdala can you tell us if the example worked for you or not ? Your last comment made it sound like it did not work.

if it did not, can you open an other issue.

I submitted a fix for your first issue in #1273

[2019-05-06 08:28] sebgoa commented on #1259
this is related to #1045

[2019-05-06 08:32] sebgoa commented on #1244
Hum, please provide detailed instructions not just a redirect.

Users should not have to be bounced to another project and have to read the documentation of another project to get a working knative.

I understand the production setup argument, but for first installs/testing, there should be as few `kubectl apply` as possible and as few doc hunting as possible.

[2019-05-06 15:36] amygdala commented on #1264
It turns out the issues with the example were due to my changing the default namespace. (sorry, I forgot to update here.)  So the example itself is okay.  Those links that refer to non-existent files/sections just need to be cleaned up.

[2019-05-06 18:10] RichieEscarez opened #1278 "Add repo guidelines to website"
The following page is missing the required frontmatter: https://knative.dev/contributing/repository-guidelines/

Example: https://raw.githubusercontent.com/knative/docs/master/contributing/DOCS-CONTRIBUTING.md

[2019-05-07 03:04] vaikas-google opened #1280 "Can not go from Broker->BrokerSpec->ChannelSpec (duck type hides the eventing ChannelSpec)"
## Expected Behavior
In the Reference and API / Eventing API
Under the Broker, there's a BrokerSpec section and it refers to ChannelSpec, Clicking on that should take me to ChannelSpec that talks about how to specify a Provisioner, etc..

## Actual Behavior

Under the Broker, there's a BrokerSpec section and it refers to ChannelSpec, but it goes to Duck type for Channel spec, instead of the Channe

[2019-05-07 15:53] #1264 closed

[2019-05-07 16:26] samodell commented on #1204
#1211 only partially fixes this issue, so reopening

[2019-05-07 18:02] RichieEscarez opened #1282 "Docs contrib - make clear the expectations per branch (master vs release-x.x)"
A good question was brought up in the Docs WG meeting about the expectations of "what should work" vs "what should be merged". In addition, what version number to use a default for "v.next" (vs. leaving the version numbers to point to the latest release)?

For example, if docs for a new feature are merged into the "development" branch (`master`), is it okay that the feature's manifest file is none

[2019-05-07 18:15] nachocano opened #1284 "[WIP] Updating eventing and eventing sources API reference"
## What is changing? (Please include as many details as possible.)

Need to update the eventing and well as the eventing sources API references.

## How will this impact our users?

* A new EventType object will be available for the users to interact with, to better understand what they can consume from the mesh. More details in Eventing Registry documentation.
* Moved CronJobSource and ContainerS

[2019-05-07 18:16] nachocano commented on #1284
/assign

[2019-05-07 19:29] samodell opened #1285 "Adding documentation for Event Registry"
## What is changing? (Please include as many details as possible.)
Adding Registry, which provide Event Consumers with a mechanism to discover what event types they can consume from the eventing mesh.

## How will this impact our users?
Added functionality; needs documentation

## In what release will this take happen (to the best of your knowledge)?
v0.6

## Context
Link to associated PRs or issu

[2019-05-07 21:15] hpandeycodeit commented on #1204
I will create a separate PR for other Dockerfiles.

[2019-05-07 21:35] RichieEscarez commented on #1234
Sorry for the delay @modassarrana , ive added you to the docs slack channel.

Also, here is the in-flight PR about the 0.6 change to use Istio from official source: https://github.com/knative/docs/pull/1272 (uses Istio 1.1.3 but not sure if that help you).

Regarding installing a version of Knative Serving v.Next, you can use the development instructions here,
https://github.com/knative/serving/bl

[2019-05-08 02:35] #1033 closed

[2019-05-08 23:26] #968 closed

[2019-05-08 23:27] samodell commented on #1148
Related to #1244

[2019-05-08 23:46] nachocano commented on #1284
/hold we need to regenerate this closer to the release, say Monday.

[2019-05-09 08:16] savitaashture opened #1294 "Fix telemetry Dockerfile and typo"
## Expected Behavior
Execution of
[code]
should create a image successfully

## Actual Behavior
docker image build is failing because of path issue in the Dockerfile.

## Steps to Reproduce the Problem

1. Follow https://knative.dev/docs/serving/samples/telemetry-go/

**Install information:**
 - Knative Version:

[2019-05-09 09:07] richard2006 commented on #1266
Firstly， I think we can look at the 0.5 version of the event processing model like this :
![image](https://user-images.githubusercontent.com/10905381/57439959-b1bbe080-7279-11e9-892d-029a8e6ab6ff.png)
Secondly, the issue seems like the broker service is not worker, you can run `kubectl describe service default-broker`, and  check if the service  work fine.  And the `default-broker` is the `Ingress

[2019-05-09 17:03] #1278 closed

[2019-05-10 10:13] torstenwerner opened #1298 "custom domain on Getting Started with App Deployment(docs/install/getting-started-knative-app.md)"
Current status: The documentation uses the domain example.com. Below the text 'To find the host URL for your service, enter:' this example.com domain materializes out of thin air. There is a chance that I want to use my own custom domain but the documentation page does not guide me on how to configure it.

Task: Please provide either more documentation or a link to existing documentation on how to

[2019-05-10 15:05] houshengbo opened #1300 "Missing how to get IP_ADDRESS for Minikube, docker desktop and other Kube platforms"
I am reading the docs at https://github.com/knative/docs/tree/master/docs/serving/samples/autoscale-go.

It is good to add how to get the IP address for other Kube backends beside GKE.

[2019-05-10 16:01] samodell commented on #1298
Hi @torstenwerner  -- I think the documentation at https://knative.dev/docs/serving/using-a-custom-domain/ should answer this question. This is linked from the sidebar as "Setting up a custom domain".

1. Is that topic title clear, or is there a different wording that might've caught your eye when you were looking for this information?

2. Where would you want this information linked from?

[2019-05-10 16:03] samodell commented on #1298
Ah, for #2, I re-read the title for your issue and realized from "The Getting Started with App Deployment" guide would help. If you have other suggestions, let me know!

[2019-05-10 16:46] n3wscott opened #1301 "KubernetesSource has been deleted, update docs to use ApiServerSource"
## What is changing? (Please include as many details as possible.)
`KubernetesSource.sources.eventing.knative.dev` has been replaced by `ApiServerSource.sources.knative.dev`. The features are similar but not the same.

## How will this impact our users?
KubernetesSource is gone.

## In what release will this take happen (to the best of your knowledge)?
v0.6

## Context
Link to associated PRs or is

[2019-05-10 16:47] n3wscott commented on #1301
I will do a follow up to fix the docs.

[2019-05-10 20:45] #1285 closed

[2019-05-11 00:09] #1301 closed

[2019-05-11 13:54] sebgoa commented on #1300
Can you edit your issue.

I don't understand what you mean when you say "it is good to add how..."

What is wrong ?
What is missing ?

[2019-05-11 17:41] torstenwerner commented on #1298
Hi @samodell, yes a link from the 'Getting started...' page to the 'Setting up a custom domain' would be nice.

[2019-05-13 18:57] houshengbo opened #1312 "Failed to set up the webhook in Github for gitwebhook-go sample"
I followed the tutorial at https://github.com/knative/docs/tree/master/docs/serving/samples/gitwebhook-go.

I used the GKE as the Kube backend. After configuring the domain and the static IP, I still failed to create a valid webhook available to receive the payload successfully.

SSL validation option is only available when we use HTTPS protocol, like https://\<domain\>, and it is not available fo

[2019-05-13 18:59] houshengbo commented on #1312
@RichieEscarez Do you have any idea?

[2019-05-14 04:39] houshengbo commented on #1312
This is the body returned:
[code]

[2019-05-14 09:12] sebgoa opened #1316 "Blue/Green Sample is wrong"
the Blue/Green sample:
https://knative.dev/docs/serving/samples/blue-green-deployment/

Makes reference of revisions `0001` and `0002` which don't exist anymore.

I am pretty sure the naming changed and now we get a hash appended to the revision name.

[2019-05-14 12:33] RichieEscarez commented on #1312
Sorry, ive not tried this sample.

/cc @rgregg @mattmoor

[2019-05-14 18:29] samodell opened #1319 "Update Minikube, Minishift, Openshift, and Docker for Mac instructions for installing istio"
In 0.6, Knative stopped providing .yaml files for installing Istio. We created the Installing Istio for Knative guide instead, and want folks to either manually install Istio themselves or use a managed Istio installation provided by their chosen cloud platform.

There are a few of the guides that were customizing the Istio installation extensively, and I am not 100% sure how to pull out the instr

[2019-05-14 19:40] sebgoa opened #1320 "Need to specify branch when cloning repos"
## Expected Behavior

Clone repo and `kubectl apply` manifest listed in docs should succeed.

Specifically, the autoscale-go example:
https://knative.dev/docs/serving/samples/autoscale-go/

## Actual Behavior

Instructions are to clone the repo, but if we stay on `master` branch we get the v1beta1 API spec of the service which fails if we run a 0.5 cluster.

[code]

That's because we should checko

[2019-05-14 19:42] sebgoa opened #1321 "Samples should not set the namespace"
## Expected Behavior

I should be able to `kubectl apply -f ...` and specify a namespace `-n foo` without editing the manifests.

## Actual Behavior

The `default` namespace is often set in the metadata in our samples.

We should remove the namespace so that we can set it with `kubectl`

Because by default a namespace not set will default to default :) and users may wish to apply in a different na

[2019-05-14 20:29] samodell commented on #1320
Thanks for the write up, @sebgoa !

This is actually a duplicate of #1269 , so I'm going to close this one in favor of that one.

[2019-05-14 20:29] #1320 closed

[2019-05-14 21:37] n3wscott opened #1324 "Samples reference yaml files that are next to the README file, but no link from website."
We should think of a way to get a link to the yaml file referenced from the samples when viewing on the website, at the moment the docs say to apply foo.yaml where foo.yaml is in the same dir as the README.md file but on the knative.dev website it is not discoverable.

[2019-05-14 22:39] RichieEscarez commented on #1324
Duplicate of https://github.com/knative/docs/issues/1045

[2019-05-14 22:39] #1324 closed

[2019-05-14 23:02] scothis opened #1325 "Minikube install docs exhaust available memory"
## Expected Behavior

Using the Minikube install docs at https://knative.dev/docs/install/knative-with-minikube/, I expect to have a working Knative install on Minikube.

## Actual Behavior

Minikube runs out of memory and fails to schedule pods

[code]

## Steps to Reproduce the Problem

1. follow the steps in the doc
1. run `kubectl describe pod`
1. notice that the memory requests are very close

[2019-05-15 09:22] sebgoa commented on #1325
Looks like you need to up the CPUs to 6:

https://github.com/knative/docs/pull/1322

[2019-05-15 15:43] Nxtra commented on #1234
Thanks @modassarrana , the structure of the file you provided is working for me.
I wasn't able to pull from docker hub. That's why I pointed `image` to the image provided in the official docs. For me it is working like this:
[code]

[2019-05-15 16:03] sebgoa commented on #1234
I think this can be closed. Matt's answer is the correct one. HEAD is not showing a valid object for a 0.5 installation.

[2019-05-15 16:03] #1316 closed

[2019-05-15 16:07] sebgoa commented on #1204
This can be closed now that #1290 has been merged

[2019-05-15 16:07] #1204 closed

[2019-05-15 16:45] grantr commented on #1271
This was delayed to the 0.7 release. @RichieEscarez can you please change the milestone? Thanks!

[2019-05-15 18:20] #1284 closed

[2019-05-15 18:20] dgerd opened #1330 "Community samples need to be updated for Serving 0.6"
**Describe the change you'd like to see**
https://github.com/knative/docs/tree/master/community/samples/serving demonstrate using the new API shapes introduced in Serving 0.6

**Additional context**
Serving 0.6 updated the recommended API fields for Services. The examples were updated in https://github.com/knative/docs/tree/master/docs/serving/samples, but this directory was missed.

[2019-05-15 19:12] #1244 closed

[2019-05-15 19:23] #1148 closed

[2019-05-15 19:23] samodell commented on #1148
Fixed by #1314

[2019-05-15 20:32] ahmetb opened #1331 "No docs on minScale/maxScale features"
Knative.dev has no documentation on how to use minScale/maxScale stuff.

There's some info buried in autoscale-go sample https://knative.dev/docs/serving/samples/autoscale-go/ which I wouldn't normally read as a user trying to learn Knative.

There should be ideally a dedicated concept or how-to page explaining these.

[2019-05-15 20:35] ahmetb opened #1332 "No docs on how to configure scale-to-zero duration"
Google: `"scale-to-zero-threshold" site:knative.dev`

similarly `scale-to-zero-grace-period`.

This is a supported annotation, yet doesn't seem to be documented.

I had to go read some Red Hat Openshift blog to learn how to configure it https://blog.openshift.com/knative-serving-your-serverless-services/

[2019-05-15 20:35] ahmetb commented on #1331
/kind bug

[2019-05-16 06:39] #1300 closed

[2019-05-16 14:35] yuxiaoba opened #1337 "A failed attempt in helloword-go"
I have installed Knative0.4 in Kubernetes 1.13
[code]
Then I follow the instruction of the URL below to start my first knative app
`https://knative.dev/v0.4-docs/install/getting-started-knative-app/`

[code]

Then I  access to that URL
[code]

## Expected Behavior
` Hello World: Go Sample v1!`

## Actual Behavior
[code]

we can't access to the URL,  we need help, thank you.

## Additional Info
[co

[2019-05-16 14:36] yuxiaoba commented on #1337
Is it the istio's ingressgateway' type needs to transform from LoadBalancer to NodePort?

[2019-05-16 20:21] lesv opened #1338 "Installing Istio 1.1.3 lean based on PR#1314 fails - istio-system namespace not created"
## Expected Behavior
Istio Installs.

## Actual Behavior
istio-system namespace isn't created.
[code]
## Steps to Reproduce the Problem
1. Clean GKE system; created cluster-admin for me
1. Follow the instructions: https://github.com/knative/docs/blob/master/docs/install/installing-istio.md
1. Download Istio
[code]
1. Install CRD's
for i in install/kubernetes/helm/istio-init/files/crd*yaml; do kube

[2019-05-16 20:26] lesv commented on #1338
Note - if I use https://github.com/knative/serving/tree/master/third_party/istio-1.1.3 with the namespace patch (and other patches) the namespace is created and some config maps as well.
@samodell FYI

[2019-05-16 20:35] grantr commented on #1280
https://github.com/ahmetb/gen-crd-api-reference-docs/pull/3 fixes this (by adding the package path to the fragment identifier)

[2019-05-16 20:59] RichieEscarez commented on #1202
Looks like the Hugo markdown processor wants another single space add in front of any content in a nested list (that includes a line break).

[Here is my test commit](https://github.com/knative/docs/commit/d877bf333da8c1d3643983e8a6eb4ebb4ea4f7a3#diff-cd7cfac5aac40d9955039b3adfbf7978)

which fixes the first bullet in the example topic reference in this issue: https://knative.dev/docs/serving/sampl

[2019-05-16 21:15] grantr commented on #1280
@ahmetb is very busy with Kubecon prep and won't be able to merge https://github.com/ahmetb/gen-crd-api-reference-docs/pull/3 soon. We have a few options:

- Live with the breakage until @ahmetb is ready to merge the above change.
- Remove the eventing and eventing-sources reference docs, and point people to godoc.org instead.
- Temporarily update https://github.com/knative/docs/blob/cbc6652735630

[2019-05-16 21:35] mhamwala commented on #1202
Ahh I see, great @RichieEscarez , is this something that we should document or is it possible to change the rules for the Hugo markdown processor?

[2019-05-16 21:47] ahmetb commented on #1280
I vote for option #1.

But if you can send me a quick PR + rendered markdown file in a gist, I'd be happy to review.

[2019-05-16 21:59] grantr commented on #1280
https://github.com/ahmetb/gen-crd-api-reference-docs/pull/3 is the quick PR :)

The templates actually generate html, not markdown. I created a gist of the output. You can see the changes at https://gist.github.com/grantr/f08e59a4601c9ca6ab5d53c84759cb93#file-eventing-html-L80 and https://gist.github.com/grantr/f08e59a4601c9ca6ab5d53c84759cb93#file-eventing-html-L52. I'm not sure how to get that t

[2019-05-16 22:02] ahmetb commented on #1280
@grant if you rename the .html to .md it will render correctly.

`#github.com/knative/eventing/pkg/apis/duck/v1alpha1.ChannelSpec` doesn't solve the problem. We should have something like `#eventing_knative_dev_v1alpha1_ChannelSpec`.

If you can update the PR to do that, I'm happy to accept.

Right now your PR will take us to a place where we’ll be susceptible to #target links breaking are pretty

[2019-05-16 23:22] samodell commented on #1338
@ZhiminXiang  -- can you take a look?

[2019-05-17 00:04] lesv commented on #1338
I'm still looking into it, but it appears there are two things needed:
* Create the istio-service namespace before doing the kubectl apply -f ...
[code]
* related to weirdness in my world, the sed line is for some reason removing the t's from the word `account` at the end of a line on my Mac (zsh)

[2019-05-17 00:24] lesv commented on #1338
For a mac, you don't need the sed script, just need to create the namespace.

[2019-05-17 01:16] RichieEscarez commented on #1045
#1203 fixes 0.6 (and since it specifically refers to "release-0.6" it cannot be directly cherry-picked to 0.5 as originally intended)

[2019-05-17 05:52] #1269 closed

[2019-05-17 05:54] markusthoemmes commented on #1337
@yuxiaoba The important bit is the `<pending>` state of your istio-ingressgateway's loadbalancer. It seems like your deployment does not support loadbalancers so yes, you might need to change that into a NodePort.

[2019-05-17 08:13] yuxiaoba commented on #1337
Now I have add LoadBalancers for my cluster, but it still can not access.
And I have found its log
[code]

[code]
[code]

[2019-05-17 10:48] abrennan89 commented on #1332
@ahmetb I am currently working on some contributions for docs on autoscaling and scale-to-zero, @samodell I can take this issue but not sure how to assign it to me

[2019-05-17 11:42] goern opened #1340 "Install on OpenShift(docs/install/Knative-with-OpenShift.md)"
## Expected Behavior
https://knative.dev/docs/install/scripts/knative-with-openshift.sh works

## Actual Behavior
https://knative.dev/docs/install/scripts/knative-with-openshift.sh can not find:
https://storage.googleapis.com/knative-releases/serving/latest/istio.yaml and https://storage.googleapis.com/knative-releases/serving/latest/release-lite.yaml

## Steps to Reproduce the Problem

1. follow

[2019-05-17 17:54] samodell commented on #1235
All of these PRs were merged, so I think we can close out this issue.

[2019-05-17 17:54] #1235 closed

[2019-05-17 17:57] #1023 closed

[2019-05-17 18:11] lesv commented on #1338
It appears that something is enabling injection in the instructions for lean.
[code]
and
[code]

[2019-05-17 19:25] RichieEscarez opened #1344 "[WIP] Need "Docs release process" content"
The following needs to be formally documented:

1. Ensure that all changes for the new Knative release have been merged into the `master` branch of the Knative/docs repo. Including:

    1. Install docs have been updated to point to the new releases of the various Knative components.

       * See "feature state" version numbers that are hard coded

    1. Generate the latest set of API reference

[2019-05-17 22:20] grantr commented on #1280
@ahmetb nice, renaming to .md fixed the rendering. Pro tip:tm:

I'll see if I can change the identifiers to use apiVersion instead.

[2019-05-18 01:37] kameshsampath commented on #1332
@ahmetb  - I dont that property anymore,I right now see no way to configure the scale down period. https://github.com/knative/serving/blob/master/config/config-autoscaler.yaml

[2019-05-20 06:54] sfxworks opened #1352 "Update NodeJs demo Spec?"
Trying to deploy from the doc referenced here yields this error

[code]

## Expected Behavior
It deploys

## Actual Behavior
It doesn't

## Steps to Reproduce the Problem

1. Copy spec located at https://knative.dev/docs/serving/samples/hello-world/helloworld-nodejs/index.html
2. Change the docker repo
3. kubectl create -f thefile.yml

I had to modify the spec to get my demo to work.
https://githu

[2019-05-20 06:56] #1338 closed

[2019-05-20 19:43] ansky opened #1354 "Knative Build(docs/build/_index.md)"
## Expected Behavior
The link to the sample in "More information about this use case is demonstrated in this sample"  is broken.

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2019-05-21 12:14] #1298 closed

[2019-05-22 07:51] huisebug opened #1361 "Image of gcr.io is difficult to pull"
Hello, I'm a Chinese learner. I find it hard to get the configuration file of knative. The mirror contains @sha. I can't pull it in gcr.io. And Yaml file contains a lot of image information, I can only pull the image of docker. io. I hope I can store the mirror in docker like istio.

[2019-05-22 09:48] abrennan89 opened #1362 "Create documentation for autoscaling"
## What is changing? (Please include as many details as possible.)

Adding autoscaler and scale-to-zero documentation.

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
v0.5-v0.6

## Context
Link to associated PRs or issues from other repos here.

1. #1332

## Additional info

[2019-05-22 09:55] abrennan89 commented on #1332
Is this issue fixed in https://github.com/knative/docs/pull/1363 ?

[2019-05-22 10:25] abrennan89 commented on #1362
/assign abrennan89

[2019-05-22 22:38] lesv opened #1365 "using-auto-tls & using-cert-manager-on-gcp need (at least) a create namespace"
## Expected Behavior
Follow the instructions and everything just works.

## Actual Behavior
Error when trying to [create a secret](https://github.com/knative/docs/blob/master/docs/serving/using-cert-manager-on-gcp.md#creating-a-service-account-and-using-a-kubernetes-secret) step #3 has `--namespace cert-manager` for the first time.

At the very least it needs:
[code]
I've also tried changing the n

[2019-05-22 22:40] lesv commented on #1365
@samodell  @ZhiminXiang FYI

[2019-05-22 23:34] abhip opened #1367 "Knative Build code samples(docs/build/samples.md)"
## Expected Behavior
Whenever I click the hyper link "Learn how to use Knative to build apps from source code and then run those containers." under Complex Code Samples , it should navigate to the link.

## Actual Behavior
Instead I get the following message

"Page Not Found
Looks like you've followed a broken link or entered a URL that doesn't exist on this site.

 Back to our site"

## Steps to

[2019-05-23 03:40] moficodes commented on #1367
Looks like the source-to-url folder was removed on knative version 0.0.6

Because the folder is present in version 0.0.5.

I think the team is trying to move the examples out to the community and only hold docs in the main repo.

[2019-05-23 13:00] abrennan89 commented on #1340
@samodell @goern

Hi all. @joaedwar is planning to update the instructions for installation on OpenShift 4 (developer preview), so it might make sense to re-purpose this issue to track that?

@bbrowning FYI

[2019-05-23 13:02] samodell commented on #1340
That would be great! Feel free to do that.

On Thu, May 23, 2019, 15:00 Ashleigh Brennan <notifications@github.com>
wrote:

[2019-05-23 13:16] bbrowning commented on #1319
We're discussing the best way to handle this for OpenShift. The official way we're supporting installation of Knative Serving on OpenShift is to install it via our Operator, which can be installed with a single `kubectl apply` (or `oc apply`) command. That Operator will automatically install a minimal Istio configured appropriately on behalf of the user if one isn't already installed and then inst

[2019-05-23 13:20] samodell commented on #1319
I think that's great. As platforms build these operator install options, we
should link out to where users can find those and perhaps stop delivering
install instructions for that platform here. It makes more sense to replace
it with a link to the docs for using whatever operator.

I don't think that applies to minikube or Docker for Mac, though.

On Thu, May 23, 2019, 15:16 Ben Browning <notifica

[2019-05-24 00:04] houshengbo opened #1369 "What is valid ticker for stock in rest-api-go example?"
## Expected Behavior
curl http://<url of stock example>/stock/<ticker> to get the price.

## Actual Behavior
I have no idea what ticker is available for this stock example. Where can we find? What is a valid ticker? At least we should offer a valid one as example.

## Steps to Reproduce the Problem

1. Follow the tutorial at https://github.com/knative/docs/tree/master/docs/serving/samples/rest-api

[2019-05-24 00:25] houshengbo commented on #1312
We definitely need a valid public available domain name for the application to create the webhook for github to connect.

I used to have a domain name, but that name is not available over the internet for me.

[2019-05-24 08:45] sebgoa commented on #1369
A stock market ticker. So AAPL or AMZN or MSFT

[2019-05-24 10:21] abrennan89 commented on #1319
@samodell  just to clarify the approach we want to take - are we saying that we should link out from the OpenShift docs at knative.dev (when updated) to the process for installing Istio as a dependency?

I don't see how this is possible if the same Operator that installs all the rest of the Serving components on OpenShift installs Istio, since it's only one command to run this and cover all of the

[2019-05-25 07:11] shenkejie15 opened #1372 "Hello World - Go(docs/serving/samples/hello-world/helloworld-go/_index.md)"
Your code service.yaml in [tutorial](https://knative.dev/docs/serving/samples/hello-world/helloworld-go/index.html) is wrong. That is more like a yaml for deploying kubernetes service rather than knative service.

[2019-05-28 09:26] sebgoa commented on #1372
@shenkejie15 can you explain what is wrong in a bit more details. Everything seems fine to me except rendering issue.

The `service.yaml` is a valid knative service manifest and the `helloworld.go` is a Go code:
https://github.com/knative/docs/blob/master/docs/serving/samples/hello-world/helloworld-go/helloworld.go

This is correct.

Let us know what you think is wrong and we can correct it.

[2019-05-28 09:54] shenkejie15 commented on #1372
My apology for being careless.

I got
`Error from server (InternalError): error when creating "service.yaml": Internal error occurred: admission webhook "webhook.serving.knative.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "template"`
when I followed the [tutorial](https://knative.dev/docs/serving/samples/hello-world/helloworld-go/index.html). Th

[2019-05-28 13:54] sebgoa commented on #1372
What version of knative are you using ?

The `service.yaml` has a different shape on `v0.6`:
https://knative.dev/docs/serving/samples/hello-world/helloworld-go/index.html

Then in `v0.5`:

https://knative.dev/v0.5-docs/serving/samples/hello-world/helloworld-go/index.html

I presume you are still on 0.5 ?

[2019-05-28 17:09] ahmetb opened #1376 "The commands to find IP address of the ingress gateway don't work on AWS"
When you install Kubernetes to EKS or AWS EC2, the Service (type:LoadBalancer) of `istio-ingressgateway` won't get an IP address.

Instead it'll get a `.hostname` field. This is different than most providers. It's described at https://eksworkshop.com/deploy/viewservices/

This difference is making Knative samples/docs very hard to use for users on AWS.

We need to change these `.ip` usages to some

[2019-05-28 20:12] houshengbo commented on #1369
Allow me to add it in the document.

[2019-05-28 21:18] #1369 closed

[2019-05-28 21:33] houshengbo commented on #1376
@ahmetb  Do you what the command is for AWS to get the IP? If so, would you mind fixing it with a PR?

[2019-05-28 21:37] houshengbo commented on #1372
@shenkejie15 Please be aware that release-0.6 of knative really has new syntax for yaml comparing to release-0.5. spec.runLatest.configuration.revisionTemplate is being deprecated, and spec.template will replace it. Verify what version is used for your knative.

[2019-05-28 22:11] ahmetb commented on #1376
As I said above `.hostname` field has the value. It's not an IP address but rather a FQDN as the linked article explains.

I might be able to fix it if I can find the time. I bet there's a nifty JSONPATH if else syntax that lets doing this simpler.

[2019-05-28 22:22] RichieEscarez commented on #1202
Looks like this has been a [known Blackfriday issue](https://github.com/russross/blackfriday/issues/329) for some time and the extra spacing that I found to fix our issue is what has been the "[workaround](https://gohugo.io/content-management/formats/)".

Ill keep an eye out for alternate solutions and will try to document this soon. But even with a set of instructions in our repo it is un-intuiti

[2019-05-28 22:24] ahmetb commented on #1376
One solution I found was to do

    --output=jsonpath="{.status.loadBalancer.ingress[0]['hostname','ip']}"

but this would break if both `hostname` and `ip` fields exist at the same time. I'm not sure if any k8s distro does that right now. @mattmoor do you see any cleaner solutions here?

[2019-05-29 06:09] shenkejie15 commented on #1372
@sebgoa Yes, I am using Knative-v0.5. I think we can close the issue now.

[2019-05-29 07:05] sebgoa commented on #1372
great, you should be able to close the issue yourself. I cannot.

[2019-05-29 14:13] houshengbo opened #1381 "grpc example has an incorrect version for knative and incorrect tag to push"
## Expected Behavior
Successful execution of this example.

## Actual Behavior
Docker push command uses a wrong tag name, and knative should pin to 0.6 or later.

## Steps to Reproduce the Problem

1. Follow the instruction at https://github.com/knative/docs/tree/master/docs/serving/samples/grpc-ping-go

## Additional Info
**Additional context**
Add any other context about the problem here.

**Ins

[2019-05-29 15:58] tmoon8730 opened #1382 "Installing Knative(docs/install/_index.md)"
## Expected Behavior
The "Picking the Right Solution" link would go to a valid page

## Actual Behavior
The "Picking the Right Solution" link redirects to a 404 not found page

## Steps to Reproduce the Problem
1. Click on the link... :)

**Install information:**
 - Documentation Website knative.dev

[2019-05-29 16:03] houshengbo opened #1384 "Improvement proposed for example knative-routing-go(docs/serving/samples/knative-routing-go/)"
## Expected Behavior
All the services running correctly.

## Actual Behavior
One typo in the command to get the gateway ip.
Lack of information regarding using existing domain name.
Lack of information on how to use dockerhub.
Lack of information on different domain templates.

## Steps to Reproduce the Problem

1. Follow the instruction at docs/serving/samples/knative-routing-go.

## Additional I

[2019-05-29 16:31] ahmetb opened #1385 "serving: No samples for configuring CPU/memory"
/area serving
/kind bug

I just grepped `cpu:` and `memory:` and it doesn't seem like there are any Knative docs/samples in this repo currently demonstrating how to configure CPU/memory limits/requests.

No need to explain this from scratch (k8s.io has great docs on how limits/request work) but it would be great to show where in the YAML spec to configure it.

This came as a question on SO: https:

[2019-05-29 18:51] houshengbo commented on #1382
The page on https://kubernetes.io/docs/setup/ lists the learning and production environments for kube. I think we can use this link as the hyperlink of "Picking the Right Solution".

[2019-05-29 18:59] tmoon8730 commented on #1382
Not sure if I did the pull request correctly. Someone more knowledgable on this project let me know if I need to do something different with it.

[2019-05-29 20:21] RichieEscarez commented on #299
Istio install docs published for 0.6: https://knative.dev/docs/install/installing-istio/

[2019-05-29 20:21] #299 closed

[2019-05-29 20:35] RichieEscarez commented on #1202
FYI: I'm testing out possibility of using our "sock puppet" that runs 'prettier' on all the markdown. We still would be faced with the lack of any type of UI or linter that enforces "4 spaces" (during authoring or PR review/merge) but having all tabs converted into spaces will reduce the overhead of manually adding 1-2 spaces to any existing "tabs".

[2019-05-29 20:39] mhamwala commented on #1202
Sounds good!

[2019-05-29 20:55] adrcunha opened #1389 "test/e2e.TestSampleApp/java-spring is failing"
https://testgrid.knative.dev/knative-docs#continuous

[2019-05-29 20:55] adrcunha commented on #1389
[code]

[2019-05-29 20:56] adrcunha commented on #1389
Root cause: `spring.io` is 404ing.

[code]

[2019-05-29 20:57] adrcunha commented on #1389
https://twitter.com/springops/status/1133823351565238273

[2019-05-29 20:59] adrcunha commented on #1389
Judging from the list of tweets from Spring Operations, it's not uncommon that their website is down. Better TestSampleApp/java-spring not depending on an external source in order to run.

/cc @chaodaiG

[2019-05-29 22:44] RichieEscarez commented on #1240
not exactly the same but related #1202

[2019-05-30 14:21] #1389 closed

[2019-05-30 16:35] tmoon8730 commented on #1382
Fixed in PR #1397

[2019-05-30 16:35] #1382 closed

[2019-05-30 17:19] abrennan89 commented on #1340
/assign abrennan89

[2019-05-30 19:18] bradfordcp opened #1399 "Install on OpenShift(docs/install/Knative-with-OpenShift.md)"
## Expected Behavior

Istio is installed by copy and pasting the command at
https://knative.dev/docs/install/knative-with-openshift/#installing-istio

## Actual Behavior

The curl command does not return a valid resource, instead an XML error message is returned.

## Steps to Reproduce the Problem

1. Run the following (per the linked doc)
[code]

## Additional Info
**Additional context**
N/A

**I

[2019-05-30 19:26] samodell commented on #1399
Thanks for your report, but this looks like a duplicate of #1340 . Work on a fix is in progress, though!

[2019-05-30 19:26] #1399 closed

[2019-05-30 19:27] bradfordcp commented on #1399
No worries, I should have searched before filing. Thanks for the reference.

[2019-05-30 20:56] RichieEscarez commented on #1312
Yes you are correct. I just rewrote the TLS content and as you found, a custom domain is required in order to handle HTTPS requests. Ill start looking over your PR now. Thanks!

[2019-05-30 23:12] samodell commented on #1332
Yep, it is! I'm going to close out this issue in favor of #1362 , to make sure we don't forget to come back and close this.

[2019-05-30 23:12] #1332 closed

[2019-05-31 01:19] duglin opened #1402 "Missing docs for cluster local setup"
While going thru the setup for Istio-lean everything seems to work except intra-cluster communications between pods.  Thanks to @ZhiminXiang for helping track down that the issue is that https://github.com/knative/docs/blob/master/docs/serving/cluster-local-route.md didn't include the step of adding:
[code]
to the `config-istio` configMap.  We should add that.

Additionally, this section: https://

[2019-05-31 16:01] #1362 closed

[2019-05-31 16:46] abrennan89 opened #1405 "Fix metadata in autoscaling docs"
## Expected Behavior
Metadata added to the docs to accommodate publishing for the website shouldn't show up in the .md.

## Actual Behavior
It shows up in the autoscaler docs as title: "Configuring the Autoscaler" weight: 10 type: "docs".

@samodell can you or someone on your team please provide information on how to add metadata properly? Am I missing docs somewhere relating to this (presumably i

[2019-05-31 16:47] mikepc opened #1406 "Page needs improvement"
## Expected Behavior
The link:
https://knative.dev/docs/serving/samples/source-to-url-go
Should respond with content.

## Actual Behavior
Page 404's

## Steps to Reproduce the Problem

1. Point browser at https://knative.dev/docs/build/samples/
2. Click the link "Learn how to use Knative to build apps from source code and then run those containers."
3. Observe error dialog of page 404'ing

## Addi

[2019-05-31 17:06] samodell commented on #1405
I think this is nearly WAI -- the metadata is visible in the .md files, but it will render properly on knative.dev.

I missed that you didn't delete the H1, though. That should've been removed.

[2019-05-31 21:14] abrennan89 commented on #1405
No problem, I'll put in a PR to remove the H1 :) Is there a template or documentation somewhere that explains how to set the metadata properly in a new topic? Apologies if I missed this somewhere - would be useful to have if it exists though.

[2019-05-31 22:48] samodell commented on #1405
I think @RichieEscarez  is still working on that content. But, back when we did the migration to knative.dev, he made some issues with fairly detailed instructions, which covers the front matter, or the metadata, at the top of the files: #727

Sorry we don't have it laid out concretely yet! We have a lot of room for improvement in our contributor docs.

[2019-06-01 00:41] #1381 closed

[2019-06-01 00:44] #1405 closed

[2019-06-02 08:15] sebgoa commented on #1406
This is a duplicate of #1367

[2019-06-03 18:13] ahmetb opened #1413 "No documentation on how to use volumeMounts"
/kind bug

I can't seem to find any docs on how to use volumes with Knative serving apps

![image](https://user-images.githubusercontent.com/159209/58824275-87e3a880-85f0-11e9-86f9-6f98ae53448a.png)

The "Code samples" page has 1 "volume" reference and that's the secrets sample: https://knative.dev/docs/serving/samples/secrets-go/index.html which doesn't make it clear that I can pretty much mount

[2019-06-04 07:44] #1372 closed

[2019-06-04 14:16] houshengbo opened #1415 "Unable to fetch mapping. Do you have indices matching the pattern? Kibana UI"
## Expected Behavior
After entering logstash-* into the field of Index pattern, we should be allowed to proceed with further fields.

## Actual Behavior
Unable to fetch mapping. Do you have indices matching the pattern?
This warning message blocked me from doing anything

## Steps to Reproduce the Problem

1. Follow the section of https://github.com/knative/docs/blob/master/docs/serving/installing

[2019-06-04 18:28] abrennan89 commented on #1340
/assign joaedwar

[2019-06-04 21:32] grantr opened #1417 "Eventing Sources are being renamed to Importers"
## What is changing? (Please include as many details as possible.)

We've decided to rename the Source concept to Importer to better convey its nature and avoid conflict with the CloudEvents concept of source.

## How will this impact our users?
Users will need to learn that the new term (Importer) refers to the same concept and objects as the old term (Source).

## In what release will this take

[2019-06-05 15:21] yu2003w opened #1420 "[samples/helloworld-go] README.md is missing contents about node port"
## Expected Behavior
[samples/helloworld-go] README.md should contain description about how to access the service outside cluster when external IP is not available.

## Actual Behavior
[samples/helloworld-go]  README.md lost some important description about how to access the service when external IP is not available.

## Steps to Reproduce the Problem

1. Follow https://knative.dev/docs/serving/sa

[2019-06-05 17:48] olegchorny commented on #1413
I could be wrong, but only ConfigMaps and Secrets allowed to be mounted as volumes.
All other forms of volume are disallowed.
See the https://github.com/knative/serving/pull/3061

[2019-06-05 18:17] JRBANCEL commented on #1413
Correct, see https://github.com/mattmoor/serving/blob/141ae566cb83077a7fcf7f95eec190ba00160646/pkg/apis/serving/v1alpha1/revision_validation.go#L156

[2019-06-06 13:24] #1337 closed

[2019-06-06 14:11] vaikas-google opened #1425 "Kubernetes Api Server Source(docs/eventing/samples/kubernetes-event-source/_index.md)"
## Expected Behavior
Have links to files or display the files directly

## Actual Behavior
page talks about files but there's (well, at least I couldn't find) no way to actually see the files.

## Steps to Reproduce the Problem

1. https://knative.dev/docs/eventing/samples/kubernetes-event-source/
1.Look at the Service Account section, it talks about running this command:
kubectl apply --filename

[2019-06-06 15:16] abrennan89 opened #1426 "Remove Minishift documentation"
## What is changing? (Please include as many details as possible.)

Knative installation is now only supported on an OpenShift 4.1 cluster using installation via Operators. Support for Minishift was deprecated, so the docs for this should also be removed.

## How will this impact our users?
There will no longer be documentation for Knative on Minishift.

## In what release will this take happen (t

[2019-06-06 15:16] abrennan89 commented on #1426
/assign abrennan89

[2019-06-06 16:21] rgregg opened #1428 "GRPC sample docs are not helpful"
Page: gRPC server - Go
https://github.com/knative/docs/blob/master/docs/serving/samples/grpc-ping-go/README.md

## Expected Behavior
This page would help me understand how to use GRPC with Knative.

## Actual Behavior
This page tells me only how to use docker to deploy a sample app, with no references to the code, the YAML, or concepts I need to understand to be successful.

[2019-06-06 18:23] rgregg opened #1429 "Provide a link to the Knative tooling oncall"
**Describe the change you'd like to see**
For contributors working on the Knative project, knowing who the oncall engineer for our tooling systems is an important detail when Prow or our testing process isn't working right. Today it's buried in a pinned item on the #general channel of Slack.

I think this information should be available/linked from the knative.dev website. The pinned topic links p

[2019-06-06 21:43] RichieEscarez commented on #1330
Thanks for the issue @dgerd. The `/community/samples/` are not something that the docs team is committed to regularly updating as a high priority. Since we have such a large back log of other priority items, we hope that the community can step in and help maintain this content, which will allow us to be more effective across other content gaps (including some of the website related items).

This i

[2019-06-06 21:46] RichieEscarez commented on #1018
https://github.com/knative/community now exists!

[2019-06-06 21:46] #1018 closed

[2019-06-06 21:54] RichieEscarez commented on #1045
Status update:
 Other areas need to be investigated and instruction and links need to be added:
   - Serving samples (DONE #1324)
   - Eventing (ie #1259)
   - Build?
   - Community samples

Related: #1409 - Stop copying all code into README files and instead "include" a copy of the corresponding file (during website build)

[2019-06-06 22:21] dgerd commented on #1330
Opened a PR. I do not have the time to go through and build all of the samples to ensure that they still work, but this should update them all to use the new v1beta1 format for both the README and YAML files. This should help users get started down the right path instead of a deprecated one.

The fix should be cherry-picked into 0.6 as well as applied to head.

[2019-06-07 01:51] ahmetb commented on #1428
I agree that I struggled quite a bit. Ideally there would be a concept page explaining that gRPC as a protocol is supported, and how to use it (i.e. the short service names like `http://foo` don't work.

[2019-06-07 16:29] abrennan89 commented on #1331
/assign abrennan89

[2019-06-07 20:50] RichieEscarez commented on #1166
@mchmarny friendly ping (a draft of the 0.6 post is being edited and it would be nice to get this up at the same time, if not before)

[2019-06-07 20:55] RichieEscarez commented on #1166
Blog posts sent over, thanks!

[2019-06-07 20:55] #1166 closed

[2019-06-07 21:55] chaodaiG opened #1435 "e2e tests are failing"
## Expected Behavior
e2e tests pass

## Actual Behavior
e2e tests are failing, timed out but no other useful error message

## Steps to Reproduce the Problem

1. https://storage.googleapis.com/knative-prow/logs/ci-knative-docs-continuous/1137009033794818048/build-log.txt

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (

[2019-06-07 21:55] chaodaiG commented on #1435
/assign @chaodaiG

[2019-06-07 22:03] adrcunha commented on #1435
What about the code here?

[code]

[2019-06-07 22:05] adrcunha commented on #1435
Other threads were killed around sampleapptestbase.go:157

[2019-06-08 00:07] chaodaiG commented on #1435
I could repro locally, followed instruction https://github.com/knative/docs/tree/master/docs/serving/samples/hello-world/helloworld-go
And this command failed saying could not find helloworld-go, but helloworld-go does exist in my cluster:
kubectl get ksvc helloworld-go  --output=custom-columns=NAME:.metadata.name,DOMAIN:.status.domain

[2019-06-08 04:45] chaodaiG commented on #1435
Deploy helloworld-go sample app on knative installed from serving 0.6 release works fine. Deploying the same docker image with same service.yaml failed on knative installed from master nightly release. The error occurs at the command of determining domain:
`kubectl get ksvc helloworld-go --output=custom-columns=NAME:.metadata.name,DOMAIN:.status.domain`
It kept on showing `DOMAIN` as unknow.
Expan

[2019-06-08 06:02] chaodaiG commented on #1435
Turned out to be `.status.domain` field was deprecated in PR: https://github.com/knative/serving/pull/4197. Filed a bug in knative serving: https://github.com/knative/serving/issues/4297

[2019-06-08 06:15] chaodaiG commented on #1435
@RichieEscarez FYI

[2019-06-08 18:00] chaodaiG opened #1438 "Use url instead of domain for finding domain URL of service"
**Describe the change you'd like to see**
All instructions uses `.status.url` instead of `.status.domain` for finding domain URL

**Additional context**
Use `url` in favor of `domain`, as the latter was deprecated since this PR: https://github.com/knative/serving/pull/4197

[2019-06-09 00:04] xpepermint commented on #1325
This issue should be renamed to a general issue addressing required resources. I installed `istio v1.1.8` and `knative v0.6.0` on a server with 6 CPUs and 15GB memory, also running `Flannel` network fabric. I see all CPUs running at ~30% and the system is consuming about 10GB memory in idle mode - no functions installed. Is that expected?

[2019-06-09 15:24] jpds opened #1440 "IPv6 website enablement"
**Describe the change you'd like to see**

I'd like to see knative.dev accessible via IPv6.

[2019-06-09 23:39] sdake opened #1441 "Recent mailing list post exposed problem with minikube settings"
## Expected Behavior

See recent thread here:
https://groups.google.com/forum/#!topic/knative-users/aEDf0pk4qHQ

## Actual Behavior

Some services don't enter running state - instead pending waiting on memory

## Steps to Reproduce the Problem

1. See mailing list for reproducer

## Additional Info
**Additional context**
See this PR for how we changed the minikube requirements for Istio and added

[2019-06-09 23:40] sdake commented on #1441
Rendering of the udpated docs for those that don't like to read diffs :)

https://deploy-preview-4299--preliminary-istio.netlify.com/docs/setup/kubernetes/platform-setup/minikube/

[2019-06-09 23:43] sdake commented on #1325
see https://github.com/knative/docs/issues/1441 for related issue.

[2019-06-09 23:45] sdake commented on #1325
@scothis @sebgoa It appears (atleast with vfusion driver on macos) Istio 1.2 rcs ristio-demo-authh.yaml requires 8.6GiB of ram.

[2019-06-10 02:44] sebgoa commented on #1426
Why remove it ? I understand that RH may not "support" it anymore, but minishift is still a very valid project with a lot of people using it to test openshift.

I believe that documentation on how to run knative on openshift is very valuable

[2019-06-10 02:53] sebgoa commented on #1441
These mem requirements are huge. We should provide a minikube friendly setup that can run on 4GB or less.

[2019-06-10 07:21] abrennan89 commented on #1426
This is because the only way to install Knative on Minishift is via the old script at a now defunct repository. This was only valid for ~v1.26 and is not tested or supported for current versions of Minishift or Knative, so we should not be directing or encouraging anyone to use this on Minishift, because there is no plan to support this script via docs or otherwise. Knative is still supported on O

[2019-06-10 12:30] sebgoa commented on #1426
technically you can always install istio/knative using the documentation for the "custom k8s install" you should not need a special script.

maybe @matzew and @markusthoemmes can chime in.

[2019-06-10 13:47] sdake commented on #1441
@sebgoa 4gb...  that is pretty tight.  I think the 8.6gb can be reduced (by just running a minimal istio config) however, I don't think you will see a future where the Istio control plane itself can be deployed in 4gb of ram, much less Istio + knative.

Cheers
-steve

[2019-06-10 14:11] sebgoa commented on #1441
my thinking is that minikube is a dev environment hence does not need a production config.

The goal of something like minikube is quick start with minimal resources.

If we take istio without mesh then we are just running the ingress gateway and we should be able to disable a few other things to bring the mem requirements down:

see: https://github.com/weaveworks/flagger/blob/master/test/e2e-isti

[2019-06-10 14:19] abrennan89 commented on #1426
@matzew initiated this request to remove Minishift

[2019-06-10 14:25] sebgoa commented on #1426
There is that then :) for the record I guess, I think have instructions on installing knative in minishift without operators has quite a bit of value. It could re-use the `kubectl apply` command used by other guides and would not need to maintain an external install script (except if there are a lot of openshift specific tweaks to be done).

but since I don't use minishift I will show myself the d

[2019-06-10 14:41] matzew commented on #1426
minishift matches the old 3.x line

For Openshift 4.x there is CRC (Code Ready Containers), both should have
same “kubectl” style install routine.

Both come w/ OLM, for an easy Operator install

On Mon 10. Jun 2019 at 16:25, sebgoa <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-06-10 15:54] zhangtbj commented on #1367
Hi all,
I created a PR to rollback the `source-to-url` folder remove:
https://github.com/knative/docs/pull/1445

I think there is no any error in this `source-to-url` sample, it is better to bring it back and let people can continue learning and try the end-2-end build and deploy process.

An error page is not good user experience.

Hope this is helpful.

[2019-06-10 21:11] evankanderson opened #1446 "Page needs improvement"
## Expected Behavior

"Concepts" LHS item talks about Knative. Link: https://knative.dev/docs/concepts/resources/

## Actual Behavior

"Concepts" LHS talks about a bunch of other related projects.

This is probably part of a larger refactor of the information architecture.

[2019-06-10 21:27] samodell commented on #1446
@evankanderson  -- I'm not familiar with LHS as an abbreviation; can you spell it out for me?

And yes, in the future we hope to have more topics under that heading than just the resource page you linked.

[2019-06-10 23:10] evankanderson commented on #1446
LHS = Left Hand Side.

Now that you mention it, that's probably a programming term used in assignment operations. (LHS = thing being assigned to, RHS = expression being computed and assigned)

[2019-06-10 23:11] evankanderson commented on #1446
"Related Projects" is probably clearer than "Resources", since Kubernetes uses the term "Resource" to denote "Object in the apiserver" with some regularity.

[2019-06-10 23:12] #1438 closed

[2019-06-11 08:23] daisy-ycguo opened #1448 "event-display service in eventing/samples/github-source doesn't work now"
## Expected Behavior

The service display yaml file should be:
[code]

## Actual Behavior

When I apply `kubectl apply -f service.yaml`, it reports:
[code]
So below yaml file doesn't work.
[code]

## Steps to Reproduce the Problem

1. Run command: `kubectl --namespace default apply --filename service.yaml` under the github-source folder.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):

[2019-06-11 11:39] bosaidong opened #1449 "https://knative.dev/docs/serving/samples/source-to-url-go can't be reached"
## Expected Behavior
Complex code samples
Learn how to use Knative to build apps from source code and then run those containers.

## Actual Behavior
https://knative.dev/docs/serving/samples/source-to-url-go
can't be reached

## Steps to Reproduce the Problem

https://knative.dev/docs/serving/samples/source-to-url-go
can't be reached

[2019-06-11 17:38] #1384 closed

[2019-06-11 17:49] chaodaiG commented on #1435
fixed
/close

[2019-06-11 17:49] #1435 closed

[2019-06-11 18:22] samodell commented on #1449
Hi @bosaidong  -- can you let us know where you found that link originally?

[2019-06-12 06:23] modassarrana opened #1454 "Knative installation after succesfull knative uninstallation doesn't work"
I have uninstalled knative as below
1> "kubectl delete ksvc,configuration,route --all"
2> kubectl delete -f serving.yaml -f build.yaml -f release.yaml -f eventing-sources.yaml -f monitoring.yaml -f clusterrole.yaml
Both the command run succesfully.

Then i tried to install knative again
1> kubectl apply --selector knative.dev/crd-install=true -f serving.yaml -f build.yaml -f release.yaml -f eventi

[2019-06-12 14:51] ljulliar opened #1457 "Knative Build(docs/build/_index.md)"
## Expected Behavior
Link on "this sample" in page https://knative.dev/docs/build/ should work

## Actual Behavior
Link is broken (404)

## Steps to Reproduce the Problem

1.Visit https://knative.dev/docs/build/
1. Click on "this sample"
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knativ

[2019-06-12 17:02] rgregg opened #1459 "Knative Eventing sources rendering issues (docs/eventing/sources/readme.md)"
This page renders considerably worse than the version that shows on GitHub. We should figure out how we can tweak the markdown to be more consumable on the website.

https://knative.dev/docs/eventing/sources/

[2019-06-12 17:42] #1330 closed

[2019-06-12 18:11] #1426 closed

[2019-06-13 05:33] justingrayston commented on #1459
I am writing this underground in the tube and I have little or no internet.
So apologies for not having more context.

I have no idea how you are serving the docs, but it sounds to me like the
Markdown parsing to HTML is happening on page request.

Why not generate all the HTML for the docs offline on build? Then this
becomes a non problem for the users of the docs. Every page is just static.

On

[2019-06-13 06:52] daisy-ycguo opened #1460 "Broken link at docs/eventing/broker-trigger.md"
## Expected Behavior
Broker->Manual Setup
"The ClusterRole is installed with Knative Eventing [here](https://github.com/knative/eventing/blob/master/config/200-broker-clusterrole.yaml)."

Here should link to `knative/eventing/blob/master/config/200-broker-clusterrole.yaml`.

## Actual Behavior
Now it links to `knative/docs/blob/master/config/200-broker-clusterrole.yaml`, which will cause a "page n

[2019-06-13 13:18] xpepermint opened #1461 "Add REST API Reference"
Kubernetes has a section explaining [REST API Reference](https://kubernetes.io/docs/tasks/access-kubernetes-api/http-proxy-access-api/). Please explain how to manage Knative using REST API.

[2019-06-13 18:25] RichieEscarez opened #1462 "Create and use variables for references to release branches"
All code samples include version specific `git clone -b [BRANCH_VERSION] ....` commands. We should replace hardcoded branch names (`release-0.6`) with a variable that automatically gets populated with the corresponding branch during site build time.

ie. create a Hugo shortcode that dynamically pulls in the corresponding value from the config.yaml file

[2019-06-13 21:53] RichieEscarez opened #1465 "Create "how to use Blog post" instructions"
We need clear instructions on how to easily post to the Hugo-based blog post on knative.dev:
- what [front matter](https://gohugo.io/content-management/front-matter/) is required
- how to use [Hugo link syntax](https://gohugo.io/content-management/cross-references/) (best way since URLs get prefixed with the date which makes relative URL unintuitive)
- mention tips (or gotchas) for using Markdown

[2019-06-13 22:37] ahmetb opened #1466 "Too much ibmcloud references in "deploying private images" docs"
re: https://knative.dev/docs/serving/deploying-with-private-registry/

This document actually uses a lot of `ibmcloud` CLI which isn't relevant to most users, yet it's not branded as "how to do X on IBM Cloud":
 ![image](https://user-images.githubusercontent.com/159209/59471722-d19e7100-8df0-11e9-8223-452e475148aa.png)

By doing so, it misses the main point of imagePullSecrets auth, which is, you

[2019-06-14 09:49] abrennan89 commented on #1331
@ahmetb @samodell added a PR for this - can be closed once this is reviewed :)

[2019-06-14 21:14] kwyn opened #1472 "Code blocks on some pages appear to escape `"` character"
## Expected Behavior
Code blocks should not escape `"` characters

## Actual Behavior
Code blocks appear to escape `"` as `&#34;`

## Steps to Reproduce the Problem

1. go to https://knative.dev/docs/serving/samples/secrets-go/

## Additional Info
**Additional context**
I'm on Firefox 67.0.2 on MacOS 10.14.5

Screenshot:
![Screen Shot 2019-06-14 at 2 03 37 PM](https://user-images.githubusercontent

[2019-06-14 22:40] grantr opened #1473 "Kubernetes Event Source sample doesn't tell me where to find files"
## Expected Behavior

Going through [the Kubernetes Event sample](https://knative.dev/docs/eventing/samples/kubernetes-event-source), I can complete the sample using just the commands and instructions on the page.

## Actual Behavior

Commands refer to files that are not explained in the doc, so I have to know where those files are or go looking for them. More likely I'll just stop.

## Steps to R

[2019-06-15 23:28] sfxworks commented on #1472
Just noticed this.
Was going to make a PR to a doc I noticed to correct a python script, but they appear fine in the README files.

[2019-06-15 23:28] sfxworks commented on #1472
This also applies to single quotes (&#39;)

[2019-06-17 11:44] rinormaloku commented on #800
Hi @carieshmarie

I wrote an example of EventDisplay (from the CountainerSource [guide](https://github.com/knative/docs/blob/master/docs/eventing/samples/container-source/README.md)) in java, here: https://github.com/rinormaloku/event-display-java.

Because this is related to some work that I am doing I could provide the examples, just give me some directions, where to add the examples and is the

[2019-06-17 11:50] abrennan89 commented on #1340
/unassign abrennan89

[2019-06-17 11:50] abrennan89 commented on #1340
/assign @joaedwar

[2019-06-17 15:34] samodell commented on #1340
@abrennan89 , if @joaedwar  isn't a member of the Knative org on GitHub, you won't be able to assign to her. If you want to become a member, Joan, I'd be happy to sponsor you! Just let me know.

[2019-06-17 16:00] dprotaso opened #1475 "Remove/Deprecate Build in the docs/website"
## What is changing? (Please include as many details as possible.)

Build is deprecated/being removed.

## How will this impact our users?

Docs don't mention this hence users will continue using this without being aware of it's deprecation.

## In what release will this take happen (to the best of your knowledge)?
All

## Context
Link to associated PRs or issues from other repos here.

1. https:/

[2019-06-17 16:53] samodell commented on #1475
No immediate action should be taken. Waiting on https://github.com/knative/build/issues/614

[2019-06-17 16:54] RichieEscarez opened #1476 "[Proposal] Apply a kind/proposal label for all Knative proposals"
For tracking and awareness across all Knative repos, can we update our process to require the `kind/proposal` label for any proposal created in any repo?

Using a label for all proposals could increase awareness and will allow simple tracking (you can view a list of all proposals on a single page):

https://github.com/search?q=org%3Aknative+label%3Akind%2Fproposal

Having a single reference point

[2019-06-17 17:20] evankanderson commented on #1476
What do you expect the semantics of `kind/proposal` to be? I'm not sure it's aligned right now. Which of the following would you expect to be tagged?

* Major engineering re-architecture which doesn't have direct user impact?
* Suggested process change around bug triage?
* New feature on an existing custom resource?
* New custom resource which is user-facing?
* New custom resource which is inernal

[2019-06-17 17:20] evankanderson commented on #1476
Added to the June 20 TOC meeting

[2019-06-17 17:56] samodell commented on #1472
@RichieEscarez  I'm guessing this is happening at build time, since the source seems correct?

[2019-06-17 18:22] RichieEscarez commented on #1476
Good question. The docs team is most concerned with "external facing changes" and I envision this as being one possible 'tool' for determining what might or is going into the V.next release.

If we were to narrow the scope of this down to just what the docs team would find most useful, I would expect the `kind/proposal` label on:

* any external change that impacts users (of which might, or does r

[2019-06-18 06:38] #1454 closed

[2019-06-18 06:41] modassarrana commented on #1454
Issue was not with uninstallation & installation . But issue was w.r.t istio sidecar injection , and as a result of that sidecar pods was failling.

Replica sets were failing ultimately.
Issue is resolved after setting istio injection as disabled .

[2019-06-18 08:22] michael-serchenia opened #1479 "Broken link"
i've found broken link,
https://knative.dev/docs/serving/
link:  [Source-to-URL with Knative Serving](https://knative.dev/docs/serving/samples/source-to-url-go/index.html)

[2019-06-18 15:01] abrennan89 opened #1482 "'Hello World - Spring Boot Java' step numbers all render as 1."
## Expected Behavior
Steps should display as 1., 2., 3., etc

## Actual Behavior
All steps are rendering on the site as 1. likely due to a formatting issue

## Steps to Reproduce the Problem

1. You can see this present for steps for the tasks in https://knative.dev/v0.4-docs/serving/samples/hello-world/helloworld-java/

[2019-06-18 16:44] RichieEscarez commented on #1440
I'll take a look into this soon. It might be a simple button that I need to click in the Netlify UI (the host we use for the site).

[2019-06-18 18:47] kzjackson1 opened #1484 "Code Formatting Improvements on Getting Started with App Deployment"
**Describe the change you'd like to see**
On the page, the example code block contain both the command prompts for the step as well as its expected return value. While this information is useful, it can be confusing what the user is meant to enter, especially when attempting to copy/paste content.

It would be nice if the command prompt and expected return value could be in separate code blocks or

[2019-06-19 18:39] steren opened #1489 "blue/green deployment tutorial should use new v1beta1 API shape"
Knative version 0.6+
https://knative.dev/docs/serving/samples/blue-green-deployment/

Doing blue green deployment is done via:
- Using *one* Service object.
- Controlling the revision names
- Updating the traffic section with the revision names and percentages

[2019-06-19 18:40] steren commented on #1489
CC @mchmarny

[2019-06-19 20:53] samodell commented on #1479
Thanks for opening an issue, but this is a duplicate of #1449

[2019-06-19 20:54] samodell commented on #1479
Actually, I'm going to close the other one, since this clearly calls out where the link was found.

[2019-06-19 20:55] samodell commented on #1449
#1479 states where this link occurs, so I'm closing this one as a duplicate and leaving the other open.

[2019-06-19 20:55] #1449 closed

[2019-06-19 21:17] mdemirhan opened #1492 "'Accessing logs' needs updates"
Serving no longer writes Istio access logs and instructions under 'Accessing request logs' is no longer valid and needs to be replaced with the new access logs we introduced in queue-proxy. In addition, access logs in queue-proxy is disabled by default and we need to document how to enable them in this documentation as well.

[2019-06-19 22:14] houshengbo commented on #1415
/assign @houshengbo

[2019-06-19 22:15] houshengbo commented on #1415
/unassign @houshengbo

[2019-06-20 08:49] jpds commented on #1440
It would seem that this is the case. :)

- https://www.netlify.com/blog/2018/11/26/announcing-ipv6-support-on-the-netlify-application-delivery-network/
- https://www.netlify.com/docs/dns/#ipv6-traffic

[2019-06-20 18:27] kzjackson1 opened #1495 "Writing an eventing source the hard way(docs/eventing/samples/writing-a-source/_index.md) appears to be missing content"
**Describe the change you'd like to see**
The *Dispatching Events* step is listed as (TODO). It is unclear if there is documentation for this or if the list item should be deleted.

**Additional context**
N/A

[2019-06-20 18:29] kzjackson1 commented on #1495
On a second read-through, there is an additional (TODO) in the body of the document as well:

I believe this would link to the same documentation as the previous comment, but I'm unclear on that.

[2019-06-20 20:35] kwyn commented on #1472
Where does the build code live for the document website out of curiosity?

[2019-06-20 21:58] RichieEscarez commented on #1472
Our website content is located in [knative/website](https://github.com/knative/website). Regarding this issue, i've found a solution (and the cause, which i unintentionally introduced [here](https://github.com/knative/website/pull/53)).

Basically, Hugo had a breaking change type fix for how it treats 'shortcodes'. It improved things by sending the shortcode content to the markdown processor. You

[2019-06-20 22:12] kwyn commented on #1472
Okay! Let me know if I can help at all. I have so experience with Javascript as well if that's involved at all.

[2019-06-20 22:28] RichieEscarez commented on #1472
Will do. No Javascript needed yet but Ill reach out when that day comes.
 And, thanks @kwyn!

[2019-06-20 22:34] samodell commented on #1489
I think this was (partially?) addressed by #1493

[2019-06-20 22:43] steren commented on #1489
No, https://github.com/knative/docs/blob/master/docs/serving/samples/blue-green-deployment.md is not up to date with how to simply do blue/green with the v1beta1 API.

Blue/green deployment is as easy as:

[code]

[2019-06-21 10:51] joaedwar opened #1498 "Minor Typo in README.md"
**Describe the change you'd like to see**
I think should be `Edit this page` instead of  `Edit ths page` and  need to remove 's' in lets

**Additional context**

[2019-06-21 16:52] #1498 closed

[2019-06-23 21:14] joaedwar opened #1506 "Formatting Issue with Procedure for Hello World - Spring Boot Java"
## Expected Behavior
Procedure is formatted with only the code in code blocks

## Actual Behavior
Entire procedure is in a code block

## Steps to Reproduce the Problem
1. (docs/serving/samples/hello-world/helloworld-java-spring/_index.md)

## Additional Info
**Additional context**
![Screenshot from 2019-06-23 22-13-21](https://user-images.githubusercontent.com/42442393/59982034-426d3680-9604-11e9

[2019-06-24 04:42] zgfh opened #1509 "code format error when use ""
## Expected Behavior
https://knative.dev/docs/serving/samples/hello-world/helloworld-go/
[code]

## Actual Behavior

[code]

[2019-06-24 09:51] joaedwar opened #1510 "Outdated link for Installing Openshift via OperatorHub (in docs/install/_index.md)"
## Expected Behavior
Installation procedure for Knative Install on OpenShift via Operator

## Actual Behavior
Outdated installation procedure for installing Knative with an operator

## Steps to Reproduce the Problem

1. Go to https://knative.dev/docs/install/
1. Click on **Knative Install on OpenShift via Operator**

## Additional Info
**Additional context**
Add any other context about the proble

[2019-06-24 15:32] samodell commented on #1509
Thanks for opening this issue, but I'll have to close it out since it's a duplicate of #1472

[2019-06-24 15:32] #1509 closed

[2019-06-24 15:34] samodell commented on #1495
We'll assign this to @grantr , the original author of the guide.

[2019-06-24 18:23] #1473 closed

[2019-06-24 20:16] grantr opened #1515 "Document Eventing's tracing support"
**Describe the change you'd like to see**
As of https://github.com/knative/eventing/issues/704, Eventing now supports tracing in several components but it's all undocumented.

**Additional context**

@Harwayne

[2019-06-25 14:49] abrennan89 opened #1519 "Add caveat about custom-metrics API"
**Doc requirement from Markus**

Registering the custom-metrics API can clash if the user already has a custom-metric API implementation hooked up in their cluster.

We'll need to document that caveat and document that one will not be able to use custom-metrics (and HPA on concurrency metrics for that matter) on those clusters for now.

**Additional context**

We'll need to document a caveat, basi

[2019-06-25 14:49] abrennan89 commented on #1519
/assign abrennan89

[2019-06-25 14:50] abrennan89 commented on #1519
/kind serving

[2019-06-25 14:50] abrennan89 commented on #1519
/kind needs-eng-input

[2019-06-25 14:51] abrennan89 commented on #1519
/status in-progress

[2019-06-25 15:18] abrennan89 commented on #1519
Have a draft ready for this, reviewing with Markus and need to add the commands and then it should be good to go.

[2019-06-25 17:37] samodell opened #1521 "Edit Sequence docs"
**Describe the change you'd like to see**
Further edits/improvements to the new Sequence docs added in PR #1481

**Additional context**
Docs were merged in due to time constraints -- wanted them in for 0.7, but didn't have time for a full review.

[2019-06-25 17:49] samodell opened #1522 "Edit "Knative Kubernetes Services" doc"
**Describe the change you'd like to see**
Edit the content added in PR #1467

[2019-06-25 18:18] #1331 closed

[2019-06-25 18:59] #1312 closed

[2019-06-25 23:15] #1510 closed

[2019-06-26 01:20] csantanapr opened #1527 "quotes " are rendered incorrectly across the site as &#34"
quotes " are rendered incorrectly across the site as &#34

Visit a page with terminal or code sample with quotes "
https://knative.dev/development/serving/samples/hello-world/helloworld-go/index.html
You see it's rendered incorrectly :
![image](https://user-images.githubusercontent.com/1094878/60143903-7e340780-978e-11e9-87a9-e974f572d461.png)

Original markdown is correct:
https://github.com/knat

[2019-06-26 01:58] csantanapr commented on #1527
It's not just quotes but also any other none alphanumeric character

![image](https://user-images.githubusercontent.com/1094878/60145521-4a5be080-9794-11e9-8222-897fa1bc97c9.png)

[2019-06-26 02:25] samodell commented on #1527
True! This is a known issue, and @RichieEscarez  is working on it. Closing this in favor #1472 , though.

[2019-06-26 02:25] #1527 closed

[2019-06-26 05:31] RichieEscarez opened #1528 "Cannot build release 0.7 API docs for knative/eventing-contrib"
Following the [instructions to build the Knative API docs](https://github.com/knative/docs/blob/master/docs/reference/README.md) fails (see error below) for the knative/eventing-contrib repo.

The [gen-api-reference-docs.sh](https://github.com/knative/docs/blob/master/hack/gen-api-reference-docs.sh) script looks for the API in the [repo]`/pkgs/apis/` folder but that is no longer the structure of t

[2019-06-26 17:35] #1460 closed

[2019-06-26 18:05] jamesward commented on #1036
This is failing again on `0.7.0`

[2019-06-26 18:09] samodell commented on #1036
@jamesward  Could you paste the error messages you get here to help us trouble-shoot?

[2019-06-26 18:12] jamesward commented on #1036
[code]

[2019-06-26 18:15] RichieEscarez opened #1533 "Hardcoded links to Knative/serving repo are not versioned"
Hardcoded links to content that lives in the knative/serving repo should not point to the `master` branch for "versions/released content/branches".

[Seach results of bad links](https://github.com/knative/docs/search?q=%22https%3A%2F%2Fgithub.com%2Fknative%2F%22+%26+%22%2Fmaster%2F%22&unscoped_q=%22https%3A%2F%2Fgithub.com%2Fknative%2F%22+%26+%22%2Fmaster%2F%22)

Resolution:
- Determine if that li

[2019-06-26 18:16] samodell commented on #1036
Thanks, @jamesward ! sometimes in the past these issues were resolved by re-running the same command a second time. Does that work in this case?

[2019-06-26 18:16] RichieEscarez opened #1534 "Hardcoded links to Knative/eventing* repos are not versioned"
Hardcoded links to content that lives in the knative/eventing and knative/eventing-contrib repos should not point to the `master` branch in those repos for "versioned/releases content/branches".

[Seach results of bad links](https://github.com/knative/docs/search?q=%22https%3A%2F%2Fgithub.com%2Fknative%2F%22+%26+%22%2Fmaster%2F%22&unscoped_q=%22https%3A%2F%2Fgithub.com%2Fknative%2F%22+%26+%22%2Fma

[2019-06-26 18:18] jamesward commented on #1036
yup! re-running it resolves the issue.

[2019-06-26 20:12] RichieEscarez commented on #1528
For 0.6 and earlier, this is the page that gets generated and published on knative.dev: https://knative.dev/docs/reference/eventing/eventing-sources-api/

Now that we have "knative/eventing-contrib", do we still need to build API ref docs from the repo?

[2019-06-26 20:20] n3wscott commented on #1528
Yes and there are sources in `knative/eventing` too

[2019-06-26 20:40] ahmetb commented on #1528
Looks like there’s a bug in the gengo/parser we’re using. I will try to find some time to debug it.

[2019-06-26 20:50] RichieEscarez commented on #1528
@n3wscott, to clarify, is the following folder where the API docs should be generated for sources/channels (in knative/eventing):
https://github.com/knative/eventing/tree/master/contrib

[2019-06-26 21:49] RichieEscarez commented on #1528
Thanks @ahmetb! Here are more details from a meeting with Scott:

UPDATE:

Re: sources in `knative/eventing`
- The API content in `knative/eventing` already gets picked up by the existing API doc gen tool. The built output is staged here (from `master`): https://knative.dev/development/reference/eventing/#sources.eventing.knative.dev

**TODO**

Generate API ref docs for the available ["eventing re

[2019-06-26 22:23] RichieEscarez opened #1537 "Broken links in Knative Eventing sources(development/eventing/sources/_index.md)"
This page includes several broken links and likely needs to be rebuilt

As a temporary fix, we should consider manually removing the HTML comment (negative result from Hugo builds double processing .md files - the long term fix is WIP #1516 )

[2019-06-26 23:49] n3wscott opened #1541 "Heads up: Go Import paths that used github.com/knative/pkg are now knative.dev/pkg"
Go Import paths that used `github.com/knative/pkg/*` are now `knative.dev/pkg/*`

[2019-06-27 05:30] ahmetb commented on #1528
@RichieEscarez can you share the full command you're running? Since I'm not following the OSS repos (e.g. I didn't add `KNATIVE_EVENTING_SOURCES_REPO="github.com/knative/eventing-contrib"`) I don't know much about what's going on here.

[2019-06-27 19:01] RichieEscarez commented on #1476
Closing. Post TOC discussion. TODO: work with @eallred-google to define a formal process for flagging external facing change

[2019-06-27 19:01] #1476 closed

[2019-06-27 19:03] ahmetb commented on #1528
@n3wscott @RichieEscarez some thoughts below:

tl;dr unless eventing-contrib repo adheres some standard directory structure in the long-term, supporting that repo's api docs generation will not be easy (i.e. I personally wouldn't), and it would cause more issues like this.

1. `-contrib` repo sounds like unofficial stuff, I'm thinking maybe it's not P1 to have ref docs for these.

2. `-contrib` re

[2019-06-27 20:06] #1340 closed

[2019-06-27 20:45] joaedwar opened #1550 "Update Image for Install Knative on OpenShift"
**Describe the change you'd like to see**
Get rid of the duplicate image. An updated image is needed for the installation procedure

[2019-06-27 21:20] #1550 closed

[2019-06-27 21:53] ahmetb commented on #1528
I have a patch in https://github.com/knative/docs/pull/1552

The generator script wasn't working for two reasons:

1. We used `-api-dir ./pkg/apis` for all repos, now it's specified per-repo.

2. When we specified `-api-dir=.`, the generator tool scanned for all packages in the repo (which is what we want) but a package from `vendor/` was picked up https://github.com/knative/eventing-contrib/tree/

[2019-06-28 08:56] daisy-ycguo commented on #1448
Close it because the issue is not valid.

[2019-06-28 08:56] #1448 closed

[2019-06-28 13:38] maximilien opened #1555 "Add reference / section for Knative `kn` Client CLI"
[github.com/knative/client](https://github.com/knative/client)

**Describe the change you'd like to see**

* Add a section on the Client in the Knative docs

Since the Knative `kn` client CLI is readying it’s second release, and we would like to have more folks tinkering with it and get Knative users to start using it, I wonder if it’s time to ?

* Start adding references to the `kn` client CLI in

[2019-06-28 17:55] #1522 closed

[2019-06-28 18:02] RichieEscarez commented on #1134
Ive added the Google Privacy Policy re: https://github.com/knative/website/pull/24

Next step: Remove hard coded "in-page" footers

[2019-06-28 22:17] #1528 closed

[2019-06-28 22:21] RichieEscarez opened #1559 "gen-api-reference-docs API docs build script limitations"
The https://github.com/knative/docs/blob/master/hack/gen-api-reference-docs.sh API docs build script currently has the following issues:

(1)
The HTML output is incorrectly picking up a closing parenthesis from the API comment:
https://github.com/knative/eventing-contrib/blob/9d20f1c0ceeffd937d70d77abbea8bb1df3c32f3/contrib/gcppubsub/pkg/apis/sources/v1alpha1/gcp_pubsub_types.go#L58

The 404 is ca

[2019-06-28 23:57] ahmetb commented on #1559
@RichieEscarez going forward it would be ideal to create these issues on the tool's repo (or in both places).

Looks like we can't fix the closing parents included in the links. https://github.com/ahmetb/gen-crd-api-reference-docs/issues/8 I recommend adding a space before them in the code. Feel free to make the PRs. I suspect it's not a big issue.

[2019-06-30 12:07] Szymongib opened #1563 "Several broken links in Serving documentation"
## Expected Behavior

Links in code samples section should point to tutorials (or perhaps be removed?).

## Actual Behavior

Several links in code samples section for the Serving component return 404.

## Steps to Reproduce the Problem

Broken links:
- https://knative.dev/development/serving/samples/build-private-repo-go/index.html
- https://knative.dev/development/serving/samples/buildpack-app-do

[2019-07-01 12:02] marcoliceti opened #1565 "Install on Minikube(docs/install/Knative-with-Minikube.md)"
## Expected Behavior

Instructions for [installing Knative on Minikube](https://knative.dev/docs/install/knative-with-minikube/) should work.

## Actual Behavior

Installation fails when I issue this command:

[code]
The error is:

[code]

## Steps to Reproduce the Problem

1. Install Minikube.
2. Install Istio.
3. Install KNative following [these instructions](https://knative.dev/docs/install/kna

[2019-07-01 20:10] #1559 closed

[2019-07-01 20:20] samodell commented on #1555
cc @sixolet

I had been in touch with Naomi a bit about this, but we didn't come to a final conclusion.

For now, I would love to see the docs for using `kn` (https://github.com/knative/client/tree/master/docs) moved into the Docs repo. I'm happy to help out with that.

I don't think we should recommend `kn` as the primary way to interact with Knative until it works with Eventing as well as Servin

[2019-07-02 21:25] balopat commented on #1234
I just ran into this exact same issue today - not using HEAD - I was using the gloo installation and the latest 0.7 instructions on the docs to [deploy an app](https://knative.dev/docs/install/knative-with-gloo/#deploying-an-app). So there might be a disconnect in versions there too.

[2019-07-02 22:27] #1492 closed

[2019-07-03 00:06] modassarrana commented on #1234
i was using the different template structure for creating service.yaml . Thats why it was failing. Check the service specification of 0.7 . it will resolve your issues, If you are still facing the issue , share me your service.yaml file . i will check it

[2019-07-03 21:29] RichieEscarez commented on #1559
Parenthesis issue is tracked in https://github.com/ahmetb/gen-crd-api-reference-docs/issues/8

[2019-07-04 15:09] marcoliceti opened #1574 "Sample app not working in an environment without direct internet connection"
## Expected Behavior

The sample app should return an hello world message.

## Actual Behavior

It returns a 404 instead.

## Steps to Reproduce the Problem

1. Install Minikube.
2. [Install Knative](https://knative.dev/docs/install/knative-with-minikube/).
3. [Deploy the app](https://knative.dev/docs/install/getting-started-knative-app/).

## Additional Info
**Additional context**
I'm using a CNT

[2019-07-05 07:04] skuehnlein opened #1575 "Install on OpenShift(docs/install/Knative-with-OpenShift.md)"
Hallo
I'm trying to install Knative on an OpenShift cluster which I have started with oc cluster up. The cluster is working
When I try to install Istio with the command
curl -L https://storage.googleapis.com/knative-releases/serving/latest/istio.yaml \
   | sed 's/LoadBalancer/NodePort/' \
   | oc apply --filename -

I get an error.

error: unable to decode "STDIN": Object 'Kind' is missing in '{"

[2019-07-05 09:13] rinormaloku commented on #1413
Yo! This wasted 2 days of work for me.
Apparently, the idea behind is to enforce immutability and statelessness of a revision.

But then again, you can easily have a configmap mount it into a container change the configmap and the service wouldn't be immutable, i.e. new instances would have a different configuration.

The question is are we really achieving immutability? Or am I getting the gist w

[2019-07-05 10:00] joaedwar commented on #1575
Hallo
The curl command does not return a valid resource, instead an XML error message is returned.

Istio is installed when you install Knative serving. Please see updated documentation [here](https://github.com/knative/docs/blob/master/docs/install/Knative-with-OpenShift.md). This documentation walks you through installing Knative Serving  (as well as Istio) via an operator.

or

for Knative you

[2019-07-05 10:10] marcoliceti opened #1576 "Impossible to deploy app on Knative with Gloo"
## Expected Behavior

The [hello world go app](https://knative.dev/docs/install/getting-started-knative-app/) should be deployable.

## Actual Behavior

It fails:

[code]

## Steps to Reproduce the Problem

1. Install and start Minikube.
2. [Install Gloo and Knative](https://knative.dev/docs/install/knative-with-gloo/).
3. [Try to deploy the sample app](https://knative.dev/docs/install/getting-sta

[2019-07-06 10:21] arindam-b opened #1578 ""Gateway" not recognized: Install on Google Kubernetes Engine(docs/install/Knative-with-GKE.md)"
#470  Expected Behavior

While installing knative serving on GKE, getting the following error:

[code]

## Actual Behavior
following error encountered:

[code]

Followed exactly the recommended procedure.

So when I tried to search knative-ingressgateway, it fails:

[code]

**Install information:**
 - Platform (GKE): 1.13.7-gke.8
 - Knative Version: v0.7

Any wayout?

[2019-07-08 16:44] joaedwar opened #1581 "Add Camel sources file to directory with README"
## Expected Behavior

## Actual Behavior
Link is broken...
 eventing-contrib/camel/source/samples/source_camel_k.yaml  needs to be in the docs/eventing/samples/apache-camel-source directory.

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
Broken link

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2019-07-08 22:21] kzjackson1 commented on #1576
/label needs-eng-input

[2019-07-08 22:23] #1038 closed

[2019-07-08 22:24] carieshmarie commented on #1036
Closing this issue as I believe it's resolved. Feel free to reopen if I'm incorrect.

[2019-07-08 22:24] #1036 closed

[2019-07-08 22:29] kzjackson1 commented on #1576
/label needs-eng-input

[2019-07-08 22:31] samodell commented on #1576
/label needs-eng-input

[2019-07-08 22:31] samodell commented on #1576
/label kind-networking

[2019-07-08 22:34] samodell commented on #1576
/needs-eng-input

[2019-07-08 22:35] samodell commented on #1576
/kind networking

[2019-07-08 22:37] samodell commented on #1576
/needs-eng-input

[2019-07-08 22:39] kzjackson1 commented on #1578
/kind needs-eng-input

[2019-07-08 22:42] kzjackson1 commented on #1575
/close

[2019-07-08 22:42] #1575 closed

[2019-07-08 22:45] carieshmarie commented on #1022
Jason - do these samples still exist? If so, can you let us know where they are? We're currently linking to the above samples from our docs.

[2019-07-08 22:47] RichieEscarez commented on #518
New docs contributor guide: https://knative.dev/contributing/docs-contributing/

[2019-07-08 22:47] #518 closed

[2019-07-08 22:54] RichieEscarez commented on #517
Closing due to age of the issue and that these files have been touched several times since this was first opened.

[2019-07-08 22:54] #517 closed

[2019-07-08 22:58] RichieEscarez commented on #515
Closing due to age of the issue and the fact that these files have been touched several times since this issue was first opened

[2019-07-08 22:58] #515 closed

[2019-07-08 23:00] carieshmarie commented on #1013
Looks like this is still an issue in the YAML files, now renamed by component. Ex: serving.yaml.

Marking this as a P3, but feel free to submit a PR to fix this issue. Thanks!

[2019-07-08 23:00] samodell commented on #1415
These pages were recently update: https://github.com/knative/docs/pull/1568

Closing, since I think the updates might resolve your issue, but please reopen if the the new documentation doesn't help.

[2019-07-08 23:00] #1415 closed

[2019-07-08 23:01] RichieEscarez commented on #466
These files have moved to /community: https://github.com/knative/docs/tree/master/community/samples/serving

Closing due to age.

[2019-07-08 23:01] #466 closed

[2019-07-08 23:02] samodell commented on #1406
Closing as a duplicate.

[2019-07-08 23:02] #1406 closed

[2019-07-08 23:02] kzjackson1 commented on #1541
@n3wscott Would action should the docs team take on this issue? Thanks!

[2019-07-08 23:03] RichieEscarez commented on #498
Sample about websocket as an Eventing source https://github.com/knative/eventing-contrib/tree/master/cmd/websocketsource

[2019-07-08 23:03] #498 closed

[2019-07-08 23:05] carieshmarie commented on #995
Is this still an issue we want to leave open?

[2019-07-08 23:06] carieshmarie commented on #986
Closing this as a duplicate to is #1050

[2019-07-08 23:06] #986 closed

[2019-07-08 23:07] samodell commented on #1376
@ahmetb  If you don't have time to implement the solution you suggested, could you open an issue in Serving to suggest someone else do it?

[2019-07-08 23:08] RichieEscarez commented on #300
Being deprecated: https://github.com/knative/build/blob/master/README.md

[2019-07-08 23:08] #300 closed

[2019-07-08 23:09] RichieEscarez commented on #445
duplicate: https://github.com/knative/docs/issues/533

[2019-07-08 23:09] #445 closed

[2019-07-08 23:16] kzjackson1 commented on #1459
/kind enhancement

[2019-07-08 23:16] ahmetb commented on #1376
Waiting input from @mattmoor.
Not sure what's the right --jsonpath option here.

[2019-07-08 23:17] carieshmarie commented on #983
I think this issue has been resolved with #1036, as mentioned, but please reopen if I'm mistaken.

[2019-07-08 23:17] #983 closed

[2019-07-08 23:19] carieshmarie commented on #932
Has this code snippet been added? If so, can you link it here so we have more context?

Feel free to open a PR with a draft of the instructions. :)

[2019-07-08 23:25] samodell commented on #1280
The issue Ville pointed out is fixed now on the live site, so closing this out.

https://knative.dev/docs/reference/eventing/#eventing.knative.dev

[2019-07-08 23:25] #1280 closed

[2019-07-08 23:26] jamesward commented on #1036
@carieshmarie Can you point me to the doc or product fix?

[2019-07-08 23:28] samodell commented on #1086
Hey @chaodaiG  -- if you still feel up to editing the sample, go for it! Otherwise, you can close this issue if it's not a priority. Assigning to you for now.

[2019-07-08 23:30] chaodaiG commented on #1086
It doesn't feel like a priority for now, let's close it
/close

[2019-07-08 23:30] #1086 closed

[2019-07-08 23:31] RichieEscarez commented on #533
Ping: Has the process for "upgrading" an installation been defined/resolved?

[2019-07-08 23:34] carieshmarie commented on #1036
I think following the instructions added in #1194 should prevent encountering the issue.

[2019-07-08 23:35] samodell commented on #1191
Related: https://github.com/knative/docs/issues/533

[2019-07-08 23:35] RichieEscarez commented on #411
Closing due to age.

[2019-07-08 23:35] #411 closed

[2019-07-08 23:36] RichieEscarez commented on #387
Closing. Build to be deprecated.

[2019-07-08 23:36] #387 closed

[2019-07-08 23:37] RichieEscarez commented on #1216
Build to be deprecated

[2019-07-08 23:37] #1216 closed

[2019-07-08 23:37] RichieEscarez commented on #780
Build to be deprecated

[2019-07-08 23:37] #780 closed

[2019-07-08 23:38] RichieEscarez commented on #932
Build to be deprecated

[2019-07-08 23:38] #932 closed

[2019-07-08 23:38] RichieEscarez commented on #709
Build to be deprecated

[2019-07-08 23:38] #709 closed

[2019-07-08 23:39] RichieEscarez commented on #382
Build to be deprecated

[2019-07-08 23:39] #382 closed

[2019-07-08 23:39] #377 closed

[2019-07-08 23:39] RichieEscarez commented on #386
Build to be deprecated

[2019-07-08 23:39] #386 closed

[2019-07-08 23:40] kzjackson1 commented on #1352
\kind needs-eng-input

[2019-07-08 23:41] #920 closed

[2019-07-08 23:47] samodell commented on #1266
For debugging help, you'll have better luck posting on our Slack channel or opening an issue in the related component, like Knative/Serving or Knative/Eventing. http://slack.knative.dev

[2019-07-08 23:47] #1266 closed

[2019-07-09 04:20] mattmoor commented on #1376
IDK of a cleaner solution, not do I know of a provider for which the command you have given breaks.

[2019-07-09 05:49] jamesward commented on #1036
Unfortunately those instructions no longer prevent the issue on 0.7.  Since it is a race condition, the issue is intermittent and the fix in #1194 no longer works consistently.

[2019-07-09 07:38] marcoliceti commented on #1576
I noticed that `service.yaml` in the example [from KNative docs](https://knative.dev/docs/install/getting-started-knative-app/) has a different format than the one [from Gloo's documentation](https://gloo.solo.io/user_guides/knative/).

Maybe the documentation has to be updated to this new format?

[2019-07-09 08:49] ImJasonH commented on #1022
The buildpacks yaml was renamed to cnb.yaml: https://github.com/knative/build-templates/blob/master/buildpacks/cnb.yaml

[2019-07-09 15:55] CelsoSantos commented on #1576
I'm also facing the same issue..

[2019-07-09 17:02] RichieEscarez commented on #533
Related: https://github.com/knative/serving-operator/issues/59

[2019-07-09 17:09] #1563 closed

[2019-07-09 19:21] #1457 closed

[2019-07-09 19:25] kzjackson1 commented on #1425
I think that this is a duplicate of #1473 (or, rather, that #1473 is a duplicate of this issue). That issue has been resolved, so I'll close this issue.

/close

[2019-07-09 19:25] #1425 closed

[2019-07-10 05:00] ahmetb commented on #1376
In that case we should still keep it open unless we fix. It will be a problem for almost everyone using Knative on AWS for the first time.

[2019-07-10 17:28] kzjackson1 commented on #1294
The fix for this issue has been merged.
/close

[2019-07-10 17:28] #1294 closed

[2019-07-11 18:46] kenny-chu opened #1593 "knative sample service fails with timeout"
## Expected Behavior
The helloworld sample service to be deployed according to https://knative.dev/docs/install/getting-started-knative-app/

## Actual Behavior

$ kubectl apply -f service.yaml
Error from server (InternalError): error when creating "service.yaml": Internal error occurred: failed calling webhook "webhook.serving.knative.dev": Post https://webhook.knative-serving.svc:443/?timeout=30

[2019-07-11 23:08] samodell opened #1595 "test issue"
Testing prow labeling

[2019-07-11 23:08] samodell commented on #1595
/triage needs-eng-input

[2019-07-11 23:09] samodell commented on #1595
/kind eventing

[2019-07-12 01:46] RichieEscarez commented on #1459
Hugo Markdown processor does not like mixed content  (ie Markdown and HTML), especially for content in shortcodes because it can then be sent to the Markdown processor twice (so our HTML gets processed as Markdown).

[2019-07-12 07:26] iamcc opened #1597 "Making your Routes local to the cluster(docs/serving/cluster-local-route.md)"
## Expected Behavior
I get a service with label `serving.knative.dev/visibility: cluster-local`
example: internal.develop.svc.cluster.local

I get another service without the label.
example: proxy.develop.example.com
And in the proxy service, `nslookup internal.develop.svc.cluster.local` should be ok.

## Actual Behavior
But I got an error with `cannot resolve the hostname`

## Steps to Reproduce

[2019-07-12 07:27] iamcc commented on #1597
Knative Version: 0.7

[2019-07-15 06:48] toshi0607 commented on #1578
I faced same error. But in my case (versions of GKE and Knative are same), when creating cluster, I forgot to add `--addons=HorizontalPodAutoscaling,HttpLoadBalancing,Istio` and failed to install Istio.
You can check whether Istio is enabled or not by clicking cluster name on GKE console.

[code]

[2019-07-15 21:31] arindam-b commented on #1578
Thanks, I did not keep HorizontalPodAutoscaling before. So it did not work.

[2019-07-15 21:31] #1578 closed

[2019-07-16 17:46] kenny-chu commented on #1593
It seems this is probably likely due to the proxy though I believe I've set that up correctly for docker and kubernetes. Is there something I need to do for knative as well?

[2019-07-16 19:04] rranjan-us opened #1601 "Install on Minikube(docs/install/Knative-with-Minikube.md)"
## Expected Behavior
No error when install of knative CRDs

## Actual Behavior
Message like "unable to recognize "https://github.com/knative/serving/releases/download/v0.7.0/serving.yaml": no matches for kind "Image"" seen after following step to install knative CRD as per the online documentation.

## Steps to Reproduce the Problem

1. Follow all the steps for v0.7 (https://knative.dev/docs/insta

[2019-07-17 20:10] kenny-chu commented on #1593
I've reinstalled everything following the proxy settings here https://knative.dev/docs/serving/tag-resolution/ with the addition of adding a NO_PROXY variable but I'm still having the same issue. What do I need to provide to debug this issue?

[2019-07-23 08:03] abrennan89 commented on #1367
@samodell build is gone now, isn't it? Is there a plan to remove it in the docs?

[2019-07-23 22:55] ZhiminXiang opened #1614 "Update Installation instruction for Knative 0.8 release"
**Describe the change you'd like to see**
As we will separate cert-manager related components from serving.yaml in our Knative 0.8 release, we need to update the installation instructions accordingly especially the parts related to cert-manager.

Here is the PR in the knative/serving side about the change of yaml generation: https://github.com/knative/serving/pull/4819

[2019-07-24 17:54] ianmiell opened #1616 "PodInitializing and ContainerCreating hangs on knative on MacOS"
Tried to follow the instructions in: https://github.com/knative/docs/blob/master/install/Knative-with-Docker-for-Mac.md

## Expected Behavior

At step:

[code]

All pods start ok.

## Actual Behavior

Some pods hang with no continued details

[code]

`free` on the minikube host shows:

[code]

plenty of CPU, nothing in `kubectl get ev --all-namepaces` for some time, plenty of disk space etc. `kube

[2019-07-24 18:34] #1484 closed

[2019-07-24 20:23] rgregg commented on #1595
I'm closing this out, since it looks like the labels are working.

[2019-07-24 20:23] #1595 closed

[2019-07-24 20:27] rgregg commented on #1614
Please include the changes that need to be made to the documentation for this and provide recommendations for how to install cert-manager separately.

[2019-07-24 20:29] rgregg commented on #1597
This looks like a problem with knative/serving or networking, not an issue in the docs. I'm transfering this over to the serving repo.

[2019-07-25 16:49] Jamison1 commented on #1616
How much memory do you have allocated for docker for Mac?

I ran into the same issue with 8.5GiB.  Increased to 9.0GiB and all pods would spin up.  Needed to increase to 12.0GiB to actually run a test example though.

[2019-07-25 17:04] ianmiell commented on #1616
I think I set to 16g. I definitely upped to twelve having seen a memory
error while fiddling so there should have been plenty.

On Thu, 25 Jul 2019, 17:49 Jamison1, <notifications@github.com> wrote:

[2019-07-25 17:11] nachocano opened #1618 "Document new Channel CRDs Default Mechanism"
## What is changing? (Please include as many details as possible.)
Introduced a new ConfigMap for setting up default Channel CRDs. We need to properly document it.

## How will this impact our users?
v0.9 will remove all Channel provisioner-based stuff, so they will have to switch to Channel CRDs. Once they do that, they will need a way to configure defaults. When doing so, they will need to under

[2019-07-26 18:41] #1593 closed

[2019-07-26 18:41] kenny-chu commented on #1593
Network didn't meet the requirements for calico.

[2019-07-29 06:37] moficodes opened #1622 "Cron job source example(docs/eventing/samples/cronjob-source/_index.md)"
## Expected Behavior
The code snippet should render single quote (') and double quote (") as is.

## Actual Behavior
In the code snippets for examples in the knative.dev website, single quote (') and double quote (") is not rendering right.

[code]

## Steps to Reproduce the Problem
Pretty much anywhere there is a quote
e.g - https://knative.dev/docs/eventing/samples/cronjob-source/

[2019-07-29 18:25] lionelvillard opened #1623 "Document Choice CRD"
## What is changing? (Please include as many details as possible.)

Introducing a new CRD called Choice

## How will this impact our users?

They will be able to use a new CRD to easily specify multiple branches guarded by an optional predicate.

## In what release will this take happen (to the best of your knowledge)?
0.8?

## Context
Link to associated PRs or issues from other repos here.

1. ht

[2019-07-30 17:00] spencer-p opened #1624 "Race condition when installing CRDs with GKE installation guide"
## Expected Behavior

I followed the guide with a brand new clean cluster and project. When I got to the step where you run
[code]
I expected it would install all the CRDs without issue.

## Actual Behavior

The output was as follows:
[code]
There appears to be a race condition on some of the CRDs. Running the command a second time succeeded.

## Steps to Reproduce the Problem

1. Start with a cle

[2019-07-30 20:54] ahmetb opened #1626 "autoscale-go: broken syntax"
link: https://knative.dev/docs/serving/samples/autoscale-go/#Analysis

looks like `<` and `>` in code block are escaped unnecessarily.

![image](https://user-images.githubusercontent.com/159209/62164588-8b826b80-b2d1-11e9-8b1a-05321c8f112d.png)

[2019-07-31 17:36] kzjackson1 opened #1630 "Knative Eventing page has inaccurate dependencies (docs/eventing/readme.md)"
## Expected Behavior
As Knative Eventing and Knative serving are separate components, there should be no dependencies between the two components.

## Actual Behavior

- "Knative Eventing currently requires Knative Serving and Istio version 1.0 or later installed."
- The "Getting Started" Section links to Knative Serving as well.

## Steps to Reproduce the Problem

N/A

## Additional Info
**Additio

[2019-07-31 21:16] #1618 closed

[2019-07-31 22:43] rgregg opened #1632 "Knative should publish a release timeline"
Given we have pretty clear 6-week release intervals, I'd love to see us publishing a guideline for the different releases and their dates, similar to what Node has done here: https://nodejs.org/en/about/releases/

[2019-07-31 23:50] RichieEscarez opened #1633 "Broken links"
The following pages have one or more links that result in a 404:

- [x] https://knative.dev/docs/serving/using-a-tls-cert/
- [x] https://knative.dev/docs/install/knative-custom-install/ (3 total)
- [x] https://knative.dev/docs/install/installing-istio/
- [x] https://knative.dev/docs/build/samples/
- [x] https://knative.dev/docs/serving/
- [x] https://knative.dev/docs/serving/fluentd-requirements/

[2019-08-01 16:38] #1459 closed

[2019-08-01 21:29] #1472 closed

[2019-08-01 21:29] RichieEscarez commented on #1472
Everything is back to normal now!

[2019-08-01 21:31] samodell commented on #1626
Fixed by #1596 !

[2019-08-01 21:31] #1626 closed

[2019-08-02 16:06] RichieEscarez commented on #603
outdated

[2019-08-02 16:06] #603 closed

[2019-08-02 16:10] #1537 closed

[2019-08-02 17:53] grant opened #1639 "Use latest Node LTS for samples"
**Describe the change you'd like to see**
Use Node 12 for all Node samples. (I've tested it locally on Run)

**Additional context**
Detected from:
- https://cloud.google.com/run/docs/quickstarts/build-and-deploy
  - Node quickstart

[2019-08-02 18:13] #1639 closed

[2019-08-02 18:34] #1623 closed

[2019-08-02 20:43] samodell commented on #1633
#1641  fixes 8 of the pages above. Checked them off.

[2019-08-02 21:48] xpepermint commented on #597
The command below returns an empty result on Docker for Mac K8S:

`kubectl logs -l serving.knative.dev/service=event-display -c user-container`

Errors:
[code]

[2019-08-03 00:05] grantr commented on #1417
The concept of importers has been useful for contributors, but it's not clear that it will be useful for users. We're now leaning against renaming identifiers in the code (see https://github.com/knative/eventing/issues/1344#issuecomment-517875279) and haven't decided how much of the importer concept should be in user docs.

[2019-08-03 14:51] mischieflounge opened #1644 "Knative Build code samples(docs/build/samples.md)"
## Expected Behavior

The 'complex code samples' link is broken.

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2019-08-03 14:59] mischieflounge opened #1645 "Investigating performance issues(docs/serving/debugging-performance-issues.md)"
## Expected Behavior

knative 'serving page' image link is broken.

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2019-08-05 18:35] grantr opened #1648 "Install on a Kubernetes cluster(docs/install/Knative-with-any-k8s.md)"
## Expected Behavior

Numbered lists increment the number for each step.

## Actual Behavior

Every step of the numbered list is rendered as step 1. This appears on some numbered lists in several other install docs too. Here are some examples:

https://knative.dev/docs/install/knative-with-gke/
https://knative.dev/docs/install/knative-with-icp/

## Additional Info
This is caused by paragraphs and

[2019-08-05 23:32] RichieEscarez commented on #1239
Instructions and the new local build script are here: https://github.com/knative/website/pull/72/files

(a formal instruction page might come after the 0.8 release)

[2019-08-06 00:20] kzjackson1 opened #1649 "Knative Eventing Docs Missing Documentation (docs/eventing/_index.md)"
## Expected Behavior

No TODOs in the published docs

## Actual Behavior
<!– TODO(evankanderson): add documentation for Kafka bus once it is available. –>

## Steps to Reproduce the Problem

1.  Scroll down to the Architecture Heading
1. Go to the second image.
1. See <!– TODO(evankanderson): add documentation for Kafka bus once it is available. –>

## Additional Info
**Additional context**
I'm no

[2019-08-06 22:17] nachocano opened #1651 "Add attributes filter documentation for Triggers"
## What is changing? (Please include as many details as possible.)
As of 0.8, we are deprecating the `sourceAndType` filter on `Triggers`, and adding a replacement called `attributes`.

## How will this impact our users?
It won't, they will have more functionality available. In a next release, `sourceAndType` will be deleted, so they should be able to migrate to `attributes`

## In what release wi

[2019-08-06 22:17] nachocano commented on #1651
/assign

[2019-08-07 01:06] RichieEscarez opened #1654 "Code sample uses deprecated Knative Build"
The Serving code sample "Deploying with private registry" uses the deprecated Knative Build.

Should this be updated to use Docker?

For the v0.8 release, [this file was removed (pr#1680)](https://github.com/knative/docs/pull/1680). It now only exists in the knative/docs archive branches -. "release-0.7". If this is converted to use Docker, please open a PR to add it back into both the `master` an

[2019-08-07 01:06] RichieEscarez commented on #1654
/cc @rgregg

[2019-08-07 01:30] RichieEscarez opened #1655 "Remove Knative Build: Install on IBM Cloud Private(docs/install/Knative-with-ICP.md)"
Knative Build has been deprecated for the Knative v0.8 release and wont be supported in 0.9. ([More info](https://github.com/knative/build))

The docs/install/Knative-with-ICP.md topic includes Knative Build as part of the install process and should be removed for v0.8 and later.

[2019-08-07 01:47] zxDiscovery commented on #1655
OK, I will remove the `knative build` in `docs/install/Knative-with-ICP.md`.

[2019-08-07 02:15] RichieEscarez commented on #1655
Thanks @zxDiscovery !  FYI #1656 does not attempt to fix this IBM install guide (its my attempt to fix what i can) otherwise I opened issues, like this one.

[2019-08-07 19:02] #1651 closed

[2019-08-07 21:26] RichieEscarez opened #1661 "v0.8/v0.9 Knative API build errors"
Details here: https://github.com/ahmetb/gen-crd-api-reference-docs/issues/10

[2019-08-08 01:16] RichieEscarez commented on #1633
@n3wscott can you help resolve the link to `[`KubernetesEventSource`](https://github.com/knative/eventing-contrib/blob/master/pkg/apis/sources/v1alpha1/kuberneteseventsource_types.go),` in https://knative.dev/docs/eventing/debugging/? Its not clear where that went.

[2019-08-08 01:42] #1655 closed

[2019-08-08 07:13] ruzickap commented on #817
I can still see this issue even when I'm using the `v0.8.0 (aka "v1rc1")`:

[code]

[2019-08-08 17:59] RichieEscarez opened #1672 "Remove references and links to in-memory-channel CCP"
Per https://github.com/knative/eventing/pull/1484, in-memory-channels CCP was removed and is now causing 404s. Here are the affected files:

https://github.com/knative/docs/search?q=config%2Fprovisioners%2Fin-memory-channel&unscoped_q=config%2Fprovisioners%2Fin-memory-channel

[2019-08-08 18:53] kzjackson1 opened #1674 "Missing image (docs/serving/installing-logging-metrics-traces.md)"
## Expected Behavior
Image should display on the page

## Actual Behavior
[This image](https://knative.dev/docs/images/kibana-landing-page-configure-index.png) 404s

## Steps to Reproduce the Problem

1. Go to the **Create Elasticsearch Indices** section.
1. See that the image is broken.
1. Possibly have trouble completing steps in that section.

## Additional Info
**Additional context**
Add any o

[2019-08-08 19:48] RichieEscarez commented on #1633
Nevermind, i found this https://github.com/knative/docs/pull/1478/

[2019-08-08 20:29] RichieEscarez commented on #1672
https://github.com/knative/docs/pull/1629 already exists

[2019-08-08 20:29] #1672 closed

[2019-08-09 20:04] rgregg opened #1678 "Can't use install instructions verbatim"
## Expected Behavior
I should be able to copy and paste the command lines to install Knative, e.g. this topic: https://github.com/knative/docs/blob/master/docs/install/Knative-with-GKE.md

## Actual Behavior
I can't, because we're using the {<version>} macro. I need to update this text to reflect whatever version I'm trying to install.

## Steps to Reproduce the Problem

1. Try to install Knative

[2019-08-09 21:16] duglin commented on #1678
I saw that too but assumed it was just a temporary thing because they were making infra changes. If this was meant to be "for real" then +1 to changing it back. There's no need to a template string in there since the docs should be versioned along with the code/releases.

[2019-08-09 21:17] rgregg commented on #1678
I think the goal was to make it easier to maintain the docs, so that they don't need to be updated each version. However, there's a usability hit to consuming the docs here that I'm not sure we've considered.

[2019-08-09 21:39] RichieEscarez commented on #1674
already fixed in the master branch which we will use to cut v08: https://knative.dev/development/serving/installing-logging-metrics-traces/#create-elasticsearch-indices

[2019-08-09 21:39] #1674 closed

[2019-08-09 21:44] RichieEscarez commented on #1649
The graphic was fixed in the master branch: https://knative.dev/development/eventing/#architecture

[2019-08-10 03:20] digikin commented on #882
The docs are still incorrect.  Here is exactly what the instructions commands are:
[code]
As @moeyui1 pointed out, they need to be:
[code]
Then
[code]

[2019-08-10 05:18] digikin opened #1682 "Install on Minikube(docs/install/Knative-with-Minikube.md)"
## Expected Behavior
To install without errors.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

1. Install minikube
1. Start kubernetes
1. Install knative per the instructions https://knative.dev/docs/install/knative-with-minikube/#creating-a-kubernetes-cluster

## Additional Info
**Additional context**
The first small recommendation is to put the minikube kubernetes version up to 1

[2019-08-12 16:16] grayside opened #1686 "Samples: Upgrade go to 1.13 and use go modules"
Go samples specify golang, golang:1.11, or golang:1.12.

## Describe the change you'd like to see

Following the stable release of Go 1.13 with a container image on [Docker Hub](https://hub.docker.com/_/golang), samples using Go should go through the following:

* Upgrade samples to use golang:1.13
* Switch to use modules by default, [matching the behavior of the go toolchain](https://tip.golang.o

[2019-08-12 19:00] samodell commented on #1678
Yep, we are trying to make maintenance of the docs easier. The docs are versioned per release; we wanted to leverage that by making a variable that would automatically pick up the version from the docs branch, so we wouldn't need to manually update the version number for each release. @duglin  curious if it would be problematic for you to start consuming the docs from knative.dev instead of from G

[2019-08-12 19:04] duglin commented on #1678
Picking it up from knative.dev is fine - I'll just need to remember go to there instead of github. What's the lag between what's on github vs knative.dev ? Are they always in-sync?

[2019-08-12 19:58] samodell commented on #1678
Right now the process is semi-manual. If a PR gets submitted to the website repo, the site is rebuilt, but that happens probably less than once a week on average. For now, @RichieEscarez  has to click a button to rebuild the site with the latest info, and I think he tries to do that pretty regularly. He's also working on automating that process to be tied to PRs in the Docs repo as well as the web

[2019-08-13 04:49] Uvindu96 commented on #221
Hey I have an application running on port number 9095 but my knative service is on port 8080, so can i chnage this 8080 port to 9095 in  my knative service?

[2019-08-13 06:43] rgregg commented on #1678
I've mentioned this to @RichieEscarez on another topic as well (importing code files via a macro), but I'm going to mention it again.

I'm strongly of the belief that our GitHub markdown content _must_ be consumable by end users as primary documentation. I see this is a **P0**. Until recently this was achieved, although perhaps unintentionally.

We're currently moving in the direction of optimizin

[2019-08-13 11:41] duglin commented on #1678
Between knative.dev being old (and people not knowing when it is old) and the docs release not being aligned with the code releases (which, BTW, I think is a huge mistake - they should all be shipped at the same time even if that means delaying the code releases), I fear it'll be hard for people to know where to look for the right stuff.

Perhaps a tangent, but while I can appreciate all of the ha

[2019-08-13 17:43] RichieEscarez commented on #1134
in-page license statements were removed, closing

[2019-08-13 17:43] #1134 closed

[2019-08-13 17:51] samodell commented on #1678
@rgregg  I'm going to set up a meeting for us to discuss further, but I do hear where you're coming from. I appreciate the sentiment of:

However, most of the tooling I'm aware of that reduces docs maintenance burden takes a hit on readability of the source (not automated site builds, but adding in variables and pulling in code, etc.).

@duglin  knative.dev is definitely a long-term investment. As

[2019-08-13 20:00] vaikas-google opened #1689 "Install on Google Kubernetes Engine(development/install/Knative-with-GKE.md)"
## Expected Behavior
The links that I paste have the correct URLs.

## Actual Behavior
The links contain a bogus version (*development.0*) does not exist.
   kubectl apply --selector knative.dev/crd-install=true \
   --filename https://github.com/knative/serving/releases/download/development.0/serving.yaml \
   --filename https://github.com/knative/eventing/releases/download/development.0/eventing

[2019-08-13 20:15] ilackarms opened #1690 "Update Gloo docs for Knative v0.8.0"
**Describe the change you'd like to see**
Update the Knative docs to reflect new features in Gloo as well as support for Serving v0.8.0

[2019-08-13 22:38] #1614 closed

[2019-08-14 20:30] RichieEscarez commented on #1050
Hi all,

A [revised "navigation" proposal "Serving V1 proposal"](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvwSk/edit) has been added to the shared Google Sheets doc in the team drive.

**Request for Action**:
PTAL and provide feedback.

Sometime next week we will begin moving the content around to generate a staged/working copy (and incorporate your feedback).

[2019-08-14 22:38] steren opened #1696 "Add social image preview to knative.dev"
When I share https://knative.dev/ on Twitter, no image thumbnail appears in the twitter card.
You can test this at https://cards-dev.twitter.com/validator

How to fix:

Add the appropriate <meta> tags so that Twitter and other social networks pick up the Knative logo as thumbnail as well as a nice summary

[2019-08-14 23:23] mikehelmick opened #1697 "Add projected service account token volumes"
## What is changing? (Please include as many details as possible.)

In Knative Serving, we should change the specification to allow for the projected volume type of "serviceAccountToken"

see [k8s reference docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection)

## How will this impact our users?

As part of the data plane

[2019-08-14 23:23] mikehelmick commented on #1697
cc: @vaikas-google @dgerd

[2019-08-19 14:31] meteatamel commented on #1489
I've sent a pull request to fix this: https://github.com/knative/docs/pull/1710

[2019-08-19 21:57] kzjackson1 opened #1711 "Complex Diagrams Are Unreadable in High Contrast or Dark Mode"
## Expected Behavior
Ability to read diagrams in dark mode or high contrast mode.

## Actual Behavior
Because most of the images are .svg files with transparent backgrounds, black text or symbols are unreadable.

## Steps to Reproduce the Problem

1. Go to the Knative Eventing page (or any page with diagrams) with any accessibility extension that allows for high contrast mode. (Alternatively, use

[2019-08-20 17:46] RichieEscarez opened #1716 "Knative Eventing(docs/eventing/_index.md)"
https://github.com/knative/docs/blob/release-0.8/docs/eventing/README.md

The link to "Channels" and "ClusterChannelProvisioner" in the Eventing overview both 404 and the files appears to have been deleted or moved but its not clear where this should point to now:

Broken URLs:
https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1alpha1/channel_types.go#L36
https://github.com/knativ

[2019-08-21 14:54] #1690 closed

[2019-08-22 14:10] ScrapCodes opened #1725 "Container source page points to wrong path for ko publish command."
Instruction on the page: https://knative.dev/development/eventing/samples/container-source/, needs to be updated.

## Steps to Reproduce the Problem

[code]
# Expected.
[code]

**Install information:**
 - Knative Version: master

[2019-08-23 18:41] dgerd opened #1729 "Missing pages in knative.dev"
## Expected Behavior

https://knative.dev/docs/serving/deploying-with-private-registry/ goes to a valid page

## Actual Behavior

Retutrns "Page not found error"

## Steps to Reproduce the Problem

1. Go to knative.dev
1. Go to top right corner "Search this site" and type "private registry"
1. Click on the first link "Deploying to Knative using a private container registry | Knative"
1. Get "Page

[2019-08-24 17:29] powellquiring opened #1731 "docs for Creating a RESTful Service - Go need some work"
Started in: https://knative.dev/docs/serving/samples/rest-api-go/

![image](https://user-images.githubusercontent.com/6932057/63640690-24e63880-c658-11e9-8088-c315eeb6b9ef.png)

The first circled cd does not work:
[code]
did you mean?:
[code]

The second circled cd does not exist for me.  In the first git clone did you want this done in the $GOPATH directory?  I installed the latest version of go

[2019-08-27 09:22] sirius1024 opened #1739 "Could anybody add docs about How to call the knative serving/eventing API?"
**Describe the change you'd like to see**
I've deployed Kubernetes/Istio and Knative on my servers. Now I wanna develop a UI for knative with its API/SDK. But for now only the API specs as the reference, could anyone show me a demo to call the API/SDK of Knative, please?

**Additional context**
I never know the kubernetes knowledge, but it never be a problem if knative need. Just a start! :)

[2019-08-27 23:41] simpsonw opened #1743 "kubectl log command in "Sequence terminal" sample hides expected output"
## Expected Behavior

Running `kubectl -n default logs -l serving.knative.dev/service=first -c user-container` after doing all the steps previous to the "Inspecting the results" section of the "Sequence terminal" sample will produce output that contains the expected `Got Event Context`, `Got Data`, and `Got Transport Context` messages as shown in the docs:

[code]

## Actual Behavior
The expected

[2019-08-28 00:13] lindydonna opened #1744 "Secrets doc should use GOOGLE_APPLICATION_CREDENTIALS as key"
In the tutorial https://github.com/knative/docs/tree/release-0.8/docs/serving/samples/secrets-go, the environment variable key is `GOOGLE_APPLICATION_DEFAULT`. However, it should be `GOOGLE_APPLICATION_CREDENTIALS`, per GCP documentation (see https://cloud.google.com/docs/authentication/getting-started). See also the GKE secrets tutorial: https://cloud.google.com/kubernetes-engine/docs/tutorials/a

[2019-08-29 21:18] eallred-google opened #1750 "Broken links on knative.dev"
List of broken links / 404 / timeout on knative.dev

- [ ] 404 Error navigating to; https://github.com/knative/docs/tree/release-0.8/docs/serving/samples/hello-world/README.md

Source Page: https://knative.dev/docs/serving/samples/hello-world/ -> click on View/Edit this page

- [x] 404 Error navigating to;

https://github.com/knative/docs/blob/master/install/README.md
Source Page: https://knative.

[2019-09-03 20:15] samodell commented on #130
@mattmoor  Can you assign this to someone who has the bandwidth to write up a draft of these instructions?

[2019-09-03 20:16] #221 closed

[2019-09-03 20:18] samodell commented on #268
@rgregg  Can you assign this to someone who would know why we need all the GKE-specific scopes?

[2019-09-03 20:19] #304 closed

[2019-09-03 20:20] #309 closed

[2019-09-03 20:21] RichieEscarez commented on #309
Contributor content has moved here: https://github.com/knative/community

[2019-09-03 20:21] #337 closed

[2019-09-03 20:22] #350 closed

[2019-09-03 20:22] #355 closed

[2019-09-03 20:22] #358 closed

[2019-09-03 20:23] #374 closed

[2019-09-03 20:24] #425 closed

[2019-09-03 20:25] #471 closed

[2019-09-03 20:27] samodell commented on #533
Duplicate of #130

[2019-09-03 20:27] #533 closed

[2019-09-03 20:28] #555 closed

[2019-09-03 20:28] RichieEscarez commented on #555
https://knative.dev/docs/eventing/sources/

[2019-09-03 20:28] #597 closed

[2019-09-03 20:28] #662 closed

[2019-09-03 20:28] #668 closed

[2019-09-03 20:29] #733 closed

[2019-09-03 20:29] #760 closed

[2019-09-03 20:30] #800 closed

[2019-09-03 20:30] #816 closed

[2019-09-03 20:31] #818 closed

[2019-09-03 20:31] #845 closed

[2019-09-03 20:31] #875 closed

[2019-09-03 20:32] samodell commented on #902
@dgerd  Can you take a look and let us know if this is still relevant?

[2019-09-03 20:33] #916 closed

[2019-09-03 20:34] #985 closed

[2019-09-03 20:34] #995 closed

[2019-09-03 20:35] #1013 closed

[2019-09-03 20:35] #1022 closed

[2019-09-03 20:35] #1029 closed

[2019-09-03 20:36] #1045 closed

[2019-09-03 20:37] #1133 closed

[2019-09-03 20:38] samodell commented on #1191
Duplicate of #130

[2019-09-03 20:38] #1191 closed

[2019-09-03 20:38] #1205 closed

[2019-09-03 20:39] #1217 closed

[2019-09-03 20:40] #1226 closed

[2019-09-03 20:40] #1234 closed

[2019-09-03 20:41] #1240 closed

[2019-09-03 20:41] #1259 closed

[2019-09-03 20:42] samodell commented on #1271
@grantr  Has this been released yet?

[2019-09-03 20:43] #1319 closed

[2019-09-03 20:43] #1321 closed

[2019-09-03 20:43] #1325 closed

[2019-09-03 20:44] #1352 closed

[2019-09-03 20:44] #1354 closed

[2019-09-03 20:45] #1361 closed

[2019-09-03 20:45] samodell commented on #1361
Not really a docs bug; feel free to open in the Serving repo.

[2019-09-03 20:46] #1367 closed

[2019-09-03 20:49] #1420 closed

[2019-09-03 20:51] samodell commented on #1440
@adrcunha  Can you give us input on this? We could do this for the knative.dev domain, but not sure if it something we want to do.

[2019-09-03 20:51] #1441 closed

[2019-09-03 20:51] #1466 closed

[2019-09-03 20:52] #1475 closed

[2019-09-03 20:52] #1479 closed

[2019-09-03 20:52] samodell commented on #1482
Duplicate of another issue, but we are planning to fix this!

[2019-09-03 20:52] #1482 closed

[2019-09-03 20:54] #1462 closed

[2019-09-03 20:54] samodell commented on #1489
@mattmoor  or @mchmarny  Do you know who could make this update?

[2019-09-03 20:55] steren commented on #1489
There is a PR waiting for review: https://github.com/knative/docs/pull/1710

[2019-09-03 20:55] #1506 closed

[2019-09-03 20:58] evankanderson commented on #268
We are now only requesting `cloud-platform`, which seems fairly self-explanatory.

/close

[2019-09-03 20:58] #268 closed

[2019-09-03 21:01] adrcunha commented on #1440
@samodell Let's sync up in person about this.

[2019-09-03 21:07] #1565 closed

[2019-09-03 21:09] samodell commented on #1601
This is a known, documented issue. Simply re-run the commands and the install will succeed on the second try.

[2019-09-03 21:09] #1601 closed

[2019-09-03 21:11] samodell commented on #1616
For troubleshooting, try knative.dev/slack or opening an issue in the Serving repo. If you find a specific error in the docs, feel free to reopen this.

[2019-09-03 21:11] #1616 closed

[2019-09-03 21:11] samodell commented on #1616
* slack.knative.dev

[2019-09-03 21:15] samodell commented on #1624
@evankanderson  We did the `--selector knative.dev/crd-install=true` to fix this race condition issue, but it looks like it's still happening -- any idea how else we could fix this problem?

[2019-09-03 21:34] RichieEscarez commented on #1644
That file was deleted (as Knative Build has been deprecated) but here is a copy: https://github.com/knative/docs/tree/90e77bc08c53730c5b40e057e96a6dd83aaef16e/docs/serving/samples/source-to-url-go

[2019-09-03 21:34] #1644 closed

[2019-09-03 21:44] #1689 closed

[2019-09-03 21:44] RichieEscarez commented on #1689
https://github.com/knative/website/pull/83

[2019-09-03 21:59] #1725 closed

[2019-09-03 22:01] RichieEscarez commented on #1729
That file was deleted since it used the deprecated Knative Build component: https://github.com/knative/docs/pull/1680

But its still available in the 0.7 archive: https://knative.dev/v0.7-docs/serving/deploying-with-private-registry/

[2019-09-03 22:01] #1729 closed

[2019-09-03 22:25] #1731 closed

[2019-09-04 04:42] mattmoor commented on #130
/assign @mdemirhan

... to delegate.

[2019-09-04 19:37] samodell commented on #1440
sounds good! This is really more @RichieEscarez 's domain than mine, so he may set up time with you to discuss.

[2019-09-04 20:38] chunlongliang-ibm opened #1770 "can you add sample code to enable TLS on the route"
can you add sample code to enable TLS on the route? The route is plain http, it is helpful if you can show how to create TLS enabled route.

[2019-09-05 05:58] daisy-ycguo opened #1771 "Need review: event sources links are broken because of migration"
## Expected Behavior

The links to event sources are correct in document [Documentation/Eventing Component/Eventing sources](https://knative.dev/v0.3-docs/eventing/sources/)

## Actual Behavior

Some links are broken because some event sources have been move to repo `event-contrib`

## Steps to Reproduce the Problem

1. Go to page [Documentation/Eventing Component/Eventing sources](https://knative

[2019-09-05 17:45] mukobi commented on #1771
I'm working on this issue. Some of the broken links can be fixed as the files were just moved out of the 'contrib' directory in the [eventing-contrib repo](https://github.com/knative/eventing-contrib), but the gcppubsub files seem to have all be deleted in https://github.com/knative/eventing-contrib/commit/40dddfd503a0e1b99d44b355dc4347261179b1d8. Should a new issue be opened to bring them in the

[2019-09-05 20:12] dgerd commented on #902
A developer contract for observability still seems useful. I do not have an owner for this though.

/cc @mdemirhan

[2019-09-05 21:58] mukobi commented on #1648
Confusingly, it appears to render correctly [on GitHub](https://github.com/knative/docs/blob/release-0.8/docs/install/Knative-with-GKE.md) which is different behaviour from on Knative.dev.

[2019-09-05 22:36] grayside commented on #1686
go 1.13 is now available.

[2019-09-06 15:56] adrcunha commented on #1440
This is already setup:

[code]

`[www.]knative.dev` points to `knative.netlify.com` using a CNAME record, so IPv6 support is provided by Netlify. Also, according to Netlify, using `www` is the preferred way to access the site to take advantage of their CDN.

/close

[2019-09-06 15:56] #1440 closed

[2019-09-09 03:01] qiujian16 opened #1780 "kafka source link is not correct"
## Expected Behavior
click kafka source and it should link to the right direction

## Actual Behavior
goes to 404 pages

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2019-09-09 14:57] lionelvillard opened #1782 "Rename Choice to Parallel"
**Describe the change you'd like to see**
Choice is being renamed to Parallel: https://github.com/knative/eventing/pull/1843

[2019-09-10 21:24] ahmetb commented on #978
Let's try to fix this. Other people hit this just asking me where can I find docs about how to create internal/external services on Knative.

[2019-09-13 17:56] ZhiminXiang commented on #1210
The part about how to configure the Gateway (https://github.com/knative/docs/blob/master/docs/serving/using-a-tls-cert.md#manually-adding-a-tls-certificate) is still stale.

We should follow the way described in Istio doc (https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/) as in Knative serving we already use Istio ingress SDS.

[2019-09-16 16:42] nachocano opened #1792 "Eventing metrics"
## What is changing? (Please include as many details as possible.)
The current eventing metrics have changed, and we need to properly document them in knative/docs.
We also need to add instructions on how to configure the different metrics backends.

## How will this impact our users?
Users will be able to use metrics to better understand what is going on in their clusters.

## In what release wil

[2019-09-16 17:46] grayside opened #1793 "testing: hello-world sample file configuration"
## Describe the change you'd like to see

Adding files to the hello-world samples requires a special test configuration step. This is not currently documented or made clear in the test output.

Document how to add new files to the hello-world samples:

* Contributing guide details that explain adding or removing files from an existing sample
* More actionable error messages in the test failure rep

[2019-09-16 17:51] chaodaiG commented on #1793
Nice! Thanks a lot for making this clear!
/assign

[2019-09-16 19:37] #1782 closed

[2019-09-17 11:20] aliok commented on #1239
Thanks @RichieEscarez
Didn't have a chance to verify the instructions and the script but I am ok with resolving this ticket.
If I have a chance, I would write here regardless.

[2019-09-17 12:40] grzesiek commented on #130
I believe that having a clear upgrade path is very important, should be supported and well documented. One of the OpenStack failure reasons was that it was really difficult to upgrade and it took ages to perform an update without a downtime. This is - in my opinion and at this moment - probably the most important missing piece of the puzzle in entire Knative story.

[2019-09-17 17:14] samodell commented on #130
@mdemirhan  Please assign to someone who can explain the steps for upgrading an installation.

[2019-09-17 17:44] #1780 closed

[2019-09-17 18:02] #1519 closed

[2019-09-17 18:40] dgerd opened #1796 "Improved Knative Serving API Reference"
**Describe the change you'd like to see**

The current API reference appears to be broken. The format of the previous API reference is difficult to consume. See https://knative.dev/v0.7-docs/reference/serving-api/

Many users are used to the YAML format that they use with kubectl which is hard to construct when reading through from the link above.

YAML Example:
[code]

[2019-09-17 18:53] dgerd opened #1797 "Copy button for commands to be executed"
**Describe the change you'd like to see**
There are many places in the Knative documentation where a command should be executed. These commands are captured in a formatted code box. However, many of these commands scroll out the side of the frame depending on your browser window size making them hard to copy.

See https://knative.dev/docs/install/knative-with-gke/#installing-knative

It would be n

[2019-09-19 15:28] edvinerikson opened #1804 "Improve clarity on outbound network access config"
**Describe the change you'd like to see**
The [Configuring outbound network access](https://knative.dev/docs/serving/outbound-network-access/) document should make it explicit that it is only applicable if you are running Istio in "strict" mode.

Currently its quite confusing wether it is applicable or not if you don't run the egress service.
 For someone not entirely comfortable with the configs

[2019-09-19 17:11] RichieEscarez commented on #1661
For 0.8, this broke just the Serving API.
For 0.9, both Serving and Eventing APIs error out during the build:
`F0919 09:52:05.470892   19869 main.go:444] type invalid type has kind=Unsupported which is unhandled`

[2019-09-19 17:13] RichieEscarez commented on #1661
/cc @evankanderson

[2019-09-19 17:52] RichieEscarez opened #1806 "Cut, build, and publish v0.9 docs"
Cut a v0.9 docs release/branch

[2019-09-19 17:52] RichieEscarez commented on #1806
Blocking: https://github.com/knative/docs/pull/1805

[2019-09-19 17:53] RichieEscarez commented on #1806
In-progress: https://github.com/knative/docs/releases/edit/untagged-d43ca8dea8deb896907b

[2019-09-19 18:40] Ciantic commented on #817
I'm seeing this issue as well:

[code]

[2019-09-19 20:49] #1806 closed

[2019-09-20 05:02] tcnghia opened #1809 "Add documentation/FAQ for GKE private master setup"
**Describe the change you'd like to see**
We discovered in https://github.com/knative/serving/issues/4868 that some port whitelisting needs to happen before Knative can be used in GKE private clusters.  It would be great to include this in our getting started on GKE section.  The linked issue showed all the necessary steps.

**Additional context**
Add any other context or screenshots about the fea