[2020-06-03 17:28] vaikas commented on #2484
Sure thing:
https://github.com/knative/docs/pull/2485/files

[2020-06-03 18:04] vaikas opened #2543 "Add documentation for running a Preinstall job for upgrading Broker storage versions to v1beta1"
## What is changing? (Please include as many details as possible.)
eventing v1alpha1 API is being removed in 0.16 and prior to upgrade users must run a job that upgrades storage versions from v1alpha1 to v1beta1.

## How will this impact our users?
They must run the upgrade tool before upgrade.

## In what release will this take happen (to the best of your knowledge)?
v0.16

## Context
Link to ass

[2020-06-03 19:06] abrennan89 commented on #2484
It looks like this one #2484 can be closed by #2485  - is that correct @vaikas or is there more to do here?

[2020-06-03 19:47] lionelvillard opened #2544 "Document how to enable the multi-tenant GitHubSource adapter"
## What is changing? (Please include as many details as possible.)
GithubSource can now be handled by a global multi-tenant service.

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
Ex. v0.16

## Context
Link to associated PRs or issues from other repos here.

1. https://github.com/knative/eventing-contrib/pull/1297
1.
1.

## Additional

[2020-06-03 22:55] vaikas opened #2545 "Update flows,messaging,eventing references to v1beta1"
## What is changing? (Please include as many details as possible.)
flows,messaging,eventing v1alpha1 APIs are being deleted in v0.16, make sure that all of our documentation refers to v1beta1 for those resources.

## How will this impact our users?
They have to use v1beta1 equivalents.

## In what release will this take happen (to the best of your knowledge)?
v0.16

## Context
Link to associated P

[2020-06-04 01:39] mattmoor commented on #2199
/assign @tcnghia

[2020-06-04 14:02] csantanapr commented on #2524
@k33g check out PR #2547 I fixed the problems you saw using nodejs sdk v2.0.1

[2020-06-04 17:20] chizhg commented on #2487
I think the root cause of this issue is not the images are outdated but is the doc is incorrect.

If the doc is up-to-date, then users won't be directed to these images and they won't have issues like this. Also deleting the images itself does not help with solving this issue as they will get a new "image not found" error.

[2020-06-04 17:26] evankanderson commented on #2487
We need to fix both -- find the cases where these links exist, but also take down the images that are months old and probably incompatible with most of our environments.

[2020-06-04 17:35] #2520 closed

[2020-06-04 17:59] #2524 closed

[2020-06-04 21:09] csantanapr opened #2550 "Make default version of docs website 0.15"
The docs for 0.15 are published here https://knative.dev/v0.15-docs/

The  drop down to select version doesn't show 0.15

How do we fix this?

[2020-06-04 21:16] #2487 closed

[2020-06-04 23:15] evankanderson commented on #2199
Fixed by #2458

[2020-06-04 23:15] evankanderson commented on #2199
/close

[2020-06-04 23:15] #2199 closed

[2020-06-04 23:31] evankanderson commented on #311
I think we've decided to prefer an operator to helm packaging:

https://knative.dev/docs/install/knative-with-operators/

/close

[2020-06-04 23:31] #311 closed

[2020-06-04 23:34] evankanderson commented on #1880
/assign @macruzbar

One question to consider is whether we want to have a blog post for every release that summarizes all the release notes at a high level, or whether we want the release notes to speak for themselves and _never_ do a blog post about a release.

I'm fine with either choice; my personal world wouldn't have a blog post because we'd be releasing stably from nightly, but I understand

[2020-06-04 23:52] evankanderson commented on #2415
Step 3 doesn't really make sense, because it talks about `kubectl apply`ing a file, but everything up to that point has been live-updating the service.

Removed it, and simplified the nested numbering for what is now a single step. (It was two steps, run `kubectl edit` and then change the contents in your editor.)

[2020-06-05 17:04] richterdavid commented on #2526
Sounds like the current best tool from Google is https://web.dev/vitals/

https://webmasters.googleblog.com/2020/05/evaluating-page-experience.html

[2020-06-05 18:25] #2198 closed

[2020-06-05 18:27] #2208 closed

[2020-06-05 18:35] abrennan89 commented on #2289
@mattmoor is this related to #6562 ?
@evankanderson do you know what actually needs to be documented here?

[2020-06-05 19:35] abrennan89 opened #2553 "Follow up on tasks related to broker docs"
**Describe the change you'd like to see**
Follow up on To Do list from https://github.com/knative/docs/issues/2345#issuecomment-634970808

**Additional context**
N/A

[2020-06-05 20:18] abrennan89 opened #2554 "Split out broker and trigger docs"
**Describe the change you'd like to see**

- [x] Break out broker and trigger docs into their own sections
- [x] Update broker docs to remove default broker, this is now MT broker
- [x] General cleanup of broker and trigger user stories

**Additional context**
Follow up comments from #2349
cc @vaikas

[2020-06-06 13:43] k33g commented on #2524
@csantanapr it works like a charm 😃 thank you very much

[2020-06-06 21:00] mattmoor commented on #2289
/assign @tcnghia

[2020-06-07 13:06] galen211 opened #2555 "Configuring HTTPS with cert-manager and Google Cloud DNS(docs/serving/using-cert-manager-on-gcp.md)"
The section `Add letsencrypt-issuer to your ingress secret to configure your certificate` does not contain the command to create the cert-manager certificate using the ClusterIssuer.

[https://knative.dev/docs/serving/using-cert-manager-on-gcp/](https://knative.dev/docs/serving/using-cert-manager-on-gcp/)

[2020-06-07 16:20] ZhiminXiang commented on #2555
/assign

[2020-06-08 12:52] lionelvillard commented on #2288
/remove-lifecycle stale

[2020-06-08 14:30] #1630 closed

[2020-06-08 14:32] abrennan89 commented on #2345
#2349 awaiting review to close this

[2020-06-08 14:36] abrennan89 commented on #2550
Verified this is fixed for me on the latest version https://knative.dev/docs/

[2020-06-08 14:36] #2550 closed

[2020-06-08 14:38] abrennan89 commented on #2375
TBC has been added to the docs https://knative.dev/development/serving/autoscaling/target-burst-capacity/
but more work is required re load balancing docs to move this to the correct place.

[2020-06-08 14:41] abrennan89 commented on #2375
Dependency on #2477 - work on these together

[2020-06-08 15:26] #2345 closed

[2020-06-08 15:32] abrennan89 commented on #2472
Somewhat related to #2477 since LB needs the activator. Maybe add a link between these docs.

[2020-06-08 22:55] vaikas opened #2562 "Outdated links to k8s resources."
## Expected Behavior
Links to external resources to be update.

## Actual Behavior
As part of a PR, it complained (rightfully) that links were now out of date. One example:

[code]

This issue should track systematic updating of those links so that they don't only get flagged when those files are touched via PR.

## Steps to Reproduce the Problem

1.  Create a PR that touches some files.
1. Watch

[2020-06-08 23:07] vaikas commented on #2562
vaikas-a01:docs vaikas$ grep -R generated/kubernetes-api * | grep -v 1.18 | wc -l
     345

[2020-06-09 14:27] abrennan89 commented on #2375
Closing this issue @vagababov because everything else should be covered by the two PRs I've linked by the time the second one is merged :slightly_smiling_face: thanks for providing this info.

[2020-06-09 14:27] #2375 closed

[2020-06-09 14:44] abrennan89 opened #2563 "Knative Kubernetes Services (docs/serving/knative-kubernetes-services.md) needs improvement"
This documentation is confusing
https://knative.dev/docs/serving/knative-kubernetes-services/

It currently describes both services and deployments, even though it's titled _Knative Kubernetes Services_.

I think that both deployments and services should probably be moved to https://knative.dev/docs/serving/ as sub sections, since the other parts of Serving are explained there.

I also think that

[2020-06-09 15:00] abrennan89 opened #2564 "Upgrading your installation(docs/install/upgrade-installation.md)"
## Expected Behavior
Docs should be current for the version selected in the dropdown.

## Actual Behavior
v0.15 upgrade docs still refer to old versions:
"For example, if you have v0.6.0 installed, you should upgrade to v0.7.0 before attempting to upgrade to v0.8.0. To verify the version number you currently have installed, see Checking your installation version."

## Steps to Reproduce the Proble

[2020-06-09 17:33] vagababov opened #2565 "documentation has invalid config map"
@nicks reports:

/area API
/kind doc

## Expected Behavior

This doc
https://knative.dev/docs/serving/tag-resolution/

has this ConfigMap

[code]

When I apply this config map to my cluster, I get this error:

[code]

## Actual Behavior
I would expect examples on the knative documentation site to work out of the box

[2020-06-09 17:34] vagababov commented on #2565
/cc @nicks

[2020-06-09 17:50] #2555 closed

[2020-06-09 21:39] #2562 closed

[2020-06-09 22:47] #2545 closed

[2020-06-10 00:01] #1983 closed

[2020-06-10 01:45] ZhiminXiang commented on #2359
/close

[2020-06-10 01:45] #2359 closed

[2020-06-10 01:59] ZhiminXiang opened #2568 "Need documentation for using tag header based routing"
For the feature of tag header based routing: https://docs.google.com/document/d/12t_3NE4EqvW_l0hfVlQcAGKkwkAM56tTn2wN_JtHbSQ/edit?disco=AAAAGUeHCm4&ts=5e7d8607&usp_dm=false

After we implement it, we need to have a documentation about how to use this feature.

/cc @igsong @tcnghia

[2020-06-10 18:39] tcnghia opened #2569 "Documentation on how to use Istio Authorization with Knative"
**Describe the change you'd like to see**
Users are asking for samples of how Istio Authz can be used with Knative.

These are non-trivial and would require understanding of how `activator` may be need to be whitelisted in conjunction with Revision headers. The `cluster-local-gateway` is also sitting on the request path and needs to be taken into consideration.

As a result some samples will be su

[2020-06-10 18:52] abrennan89 opened #2570 "Link breaking github PRs https://index.docker.io/v1/"
## Actual Behavior
The link at docs/serving/deploying/private-registry.md https://index.docker.io/v1/ is causing the pull-knative-docs-markdown-link-check to fail on docs PRs.

## Steps to Reproduce the Problem

1. https://github.com/knative/docs/pull/2551#issuecomment-639177568

## Fix
The links in this section don't really add much anyway and should probably just be removed.

[2020-06-10 19:22] tcnghia opened #2571 "Document Istio installation options sidecar vs no sidecar"
**Describe the change you'd like to see**
We need to clearly document our Istio installation in case of sidecar vs no sidecar setups. In the no sidecar setup, where the `cluster-local-gateway` is needed, we should convert to using the IstioOperator / Istio profile to be more aligned with other existing Istio users who will also be using IstioOperator as well.

cc @nak3 @ZhiminXiang

**Additional c

[2020-06-11 11:25] nak3 commented on #2084
@SteffenBurger @KazW Thank you for opening this.
The doc was updated by https://github.com/knative/docs/pull/2458 and so I think we can close this.

/close

[2020-06-11 11:25] #2084 closed

[2020-06-11 11:27] nak3 commented on #1130
@abrennan89 sorry for the delay. I will create the doc.

/assign

[2020-06-11 11:36] nak3 commented on #2343
Yes, I think that we can just remove it. The current doc explains it in another section.

https://knative.dev/docs/install/any-kubernetes-cluster/

`Magic DNS (xip.io)`

(Or  add `Magic DNS (xip.io) manual` tab, but I think we don't need it.)

/assign

[2020-06-11 11:39] nak3 commented on #2525
This has done by https://github.com/knative/docs/pull/2458, so we can close it?

[2020-06-11 13:35] tshak commented on #1130
Thanks @nak3. In particular my challenge is getting strict mTLS setup. Happy to help review and test the docs when they're ready. 👍

[2020-06-11 15:10] ZhiminXiang commented on #2525
Yea. I think we can close it. Thanks @nak3 !

[2020-06-11 15:10] ZhiminXiang commented on #2525
/close

[2020-06-11 15:10] #2525 closed

[2020-06-11 18:09] vaikas opened #2578 "GitHub source(docs/eventing/samples/github-source/index.md)"
## Expected Behavior
The sample to point to latest version of the github source.

## Actual Behavior
Points to v0.11.2

## Steps to Reproduce the Problem

1. Just visit the page and observe it's out of date.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2020-06-12 14:26] josiemundi opened #2580 "Installing Knative(docs/install/any-kubernetes-cluster.md)"
## Expected Behavior
When I run the command to install a broker layer in the installation doc 'Installing Knative', for Knative eventing I am expecting it to install the specified yaml.

## Actual Behavior
The command doesn't work because that file does not exist. The files are now either ```mt-channel-broker.yaml``` or ```deprecated-channel-broker.yaml```.

## Steps to Reproduce the Problem

1. G

[2020-06-13 00:01] #2099 closed

[2020-06-13 12:01] #2010 closed

[2020-06-13 12:01] #2014 closed

[2020-06-13 12:01] #2029 closed

[2020-06-14 12:55] duglin commented on #2085
/reopen

[2020-06-15 06:28] nak3 commented on #2569
/assign

Sounds great. I added the part-1 https://github.com/knative/docs/pull/2583

[2020-06-15 12:01] #2104 closed

[2020-06-15 12:01] #2038 closed

[2020-06-15 12:01] #2060 closed

[2020-06-15 14:23] Shashankft9 commented on #2569
hi, whats the difference between istio providing policy control and security in knative? aren't both policy control and security the same thing?
ref: slide 27 here https://static.sched.com/hosted_files/kccnceu19/5f/Knative-on-Istio.pdf

[2020-06-15 15:06] danielhelfand opened #2586 "PingSource Sample Not Rendering Tabs Correctly for v0.15.0 Docs"
## Expected Behavior

Tables and associated tabs render correctly for the website as with v0.14.0 docs: https://knative.dev/v0.14-docs/eventing/samples/ping-source/

## Actual Behavior

Tables and associated tabs not rendering: https://knative.dev/docs/eventing/samples/ping-source/

## Additional Info

Only change from v0.14.0 I noticed was #2377. Not sure if anything in the pr caused the change,

[2020-06-15 15:57] mpetason commented on #2580
@grantr @lionelvillard which files should replace the old files?

https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-eventing-component

Step 4 both tabs

Since mt-channel-broker.yaml is the new default should it be used for both, or should we remove one of the tabs and just have the default? Or should we use deprecated-channel-broker.yaml for the first tab and mt-channel-brok

[2020-06-15 17:00] #2415 closed

[2020-06-15 17:53] #2578 closed

[2020-06-16 04:34] richterdavid opened #2589 "Knative Community Meetup page needs updating (community/meetup/_index.md)"
This page is missing notes from meetups 2 (over a month ago) and the schedule for meetup 3 (this upcoming week).

[2020-06-16 04:35] richterdavid commented on #2589
kind/docs

[2020-06-16 04:41] JRBANCEL opened #2590 "Document feature/extensions"
Each Feature/Extension (introduced in #2581) needs to be documented with status (Alpha, Beta, GA).
Similar to what Kubernetes does with feature gates: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

/assign
/cc @whaught for PodSpec DryRun
/cc @markusthoemmes for Multi-Container

[2020-06-17 09:31] nak3 commented on #2571
/assign

[2020-06-17 13:38] #2343 closed

[2020-06-17 14:04] nak3 commented on #1130
@tshak Thank you so much! I sent the draft here https://github.com/knative/docs/pull/2593

It seems that DestinationRule does not work as expected on Istio 1.5 (I could access to ksvc without it) but it works on Istio 1.6 as described in blog.

[2020-06-17 20:02] tshak commented on #1130
Great work! I'm going to get to this within the next couple of days on an Istio 1.6 cluster using the IstioOperator. On initial glance, I'm a bit concerned with section: https://github.com/nak3/docs/blob/blog-mtls/blog/articles/configuraing-istio-mtls-on-knative-serving.md#step-2-enable-strict-mtls-on-entire-mesh-and-permissive-on-the-system-namespace

From a security perspective, setting PERMISSI

[2020-06-18 14:00] nak3 commented on #1130
Thank you for your comment. Actually we just started talking about it https://github.com/knative/net-istio/issues/150.

I tested it and all STRICT mode works by disabling side injection to {istio-}webhook.
With said, it will be very complicated to configure `DestinationRules`, so I used `enableAutoMtls` to `true` in the blog post.

[2020-06-18 16:16] peterfeifanchen opened #2601 "Markdown link checking"
Currently https://github.com/raviqqe/liche tool is used by pull-knative-docs-markdown-link-check prow job to check markdown links for connectivity. This runs as a presubmit job on all the markdown files in the repo. This leads to too many request errors.

Limit the tool to only check for relative html links (non-https://) and create a ci job that checks all the markdown absolute links with rate-li

[2020-06-20 00:01] #2032 closed

[2020-06-20 19:43] tshak commented on #1130
After following the blog post, I was unable to update `config-istio`. This is because I'm running `net-certmanager`. Patching the `net-certmanager-webhook` to disable the istio sidecar resolved the issue. I'd add a note about this as I imagine many people are running `net-certmanager` as well.

Otherwise everything seems to be working so far. This helped a lot. Thanks!

[2020-06-20 19:46] tshak commented on #1130
Also, you may want to note that if someone doesn't want to run the `cluster-local-gateway` (which is the more secure default), that they'll need to update `config-istio` to specify `local-gateway.mesh: "mesh"`

See also: https://github.com/knative/net-istio/blob/82f58eb4fb0f8fa44d2b59065058d0adf874a134/config/config.yaml#L69

[2020-06-21 12:01] #1239 closed

[2020-06-21 12:01] #1973 closed

[2020-06-21 12:01] #2113 closed

[2020-06-21 16:06] tshak commented on #1130
The basics appear working but I can't seem to configure a working authorization policy with knative. For example, let's say that I want to only allow intranamespace traffic, plus traffic from the `istio-ingressgateway`:

[code]

This does not work as expected with knative services. I get a 403 with the message: `RBAC: access denied`. It does however work when I add `knative-serving` to the namespa

[2020-06-22 00:01] #1956 closed

[2020-06-22 08:18] tshak commented on #1130
A bit more about my scenario: I have a namespace which has one app that serves traffic via the `istio-ingressgateway`. In the same namespace I have multiple backend services that have the `serving.knative.dev/visibility: cluster-local` set that should only be accessed from within the namespace. I could craft an `AuthorizationPolicy` with a selector for only the externally exposed service. My princ

[2020-06-22 12:01] #1711 closed

[2020-06-22 12:01] #2127 closed

[2020-06-22 12:01] #1624 closed

[2020-06-22 12:01] #1686 closed

[2020-06-22 12:01] #1521 closed

[2020-06-22 12:04] nak3 commented on #1130
Thank you so much for your feeedback @tshak. It is really helpful and totally make sense.

Yes, definitely. I updated my article.

Yes, I will write the doc about it.

I think that there are two solutions.

a) you can block by specify more strict policy as described in the second example in https://github.com/knative/serving/issues/8364#issuecomment-645904009.
b) Use "allowing path" instead of nam

[2020-06-22 12:07] nak3 commented on #1130
@tshak If you like, would you mind reviewing in https://github.com/knative/docs/pull/2583 ? Especially, as you also faced the issue, I'm wondering if [Allowing access from system pods by paths](https://github.com/nak3/docs/blob/add-authz/docs/serving/istio-authorization.md#allowing-access-from-system-pods-by-paths) should be documented or not.

[2020-06-22 12:56] tshak commented on #1130
Thanks for all the help thus far! Overall #2583 looks good. I thought that I had tested the path approach based on the GKE examples and it still didn't work. I'll try to test this again soon.

It would be nice to have a dedicated set of conformance tests that are easy for anyone running Knative + Istio + STRICT mTLS to run on their clusters to prove that their policies are configured correctly. Or

[2020-06-22 15:44] dprotaso opened #2607 "Markdown link is broken"
From: https://github.com/knative/docs/pull/2606

https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_docs/2606/pull-knative-docs-markdown-link-check/1275090436058255360

[2020-06-22 17:53] tcnghia opened #2608 "Installing Istio for Knative(development/install/installing-istio.md) missed the section header for "Installing Istio Without Sidecar Injection""
## Actual Behavior
development/install/installing-istio.md missed the section header for "Installing Istio Without Sidecar Injection"

## Expected Behavior
It shouldn't

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2020-06-22 17:57] tcnghia commented on #2608
The missing section header should be inserted right above _"Enter the following command to install Istio:"_

[2020-06-22 22:15] vaikas opened #2609 "Add documentation and examples for eventing.v1 components."
## What is changing? (Please include as many details as possible.)
Adding eventing.v1 resources. This means Broker, Trigger, EventType

## How will this impact our users?
They can use v1 API shape.

## In what release will this take happen (to the best of your knowledge)?
v0.16

## Context
Link to associated PRs or issues from other repos here.

1. https://github.com/knative/eventing/pull/3372
1.

[2020-06-22 23:42] macruzbar commented on #1875
Hi @RichieEscarez ! I recently created the [blogging guidelines](https://github.com/knative/docs/blob/3e8e1b91f6e4c3ed22498df33007ec110551c751/blog/README.md), which go over all of the topics you mention on this issue. You can find the PR that is waiting to be approved [here](https://github.com/knative/docs/pull/2523). Please let me know via slack if there's anything that we should add to that doc

[2020-06-22 23:42] macruzbar commented on #1875
/close

[2020-06-22 23:44] macruzbar commented on #2522
PR waiting to be merged [here](https://github.com/knative/docs/pull/2523). Blogging guidelines done for now.

/close

[2020-06-22 23:44] #2522 closed

[2020-06-22 23:44] n3wscott opened #2610 "Installing the XYZ component should have tabs"
**Describe the change you'd like to see**
I would love the install page to have a tab for all supported verisons of knative to install (maybe latest patch), plus a nightly tab to the last good nightly build.

**Additional context**
it is hard to find the nightly image urls.

[2020-06-23 00:04] macruzbar commented on #1880
@evankanderson I'm inclined to having a summary blogpost every 2 months*, where readers can find a link to extended notes. Happy to add a section about featuring releases on the blog once [the PR](https://github.com/knative/docs/pull/2523) is approved.

* what cadence would make sense here? I looked at the blog, and last year we had a blog about releases in January, and another one in April. This

[2020-06-23 09:06] Shashankft9 commented on #1130
@nak3 about allowing access from system pods by namespace:
By applying the whitelist-by-namespaces policy that you have mentioned in the doc, we practically do allow `/metrics` and `/healthz` , but we also allow curl requests from anywhere - be it a non-mesh pod or a mesh-pod, since they all pass through activator pod in ns `knative-serving`. So, isn't it advisable to use only the whitelist-by-pat

[2020-06-23 09:45] nak3 commented on #1130
@Shashankft9  Yeah, I think we should remove the allow list by namespace example as it is confusable and not so it is easy to create a security hole. I will update the draft of the doc.

[2020-06-23 19:30] sebgoa opened #2616 "Configuring HTTPS with TLS certificates(docs/serving/using-a-tls-cert.md)"
## Expected Behavior

good rendering of the docs

## Actual Behavior

bad rendering of the docs

<img width="986" alt="Screenshot 2020-06-23 at 21 29 08" src="https://user-images.githubusercontent.com/1886299/85450031-a9ffee00-b598-11ea-8ed9-559e43d4164c.png">

## Reproduce

Go to :

https://knative.dev/docs/serving/using-a-tls-cert/#manually-adding-a-tls-certificate

[2020-06-23 23:15] ZhiminXiang commented on #2568
/assign

[2020-06-24 12:23] lionelvillard commented on #2242
/close

we haven't yet decided how this is going to work

[2020-06-24 12:23] #2242 closed

[2020-06-25 16:48] liu-cong commented on #2246
The behavior is already documented in PR https://github.com/knative/eventing/pull/2662/

[2020-06-25 16:48] #2246 closed

[2020-06-26 12:01] #2133 closed

[2020-06-26 12:23] lionelvillard commented on #2253
we did this.

[2020-06-26 12:23] #2253 closed

[2020-06-29 15:36] #1969 closed

[2020-06-29 15:43] abrennan89 commented on #1792
@nachocano this is a pretty old one, but I figure the metrics still need to be updated.
Please check the current docs and let me know.

If there are updates required, can you please provide details of what needs to be updated, or point us to someone who can provide information for docs? Thanks.

[2020-06-29 18:06] nachocano commented on #1792
I haven't worked on metrics in a while. But at the time there was no page in knative.dev eventing, explaining how to set up metrics collection, and what metrics where being produced. I was thinking of something similar to tracing: https://knative.dev/docs/eventing/accessing-traces/

At the time I created this file in the eventing repo: https://github.com/knative/eventing/blob/master/docs/metrics.m

[2020-06-29 18:16] abrennan89 commented on #1739
@markusthoemmes could you provide details for these docs, or do you know who can? Thanks.

[2020-06-29 18:22] abrennan89 commented on #978
Sorry @ahmetb - the PRs related to this that I had attempted to work on got pretty confusing pretty fast, so I ended up closing them.
I think this needs to be worked on as part of a bigger problem of re-organizing a bunch of our documentation so that it's easier to find what folks are looking for.

I think we're planning to meet soon in the docs WG to iron out the information architecture work tha

[2020-06-29 18:24] abrennan89 commented on #2005
@lucamaf @mpetason is there any actual documentation work to complete here, or can we close this issue?

[2020-06-29 18:25] #2071 closed

[2020-06-29 18:26] abrennan89 commented on #2350
@evankanderson any update on this one?

[2020-06-29 18:30] abrennan89 commented on #2290
Closing this issue since there's a dependency here.
@matzew please open a new issue with details of what needs to be documented if this has changed / been fixed.

[2020-06-29 18:30] #2290 closed

[2020-06-29 18:31] #2367 closed

[2020-06-29 18:32] abrennan89 commented on #2204
Closing since this is a couple of releases old. Please open a new issue and call out any specific doc changes if there's still a requirement here.

[2020-06-29 18:32] #2204 closed

[2020-06-29 18:33] abrennan89 commented on #2400
@mattmoor any update on this one?

[2020-06-29 18:35] abrennan89 commented on #2053
@markusthoemmes @mattmoor is there someone who can provided updates for these docs? Otherwise if the sample is outdated we should remove it.

[2020-06-29 18:35] abrennan89 commented on #2053
(closed by accident, apologies!)

[2020-06-29 18:38] abrennan89 commented on #2399
This is fixed in the latest version of the docs. Closing.

[2020-06-29 18:38] #2399 closed

[2020-06-29 18:41] abrennan89 commented on #2108
@ahmetb is this issue still relevant? I tried searching grpc and saw some results but idk if it's what you're looking for.
I'd recommend using the actual site search rather than Ctrl+F until docs are organized better...

[2020-06-29 18:44] abrennan89 commented on #1925
@carieshmarie I'm not sure it's worth having a single issue tracking this. I doubt anyone will / is able to go through every file and check that they've been redirected, since how would one even know the file had moved unless there's a broken link or something somewhere?

I recommend closing this but lmk what you think :woman_shrugging:

[2020-06-29 19:10] ahmetb commented on #2108
I think it’s still very much relevant. Almost like it should be in project introduction. A very fundamental question a visitor might ask.

[2020-06-29 19:38] abrennan89 commented on #2433
I think this is a good idea, but keeping those OWNERS files up to date seems like it might be outside the scope of the docs WG.
Might be one to raise at the TOC @markusthoemmes @pmorie ?

[2020-06-29 19:41] abrennan89 commented on #2497
@ahmetb is there any plan to fix this yet?

[2020-06-29 19:43] ahmetb commented on #2497
I’d say that this is a wontfix. We pretty much never showed the “containers” field’s members and linked to Kubernetes PodSpec page in Kubernetes API Reference.

Embedding all Kubernetes podspec here won’t be wise bc Knative doesn’t support a good chunk of it.

[2020-06-29 19:58] #2497 closed

[2020-06-29 22:22] n3wscott opened #2622 "Install Knative Eventing missing optional upgrade step"
## Expected Behavior

There is no doc that points to run:

[code]

Which was in https://github.com/knative/eventing/pull/3247/files

Relates to v0.15 Eventing

[2020-06-30 03:40] n3wscott opened #2624 "Add release notes and install instructions for post-0.16.0 install"
Add release notes and install instructions for post-0.16.0 install.

[code]

It does the following:

- Delete stray Deployments in every namespace owned by a Broker with `ChannelBroker` class.
- Delete stray RoleBindings and ServiceAccounts from namespaces that had a Broker with `ChannelBroker` class.
- Delete scaled to zero deployments for mt-broker inside of knative-eventing namespace (we rename

[2020-06-30 04:26] mattmoor commented on #2053
We should probably just remove this sample.

[2020-06-30 07:24] kameshsampath commented on #2489
wondering if this needs a fix as later releases have already fixed it and this bug affects only 0.14.x

[2020-06-30 07:24] kameshsampath commented on #2489
@slinkydeveloper ^^

[2020-06-30 13:56] #2569 closed

[2020-06-30 14:54] abrennan89 commented on #1682
Minikube specific docs will not be added to the core docs. Please submit this as a blog if desired.

[2020-06-30 14:54] #1682 closed

[2020-06-30 14:57] abrennan89 commented on #2301
We're on version 0.15 now, so this is pretty outdated.
Also, I think it's a reasonable assumption that a user of the docs can update the number in the sample to the latest version if they know that they want to target a specific Knative version beyond the last major release when docs were published.

[2020-06-30 14:57] #2301 closed

[2020-06-30 15:01] abrennan89 commented on #2234
@sebgoa can you please provide a link for the landing page you're talking about - is it this https://knative.dev/development/eventing/samples/ ?
This page is meant as a reference doc, and I don't think the samples are in any particular order. At any rate, they should probably all be moved into the actual related section of docs eventually, so I don't think it's worth expending much effort on this.

[2020-06-30 15:25] slinkydeveloper commented on #2489
Are you willing to do a pr for it?

[2020-06-30 15:25] slinkydeveloper commented on #2489
You can pr this doc fix for the specific 0.14 release: https://github.com/knative/docs/tree/release-0.14

[2020-06-30 16:44] sebgoa commented on #2234
The landing page here: https://knative.dev/docs/

The fourth sample is the eventing one and goes to:
https://knative.dev/docs/eventing/samples/kubernetes-event-source/

<img width="893" alt="Screenshot 2020-06-30 at 18 43 57" src="https://user-images.githubusercontent.com/1886299/86153266-af61b900-bb01-11ea-9d99-5792b60c00dd.png">

[2020-06-30 17:24] abrennan89 commented on #2234
Ah, I understand now.
I think this should link to https://knative.dev/docs/eventing/sources/ - however, that page probably needs a lot of work too.

When I land here, I would expect:

- An explanation of event sources and how they work
- A list of core/supported event sources
- Subsections for examples of each event source type

@carieshmarie FYI - event sources should be a consideration when we'r

[2020-06-30 18:22] abrennan89 commented on #2586
@evankanderson can you please take a look at this - I'm not sure if the other PR that you merged caused something in the tabs to break? :slightly_smiling_face:

[2020-06-30 18:24] abrennan89 commented on #2526
@richterdavid please raise this issue in the website repo, since it's not related to actual docs content. Thanks.

[2020-06-30 18:25] #2526 closed

[2020-06-30 18:36] kameshsampath commented on #2489
Yes will do that way then.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Francesco Guardiani <notifications@github.com>
Sent: Tuesday, June 30, 2020 8:56:14 PM
To: knative/docs <docs@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [knative/docs] Default channels(docs/eventing/channels/default-

[2020-06-30 19:12] richterdavid commented on #2526
Done: https://github.com/knative/website/issues/188

[2020-06-30 22:10] vaikas commented on #2543
This will be a two step process:
* Install https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/broker.yaml
* Then run the rest of the yamls.

Reason being that unless you first run the migrator job, there will not be any migration done, we must first bump the storage version to v1beta1, then run the job so that everything gets migrated.

[2020-07-02 08:15] brian-burton opened #2636 "Unable to read entire cookie policy without accepting cookie policy first"
## Expected Behavior
A user of the site should be able to read the full cookie policy before accepting the pop-up.

## Actual Behavior
When reading any page on the site before accepting the cookie policy, the ability to scroll down the page is disabled. Accepting the cookie policy enables scrolling. The cookie policy itself is longer than a single page (tested at full screen, 100% sizing, 2560x144

[2020-07-02 15:22] lionelvillard commented on #2586
same issue with this page: https://knative.dev/development/eventing/sources/

[2020-07-03 00:01] #1446 closed

[2020-07-03 00:01] #1413 closed

[2020-07-03 02:22] ZhiminXiang commented on #2616
/assign

[2020-07-04 18:21] #2053 closed

[2020-07-04 20:29] vaikas opened #2641 "Document the installation and usage of sugar controller for Eventing."
## What is changing? (Please include as many details as possible.)
By default some of the magic of Broker / Trigger creation is moved to a separately installed component:
https://github.com/knative/eventing/pull/3459
https://github.com/knative/eventing/issues/3138

## How will this impact our users?
Some of the magic ways of creating brokers is going away from the core installation and moved to
a

[2020-07-06 13:40] FWiesner opened #2646 "[Eventing] Please document how to set the TTL attribute"
Please see https://knative.slack.com/archives/C9JP909F0/p1594037799295200

It would be great if the TTL feature would be documented (https://github.com/knative/eventing/blob/282bb726fcb36dcd40b5dbb54aa07db99c042807/pkg/mtbroker/ttl.go#L32)

[2020-07-06 15:04] #2616 closed

[2020-07-06 22:19] n3wscott opened #2648 "Revamp eventing/getting-started.md's install instructions to point to ./install/any-kubernetes-cluster.md"
I'd remove this whole installation bit here and just point to any-kubernetes-cluster.md. They have drifted in the past.

_Originally posted by @vaikas in https://github.com/knative/docs/diffs_

[2020-07-06 22:19] n3wscott commented on #2648
https://github.com/knative/docs/pull/2647/files#r450497196

[2020-07-06 22:20] n3wscott commented on #2646
@Harwayne

[2020-07-06 22:25] n3wscott commented on #2646
FWIW you can not set the attribute on an event, the broker will drop it if you attempt to set it. You can set the max TTL in the eventing controller. And here is where I would give you a link to know how to do that, but it was never implemented.

See here https://github.com/knative/eventing/blob/master/cmd/mtbroker/ingress/main.go#L66, 255 is the default and it is not set-able at the moment.

[2020-07-08 14:44] beemarie opened #2654 "Apache Kafka Source Example(docs/eventing/samples/kafka/source/index.md)"
## Expected Behavior

Apache Kafka Source sample should work

## Actual Behavior
Apache Kafka Source Sample event-display image failing with

[code]

## Steps to Reproduce the Problem

1. follow tutorial (apache kafka source example)
1. at the message send step, you will see the above error.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install informa

[2020-07-08 14:44] beemarie commented on #2654
/assign

[2020-07-08 14:52] beemarie commented on #2654
Actually, it looks like this was fixed in `master`, just not released yet.  Thanks!

[2020-07-08 14:52] #2654 closed

[2020-07-10 20:00] mattmoor opened #2661 "drop enabledComponents documentation"
## What is changing? (Please include as many details as possible.)

We are going to enable leader election by default, and have a flag per-component to disable it.  This will require changed to at least the "config-ha" docs, but we should grep for other places that may need this as well.

## How will this impact our users?

They'll have a better default wrt HA posture, but otherwise it should just

[2020-07-10 20:01] mattmoor commented on #2661
cc @abrennan89

[2020-07-10 20:01] mattmoor commented on #2661
https://knative.dev/development/serving/config-ha/

[2020-07-10 21:48] abrennan89 commented on #2646
Please raise a new issue if this ever becomes an implemented feature. Closing since there is no fix for this that can be done by docs.

[2020-07-10 21:48] #2646 closed

[2020-07-10 21:50] abrennan89 commented on #2636
This may need to be filed in the website repo instead, but I will bring it to the WG for discussion.

[2020-07-10 22:25] abrennan89 commented on #1402
@duglin is this issue still valid?

[2020-07-10 22:27] abrennan89 commented on #2565
@vagababov can you provide information about what this should be updated to to make it correct?

[2020-07-11 00:58] vagababov commented on #2565
There must be `queueSidecarImage` value.
In the release we actually point to a real one (e./g. for 0.16   queueSidecarImage: gcr.io/knative-releases/knative.dev/serving/cmd/queue@sha256:ab38418f2e13dfc21d48c64af0589f4eae5c40fc34a5e02f48b24b7156391d22). But probably we just need to specify that the value must be set.
Either by downloading and modifying existing CM (kubectl get cm -n knative-serving

[2020-07-12 12:01] #2154 closed

[2020-07-12 12:01] #2165 closed

[2020-07-12 12:01] #2209 closed

[2020-07-12 15:03] mattmoor commented on #2166
/reopen
/remove-lifecycle rotten

[2020-07-12 18:39] duglin commented on #1402
Just tried it and it appears we no longer need to manually edit the config map - so we're good. I'll close.

[2020-07-12 18:39] #1402 closed

[2020-07-13 16:38] vaikas commented on #2641
https://github.com/knative/docs/pull/2647

[2020-07-13 16:38] #2641 closed

[2020-07-13 19:51] abrennan89 commented on #1376
After discussion on this in Slack with @mattmoor , the solution we've come to is to ensure that all samples point to "ensuring you have a working Knative installation" of the required components before you begin. The install docs for Serving already call out configuring a DNS as far as the scope of our docs go.

Work required: review the sample, remove any steps like this and point to correct sect

[2020-07-13 19:58] abrennan89 commented on #2124
@karimbzu are you still having issues if you use the current 0.16 docs to do a fresh install?
It doesn't look to me like this is a documentation issue, at least not until it's clear what is causing the problem and needs to change in docs.

If you're specifically trying to install in OpenShift Container Platform, this has its own documentation for each version of the platform: https://docs.openshif

[2020-07-13 20:07] abrennan89 commented on #1534
Ties into any renaming of "master" branch happening in eng.
@markusthoemmes any updates on that yet?

[2020-07-13 20:31] abrennan89 commented on #2136
This page doesn't exist anymore - docs point out to a different example repo now: https://knative.dev/docs/eventing/samples/cloud-pubsub-source/
Closing.

[2020-07-13 20:31] #2136 closed

[2020-07-13 21:14] abrennan89 commented on #2319
@trisberg if I look for "Targetable" in https://knative.dev/docs/eventing/ I don't see anything - is this issue still valid, and is this the right link?

[2020-07-13 21:19] abrennan89 commented on #2005
Closing this since it was opened against an old version and haven't received any further information about requested doc changes. If this is still a problem using the latest versions, please open a new issue.

[2020-07-13 21:19] #2005 closed

[2020-07-14 00:18] nachocano opened #2663 "Update SinkBinding docs to use v1beta1"
## What is changing? (Please include as many details as possible.)
In 0.17, we are promoting SinkBinding to v1beta1.
We should update the docs accordingly.

## How will this impact our users?
They will be able to start using SinkBinding in v1beta1

## In what release will this take happen (to the best of your knowledge)?
0.17

## Context
Link to associated PRs or issues from other repos here.

1.

[2020-07-14 03:20] vincent-pli opened #2665 "Do we have sample for multi-container for ksvc"
**Describe the change you'd like to see**
I saw the `multi-container` features has been add to latest release v0.16.0: https://github.com/knative/serving/releases

Do we plan to add any sample or already has one? thanks.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-07-14 12:59] pierDipi commented on #2281
This is done: https://knative.dev/docs/eventing/broker/defaults-br-config/

/close

[2020-07-14 12:59] #2281 closed

[2020-07-14 12:59] pierDipi commented on #2371
This is done: https://knative.dev/docs/eventing/broker/defaults-br-config/

/close

[2020-07-14 12:59] #2371 closed

[2020-07-14 17:16] trisberg commented on #2319
If you look at the image for "Event brokers and triggers" under [Design Overview](https://knative.dev/docs/eventing/#design-overview) the text in the image uses "Targetable" for the Service instead of "Addressable" which is mentioned a bit earlier.

[2020-07-14 19:13] ellenevans opened #2668 "[WIP] Docs release process"
## Reference: Richie's doc: https://github.com/knative/docs/issues/1344

## Prerequisites
Before you begin:
* For updating and building website on knative.dev
   *  Be granted access to Netlify for staging
        * Contact Caroline Lee or Richie Escarez

* For GitHub
   * [Set up keys for SSH access](https://docs.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh)
   * [C

[2020-07-14 19:14] lionelvillard commented on #2288
this is not needed anymore.

[2020-07-14 19:14] #2288 closed

[2020-07-15 00:11] duglin commented on #2085
/reopen

[2020-07-15 00:11] duglin commented on #2085
/remove-lifecycle rotten

[2020-07-15 04:51] Yiyiyimu opened #2669 "Upgrading your installation(docs/install/upgrade-installation.md)"
Since current version([v0.16.0](https://github.com/knative/serving/releases/)) does not release serving.yaml anymore, the [Performing the upgrade](https://knative.dev/docs/install/upgrade-installation/#performing-the-upgrade) part needs improving.

[2020-07-15 14:01] abrennan89 commented on #2554
Notes from Slack:
As of 0.16, `default` broker is deprecated and we use MT broker by default.
Currently only InMemoryChannel persistence store; Kafka landing when?
Source, channel and broker components.

[2020-07-15 15:40] vaikas commented on #2554
Kafka channel should be out there, v1alpha1? I thought v1beta1 went out but maybe not released? @slinkydeveloper @matzew  probably have more details on this.

[2020-07-15 16:06] abrennan89 commented on #2554
I meant specifically v1beta1 I think but this afaik went into 0.16 so I think we're cool, was just thinking out loud :slightly_smiling_face:

[2020-07-16 12:42] oscerd opened #2675 "The channel-broker.yaml doesn't exist anymore but it still reported in the documentation of 0.15.x"
## Expected Behavior
Being able to install a broker (eventing) layer with 0.15.0, 0.15.1, 0.15.2 and 0.15.3

## Actual Behavior
kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.15.0/channel-broker.yaml fails because it doesn't exists anymore, there is only the deprecated-channel-broker.yaml

## Steps to Reproduce the Problem

1. kubectl apply --filename https://git

[2020-07-16 14:02] miguelvr opened #2678 "Access KNative Service locally with minikube"
Hi,

I'm trying to spin up my first KNative service, and I've been following the instructions but to no success so far.

It's not really clear how a user can access a KNative Service without exposing it through DNS.

In a nutshell, I launched a KService, it has it's status ready and I want to verify everything is working by accessing the server webpage through the browser or curl it.

I'm using Is

[2020-07-16 15:03] nak3 commented on #2678
Hi @miguelvr using NodePort for the ingressgateway does not work?
We have similar report here https://github.com/knative/net-istio/issues/168. So it would great if you could try it and let us know your feedback in https://github.com/knative/net-istio/issues/168.

[2020-07-16 15:03] nak3 commented on #2678
/kind networking

[2020-07-16 15:14] miguelvr commented on #2678
Hi @nak3

I've actually just managed to solve the problem.

Here is how:

1. Run `minikube tunnel` in a separate terminal window
2. Add the ingress gateway IP and my service DNS address to `/etc/hosts`
[code]
3. You can now curl the service at the DNS address

I guess these instructions, could be highlighted somewhere for the particular use-case of minikube

[2020-07-16 15:30] #2608 closed

[2020-07-17 00:02] #2663 closed

[2020-07-17 16:15] mattmoor opened #2684 "Feature/Extension Flags(docs/serving/feature-flags.md)"
# Expected Behavior

The podspec dry-run flag matches: https://github.com/knative/serving/blob/66a88a4ff431fbd717e89ecc80793c6643c1f1b4/config/core/configmaps/features.yaml#L53

## Actual Behavior

It has a `/`, which isn't correct (or allowed).

cc @whaught

[2020-07-17 16:28] whaught commented on #2684
kubernetes.podspec-dryrun is the feature flag that is present in the yaml, but there is also an annotation that may be attached to individual services to enable it on a one-off basis.

When the configmap is set to `"kubernetes.podspec-dryrun": "allowed"`, the server will not dry-run incoming Services. However the user may opt-in an individual service by attaching the following to its metadata: ` A

[2020-07-17 19:04] mattmoor commented on #2684
The docs page has `kubernetes/podspec-dryrun` in the context of the configmap:
![image](https://user-images.githubusercontent.com/2442466/87822013-a2450980-c825-11ea-92a6-b5fcc1010049.png)

[2020-07-17 21:24] capri-xiyue opened #2687 "Update ApiServerSource docs to use v1beta1"
## What is changing? (Please include as many details as possible.)
In 0.17, we are promoting ApiServerSource to v1beta1.
We should update the docs accordingly.

## How will this impact our users?
They will be able to start using ApiServerSource in v1beta1

## In what release will this take happen (to the best of your knowledge)?
0.17

## Context
Link to associated PRs or issues from other repos he

[2020-07-20 13:15] #2687 closed

[2020-07-20 15:12] mattmoor commented on #2684
@whaught fixed this ☝️

/close

[2020-07-20 15:12] #2684 closed

[2020-07-20 20:26] abrennan89 commented on #2661
Follow up with docs review of https://github.com/knative/docs/pull/2691

[2020-07-21 12:01] #2229 closed

[2020-07-21 16:24] #1344 closed

[2020-07-21 16:24] #902 closed

[2020-07-23 20:55] abrennan89 commented on #2675
I believe that this is due to the default broker now being the multitenant broker. The old `default` broker is deprecated and will be removed entirely in a future release afaik, hence the name change of the yaml I guess.
I will update the docs to make the broker options clearer for each version and to highlight this being deprecated. I am already working on the broker story overall so this should

[2020-07-24 05:33] vaikas commented on #2607
https://github.com/knative/docs/pull/2696

[2020-07-24 21:34] igorbelianski opened #2699 "(docs/serving/spec/knative-api-specification-1.0.md)"
## Expected Behavior
 RevisionTemplateSpec
       metadata | RevisionMetadata | The requested metadata for the Revision. | REQUIRED
       spec | Revision  | The requested spec for the Revision. | REQUIRED

## Actual Behavior
 RevisionTemplateSpec
       metadata | RevisionMetadata | The requested metadata for the Revision. | REQUIRED
       spec | RevisionSpec  | The requested spec for the Revisi

[2020-07-24 21:45] igorbelianski commented on #2699
I think I got confused by  link name mismatch

[2020-07-24 21:45] #2699 closed

[2020-07-27 00:42] #2346 closed

[2020-07-27 14:47] abrennan89 commented on #2430
@hasheddan any status update on this issue? Can it be closed? :slightly_smiling_face:

[2020-07-27 14:51] hasheddan commented on #2430
@abrennan89 apologies for the long delay here! I am still interested in adding an example so would like to keep this open for now if possible. I can likely have this implemented in the next week or so if that seems reasonable for yall :slightly_smiling_face:

[2020-07-27 15:06] abrennan89 commented on #2430
Thanks so much for the quick response, @hasheddan ! That's no problem, just wanted to check :slightly_smiling_face:

[2020-07-27 20:04] #2607 closed

[2020-07-27 20:05] abrennan89 commented on #2607
Thanks @vaikas ! :tada:

[2020-07-28 03:33] ajtomato opened #2702 "Creating a private cluster-local service(docs/serving/cluster-local-route.md)"
## Expected Behavior

To label a Kubernetes service:

kubectl label __svc__ ${SERVICE_NAME} serving.knative.dev/visibility=cluster-local

## Actual Behavior

To label a Kubernetes service:

kubectl label __route__ ${SERVICE_NAME} serving.knative.dev/visibility=cluster-local

## Steps to Reproduce the Problem

None

## Additional Info

None

[2020-07-28 16:09] abrennan89 commented on #2702
@ajtomato can you please provide a link to where you're seeing this in the docs?
Thanks!

[2020-07-28 16:12] abrennan89 commented on #2678
@miguelvr we do not document Knative for specific vendors besides allowing links to third party docs, so there are no minikube specific docs anymore.
Closing issue.

[2020-07-28 16:12] #2678 closed

[2020-07-28 16:34] abrennan89 opened #2704 "Fix review comments from #2299"
**Describe the change you'd like to see**
Fix review comments from #2299

**Additional context**
Usually these should be fixed by the person opening a PR but in this case I am making an exception to get the content included at least.

[2020-07-28 16:52] abrennan89 commented on #2661
No additional comments for #2691 right now. Closing.

[2020-07-28 16:52] #2661 closed

[2020-07-28 17:11] abrennan89 commented on #2586
#2680 by @lionelvillard fixes this issue.
Needs to be cherrypicked into 0.15, 0.16

[2020-07-28 17:33] lionelvillard commented on #2586
for the record, shortcodes don't get processed by [readFile](https://gohugo.io/functions/readfile/).

[2020-07-28 17:38] Enoch-Kim opened #2706 "Code Boxes form collapses in Knative Documentation"
## Expected Behavior
codes are exist in code box correctly

## Actual Behavior
it's come outside of boxes..
for example, it looks well in github
(picture = https://drive.google.com/file/d/1szSe2UaqiHD_QAkK844YWnJy_GzhuKlR/view?usp=sharing
 link = https://knative.dev/docs/eventing/samples/kubernetes-event-source/)
but collapsed in documentation
(picture = https://drive.google.com/file/d/1IIgfDdIJ-X

[2020-07-28 18:19] abrennan89 commented on #2675
@oscerd could you provide a link to where you can see this command
[code]
in the documentation? Thanks.

[2020-07-28 18:21] #2553 closed

[2020-07-28 18:25] oscerd commented on #2675
The PR related to this has been merged I guess.

[2020-07-28 19:57] abrennan89 commented on #2043
@lionelvillard this looks like its covered here https://knative.dev/docs/eventing/event-delivery/#configuring-subscription-delivery ?
Is there anything else to add?

[2020-07-28 20:27] #2675 closed

[2020-07-29 00:48] ajtomato commented on #2702
https://knative.dev/docs/serving/cluster-local-route/

[2020-07-29 07:34] nak3 commented on #2702
Thank you @ajtomato
Fixing it https://github.com/knative/docs/pull/2710.

/kind networking

[2020-07-29 07:35] nak3 commented on #2568
We can close this as https://github.com/knative/docs/pull/2617 was merged.
Thank you @ZhiminXiang !

/close

[2020-07-29 07:35] #2568 closed

[2020-07-29 13:54] pierDipi opened #2712 "Document KafkaChannel event delivery support"
**Describe the change you'd like to see**
KafkaChannel supports retries and `DeadLetterSink`.
We need to update the page: https://knative.dev/development/eventing/event-delivery/ to reflect these new features.

/kind eventing-contrib
/priority 0

[2020-07-29 14:02] #2702 closed

[2020-07-29 17:10] evankanderson commented on #2706
Here are the images (extracted from Google Drive):

It looks like the `---` separator between YAML sections is being interpreted as an `<hr>` by Hugo.

<img width="1038" alt="스크린샷 2020-07-29 오전 1 48 20" src="https://user-images.githubusercontent.com/7959095/88831016-993c2c80-d183-11ea-8a7b-f5511942825e.png">
<img width="962" alt="스크린샷 2020-07-29 오전 1 48 29" src="https://user-images.githubuserconte

[2020-07-29 17:14] evankanderson commented on #2706
Here's the generated HTML:

[code]

[2020-07-29 18:43] evankanderson commented on #2706
This is https://github.com/yuin/goldmark/issues/111, which looks to be fixed in Hugo 0.72

I'm going to try an upgrade to the latest Hugo now, to see how that improves things.

[2020-07-29 19:17] abrennan89 commented on #2289
@tcnghia any updates on this one? :slightly_smiling_face:

[2020-07-29 21:41] ZhiminXiang opened #2715 "Switch to use go mod"
In the other Knative repos (e.g. serving, pkg), we already switched to use "go mod" for golang dependency management.

We should also switch to use "go mod" for this repo.

[2020-07-29 21:44] evankanderson commented on #2715
Actually, we should use `go mod` for each sample, rather than vendoring all the `go` libraries at the top level. This would also allow different samples to use different versions of Go libraries if needed.

[2020-07-29 21:54] evankanderson commented on #2289
If the goal is "how to fulfil KIngress", this should probably be in https://github.com/knative/networking

[2020-07-29 21:54] evankanderson commented on #2289
(In that this would be advanced technical docs aimed at the "contributor" persona rather than developers or operators.)

[2020-07-30 21:45] ZhiminXiang opened #2717 "Sample integration tests are broken"
## Expected Behavior
Sample integration tests pass

## Actual Behavior
Sample integration tests pass

## Steps to Reproduce the Problem
https://github.com/knative/docs/pull/2716

The reason is in knative-sandbox/net-istio, we switch to use Istio v1beta1 API, while the API version installed by GKE Istio addon is v1alpha3.

[2020-07-30 23:45] ZhiminXiang commented on #2717
Fixed by https://github.com/knative/docs/pull/2716

[2020-07-30 23:45] #2717 closed

[2020-07-31 08:06] nak3 commented on #2348
This can be closed as https://github.com/knative/docs/pull/1249 merged.
@cc4i please feel free to re-open if any objections.

/close

[2020-07-31 08:06] #2348 closed

[2020-07-31 20:05] #2247 closed

[2020-08-03 15:19] slinkydeveloper commented on #2459
I think we can close it because we added tracing to all components were this change is doable

[2020-08-03 15:19] #2459 closed

[2020-08-03 15:25] #2234 closed

[2020-08-03 15:43] abrennan89 commented on #1771
Closed by #2714

[2020-08-03 15:43] #1771 closed

[2020-08-03 16:00] mpetason commented on #2563
I think this could be renamed Knative Kubernetes Resources since it is describing the resources running instead of what we would think of as a Service keyword in K8s.

There's even another section of the docs that goes into Knative Services - https://knative.dev/docs/serving/services/ , which can add more confusion.

[2020-08-03 17:11] mpetason commented on #2715
Looks like there is an open PR addressing this - https://github.com/knative/docs/pull/2718

[2020-08-03 18:58] Shashankft9 commented on #2569
Hey, can you please add documentation on using istio policies with components like `activator` and `cluster-local-gateway` included? I have been having a tough time configuring the `cluster-local-gateway` with the policies to accept requests from some knative sources (I am working with kafkasource).

[2020-08-04 12:12] mjschmidt opened #2724 "Kubernetes event using the API Server Source(docs/eventing/samples/kubernetes-event-source/index.md)"
Hey docs folks!
Eventing API Server Source use to work in release 0.13, but is broken in release 0.16, please consider retesting and cleaning up the example.
https://knative.dev/docs/eventing/samples/kubernetes-event-source/

[2020-08-05 07:25] thecodacus commented on #2050
Issue is still happening if installed via helm chart

[2020-08-05 12:48] abrennan89 commented on #2050
What issue?

[2020-08-05 14:13] thecodacus commented on #2050
[datawire/ambassador#1871](https://github.com/datawire/ambassador/issues/1871)

if I install Ambassador via helm chart, its throwing same error
Found a temporary solution I have added as comment [datawire/ambassador/issues/1871#issuecomment-669095130](https://github.com/datawire/ambassador/issues/1871#issuecomment-669095130l)

[2020-08-06 19:04] evankanderson commented on #2602
We have the operator and non-operator paths, so this still works. I added eventing as another place to get started, though.

/close

[2020-08-06 19:04] #2602 closed

[2020-08-08 15:09] mattmoor opened #2733 "PingSource example(docs/eventing/samples/ping-source/index.md)"
## Expected Behavior

No hugo markdown in rendered docs

## Actual Behavior

I see unrendered tabs

## Steps to Reproduce the Problem

1. Look at https://knative.dev/docs/eventing/samples/ping-source/

cc @lionelvillard @abrennan89

[2020-08-08 15:51] xinydev opened #2734 "docs for helloworld-go is not rendered correctly"
## Expected Behavior

Yaml file was not truncated in docs

## Actual Behavior

the sentence in yaml is rendered as head in hugo website

## Steps to Reproduce the Problem

1.  https://knative.dev/docs/eventing/samples/helloworld/helloworld-go/   Bottom of this page
1. https://github.com/knative/docs/tree/master/docs/eventing/samples/helloworld/helloworld-go

[2020-08-11 13:38] pierDipi commented on #2227
@abrennan89 `broker.spec.config` usage is documented here: https://knative.dev/development/eventing/broker/mt-channel-based-broker/ and there is an example with `InMemoryChannel` and `KafkaChannel`.
But in this PR https://github.com/knative/docs/pull/2707 we're removing that page.
Do you plan to host such documentation somewhere else?

[2020-08-11 13:53] pierDipi commented on #2580
This seems to be fixed. The page https://knative.dev/development/install/any-kubernetes-cluster/#installing-the-eventing-component has only the `MT-Channel-Based` tab that uses `mt-channel-broker.yaml`.
Also, we're removing `deprecated-channel-broker.yaml`, see https://github.com/knative/eventing/issues/3732.

/close

Feel free to reopen if there is something left out.

[2020-08-11 13:53] #2580 closed

[2020-08-11 15:03] #2669 closed

[2020-08-11 15:05] lionelvillard commented on #2586
Apparently there is a workaround by using GetPage: https://discourse.gohugo.io/t/readfile-does-not-parse-shortcodes/16667/7

[2020-08-11 16:47] mpetason commented on #2570
/assign

[2020-08-11 17:49] #2508 closed

[2020-08-11 17:50] abrennan89 commented on #2430
@hasheddan any update on this, or should I move it to the backlog perhaps?

[2020-08-11 20:02] #2734 closed

[2020-08-11 20:59] abrennan89 commented on #75
Covered in part by: https://github.com/knative/eventing/issues/2221 cc @aslom

Closing since this information will likely be crowdsourced from technical teams then added to docs in parts under multiple PRs; no one docs person responsible for creation or maintenance of an overall diagram.

[2020-08-11 20:59] #75 closed

[2020-08-12 13:05] abrennan89 commented on #2262
Also move all Kafka samples to one place under Eventing instead of buried in Code Samples
https://github.com/knative/docs/pull/2707#discussion_r468762810

[2020-08-12 13:24] #2554 closed

[2020-08-12 14:21] slinkydeveloper commented on #2043
@abrennan89 I think we should link from the broker doc this page you posted and provide an example (eg how to setup a dead letter sink in a broker), i feel this page itself is not enough and it's too much "channel" centric

[2020-08-12 16:04] abrennan89 commented on #2733
@evankanderson assigning this one to you since I think it's maybe related to some other bugs in how our docs render that you were working on? Otherwise if it's just due to a typo or something feel free to reassign :slightly_smiling_face:

[2020-08-12 16:37] mpetason opened #2746 "Creating Knative services(docs/serving/services/creating-services.md) YAML is incorrect"
## Expected Behavior
The service YAML will create a service when you copy/paste

## Actual Behavior
Indentation is incorrect so there are errors when you apply the yaml

## Steps to Reproduce the Problem

1. Run kubectl apply --filename service.yaml with the YAML file provided
2. Receive error - error: error parsing hello-world-test.yaml: error converting YAML to JSON: yaml: line 10: did not find

[2020-08-12 16:37] mpetason commented on #2746
/assign

[2020-08-12 16:40] lionelvillard commented on #2733
This might be a workaround: https://discourse.gohugo.io/t/readfile-does-not-parse-shortcodes/16667/7

[2020-08-12 19:10] mpetason commented on #2565
/assign

[2020-08-13 18:06] mpetason commented on #2565
I think it's just misleading, it's specifying which field you should edit/change, this isn't a full configmap that should be applied.

[2020-08-13 19:09] abrennan89 commented on #2565
@mpetason are the other examples on this page fully working configmaps?

If they are, maybe let's make this a full one that can be applied as well to keep consistency.

If not, maybe we should update examples where we can to make sure they are, or else start adding notes/warnings to samples that only contain excerpts that can't be used directly?

[2020-08-13 19:22] mpetason commented on #2565
The others are Deployments. I can get this to work if I edit the example section and remove it + add the value under data. I think the issue is that the queueSideCarImage is going to be different, so you can't exactly specify what the end user will have?

I think @vagababov was actually talking about that with "But probably we just need to specify that the value must be set." I thought he was refe

[2020-08-16 05:38] EatonZ opened #2750 "Add docs for .NET Core unencrypted HTTP2 (h2c)"
[If the underlying Cloud Run application supports h2c, HTTP2 can be used all the way through.](https://github.com/ahmetb/cloud-run-faq#can-my-application-server-run-on-http2-protocol)

I was looking into this for .NET Core and while I found some [promising info to enable h2c on .NET Core's Kestrel](https://docs.microsoft.com/en-us/aspnet/core/grpc/troubleshoot?view=aspnetcore-3.1#unable-to-start-a

[2020-08-16 05:58] EatonZ commented on #2750
I think I found the issue - it doesn't look like the application is actually receiving HTTP2 data. There is a `--use-http2` flag in [gcloud run deploy](https://cloud.google.com/sdk/gcloud/reference/run/deploy), but it's restricted to Anthos.😡

I believe my code is the correct way to go about doing this, but it won't work until this Cloud Run (Fully Managed) limitation is removed.

[2020-08-17 13:22] lionelvillard opened #2751 "Document Github Vanity URLs"
## What is changing? (Please include as many details as possible.)
The MT GitHubSource controller generates cleaner URLs

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
v0.19

## Context
Link to associated PRs or issues from other repos here.

1. https://github.com/knative/eventing-contrib/pull/1473
1.
1.

## Additional info

[2020-08-17 13:23] #2746 closed

[2020-08-18 15:47] mpetason commented on #2350
Maybe this fixed it?

https://github.com/knative/docs/commit/23c337c070b5de04ef3abb9d4e2855c4cfc8b4ec#diff-6a3371457528722a734f3c51d9238c13

I don't see other links to the Roles.md or where the original issue is.

[2020-08-18 16:20] evankanderson commented on #2350
Yeah, I think I forgot to add `Fixed #...` in that PR description.

/close

[2020-08-18 16:20] #2350 closed

[2020-08-18 16:22] #2712 closed

[2020-08-18 16:39] vaikas opened #2753 "Broker example using config-br-defaults appears wrong."
## Expected Behavior
https://github.com/knative/docs/tree/master/docs/eventing/broker

The example says this will use `config-br-defaults` but the spec and annotations are filled in and hence it does not use the defaults from the configmap. It's a fully specified broker.

[code]

## Actual Behavior

[code]
Which will then use config-br-defaults to fill in proper values.
@abrennan89

## Steps to Re

[2020-08-18 16:53] #2753 closed

[2020-08-18 17:30] abrennan89 opened #2755 "Add troubleshooting information to contributor docs"
Our current [contribution docs](https://knative.dev/community/contributing/docs/docs-contributing/#submitting-documentation-prs---what-to-expect) don't provide information about what to do if:

- the CLA fails because you accept and commit suggestions from someone else
- any of the automatic tests that run on PRs fail
- previews don't work (seems to be often now)
- you're not sure which version yo

[2020-08-18 17:55] ahmetb commented on #2750
I'd say documenting how to listen on h2c isn't the right place for Knative, however it would be indeed good for Knative to explain and document how h2c can be configured (in knative case, it's done by naming the port as `h2c` in `containers[0].ports` section).

[2020-08-18 18:24] EatonZ commented on #2750
@ahmetb There are samples [here](https://github.com/knative/docs/tree/master/docs/serving/samples/hello-world/helloworld-csharp) to which info could be added.

[2020-08-18 18:44] ahmetb commented on #2750
But those samples aren't h2c (GRPC/Websockets). :) They're lean and simple for a reason like they're the per-language hello world samples. Adding h2c there is not the right idea.

[2020-08-18 22:00] grantr opened #2757 "Eventing/Getting Started doesn't mention that broker classes may have different URIs"
## Expected Behavior
Documentation is clear that the Broker URI may be different for different broker classes, and that the default URI in the documentation is for the MTChannelBroker broker class.

## Actual Behavior
Getting Started doc doesn't mention the concept of broker class or classes having different URI formats. Users with a different broker class (perhaps set by their vendor) may not be

[2020-08-19 00:01] #2757 closed

[2020-08-19 05:45] ZhiminXiang commented on #1210
/reopen

[2020-08-19 08:53] pierDipi opened #2759 "Document trigger.spec.subscriber type and usage with a particular path"
In this page https://knative.dev/development/eventing/triggers/ we don't explain how
to send events to Trigger's subscriber to a particular path using `spec.subscriber.uri`
or a combination of `spec.subscriber.ref` and `spec.subscriber.uri`.

## Additional Info

- https://pkg.go.dev/knative.dev/pkg/apis/duck/v1?tab=doc#Destination

[2020-08-19 08:54] pierDipi commented on #2759
/assign

[2020-08-19 16:49] #2706 closed

[2020-08-19 17:45] manuelstein commented on #2678
@abrennan89 I'm not sure I understand your response, could you maybe help understand the details if you don't mind?

I understand Minikube is under the umbrella of K8s (github.com/kubernetes/minikube) and contributions go to the CNCF.
Knative serving, like all Knative, is under the Google CLA.

I also noticed some documentation specific to providers, e.g.
https://knative.dev/docs/serving/using-cer

[2020-08-19 19:17] #2759 closed

[2020-08-19 19:34] taragu opened #2762 "The link to slack is broken"
## Expected Behavior
Clicking on the link "Knative Slack channels" on [this page](https://knative.dev/community/) should lead to the current slack login page.

## Actual Behavior
Clicking on the link "Knative Slack channels" on [this page](https://knative.dev/community/) lead to this:
![2020-08-19_15-32-52](https://user-images.githubusercontent.com/6353048/90681392-54ab2a80-e231-11ea-9447-c3239375

[2020-08-19 20:11] vmexalien commented on #2762
I will work on this issue

[2020-08-20 09:13] apupier opened #2765 "Api version sources.eventing.knative.dev/v1alpha1 still used in some examples"
## Expected Behavior

the examples are using `sources.eventing.knative.dev/v1alpha1` although the api version has been modified to `sources.knative.dev/v1alpha1`

for instance, see https://github.com/knative/docs/blob/master/docs/eventing/samples/apache-camel-source/source_http_poller.yaml

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
A

[2020-08-20 12:03] lionelvillard commented on #2765
@nicolaferraro @matzew @lberk

[2020-08-20 12:47] csantanapr commented on #1880
I would like to contribute on this

Navigation to this link mades me 😢 so I wan to contribute from time ideas to improve and can be done in iterations with feedback loop

Part 1
I would like to have a single summary blog post for every “release number” for example do 0.17 then do 0.18 with the dates next to them like to day people can see the good cadence of ~ 6 weeks

If there is a component that

[2020-08-20 12:52] csantanapr commented on #1880
My proposal doesn’t prevent if we want to do a quarterly blog with “what’s new” that’s all great but I would
Ike to start small and simple

[2020-08-20 14:47] houshengbo opened #2768 "Documentation about how to install customized Knative manifests"
**Describe the change you'd like to see**
Operator has implements two new fields: spec.version and spec.manifests to install customized manifests. We need the documentation about how to use them.

[2020-08-20 16:37] evankanderson commented on #1880
I like the ideas of:

1. Having a post for each release, even if it's just a link summary and "top 3" highlights plus any gotchas. It also makes for a good link to amplify on Twitter, etc.
2. For bigger changes, I'd lean towards doing a _separate_ deep-dive on the feature in the blog. This decouples the "write content for feature X" from "run the trains on time", which has almost always helped wit

[2020-08-20 17:46] #2544 closed

[2020-08-20 18:24] abrennan89 commented on #1796
@dgerd it looks like the current reference docs work OK https://knative.dev/docs/reference/
Closing this issue.

[2020-08-20 18:24] #1796 closed

[2020-08-20 18:34] abrennan89 commented on #1429
@rgregg it seems like this link no longer works, but we could still add oncall eng information to docs if its available?

[2020-08-20 18:36] abrennan89 commented on #1895
@houshengbo is this issue related to any of the operator docs work you've been doing?

[2020-08-20 18:46] #447 closed

[2020-08-20 20:54] RichieEscarez commented on #1896
Reopening for now but we need revisit this

[2020-08-20 20:55] RichieEscarez commented on #1897
Reopening for now but we need revisit this

[2020-08-20 20:56] RichieEscarez commented on #1923
Reopening for now but we need revisit this

[2020-08-20 21:02] RichieEscarez commented on #1898
Reopening for now but we need revisit this since it doesn't look like all of these were addressed in #2137

[2020-08-20 21:07] RichieEscarez commented on #1882
Hi, @abrennan89!

Just trying to get back up to speed and am wondering if these were all completed through the mentioned "smaller issues for each use case"?  Are there still pending items?

This issue wasn't meant to do more than just track that effort in a single location (ie. epic or story).

[2020-08-20 21:11] RichieEscarez commented on #1875
Thanks @macruzbar! This looks great: https://github.com/knative/docs/tree/master/blog

[2020-08-20 21:13] RichieEscarez commented on #1875
I think ill reopen this because I'd like to get GitHub to open up an empty Blog template in the edit (when you click the "Post to the blog" link in the site (so that it includes the necessary Hugo content, etc).

[2020-08-20 21:16] RichieEscarez commented on #1875
Oh, that might be here already? https://github.com/knative/docs/pull/2511

[2020-08-21 07:14] pierDipi commented on #2762
/assign @vmexalien

[2020-08-21 07:25] pierDipi commented on #2724
/kind eventing
/kind sample

cc @lionelvillard @nachocano @n3wscott @vaikas

[2020-08-22 11:13] Morriz opened #2773 "operator 0.17 install link dead"
## Expected Behavior

the link to the operator yaml to work on page https://knative.dev/docs/install/knative-with-operators/

## Actual Behavior

404

[2020-08-22 18:44] Abhishek-kumar09 opened #2774 "Repeated Contents in knative docs."
# 1.
![image](https://user-images.githubusercontent.com/48255244/90963426-1c2b7b00-e4d5-11ea-833c-c88530efdf07.png)

## Steps to Reproduce the Problem

1. Go to https://knative.dev/contributing/#before-you-begin

# 2.

![image](https://user-images.githubusercontent.com/48255244/90963456-572dae80-e4d5-11ea-80ae-47290084ffa3.png)

## Steps to Reproduce the Problem
1. Go to https://knative.dev/contri

[2020-08-24 03:39] nak3 commented on #2774
@Abhishek-kumar09 for the slack issue, could you please open another issue? I think it would be helpful if you could attach the screen shot or something with the error.

[2020-08-24 08:46] Abhishek-kumar09 opened #2777 "Not able to join Slack Channel"
I hovered over here to know more about the community: https://knative.dev/community/
![image](https://user-images.githubusercontent.com/48255244/91023293-fe186480-e613-11ea-8156-6a315f2a7d5c.png)
## the slack link is not working
![image](https://user-images.githubusercontent.com/48255244/91023340-0ec8da80-e614-11ea-8de5-3c50ba1fe284.png)
It shows users with email ending with `@google.com, @pivotal

[2020-08-25 19:21] vaikas commented on #2765
Fixed by #2766
Thanks!

[2020-08-25 19:21] vaikas commented on #2765
/close

[2020-08-25 19:21] #2765 closed

[2020-08-25 19:25] ayqazi commented on #1574
It is the mid-2020s, and I have the same issue.

I followed the steps here (for example) to the letter: https://github.com/knative/docs/tree/master/docs/serving/samples/hello-world/helloworld-ruby

and here is the result when I try to get the URL:

[code]

[2020-08-25 21:18] vaikas commented on #2777
Does this link work for you?
https://knative.slack.com/

[2020-08-26 00:18] duglin commented on #2777
that link works, in that it's not a 404, but from there when you click on the "create an account" link you go back to https://knative.slack.com/signup#/  which only seems to like 3 companies.
<img width="723" alt="image" src="https://user-images.githubusercontent.com/1944671/91240477-21283e80-e710-11ea-9432-49b476b6f8eb.png">

[2020-08-26 04:19] csantanapr commented on #1880
I agree with the approach on separate blog on big features on writing content focusing on the new big feature.

[2020-08-26 14:35] abrennan89 commented on #1923
I think creating issues like this that are one big long list actually end up getting ignored a lot of the time because it's too much scope / too much like an epic rather than a single issue to track a docs change. Maybe try splitting the list up?

[2020-08-26 16:00] julz opened #2781 "Feature state labels are unclear in certain contexts (we should change '@' to 'since')"
## Expected Behavior

1. On pages such as https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-serving-component, the Serving link should not be suffixed by "stable @ v0.9" in the opening paragraph, because to at least one reader (hi! 👋) this looks like we're suggesting the current stable version is 0.9.
1. It's fine to have "stable @ v0.9" when this is preceded by "Feature Stat

[2020-08-27 02:18] mattmoor opened #2782 "Page documenting Serving feature flags"
This isn't itself new, but the current docs only address the [meta part](https://knative.dev/v0.16-docs/serving/feature-flags/) (what's a feature flag), but not what flags exist today.

Kind of what I was thinking was something along the lines of https://knative.dev/v0.16-docs/serving/autoscaling/kpa-specific/

However, covering the sorts of feature flags from: https://github.com/knative/serving/p

[2020-08-28 09:01] nak3 commented on #2774
/close

This was fixed by https://github.com/knative/docs/pull/2783.

[2020-08-28 09:01] #2774 closed

[2020-08-28 17:18] #1210 closed

[2020-08-28 18:28] JRBANCEL commented on #2782
/assign

[2020-09-01 10:56] savitaashture opened #2787 "Add documentation to show usage of multiple containers"
Knative Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0) has support for multiple containers as an alpha feature.

To propose multi container feature to beta we should have a documentation to show the usage of multiple containers as part of knative service yaml.

**Describe the change you'd like to see**
A clear and concise description of what you want to happen.

[2020-09-01 10:57] savitaashture commented on #2787
serving issue for more info https://github.com/knative/serving/issues/8664

[2020-09-01 10:59] savitaashture commented on #2787
/kind feature

[2020-09-01 15:41] abrennan89 commented on #2777
@evankanderson @RichieEscarez I think this is a duplicate for a website issue you had open / discussion in Slack about this

[2020-09-01 15:43] abrennan89 commented on #2773
@Morriz links seem to be OK to me in 0.17 docs.
Does this refer to an older version, or can you maybe show in a screen grab the link you mean?
Thanks

[2020-09-01 16:45] RichieEscarez commented on #2762
Duplicate: https://github.com/knative/website/issues/204

[2020-09-01 16:45] #2762 closed

[2020-09-01 16:45] RichieEscarez commented on #2777
Duplicate: https://github.com/knative/website/issues/204

[2020-09-01 16:45] #2777 closed

[2020-09-01 16:50] RichieEscarez commented on #2668
I'm going to finally write all this stuff down. Thanks for this great start @ellenevans !

[2020-09-01 16:55] ellenevans commented on #2668
Now I know it's in good hands

[2020-09-01 19:40] JRBANCEL opened #2790 "Links to edit a page are broken is previous releases"
## Expected Behavior
When I go to 0.16 docs, e.g. https://knative.dev/v0.16-docs/, then click `View/Edit this page`, I expect to go to the related markdown file in GitHub.

## Actual Behavior
It goes to https://github.com/knative/docs/tree/release-0.16/v0.16-docs/README.md which is a 404.

[2020-09-01 20:30] JRBANCEL commented on #2590
Dup of https://github.com/knative/docs/issues/2782
/close

[2020-09-01 20:30] #2590 closed

[2020-09-01 21:19] #2782 closed

[2020-09-01 21:21] vmexalien commented on #2704
/assign @vmexalien

[2020-09-02 00:38] nak3 commented on #2773
Operator is usually released after Serving/Eventing was released. So I am sure that it was 404 error when @Morriz reported this issue. But now operator released 0.17 https://github.com/knative/operator/releases (5 days ago) so the link became OK.

I think that we can close this issue for now, but need to care about this time lag between serving/eventing release and operator release.

[2020-09-02 16:21] aslom commented on #2105
@lionelvillard I think it is related to data-plane defining Callable and also to work on async?

[2020-09-02 16:47] ZhiminXiang opened #2792 "Need documentation for disabling auto TLS with annotation"
## What is changing? (Please include as many details as possible.)
Currently a feature of disabling auto TLS with annotation is being worked on https://github.com/knative/serving/pull/9194. After the implementation is finished, we need a doc to instruct users how to use it.

## In what release will this take happen (to the best of your knowledge)?
0.18

/cc @arturenault

[2020-09-03 19:26] #2768 closed

[2020-09-09 16:42] vmexalien commented on #2704
actively working on this issue; still familiarizing before next steps

[2020-09-09 18:34] julz opened #2796 "Update minimum Kubernetes version for 0.18 in release principles table"
## What is changing? (Please include as many details as possible.)

The minimum kubernetes version.

## How will this impact our users?

They will know what the correct minimum version of kubernetes is.

## In what release will this take happen (to the best of your knowledge)?

v0.18

## Context
Link to associated PRs or issues from other repos here.

1. http://github.com/knative/community/pull/26

[2020-09-09 18:35] macruzbar commented on #1880
I just submitted [a PR](https://github.com/knative/docs/pull/2795) to add this as a dedicated section to the blogging guidelines, and added a note to mention this at the next community meetup (Sept 17)

[2020-09-09 18:38] julz opened #2797 "Update minimum Kubernetes version for 0.19 in release principles table"
## What is changing? (Please include as many details as possible.)

The minimum kubernetes version.

## How will this impact our users?

They will know what the correct minimum version of kubernetes is.

## In what release will this take happen (to the best of your knowledge)?

v0.19

## Context
Link to associated PRs or issues from other repos here.

1. http://github.com/knative/community/pull/26

[2020-09-09 18:41] julz opened #2798 "Update minimum Kubernetes version for 0.20 in release principles table"
## What is changing? (Please include as many details as possible.)

The minimum kubernetes version.

## How will this impact our users?

They will know what the correct minimum version of kubernetes is.

## In what release will this take happen (to the best of your knowledge)?

v0.20

## Context
Link to associated PRs or issues from other repos here.

1. http://github.com/knative/community/pull/26

[2020-09-10 10:12] #2570 closed

[2020-09-11 09:14] rhuss opened #2803 "Documentation for kn configuration"
**Describe the change you'd like to see**

An on documentation section should include the description of the`kn` configuration syntax and usage examples.

In addition the documentation should include the default location of that configuration file and how this can be overwritten with on the command line.

Possible options (needs to be verified):

* sink mappings
* plugin directory locations

[2020-09-11 09:15] rhuss commented on #2803
@abrennan89 unfortunately I can't change any labels or move the issues to a project. Would it be possible to get the appropriate karma ?

[2020-09-11 10:32] rhuss commented on #2803
/label kind/cli

[2020-09-11 10:33] rhuss commented on #2803
/project 23

[2020-09-11 10:33] rhuss commented on #2803
hmm, neither setting projects nor label really works via Prow commands.

[2020-09-11 10:51] rhuss commented on #2803
/kind cli

[2020-09-11 10:51] rhuss commented on #2803
ah, it's not /labe but /kind for doing categorization,.

[2020-09-11 17:49] abrennan89 commented on #2352
@n3wscott is there anything else to do on this one or can it be closed? :slightly_smiling_face:

[2020-09-11 18:06] abrennan89 opened #2804 "Confirm if Observability plugin was actually deprecated, and if it was update the docs"
## Expected Behavior
https://knative.dev/docs/install/any-kubernetes-cluster/ contains only up to date information about components that can be installed.

## Actual Behavior
It mentions an Observability plugin that was deprecated in 0.14. The oldest currently published version of the docs is now 0.14, so this could be removed from all the documentation if it actually was deprecated at 0.14.

## S

[2020-09-11 18:20] abrennan89 commented on #2622
Should this be in the install docs or does it actually need to be updated here? https://knative.dev/v0.15-docs/install/upgrade-installation/#performing-the-upgrade

Still an issue either way. The docs here talk about upgrading to 0.13 which doesn't seem right?
Same problem:
- https://knative.dev/v0.14-docs/install/upgrade-installation/#performing-the-upgrade -> should be 0,14?
- https://knative.de

[2020-09-11 18:24] #2773 closed

[2020-09-11 18:28] #2354 closed

[2020-09-11 18:37] #2484 closed

[2020-09-14 11:07] markusthoemmes commented on #2809
/kind cli

[2020-09-14 11:07] rhuss opened #2810 "Add User Manual"
## In what area(s)?

## Describe the feature:

The user manual should be use case focussed and guide the user through several important use cases. That's different to the reference manual which is more for a quick lookup of options.

The user manual should live on knative.dev, we just track the issue here (but could move it over, too)

I could imagine a TOC like in:

* Installation of kn
* Authent

[2020-09-14 16:30] abrennan89 commented on #2790
I was able to see this too, also an issue for 0.14, 0.15 docs.

[2020-09-14 16:34] RichieEscarez commented on #2790
Thanks for reporting the issue. I'm investigating.

[2020-09-14 16:47] abrennan89 commented on #2068
@mpetason agreed, I think this is a larger question about whether or not we use fenced code blocks. Let's take it to a WG call and figure it out before we tackle this. We should do a review of the whole site to make this consistent once we've decided a style.

[2020-09-14 18:07] vagababov commented on #2565
Yeah some kind of snippet ?

[2020-09-14 18:09] mpetason commented on #2565
Sounds good, I can do this as a snippet instead of it looking like a complete config + maybe make a comment about it so that users know what's up.

[2020-09-14 23:13] RichieEscarez commented on #2790
Fix is here: https://github.com/knative/website/pull/211

[2020-09-15 07:43] pierDipi opened #2812 "Rename controller deployment in Apache Kafka Broker page"
## What is changing? (Please include as many details as possible.)

The name of the controller deployment.

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
v0.17-v0.18

## Context
Link to associated PRs or issues from other repos here.

1. https://github.com/knative-sandbox/eventing-kafka-broker/pull/176

## Additional info

/kind broke

[2020-09-15 07:44] pierDipi opened #2813 "Rename logging ConfigMap in Apache Kafka Broker page"
## What is changing? (Please include as many details as possible.)
The name of the ConfigMap for the data plane logger.

## In what release will this take happen (to the best of your knowledge)?
v0.17-v0.18

## Context
Link to associated PRs or issues from other repos here.

1. https://github.com/knative-sandbox/eventing-kafka-broker/pull/176

## Additional info

/kind broker
/priority 0
/assign

[2020-09-15 09:17] pierDipi opened #2814 "Document Apache Kafka Sink"
## What is changing? (Please include as many details as possible.)

We've added a new abstraction `KafkaSink` and we need to document it.

## How will this impact our users?

Users can stream Knative HTTP CloudEvents into Apache Kafka using `KafkaSink` objects.

## In what release will this take happen (to the best of your knowledge)?
v0.17-v0.18

## Context
Link to associated PRs or issues from o

[2020-09-15 14:13] evankanderson commented on #1429
Ryan moved off the project a bit over a month ago.

/close

[2020-09-15 14:13] #1429 closed

[2020-09-15 15:10] tclasen opened #2816 "Knative Eventing tutorials use not supported CRD for trigger (and probably more)"
## Expected Behavior
cat <<EOF | kubectl apply -f -
apiVersion: eventing.knative.dev/v1alpha1
kind: Trigger
metadata:
  name: helloworld-python
  namespace: knative-samples
spec:
  broker: default
  filter:
    attributes:
      type: dev.knative.samples.helloworld
      source: dev.knative.samples/helloworldsource
  subscriber:
    ref:
      apiVersion: v1
      kind: Service
      name: hellowo

[2020-09-15 15:10] tclasen opened #2817 "Eventing Tutorial uses wrong CRD apiVersion"
## Expected Behavior
cat <<EOF | kubectl apply -f -
apiVersion: eventing.knative.dev/v1alpha1
kind: Trigger
metadata:
  name: helloworld-python
  namespace: knative-samples
spec:
  broker: default
  filter:
    attributes:
      type: dev.knative.samples.helloworld
      source: dev.knative.samples/helloworldsource
  subscriber:
    ref:
      apiVersion: v1
      kind: Service
      name: hellowo

[2020-09-15 16:11] vaikas commented on #2817
/assign

[2020-09-15 16:15] #2790 closed

[2020-09-15 16:25] #2812 closed

[2020-09-15 16:25] #2813 closed

[2020-09-15 20:40] #2817 closed

[2020-09-16 17:23] matzew commented on #2814
/assign

[2020-09-17 03:42] wenzhaojie opened #2821 "curl: (6) Could not resolve host: helloworld-python.default.example.com"
## Expected Behavior
I have followed the knative install guide [https://knative.dev/docs/install/any-kubernetes-cluster/](url), and then tested the helloworld python code example in here [https://knative.dev/docs/serving/samples/hello-world/helloworld-python/](url)

It seems good, until final run step:
curl http://helloworld-python.default.1.2.3.4.xip.io
Hello Python Sample v1!

## Actual Behavior

[2020-09-17 13:30] romankolpak opened #2824 "Installing Istio for Knative(docs/install/installing-istio.md)"
Hello, folks.

Running into a problem in the installation guide at the [Installing Istio without sidecar injection](https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection) step. This snippet doesn't work with istioctl `v1.7.1`:

[code]

produces:

[code]
error. Replacing `apply` command with `install` gets me further, but then I get I see a different problem:

[2020-09-17 16:38] mjanickova commented on #2824
release notes of istio 1.7 can help you: https://istio.io/latest/news/releases/1.7.x/announcing-1.7/upgrade-notes/
it is also written in the error log: `targetPort is set to 0, which requires root. Set targetPort to be greater than 1024`

[2020-09-17 23:56] travigd opened #2829 "Configuring the Serving Operator Custom Resource(docs/install/operator/configuring-serving-cr.md)"
Link to https://knative.dev/docs/install/operator/configuring-serving-cr/#serving-configuration-by-configMap doesn't work because of capitalization issue (the actual anchor is https://knative.dev/docs/install/operator/configuring-serving-cr/#serving-configuration-by-configmap with a lowercase `m` in `configmap`).

[2020-09-21 09:13] pierDipi commented on #2816
/assign

[2020-09-21 09:17] pierDipi commented on #2816
Fixed in: https://github.com/knative/docs/pull/2818
/close

[2020-09-21 09:17] #2816 closed

[2020-09-23 06:08] rhuss opened #2844 "Tabs are not rendering for sources doc"
See https://knative.dev/docs/eventing/sources/

[2020-09-23 12:55] lionelvillard commented on #2844
see slack discussion: https://knative.slack.com/archives/C9CV04DNJ/p1600356176115000

Bottom line: the README.md content needs to be added to the index file.

[2020-09-23 13:37] rajitha1998 opened #2845 "Missing Installation guides"
## Expected Behavior
* The install guidelines and Introduction docs should be loaded correctly
## Actual Behavior
* Some pages related to a first-time contributor is not working.

## Steps to Reproduce the Problem

1. Visit: [Contributing page](https://knative.dev/contributing/)
2. Try navigating to [install guides](https://knative.dev/contributing/docs/install/), [Getting Started with Knative Ser

[2020-09-23 14:19] mattmoor commented on #2845
Indeed, those are all broken 😬

[2020-09-23 14:24] mattmoor commented on #2845
I believe that's from here, and the links work in markdown form, so something we need to fix: https://github.com/knative/docs/blob/master/CONTRIBUTING.md#getting-started

/kind good-first-issue

[2020-09-23 17:26] lionelvillard commented on #2844
/assign

[2020-09-23 19:17] #2829 closed

[2020-09-23 19:18] #2624 closed

[2020-09-23 19:21] abrennan89 commented on #2704
Hey @vmexalien :slightly_smiling_face: just wondering if you've made any progress on this issue and if it should be targeted for early Oct? Thanks.

[2020-09-23 19:23] vmexalien commented on #2704
@abrennan89 yes! Making progress and early Oct is exactly what I have in mind.

[2020-09-23 19:52] #2844 closed

[2020-09-24 06:40] csharpknife2002 opened #2851 "Page needs improvement"
## Expected Behavior
I can finish the example as described.
https://knative.dev/docs/eventing/samples/sequence/sequence-with-broker-trigger/index.html

## Actual Behavior
It will be an endless loop between the broker and the sequence. Because the ksvc yaml doesn't set the TYPE env so it doesn't change the cloud event type. and the trigger to broker will be always triggered and the trigger to the d

[2020-09-24 16:01] evankanderson opened #2852 "Provide a Source documentation template"
**Describe the change you'd like to see**

The current[ sample for writing new sources in Knative](https://github.com/knative-sandbox/sample-source) doesn't have any suggestions on documentation. It would be nice to have a documentation template that includes at least the following information:

* How to install
* Fields on the custom object
* Sample emitted event

**Additional context**

Sample-s

[2020-09-24 16:01] evankanderson commented on #2852
@nachocano

[2020-09-24 16:36] RichieEscarez commented on #1883
Noting the known issues from #2806:
- maintainer instructions about how to build the API are now published as the top level API page.
- the release notes page renders the auto generated "Table of contents" header but its blank because there are not child topics below that page

[2020-09-24 18:14] abrennan89 commented on #1883
@RichieEscarez can you please put in a small PR to fix this since you understand the TOC issue and the other PR has already merged? Thanks.

[2020-09-24 18:54] RichieEscarez commented on #1883
Sure, not a problem. I'll eventually get around to it but I wanted to at least capture these details so we dont forget about them.

BTW, they are the same changes that are already the PR but those commits were overwritten (so details are there and in the comments).

[2020-09-24 19:34] abrennan89 commented on #1875
Hey folks @RichieEscarez @macruzbar
Any update on the status of the blog template? Is there anything blocking this from being completed, e.g. decisions we need to make in the WG, approval of PRs, etc?
Thanks

[2020-09-24 20:22] abrennan89 opened #2855 "Remove Migration (development/eventing/migration/_index.md)"
## Expected Behavior
The docs should only reference versions of Knative that still have supported documentation versions, i.e. as far back as 0.14 at the moment.

## Actual Behavior
We still have migration docs here relating to 0.13.
These may be suitable to remain in 0.14 docs, but I have a feeling they shouldn't appear in later docs versions than that. These docs even in 0.14 should probably als

[2020-09-24 22:12] macruzbar commented on #1875
Thanks for the ping, @abrennan89 . We need to hash out all contributing avenues at the next docs WG meeting, to update CONTRIBUTING.md (see [this comment](https://github.com/knative/docs/pull/2795#issuecomment-690491139))

[2020-09-25 12:59] rhuss opened #2858 "Stale version information in any-kubernetes-cluster.md"
## Expected Behavior
 Versions referenced in the documentation should reflect the current state

## Actual Behavior

![image](https://user-images.githubusercontent.com/99080/94269674-42fb2800-ff3f-11ea-856c-06fa648218a0.png)

## Solution

Either keep the version numbers current or, my recommendation, remove them completely here as they are not. really important in this context and it would have to

[2020-09-25 13:01] markusthoemmes commented on #2858
I think they are supposed to reflect the current state + how long they've been that way for reference :thinking:. I.e. in this case Serving is stable since 0.9.

[2020-09-25 13:03] rhuss commented on #2858
Really ? So the gist of this information is that you can use Knative Serving still ? Shouldn't it be the version of the least supported version ? (0.15 I think)

I find this information more confusing than helpful.

[2020-09-25 13:05] rhuss commented on #2858
Consider that the `Installation` page is one of the pages a user hits first when trying out Knative for the first time. Having this very specific detail information is IMO not helpful in this context but raises unnecessary questions what this actually means.

[2020-09-25 17:50] abrennan89 commented on #2858
@rhuss completely agreed re this being more confusing than it's worth. I would like to get the WG consensus on what to do about versions; could you come to the WG sometime and stick this on the agenda?

Re observability, I'd keep this to a separate issue please if that's OK so it's easier to assign.

[2020-09-25 17:54] abrennan89 commented on #2851
@lionelvillard @matzew could you please provide some guidance here re what needs to be updated in docs, if you're able to reproduce the problem? Thanks.

[2020-09-25 17:59] abrennan89 commented on #2824
@romankolpak did you manage to resolve the issue? Is there an actual documentation change required here?
maybe @nak3 or @markusthoemmes can also help?

[2020-09-25 18:01] abrennan89 commented on #2858
OH, I forgot I actually opened an issue on the observability plugin a while ago https://github.com/knative/docs/issues/2804
I guess we can say this is confirmed then and remove it?

[2020-09-25 18:06] abrennan89 commented on #2809
I'm not really sure what the use case for an FAQ would be that wouldn't be covered either by user docs, reference docs, or adding troubleshooting info when documenting the commands? Also, I'm not really a fan of things like FAQ docs because you have no idea going in whether the thing you're looking for is actually documented there.

[2020-09-25 18:11] abrennan89 commented on #2858
Related issue from Julz https://github.com/knative/docs/issues/2781

[2020-09-26 02:23] nak3 commented on #2824
@romankolpak The issue was fixed by https://github.com/knative/docs/pull/2775. (Sorry it was merged 7 days ago after you filed this issue...)

The current docs has the fix as @mjanickova mentioned.
https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection

snip
[code]

[2020-09-26 09:15] romankolpak commented on #2824
@abrennan89 adding `targetPort` fixed the issue from me (see snippet in https://github.com/knative/docs/issues/2824#issuecomment-699277335).

Closing since the docs snippet have `targetPort`s as well.

[2020-09-26 09:15] #2824 closed

[2020-09-27 17:25] rhuss commented on #2781
Totally agree, but tbh I question in general to show this information in introductory documents like the installation guide. See #2858 because I got confused about this information. My feeling is that nobody really cares that Knative is stable since 0.9.0 (considering we are already at 0.17) or whether it was in 0.8.0 or 0.10.0. All those versions are not supported anymore anyway.

I would just re

[2020-09-27 17:27] rhuss commented on #2858
@knative/technical-oversight-committee is the definitive authority for answering this question.

[2020-09-27 20:50] mattmoor commented on #2858
We need to triage remaining references (some may still be valuable samples that should be adapted to use upstream observability bits), and then we should remove what we need to to turn it down.  I think @evankanderson has at least one AI related to this.

[2020-09-28 13:59] #1880 closed

[2020-09-28 14:30] #2792 closed

[2020-09-29 20:37] RichieEscarez commented on #707
This can be closed. A while back we decided to use these guidelines: https://developers.google.com/style/text-formatting

re: https://knative.dev/community/contributing/docs/docs-contributing/#style-guide

[2020-09-29 20:37] #707 closed

[2020-09-29 21:04] RichieEscarez commented on #2755
Some info to help unblock people:

*- the CLA fails because you accept and commit suggestions from someone else*

GitHub commits are connected to each author and Knative contributors must sign a [CLA](https://knative.dev/community/contributing/contributing/#contributor-license-agreements).

*- any of the automatic tests that run on PRs fail*

Which tests? Looks like there are lots now that those o

[2020-09-30 06:02] #2565 closed

[2020-09-30 20:38] #1883 closed

[2020-10-01 17:04] mpetason commented on #2821
There's a requirement for `A Kubernetes cluster with Knative installed and DNS configured.` I think what is happening here is that the domain is still setup as example.com but DNS has not been setup to resolve the domain. You may want to setup a custom domain and then setup a DNS record (if you have local DNS setup), or edit your hosts file and point the record to your "public ip" (in this case pr

[2020-10-01 17:05] mpetason commented on #2821
Custom Domain link - https://knative.dev/docs/serving/using-a-custom-domain/

[2020-10-01 17:26] capri-xiyue opened #2879 "Update ApiServerSource docs to use v1"
## What is changing? (Please include as many details as possible.)
In 0.19, we are promoting ApiServerSource to v1.
We should update the docs accordingly.

## How will this impact our users?
They will be able to start using ApiServerSource in v1

## In what release will this take happen (to the best of your knowledge)?
0.19

## Context
Link to associated PRs or issues from other repos here.

1. kn

[2020-10-02 10:27] vaikas opened #2883 "Event sources(docs/eventing/sources/_index.md)"
## Expected Behavior
Clicking on the PingSource under the 'Eventing Sources' here will take me to a page about PingSource.
https://knative.dev/docs/eventing/sources/

## Actual Behavior
Clicking on the PingSource takes me here:
https://knative.dev/docs/eventing/sources/pingsource.md

## Steps to Reproduce the Problem

1. Navigate to: https://knative.dev/docs/eventing/sources/
1. Click on PingSourc

[2020-10-04 19:30] landons-migo commented on #2824
@nak3 Even though that PR was merged, the current docs haven't updated to reflect the change. This is super confusing for us newbies :)

[2020-10-05 01:08] nak3 commented on #2824
@landons-migo Thank you for pointing out it. Yes, we need to cherry-pick the commit against release-0.18 branch and master branch.
I am working on it now as https://github.com/knative/docs/pull/2885 and https://github.com/knative/docs/pull/2886

[2020-10-06 09:10] vaikas opened #2891 "Documentation e2e tests are broken because of an incorrect istio installation"
## Expected Behavior
E2E tests to pass.

## Actual Behavior
They don't anymore because it tries to install Istio and the files it's looking for are no longer there.

As can be seen in the failing test logs here:
#2863

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_docs/2863/pull-knative-docs-integration-tests/1313210531447836675

[code]

But they were removed here:
https://git

[2020-10-06 17:10] #2891 closed

[2020-10-06 17:41] #1881 closed

[2020-10-07 00:34] jroper opened #2894 "Istio installation instructions do not work with recommended Istio version (1.4.10)"
Following the instructions documented here:

https://knative.dev/docs/install/installing-istio/

It says the version of Istio that Knative tests and certifies stability with is 1.4.10. So I installed that version of istioctl:

[code]

But then when I go to install it using the manifest described:

[code]

Running with Istio 1.6.11 instead, it works.

The instructions should at least list the minim

[2020-10-07 00:44] #2879 closed

[2020-10-07 06:42] pierDipi commented on #2851
/assign

[2020-10-07 07:12] pierDipi commented on #2043
@abrennan89 are you working on this otherwise I can take this one.

[2020-10-07 07:36] pierDipi commented on #2855
It makes sense to me. Also, ContainerSource is still supported.
/assign

[2020-10-07 13:58] abrennan89 commented on #2043
That would be great, thanks @pierDipi ! :pray:

[2020-10-07 14:20] n3wscott commented on #2352
looks like one more ref in this page: https://github.com/knative/docs/blob/95926c6c0078b887dfd8e0b3d02a827ad6a9d110/docs/eventing/sources/_index.md

the APIServerSource says v1beta1 in the table but the link is v1alpha

[2020-10-07 14:31] #2352 closed

[2020-10-07 14:40] #2855 closed

[2020-10-07 15:10] abrennan89 commented on #2804
Updated older branches
#2905 (0.15)
#2907 (0.16)
#2908 (0.17)
#2909 (0.18)

[2020-10-07 20:13] duglin opened #2910 "Remove product specific doc page"
I just noticed this page: https://knative.dev/docs/serving/using-external-dns-on-gcp/

It seems a bit too product specific for our site - unless we really want to open the door for each product to add docs for how to configure the DNS for their platform?

[2020-10-08 01:19] vmexalien commented on #2704
@abrennan89 looks like I don't have write access to this repo. I was trying to make a branch. Forgive me, I am a total newbie

[2020-10-08 04:40] nak3 commented on #2894
@jroper Thank you.

/cc @ZhiminXiang @JRBANCEL @tcnghia we can bump up to 1.7.1? (As per https://github.com/knative/serving/commit/b199526507d5719a4864b4341ddc45a20c94d691)

[2020-10-08 04:53] ZhiminXiang commented on #2894
SGTM. One caveat is that there are several PRs within net-istio repo that were checked in after we cut release-0.18 before we promoted Istio 1.7 (https://github.com/knative-sandbox/net-istio/commits/master). But I don't think they are specific to Istio 1.7.

[2020-10-08 13:38] abrennan89 commented on #2704
Hi @vmexalien - please check out the https://knative.dev/community/contributing/ guidelines before you contribute.
Thanks.

[2020-10-08 15:34] #2851 closed

[2020-10-08 15:57] evankanderson commented on #2804
Other refs to the monitoring bundle:

https://knative.dev/docs/serving/fluentd-requirements/
https://knative.dev/docs/serving/accessing-metrics/
https://knative.dev/docs/serving/accessing-traces/
https://knative.dev/docs/serving/samples/telemetry-go/index.html
https://knative.dev/docs/eventing/accessing-traces/

[2020-10-08 16:05] evankanderson commented on #2804
I have some work on the fluentd item, but nothing for traces (which may just need "if you have Jaeger/Zipkin" rather than "here's a Jaeger/Zipkin").

[2020-10-08 20:45] capri-xiyue opened #2917 "Update SinkBinding docs to use v1"
## What is changing? (Please include as many details as possible.)
In 0.19, we are promoting SinkBindingto v1.
We should update the docs accordingly.

## How will this impact our users?
They will be able to start using SinkBinding in v1

## In what release will this take happen (to the best of your knowledge)?
0.19

## Context
Link to associated PRs or issues from other repos here.

1. knative/eve

[2020-10-08 23:55] #2492 closed

[2020-10-09 00:02] abrennan89 commented on #2917
#### Notes:
Issue that added sink binding docs: https://github.com/knative/docs/issues/2492

It seems like now there are 2 different places for sink binding docs:
- https://knative.dev/docs/eventing/samples/sinkbinding/
- https://knative.dev/docs/eventing/sources/sinkbinding/

I think the issue was closed because it was stale, but to me it looks like there's work to do here to combine them into on

[2020-10-09 00:34] capri-xiyue commented on #2917
I think https://knative.dev/docs/eventing/samples lists all the code samples that knative-eventing, knative-gcp, eventing-contrib supports.
but https://knative.dev/docs/eventing/sources just lists the sources that knative-eventing supports.
If we combine them into one doc, it may look confusing here because it doesn't match the inherent logic of the documentation.

[2020-10-09 06:38] charuni2018 commented on #1574
Hi Even I am facing the same issue and this is when I am using the image in my private Repo but still the sample ksvc states as Revision Missing. Any idea what is wrong wiht this ?

[2020-10-09 06:42] tcnghia commented on #1574
cc @vagababov

[2020-10-09 16:53] vagababov commented on #1574
Can you get the logs from knative-serving/controller-XXXXX pod to see what is the exact error you're getting?

[2020-10-09 17:07] julz commented on #1574
Agree that logs would be helpful. FWIW this looks to me like what may be happening is that you've set up HTTP_PROXY so that kubelet can resolve images, but our controller - which _also_ tries to talk to the registry to resolve the image digest - doesn't get passed that env variable and therefore can't get past the proxy. I think you may be able to set the HTTP_PROXY environment variable for the co

[2020-10-09 17:31] vagababov commented on #1574
I think by default Transport uses https://golang.org/pkg/net/http/#ProxyFromEnvironment and we clone it, so it should be using the proxy set in the envvars.

[2020-10-09 17:44] julz commented on #1574
It does @vagababov, but I wonder if that environment variable gets propagated down to the inner containers - like our controller - by minikube or not (as opposed to just being propagated to the kubelet). Printing out HTTP_PROXY from inside a container in a local minikube just now, it looks like it doesn't -- but setting it in controller.yaml might do it.

[2020-10-09 17:55] vagababov commented on #1574
Yeah, it is worth trying.

[2020-10-09 19:49] bdurette opened #2923 "Accessing request traces links to missing resource."
## Expected Behavior

It appears that the configuration for tracing has been refactored to separate config for Zipkin and Jaeger (https://github.com/knative/serving/tree/master/config/monitoring). Ideally, this documentation would be updated to not direct people to missing documentation.

## Actual Behavior

The hyperlinked text 'config-tracing.yaml'  links to a non-existent resource (https://gith

[2020-10-10 09:40] #2894 closed

[2020-10-10 16:03] mattmoor commented on #2166
/lifecycle frozen

cc @nak3 @ZhiminXiang @julz @markusthoemmes

Similar to the sentiment in Serving's DEVELOPMENT.md, I've long wanted a simple default story here.

Can we please put some energy into this?  Does the idea of having a custom Istio profile for knative hold water?  I seem to recall Louis Ryan being receptive to even potentially shipping such a thing built-into istioctl...

🙏

[2020-10-12 00:45] mattmoor opened #2927 "helloworld-scala doesn't use a Dockerfile"
## Expected Behavior

Uniformity with other samples, so Dockerfile.

## Actual Behavior

The image is assembled with an sbt plugin.

## Steps to Reproduce the Problem

https://github.com/knative/docs/blob/master/docs/serving/samples/hello-world/helloworld-scala/README.md

[2020-10-12 00:45] mattmoor commented on #2927
cc @markusthoemmes (self-proclaimed Scala addict 😉 )

[2020-10-12 01:31] nak3 commented on #2166
/assign

Sure, I will try to discuss with Istio community.

[2020-10-12 06:17] charuni2018 commented on #1574
Let me tell you what all I did in brief ..
1. Install Istio and then knative serving all went smooth.
2. I installed the helloworld ksvc having the image using my local repo but when I do a kubectl get all -n default I see the ksvc deployment shows Revision Failed:

NAME                                  TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)                             AGE
service/my-he

[2020-10-12 06:20] julz commented on #1574
@charuni2018 could you please share the logs / error message from the failing container? (Also which blog is it you were following in step 3?)

[2020-10-12 06:36] markusthoemmes commented on #1574
Just to add regarding HTTP_PROXY values etc: You do have to set them explicitly on containers. They are not propagated via the kubelet.

[2020-10-12 07:04] charuni2018 commented on #1574
These are the errors in the controller.yaml pod $ kubectl.exe  logs pod/controller-8b4848bbf-jzbhz -n knative-serving
2020/10/12 06:58:20 maxprocs: Updating GOMAXPROCS=1: determined from CPU quota
2020/10/12 06:58:20 Registering 5 clients
2020/10/12 06:58:20 Registering 5 informer factories
2020/10/12 06:58:20 Registering 12 informers
2020/10/12 06:58:20 Registering 7 controllers
2020/10/12 06:58:

[2020-10-12 07:30] julz commented on #1574
Hmm.. did you add the `NO_PROXY` environment variable to controller.yaml or only the `HTTP_PROXY` env var? Without NO_PROXY _everything_ would be trying to go through the proxy, even internal stuff that the proxy can't resolve, which could explain stuff timing out

[2020-10-12 07:34] markusthoemmes commented on #1574
In particular, the host of your Kubernetes API should probably be part of the `NO_PROXY` environment.

[2020-10-12 07:36] charuni2018 commented on #1574
- name: CONFIG_LOGGING_NAME
          value: config-logging
        - name: CONFIG_OBSERVABILITY_NAME
          value: config-observability
        - name: METRICS_DOMAIN
          value: knative.dev/internal/serving
        - name: http_proxy
          value: $$$$
        - name: https_proxy
          value: $$$$
        - name: no_proxy
          value: 10.100.x.x

So you mean to mention the Kub

[2020-10-12 12:33] #2124 closed

[2020-10-12 18:55] #2917 closed

[2020-10-13 07:26] skonto commented on #2927
it is the scala-way to use the sbt plugin to automate the generation of the file ;)

[2020-10-13 07:35] skonto commented on #2070
@ahmetb monitoring is deprecated as a feature upstream but we plan to update the docs with more info moving stuff out of the serving/eventing repos to docs. This is a good issue to understand what people need.

[2020-10-13 10:49] vaikas commented on #2648
It's actually been removed from there already. We should close this issue.
/close

[2020-10-13 10:49] #2648 closed

[2020-10-13 11:29] abrennan89 commented on #2636
The "learn more" link in the cookies policy seems to work fine now. It directs you to https://knative.dev/about-analytics-cookies/ and it's easy to read the whole page in firefox at least. Closing.
@brian-burton please let me know if you're still having issues.

[2020-10-13 12:22] duglin commented on #2085
/remove-lifecycle stale

[2020-10-13 13:57] mattmoor commented on #2927
Yeah, this issue was mostly about consistency.  I'd love nothing more than for folks to stop using Dockerfile and instead pick up "last-mile" builders like `ko` and `jib`.  @chanseok did Jib ever ship sbt support?

I'm receptive to supporting alternatives (like this, or `ko`) as options (I have `ko` tabs in the tabular version), but I think we want a baseline Dockerfile for every one of these samp

[2020-10-13 14:34] dprotaso commented on #2070
cc @evankanderson

yeah the monitoring bundle is deprecated but we're waiting for some docs to provide guidance. One worry I have though is the docs will become out of date and unmaintained like the thing it's meant to replace.

[2020-10-13 17:20] rhuss commented on #2809
The original idea was to include the `knative.tips` content without much changing it. As the content is in a kind of FAQ like style, I thought that would be the easiest way to consume that content.

However, since knative.tips is dead since quite some long time, this is not relevant anymore as knative.tips is very likely outdated these days (also we don't have access to the source code anyway).

f

[2020-10-13 21:30] brian-burton commented on #2636
Hi, it's still not fixed, even in Firefox. I'm on my PC now and the behaviour hasn't changed in Firefox for Windows. I originally read your most recent message in the Github app on my Android phone and the problem is actually more significant on Firefox for Android: you cannot scroll down or zoom out to read the cookie policy, forcing the visitor to accept the policy in order to read something the

[2020-10-13 21:51] RichieEscarez commented on #2636
Depending on timezone, there are two notices (https://github.com/knative/website/pull/89) and its the EU version that I believe is causing the usability issues.

I think the fix might be to add an [ X ] close icon in the dialog to close it (not accept). Then when the next page is loaded, the notice appears again.

[2020-10-14 07:18] rutpal commented on #2070
"Updating the docs with more info" means that there is any info at all about what the metrics are measuring? We have a Prometheus that collects metrics from Knative in order to control the fulfilment of a certain SLA. Having a description of the impact that each measure has in Knative will be of a great help.

[2020-10-14 09:04] skonto opened #2931 "Document Observability support for Knative components and Knative services"
**Describe the change you'd like to see**
In the [related WG meeting](https://docs.google.com/document/d/1Y7rug0XshcQPdKzptdWbQLQjcjgpFdLeEgP1nfkDAe4/) we discussed that users may require guidance about what metrics to use when monitoring Knative services. This has been raised before here #2070. The purpose of this feature is to capture the involved personas, what are the use cases and as a result

[2020-10-14 12:22] #2809 closed

[2020-10-15 09:25] skonto opened #2934 "Add a sample app that exercises all aspects of Knative"
**Describe the change you'd like to see**
Istio has this nice [sample app](https://istio.io/latest/docs/examples/bookinfo/) that demonstrates how to use it.
It would be nice to have a non-trivial example to demonstrate similar concepts in Knative. Not sure if there is any but for example for Eventing I didn't find anything beyond hello-wrold like samples..
I would suggest an app that is aligned wi

[2020-10-15 11:57] nak3 commented on #2571
/reopen
/remove-lifecycle stale

[2020-10-15 13:39] dprotaso commented on #2804
It's now been dropped in serving - so it'll be part of the 0.19 release

https://github.com/knative/serving/pull/9807

[2020-10-15 14:35] upodroid commented on #2931
I like the route that Istio took which is to provide the grafana dashboards and Service Monitor resources for end users to deploy them in to their prometheus installations. I'm happy to contribute them

[2020-10-16 05:57] rajitha1998 commented on #2564
Hi, can you elaborate a little bit more about this issue @abrennan89. Would like to take it.

[2020-10-16 07:42] aldirrix opened #2936 "Writing an Event Source(docs/eventing/samples/writing-event-source/_index.md)"
## Expected Behavior
When you click to the event source links, they should take you to the appropiate documentation

## Actual Behavior
GithubSource and AWSSQSSource take you to a page that doesn't exist

## Steps to Reproduce the Problem

1. go to https://knative.dev/docs/eventing/samples/writing-event-source/
2. click on GithubSource and AWSSQSSource
3. get a 404

## Additional Info
**Additional

[2020-10-16 10:53] pierDipi commented on #2936
cc @lionelvillard @lberk

/good-first-issue
/kind eventing

[2020-10-16 11:09] pierDipi commented on #2936
I think we should change the `eventing-contrib` link to point to the [event sources page](https://knative.dev/docs/eventing/sources/#knative-sources) and remove the list ("such as ...").

Would you mind creating a PR?

[2020-10-16 12:22] aldirrix commented on #2936
no problem, I will submit one soon :)

[2020-10-16 12:54] pierDipi commented on #2936
/assign aldirrix

[2020-10-16 16:23] mpetason commented on #2821
@wenzhaojie Were you able to take a look at the suggestions + successfully walk through the python code example?

[2020-10-16 16:24] mpetason commented on #2564
Are we looking for a manual update or trying to find a way to automate versions based on the selection in the drop down?

[2020-10-16 16:27] #2601 closed

[2020-10-16 18:51] RichieEscarez commented on #2883
Fixed in https://github.com/knative/docs/pull/2840

[2020-10-16 18:51] #2883 closed

[2020-10-17 07:57] rajitha1998 commented on #2564
I am not sure about that @mpetason.

[2020-10-19 12:48] yelloman opened #2941 "Knative Eventing(docs/eventing/_index.md)"
## Expected Behavior

The link to "Trigger" should follow to (trigger/README.md) in my option.
This sould be the correct content:
`Use a [Trigger](triggers/README.md) to consume events from a Broker based`

## Actual Behavior

The link to "Trigger" in the enumeration in chapter Functionality bring me to (broker/README.md)
This is the current content:
`Use a [Trigger](broker/README.md) to consume e

[2020-10-19 13:01] yelloman opened #2942 "Channel Link in Knative Eventing(docs/eventing/_index.md)"
## Expected Behavior
In my option it is better to bring the reader do documentation than source code if documentation is availibly.

The Link Channels should be show to (channels/README.md)

## Actual Behavior

In section Event channels and subscriptions the link to Channel bring me to https://github.com/knative/eventing/blob/master/pkg/apis/messaging/v1/channel_types.go#L57. But I think there is

[2020-10-19 13:13] yelloman opened #2943 "Split link in "Before you begin" in Event registry(docs/eventing/event-registry.md)"
## Expected Behavior
After splitting the doc of brokers and triggers there should be 2 links, in my opinion. One should bring me to brokers and the other one to triggers.

## Actual Behavior
In Section "Before you begin" there is only one link named "Broker and Trigger objects" which bring me to (broker/README.md).

## Steps to Reproduce the Problem

1. Open https://knative.dev/docs/eventing/acces

[2020-10-19 14:02] runzexia opened #2944 "eventing config-br-defaults set delivery spec defaults"
**Describe the change you'd like to see**
add docs about how to set delivery spec defaults by changing config-br-defaults

**Additional context**
https://github.com/knative/eventing/issues/4172
https://github.com/knative/eventing/pull/4328

[2020-10-19 20:11] #2043 closed

[2020-10-20 17:00] zhaojizhuang opened #2947 "Add annotation "autoscaling.knative.dev/metric: rps" when configuraging RPS"
**Describe the change you'd like to see**
Add annotation `autoscaling.knative.dev/metric: rps` when configuraging RPS, because metric annotation default is `concurrency`
https://knative.dev/docs/serving/autoscaling/rps-target/

[2020-10-20 18:20] abrennan89 commented on #2564
@rajitha1998 @mpetason it was actually just some mentions of older versions throughout the doc that needed to be cleaned up. I think this is out of date now though so I'm going to close it.

@rajitha1998 sorry if you came here from Hacktoberfest - unfortunately we don't have as many issues labelled for it as I'd have liked this year, since a lot of the open issues aren't really "good first issue"

[2020-10-20 18:20] #2564 closed

[2020-10-20 18:31] abrennan89 commented on #2845
/assign shuheiktgw

[2020-10-20 18:40] #2845 closed

[2020-10-20 19:42] dprotaso opened #2949 "Dead links in v0.18 docs"
From: https://knative.slack.com/archives/C93E33SN8/p1603222516244600

Source page:
https://knative.dev/docs/install/any-kubernetes-cluster/
Dead Links:
https://github.com/knative/eventing-contrib/blob/v0.18.0/natss/config/broker/README.md
kubectl apply --filename https://github.com/knative/eventing-contrib/releases/download/v0.18.0/natss-channel.yaml (edited)

[2020-10-20 21:47] #2804 closed

[2020-10-20 22:28] #2609 closed

[2020-10-21 10:56] #2947 closed

[2020-10-22 00:35] RichieEscarez opened #2960 "Consolidate docs authoring, website, and maintainer info"
## What is changing?

Docs contributor docs were previously all in the knative/community repo, under the /docs folder (which had "docs owners" special access). Today, there are chunks of contributing, authoring, and website info across the /doc, /website/ and /community repos.

To make contributor and maintainer info accessible and discoverable, we should create a section in the website that funct

[2020-10-22 16:51] zhaojizhuang opened #2963 "so many useless placeholder on ping-source page"
**Describe the change you'd like to see**
https://knative.dev/docs/eventing/samples/ping-source/#create-a-knative-service

so many useless placeholder there, shall we delete it or not ?

[code]

![image](https://user-images.githubusercontent.com/3124692/96904386-a12d1380-14c9-11eb-8dd0-0292ba885d0d.png)

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-10-22 17:21] abrennan89 commented on #2949
From search, there are probably other updates for docs besides NATSS since things moved from `eventing-contrib` to `knative-sandbox`:

[code]

[2020-10-22 19:09] swinton opened #2966 "GitHub source not found at Optional Eventing extensions"
## Expected Behavior
Following the directions under `Optional Eventing extensions` for `GitHub Source` should result in successfully setting up the GitHub Source.

## Actual Behavior
`github.yaml` does not exist at the documented URL, error message:
[code]

## Steps to Reproduce the Problem

1. Follow the documented steps under [`Optional Eventing extensions `](https://knative.dev/docs/install/any

[2020-10-23 03:25] zhaojizhuang opened #2967 "bad link in https://knative.dev/docs/eventing/"
**Describe the change you'd like to see**
bad link in https://knative.dev/docs/eventing/

404 when click   [View/Edit this page](https://github.com/knative/docs/tree/release-0.18/docs/eventing/README.md)

![image](https://user-images.githubusercontent.com/3124692/96952648-f0069780-1521-11eb-81d0-4e2409e64a0b.png)

**Additional context**
Add any other context or screenshots about the feature reques

[2020-10-23 15:17] #2963 closed

[2020-10-23 17:08] mpetason commented on #2967
I can't replicate this. It looks like it links to "https://github.com/knative/docs/blob/release-0.18/docs/eventing/README.md", which resolves. Are you still having this issue?

[2020-10-23 17:57] abrennan89 opened #2970 "/docs/eventing/samples/writing-event-source/07-eventing-contrib needs to be updated"
## What is changing?
A bunch of stuff moved to knative-sandbox; the process for adding event sources is different now.
https://knative.dev/docs/eventing/samples/writing-event-source/07-eventing-contrib/

## In what release will this take happen (to the best of your knowledge)?
v0.18.0

## Context
Link to associated PRs or issues from other repos here.

1. #2949
1. #2966

[2020-10-23 17:59] #2966 closed

[2020-10-25 01:12] #2109 closed

[2020-10-26 07:19] vaikas commented on #1792
@devguyio would you mind tackling tracing parts of this with all the tracing work you've been doing?

[2020-10-26 07:24] vaikas commented on #2262
@matzew thoughts on who might be able to help out here?

[2020-10-26 07:24] vaikas commented on #2262
@slinkydeveloper

[2020-10-26 07:29] vaikas commented on #2622
We unified the installing / documents and point to that generic upgrade, so some cleanup there would be beneficial to everything. Latest thinking has been that we should not have a 'pre' and 'post' steps, but rather have the upgrade step, then only the post install steps. But until that lands, I do wonder if for older versions, we might want to point to applicable release notes where we linked wha

[2020-10-27 15:26] zhaojizhuang commented on #2967
I can't replicate this too now, i will close this issue

[2020-10-27 15:26] #2967 closed

[2020-10-27 18:44] #2400 closed

[2020-10-27 18:54] #1925 closed

[2020-10-27 19:52] #2433 closed

[2020-10-27 21:06] mpetason commented on #2949
A lot of the links still work. Should we be staging updates for when they cut stuff over? What about older releases, are those moving from eventing-contrib to knative-sandbox? My PR only fixed links that are currently broken.

[2020-10-27 21:23] RichieEscarez commented on #2960
Current state (running locally):

![image](https://user-images.githubusercontent.com/11762685/97360823-ee0f4200-185b-11eb-84e0-ebe0ca30c4a6.png)

[2020-10-28 07:49] slinkydeveloper commented on #2262
Yes that's how knative eventing works. You send events from KafkaSource through the broker that filters them to the final consumers

[2020-10-28 18:49] #2489 closed

[2020-10-28 22:28] #2543 closed

[2020-10-29 05:29] senthilnathan opened #2984 "Broken logging/monitoring pages."
## Expected Behavior
The following pages should either be complete or should be removed.
 - https://knative.dev/docs/serving/accessing-logs/
 - https://knative.dev/docs/serving/setting-up-a-logging-plugin/
 - https://knative.dev/v0.18-docs/serving/installing-logging-metrics-traces/

## Actual Behavior
They are in a broken state and rendered partially.  This is probably due to the removal of the mo

[2020-10-29 13:47] abrennan89 commented on #2949
Yeah I'm only fixing currently broken things. The other things I'll need to check with more technical folks, I'll get back to you.

[2020-10-29 15:51] mpetason commented on #2949
No rush, thank you for the information.

[2020-10-31 02:57] zhaojizhuang opened #2987 "dead link in https://knative.dev/docs/serving/accessing-traces/#configuring-traces"
## Expected Behavior

## Actual Behavior
bad link in [`https://knative.dev/docs/serving/accessing-traces/#configuring-traces`](https://knative.dev/docs/serving/accessing-traces/#configuring-traces)
when click  `configuring-traces`

[2020-11-02 05:50] seufagner commented on #2824
Great! But when I use targetPorts above, I got the same error. Besides this, I believe that the error message is confuse.

[2020-11-02 06:49] #2987 closed

[2020-11-03 16:13] abrennan89 commented on #1896
@RichieEscarez the page https://knative.dev/development/install/knative-custom-install/ doesn't exist anymore, so I think this is outdated. I'd recommend opening a new issue if there's stuff to improve in the current install docs.

[2020-11-03 16:18] abrennan89 commented on #2070
@ahmetb those pages no longer exist due to the old observability plugin being removed @ 0.14, and subsequent removal of  monitoring / metrics related docs that were out of date.

Stavros and I plan to work on new documentation / a roadmap for monitoring docs when we have time, so if you could please add any requirements etc to #2931 instead I'd appreciate it.

[2020-11-03 16:18] #2070 closed

[2020-11-03 17:12] abrennan89 commented on #2943
Correct link: https://knative.dev/development/eventing/event-registry/

[2020-11-03 17:19] #2943 closed

[2020-11-03 18:24] RichieEscarez commented on #1896
@abrennan89 Sorry, I probably should have looked before resetting the stale bot =).

This issue was not about that page, but specifically about documenting all the assets listed in each of the component release pages. For example, do we answer the question of "What is this `...xyz.yaml` file for on the eventing/serving releases page?" Ive honestly not run an install in a long time and I can see th

[2020-11-03 18:53] abrennan89 commented on #2910
Agreed - we shouldn't have GCP specific docs in the site unless we want to allow folks to add these for all platforms.

[2020-11-03 19:01] abrennan89 commented on #2665
I believe this is fixed now by #2732 + #2787

[2020-11-03 19:01] #2665 closed

[2020-11-03 19:14] abrennan89 commented on #2923
@mpetason assigning this one to you since you fixed the link for the upcoming version, thanks!
Can you also update this in the 0.16-0.18 versions please?

[2020-11-03 19:23] abrennan89 commented on #2704
@vmexalien are you still working on this one?

[2020-11-03 19:35] abrennan89 commented on #2910
/assign salaboy

[2020-11-03 20:51] abrennan89 commented on #1896
@RichieEscarez I think we explain some of these throughout docs as they're mentioned (in memory channel, mt broker, etc), and some of the monitoring stuff has probably been removed now if it's part of that monitoring stuff that was deprecated.
I think the best thing to do would instead be to raise an issue if there's a specific YAML file that you think needs a section / explanation, rather than ad

[2020-11-04 16:29] #2949 closed

[2020-11-05 02:13] RichieEscarez commented on #1896
=) This was the issue to state the known issue (for someone to drill in and investigate where those doc gaps/issues are). It was meant for someone to pick up and run with (and/or open those smaller issues) or better yet, just fix them all.

The context is that given the limited resource, it was wasn't productive for one of us to open a bunch of issues. Instead, we took one of these and then set of

[2020-11-05 07:32] nak3 opened #2995 "Search box sometimes shows the result from wrong site"
## Expected Behavior

- The search results should be from https://knative.dev/docs/.

## Actual Behavior

- The search result shows some results from wrong site.

## Steps to Reproduce the Problem

1. Put some word - e.g. "header" in search box in the left pane in https://knative.dev/docs/.
1. The result shows this:

![search-result](https://user-images.githubusercontent.com/2138339/98210740-5ceb4

[2020-11-05 14:57] vmexalien commented on #2704
@abrennan89 yes but to be totally honest, I don't know what needs to be done next.
this is the related PR https://github.com/knative/docs/pull/2930

[2020-11-05 16:57] #2941 closed

[2020-11-05 17:57] zhaojizhuang opened #3000 "badimage link in https://knative.dev/docs/serving/gke-assigning-static-ip-address/"
## Expected Behavior

display image normal

## Actual Behavior

bad image

bad image in [https://knative.dev/docs/serving/gke-assigning-static-ip-address](https://knative.dev/docs/serving/gke-assigning-static-ip-address)

<img width="1649" alt="badimage" src="https://user-images.githubusercontent.com/3124692/98278292-5801b700-1fd3-11eb-9541-f421ffab5c0a.png">

image url is `https://knative.dev/v0.

[2020-11-06 02:59] csantanapr opened #3002 "kubectl command to create secret for contour tls is missing `secret`"
kubectl command to create secret for contour tls is missing `secret`
[code]
In doc https://knative.dev/development/serving/using-a-tls-cert/

/kind bug

[2020-11-06 03:09] #3002 closed

[2020-11-06 15:08] DARK-art108 opened #3006 "Update the Hyperlinks for using kn with Tekton and using kn container Image with Tekton"
## Expected Behavior
Links should redirect to kn docs in tekton repo.

## Actual Behavior
The hyperlinks provided in the Docs for Installing the Knative using Tekton are not working.

## Steps to Reproduce the Problem

1. Go to the [Knative Installation Docs](https://knative.dev/docs/install/install-kn/)
2. Move to the **Kn Container Images** and click on **tekton** the link is not working.
3. Cli

[2020-11-06 16:46] csantanapr opened #3011 "Update serving samples docker build instructions with buildx for arm64 for 0.19"
## What is changing? (Please include as many details as possible.)

When the release `0.19` of Kantive lands, it will be able to support arm64

## How will this impact our users?

Users would be able to build run containers that are build for multiarchitecture.

## In what release will this take happen (to the best of your knowledge)?
v0.19

## Additional info

The serving samples README's mention

[2020-11-06 17:51] mattmoor opened #3012 "PingSource example(docs/eventing/samples/ping-source/index.md)"
## Expected Behavior

Rendered tabs

## Actual Behavior

Hugo shortcodes.

## Steps to Reproduce the Problem

Load: https://knative.dev/docs/eventing/samples/ping-source/

/assign @lionelvillard

[2020-11-06 18:45] lionelvillard commented on #3012
This has been fixed: https://knative.dev/development/eventing/samples/ping-source/

[2020-11-06 23:21] mattmoor commented on #3012
should we backport?

[2020-11-09 10:04] markusthoemmes commented on #2927
/assign

[2020-11-09 18:09] lionelvillard commented on #2751
@abrennan89 Can we move this to the v0.20.0 milestone?

[2020-11-09 19:52] abrennan89 opened #3018 "Improve docs on Installing Knative (development/install/any-kubernetes-cluster.md)"
# Expected Behavior

It should be clear at a glance to a user what is required for a basic working Knative Serving and/or Eventing installation.

## Actual Behavior

1. The TOC on the https://knative.dev/development/install/any-kubernetes-cluster/ page only shows the major headings for installing the two components. I think some of the numbered steps on this page should instead be made into sub-he

[2020-11-10 03:26] #2927 closed

[2020-11-10 16:58] lionelvillard commented on #2733
this is fixed

/close

[2020-11-10 16:58] #2733 closed

[2020-11-10 20:30] #1534 closed

[2020-11-10 20:30] #1533 closed

[2020-11-11 02:28] csantanapr opened #3024 "Release notes blog for knative v0.19"
Write the release notes blog for knative v0.19

This will require all major components to be cut for v0.19
- serving
- eventing
- eventing-contrib (now split into knative-sandbox)
- operator
- cli

[2020-11-11 02:28] csantanapr commented on #3024
/assign

[2020-11-12 13:22] zhaojizhuang opened #3032 "Missing Log,trace,and metrics user guide in 0.16 0.17 0.18"
## Expected Behavior

## Actual Behavior
Where is the Log,trace,and metrics user guide in 0.16 0.17 0.18
like this in 0.15 https://knative.dev/v0.15-docs/serving/installing-logging-metrics-traces/

[2020-11-16 03:49] csantanapr opened #3036 "Add Community Calendar page"
**Describe the change you'd like to see**
Now that we have a new Google Calendar for Community Events, would be good to have a page like `http://knative.dev/community/calendar/`

[2020-11-16 03:49] csantanapr commented on #3036
/assign

[2020-11-16 22:33] RichieEscarez opened #3041 "API docs - The eventing-contrib repo has changed again"
## What is changing?

The `eventing-contrib` repo (fka "eventing-sources") has been restructured and no longer should be a part of the API docs build (it no longer releases along with the Knative Serving and Eventing components/repos).

This page should be removed from knative.dev: https://knative.dev/docs/reference/api/eventing/eventing-contrib-api/

## How will this impact our users?
From Slack

[2020-11-17 00:47] mattwelke opened #3042 "Font in left menu should be made easier to read"
**Describe the change you'd like to see**
The font used makes it hard to see. It's too thin. Here's an example:

![image](https://user-images.githubusercontent.com/7719209/99325433-59897580-2844-11eb-9910-c19837759138.png)

Every piece of text on this screenshot I find easy to read, except the menu on the left. I think it has to do with angle and viewing conditions for the user's screen. In a scre

[2020-11-17 01:35] #3036 closed

[2020-11-17 11:25] ctron opened #3044 "Improve troubleshooting eventing docs"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1. Read https://knative.dev/docs/eventing/debugging/
2. Read up until: https://knative.dev/docs/eventing/debugging/#channel-dispatcher
3. Problem shown, but guide stops at this point

## Additional Info

[2020-11-17 14:00] iancoffey commented on #2931
I am game to help develop this solution as it is necessary to solve the [kfserving metrics situation](https://github.com/kubeflow/kfserving/pull/1162). 👍 😄

[2020-11-18 15:30] skonto commented on #2931
@iancoffey does Kfserving offer any tooling for setting up prometheus and/or grafana for the getting started UX at least? Did it use to rely on Knative for that setup?  Do you think this tooling could be part of a shared repo, if so how this could be maintained? The idea for describing stuff in docs is oriented more for providing high level info on what metrics tell you and not copying the old pro

[2020-11-18 15:56] iancoffey commented on #2931
kfserving docs relied on the observability metrics bits that was removed, and thats the genesis of my interest - trying to understand that gap better, and how to help solve it.

Its an interesting idea, maybe a small experimental project. It would be great to have something to plug the gap until there are longer term options down the road. I wonder what kfserving folks would think of that.

[2020-11-18 16:47] skonto commented on #2931
Pinged @evankanderson for that matter as well.

[2020-11-19 05:23] futureCreator opened #3048 "`istioctl install` command not found"
Hello, Istio 👋

## Expected Behavior
https://knative.dev/v0.18-docs/install/installing-istio/#installing-istio-without-sidecar-injection
[code]
Istio installation is expected.
`Istioctl` version: 1.4.10

## Actual Behavior

[code]

The v1.4.10 is recommended in the [Knative document](https://knative.dev/v0.18-docs/install/installing-istio/#before-you-begin).

But `install` command does not exist i

[2020-11-20 05:01] #3024 closed

[2020-11-22 05:29] nak3 commented on #3048
Hello @futureCreator
Thank you for your report. Yes, it is a bug and fixing by https://github.com/knative/docs/pull/3056.

And if you don't mind, could you please use Knative v0.19?
0.19 is the latest version and the doc already has the fix - 0.19 doc is here https://knative.dev/v0.19-docs/install/installing-istio/#installing-istio-without-sidecar-injection

[2020-11-23 07:32] futureCreator commented on #3048
@nak3
Thank you! 🙏
I'm going to install the 0.19 version and proceed.

[2020-11-23 07:32] #3048 closed

[2020-11-23 17:38] #2814 closed

[2020-11-24 07:41] riyueshiwang commented on #3032
I also met this issue

[2020-11-24 14:56] #1968 closed

[2020-11-24 16:52] zhaojizhuang opened #3061 "Bad link in https://knative.dev/docs/install/install-kn/#using-kn-with-tekton"
## Expected Behavior

link works well

## Actual Behavior
![image](https://user-images.githubusercontent.com/3124692/100125934-50d61680-2eb8-11eb-9349-7a478cca268c.png)

Bad link `run kn using Tekton.` at https://knative.dev/docs/install/install-kn/#using-kn-with-tekton

[2020-11-25 18:27] #3000 closed

[2020-11-26 14:42] dprotaso commented on #2796
/close

[2020-11-26 14:42] #2796 closed

[2020-11-26 14:42] dprotaso commented on #2797
/close

[2020-11-26 14:42] #2797 closed

[2020-11-26 14:43] dprotaso commented on #2798
This was done here: https://github.com/knative/community/pull/348

/close

[2020-11-26 14:43] #2798 closed

[2020-11-30 17:32] ellenevans commented on #2668
/remove-lifecycle stale.

[2020-11-30 18:28] xtreme-sameer-vohra opened #3068 "The Knative Eventing installation section has disappeared"
## Expected Behavior
The site renders the [any-kubernetes-cluster.md](https://github.com/knative/docs/blob/master/docs/install/any-kubernetes-cluster.md) file properly

## Actual Behavior
The [Installing the Eventing component](https://github.com/knative/docs/blob/master/docs/install/any-kubernetes-cluster.md#installing-the-eventing-component) section is no longer rendered
<img width="1275" alt="S

[2020-12-01 16:22] #3068 closed

[2020-12-01 16:48] #2563 closed

[2020-12-01 17:25] #2715 closed

[2020-12-02 17:08] ricardozanini opened #3076 "New blog post: Kogito and Knative Eventing integration example"
Hi!

I'm currently working on [Kogito](https://kogito.kie.org/) project, which is a platform to build business applications. One of our features is the implementation of the [Serverless Workflow specification](https://serverlessworkflow.io/) (a CNCF sandbox project). In order to support eventing in the platform, we use Knative Eventing.

I'm writing a blog post about this integration introducing a

[2020-12-02 18:29] vaikas commented on #3041
@slinkydeveloper @matzew @aliok @lionelvillard just raising awareness here :)

[2020-12-02 21:50] xtreme-sameer-vohra opened #3077 "Apache Kafka Channel Example(docs/eventing/samples/kafka/channel/index.md)"
# Issue 1: Confusing Header
## Expected Behavior
Creating a KafkaChannel channel `instance`
## Actual Behavior
Creating a KafkaChannel channel `CRD`

# Issue 2: Verify topic
## Expected Behavior
[code]
## Actual Behavior
[code]
Tried using the svc reference `my-cluster-zookeeper-client`, however, encountered the same problem.

[code]

# Issue 3: Creating a broker that uses the defaults
## Expected

[2020-12-02 22:02] xtreme-sameer-vohra opened #3078 "Apache Kafka Channel Example(docs/eventing/samples/kafka/channel/index.md) simplification"
The rendered content on the website isn't as friendly to navigate as the repo

## Expected Behavior
The files are rendered inline like the previous resources that are created or there is a hyperlink to the files to make the experience for users on the site more friendly

## Actual Behavior
The [demo](https://knative.dev/docs/eventing/samples/kafka/channel/#creating-a-service-and-trigger-to-use-the

[2020-12-02 22:19] xtreme-sameer-vohra opened #3079 "Apache Kafka Channel Example(docs/eventing/samples/kafka/channel/index.md) missing step to create service account"
Following the section to create a svc and trigger [here](https://knative.dev/docs/eventing/samples/kafka/channel/#creating-a-service-and-trigger-to-use-the-apache-kafka-broker)

## Expected Behavior
[code]
to have output some events

## Actual Behavior
[code]

## Steps to Reproduce the Problem

1. Follow the Kafka Channel guide [here](https://knative.dev/docs/eventing/samples/kafka/channel/#creati

[2020-12-03 16:29] xtreme-sameer-vohra opened #3081 "Apache Kafka Source Example(docs/eventing/samples/kafka/source/index.md) Discrepancies"
# Issue 1: Verify output for Kafka Topic
## Actual Behavior
[code]
## Expected Behavior
[code]

# Issue 2: Ensure Apache Kafka Event Source started with the necessary configuration
## Actual Behavior
The label selector has changed from `knative-eventing-source-name=kafka-source` to `eventing.knative.dev/SourceName=kafka-source`

## Expected Behavior
[code]

# Issue 3: The purpose of the sample
##

[2020-12-03 19:29] #2936 closed

[2020-12-07 01:07] xtreme-sameer-vohra opened #3085 "PingSource example(docs/eventing/samples/ping-source/index.md) enhancement"
**Describe the change you'd like to see**
This page has a nice and simple to follow example.
It would be awesome to leverage the tabs for choices at multiple sections to showcase [kn](https://knative.dev/docs/install/install-kn/#install-kn-using-an-executable-binary) rather than showing 2 kubectl alternatives.

Why?
- it starts teaching folks how & when to use kn
- by having the plain yaml beside

[2020-12-07 01:08] xtreme-sameer-vohra commented on #3085
If this makes sense, I'd be happy to submit a PR to address this.
It would also be awesome to do this consistently across the site :)

[2020-12-07 01:55] omerbensaadon commented on #3061
Hey @zhaojizhuang  thanks for submitting this issue! Would it make more sense if the link pointed here?  https://github.com/tektoncd/catalog/tree/master/task/kn/0.1

**As in:**

[2020-12-07 15:21] zhaojizhuang commented on #3061
@omerbensaadon yeah, That looks good

[2020-12-07 15:25] omerbensaadon commented on #3061
Opened a PR to fix this, see above.

Thanks again for submitting an issue, keep 'em coming!

[2020-12-07 17:59] omerbensaadon commented on #3061
Had to open another one because of a CLA issue...

[2020-12-07 18:30] lberk commented on #2622
@abrennan89 based on the comments from @vaikas I think we can close this issue

[2020-12-07 19:22] abrennan89 commented on #2622
Since this relates to 0.15 which is no longer live on the docs site, I think it's OK to close.

@vaikas could you please maybe raise a separate issue and/or PR re adding the links to the release notes for each docs version if this is something that is important to have?
RE "until that lands", do you mean until the changes in docs land? If there's an issue open tracking the requests to clean up and

[2020-12-07 19:22] #2622 closed

[2020-12-07 20:14] iancoffey commented on #2931
Ive assembled a simple yaml+config solution to get a knative grafana dashboard up and running here > https://github.com/iancoffey/knative-metrics. The intention is to unblock kfserving metrics for the time-being. I can add all the relevant dashboards if theres interest in developing this stopgap further.

[2020-12-07 22:48] vaikas commented on #2622
Yes, the change landed awhile ago. It was related to the fact that we had separate places where the installation instructions had diverged, so now they were pointed to a single location. As far as release notes being linked to, yes, I'll create an issue for it.

[2020-12-07 22:50] vaikas opened #3092 "Add a pointer to release notes for each component."
**Describe the change you'd like to see**
For each release that we cut, we should either link to, or include the release notes. @csantanapr do I recall correctly that you were maybe thinking of (or had started to?) tackle this?

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-12-09 15:46] #2586 closed

[2020-12-09 17:10] #2589 closed

[2020-12-11 00:07] yuzisun commented on #2931
I like the idea maybe this can temporarily live in KFServing as additional monitoring plugin users can install before we figure out a long term maintenance model with knative team.

[2020-12-11 04:17] dinurp opened #3102 "Apache Camel source(docs/eventing/samples/apache-camel-source/index.md)"
## Expected Behavior

The Camel artifacts have moved to [eventing-camel](https://github.com/knative-sandbox/eventing-camel/releases) from [eventing-contrib v0.18.4](https://github.com/knative/eventing-contrib/releases/tag/v0.18.4). So the reference in [Prerequisites](https://knative.dev/docs/eventing/samples/apache-camel-source/#prerequisites) needs to be updated.

## Actual Behavior

The link in

[2020-12-11 17:35] iancoffey commented on #2931
OK I shall open this in a PR on kfserving repo next 👍

[2020-12-11 17:43] #2227 closed

[2020-12-11 18:46] skonto commented on #2931
@iancoffey thanks for hosting this, I went through the yaml files, I found some incosistencies wrt removed scrape config, check [this](https://github.com/knative/serving/blob/d2ec5468b2fd5c018d314eba24941e3f22331264/config/monitoring/metrics/prometheus/100-prometheus-scrape-config.yaml#L112) vs [this](https://github.com/iancoffey/knative-metrics/blob/8e1015d211d3eabf55bc40fe5ca82f190625ef1d/manife

[2020-12-14 06:50] SuperCipher opened #3104 "Installing Istio for Knative(docs/install/installing-istio.md)"
## Expected Behavior
Afetr run this command https://github.com/knative/docs/blame/release-0.19/docs/install/installing-istio.md#L60
[code]
Should Install Istio without sidecar injection successfully
<img width="1668" alt="Screen Shot 2020-12-14 at 13 30 14" src="https://user-images.githubusercontent.com/6429197/102047899-b3179c80-3e10-11eb-92dd-0f71ec640091.png">

## Actual Behavior
Afetr run this

[2020-12-14 07:00] SuperCipher commented on #3104
oops sorry, duplicate issue here.
https://github.com/knative/docs/issues/2824
Doc on the website still not reflect change
https://github.com/knative/docs/issues/2824#issuecomment-703304176

[2020-12-14 07:05] SuperCipher commented on #3104
removing these line
https://github.com/knative/docs/blame/release-0.19/docs/install/installing-istio.md#L76
https://github.com/knative/docs/blame/release-0.19/docs/install/installing-istio.md#L77
solve the issue

[2020-12-15 03:58] nak3 commented on #3104
Hi @SuperCipher Yes you are correct and sorry for this trouble. The issue was fixed by https://github.com/knative/docs/pull/3096 now.

[2020-12-15 04:01] #3104 closed

[2020-12-15 09:13] rhuss commented on #2810
/remove-lifecycle stale

[2020-12-16 12:14] #3061 closed

[2020-12-16 16:05] #3076 closed

[2020-12-16 18:43] abrennan89 commented on #3032
While some of the documentation around metrics etc still exists, the observability plugin was deprecated in an earlier release (0.14 IIRC), so any related documentation that was no longer valid for the observability components was removed.

We have a project tracking the work to add replacement documentation: https://github.com/knative/docs/projects/35 but this is not in progress yet AFAIK.

If yo

[2020-12-16 18:43] #3032 closed

[2020-12-16 18:52] abrennan89 commented on #2984
These pages have all been removed now, since the observability plugin was deprecated a few versions ago.

[2020-12-16 18:52] #2984 closed

[2020-12-16 18:55] #2923 closed

[2020-12-16 18:59] #2750 closed

[2020-12-17 01:08] arturenault opened #3107 "Configuring target burst capacity(docs/serving/autoscaling/target-burst-capacity.md)"
This page is a little unclear. It explains what happens when burst capacity is -1 or 0, but not >0.

It states: "Target burst capacity is a global and per-revision integer setting that determines the size of traffic burst a Knative application can handle without buffering." But how do we measure that size?

[2020-12-17 22:04] pianohacker opened #3111 "Add docs for GitLabBinding"
**Describe the change you'd like to see**
The GitLabBinding allows for GitLab credentials to be stored in one place then referenced by multiple deployments or sources. It's currently not documented at all.

**Additional context**
https://knative.slack.com/archives/C9JP909F0/p1608241376321800

[2020-12-18 17:46] abrennan89 opened #3112 "Automation of docs tasks"
**Describe the change you'd like to see**

It was discussed a while ago in the Docs WG call that we should determine a list of automated tasks for the repo to make contribution easier. @evankanderson was interested in helping out with the technical parts of this, but we need to give him a list of things we need and priority.

_[WIP] List:_

- [ ] Automated preview links [Issue #] (@RichieEscarez

[2020-12-18 18:22] abrennan89 commented on #1385
@ahmetb this seems to be covered in the latest version of the docs now: https://knative.dev/docs/install/operator/configuring-serving-cr/#system-resource-settings

[2020-12-18 18:28] abrennan89 commented on #2368
Closing this since it's not really within the scope of docs work to be done by the WG. Feel free to add a blog submission though or encourage others to do so.

[2020-12-18 21:10] ahmetb commented on #1385
@abrennan89 sadly no. Those settings seem to be for the Knative operator itself and not the workloads run by Knative such as KService.

[2020-12-18 21:12] #1897 closed

[2020-12-19 13:31] #2724 closed

[2020-12-23 02:25] arturenault opened #3115 "Document usage of mTLS in Knative"
**Describe the change you'd like to see**
Add documentation for using Istio's mTLS policies with Knative, including the kinks of using it with activator.

/assign

[2020-12-23 02:57] xtreme-sameer-vohra opened #3116 "Knative Kubernetes Services(docs/serving/knative-kubernetes-services.md)"
## Expected Behavior
The networking section discusses the generic responsibility of the networking layer as Knative is agnostic and folks can pick a networking layer that is suitable for their needs.

## Actual Behavior
Refers to the`net-istio-controller` deployment. If a user has made an alternative choice during the installation process, the actual deployment would be different.

## Steps to Rep

[2020-12-23 03:02] xtreme-sameer-vohra opened #3117 "Knative Serving(docs/serving/_index.md)"
## Expected Behavior
Reference to generic networking layer

## Actual Behavior
Reference to Istio. Depending on the installation choice, this may or may not be accurate.

## Steps to Reproduce the Problem
Visit [here](https://knative.dev/docs/serving/)

[2020-12-24 01:23] #3115 closed

[2020-12-24 18:49] #1919 closed

[2020-12-24 18:49] #1884 closed

[2020-12-28 19:31] MaciekLeks opened #3121 "Documentation/Eventing Component/Code samples/Apache Kafka/Binding Example"
## Expected Behavior
Good understanding of KafkaBinding rationales:
- why
- when
- what
- how

## Actual Behavior
It's really hard to understand the concept of KafkaBinding. To be ownest I don;t understand it. Something is injected but how, when, where? Link of kafka-publisher is broken. I can't even find the source code of the image used for the Job.

v0.19

[2020-12-30 16:55] #1922 closed

[2020-12-30 18:54] #1898 closed

[2021-01-05 23:14] abrennan89 commented on #3117
@nak3 @xtreme-sameer-vohra @markusthoemmes can you confirm details please about which networking layers need to be documented and if there's some kind of generic/default we use besides Istio?

It feels like we should have a Serving > Networking section in the docs to gather all this information and then just point out to it, because it seems buried here: https://knative.dev/docs/install/any-kubern

[2021-01-05 23:26] abrennan89 commented on #2821
@wenzhaojie could you provide an update please on whether this is working for you now? Thanks.

[2021-01-06 01:18] xtreme-sameer-vohra commented on #3117
To be clear and avoid confusing folks new to Knative, it would be helpful to have a term such as "Networking Layer" thats used throughout the documentation and it could link to a page which has the choices (including Istio) and a brief explanation similar to what @abrennan89 linked above

[2021-01-06 10:09] canyugs opened #3122 "Installing Knative(docs/install/any-kubernetes-cluster.md)"
## Expected Behavior
Kubernetes cluster v1.16 can install Knative.

## Actual Behavior
But Kubernetes minimum version has changed to v1.17 and Install failed.

## Additional Info
log from controller
[code]

**Install information:**
 - Platform: GKE
 - Knative Version: 0.19

[2021-01-06 14:40] omerbensaadon opened #3123 "knative.dev/docs and knative.dev/development point to the same places"
## Expected Behavior
There should only be 1 URL for each content page

## Actual Behavior
There are two. Though one is not linked on the main site (/development/) it does show up in our XML sitemap

## Steps to Reproduce the Problem

1. Go to knative.dev/docs/*
1. Replace `docs` with `development`
1. See that it take you to the same page

## Additional Info
**Additional context**
See Slack thread

[2021-01-06 15:44] omerbensaadon commented on #3121
Hey @MaciekLeks! Thanks for the issue 👍🏼

I am assuming the link you're talking about is this one?
![Screen_Shot_2021-01-06_at_10_42_14_AM](https://user-images.githubusercontent.com/16281246/103787727-f5955900-500b-11eb-94d2-6b1d812c54c3.png)

I am going to open a new issue and fix this in a PR.

As for understanding of KafkaBinding, can you point me to the documentation you used? Would also be wi

[2021-01-06 15:46] omerbensaadon opened #3124 "Broken link in /docs/eventing/samples/kafka/binding/index.html"
![Screen_Shot_2021-01-06_at_10_42_14_AM](https://user-images.githubusercontent.com/16281246/103787880-31c8b980-500c-11eb-874c-bfb04e3a96a3.png)

## Expected Behavior
Link works

## Actual Behavior
Link doesn't work

## Steps to Reproduce the Problem

1. Go to page referenced in title
1. Click the link
1. Read it and weep

## Additional Info
**Additional context**
I am going to open a PR to fix thi

[2021-01-06 15:57] omerbensaadon commented on #3122
Thank you for taking the time to submit an issue!

I am chasing down an answer for this now 👍🏼

[2021-01-06 16:01] omerbensaadon commented on #3116
Thanks for taking the time to submit an issue @xtreme-sameer-vohra!

In your opinion, would the example say something like `networking-certmanager` ... `networking` (i.e. simply removing istio reference).

Maybe we could also include a note that says something to the effect of "Your networking deployment may be called something different depending on what networking layer you chose to use in [Gett

[2021-01-06 16:03] omerbensaadon commented on #3112
I would like to work on this! I'll DM you on Slack and follow back up on this thread once I have more context.

[2021-01-06 16:09] omerbensaadon commented on #3122
Done! Updated the Version No. as per changes made in the following merged PR: https://github.com/knative/pkg/pull/1880

[2021-01-06 16:09] omerbensaadon commented on #3122
Thanks again for your time @canyugs

[2021-01-06 17:47] xtreme-sameer-vohra commented on #3116
Yep, a short snippet that mentions that what you observe will depend on the networking layer choice during installation.

Specifically [this](https://knative.dev/docs/serving/knative-kubernetes-services/#deployment-networking-istio) section could be made more generic to capture the responsibility of any networking layer.
Suggestion: `The networking layer deployment(eg. networking-istio, contour-in

[2021-01-06 17:56] xtreme-sameer-vohra commented on #2944
Would it be possible to automate this based on the the schema, like this [tool](https://github.com/alecthomas/jsonschema) allows ?

[2021-01-07 13:02] zhaojizhuang opened #3129 "Broken link in https://knative.dev/docs/eventing/sink/"
broken link in page as follow:

![Lark20210107205835](https://user-images.githubusercontent.com/3124692/103895523-84e55e00-512b-11eb-8e65-9e815f0cceb2.png)

[2021-01-07 13:19] zhaojizhuang commented on #3129
/assign

[2021-01-07 15:47] omerbensaadon commented on #3092
Hey folks, bumping this 😄

CC: @csantanapr @vaikas

[2021-01-07 16:03] omerbensaadon commented on #3116
@xtreme-sameer-vohra see above, does that address your concerns?

[2021-01-07 16:23] mattmoor commented on #3116
cc @knative/networking-wg-leads

[2021-01-07 16:25] mattmoor commented on #3011
This only works if they have the qemu stuff configured, and technically they may not need buildx if they use an arm64 dev box 🤓 .  We could add a tab?

[2021-01-07 16:31] omerbensaadon commented on #3042
Hey @mattwelke! Thanks for the issue 😄  I think we use a Hugo template that other OSS projects use as well (see cert-manager.io). I couldn't find where the template actually lives, but if we do find it we should maybe contribute this change to them as well.

I went ahead and tested the different colors of the left-nav with the same Color Content Analyzer [the government uses for Section 508 compli

[2021-01-07 17:09] omerbensaadon opened #3133 "Missing Subscription documentation Knative Eventing(docs/eventing/_index.md)"
As I was fixing #2942 (see PR #3132) I realized the "Subscriptions" link also links to code and not documentation.

I looked for docs for Subscriptions but it doesn't seem to exists.

## Expected Behavior
When I click on "Subscriptions" in https://knative.dev/docs/eventing/#event-channels-and-subscriptions I should be taken to documentation that explains Subscriptions

## Actual Behavior
This docu

[2021-01-07 19:09] csantanapr commented on #3092
Not sure what this issue is asking for specifically

I'm doing a overall release note that includes everything in a single place that covers all components with a change here https://knative.dev/blog/2020/11/13/version-v0.19-release

[2021-01-07 21:01] mattwelke commented on #3042
@omerbensaadon I think that looks better, but it's still the unselected stuff on the left that I find hard to read on my laptop.

On my desktop it's fine. And now I think I realize why. My laptop is a gaming laptop. I find that the other devs I meet have either professional laptops like XPS Pro or Macbooks, or they have gaming laptops because gaming laptops have pretty good value for the performan

[2021-01-08 08:32] vaikas commented on #3092
I had been thinking that mayhaps we could add something like a link here (since they are version specific install instructions):
https://knative.dev/docs/install/any-kubernetes-cluster/

Or here:
https://knative.dev/docs/install/

Or, maybe we link your blog instead of the actual release notes, or ?? :)

[2021-01-08 23:01] pianohacker opened #3134 "Incorrect callouts on example eventing trace"
## Expected Behavior
The callouts on the example trace diagram under https://knative.dev/docs/eventing/accessing-traces/#accessing-traces-in-eventing should match the list above.

## Actual Behavior
The callouts use ordering schemes that don't exist in the list (e.g., "ii" vs "2", "a" vs "1") and are sometimes mismatched ("4.ii" vs "4.i").

[2021-01-09 19:05] #2610 closed

[2021-01-10 22:24] canyugs commented on #3122
Version in web changed, Thanks for quick response

[2021-01-10 22:24] #3122 closed

[2021-01-11 10:22] MaciekLeks commented on #3121
I'm not frustared any longer. I realized that first I should read more about SinkBinding first. It would be enough to add some bullet in prerequistites: "You must understand  [SinkBinding](https://knative.dev/docs/eventing/sources/sinkbinding/) before move on". It would help I think.

[2021-01-11 10:22] #3121 closed

[2021-01-11 11:09] vaikas opened #3135 "Fix the CVE in sample library dependency."
## Expected Behavior
Examples rely on libraries / depedencies with non vulnerable deps.

## Actual Behavior
https://github.com/knative/docs/security/dependabot/docs/serving/samples/cloudevents/cloudevents-nodejs/package-lock.json/axios/open

One of the examples was flagged as having a CVE.

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context

[2021-01-11 13:41] #3135 closed

[2021-01-12 11:12] skonto opened #3140 "Define Serving SLIs/SLOs"
**Describe the change you'd like to see**
Organizations are rapidly adopting SLOs (service level objectives) as the foundations of their SRE engineering effort.
The idea is to view services from a user perspective and follow these steps:
- Select metrics that make good SLIs
- Use SLIs to create proper SLOs
- Use the error budget implicitly defined by your SLO to mitigate risks (out of scope).

Kna

[2021-01-13 15:52] abrennan89 commented on #2934
@omerbensaadon this one may interest you?

[2021-01-13 19:32] abrennan89 opened #3143 "Fix link descriptions in serving API docs"
Re the comments here: https://github.com/knative/docs/pull/3141#discussion_r556715205
Some of the links in the API docs are poorly formatted.
Current example:
[code]
would be better as:
[code]

There are multiple examples of this in `docs/reference/api/serving.md`
The links should be updated in this file so that they show a description of the link instead of a long, messy URL.

[2021-01-14 07:38] rhuss commented on #2803
/reopen

this still need to be fixed.

[2021-01-14 15:04] omerbensaadon commented on #2934
@abrennan89 totally, this feels like a deliverable that ought to come out of the UX WG and is currently coming to light in User Interviews.

CC: @csantanapr

[2021-01-14 15:04] omerbensaadon commented on #2934
Once we wrap up this cycle of interviews (I think next week?) we may want to take a crack at creating an epic and splitting this issue into a few smaller issues to be worked.

[2021-01-14 15:05] omerbensaadon commented on #3143
/assign

[2021-01-14 15:27] slinkydeveloper commented on #2934
That's nice!

[2021-01-14 15:38] zhaojizhuang opened #3144 "Prerequisites should add install kafka in page "Apache Kafka Broker(docs/eventing/broker/kafka-broker.md)""
## Expected Behavior

Prerequisites should add install kafka in page "Apache Kafka Broker(docs/eventing/broker/kafka-broker.md)"

## Actual Behavior

[2021-01-14 15:39] zhaojizhuang opened #3145 "Kafka installation should be added in Apache Kafka Broker(docs/eventing/broker/kafka-broker.md)"
## Expected Behavior
Kafka installation should be added in Prerequisites in page "Apache Kafka Broker(docs/eventing/broker/kafka-broker.md)"

https://knative.dev/docs/eventing/broker/kafka-broker/

## Actual Behavior

[2021-01-14 15:39] zhaojizhuang commented on #3145
/assign

[2021-01-14 15:49] #3144 closed

[2021-01-14 17:30] skonto commented on #2934
@omerbensaadon let me know if I can help there.

[2021-01-14 22:04] #2477 closed

[2021-01-15 10:12] lancerdima opened #3154 "PingSource(docs/eventing/sources/pingsource.md) source schedule confusion"
## Expected Behavior
Documentation should state that events are produced every minutes. Text should be inline with the samples.

## Actual Behavior
Documentation states that events are produced every second.

[2021-01-15 17:32] abrennan89 commented on #2960
Thanks for taking on the blog stuff with all of this @RichieEscarez !
Do you think we could set some preliminary dates / milestones for completing aspects of this work? Is it long term stuff that should be added to the roadmap for this year?

[2021-01-16 01:48] csantanapr commented on #3140
I love this topic @skonto and also the resources linked are very useful

[2021-01-16 02:01] csantanapr opened #3156 "Do the blog relesae notes for v0.20"
Write up blog similar to https://knative.dev/blog/2020/11/13/version-v0.19-release/ but for v0.20

[2021-01-16 02:02] csantanapr commented on #3156
/assign

[2021-01-16 15:29] zhaojizhuang opened #3159 "Broken link in Event sources(docs/eventing/sources/_index.md)"
## Actual Behavior
Broken link in https://knative.dev/docs/eventing/sources/，404 when click `Kafka Source`
![image](https://user-images.githubusercontent.com/3124692/104816283-1dc75800-5855-11eb-9f60-d2cfd871eabb.png)

[2021-01-16 15:39] zhaojizhuang commented on #3159
/assign

[2021-01-17 13:50] zhaojizhuang opened #3161 "broken link in Sink(docs/eventing/sink/_index.md)"
## Expected Behavior

## Actual Behavior
broken link in page

![image](https://user-images.githubusercontent.com/3124692/104844940-cd600100-590d-11eb-8848-31c780a6f42b.png)

[2021-01-17 13:50] zhaojizhuang commented on #3161
/help

[2021-01-18 00:59] taiju opened #3162 "The v0.20.0 documentation procedure causes an error when installing Istio for Knative"
## Expected Behavior

Successful installation

## Actual Behavior

Installation fails

[code]

## Steps to Reproduce the Problem

1. Perform the installation as described below.

[code]

https://github.com/knative/docs/blob/release-0.20/docs/install/installing-istio.md

## Additional Info

The documentation for v.0.19.0 was fine, but v.0.20.0 seems to have reverted to a previous version.

v.0.19.0

[2021-01-18 02:52] nak3 commented on #3162
@taiju Thank you for the report. https://github.com/knative/docs/pull/3158 is fixing the issue.

[2021-01-19 08:07] #3145 closed

[2021-01-19 14:00] zwOvO opened #3168 "Page needs improvement"
## Expected Behavior
content is "kubectl delete --filename service.yaml"
## Actual Behavior
content is "kn service delete helloworld-java-spring"
## Steps to Reproduce the Problem
1.https://knative.dev/docs/serving/samples/hello-world/helloworld-java-spring/index.html#removing
2.click tab "kubectl"
3.show content "kn service delete helloworld-java-spring"

[2021-01-19 16:48] izabelacg opened #3169 "Update Kubernetes minimum version in install docs"
## Expected Behavior

Kubernetes minimum version is **v1.17** or newer in [Knative docs](https://knative.dev/docs/install/any-kubernetes-cluster/#before-you-begin).

## Actual Behavior

Kubernetes minimum version is **v1.16** or newer in [Knative docs](https://knative.dev/docs/install/any-kubernetes-cluster/#before-you-begin).

## Steps to Reproduce the Problem

1. Navigate to [Knative docs](https

[2021-01-19 18:10] #2166 closed

[2021-01-19 19:22] richterdavid opened #3172 "Red Hat -> IBM"
IBM bought Red Hat.

We should update references to "Red Hat" in the docs to either "IBM" or "IBM/Red Hat", after picking the right replacement.

https://www.redhat.com/en/about/press-releases/ibm-closes-landmark-acquisition-red-hat-34-billion-defines-open-hybrid-cloud-future

[2021-01-20 10:56] chinmay22897 commented on #365
@zrss I have set the proxies with kubectl set env CLI, is there any other way of doing this after deploying the knative cluster?

[2021-01-20 18:56] mattmoor opened #3175 "Configuring high-availability components(docs/serving/config-ha.md)"
## Expected Behavior

Autoscaler is now supported.

## Actual Behavior

Autoscaler is listed as an exception.

/assign @yanweiguo

[2021-01-20 23:25] #3156 closed

[2021-01-21 15:29] #1964 closed

[2021-01-21 15:35] dprotaso opened #3179 "Contrib docs aren't accurate wrt. to cherry picks"
Hi, I see that the [contributing docs](https://github.com/knative/docs/blob/master/CONTRIBUTING.md#choosing-the-correct-branch) recommended to add a label to indicate when a pr needs to be merged into master and a release branch. I tried to add the label `needs-cherry-pick` and `release-0.20`, but it didn't work.

_Originally posted by @izabelacg in https://github.com/knative/docs/issues/3170#issu

[2021-01-21 17:37] #3169 closed

[2021-01-25 11:42] matzew opened #3186 "Install Future Serving via Operator is broken"
Following the doc guide:

and doing something like:

[code]

Fails, giving me this log:

[code]

The istio version should be also `v${VERSION}` ...

[2021-01-25 11:42] matzew commented on #3186
/assign matzew

[2021-01-25 15:16] abrennan89 commented on #3172
Hi @richterdavid . While you are correct that Red Hat was acquired by IBM, we still operate as a separate entity, so it is not correct to refer to IBM and Red Hat as the same thing. In the article that you reference, this is mentioned:
"Red Hat will operate as a distinct unit within IBM and will be reported as part of IBM’s Cloud and Cognitive Software segment."

Please do not change any reference

[2021-01-25 18:35] #3143 closed

[2021-01-25 20:24] abrennan89 commented on #1130
Requested input from @nak3 on whether this can be closed since a related PR was merged. Not sure what's left here to do from a docs perspective.

[2021-01-25 20:29] abrennan89 commented on #2430
@hasheddan haven't heard any update on this in about ~6 months, so not sure if it's still in progress.
This seems to be GCP specific, so it should maybe be a blog post or something as opposed to part of core docs.
Are there any plans to take on this work soon? Otherwise I'd like to close this issue.

[2021-01-25 21:01] abrennan89 commented on #1875
This looks like it's being handled under #2960 since #2511 is being handled under that one. Closing.

[2021-01-25 21:01] #1875 closed

[2021-01-25 21:07] #3012 closed

[2021-01-25 21:14] abrennan89 commented on #3085
@xtreme-sameer-vohra please feel free to submit a PR for this, I'm not exactly sure what you mean without seeing an example, but if you want to submit a proof of concept I'd be happy to take a look.
cc @rhuss
/assign @xtreme-sameer-vohra

[2021-01-25 21:19] #2858 closed

[2021-01-25 21:22] abrennan89 commented on #2472
#2477 has been closed now so we can probably revisit this one.
@vagababov thanks for the comment, but I'm not sure this provides enough context since I don't know what it means :/

[2021-01-25 21:48] vagababov commented on #2472
Basically how to specify how many replicas of activators the user would like (or should) to have.

[2021-01-25 21:57] abrennan89 commented on #2942
@omerbensaadon when I look at the latest development version of the docs: https://knative.dev/development/eventing/#event-channels-and-subscriptions
It doesn't appear as if #3132 actually fixed this issue, since it still links to the code? Do you still want to work on this one?

[2021-01-25 21:58] abrennan89 commented on #2942
@omerbensaadon oh I see the issue, the fix was made against the 0.19 branch. Changes like this should be made against master if they need to be carried through to newer versions of the docs rather than just the one specific version. Can you cherry pick that PR to the master branch please?
/assign @omerbensaadon

[2021-01-25 22:03] vagababov commented on #2472
/assign

[2021-01-25 22:18] #2472 closed

[2021-01-25 22:55] richterdavid commented on #3172
For the purposes of the Steering committee, subsidiaries may be considered as part of their parents. For the purposes of the Trademark committee, subsidiaries must be considered as part of their parents. So while I acknowledge that IBM and RedHat expressed a plan to remain separate, for these purposes highlighting the full affiliation is valuable.

https://knative.dev/search/?q=subsidiary#gsc.tab=

[2021-01-25 22:55] richterdavid commented on #3172
/reopen

[2021-01-25 22:58] richterdavid commented on #3172
"IBM/RedHat" is currently in use for these two committees:
https://knative.dev/search/?q=%22IBM/RedHat%22#gsc.tab=0&gsc.q=%22IBM%2FRedHat%22&gsc.page=1

However RedHat is used separately elsewhere
https://knative.dev/search/?q=redhat#gsc.tab=0&gsc.q=redhat&gsc.page=1

[2021-01-26 01:55] nak3 commented on #1130
Thank you for the reminder. https://github.com/knative/docs/pull/3118 should have addressed this. So let's close this.

/close

[2021-01-26 01:55] #1130 closed

[2021-01-26 03:17] xtreme-sameer-vohra commented on #3085
Created an issue in [client repo](https://github.com/knative/docs/issues/3085#event-4247748369) to add `dataBase64` flag

[2021-01-26 09:29] #3186 closed

[2021-01-26 15:50] abrennan89 commented on #3042
cc @RichieEscarez

[2021-01-26 15:53] abrennan89 commented on #2571
@nak3 any updates for this one? Are you still planning to work on it?

[2021-01-26 16:47] pmorie commented on #3172
@richterdavid I think an example of something you feel should change would help me.

Reviewing the links you sent, above I see:

- Places where Red Hat is used correctly to indicate someone's employer
- Places where Red Hat is used correctly in the name of a product offering (ie Red Hat OpenShift Cloud Platform)
- Places where Red Hat is used to refer to the name of the company before the acquisit

[2021-01-26 16:55] xtreme-sameer-vohra commented on #3085
@abrennan89 created a [PR](https://github.com/knative/docs/pull/3191) :)

[2021-01-26 17:22] jchesterpivotal commented on #3140
A nitpick: the SLI examples are SLOs. For example:

Could be broken into an SLI:

and an SLO:

More generally, are we intended to publish suggested SLIs and SLOs that users will monitor themselves, or are we going to measure them ourselves? For the latter, we will need to define the experimental apparatus pretty closely, because a _lot_ of variability can come from sources we'd like to exclude (eg

[2021-01-26 18:15] RichieEscarez commented on #3042
By bumping up the `font-weight` to `400`, give us (sorry its backwards but left is after and right is before) below. Let me know if this is enough and I can send the PR.
![image](https://user-images.githubusercontent.com/11762685/105884307-b334bb80-5fbc-11eb-9119-590315e5326d.png)

[2021-01-26 22:06] mattwelke commented on #3042
Holy crap my 👀 feel so much better looking at that. I'd have to test it on my laptop to know for sure. This page (https://github.com/knative/website/blob/master/DEVELOPMENT.md) appears up to date. I'll give it a go tonight.

[2021-01-26 22:19] RichieEscarez commented on #3042
@mattwelke how about I open a PR and we can review the staging server preview? I'll send that out shortly.

[2021-01-26 22:30] mattwelke commented on #3042
Sure, sounds good.

[2021-01-26 22:54] RichieEscarez commented on #3042
Preview here: https://60109c2d580aa60007de3455--knative.netlify.app/docs/serving/services/

If all looks good, you can comment a `/lgtm` here: https://github.com/knative/website/pull/248

[2021-01-27 08:53] nak3 commented on #2571
`cluster-local-gateway` was removed and https://github.com/knative/docs/pull/3152 will clarify it.
So closing this issue.

[2021-01-27 08:53] nak3 commented on #2571
/close

[2021-01-27 08:53] #2571 closed

[2021-01-27 11:02] skonto commented on #3140
@jchesterpivotal technically it depends imho, I followed what the authors describe in my first link (pls check their chapter on SLIs):

That means given a threshold of N ms I can say if the outcome is my revision to be up (good) or down (bad).
How I set that threshold and what metric I use to make a binary decision is the next step.
SLOs are the percentage of good events that you want to happen. I

[2021-01-27 15:08] #3124 closed

[2021-01-27 20:28] abrennan89 commented on #2852
Slack thread on latest updates: https://knative.slack.com/archives/C9CV04DNJ/p1611676612008300
Issue still WIP

[2021-01-27 20:29] abrennan89 commented on #3154
@lancerdima can you provide some links to where you are seeing this please

[2021-01-27 20:31] abrennan89 commented on #3159
@zhaojizhuang can this issue be closed now? It looks like the PRs to fix this were merged?

[2021-01-27 20:32] abrennan89 commented on #3161
@zhaojizhuang can you please provide actual links to the page where the link is broken rather than screenshots please?

[2021-01-27 21:25] #3162 closed

[2021-01-27 21:31] #2970 closed

[2021-01-27 21:39] lancerdima commented on #3154
https://github.com/knative/docs/blob/master/docs/eventing/sources/pingsource.md

Example section:
This example shows how to send an event every **second** to a Event Display Service.

Running samples from the page indicate that events are generated once in a minute, or once in two minutes
`schedule: "*/1 * * * *"`
`schedule: "*/2 * * * *"`

I am not sure about the intended design decisions, but th

[2021-01-27 21:40] #3172 closed

[2021-01-27 22:25] abrennan89 commented on #3154
@lancerdima got it, pretty sure it's just a typo and should be minute :slightly_smiling_face: thanks

[2021-01-27 22:28] #3175 closed

[2021-01-28 14:43] zhaojizhuang commented on #3161
Hi, @abrennan89 ,see this page https://knative.dev/docs/eventing/sink/

[2021-01-28 14:44] zhaojizhuang commented on #3159
I will close this issue

[2021-01-28 14:44] #3159 closed

[2021-01-28 16:07] omerbensaadon commented on #3042
@RichieEscarez Thank you!!!

[2021-01-28 17:29] #3042 closed

[2021-01-28 17:58] #2755 closed

[2021-01-28 19:52] evankanderson commented on #3140
I'd generally agree with Jacques about SLIs being the measurement and then SLOs being the threshold on the measurement. The nice thing about this is that we can define the SLIs and suggest SLOs, but each installation can make their own determination about what SLOs (reliability) they want, and can document it against common SLIs. Usually the measurement is the hard part until you want a better SLO

[2021-01-28 20:38] steren opened #3195 "Knative multi-container samples(docs/serving/samples/multi-container/_index.md)"
Page is empty: https://knative.dev/docs/serving/samples/multi-container/

![image](https://user-images.githubusercontent.com/360895/106196013-c8008300-6165-11eb-9fee-1fe6bfd04c04.png)

[2021-01-29 00:25] abrennan89 opened #3196 "Move Concept information into introduction"
**Describe the change you'd like to see**
There is currently only one overview page in the Concepts doc section: https://knative.dev/docs/concepts/overview/
This is confusing because it's really just a duplicate / information that should belong in the landing page. It doesn't really have any in-depth information explaining Knative concepts.
I'm proposing to remove this section until we can create

[2021-01-29 06:24] nak3 commented on #3195
Thank you! https://github.com/knative/docs/pull/3198 will fix it.

[2021-01-29 06:32] nak3 commented on #3179
/close

@dprotaso https://github.com/knative/docs/pull/3185 clarified the problem. Please feel free to re-open this if it is still unclear. Thanks.

[2021-01-29 06:32] #3179 closed

[2021-01-29 12:04] skonto commented on #3140
In my opinion, it is not that useful from a service perspective to say I have a metric eg. resource reconciliation time and say that is a service level indicator. Because that info is meaningless as a service indicator, it does not tell you (indicates you) about the service if it is bad or good. Only if you apply a threshold you can have an indication and that is not the service objective.
Service

[2021-01-31 03:59] #3195 closed

[2021-01-31 04:18] #3085 closed

[2021-01-31 04:29] #3129 closed

[2021-02-01 05:53] nak3 commented on #3195
master branch (Pre-release doc) fixed https://knative.dev/development/serving/samples/multi-container/index.html
I will backport it to each branch.

[2021-02-01 08:59] tplevko opened #3201 "Eventing debugging example points to non-existing message_dumper image"
## Expected Behavior

The example describing debugging of eventing component should contain [example.yaml](https://github.com/knative/docs/blob/master/docs/eventing/debugging/example.yaml) pointing to correct image. Specifically the [message_dumper](gcr.io/knative-releases/knative.dev/eventing-sources/cmd/message_dumper) seems not to exist.

## Steps to Reproduce the Problem

1. Follow the steps i

[2021-02-01 11:39] pierDipi opened #3202 "Document SASL and SSL support for Kafka Broker and KafkaSink"
## What is changing? (Please include as many details as possible.)

Kafka `Broker` and `KafkaSink` support SASL and SSL configurations, we should document how to use them.

## How will this impact our users?

Users can configure SASL and SSL for client authorization and authentication against their Apache Kafka clusters.

## In what release will this take happen (to the best of your knowledge)?

0

[2021-02-01 17:00] eclipselu commented on #3161
seems it should be https://knative.dev/docs/eventing/sink/kafka-sink/ instead of https://knative.dev/docs/eventing/sink/kafka-sink.md

[2021-02-01 19:53] abrennan89 commented on #3196
Reopening until Evan's comments on #3197 are addressed :slightly_smiling_face:

[2021-02-01 19:55] abrennan89 commented on #2852
@evankanderson @n3wscott can we call this one done since one of the PRs Evan raised was merged? I think there's enough work done on this now to provide a jumping off point for whatever eng folks want to do with docs.

[2021-02-01 21:25] abrennan89 commented on #2704
@vmexalien sorry I'm just looking at this now, it lgtm just waiting for Grant to fix the CLA issue so we can merge. Thank you!

[2021-02-02 00:48] evankanderson commented on #3140
I'm a big fan of SLIs measured from the user perspective. "Latency" isn't an SLI, because it's multi-dimensional (each event has a latency, but it's not clear how to combine them into a measure that you can threshold. Some example SLIs you could extract from latency data are:

* 99th percentile latency (measure in time units, the SLO would be "is less than X seconds")
* number of requests with les

[2021-02-02 18:51] maximilien commented on #3140
See: https://github.com/knative/operator/issues/452

[2021-02-03 15:20] csantanapr opened #3208 "Update the Auto-TLS to include kourier as supported"
User reported in kubernetes #knative channel that he wants to use Kourier but he can't since the docs indicate that kourier is not supported only istio, Contour and Gloo.

The page is this one
https://knative.dev/docs/serving/using-auto-tls/#before-you-begin

Kourier is supported

[2021-02-03 15:21] csantanapr commented on #3208
/assign

[2021-02-03 16:27] antoineco opened #3211 "View/Edit link on some "Community" pages link to the wrong repo"
The "View/edit on GitHub" on some pages such as https://knative.dev/community/annual_reports/ link to https://github.com/knative/community, but the pages are actually in https://github.com/knative/docs/ so the links are dead (example: https://github.com/knative/docs/blob/master/community/annual_reports/).

[2021-02-04 16:03] #3208 closed

[2021-02-05 01:30] csantanapr commented on #2781
+1 to remove the labels from intro and installation docs.
I also always confuse about what does this `@` means and also think I'm looking at a very old version of the docs installing old versions.

[2021-02-05 19:08] #3196 closed

[2021-02-06 03:49] #2781 closed

[2021-02-06 16:07] csantanapr opened #3216 "pingsource example not working with kn cli"
## Expected Behavior

Be able to do create a pingsource using the know cli

## Actual Behavior
There are two problems.
1. Missing `/` on the command, it doesn't work
2. The sink URL is wrong missing namespace

## Steps to Reproduce the Problem

1. Create event-display pod and service
1. Create kn with command
[code]

It errors out
[code]

After fixing, then event display doesn't get hit with HTTP

[2021-02-06 16:10] csantanapr commented on #3216
/assign

[2021-02-07 07:23] yangyunfeng007 opened #3218 "Sink binding(docs/eventing/sources/sinkbinding.md)"
As follows `ref:` should indent two spaces
![image](https://user-images.githubusercontent.com/17523539/107139693-2d1f5a00-6958-11eb-8df6-a5eea23e2446.png)

[code]

[2021-02-08 08:38] yangyunfeng007 commented on #3218
/assign

[2021-02-08 08:56] yangyunfeng007 opened #3220 "Knative Offerings(docs/knative-offerings.md)"
1. The [Gardener](https://gardener.cloud/documentation/050-tutorials/content/howto/knative-install/) link is 404.
2. There is no content in the [Managed Knative for IBM Cloud Kubernetes Service](https://cloud.ibm.com/docs/containers?topic=containers-serverless-apps-knative).

![image](https://user-images.githubusercontent.com/17523539/107197078-688c5800-6a2e-11eb-99df-26a144771c91.png)

![image](h

[2021-02-08 08:57] yangyunfeng007 commented on #3220
@zhaojizhuang

[2021-02-08 09:08] yangyunfeng007 opened #3221 "We should provide a preview for knative/docs pr like kubernetes/website"
Like [kubernetes/website](https://github.com/kubernetes/website), we should provide a preview for docs pr.
This is the [example](https://github.com/kubernetes/website/pull/26418).
This is the [link](https://deploy-preview-26418--kubernetes-io-master-staging.netlify.app/) generated by the robot.
![image](https://user-images.githubusercontent.com/17523539/107198525-2bc16080-6a30-11eb-987a-260f894cec

[2021-02-08 09:09] yangyunfeng007 commented on #3221
@zhaojizhuang

[2021-02-08 09:09] yangyunfeng007 commented on #3221
/help

[2021-02-08 09:38] yangyunfeng007 opened #3222 "Setting up a custom domain(docs/serving/using-a-custom-domain.md)"
There is a dead link.
https://github.com/knative/serving/blob/master/config/config-domain.yaml
![image](https://user-images.githubusercontent.com/17523539/107201759-62997580-6a34-11eb-8482-40893608118b.png)

[2021-02-08 10:05] yangyunfeng007 opened #3223 "Creating a Mapping between a Custom Domain Name and a Knative Service (Alpha)(docs/serving/creating-domain-mappings.md)"
There is a dead link in page.
This is the dead link https://knative.dev/docs/serving/creating-domain-mappings/ .

![image](https://user-images.githubusercontent.com/17523539/107204885-2d8f2200-6a38-11eb-8be4-0944fa6f6fd9.png)

[2021-02-08 10:15] yangyunfeng007 opened #3224 "Event registry(docs/eventing/event-registry.md)"
There is a [dead link](https://knative.dev/docs/reference/eventing/) in this [page](https://knative.dev/docs/eventing/event-registry/).

![image](https://user-images.githubusercontent.com/17523539/107206200-ae9ae900-6a39-11eb-9124-307e49e42c53.png)

[2021-02-08 10:20] yangyunfeng007 opened #3225 "Sink(docs/eventing/sink/_index.md)"
There is a [dead link](https://knative.dev/docs/eventing/sink/kafka-sink.md) in this [page](https://knative.dev/docs/eventing/sink/).
![image](https://user-images.githubusercontent.com/17523539/107206764-7051f980-6a3a-11eb-85ef-c0da06b4d6b6.png)

[2021-02-08 10:35] yangyunfeng007 commented on #3225
/assign

[2021-02-08 15:13] #3218 closed

[2021-02-09 17:50] #3223 closed

[2021-02-09 19:32] abrennan89 commented on #3221
@yangyunfeng007 you can use Hugo to create a local preview of docs PRs before submitting them: https://github.com/knative/website/blob/master/DEVELOPMENT.md#run-locally

There is currently a `stage-bot` that provides previews on PRs, but afaik @mattmoor plans to remove this and it isn't completely stable.

[2021-02-09 19:33] #2852 closed

[2021-02-09 20:54] mattmoor commented on #3221
I killed stage-bot yesterday ☠️

[2021-02-10 09:21] romanseibel opened #3233 "Installing Knative(docs/install/any-kubernetes-cluster.md)"
## Expected Behavior
Install the Knative Istio controller

## Actual Behavior
[code]

## Steps to Reproduce the Problem

`kubectl apply --filename https://github.com/knative/net-istio/releases/download/v0.20.0/release.yaml`

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.): GKE v1.18.15-gke.800
 - Kn

[2021-02-10 11:32] nak3 commented on #3233
Hi @romanseibel  You need to install Istio before net-istio installation. Could you please install as this doc https://knative.dev/docs/install/installing-istio/ ?

[2021-02-10 16:25] yangyunfeng007 commented on #3221
Thank you.

[2021-02-10 16:25] #3221 closed

[2021-02-10 17:30] bdurette opened #3234 "Welcome to Knative(docs/_index.md) edit link broken"
## Expected Behavior

The View/Edit this page link should take me to https://github.com/knative/docs/blob/release-0.20/docs/_index.md.

## Actual Behavior

The View/Edit this page link takes me to https://github.com/knative/docs/tree/release-0.20/docs/README.md, which is a 404.

## Steps to Reproduce the Problem

1. Open https://knative.dev/docs/.
1. Click on the View/Edit this page link in the up

[2021-02-10 19:44] omerbensaadon commented on #1896
@RichieEscarez I am taking a stab at splitting this now.

In the future, we need to split these sorts of things before they hit the Issues tabs (or, at the very least, add a "needs split" tag or something). The resources we have at our disposal (drive-by ENG contributions and not much else) means we need to spell out very clearly what work needs to be done...

Splitting this into very generic high

[2021-02-10 19:50] omerbensaadon commented on #1896
If the stories I have split this into look good to you, please close this issue 👍🏼

I am not opening any other epics until all of the stories I have put on this board have been turned into Issues, so there is no worry about losing them.

[2021-02-10 21:11] pianohacker opened #3236 "Broken link to eventing sugar controller URL"
## Expected Behavior
The `Installing` section on https://knative.dev/docs/eventing/sugar/ should give a link to an installable YAML URL.

## Actual Behavior
`{{< artifact ...` is shown instead.

[2021-02-12 12:14] pierDipi commented on #3202
/assign

[2021-02-12 15:38] #3216 closed

[2021-02-12 16:54] #3202 closed

[2021-02-12 16:55] pierDipi commented on #3220
cc @csantanapr @duglin for `Managed Knative for IBM Cloud Kubernetes Service.`

[2021-02-12 17:00] pierDipi commented on #3225
Hi @yangyunfeng007, thanks for reporting!
There is already a PR fixing this, we're in the process of cherry-picking the fix.
The content of the broken link is available at https://knative.dev/docs/eventing/sink/kafka-sink/

[2021-02-12 19:16] duglin commented on #3220
See: https://github.com/knative/docs/pull/3245

[2021-02-12 19:44] csantanapr opened #3246 "Provide a Knative Friends page on website"
Today we have a page [Knative Offerings](https://knative.dev/docs/knative-offerings/) I think we need a page where users of the technology can be a private, public or open-source project that benefits and hopefully contributes in any shape or form to/from Knative can have a place in the docs.

This way other community members can be aware of these other users and help grow the community.

This wee

[2021-02-12 22:26] tcnghia commented on #3246
cc @omerbensaadon

[2021-02-13 03:31] csantanapr opened #3247 "Serving CloudEvent Sample for nodejs is broken"
## Expected Behavior
Working sample cloudevent for nodejs here https://knative.dev/docs/serving/samples/cloudevents/cloudevents-nodejs/

## Actual Behavior
Doing the first scenario to run without `K_SINK` defined it should reply with a new CloudEvent

## Steps to Reproduce the Problem

[code]
Send a cloudevent
[code]

Logs from the container
[code]

[2021-02-13 03:31] csantanapr commented on #3247
/assign

[2021-02-13 14:46] #3247 closed

[2021-02-17 21:46] #3154 closed

[2021-02-17 22:30] grantr commented on #3201
Message_dumper was replaced by event_display. Probably just needs an update to `gcr.io/knative-releases/knative.dev/eventing-sources/cmd/event_display`

[2021-02-17 22:42] #2704 closed

[2021-02-18 02:47] csantanapr opened #3259 "Installation page tabs not rendering a default tab for dns and extensions"
The sections for dns and extensions look blank when the page loads, because there is no default tab.

This doesn't happen in release-20 but it happens on master/pre-release

![image](https://user-images.githubusercontent.com/1094878/108297756-bd844880-7169-11eb-94c4-1df7f7fbbe63.png)

[2021-02-18 02:47] csantanapr commented on #3259
/assign

[2021-02-18 02:54] #3201 closed

[2021-02-18 05:26] nak3 commented on #3233
/close

I believe it should be fixed by installing istio before net-istio. Please re-open this if it does not fix your issue.

[2021-02-18 05:26] #3233 closed

[2021-02-18 05:51] nak3 commented on #3222
Thank you @yangyunfeng007 for the report. https://github.com/knative/docs/pull/3261 is fixing the issue.

[2021-02-18 06:12] yangyunfeng007 commented on #3225
Thanks!

[2021-02-18 06:13] #3225 closed

[2021-02-18 07:22] pierDipi commented on #3161
Done in #3241
/close

[2021-02-18 07:22] #3161 closed

[2021-02-18 16:02] rhuss opened #3263 ""Sink Binding" doc is possibly buggy and/or could be improved"
I see some issue with the current sink binding documentation at https://knative.dev/docs/eventing/sources/sinkbinding/ which I'm happy to work on if somebody can help me to answer some questions:

That doest not sound correct: If the default mode is 'exclude' then I would expect the include-label to use to override this, not an `exclude: true` label (btw, why are there two different label `binding

[2021-02-18 17:24] #3222 closed

[2021-02-18 18:30] abrennan89 commented on #3234
This doesn't seem to work for 0.19 either, it takes me to https://github.com/knative/docs/blob/release-0.16/docs/README.md which is the wrong version.

[2021-02-19 10:48] pablocavalieri commented on #1593
How did you solved it? Removed Calico?

[2021-02-19 17:44] steren opened #3264 "Spec should include support for multiple containers"
In https://knative.dev/docs/serving/spec/knative-api-specification-1.0/#revision-2

I can read that `containers` is restricted to 1. I think this has changed in the last Knative release?

[code]

[2021-02-20 09:21] nak3 opened #3266 "Document a new operator config spec.deployments to override configuration of system deployments"
## What is changing? (Please include as many details as possible.)

https://github.com/knative/operator/pull/472 introducced a new configuration for operator so we need to document it.

## How will this impact our users?

- It is a new configuration so not big impact. But users would like to know how to configure it.

## In what release will this take happen (to the best of your knowledge)?

- Ope

[2021-02-22 17:45] n3wscott opened #3268 "[1.0] Prepare Eventing"
Eventing is preparing to become 1.0 ready. This is a parent issue to track that work.

[2021-02-23 17:40] evankanderson commented on #3268
In addition to component-level "how to guides" and "reference", we need some "tutorials" and "explanation" that probably spans the entire Eventing component (https://documentation.divio.com/)

The overall story may be able to coordinate with the UX Working Group.

@omerbensaadon

[2021-02-24 03:57] nak3 opened #3271 "Need to replace cluster-local-gateway with knative-local-gateway"
## Actual Behavior

Since https://github.com/knative-sandbox/net-istio/pull/411, cluster-local-gateway is removed but there are many `cluster-local-gateway` in the docs.

## Additional Info
**Additional context**

For example,
- https://knative.dev/docs/install/installing-istio/
- https://knative.dev/docs/serving/setting-up-custom-ingress-gateway/

[2021-02-24 14:31] omerbensaadon opened #3273 "(Split of #1896) Add technical reference for install files for Knative Eventing"
**Describe the change you'd like to see**
This issues is a child issue to #1896. The only thing required for the "closing" of this issue is to create a markdown table of all of the Assets listed in the Eventing release.

In Scope:
- list of installation files
- table the describes the file and identifies dependencies/requirements

STORY
[code]

Install files for Eventing can be found under "Assets

[2021-02-24 17:48] #3259 closed

[2021-02-24 18:57] omerbensaadon opened #3274 "(Split of #1896) Add technical reference for install files for Knative Serving"
**Describe the change you'd like to see**
This issues is a child issue to #1896. The only thing required for the "closing" of this issue is to create a markdown table of all of the Assets listed in the Serving release.

In Scope:
- list of installation files
- table the describes the file and identifies dependencies/requirements

STORY
[code]

Install files for Serving can be found under "Assets"