[2021-12-17 14:38] psschwei commented on #4596
I'll do it

/assign

[2021-12-17 15:38] #4596 closed

[2021-12-17 15:42] snneji commented on #4439
No longer needed. Samples are now in GitHub only (#4498).

[2021-12-17 15:42] #4439 closed

[2021-12-17 16:16] #4468 closed

[2021-12-17 16:19] snneji commented on #3890
I think some of the comments in #4480 might also be relevant

[2021-12-17 16:32] abrennan89 commented on #3140
@skonto bump, any update on this?

[2021-12-17 16:32] #4485 closed

[2021-12-17 16:35] abrennan89 commented on #2810
@snneji any thoughts on where this fits into the new card sort version of docs? I don't think we have a CLI section anymore but kn is a major part of Knative.

[2021-12-17 16:44] abrennan89 commented on #4329
@snneji it looks like there are PRs linked to this, can this issue be closed? Is there more work to do?

[2021-12-17 16:48] abrennan89 commented on #4378
@snneji I think this can be closed now, not sure if there's anything left to do first?

[2021-12-17 16:52] abrennan89 commented on #4112
@JeffNeff do you still plan to work on this or should I close the issue perhaps?

[2021-12-17 16:58] abrennan89 commented on #3523
Closing this issue since there's been no work on it and I don't think there's anyone who wants to own this. Also, the related issue mentioned in the description is now closed.
@evankanderson feel free to reopen if you plan to work on this.

[2021-12-18 01:26] #4022 closed

[2021-12-20 14:45] abrennan89 commented on #4479
The last point

Is difficult to do without rewriting the whole section. I've tried to make these higher level headings for now, but I think this section needs a rewrite anyway / lots of editing under another issue.

[2021-12-20 18:21] abrennan89 commented on #4475
@snneji do you plan to add a list of things to fix to the last two issues?

[2021-12-20 18:54] #4112 closed

[2021-12-20 18:54] #4203 closed

[2021-12-21 09:11] skonto commented on #3140
@abrennan89 no I will get back to this next year, there is some work to be merged in the upstream feature track doc for the developer persona based on what I have worked on downstream. Then we can create documentation for reference.

[2021-12-21 10:37] #4378 closed

[2021-12-21 10:54] #4479 closed

[2021-12-21 11:21] snneji commented on #4329
This still needs to be done. I added the links to the locations to edit to the issue description. I think it would be better to have a numbered list of steps instead of the headings with step numbers.

[2021-12-21 11:25] snneji commented on #4475
The review can be done as part of the issue.

[2021-12-29 11:29] amandahla commented on #4547
Hi, I had the same doubt but my output was:

[code]

I'm using kind instead of minikube.

Wouldn't be right to change the docs from "http://hello.default.127.0.0.1.nip.io" to "http://hello.default.127.0.0.1.sslip.io"?

Since this [doc](https://knative.dev/docs/install/serving/install-serving-with-yaml/#configure-dns) tells that the magic DNS is "sslip.io"

https://github.com/knative/docs/issues/36

[2021-12-29 17:05] hbelmiro opened #4609 "Broken link in https://github.com/knative-sandbox/eventing-kogito/blob/main/README.md"
Broken link in https://github.com/knative-sandbox/eventing-kogito/blob/f5f647f0e8411d87a08d225d2a1aeb61e9202aed/README.md?plain=1#L175

I'm creating a PR to correct it.

[2021-12-30 19:54] souenzzo opened #4610 "Broken link in the docs"
## Expected Behavior

From this URL

https://knative.dev/docs/reference/api/serving-api/#serving.knative.dev/v1.Service

When I click in this field `metadata Kubernetes meta/v1.ObjectMeta` I expect to be in a valid page with the docs for this field/object

## Actual Behavior

The anchor href is`https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#objectmeta-v1-meta`
After some redi

[2022-01-01 16:18] Shashankft9 commented on #4082
/reopen

[2022-01-03 01:26] #3878 closed

[2022-01-03 14:26] psschwei commented on #4547
Yes, that should be updated in the docs. Thanks for catching it!

[2022-01-03 15:57] rhuss opened #4612 "Getting Started Guide: Show the standard behaviour with server-side generated revisions name"
**Describe the change you'd like to see**

In the Getting started guide when creating the first service, the user is pointed to user client-side revision names by e.g. providing the `--revision-name` option (or a name for the revision template in the YAML). Client-side revision names have several drawbacks so that the client has switched to server-side naming by default since Knative 0.21:

* Orig

[2022-01-04 16:27] rhuss commented on #4430
The client repo already has a tool to generate reference documentation as already committed in https://github.com/knative/client/tree/main/docs/cmd and has also an option to add some frontmatter to the generated markdown (as it would have been needed for Hugo). I'm not sure which format is required for mkdocs, but the general flow to pick up the reference documentation should be triggered by the b

[2022-01-05 21:08] psschwei commented on #4430
I played around with this a bit today, here's my local preview:

<img width="810" alt="image" src="https://user-images.githubusercontent.com/44698588/148287759-87e7e249-8e97-47dd-b386-ab980247eb99.png">

Steps that we'll need to do:
- update `nav.yml` to include an entry for the main `kn.md` file (and probably all the other files as well... wondering if there's a way we can generate that dynamical

[2022-01-05 21:19] psschwei commented on #4430
Screenshot with the front matter function removed:

<img width="763" alt="image" src="https://user-images.githubusercontent.com/44698588/148290850-f1f2e1e7-3e91-474e-8991-0b0918c0cd0c.png">

assuming that looks good to everyone, I can open a PR to remove that from the client repo

[2022-01-07 01:28] #4183 closed

[2022-01-07 22:03] xtreme-sameer-vohra opened #4621 "Knative Offerings -> Gardener's link is broken"
## Expected Behavior
Link to me to a page where I can understand the Gardener Knative Offering

## Actual Behavior
[Gardener](https://gardener.cloud/docs/tutorials/knative-install/) link is a 404

## Steps to Reproduce the Problem

1. Visit [Knative Offerings](https://knative.dev/docs/install/knative-offerings/#knative-offerings)
1. Click `Gardener`

[2022-01-07 22:04] xtreme-sameer-vohra commented on #4621
cc @Kristian-ZH since you fixed this the last time 😁  https://github.com/knative/docs/pull/4042

[2022-01-10 01:26] #3077 closed

[2022-01-10 03:45] FeynmanZhou commented on #4570
Hi @csantanapr @pierDipi , how's this blog post going? I would like to write a piece of news on infoq.com to introduce Knative 1.1 and spread it to the community, this blog might be a good reference for me.

[2022-01-10 09:34] rhuss commented on #4430
@psschwei thanks a ton, looks great! If the frontmatter is not needed (as it was with Hugo), we can totally remove that part from `generate-docs.go`. Happy to review and merge a PR for this.

[2022-01-10 12:11] snneji commented on #4430
Thanks for working on this @psschwei!

[2022-01-10 15:23] abrennan89 commented on #4621
/assign @n-boshnakov

[2022-01-10 15:33] abrennan89 commented on #2262
@tarunrathor-pro

Default Kafka channel info: https://knative.dev/docs/eventing/configuration/kafka-channel-configuration/
Using Kafka broker: https://knative.dev/docs/eventing/broker/kafka-broker/
Triggers: https://knative.dev/docs/eventing/broker/triggers/
Kafka source: https://knative.dev/docs/eventing/sources/kafka-source/

I believe there should be enough information between those links to an

[2022-01-10 17:46] psschwei commented on #4430
Thoughts on maybe combining the kn docs into a single page? Right now there's roughly 80 pages, which makes updating the [navigation sidebar](https://github.com/psschwei/docs/blob/1e2a100dcf66b6f7b586180b6904e75d9f0fea52/config/nav.yml#L226-L320) just a bit tricky.

[2022-01-10 19:52] rhuss commented on #4430
A single page might be a bit huge in size and slow to load and render ?

Would it be possible to automate updating the sidebar, too ? Like using a template that is filled in by parsing the md file names ?

[2022-01-10 20:42] psschwei commented on #4430
I think that _should_ be doable, although for simplicity's sake probably with the pages in alphabetical order, i.e. this

[code]

rather than in a hierarchy, as I had tried to do by hand:

[code]

[2022-01-11 04:06] BubbaJoe opened #4626 "Code Example for Updating Tags"
Hello, I just started using knative and i really like it. One thing that confuses me is the concept of tags in knative. Basically i want to control how rollbacks and deployments are relative to specific revisions using tags.

Use case: I want to have 2 tags: `current` and `prev`. Basically, i want to set `@current` to `prev`, and set revision123 tag to `current`. Also I want to avoid using the `@l

[2022-01-11 09:14] rhuss commented on #4430
Isn't the second list the alphabetical order ? afair, `kn_broker.md` comes before `kn_broker_create.md` because `.` comes lexically before a `_`.

[2022-01-11 14:49] psschwei commented on #4430
At least in my terminal, the sort was the former rather than the latter

[code]

[2022-01-12 08:15] rhuss commented on #4430
I wouldn't rely on the sorting algo of `ls` but do a

[code]

[2022-01-13 13:00] #4430 closed

[2022-01-13 13:41] #4621 closed

[2022-01-13 18:29] snneji commented on #4626
Hi @BubbaJoe, thanks for submitting this issue. @nader-ziada, since you're on-call for knative.party this week, do you have a solution for this use case?

[2022-01-13 18:35] snneji commented on #4612
Hi @rhuss, I agree that we should not have an advanced use case in the getting started guide. Better to replace this with the standard procedure as you mentioned in your comment. I also agree that we don't need to add client-side naming later in the getting started guide as an alternative approach, but maybe could be mentioned elsewhere in the docs.

[2022-01-13 19:12] snneji commented on #4609
Closing as PR https://github.com/knative-sandbox/eventing-kogito/pull/68 has been merged

[2022-01-13 19:12] #4609 closed

[2022-01-13 20:22] nader-ziada commented on #4626
hi @BubbaJoe

Did you follow the example here in the docs https://knative.dev/docs/getting-started/first-traffic-split/

and this sample here https://github.com/knative/docs/tree/main/code-samples/serving/tag-header-based-routing

As far as I understand you should be able to achieve your goal.

[2022-01-16 01:27] #3773 closed

[2022-01-17 05:18] BubbaJoe commented on #4626
@nader-ziada After doing a bit more research and testing. It seems that you can't reference a tag just by adding `@`. This only works with `@latest`.

I thought this was possible, perhaps this would be a cool feature though.

[2022-01-17 09:57] #3890 closed

[2022-01-17 20:29] csantanapr opened #4640 "broken links in rss feed for the blog"
The current [blog rss feed](https://knative.dev/blog/feed_rss_created.xml) file has incorrect links to articles on the website

For example the last entry
[code]
points to `https://knative.dev/docs/steering/2021-end-user-election/` and it should be https://knative.dev/blog/steering/2021-end-user-election/

[2022-01-17 20:29] csantanapr commented on #4640
@psschwei something you can take a look?

[2022-01-17 20:44] csantanapr commented on #4640
/assign

[2022-01-18 14:12] #4640 closed

[2022-01-18 14:28] meteatamel opened #4643 "Update HelloWorld C# sample to the latest 6.0 version"
The HelloWorld C# sample (helloworld-csharp) currently uses .NET Core 3.1 version. However, .NET 6 is the latest LTS supported version since November 2021. We should update the sample to use .NET 6.

[2022-01-18 14:51] lionelvillard opened #4644 "Docs broken links"
from https://github.com/knative/eventing/issues/5867

**Describe the bug**
There are broken links in documentation markdown files.

 **Expected behavior**
No broken link in documentation

 **To Reproduce**
https://gist.github.com/ahuret/4529b7c50eeff488d4e06b2a1bfdf644

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

/cc

[2022-01-18 16:09] csantanapr commented on #4570
@FeynmanZhou Hi I was out on vacation and will be doing this week since no one picked this one up.
Take into account that next week is the release of 1.2

/assign

[2022-01-18 18:21] csantanapr commented on #4547
/close
fixed in #4611

[2022-01-18 18:21] #4547 closed

[2022-01-18 22:55] kimschles opened #4646 "Unable to configure Ambassador using instructions"
## Expected Behavior
In the 'Installing with the Operator' documentation, I expect to follow the instructions labeled 'The following commands install Ambassador and enable its Knative integration' under the Ambassador Tab and be able to successfully complete all 7 steps.

## Actual Behavior
In [step 4](https://github.com/knative/docs/blob/main/docs/install/operator/knative-with-operators.md?plain=

[2022-01-19 11:22] snneji opened #4650 "Change getting started guide to sslip.io"
nip.io --> sslip.io.

/assign

[2022-01-19 11:52] snneji opened #4651 "Make Kourier the first networking layer for the Operator"
Kourier is easier than istio and can override the default istio configuration if configured.

/assign

[2022-01-19 15:12] amandahla opened #4652 "Fix example to immediately collect any inactive revision"
Update docs according to https://github.com/knative/serving/pull/12517

Problem related in https://github.com/knative/serving/issues/12422

## Expected Behavior

Immediately collect any inactive revision
[code]

## Actual Behavior

Immediately collect any inactive revision
[code]

[2022-01-19 16:05] snneji opened #4654 "Update minimum Kubernetes version in the docs"
## Background
Minimum K8s version required for Knative 1.2 will be v1.21.

## Tasks
- Update the docs to reflect the new minimum requirement.

[2022-01-19 16:09] snneji opened #4655 "Knative 1.2 release notes blog post"
Consolidate all components and write a blog post similar to https://knative.dev/blog/releases/announcing-knative-v1-0-release/

- [x] https://github.com/knative/serving/releases/tag/knative-v1.2.0
- [x] https://github.com/knative/eventing/releases/tag/knative-v1.2.0
- [x] https://github.com/knative-sandbox/eventing-kafka-broker/releases/tag/knative-v1.2.0
- [ ] https://github.com/knative-sandbox/e

[2022-01-19 16:10] snneji commented on #4655
/assign

[2022-01-20 01:17] #4652 closed

[2022-01-20 01:29] #3760 closed

[2022-01-20 21:06] #4650 closed

[2022-01-20 21:09] #4651 closed

[2022-01-20 21:25] #4643 closed

[2022-01-20 21:58] psschwei commented on #4654
/assign @gabo1208

[2022-01-20 22:02] #4654 closed

[2022-01-20 22:04] gabo1208 commented on #4654
Thanks @psschwei !

[2022-01-21 16:07] abrennan89 commented on #4644
@snneji can you split this up into smaller issues? There is a huge list of broken links in that gist and I think it's too much to assign to one person at a time.

[2022-01-21 16:09] dprotaso commented on #4610
yup that's it

[2022-01-21 16:24] abrennan89 commented on #4610
@souenzzo these docs are actually updated automatically from the API spec, see the thread in Slack for details: https://knative.slack.com/archives/C0186KU7STW/p1642780832027500

Closing this issue since it will be updated once the changes to the API spec are merged. Not a docs issue.

[2022-01-21 16:24] #4610 closed

[2022-01-21 17:26] #4570 closed

[2022-01-24 10:45] snneji commented on #4644
@lionelvillard the files in the gist look like they are in the Eventing repo. Should this issue be moved to Eventing?

[2022-01-24 13:09] #4644 closed

[2022-01-24 14:45] snneji commented on #4646
Hi @kimschles, thanks for submitting an issue!

@shinigambit, since you're on interrupt for Knative.party this week, could you help out with this one?

[2022-01-24 15:24] snneji opened #4661 "Help users to choose an install method"
There are 2 install methods, Operator install and YAML install.

Add a short sentence to each install method on the [installing overview page](https://knative.dev/docs/install/) to explain the difference between the installation methods and to help users understand which method might be easier for them.

[2022-01-24 15:37] snneji opened #4662 "Release docs for Knative v1.2"
Cut a release for 1.2. For instructions, see comments in the [build script](https://github.com/knative/docs/blob/main/hack/build.sh#L12).

remaining versions would be main, 1.2, 1.1, 1.0, 0.26,

Dependencies:

- [x] [Serving 1.2](https://github.com/knative/serving/releases/tag/knative-v1.2.0)
- [x] [Eventing 1.2](https://github.com/knative/eventing/releases/tag/knative-v1.2.0)
- [x] [Kn CLI 1.2](h

[2022-01-24 16:00] snneji opened #4663 "Add instructions for cutting a release to the repo"
Add instructions for cutting a docs release. The instructions are currently in the build script: https://github.com/knative/docs/blob/main/hack/build.sh#L12

/assign

[2022-01-24 21:56] csantanapr commented on #4655
Thank you @snneji for taking this one 👍

[2022-01-25 14:56] snneji commented on #4626
Hi @BubbaJoe, do you feel like your issue has been resolved or would you like a documentation change/clarification? If you feel like your issue is resolved you can close this docs issue.

If you'd like to suggest a change to the tag feature, you can do so in the Serving repo: https://github.com/knative/serving/issues

[2022-01-25 14:58] #4626 closed

[2022-01-25 18:43] csantanapr opened #4667 "Add "Testimonials" page to knative.dev website"
We want to capture the content from the blog post [Highlighting the Value of Knative for the C-Suite](https://knative.dev/blog/articles/highlighting-value-knative-c-suite/)  and make it a permanent page under an “About” section on the website.

Here is the design that was provided by the contractor Lionsway we worked with.

Here is the design
[Testimonials Page.pdf](https://github.com/knative/docs

[2022-01-25 19:35] csantanapr opened #4668 "Add "FAQ" to the knative.dev website"
We want to add a FAQ page to help users.

Here is the initial set provided by the contractor Lionsway we worked with.

# Frequently Asked Questions (FAQ)

## What is Knative?
Knative is a system that works on top of Kubernetes. It helps development teams manage, monitor, and operate Kubernetes in a way that requires less technical knowledge and time. Knative is open-source, finding support and gro

[2022-01-25 20:15] csantanapr opened #4669 "Graphic updates for the Home page"
We wanted to add some diagrams and icons to the home page.

Here is the guidance for the design provided by the contractor Lionsway we worked with.
[Home Page Design Updates Jan-2022.pdf](https://github.com/knative/docs/files/7936851/Home.Page.Design.Updates.Jan-2022.pdf)

And they also provided the graphics assets
[Knative Web Assets.zip](https://github.com/knative/docs/files/7936849/Knative.Web.

[2022-01-25 20:27] csantanapr commented on #4669
These icons have 2 states, they change with mouse over
![image](https://user-images.githubusercontent.com/1094878/151054219-73e8d944-1f6d-4c52-851f-66dc0118065b.png)

[2022-01-25 20:33] gabo1208 commented on #4669
I'm helping with this, but anyone interested ping me to see if I can help you and how we can distribute the work :)

[2022-01-25 20:38] csantanapr commented on #4668
Please comment with questions and answers you want to see on the website, once we have enough of them we can create a PR

[2022-01-26 01:27] #4062 closed

[2022-01-26 02:20] shinigambit commented on #4646
The issue appears to be that the Deployment definition already specifies the "default" namespace in https://getambassador.io/yaml/ambassador/ambassador-rbac.yaml and kubectl doesn't honor the `--namespace ambassador` flag as used in the second step, I'll check what options we have to fix this

[2022-01-26 10:08] snneji commented on #4662
Still waiting, for Operator.

[2022-01-26 14:59] shinigambit commented on #4646
@snneji , @kimschles it turns out that Knative has dropped support for Ambassador for a while now, the docs just were outdated, instructions for installing Ambassador are being removed by this pr #4670

[2022-01-26 17:53] pmbanugo commented on #4668
- Is there a managed cloud version of Knative?
- Who are the contributors or companies backing the project?
- What foundation is it under (CNCF, LF, etc)?

[2022-01-27 12:27] csantanapr commented on #4668
Good ones @pmbanugo

[2022-01-27 15:12] snneji opened #4671 "Reorganise the clean up pages in the tutorial (getting started guide)"
## Background

There are a couple of locations where cleanup is mentioned in the getting started tutorial. One at the end of the [Serving section](https://knative.dev/docs/getting-started/first-traffic-split/#clean-up), and the other at the end of the [Eventing section](https://knative.dev/docs/getting-started/clean-up/).

Users might want to use their cluster to try code samples, but the getting

[2022-01-27 20:06] csantanapr opened #4672 "Add a page about security"
We have a security working group lead by @evankanderson and @julz

During the CNCF Due Diligence docs review, it was pointed out that the docs don't have links to the documentation that is already in place by the security working group.

We should have a page that contains the following links

- [Early Disclosure of Security Vulnerabilities](https://github.com/knative/community/blob/main/working-g

[2022-01-27 20:08] csantanapr commented on #4672
@snneji where do you think we should add this? It applies to both serving, and eventing

Maybe under "References"?

[2022-01-28 10:57] snneji commented on #4662
Waiting for Operator to release.

[2022-01-28 17:05] snneji commented on #4662
Operator is ready

[2022-01-28 17:22] #4662 closed

[2022-01-28 21:41] #4655 closed

[2022-01-29 16:53] senthilnathan opened #4680 "Incorrect link in private services documentation"
## Expected Behavior
The link for config-domain ConfigMap in this [section](https://github.com/knative/docs/blob/main/docs/serving/services/private-services.md#configuring-private-services) should point to https://github.com/knative/serving/blob/main/config/core/configmaps/domain.yaml

## Actual Behavior
Instead the configured link is incorrect: https://knative.dev/docs/serving/using-a-custom-doma

[2022-01-30 01:25] #4103 closed

[2022-01-31 13:40] #4680 closed

[2022-01-31 14:17] snneji commented on #4672
Reference would be fine.

Just had a look at the k8s docs. It seems that they have _similar_ information under [Reference > ... > Security and Disclosure Information](https://kubernetes.io/docs/reference/issues-security/security/), so maybe we could have a similar section in our Reference docs.

[2022-02-01 01:39] psschwei commented on #4315
In the current version of the docs (1.2), this link appears to work as expected, so going to go ahead and close this.

[2022-02-01 01:39] #4315 closed

[2022-02-01 14:45] snneji commented on #4646
Closing PR as it has been resolved in #4670

[2022-02-01 14:45] #4646 closed

[2022-02-01 14:53] snneji commented on #4245
We discussed in the working group meeting. We recommend the following for Quickstart: 3 CPUs, 2 GB RAM

[2022-02-01 15:11] snneji opened #4689 "Install guide is not organised consistently"
The install guide has the following issues:

- YAML install has a section for Serving and Eventing but operator doesn't
- Istio install is inside YAML install but it is also needed for Operator install

[2022-02-01 18:07] csantanapr commented on #4669
/assign @gabo1208

[2022-02-01 18:08] psschwei opened #4691 "Link to the "and more" who trust Knative"
**Describe the change you'd like to see**

It would be nice if on the homepage, the "and more" text in the section showing companies using Knative would link to the [adopters doc](https://github.com/knative/community/blob/main/ADOPTERS.MD) (or perhaps an mkdocs rendering of it)

<img width="638" alt="image" src="https://user-images.githubusercontent.com/44698588/152024627-8804ba9d-5bf2-415e-9a0d-d

[2022-02-01 19:12] xtreme-sameer-vohra commented on #4668
* Who is using Knative ? -> Link to [Adopters](https://github.com/knative/community/blob/main/ADOPTERS.MD)

[2022-02-02 18:58] psschwei opened #4692 "Update recommended Istio version in docs"
Our installing istio doc currently [recommends](https://github.com/knative/docs/blob/main/docs/install/serving/installing-istio.md#supported-istio-versions) Istio v1.9, which is [no longer receiving updates](https://istio.io/latest/news/releases/1.9.x/announcing-1.9.9/). I've asked [on Slack](https://knative.slack.com/archives/CA9RHBGJX/p1643826781571769) what the new version should be; once we kn

[2022-02-02 20:11] psschwei commented on #4692
Per Dave (see slack link above), we're shipping version 1.12

[2022-02-03 01:23] #4248 closed

[2022-02-03 10:30] snneji commented on #4420
/remove-lifecycle stale

[2022-02-03 15:12] pmbanugo commented on #4668
Another question to add.
- Does Knative support serverless functions?

[2022-02-03 15:13] csantanapr opened #4694 "Add meetup info in about community"
I was looking for the knative meetup info in [about community](https://knative.dev/docs/community/about/) and was not able to find it there.
Then I search the site and was able to find it in [contribute to knative](https://knative.dev/docs/community/contributing/#community-meetup)

We should:
- Add the info about the schedule: The meetup info doesn't say when it meets, should say it meets at 9:30A

[2022-02-03 15:13] csantanapr commented on #4694
cc @macruzbar @snneji

[2022-02-03 15:14] csantanapr commented on #4694
/kind good-first-issue

[2022-02-03 16:33] snneji opened #4696 "Quickstart command for minikube doesn't work"
## Expected Behavior
Running the command `kn quickstart minikube` as documented works.

## Actual Behavior
Running `kn quickstart minikube` results in error:

[code]
However, the command `kn-quickstart minikube` does work.

## Steps to Reproduce the Problem

1. Follow the instructions to install minikube, kn, and the quickstart plugin on https://knative.dev/docs/getting-started/
1. Run `kn quickst

[2022-02-03 16:41] psschwei commented on #4696
Hmmm.... it works as expected for me

[code]

I wonder if you have multiple versions of the plugin installed (?) -- do `kn quickstart version` and `kn-quickstart version` show the same output?

[2022-02-03 17:14] snneji commented on #4696
I get the following output:

[code]

[code]

[2022-02-03 17:30] psschwei commented on #4696
Ok, that looks like `kn` isn't finding the v1.2 version of the plugin (the no version/date/revision info was something we fixed a few releases back).

Check if the quickstart listed by `kn plugin list` matches the location of `which kn-quickstart`.

My guess is you probably need to `brew upgrade` the plugin rather than `brew install`, since you had a version on there previously.

[2022-02-03 18:01] snneji commented on #4696
Yep, that seemed to be the problem, thanks! I got rid of the old install I still had.

Do you think this needs to be documented or is this an edge case?

[2022-02-03 18:40] psschwei commented on #4696
It's probably worth putting in a note about upgrading, similar to [what we do for `kn`](https://github.com/knative/docs/blob/main/docs/snippets/install-kn.md?plain=1#L10-L11)

[2022-02-03 19:30] sriumcp opened #4700 "gRPC sample does not appear to build"
## Expected Behavior
The `gRPC` knative sample (Docker image) should build. It is documented [here](https://github.com/knative/docs/tree/main/code-samples/serving/grpc-ping-go), which in turn is linked to, from [here](https://knative.dev/docs/samples/serving/).

## Actual Behavior
I get a Docker build error.

## Steps to Reproduce the Problem

1.  `cd knative-docs/code-samples/serving/grpc-ping-go

[2022-02-04 03:00] #4197 closed

[2022-02-04 10:22] snneji commented on #4700
@yanweiguo since you're on call on Knative.party this week, would you be able to help with this issue?

[2022-02-04 11:00] snneji commented on #4700
@sriumcp is this issue related to PR https://github.com/knative/docs/pull/4701?

[2022-02-04 13:50] snneji commented on #4060
@julz Do you still want to do this issue?

[2022-02-04 13:54] sriumcp commented on #4700
@snneji Yes and no. They are related in the sense that, while I was working on this PR which adds additional gRPC documentation, I discovered the Docker build issue.

However, even without this new PR, `gRPC` on Knative is an existing documented example, which seems to be breaking and needs fixing.

[2022-02-04 17:29] #4689 closed

[2022-02-04 18:21] abrennan89 opened #4703 "Creating services page has broken formatting"
## Expected Behavior

Formatting on numbered steps and tabs correct

## Actual Behavior

https://knative.dev/docs/serving/services/creating-services/
The numbered steps and tabs on this page appear to be broken

## Steps to Reproduce the Problem

1. Go to https://knative.dev/docs/serving/services/creating-services/

[2022-02-07 04:09] csantanapr commented on #4491
/assign

[2022-02-07 14:34] #4671 closed, assigned to snneji

[2022-02-07 20:30] nader-ziada opened #4709 "Knative Quickstart plugin broken link on website"
## Expected Behavior
Clicking on the Knative Quickstart plugin link in the [Installing Knative Serving using YAML files](https://knative.dev/docs/install/serving/install-serving-with-yaml/) gives a page not found error

## Actual Behavior
- should open the quick start page

## Steps to Reproduce the Problem

1. open the Installing Knative Serving using YAML files page on the website
1. click on th

[2022-02-07 23:16] csantanapr commented on #4672
I agree lets add under Reference @snneji

[2022-02-08 13:27] #4709 closed, assigned to snneji

[2022-02-08 18:21] csantanapr commented on #4667
/assign @gabo1208

[2022-02-08 18:43] psschwei opened #4716 "Update client docs on current path-lookup behavior"
We need to update the [client configuration doc](https://github.com/knative/docs/blob/main/docs/install/client/configure-kn.md?plain=1#L25) to include the proper behavior of the `path-lookup` option:
* default value is `true`
* is deprecated and will be removed in the future

[source](https://github.com/knative/client/blob/8a5e349f97fa0bd06e237284d6afdcfb35a615d6/docs/README.md?plain=1#L80-L81)

[2022-02-08 19:49] snneji opened #4718 "Add command to update kn and kn quickstart"
Add `brew update` command for updating kn CLI and kn quickstart plugin.

/assign

[2022-02-08 19:52] snneji commented on #4718
Will be fixed as part of: #4696

[2022-02-08 19:52] #4718 closed

[2022-02-08 19:54] snneji opened #4719 "Add a list of available kn plugins"
Add a list of plugins to the kn plugins page: https://knative.dev/docs/install/client/kn-plugins/

[2022-02-08 20:13] #4663 closed

[2022-02-09 12:33] #4696 closed

[2022-02-09 16:52] #4345 closed

[2022-02-09 17:16] #4491 closed

[2022-02-10 19:04] DazWilkin opened #4725 "Reference HTML IDs in rendered HTML to facilitate referencing|bookmarks"
**Describe the change you'd like to see**

The API documentation uses HTML IDs, e.g. [RouteStatusFields](https://knative.dev/docs/reference/api/serving-api/#serving.knative.dev/v1.RouteStatusFields):

[code]

But the HTML ID is not surfaced in the rendered HTML making it cumbersome to grab the ID (from the source) to use it (as I did above).

Curiously, the [Duck Types](https://knative.dev/docs/re

[2022-02-10 20:54] snneji opened #4726 "Have release notes visible in the navigation"
Currently the release notes are in the Blog and not visible in the main navigation. There is also a hidden file with links to release notes.

Add a page linking to release notes in the main navigation so that users can find them more easily.

[2022-02-11 00:43] starpit opened #4727 "kn install snippet suggests both `brew install` and `brew upgrade`"
## Expected Behavior

I wasn't sure whether to categorize this as a bug or a feature request...

The documentation suggests that users should try both `brew install kn` *and* `brew upgrade kn`. Whereas `brew install` will check for upgrades by default. From the standpoint of understandability, the current site renders these as two consecutive code blocks, giving the appearance the *both* should be

[2022-02-13 01:27] #4365 closed

[2022-02-13 01:27] #4337 closed

[2022-02-13 13:33] julz commented on #4060
Oops, no this isn't on my todo list at the moment, let me free it up for someone else

/unassign

[2022-02-13 13:42] julz commented on #4245
/unassign

[2022-02-14 11:04] snneji commented on #4478
Locations to fix:
https://knative.dev/docs/serving/autoscaling/concurrency/#hard-limit
https://knative.dev/docs/serving/services/creating-services/#procedure
https://knative.dev/docs/serving/services/service-metrics/ — add code tags
https://knative.dev/docs/serving/load-balancing/target-burst-capacity/#setting-the-target-burst-capacity
https://knative.dev/docs/serving/using-a-tls-cert/#obtaining-a

[2022-02-14 11:09] snneji commented on #4554
When using minikube:

Service 'hello' created to latest revision 'hello-world' is available at URL:
http://hello.default.example.com

Should be http://hello.default.127.0.0.1.sslip.io so command `curl http://hello.default.127.0.0.1.sslip.io` command fails.

To fix use `minikube tunnel --profile knative`, see Slack thread: https://knative.slack.com/archives/C9CV04DNJ/p1644505170591079

This is in C

[2022-02-14 14:50] snneji opened #4731 "Add troubleshooting info for local previews"
After updating to Material for MkDocs 8.1, when I tried to preview the docs locally I received the error:

[code]

Add a note to troubleshoot this issue in [previewing docs locally](https://github.com/knative/docs/blob/main/contribute-to-docs/getting-started/previewing-docs-locally.md). The following worked for me:

`pip3 uninstall -r requirements.txt` then `pip3 install -r requirements.txt`

See

[2022-02-14 22:06] mattmoor opened #4732 "Serving Defaults configmap should document the field names being defaulted."
**Describe the change you'd like to see**
I noticed that the default entries like `revision-timeout-seconds` here: https://knative.dev/docs/serving/configuration/config-defaults/ to not actually specify the fields being defaulted.

**Additional context**
I really like the way this was solved in autoscaling where it talks about global configuration as well as per-revision: https://knative.dev/docs/

[2022-02-14 22:06] mattmoor commented on #4732
cc @dprotaso

[2022-02-14 22:36] omerbensaadon commented on #4245
/unassign

[2022-02-14 22:45] csantanapr commented on #4556
I asked in material-mkdocs about it https://github.com/squidfunk/mkdocs-material/discussions/3581

[2022-02-15 01:38] gabo1208 opened #4736 "Wrong output on traffic split example tab"
**Describe the change you'd like to see**
https://knative.dev/docs/getting-started/first-traffic-split/#splitting-traffic
The spected output when you click the kubectl tab is wrong, it keeps the same output as the one on the kn CLI tab, i.e. it shows the TRAFFIC column that is specific to kn CLI

[2022-02-15 13:58] snneji commented on #4736
Hi, Thanks for the noticing this. I'm going to move that output under the `kn` tab. I'm currently working on a PR to edit this tutorial and will fix this as part of that PR.

/assign

[2022-02-15 14:06] snneji commented on #4727
I can add "Do one of the following" before the command to show that you don't have to do both.

The second bullet point was added to fix an issue where running `brew install` while having an existing install caused the new version to install as well as leaving the old version available.

[2022-02-15 14:12] snneji commented on #4700
@ZhiminXiang would you be able to help out on this?

[2022-02-15 15:56] csantanapr opened #4738 "Make it clear that Knative doesn't limit the use of different Kubernetes runtimes"
Feedback from CNCF TOC member Emily Fox during CNCF due diligence review.

@dims - Do you know if knative has any plans to extend Knative Functions (in development) to leverage some form of container isolation or be compatible with it? I don't see any references to this in their issues or DD doc, however i did come across #12533 (recently opened) to explore true multi-tenancy.

Thanks all for the

[2022-02-15 16:24] #4669 closed

[2022-02-15 17:24] snneji opened #4740 "Tutorial commands don't work for minikube"
## Expected Behavior
The commands provided to copy for pinging the Service in [the tutorial ](https://knative.dev/docs/getting-started/first-service/) should work for minikube.

[code]

## Actual Behavior
The command documented doesn't work for minikube because it needs a different IP address.

## Steps to Reproduce the Problem

1. Install quickstart plugin
1. Follow the instructions to install Kn

[2022-02-15 17:55] starpit commented on #4727
Howdy! That makes sense. What about putting it under an expandable section? To me, this would make it even more clear that the instal/upgrade dischotomy is a discrete choice to be made?
<img width="723" alt="Screen Shot 2022-02-15 at 12 53 59 PM" src="https://user-images.githubusercontent.com/4741620/154120603-c40d1175-985c-403e-a6da-a93d51942178.png">

[2022-02-15 18:26] csantanapr commented on #4440
/assign

[2022-02-15 21:15] #4554 closed

[2022-02-15 21:15] #4736 closed

[2022-02-16 03:35] csantanapr commented on #4740
For minikube the IP will not be `127.0.0.1` it will be an IP starts `10.x.x.x`

[2022-02-16 03:39] csantanapr commented on #4732
@mattmoor your referring to the examples having the 3 versions?
Like this one?
![image](https://user-images.githubusercontent.com/1094878/154191774-efcfa8fd-2dc2-423a-bcd5-f0c872f5777f.png)

[2022-02-16 05:15] mattmoor commented on #4732
Yeah, but even when the example isn't there the bit above that has the different categories consistently:
<img width="683" alt="image" src="https://user-images.githubusercontent.com/2442466/154200687-9427ea8a-c4c6-4880-8ca0-ec06a1d04176.png">

[2022-02-16 21:50] csantanapr opened #4756 "button doesn't readable text on home page"
The button doesn't show the text, and others would better contrast with white text https://knative.dev/development/

![image](https://user-images.githubusercontent.com/1094878/154363180-952d862c-2d8e-4749-95e7-c26a8d9251e0.png)

[2022-02-16 21:59] csantanapr commented on #4756
@gabo1208
In release-1.2 (default)  it looks correct https://knative.dev/docs/
![image](https://user-images.githubusercontent.com/1094878/154364413-421c2450-cad7-47f5-bff5-33dafb1b1361.png)

[2022-02-16 22:04] csantanapr opened #4757 "update title on home page"
Knative is an open-source solution to build
Serverless and Event Driven Applications

Serverless Containers in Kubernetes environments

![image](https://user-images.githubusercontent.com/1094878/154364942-3f314fd8-ee64-4134-8452-8dd624bdb21a.png)

cc @gabo1208

[2022-02-17 11:14] #4756 closed

[2022-02-17 12:09] snneji commented on #4727
Hi @starpit, we made the decision to not use a note because notes are easy to ignore.

Also, we would like users to use the upgrade command instead of the install command in the case of having an existing install. Having the note after the install command might mean that users only read the note _after_ running the install command.

Do you think this suggestion would fix the issue:

<img width="85

[2022-02-17 12:32] starpit commented on #4727
Hiya, thanks for the consideration!

The underlying issue we are addressing is this: how can a human (or machine) consumer of the documentation know which code blocks are a) **necessary** versus b) **optional** versus c) one from a selection of **choices**.

Almost universally, the knative documentation expresses choice via a Tab UI. You screenshot shows an example of this. And optional code block

[2022-02-17 16:57] snneji commented on #4757
Fixed in https://github.com/knative/docs/pull/4759

[2022-02-17 16:57] #4757 closed

[2022-02-17 17:06] snneji opened #4769 "Copy code buttons are not visible"
I noticed that the button to copy code button isn't visible in code snippets unless you hover over it. I think this could be because it's colour is too light.

[2022-02-19 11:00] ArtemChekunov commented on #311
If you wanna install knative-operator with helm chart you can make it with helmify

[code]

[2022-02-22 18:02] csantanapr opened #4779 "Create About Section"
This will replace the "Case Studies" Navigation Menu with "About"

Clicking About goes to an overview "About Knative" Page
Create an About Knative section – add a page that includes diagrams, architecture, high level info about Knative Serving + Eventing similar to Istio: https://istio.io/latest/about/service-mesh/

Section layout for "About" menu:
- About Knative
- Testimonials
- FAQ
- Case Studi

[2022-02-22 18:08] csantanapr commented on #4740
We need dynamically get the urls to work with kind or minikube

[code]
To be like
[code]

[2022-02-22 18:22] csantanapr commented on #4612
we use revision name to be able to get revision name for the command on traffic split

[code]

[code]

We could switch to using tags then the commands would be like
create:
[code]
split:
[code]

[2022-02-22 18:27] csantanapr commented on #4612
/assign

[2022-02-23 04:00] csantanapr commented on #4667
[CxO Page graphics-20220223T035908Z-001.zip](https://github.com/knative/docs/files/8121818/CxO.Page.graphics-20220223T035908Z-001.zip)
@gabo1208 here is the image files for Testimonials page

[2022-02-23 21:47] tomleah commented on #4703
Hi, I'm happy to take a look at this as a first issue 😄

I see the numbered steps problem, but what do you mean by the tabs being broken?

[2022-02-23 21:52] #4667 closed

[2022-02-23 21:55] abrennan89 commented on #4703
Hey @tomleah - the tabs for YAML and CLI should be side by side tabs instead of one after the other.
![image](https://user-images.githubusercontent.com/40172997/155415192-42e27657-6535-4e1a-8dad-e48bb8298a19.png)

Here's an example of how the tabs should look: https://knative.dev/docs/serving/services/http-protocol/#overriding-the-default-http-behavior

Thanks!

[2022-02-23 22:02] tomleah commented on #4703
Thanks @abrennan89!

Something like this then?

![image](https://user-images.githubusercontent.com/5465397/155416177-a7490c41-0a84-4e03-88e4-316b7f06f2c1.png)

[2022-02-23 22:11] abrennan89 commented on #4703
Exactly 🙂

[2022-02-25 02:45] #4703 closed

[2022-02-25 09:42] sheeeng commented on #4740
I am having the same issue.

[code]

[2022-02-25 10:39] yedamao opened #4786 "eventing-kafka-controller.yaml not found"
## Expected Behavior
get the yaml file successfully
## Actual Behavior
[code]

## Steps to Reproduce the Problem

1. kubectl apply --filename https://github.com/knative-sandbox/eventing-kafka-broker/releases/download/knative-v1.2.0/eventing-kafka-controller.yaml

## Additional Info
**Additional context**
change the tag number to v1.2.3, it installed successfully.

**Install information:**
 - Platf

[2022-02-25 14:15] snneji commented on #4740
Hi @sheeeng, were you running minikube tunnel when you created the Service?

I had the same issue and found that running `minikube tunnel --profile knative` in a separate terminal window during the whole tutorial solved the issue. (See the final step for minikube [in the docs](https://knative.dev/development/getting-started/quickstart-install/#run-the-knative-quickstart-plugin))

[2022-02-28 11:19] sheeeng commented on #4740
Yes, I did run `minikube tunnel --profile knative` in another separate window. 😞

[2022-02-28 12:39] snneji commented on #4740
@psschwei do you have any advice for @sheeeng ?

[2022-03-01 09:12] hamees-sayed commented on #4478
@snneji I would like to work on this issue. If you could kindly show me around the folders where changes have to be made.
Thank you

[2022-03-01 10:30] sheeeng commented on #4740
I have run the quickstart steps from a fresh environment again.

[code]

Curl stuck at getting that response.

[2022-03-01 14:15] psschwei commented on #4740
Ok, I was able to replicate this by:

* starting a minikube cluster in a terminal (term1)
* running `minikube tunnel` in a separate terminal window (term2)
* doing the standard [install Knative from YAML](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml)
* killing the tunnel process in term2 (`C-c`)
* deploy a [hello world service](https://knative.dev/docs/getting-st

[2022-03-01 15:05] snneji commented on #4478
Hi @hamees-sayed, thanks for volunteering to work on this!

I've added instructions for each item listed. You don't have to fix all items, just do as many as you can, and check them off the list. You should find that all the files that need to be updated for this issues are in the `docs/serving/` folder in this repo. The file names are in the URL.

For more information on how to edit the docs, see

[2022-03-01 15:47] hamees-sayed commented on #4478
Thank you so much @snneji

[2022-03-01 18:07] snneji opened #4789 "Release docs for Knative v1.3"
Cut a release for 1.3. For instructions, see comments in the [docs release process](https://github.com/knative/docs/blob/main/contribute-to-docs/docs-release-process.md).

remaining versions would be main, 1.3, 1.2, 1.1, 1.0

Dependencies:

- [ ] [Serving 1.3](https://github.com/knative/serving/releases/tag/knative-v1.3.0)
- [ ] [Eventing 1.3](https://github.com/knative/eventing/releases/tag/knati

[2022-03-01 18:12] snneji opened #4790 "Knative 1.3 release notes blog post"
## Tasks

1. After each component has released, consolidate all release notes into a blog post similar to the [Knative 1.2 blog post](https://knative.dev/blog/releases/announcing-knative-v1-2-release/). Use the [template](https://github.com/knative/docs/blob/main/blog/docs/releases/_template-announcing-knative-v1-X-release.txt) to format the blog post correctly.
2. Add the new blog page to `blog/c

[2022-03-01 18:19] snneji opened #4791 "Add an "About Knative" page"
Add a page to the About section that includes the following conceptual info:
- high level info about Knative Serving + Eventing
- architecture info
- diagrams

The page should be similar to Istio: https://istio.io/latest/about/service-mesh/

[2022-03-02 00:42] dgeorgievski opened #4894 "Hello World - Rust(community/samples/serving/helloworld-rust/index.md)"
Under step 4. `Create a new file, service.yaml ...` of Rust Serving example
https://knative-v1.netlify.app/community/samples/serving/helloworld-rust/

the following knative service has two syntax indentation errors at containers and env value.
[code]

The correct format should be
[code]

[2022-03-02 09:10] sheeeng commented on #4740
The quickstart [documentation](https://knative.dev/development/getting-started/first-service/) should be updated with correct walk-through steps to properly help first-time knative users.

[2022-03-02 09:15] sheeeng commented on #4740
[code]

[code]

[2022-03-02 15:44] psschwei commented on #4740
Is the pod running in the default namespace? (`kubectl get po`) Otherwise, you may want to try a different minikube driver (I know a number of people have have success with Hyperkit)

[2022-03-02 21:44] sheeeng commented on #4740
[code]

[2022-03-02 22:00] psschwei commented on #4740
I'm assuming the pod isn't there because the service has scaled down.... try deleting the service and recreating it. If the pod is fine, then I'd go back to trying a different driver or even using kind instead of minikube.

[2022-03-02 22:11] sheeeng commented on #4740
[code]

[code]

If switching driver is necessary, I would expect it to be explained in the documentation, especially for quick-start section.

[2022-03-03 04:54] hamees-sayed commented on #4478
@snneji first formatting is done, kindly check it

[2022-03-03 05:53] hamees-sayed opened #4803 "Sentence in knative serving doc in incomplete."
Under the "Warning" before the word "challenge" a sentence is missing. The sentence that has to be added is "_Provisioning a certificate_ _per namespace only works with DNS-01_ challenge. "

Link: https://knative.dev/development/serving/using-auto-tls/#provising-certificates-per-namespace-wildcard-certificates

[2022-03-03 07:45] pierDipi commented on #4786
Hi @yedamao, thanks for reporting!

Please use the latest patch release `knative-v1.2.3`
[code]

[2022-03-03 10:36] snneji commented on #4803
Seems like we need to fix the note formatting here. 🙂

The correct syntax is as follows: After opening the note with `!!! warning`, you must add a new line and indent the note text by 4 spaces, for example:

[code]

[2022-03-03 11:02] snneji commented on #4478
@hamees-sayed Thanks for your help on this one. 🙂 I made a comment on your issue to fix that warning note #4803. Do you think you'll be able to pick that issue up as well?

[2022-03-03 12:22] mehmandarov commented on #4740
This might be slightly off-topic when it comes to minicube issue, but FWIW I have had the same issue with Ubuntu and microk8s installation.

Here is what I did first:

1. Follow installation https://ubuntu.com/blog/getting-started-with-knative-1
2. Follow Knative "Hello World" tutorial: https://knative.dev/docs/getting-started/first-service/
3. **_Result_**: Issues with sslip.io and missing URL wh

[2022-03-03 12:30] hamees-sayed commented on #4478
@snneji sure, I might do it later today after I am done with my studies, I thought of raising it as an issue just in case. 😅

[2022-03-03 13:19] psschwei commented on #4740
Re: documentation

In the ["Configuring DNS" section of the Installing docs](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#configure-dns), we do provide a "Temporary DNS" solution that can be used if the sslip.io address doesn't work. Might be a good idea to link to that from the tutorial (or even consider using it instead of tunneling for the minikube instructio

[2022-03-03 14:10] sheeeng commented on #4740
[code]
VMware Fusion Player Version 12.2.1 (18811640) was installed.

Thank you for the troubleshooting steps. I will try to debug them when I have time to do so.

I have restarted the entire quickstart, but to no avail.

[code]

[code]

[code]

[2022-03-03 14:25] psschwei commented on #4719
/assign

[2022-03-03 14:45] sheeeng commented on #4740
I switched to VirtualBox as the driver of minikube and it works.

[code]

[code]

[code]

[code]

[2022-03-03 15:04] psschwei commented on #4740
Great news!

I think we should probably add a warning / tip to the docs around common minikube networking issues, such as keeping tunnel open and perhaps one on driver usage (maybe leaning towards using the ["preferred"](https://minikube.sigs.k8s.io/docs/drivers/) drivers?).

[2022-03-03 20:00] hamees-sayed commented on #4478
@snneji I pretty much fixed all the broken formatting, if you could review the PR.
Thank you :)

[2022-03-04 05:48] #4803 closed

[2022-03-04 14:30] psschwei commented on #4716
Fixed via #4793

[2022-03-04 14:37] psschwei commented on #4672
/assign

[2022-03-04 21:08] #4672 closed

[2022-03-05 01:29] #3762 closed

[2022-03-05 10:39] csantanapr commented on #4672
Thank you 🙏🏻 @psschwei

[2022-03-07 07:50] pierDipi commented on #2944
/remove-lifecycle stale

[2022-03-07 12:31] psschwei commented on #4363
remove-lifecycle stale

[2022-03-07 12:32] psschwei commented on #4363
/remove-lifecycle stale

[2022-03-08 18:15] csantanapr opened #4809 "Remove all _index.md files"
Remove all the _index.md files, these files were used by hugo which we don't use anymore.

[2022-03-09 09:35] A11Ybot-OP opened #4811 "Main website accessibility issue WCAG 1.4.3"
Path
.md-header__source > .md-source[title="Go\ to\ repository"][data-md-component="source"] > .md-source__repository[data-md-state="done"] > .md-source__facts > .md-source__fact--stars.md-source__fact

Snippet
<li class="md-source__fact md-source__fact--stars">3.3k</li>

How to fix
Fix the following:
Element has insufficient color contrast of 4.31 (foreground color: #3f75ac, background color: #f3

[2022-03-09 09:39] A11Ybot-OP commented on #4811
there are 17 other similar colour contrast issues

[2022-03-10 03:22] #4786 closed

[2022-03-10 15:02] #4719 closed

[2022-03-10 16:12] snneji commented on #4478
Fixed in https://github.com/knative/docs/pull/4806

[2022-03-10 16:12] #4478 closed

[2022-03-10 19:50] #3853 closed

[2022-03-11 07:57] pierDipi commented on #4535
/remove-lifecycle stale

[2022-03-11 11:49] psschwei commented on #4525
/remove-lifecycle stale

[2022-03-11 12:09] csantanapr commented on #4525
As we update the build script we can skip all versions and only single site build development

[2022-03-11 12:48] aslom commented on #4538
/reopen

[2022-03-14 09:28] zhaojinxin409 opened #4819 "Broker Delivery's doc error"
https://github.com/knative/docs/blob/9ebd6b39c005887da822c4e947e67ee2230c54fe/docs/eventing/event-delivery.md?plain=1#L57

The `deadLetterSink` section is the same as subscription delivery, may be it's an error?

[2022-03-15 03:08] zhaojinxin409 commented on #4819
sorry, i

[2022-03-15 03:08] #4819 closed

[2022-03-15 07:57] matzew opened #4822 "Improve documentation on configuring the default BrokerClass"
The doc https://knative.dev/docs/eventing/configuration/broker-configuration/#configuring-the-default-brokerclass-for-namespaces

is a little misleading or not fully correct.

* `KafkaBroker` -> there is no such `class`, the Kafka-based broker impl does use `Kafka` instead
* The config just contains the `brokerClass` field, usually each broker has different configuration, captured in a config map.

[2022-03-15 16:12] matzew opened #4823 "Doc request: Describe how to protect the knative broker to be accessed from selected namespaces"
With Istio we could restrict the access to the Knative Broker, using the `AuthorizationPolicy` so that we can allow a number of workloads/namespaces to access different Broker URLs.

[2022-03-15 16:13] matzew opened #4824 "Doc request: Describe User Authentication with Istio for the Knative broker"
Document how to protect a Knative Broker with JSON Web Token (JWT) and Istio, using the `AuthorizationPolicy` and `RequestAuthentication` types from istio

[2022-03-15 16:15] matzew commented on #4823
Below is a suggested content. But I am not sure where exactly to place this? Admin vs Dev ? or mix?

--------------------------

# Namespace authorization for the Knative Broker with Istio

This guide shows how to authorize workloads from selected namespaces for accessing the Knative Kafka Broker.

## Before you begin
You need:
* knative eventing
* https://knative.dev/docs/install/installing-istio

[2022-03-15 23:16] psschwei commented on #4809
Fixed in #4825

[2022-03-15 23:16] #4809 closed

[2022-03-15 23:19] psschwei opened #4832 "Update Docker instructions"
## What is changing? (Please include as many details as possible.)

Our current instructions for using [Docker to build mkdocs locally](https://github.com/knative/docs/blob/main/hack/docker/README.md) use `npm`, but we removed the required `package.json` in #4733 .

We should either restore `package.json` or update the instructions in the readme linked above to use the shell scripts in `hack/docke

[2022-03-17 05:25] samutamm opened #4833 "helloworld-python fails due legacy Python dependencies"
Currently running the [helloword-python](https://github.com/knative/docs/tree/main/code-samples/eventing/helloworld/helloworld-python) example produces a container that fails with following error:

[code]

Maybe some of the dependencies are deprecated recently etc

**Describe the change you'd like to see**

Update dependencies.

It seems that updating Flask version to `2.0.1` and Dockerfile base i

[2022-03-17 15:48] evankanderson commented on #4506
/remove-lifecycle stale

[2022-03-17 18:49] dprotaso commented on #4506
/unassign @dprotaso

I'm not actively working on this and all the annotations should be documented in other parts of the website as part of our 1.0 work

[2022-03-17 19:23] csantanapr opened #4840 "Add github action to trigger the netlify build for release branches"
Currently the netlify build is triggered only when a change is committed to the `main` branch but not when is committed to one of the release branches.

We can create a github action that triggers on a push to a `release-*` branch and do `curl` to the endpoint to netlify to trigger a build using the `main` branch

Reference: [Netlify Build Hooks](https://docs.netlify.com/configure-builds/build-hoo

[2022-03-17 20:00] z-proy opened #4842 "Macro Rendering Error causing some pages to be broken"
## Expected Behavior
This webpage load correctly and display expected instructions: https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/

## Actual Behavior
Whatever framework you're using prints out the following error:

Macro Rendering Error[¶](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#macro-rendering-error)

AttributeError: 'str

[2022-03-17 20:34] carlisia commented on #4842
This page also presents this error: https://knative.dev/docs/serving/using-auto-tls/

I'm going to change the title of this issue to reflect this more general issue.

[2022-03-17 20:38] carlisia commented on #4842
/kind-bug

[2022-03-17 20:40] carlisia commented on #4842
/kind bug

[2022-03-17 20:53] dprotaso commented on #4842
Fix is incoming: https://github.com/knative/docs/pull/4843

[2022-03-17 20:56] #4842 closed

[2022-03-17 22:07] dprotaso commented on #4842
Ok the website was pushed and it should be working as expected

[2022-03-18 00:05] #4790 closed

[2022-03-18 10:34] rhuss commented on #2810
/remove-lifecycle stale

[2022-03-18 11:35] snneji opened #4848 "Add install link to Eventing and Serving overview pages"
## Task

Add a link to the installation docs on the [Serving overview](https://knative.dev/docs/serving/) and [Eventing overview](https://knative.dev/docs/eventing/) pages.

[2022-03-18 13:40] #4833 closed

[2022-03-18 14:39] psschwei commented on #4832
Or option 3... update the README to point to https://github.com/knative/docs/blob/main/contribute-to-docs/getting-started/previewing-docs-locally.md :smile:

[2022-03-18 19:18] psschwei commented on #4840
I'll give this a try...

/assign

[2022-03-19 01:38] jasonsmithio commented on #4848
I'd be happy to take it

[2022-03-20 09:03] sisp opened #4854 "Logo colors don't conform with style guide"
The colors of the logos in https://github.com/knative/docs/tree/main/docs/images/logo don't conform with the color codes specified in the style guide. For instance, in `rgb/knative-logo-rgb.png`:

- Dark blue: `#0366ad` but should be `#0865ad`
- Light blue: `#6593c8` but should be `#6695ca`

All images should be updated to conform with the color in the style guide.

[2022-03-20 13:46] Legion2 opened #4855 "`ingress.class` or `ingress-class` in config-network config map"
The "Install a networking layer" documentation describes how to set the correct ingress class in the config-network config map for the different network options (kourier, istio and contour). However, the documentation is inconsistent:
kourier:
[code]
contour:
[code]
`ingress.class` vs `ingress-class`, what is the correct key?

**Describe the change you'd like to see**
The documentation should be c

[2022-03-21 21:45] csantanapr commented on #4525
You can set an environment variable here https://github.com/knative/docs/blob/main/netlify.toml#L13
https://docs.netlify.com/configure-builds/file-based-configuration/
[code]

[2022-03-21 23:33] #4525 closed

[2022-03-22 02:11] nak3 commented on #4855
Thank you for your report.
https://github.com/knative/docs/pull/4858 and https://github.com/knative/docs/pull/4859 will fix it.

[2022-03-22 10:13] data-henrik opened #4860 "Wrong syntax for --tag in service update?"
## Expected Behavior
This should be the correct syntax
[code]

[code]
Version of my kn client:
[code]

## Actual Behavior
Currently documented in https://knative.dev/docs/serving/traffic-management/#routing-and-managing-traffic-by-using-the-knative-cli:
[code]
Using the documented syntax gives an error.

[2022-03-22 11:01] skonto commented on #3140
/remove-lifecycle stale

[2022-03-22 12:09] snneji commented on #4477
/remove-lifecycle stale

[2022-03-22 12:10] snneji commented on #3863
/remove-lifecycle stale

[2022-03-22 12:10] snneji commented on #4305
/remove-lifecycle stale

[2022-03-22 12:28] #4832 closed

[2022-03-22 13:19] #4855 closed

[2022-03-22 14:20] psschwei opened #4863 "Update "Upgrading" docs to use newer Knative version as example"
**Describe the change you'd like to see**

The [upgrading with yaml docs](https://knative.dev/docs/install/upgrade/upgrade-installation/#performing-the-upgrade) currently use v0.22 -> v0.23 as an example. We're currently on v1.3 (aka v0.30), and several things have changed since this doc was written (branch is `knative-v1.x` instead of `v0.x`, domain mapping is part of core now, etc.), so it would

[2022-03-22 14:55] snneji commented on #4178
Closing because the image has since been updated to `gcr.io/knative-nightly/knative.dev/eventing/cmd/heartbeats`. @cardil, you can reopen if you disagree that this fixes your issue.

[2022-03-22 14:55] #4178 closed

[2022-03-22 17:51] #4840 closed

[2022-03-24 01:31] #4383 closed

[2022-03-25 14:24] Subhasish-Behera opened #4870 "kubectl apply -f filename.yaml"
its not working while using this doc: https://knative.dev/docs/eventing/getting-started/
kubectl apply -f filename.yaml
error: unable to recognize "knativereq3.yaml": no matches for kind "Broker" in version "eventing.knative.dev/v1"

[2022-03-25 14:53] psschwei commented on #4870
How did you install Knative?

Which part of that page is causing the issue?

[2022-03-25 15:04] Subhasish-Behera commented on #4870
Thanks for quick response.
I haven't installed knative yet.
I have just created the event example namespace.
Then I created a yaml file knativereq.yaml in which I copied the yaml code
from https://knative.dev/docs/eventing/getting-started/.
Then when I  tried kubectl apply I got the error : unable to recognize
knativereq.yaml . No matches for kind broker in version '
eventing.knative.dev/v1'

On F

[2022-03-25 15:11] psschwei commented on #4870
Ok, that's why. You'll need to install Knative before running any of the steps from that page.

I'd recommend using our [quickstart](https://knative.dev/docs/install/quickstart-install/) tool... it sets up a Knative cluster locally using either Kind or Minikube in just a couple of minutes.

[2022-03-25 15:14] Subhasish-Behera commented on #4870
Got it. Sorry I am a noob. Will try it immediately.

On Fri, 25 Mar, 2022, 20:41 Paul Schweigert, ***@***.***>
wrote:

[2022-03-25 15:17] psschwei commented on #4870
No worries, we all were at one time or another :smile:

[2022-03-26 00:40] RichieEscarez opened #4873 "Usability pain point: Cannot link to a tab within a page"
Several pages include a tabbed table, for example: https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#install-a-networking-layer

But if there is a specific requirement other than the default tab, the page does not allow linking to a specific tab so show the required context/option.

Can anchors or page behaviors be improved to help get Knative users to the only the r

[2022-03-28 17:55] #4870 closed

[2022-03-29 03:11] csantanapr opened #4878 "Update website to be dual license"
With the move to the CNCF there is this CNCF IP Policy stipulation
https://github.com/cncf/foundation/blob/main/charter.md#11-ip-policy

(f) All documentation will be received and made available by the CNCF under the Creative Commons Attribution 4.0 International License.

Please update the footer of the website to state the license Documentation Distributed under [CC BY 4.0]
link to a file served

[2022-03-29 16:57] snneji commented on #170
Hi @soham283, are you still planning to do this? If not we will take your name off and offer it to others to work on.

[2022-03-30 15:43] dgeorgievski opened #4880 "Wrong API version in KinD cluster spec for local knative dev"
## Expected Behavior
Able to create a KinD Knative cluster using the spec defined in the documentatoin
https://knative.dev/blog/articles/set-up-a-local-knative-environment-with-kind/#step-1-setting-up-your-kubernetes-deployment-using-kind

## Actual Behavior
Failed KinD cluster creation

[code]

## Steps to Reproduce the Problem
See above

## Additional Info
**Additional context**
Add any other co

[2022-03-30 16:08] dprotaso opened #4881 "Custom Certs for Tag to Digest Resolution needs a passover"
Some feedback on https://knative.dev/docs/serving/tag-resolution/#custom-certificates

We should mention that the controller deployment you are modifying is the one serving provides. We can probably do this with a `kubectl patch` command

The follow copy makes it sound like you can apply the supplied example deployment which isn't valid

seems like you can apply the supplied example

Additionally,

[2022-03-30 17:01] psschwei commented on #4880
Since the quickstart plugin is now the recommended way to set up Knative on Kind, maybe we want to sunset this blog post?

[2022-03-30 17:18] lance commented on #4878
Related: https://github.com/knative/community/pull/985

The recommendation from CNCF is to have a `LICENSE` and `LICENSE-docs` file

[2022-03-31 07:25] achyutm6 opened #4884 "Installing the Knative quickstart plugin using binary is missing steps that links it as a plugin to kn"
**Describe the change you'd like to see**
In the docs at - https://knative.dev/docs/install/quickstart-install/#install-the-knative-quickstart-plugin . The "Using a binary" section is missing steps to link the kn-quickstart plugin to kn cli. I would suggest adding steps which are clearly mentioned in the kn-plugin-quickstart to this doc to avoid any confusion.

[code]

[2022-03-31 11:45] hbelmiro opened #4885 ""Installing Knative using the Operator" not working"
The [Installing Knative using the Operator](https://knative.dev/docs/install/operator/knative-with-operators/) guide is not working.
When I reach the step [Verify the Knative Serving deployment](https://knative.dev/docs/install/operator/knative-with-operators/#verify-the-knative-serving-deployment) and run the following command:

[code]

It shows me the following output:

[code]

I tried first wit

[2022-03-31 14:46] Subhasish-Behera opened #4886 "The Service URL of cloudevents player app in the tutorial section-->knative eventing-->using knative service as a source is not working."
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2022-03-31 21:52] Subhasish-Behera opened #4891 "in doc-->eventing-->developer topics-->Event source-->kafka source, there is a error"
in the command :cd knative-docs/code-samples/eventing/Kafka/source. there actually exists no directory called source inside kafka.Instead there is a directory called binding where already a file event-display.YAML is present.So there are 3 problems
1. in the instructions It is instructed to make a file but actually not needed.
2. The file in event _display.yaml there is no namespace: default
3. ev

[2022-04-03 00:35] csantanapr commented on #4612
/close
The tutorial is now updated with PR #4815

[2022-04-03 00:35] #4612 closed

[2022-04-03 00:35] csantanapr commented on #4740
/close
The tutorial is now updated with PR https://github.com/knative/docs/pull/4815

[2022-04-03 00:35] #4740 closed

[2022-04-03 01:31] #4526 closed

[2022-04-03 01:31] #4353 closed

[2022-04-03 01:31] #4088 closed

[2022-04-03 01:31] #3976 closed

[2022-04-03 01:31] #3520 closed

[2022-04-04 13:05] xtreme-sameer-vohra opened #4896 "Eventing Sugar Controller Integration"
## What is changing? (Please include as many details as possible.)
The sugar reconciler has been integrated into the base eventing controller and is now controlled by two LabelSelector fields.

## How will this impact our users?
The Sugar controller can be used much more flexibly with the changes. The Sugar controller's legacy behaviour can be replicated, however the steps to do that will change.

[2022-04-04 13:05] xtreme-sameer-vohra commented on #4896
/assign

[2022-04-04 16:06] psschwei opened #4897 "Global key for min-scale value"
In https://github.com/knative/serving/pull/12290 we added support for a global value for `min-scale`. We should update [the docs](https://github.com/knative/docs/blob/main/docs/serving/autoscaling/scale-bounds.md?plain=1#L13) to include it.

[2022-04-04 19:23] #4878 closed

[2022-04-05 05:08] norman465 commented on #4897
/assign

[2022-04-05 17:14] snneji opened #4902 "Knative 1.4 release notes blog post"
## Tasks

After Knative 1.4 release day (April 19, 2022):
1. After each component has released, consolidate all release notes into a blog post similar to the [Knative 1.2 blog post](https://knative.dev/blog/releases/announcing-knative-v1-2-release/). Use the [template](https://github.com/knative/docs/blob/main/blog/docs/releases/_template-announcing-knative-v1-X-release.txt) to format the blog pos

[2022-04-05 17:16] snneji opened #4903 "Release docs for Knative v1.3"
## Task

Cut a release for 1.4. For instructions, see the [docs release process](https://github.com/knative/docs/blob/main/contribute-to-docs/docs-release-process.md).

The remaining versions in the script `hack/build.sh` should be: 1.4, 1.3, 1.2, 1.1

## Dependencies

Wait for the following components to be released:
- [x] [Serving 1.4](https://github.com/knative/serving/releases/tag/knative-v1.4

[2022-04-05 17:24] snneji opened #4904 "Update minimum Kubernetes version in the docs for Knative 1.4"
## Background
Minimum K8s version required for Knative 1.4 will be v1.22.

## Tasks
- Update the docs to reflect the new minimum requirement.

[2022-04-05 17:39] snneji opened #4905 "Clarify the text on the homepage Developer and Cluster Admin buttons"
## Background
The buttons on the homepage currently say "Developer? Start Here!" and "Cluster Administrator? Start Here!". We have received feedback that this might be confusing if a user does not know which persona they are. Also, it does not tell the user where the buttons will take them.

## Task
Rename the buttons to describe were they will take the user:
- Developer Button → Reword to say som

[2022-04-05 17:56] snneji commented on #4891
Hi @pierDipi, since your on call on Knative.party, could you help out on @Subhasish-Behera's questions?

I'm also wondering whether step 1 of the [Create a Service](https://knative.dev/docs/eventing/sources/kafka-source/#create-a-service) procedure is even required since the YAML files seem to be provided in the docs.

[2022-04-05 18:00] snneji commented on #4885
Hi @houshengbo, would you be able to help out on this one?

[2022-04-05 18:10] snneji commented on #4894
The Rust sample is in the community samples: https://github.com/knative/docs/blob/main/code-samples/community/serving/helloworld-rust/README.md

This indentation is still the same there so the issue is still relevant.

[2022-04-05 19:04] snneji opened #4907 "Old Hugo website is still available"
The old Hugo website is still available at this location https://knative-v1.netlify.app/docs/ with docs for Knative versions 0.16 - 0.19

Shut down the site and create a redirect for any bookmarks/links users have to this old site.

[2022-04-05 19:05] snneji commented on #4886
Hi @Subhasish-Behera, are you using minikube or kind?

[2022-04-05 19:25] snneji commented on #4884
Hi @achyutm6, is the missing step:

[2022-04-05 19:31] Subhasish-Behera commented on #4886
Understandable. I am using minikube .

[2022-04-05 19:40] #4894 closed

[2022-04-05 19:40] Subhasish-Behera commented on #4891
Hello @snneji, I was thinking if I could make any PR regarding this issue . I am a beginner to open source . I would like to start with this issue.

[2022-04-05 19:59] csantanapr commented on #4907
Even if we want to, we don't own the domain or site for `knative-v1.netlify.app` we only own `knative.netlify.app` where we host the site today and this one doesn't have any hugo

[2022-04-05 20:05] psschwei commented on #4907
v0.19 was released in Nov 2020... maybe it was set up by one of the previous WG leads on a different account?

[2022-04-05 20:05] csantanapr commented on #4894
@dgeorgievski Where did you get the link `https://knative-v1.netlify.app/community/samples/serving/helloworld-rust/` ?

We don't own the domain `knative-v1.netlify.app` in our netlify account only `knative.netlify.app` it must be someone with a netlify account hosting some old version of the site when it was using hugo.

[2022-04-05 21:57] Subhasish-Behera commented on #4477
@snneji I would like to work on this issue. It would be great if you could kindly show me around the folders where changes have to be made.

[2022-04-06 01:30] #4283 closed

[2022-04-06 18:30] #4884 closed

[2022-04-07 02:32] psschwei commented on #4907
The Hugo site also shows up in DuckDuckGo search results. For example, on a search for "knative/serving", it's the third result. Doesn't show up in Google though.

[2022-04-07 10:05] snneji commented on #4891
@Subhasish-Behera yes, we would welcome you to create a PR to fix this issue!

If you would like information on how to get started working on the Knative documentation, see the [docs contributor guide](https://github.com/knative/docs/tree/main/contribute-to-docs), especially the getting started section of the guide.

[2022-04-07 10:12] #4886 closed

[2022-04-07 17:37] pierDipi commented on #4891
Hi @Subhasish-Behera, I think we can just remove step 1 [1] in https://knative.dev/docs/eventing/sources/kafka-source/#create-a-service because there is no need to close the code samples to follow the example.

exactly this [1]
[code]

[2022-04-07 17:40] pierDipi commented on #4891
If you get stuck on something or need help with a contribution, feel free to ask any questions!

[2022-04-08 13:23] #4897 closed

[2022-04-10 01:31] #4181 closed

[2022-04-10 01:31] #3844 closed

[2022-04-11 14:17] #4891 closed

[2022-04-12 12:19] snneji opened #4921 "Clean up PR #4820 for style & formatting"
## Task
Clean up PR #4820 for style & formatting making sure you apply the suggestions from the comments on the PR. To be done before the 1.4 release.

Files to clean up:
- docs/install/operator/configuring-eventing-cr.md
- docs/install/operator/configuring-serving-cr.md
- docs/install/operator/knative-with-operators.md

[2022-04-12 12:36] snneji opened #4922 "Fix tab formatting in code-samples folder"
## Background
The files in `code-samples` folder are no longer viewable on the website, only in GitHub. However, this has caused broken formatting because tabbed elements are not available in GitHub markdown.

## Task
Remove the tabbed formatting, for example `=== "yaml"`, in the files in the `code-samples` folder. Make sure that if the tabbed formatting is under a step, you indent your new format

[2022-04-12 17:32] brun0xff commented on #3048
I'm trying to install Istio with the 1.5.0 version and I had the same error, any help?

[2022-04-13 16:32] odacremolbap commented on #4896
@xtreme-sameer-vohra just notice this doc update is pending while the release is happening next week.
Would you have cycles for this?

[2022-04-13 20:48] xtreme-sameer-vohra commented on #4896
Hey @odacremolbap
Thanks for the heads up 😬 , I'll take a look at this week.

[2022-04-14 01:32] #4567 closed

[2022-04-15 01:31] #3116 closed

[2022-04-15 11:02] #4477 closed

[2022-04-17 01:31] #4265 closed

[2022-04-19 14:47] #4475 closed

[2022-04-19 15:45] csantanapr opened #4930 "Can't run full build locally to test github API rate limit exceeded"
We have a script to perform a full build with all versions of the website including the blog, then this build can be served locally to check out any problems.

This is the method that I use to preview the blog edits

When running the command we document
[code]
The user gets errors about github rate limit.

This problem was recently introduced because a GITHUB_TOKEN is now required to do a full bui

[2022-04-19 15:48] csantanapr commented on #4907
@RichieEscarez  Do you know if you have a personal or google netlify account this host `https://knative-v1.netlify.app/`?

[2022-04-19 16:50] csantanapr commented on #4902
@xtreme-sameer-vohra would be able to do this or find someone new that wants to get a contribution

[2022-04-19 16:52] csantanapr commented on #4903
/assign @nainaz

[2022-04-19 16:56] csantanapr commented on #4904
/assign @nainaz

[2022-04-19 17:29] psschwei commented on #4930
You can build the main branch of the docs and the blog by running `BUILD_VERSIONS=no ./hack/build.sh serve`. I use a python virtual environment instead of docker for local dev, but I image the process should be similar if you wanted to do it in a container...

[2022-04-19 18:05] snneji commented on #4904
Hi @nainaz, looks like this was already done in https://github.com/knative/docs/pull/4913 so I'm going to close this.

[2022-04-19 18:05] #4904 closed

[2022-04-20 00:46] xtreme-sameer-vohra commented on #4902
cc @nader-ziada who volunteered as the release lead.
Depending on how it goes, one idea was for Nader to update the release process and make it so that it would be done by the release leads. WDYT ?

[2022-04-20 01:34] #3044 closed

[2022-04-20 16:57] karnatisrinivas commented on #4905
If this is open, I would like to work on this!

[2022-04-20 19:06] csantanapr commented on #4902
@xtreme-sameer-vohra that would be a great idea for the release lead to do the release notes blog.

What do you think @nader-ziada can you do it for 1.4?

[2022-04-20 19:08] xtreme-sameer-vohra commented on #4902
/assign @nader-ziada

[2022-04-20 19:08] csantanapr commented on #4902
This is also beneficial as global release notes we need all the release notes from the individual components cli, operator, eventing, serving, etc..

So the release is not done done until the release blog post is published.

[2022-04-20 19:09] nader-ziada commented on #4902
yeah, will work on it

[2022-04-20 19:10] nader-ziada commented on #4902
still don't have release notes for cli and waiting for operator to be released as well

[2022-04-21 00:21] #4896 closed

[2022-04-21 11:57] #4921 closed

[2022-04-22 17:26] RichieEscarez commented on #4907
Deleted. That was one of the initial staging sites we used to test build and website changes.

/close

[2022-04-22 17:26] #4907 closed

[2022-04-22 17:48] csantanapr commented on #4907
Wow mystery solved ! Thanks @RichieEscarez

[2022-04-22 18:59] nainaz commented on #4903
PR : https://github.com/knative/docs/pull/4935

[2022-04-26 06:30] matzew opened #4937 "Subscription doc lacks reply channel feature"
The yaml version of a subscription does lack the optional `reply` feature.

The subscription has two `Destination`s, `subscriber` and `reply`:
https://github.com/knative/eventing/blob/main/pkg/apis/messaging/v1/subscription_types.go#L97-L102

The `kn` client doc does have it, but the yaml not.. would be nice if doc would be changed to:

[code]

[2022-04-26 15:17] #4902 closed

[2022-04-27 09:10] embano1 opened #4942 "Broker Spec Link broken"
This link is broken:

https://github.com/knative/docs/blob/a3af1117802d6c70b403c32ebbcf173d95214114/docs/eventing/broker/README.md?plain=1#L55

Question: should it point to https://github.com/knative/specs/blob/main/specs/eventing/overview.md#broker since `broker.md` does not exist anymore?

[2022-04-27 09:16] embano1 opened #4943 "Link to Eventing Data Plane Contract/SPEC"
**Describe the change you'd like to see**
Speaking to many function authors (i.e. Knative Service with Eventing), especially newcomers, most of them are not aware of the underlying data plane contract, e.g. used by `brokers`. This can lead to issues where retry and error behavior by a function (`Kservice`) is incorrectly assumed/handled.

Examples [`SPEC`](https://github.com/knative/specs/blob/mai

[2022-04-27 15:21] psschwei opened #4944 "Update minimum CPU recommendation"
We currently list the minimum system requirements as 2 CPU / 4 GB RAM in the [prereqs snippet](https://github.com/knative/docs/blob/main/docs/snippets/prerequisites.md?plain=1#L5), but as we've [seen with the quickstart plugin](https://github.com/knative-sandbox/kn-plugin-quickstart/issues/224#issuecomment-1086754010), 2 CPUs is not enough to install both Serving and Eventing.

We should consider

[2022-04-29 00:48] dprotaso opened #4946 "Kind Local Development and Private Registries Guide"
**Describe the change you'd like to see**
There's a large thread about how to make development with kind+knative easier when using a private registry. https://github.com/knative/serving/issues/6895

The action item was to pull in @csantanapr's content from here: https://github.com/csantanapr/knative-private-images to the docs website

[2022-04-29 00:52] dprotaso commented on #4946
Note we have: https://knative.dev/docs/serving/deploying-from-private-registry/ where you setup imagePullSecrets/ServiceAccounts.  So a workaround exists - it's sorta a matter of convenience in this specific environment.

[2022-04-30 13:20] Subhasish-Behera opened #4947 "eventing-->developer topics --->custom-event-source--->Using Knative sample repository--->create a controller ,I am getting a error which says generate-group.sh does not exist"
![Screenshot-3](https://user-images.githubusercontent.com/92573882/166107225-89b69a6d-be43-4491-95bf-11cf24cec5d3.png)

[2022-05-03 07:43] Kcwan18 opened #4949 "Using upstash kafka for knative broker bootstrap.server is not work"
## Steps to Reproduce the Problem

1. Install the knative eventing and the kafka controller
[code]
2. Add a secret file for the upstash kafka certification
If using the SASL_SSL protocol, what is the pem key file
[code]
If I skip the line of the ca.crt=xxx.pem, the error message is
[code]

3. Update the "bootstrap.servers" and "auth.secret.ref.name" in the kafka-broker-config.yaml as below
[code]

[2022-05-04 22:02] mcquadros opened #4952 "Does knative support Istio using external control plane?"
Hi, I'm trying to find out if it's possible to use Knative on an installation where the Istio control plane resides on an external cluster.
Basically, the cluster that I will run my knservices will only have a MutatingWebhookConfiguration pointing to the external cluster (control-plane). So when creating a knservice, the istio resources must be created on the external cluster as the current cluste

[2022-05-06 02:49] psschwei commented on #4691
/lifecycle frozen

[2022-05-09 01:32] #4579 closed

[2022-05-09 15:15] abrennan89 opened #4956 "min-scale and max-scale updates"
## Expected Behavior

As per https://github.com/knative/client/pull/958 --max-scale and --min-scale were updated to --scale-max and --scale-min

## Actual Behavior

Docs haven't been updated

## Steps to Reproduce the Problem

1. https://knative.dev/docs/serving/autoscaling/container-freezer/#configure-min-scale
1. https://knative.dev/docs/serving/autoscaling/scale-bounds/
1. Anywhere else these c

[2022-05-12 19:30] #4952 closed

[2022-05-14 11:47] psschwei commented on #4069
/lifecycle frozen

[2022-05-15 01:37] evankanderson commented on #4060
/remove-lifecycle stale

[2022-05-15 18:14] hamees-sayed commented on #4944
I'd like to work on it! I believe we should update it in both prototype and production section since it is a fixed requirement for both production as well as prototyping.

[2022-05-15 23:20] psschwei commented on #4944
That's great @hamees-sayed !  You can assign the issue to yourself by writing `/assign @hamees-sayed` in a comment.

[2022-05-16 15:28] hamees-sayed commented on #4944
/assign

[2022-05-18 02:13] dprotaso commented on #4732
/lifecycle frozen
/good-first-issue

[2022-05-19 06:52] psschwei commented on #4727
/remove-lifecycle stale

[2022-05-19 14:59] abrennan89 commented on #2810
@psschwei it looked like you were working on some sort of automation for this, is that still the plan going forward? Not sure if there's any work to do here still?

[2022-05-19 15:29] Morriz opened #4964 "no mention of versions allowed in Knative* resource"
## Expected Behavior

To clearly see in the docs how versioning works for Knative(Serving|Eventing|...) resources, because the latest release of the operator (1.4.1) does NOT have a companion 1.4.1 KnativeServing resource. We expected that to exist but the operator only knows 1.4.0.

[2022-05-19 15:35] Morriz commented on #4964
Please include a matrix of supported resource versions in your docs.

[2022-05-19 17:12] abrennan89 commented on #3140
@skonto can you close this issue or move it to serving and instead open specific docs issues for this once there's something to document?

[2022-05-19 17:15] abrennan89 commented on #4811
@csantanapr I think this one should be moved to UX instead of docs?

[2022-05-19 17:57] Morriz commented on #4964
closing as this sometimes happens, but not always...and thus the docs are correct imo

[2022-05-19 23:27] #2944 closed

[2022-05-20 08:41] antoineco opened #4969 "Dead link to Broker spec at `Eventing` / `Brokers` / `About Brokers`"
## Expected Behavior

At https://knative.dev/docs/eventing/broker/#alternative-broker-implementations, the link named **broker specifications** should be valid and point to the Broker specification at https://github.com/knative/specs/blob/f3dcd525/specs/eventing/control-plane.md#broker-lifecycle.

## Actual Behavior

It points to https://github.com/knative/specs/blob/main/specs/eventing/broker.md,

[2022-05-20 08:41] antoineco commented on #4969
/assign

[2022-05-20 18:06] csantanapr opened #4972 "kn CLI install should use tap instead of compile for brew install"
According to @rhuss users should be using the command `brew install knative/client/kn` this way they get the release binary and not use `brew install kn` which required the user to have all the compile tools and compile from source code getting their own edition of the build.

@rhuss suggested to update the docs to use the preferred method.

[2022-05-20 18:06] csantanapr commented on #4972
/assign

[2022-05-20 20:30] #4972 closed

[2022-05-23 12:55] snneji commented on #4440
/lifecycle frozen

[2022-05-23 12:56] snneji commented on #4725
/lifecycle frozen

[2022-05-23 13:20] psschwei commented on #4731
/lifecycle frozen

[2022-05-23 13:39] #4700 closed

[2022-05-23 13:49] psschwei commented on #2810
I just added a link to the client docs to the knative docs... it would be good to add it to the site, but it's not something I'd be able to work on in the near future...

[2022-05-24 16:49] snneji opened #4975 "Release docs for Knative v1.5"
## Task

Cut a release for 1.5 after release day (May 31, 2022). For instructions, see the [docs release process](https://github.com/knative/docs/blob/main/contribute-to-docs/docs-release-process.md).

The remaining versions in the script `hack/build.sh` should be: 1.5, 1.4, 1.3, 1.2

## Dependencies

Wait for the following components to be released:
- [x] [Serving 1.5](https://github.com/knative/

[2022-05-24 16:50] snneji commented on #4903
PR submitted

[2022-05-24 16:51] snneji opened #4976 "Knative 1.5 release notes blog post"
## Tasks

After Knative 1.5 release day (May 31, 2022):
1. After each component has released, consolidate all release notes into a blog post similar to the [Knative 1.2 blog post](https://knative.dev/blog/releases/announcing-knative-v1-2-release/). Use the [template](https://github.com/knative/docs/blob/main/blog/docs/releases/_template-announcing-knative-v1-X-release.txt) to format the blog post

[2022-05-24 16:58] #4969 closed

[2022-05-25 01:32] #4661 closed

[2022-05-25 12:54] psschwei commented on #4661
/lifecycle frozen

[2022-05-25 18:20] abrennan89 commented on #4811
Issue moved to [knative/ux #68](https://github.com/knative/ux/issues/68) via [**ZenHub**](https://www.zenhub.com/)

[2022-05-25 18:48] csantanapr commented on #4811
This problem is something that affects the website and any changes to fix this will happened with a PR and code changes on the docs repo

So the discussion around the website content, usability, and infra of it should remain on this repo

[2022-05-27 12:29] antoineco commented on #4942
Addressed in #4970.

[2022-05-27 12:30] antoineco commented on #4942
/close

[2022-05-27 12:30] #4942 closed

[2022-05-31 19:08] abrennan89 commented on #4538
@snneji maybe the Community link should just be renamed to Contributing? https://knative.dev/docs/community/contributing/
Community doesn't really mean anything if you're not contributing anyway IMHO

[2022-06-02 18:24] #4863 closed, assigned to abrennan89

[2022-06-02 18:52] abrennan89 opened #4994 "Add introduction page for Serving in getting started / quickstart"
Currently only Eventing has a page like this: https://knative.dev/docs/getting-started/getting-started-eventing/

Serving goes straight into creating a service without providing the same sort of introduction.

**Describe the change you'd like to see**

Add a page similar to this for Serving.

OR

Should we reconsider having this info in the tutorial at all, and instead point out to the overview do

[2022-06-02 19:56] abrennan89 commented on #4946
This seems like something that should be a blog post maybe as opposed to part of the core docs. It contains references to a lot of 3rd party stuff like Docker and GCP.

The reason I didn't want to start including Kind / Minikube in docs is because I always felt like it was going to be a slippery slope that leads us back to documenting vendor-specific workarounds etc when it was agreed a long time

[2022-06-02 20:50] abrennan89 commented on #4873
I've opened an issue for Material for this after discussions on Twitter about it, but for now I don't think there's really anything we can do on this.

Issue: https://github.com/squidfunk/mkdocs-material/issues/3976

[2022-06-03 13:16] psschwei opened #4997 "Document knative operator to serving version mapping"
Consolidation of https://github.com/knative/operator/issues/1096 and https://github.com/knative/serving/issues/12989

From the serving issue:

Hi, we don't see any documentation on which knative-serving resources are supported by the operator, and assumed that it would be one-on-one compatible. However, they are not and it is confusing:

| operator version | serving version | compatible? |
| --- |

[2022-06-03 13:19] psschwei commented on #4997
FYI @houshengbo

[2022-06-03 16:05] psschwei opened #4998 "Adds links to files on the installation files pages"
We currently have pages that describe the various files needed to install serving/eventing via yaml files:

https://knative.dev/docs/install/yaml-install/serving/serving-installation-files/
https://knative.dev/docs/install/yaml-install/eventing/eventing-installation-files/

However, right now these page simply show the file name, which may leave users wondering where they can find these files:

<i

[2022-06-03 21:38] #4975 closed

[2022-06-05 00:54] #4944 closed

[2022-06-05 01:32] #4694 closed

[2022-06-05 17:57] csantanapr commented on #4976
@dprotaso will take of this next tomorrow according to Slack discussion
/assign @dprotaso

[2022-06-06 02:04] psschwei commented on #4363
/lifecycle frozen

[2022-06-06 14:11] #4860 closed

[2022-06-06 14:25] #4880 closed

[2022-06-06 14:26] houshengbo commented on #4997
We only align the patch number on 0, like x.x.0.
Knative operator can evolve in each minor release to fix some major bugs, so 1.4.1 does not necessarily mean to install 1 serving or eventing 1.4.1. It can be knative operator's pace to release 1.4.1, but only install 1.4.0 serving, since serving does not have 1.4.1.

[2022-06-06 15:15] abrennan89 commented on #3081
- Issue 1: in PR, updated output to "actual" from "expected"
- Issue 2: `knative-eventing-source-name=kafka-source` no longer appears in the docs https://knative.dev/docs/eventing/sources/kafka-source/, so I don't think this selector applies anymore. Only selector seems to be:
[code]
- Issue 3: removed misleading intro line
- Issue 4: requires modifying configmaps i.e. admin permissions, this is o

[2022-06-06 15:57] abrennan89 commented on #3081
Thanks @pierDipi 🙂 can you open an issue for 4 and we can look into making that a shared page or something? If you're OK with it I'd like to get this PR merged and close Sameer's old issue 😉

[2022-06-06 16:32] abrennan89 commented on #2810
Proposal for docs WG - how do we feel about adding top level CLI and Functions sections to the site, the same way we have for Serving and Eventing? More specifically, any arguments against doing this? To me they're the other two largest UX components that I could see folks wanting to find quickly. cc @psschwei @csantanapr @snneji

[2022-06-06 16:47] #3081 closed

[2022-06-06 19:53] #4976 closed

[2022-06-07 10:53] Morriz commented on #4997
So how can a new version of knative-serving resource be deployed by the operator then? I presume we can somehow, otherwise we'd be left in the cold and vulnerable?

[2022-06-07 14:45] dprotaso commented on #4420
/lifecycle frozen

[2022-06-07 18:39] #4506 closed

[2022-06-07 18:43] #2262 closed

[2022-06-07 18:43] #3817 closed

[2022-06-07 18:45] csantanapr commented on #4668
FAQ that many websites have, and it seems useful, and many users share the same questions when they are new to the project/technology

The FAQ should not be a replacement for proper docs, and FAQ can point to specific sections of the docs for a complete answer.

[2022-06-07 20:27] abrennan89 commented on #4668
@csantanapr this article explains my perspective on it as a tech writer https://idratherbewriting.com/2017/06/23/why-tech-writers-hate-faqs/

[2022-06-08 11:55] guettli opened #5016 "Release Notes: "Highlights" in TOC has no corresponding Chapter"
## Expected Behavior
https://knative.dev/blog/releases/announcing-knative-v1-5-release/

I click on "Highlights"

and nothing happens

## Actual Behavior

There is no corresponding Chapter

[2022-06-08 14:14] #4732 closed

[2022-06-08 18:37] Morriz commented on #4997
Ok, after careful reading of what you say @houshengbo, I understand there is no logical connection between the operator version and the `knative-(eventing|serving)` versions? Even though they seem related? Then indeed we would need a compatibility table/matrix, right?

[2022-06-09 14:38] snneji opened #5027 "Fix broken quickstart install page"
## Expected Behavior
Installing with quickstart page should have instructions, similar to the [quickstart install page in 1.4](https://knative.dev/v1.4-docs/install/quickstart-install/).

## Actual Behavior
The [installing with quickstart page](https://knative.dev/docs/install/quickstart-install/) has no instructions.

## Steps to Reproduce the Problem
1. Go to the [installing with quickstart page

[2022-06-09 17:16] abrennan89 commented on #5027
My bad, I moved this in https://github.com/knative/docs/pull/4979 because it didn't look like it was used anywhere else. I will fix it.

Related, but do we have some contrib docs about using snippets and to ensure that the places where a snippet is used is listed in the file? This would make it easier to make sure that a snippet is actually being used in more than one place and to easily see all t

[2022-06-09 17:33] abrennan89 commented on #4556
One of the nice things about asciidoc > markdown+mkdocs is that it provides this out of the box by using leveloffsets with inclusions: https://docs.asciidoctor.org/asciidoc/latest/directives/include/ (no add ons required)

I would still like to keep this on the table for someday future discussion, since I think it still solves a lot more of our wants / needs than markdown.

[2022-06-09 18:47] abrennan89 commented on #4440
Duplicate page is removed, but there's a follow up action here to remove the cloud player app thing and replace it with a nice simple eventing tutorial that uses kn and maybe just shows how to add a couple of different triggers

[2022-06-09 18:59] #5016 closed

[2022-06-10 03:50] zhihuilai opened #5034 "We still need the official website to display the document of V1.1"
[v1.1](https://knative.dev/v1.1-docs/getting-started/first-service/) was accessible a few days ago, but now the visit prompt 404.

Our cloud service provider is still based on Kubernetes 1.20.x, But Knative V1.2 requires the Kubernetes version of 1.21 and above.

So I sincerely hope to add the V1.1 document back.

[2022-06-10 10:05] #4905 closed

[2022-06-12 01:32] #4726 closed

[2022-06-12 01:41] snneji commented on #3769
/lifecycle frozen

[2022-06-12 01:42] snneji commented on #4557
/lifecycle frozen

[2022-06-12 01:43] snneji commented on #4558
/lifecycle frozen

[2022-06-12 02:07] snneji commented on #4363
I also noted that Knative blog posts don't have a date on them. I think dates are important so could we add them as part of this issue?

[2022-06-12 03:14] snneji commented on #4538
@abrennan89 I like that. It's shorter than my suggestion above and still makes it clear what info can be found in the section.

[2022-06-12 16:44] psschwei commented on #4363
Looks like there is a plan for mkdocs to support blog authors as part of adding better support for blogs: https://github.com/squidfunk/mkdocs-material/issues/3353

Might be worth weighing in on the issue if there's anything specific we'd like to see.

[2022-06-14 16:57] lance opened #5038 "Consider using functions for developer tutorial"
Please consider reviewing the proposal to highlight Functions in the developer tutorial.

https://docs.google.com/document/d/1wBpBA76nfgqoN6vKje7g1n7milB8l5gQZfuE49_teAk/edit?usp=sharing

[2022-06-15 16:09] #5027 closed

[2022-06-15 16:16] #4440 closed

[2022-06-15 16:37] carlisia opened #5040 "Document on Knative.dev about installing via Gateway"
## What is changing? (Please include as many details as possible.)

Work is being done to get `net-gateway-api` to beta in Knative.

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
v1.6.0

## Context
Link to associated PRs or issues from other repos here.

1. [Gateway API Roadmap](https://github.com/orgs/knative-sandbox/projects/10/view

[2022-06-16 13:00] nak3 opened #5041 "Document on all hops encrypted amongst internal and external services in Knative"
## What is changing? (Please include as many details as possible.)

Once https://github.com/knative/serving/pull/13005 was merged, we should add the documentation about the feature.
(I am going to create the draft docs so please allow me to write the detail later.)

## How will this impact our users?

Currently there are no docs about internal TLS. When we document it, users can refer to the usage

[2022-06-17 03:27] zhihuilai commented on #5034
@abrennan89 Applying yaml of 1.4 in kubernetes 1.20 seems to throw some error, but now we don't have an idle cluster can be used for verification.

If the document only keeps the last 4 versions, the compromise solution for user may is that replace "knative-v1.4.0" with "knative-v1.1" in the yaml link, please continue to keep the old version files on github.

We still hope to have a place to find

[2022-06-17 10:53] snneji commented on #5034
@zhihuilai you can still see the v1.1 docs in the `release-1.1` branch in GitHub here: https://github.com/knative/docs/tree/release-1.1/docs

[2022-06-20 08:20] zhihuilai commented on #5034
Understand, thank you for your answers.

[2022-06-21 15:18] nainaz opened #5047 "Contribute to knative, asks to fill out the Google Contributor License Agreement (CLA)"
## Expected Behavior
Since Knative has moved to CNCF, we should update the section about appropriate contributions form.

[EDIT: June 28 2022]  link should be to https://easycla.lfx.linuxfoundation.org/#/ and should read, "CNCF Contributor License Agreement" instead of "Google Contributor License Agreement".

## Actual Behavior
Contribute to Knative section is asking to fill out the  [Google Contr

[2022-06-21 15:45] nainaz opened #5048 "Addition of how to contribute to functions on Contribute to Knative section/page"
**Describe the change you'd like to see**
We should add the section on how to contribute to Knative Functions on Contribute to Knative section. In additon to Serving, Eventing and CLI

**Additional context**

Here is the link to contributing guide for Functions for now : https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/CONTRIBUTING.md

[2022-06-21 17:02] abrennan89 commented on #5047
Need info from TOC about new CNCF CLA. Update community and contributing pages.

[2022-06-21 17:02] snneji commented on #5048
Link to functions:

Add link here: https://knative.dev/docs/community/contributing/#contribute-to-the-code

[2022-06-21 17:34] abrennan89 commented on #4363
Update blogs in Articles folder to include author names and date and remove Hugo front matter

[2022-06-21 17:48] snneji commented on #4363
Example: https://github.com/knative/docs/blob/main/blog/docs/articles/distributed-tracing.md

**Before:**

<img width="779" alt="Screen Shot 2022-06-21 at 18 38 32" src="https://user-images.githubusercontent.com/33425661/174865246-306d1c1a-19ee-41b3-a56e-8ac3e06084a1.png">

**After** (using the info from the frontmatter to add title, author, and date):

<img width="796" alt="Screen Shot 2022-06-21

[2022-06-21 17:52] #4553 closed

[2022-06-22 18:44] abrennan89 commented on #4791
Removed FAQ from the list because I think these are sort of a nonsense thing and shouldn't be required if our info is laid out properly so that it's easy to find.

[2022-06-22 18:45] abrennan89 commented on #4791
I'd say case studies and testimonals should also be a separate page, not part of "About Knative" since they're not really explaining anything conceptual.

[2022-06-22 18:58] abrennan89 commented on #4848
Seems like it was closed by https://github.com/knative/docs/pull/4853 but the magic words weren't used to link them

[2022-06-22 18:58] #4848 closed

[2022-06-22 22:59] lance commented on #5047
The CLA will be EasyCLA whenever we get final set up from CNCF. For the time being, it's still Google CLA but could change at any moment. When it does, the link should be to https://easycla.lfx.linuxfoundation.org/#/ and should read, "CNCF Contributor License Agreement" instead of "Google Contributor License Agreement".

[2022-06-22 23:17] #4538 closed

[2022-06-22 23:17] #5048 closed

[2022-06-23 02:55] houshengbo commented on #4885
I need more information on this issue.
What does the knative serving CR look like when installing knative serving?
Is knative operator running?
What is the log of knative-operator?

[2022-06-23 14:52] lance commented on #5047
https://github.com/knative/community/issues/952 is probably the best issue to follow regarding this. I will also send an email to knative-dev when this changes.

[2022-06-23 16:46] evankanderson commented on #3140
/transfer-issue serving

[2022-06-23 16:47] evankanderson commented on #4060
/accept

[2022-06-23 16:47] evankanderson commented on #4060
Should this doc go in the "Install" section?

[2022-06-23 17:15] #3140 closed

[2022-06-23 17:15] abrennan89 commented on #3140
Issue moved to [knative/serving #13056](https://github.com/knative/serving/issues/13056) via [**ZenHub**](https://www.zenhub.com/)

[2022-06-23 17:33] abrennan89 commented on #5038
Let's get input from the steering committee on this as @dprotaso mentioned on the TOC call. I think it would be good to have a consensus about the marketing direction of Knative once functions is added and where different components fall in terms of user-facing importance.

[2022-06-23 17:39] lance commented on #5038
Sounds good. We did not have a SC quorum today, but we should have it on the agenda next week. /cc @knative/steering-committee

[2022-06-24 14:13] abrennan89 opened #5052 "Proposal for extended Docs WG roadmap process"
**Describe the change you'd like to see**
Rather than deciding in an ad-hoc or docs-perspective-only way what to include in the Docs WG roadmap, we would like to start directly getting input from other WG leads on documentation needs. This might include changes to features, new / upcoming functionality being added in future releases, or other changes identified by auditing existing docs.

**Additi

[2022-06-27 19:17] hbelmiro commented on #4885
@houshengbo I don't have that environment anymore. I was able to create the cluster by using the quickstart plugin.
Thank you.

[2022-06-27 19:17] #4885 closed

[2022-06-28 13:41] nainaz commented on #5047
Woohoo!!
Great news

Thank you,
-N

On Tue, 28 Jun 2022 at 08:41, Lance Ball ***@***.***> wrote:

[2022-06-28 13:42] nainaz commented on #5047
Added the information in the issue as well.

[2022-06-28 14:06] salaboy commented on #5038
I 100% agree with this approach, what can we do to align on this?

[2022-06-28 15:40] abrennan89 commented on #4854
Follow up required:

- Figure out proper style guide for Knative, who can own this (community / steering maybe?)
- Where can artifacts like logos be centrally stored; can we add guidelines for use; who is responsible for generating / modifying logo files etc?
- Maybe get CNCF help / input to determine

[2022-06-28 15:45] abrennan89 commented on #3769
I think the biggest issue was not having stuff like offsets for headings, let's put a pin in this for now and revisit whether it still needs to be looked at when we have less on our plate.

[2022-06-28 15:52] abrennan89 commented on #4997
@houshengbo added a PR for this for 1.5; if required an issue should be opened to add a table for each version going forward. This should be maintained by eng IMO, not docs.

[2022-06-28 15:52] #4997 closed

[2022-06-28 16:48] abrennan89 commented on #4727
Docs are now updated: https://knative.dev/docs/install/quickstart-install/#install-the-knative-cli

[2022-06-28 16:48] #4727 closed

[2022-06-28 16:50] #3863 closed

[2022-06-28 16:54] #4731 closed

[2022-06-28 17:14] #3942 closed

[2022-06-28 18:28] abrennan89 commented on #5047
Docs here also need to be updated: https://github.com/knative/community/blob/main/CONTRIBUTING.md#contributor-license-agreements

[2022-06-28 19:25] abrennan89 commented on #4668
We discussed this in the Docs WG call today. Jist as follows:

- Instead of providing an FAQ, which is sort of a jumble of information, all of the suggestions in this issue should have their own clear place in docs where they will be findable for people who are looking for them
- There's already an issue for an About Knative page (https://github.com/knative/docs/issues/4791) which can answer quest

[2022-06-28 19:25] #4668 closed

[2022-06-28 19:26] abrennan89 opened #5054 "[EPIC] Additional content strategy work required to answer longstanding questions about Knative docs"
Braindump of current requirements and priorities. We will add separate github issues as these become actionable, so that they can be assigned and worked on as part of the docs roadmap.

- [x] Create better conceptual information in the docs so that it's clear what different terms mean on a case by case basis, either similarly to Kubernetes documents concepts (https://kubernetes.io/docs/concepts/)

[2022-06-28 19:32] abrennan89 commented on #170
Discussed in the Docs WG today.
It seems impractical to add and maintain a glossary for Knative, especially since this issue was opened ~4 years ago and we can't seem to gather any user input about which terms should actually be documented.

Instead, the Docs WG plan to look into creating better conceptual information in the docs so that it's clear what different terms mean on a case by case basis

[2022-06-28 19:32] #170 closed

[2022-06-29 08:48] pmbanugo commented on #5038
I like the proposal, but I would still love to see the "Hello World" sample and deploy. My preference will be to be able to deploy a small service like the "hello world", then move to try out functions and hopefully that part from the proposal would show how to use it with cloud events.

[2022-06-29 17:55] abrennan89 commented on #2810
We have discussed this one in the Docs WG and although we have decided not to include the content in this exact format / layout, we plan to check that each of these requests are documented, or else maybe open individual issues for dealing with any gaps in the docs.

[2022-06-29 17:58] abrennan89 opened #5056 "[EPIC] Basic examples for event sources"
Currently, the event source docs are all based only on `kubectl` commands and YAML.
We should provide docs for each of these using the `kn` CLI.

[2022-06-29 18:04] abrennan89 opened #5057 "[CLI] Document using kn to create an ApiServerSource"
Update the docs here https://knative.dev/docs/eventing/sources/apiserversource/getting-started/ to include steps for using `kn`

[2022-06-29 18:06] abrennan89 opened #5058 "[CLI] Document using kn to create a PingSource"
Update the docs here https://knative.dev/docs/eventing/sources/ping-source/ to include `kn` examples

[2022-06-29 18:10] abrennan89 commented on #5056
CLI `kn` docs exist already for container sources but could maybe be cleaned up at some point: https://knative.dev/docs/eventing/custom-event-source/containersource/#create-a-containersource-object

[2022-06-29 19:20] #4363 closed

[2022-06-29 19:36] abrennan89 commented on #4930
@csantanapr @psschwei is there some action to be taken on this issue? I have assigned it to ya'll since I don't think myself or Samia have the expertise to deal with this, nor is it high priority for us vs. other docs work at the moment.

Maybe it should move to the UX repo since it's really about the UX of previewing blogs locally rather than something that can be undertaken by docs WG leads?

[2022-06-29 19:44] abrennan89 commented on #4949
@knative/eventing-wg-leads can you PTAL at this issue and let us know if any docs changes are required.

[2022-06-29 19:47] #4691 closed

[2022-06-29 19:52] abrennan89 commented on #4946
As per the above comment, this should be added as a blog post maybe instead of adding to the core docs, since a GCP account is required. Feel free to open a PR to add it as a blog, but I think it's out of scope for core docs issues.

[2022-06-29 19:52] #4946 closed

[2022-06-29 20:00] abrennan89 opened #5061 "[EPIC] Finding resolutions for issues with functionality missing from mkdocs"
## Expected Behavior

mkdocs should OOTB offer all the functionality that we need for the site, or at least provide free, open source add-ons for the same.

## Actual Behavior

Many of the things we need are only available if we pay for "insiders" or are not available at all.
I am opening this Epic as a placeholder to bring together a list of all the issues that require further investigation.
Some

[2022-06-29 20:07] abrennan89 commented on #4060
@evankanderson it would depend on the doc. I think the idea was that this issue needs to be broken up into smaller issues depending on which docs are required.
I don't think the docs WG really have the expertise to define what's required here in terms of doc deliverables. Maybe this issue can move to the security WG and ya'll can come back to us with smaller use cases / user stories and then we ca

[2022-06-29 20:15] abrennan89 commented on #2810
Plugins requirements split into separate issue: https://github.com/knative/docs/issues/3534

[2022-06-29 20:16] abrennan89 opened #5062 "What is a plugin and how can I implement it?"

[2022-06-29 20:16] abrennan89 opened #5063 "Where to find plugins? (client-contrib)"

[2022-06-29 20:16] abrennan89 opened #5064 "How to install a plugin and how does the lookup mechanism work ? How can this be changed/configured ?"

[2022-06-29 20:16] abrennan89 opened #5065 "How to list all plugins?"

[2022-06-29 20:17] abrennan89 opened #5066 "Which kn CLI plugins are available?"
https://github.com/orgs/knative-sandbox/repositories?q=kn+plugin&type=all&language=&sort=

[2022-06-29 20:17] abrennan89 opened #5067 "How does a eventing source plugin looks like and how it is different to other plugins ? (i.e using a manifest)"

[2022-06-30 06:34] pierDipi commented on #4949
@abrennan89 I triaged and provided support in https://github.com/knative-sandbox/eventing-kafka-broker/issues/2149, so we can close this issue.

[2022-06-30 14:31] #4949 closed

[2022-06-30 16:11] abrennan89 commented on #4947
@knative/eventing-wg-leads can you PTAL and let us know if any doc update is required here. Thanks.

[2022-06-30 19:55] abrennan89 commented on #5066
Docs for this already exist here: https://knative.dev/docs/install/client/kn-plugins/#list-of-knative-plugins
Moving to own CLI section in https://github.com/knative/docs/pull/5070

[2022-06-30 19:55] #5066 closed

[2022-06-30 19:57] abrennan89 commented on #5067
@knative/eventing-wg-leads @knative/client-wg-leads this came from a list of requirements for kn plugin docs that I think was originally asked for by Roland. Please provide information for this if there is anything to document, otherwise let's close this issue.

[2022-06-30 19:59] #5063 closed

[2022-07-01 09:27] #4329 closed, assigned to abrennan89

[2022-07-01 15:11] #4420 closed

[2022-07-05 17:01] abrennan89 commented on #4738
It looks like this was asked specifically wrt Functions, so it would be dependent IMO on https://github.com/knative/docs/issues/5038 and the outcome of SC discussions about how Functions is marketed, how it fits into our docs overall etc.
Marking as blocked for now until this information is available.

[2022-07-05 17:05] abrennan89 commented on #4823
Looks like a duplicate of https://github.com/knative/docs/issues/4824

[2022-07-05 17:07] abrennan89 commented on #5052
@snneji are we ready to bring this for approval to the WGs / TOC? I don't think there are any outstanding questions or comments on the proposal doc that aren't just TO DOs for implementation

[2022-07-05 17:29] #5047 closed

[2022-07-05 17:29] #4947 closed

[2022-07-05 17:29] abrennan89 commented on #4947
Issue moved to [knative/eventing #6439](https://github.com/knative/eventing/issues/6439) via [**ZenHub**](https://www.zenhub.com/)

[2022-07-05 17:35] abrennan89 commented on #4943
@knative-sandbox/func-wg-leads @knative/eventing-wg-leads can ya'll provide some information here about what needs to be documented?

[2022-07-05 18:36] snneji opened #5077 "Knative 1.6 release notes blog post"
## Tasks

After Knative 1.6 release day (July 12, 2022):
1. After each component has released, consolidate all release notes into a blog post similar to the [Knative 1.2 blog post](https://knative.dev/blog/releases/announcing-knative-v1-2-release/). Use the [template](https://github.com/knative/docs/blob/main/blog/docs/releases/_template-announcing-knative-v1-X-release.txt) to format the blog post

[2022-07-05 18:38] snneji opened #5078 "Release docs for Knative v1.6"
## Task

Cut a release for 1.6 after release day (July 12, 2022). For instructions, see the [docs release process](https://github.com/knative/docs/blob/main/contribute-to-docs/docs-release-process.md).

The remaining versions in the script `hack/build.sh` should be: 1.6, 1.5, 1.4, 1.3

## Dependencies

Wait for the following components to be released:
- [x] [Serving 1.6](https://github.com/knative

[2022-07-05 19:04] lionelvillard opened #5079 "Document new traffic-isolation net-kourier experimental feature"
## What is changing? (Please include as many details as possible.)
There is a new experimental feature in [net-kourier](https://github.com/knative-sandbox/net-kourier) for isolating Knative services traffic.

## How will this impact our users?
They can install Knative in a multi-tenant environment.

## In what release will this take happen (to the best of your knowledge)?
1.16

## Context
Link to

[2022-07-05 19:12] abrennan89 commented on #5079
@lionelvillard since we don't currently document any part of `net-kourier` in knative.dev AFAIK, is the intention here to document it [here](https://github.com/knative-sandbox/net-kourier) or create a new docs section in the website for `net-kourier`?

[2022-07-05 19:49] lionelvillard commented on #5079
@abrennan89 I was not aware there is no net-kourier doc in knative.dev. I will start by updating the net-kourier doc.

Thanks for pointing this out!

[2022-07-05 19:49] #5079 closed, assigned to nobody

[2022-07-07 15:34] giladk1221 opened #5083 "PVC support"
Hi,
I would like any sample examples for PVC support in Service YAML.
I want to configure the PV/PVC for SMB/NFS shares and I didn't see any references for those configurations.

It will be very helpful to see some examples(step by step) of how to configure it well like your desired configuration.

waiting for any update.

Thanks
Gilad

[2022-07-08 12:30] abrennan89 opened #5086 "Setting goals / aims for what we want from analytics"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info
Placeholder issue from last TOC update

[2022-07-08 14:17] abrennan89 commented on #5083
@giladk1221 I don't have bandwidth to pick this up right now, but there is some information in our Red Hat documentation here about enabling PVC for Knative Serving: https://docs.openshift.com/container-platform/4.10/serverless/admin_guide/serverless-configuration.html#serverless-enabling-pvc-support_serverless-configuration

Hope this helps for now.

@skonto @knative/serving-wg-leads anyone have

[2022-07-08 14:19] abrennan89 commented on #5083
I actually found this right after also: https://knative.dev/docs/serving/configuration/feature-flags/#kubernetes-persistentvolumeclaim-pvc

The RH docs have an example of the Service etc though which might be more useful.

[2022-07-09 01:28] xtaje opened #5090 "Add documentation for annotations and config strings, including release versions"
**Describe the change you'd like to see**

Add documentation for annotations and configmap strings, including their release versions.
Changes to string formats should also be documented as part of release notes.

**Additional context**
The PRs below change the annotations strings used for autoscaling (e.g. minScale -> min-scale, min-scale -> scale-min), or the configmaps (camel case -> kebab-case)

[2022-07-12 15:17] abrennan89 commented on #5041
@nak3 any update on this one?

[2022-07-12 15:17] #4930 closed

[2022-07-12 18:00] carlisia commented on #5040
Hey @abrennan89, thanks for double checking this.

I will close this issue then. If in the future we have a need and use case for adding the documentation to the site we'll create a new issue and explain the reason for the exception.

[2022-07-12 18:38] evankanderson commented on #5040
We absolutely document `net-istio` and `net-kourier` here, for example:

https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml/#install-a-networking-layer

It's also mentioned here (possibly wrongly, it doesn't mention `kourier` or `contour`): https://knative.dev/docs/serving/knative-kubernetes-services/

Istio is also documented here: https://knative.dev/docs/serving/usi

[2022-07-14 11:34] abrennan89 opened #5099 "Update the blog template to remove Hugo frontmatter"
## Expected Behavior
Blog template should reflect the format used here https://github.com/knative/docs/pull/5059/files

## Actual Behavior
Blog template still includes old Hugo frontmatter. Leaving this in increases work for docs either during content reviews or afterwards if something is merged using this template and then needs to be cleaned up.

[2022-07-14 12:53] csantanapr commented on #5038
**Some background:**
In recognition that Functions is one of the main components to Knative, it was promoted from Sandbox to Core. The Functions Task Force under the CLI Working Group was promoted to be a Working Group under the Knative TOC.
The git repository for func remains in knative-sandbox, and it is up to the WG to decide when to move it to the knative git organization.

**With my Knative S

[2022-07-14 13:01] xtaje opened #5100 "Document behavior of Kservice readinessProbe and queue-proxy"
**Describe the change you'd like to see**

Document the behavior of the readinessProbe on a Knative Kservice, and how that is translated over to the Pod queue-proxy and service container.

**Additional context**

The KNative controller will turn the Knative service template into a Pod where the readinessProbe is applied to the queue-proxy, and the service container has no probe. The queue-proxy th

[2022-07-14 14:14] csantanapr commented on #5077
/assign @evankanderson

[2022-07-15 12:16] abrennan89 commented on #5100
Needs more information from @knative/serving-wg-leads to document including code examples, etc.

[2022-07-15 12:17] #3769 closed

[2022-07-15 12:43] abrennan89 commented on #4556
Doesn't seem to be anything we can do about this one for now, closing until we find something else we can use, either for mkdocs or move to asciidoc etc.

[2022-07-15 12:43] #4556 closed

[2022-07-15 13:24] abrennan89 opened #5105 "Broker documentation needs cleanup"
## Expected Behavior

There's a clear place to find documentation on configuring brokers for the cluster or for a namespace.

## Actual Behavior

- Broker documentation is scattered and hard to find throughout multiple places in docs.
- Broker documentation is divided by Operator config vs ConfigMap and it's not clear what the differences are or which a user would use in different setups.
- There

[2022-07-15 13:29] abrennan89 opened #5106 "Move Brokers to own top lvl section in Eventing"
![image](https://user-images.githubusercontent.com/40172997/179233026-66b649b5-e7da-496a-9d84-9af39fe06646.png)
The current docs layout provides no real advantages since there's no user story to follow - why would a user look in the admin vs developer section if they just want to know about brokers, and how to configure and then use them?

I will follow this up with an issue for each main conceptu

[2022-07-15 14:14] dprotaso commented on #5100
Can you elaborate? Are you just looking for an explanation of why we do the probe rewrite?

[2022-07-16 17:19] xtaje commented on #5100
I think I understand what happens with the probes and probe re-writes now (it's a startup optimization). It would be good to document for users because it's not obvious that it's happening.

My particular use case involved porting an existing k8s service in python using uwsgi+flask. This application loads a large ML model on startup, which takes ~2-4 minutes before it can start serving HTTP reques

[2022-07-18 18:43] #4881 closed

[2022-07-18 18:44] abrennan89 commented on #5077
@csantanapr @evankanderson can this be closed, looks like it's done?

[2022-07-18 18:44] #5078 closed

[2022-07-18 18:45] #5077 closed

[2022-07-19 15:39] lance commented on #5038
@csantanapr you asked for me with my SC hat on to summarize my position. I completely agree with your comments above and don't really have anything to add other than that I would be willing to take some of the writing/example work myself if Docs WG provides guidance.

[2022-07-19 15:55] vaikas commented on #5038
For further context, this was discussed also in SC meeting July 7th, and July 14th, and I agree with the goals here!

[2022-07-19 18:31] abrennan89 opened #5116 "[WIP] [EPIC] General documentation cleanup tasks"
During reviews of the site I have noticed the following issues that could be cleaned up. Braindump list as follows:

- [x] Move [concepts](https://knative.dev/docs/reference/concepts/duck-typing/) to own top level section so that it's findable
- [x] Figure out other concepts that can be documented in that section
- [ ] Move https://knative.dev/development/serving/knative-kubernetes-services/ to ht

[2022-07-19 20:10] rolfedh commented on #4994
I'm coaching @AmanSarraf a bit on the Kubernetes localization project for Hindi. Kindly let me know if I can help out with anything.

[2022-07-20 10:44] ArtemChekunov commented on #5106
Hi guys,

I found that the documentation is referencing https://github.com/google/knative-gcp/blob/main/docs/examples/cloudpubsubsource/README.md

but the repository was archived after Knative accepted as a CNCF incubating project

so, the question is: will the cloudpubsubsource be supported in the future?

[2022-07-21 19:31] abrennan89 opened #5129 "[EPIC] Consistent diagrams"
## Expected Behavior

Diagrams should be available for all major Knative concepts and workflows, and should be consistent in the use of color, icons, and creation tools.

## Actual Behavior

Many diagrams don't exist; those that do are inconsistent and often messy or out of date. There are no guidelines for creating diagrams.

## Tasks (to be split into issues)

- [ ] Decide on a tool for diagrams

[2022-07-21 23:18] AmanSarraf commented on #4994
I added a getting-started-serving page,
![2022-07-22_04-45](https://user-images.githubusercontent.com/90839355/180330449-6d05fe52-5063-4a1a-b2ea-213e990bf868.png)

I want to add the footer like other pages with the next and previous topics listed and also how to link this standalone page with others

[2022-07-25 13:37] abrennan89 commented on #4994
@AmanSarraf AFAIK they should be added by default - can you open a PR with the changes and link it to this issue so I can take a look?

[2022-07-27 02:00] gdevictoria opened #5138 "$Home"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2022-07-27 15:01] #5138 closed

[2022-07-27 15:04] abrennan89 commented on #4725
@psschwei @evankanderson might you be able to help with this one?
Otherwise I think we would need to close it, since it's not something myself or Samia can do much about, as we didn't create / don't maintain these scripts.

[2022-07-27 17:04] evankanderson commented on #4725
I think this is "needs eng implementation" -- I'm not sure if there's a "site improvements" bucket for these to go in.

[2022-07-27 18:10] abrennan89 commented on #4725
Added labels for these categories for now

[2022-07-29 10:47] rhuss commented on #2810
@abrennan89 `knative service create --force` is to entirely overwrite an existing service, which means delete it first and then recreate it. This is in contrast to `kn service update`, which updates individual fields on an existing installation. You would use it in scripts to ensure that you have a fresh service even if a service with this name already exists. That's useful e.g. for CI runs when y

[2022-07-29 12:18] rhuss commented on #5067
A source plugin has the following characteristics:

* It is named grouped below `kn source`.
* It has CRUD  sub-commands ("create", "update", "delete", "list", "describe" and maybe "apply")
* It has a mandatory `--sink` option following the sink format

Not sure what else, any ideas @dsimansk ?

[2022-08-02 19:10] abrennan89 opened #5157 "Organize documentation audit"
## Expected Behavior

We should schedule regular documentation audits of content published in https://knative.dev/development/ so that
- We know what content is outdated -> remove
- We know what content needs to be modified -> create docs issues
- We are aware of content gaps -> create docs issues

## Steps required

- [ ] Split content into sections of expertise
- [ ] Find and assign SMEs for eac

[2022-08-02 20:06] psschwei commented on #4725
@abrennan89  Based on a quick look, I don't think the problem is the script. Instead, I think the problem is that the serving/eventing API docs are HTML-encoded. For example, here's a small sample from the serving doc:

[code]

I think all we need to do is remove the HTML tags and convert to markdown formatting, and that should solve the issue.

Links:
https://github.com/knative/serving/blob/main/

[2022-08-02 20:09] psschwei commented on #4725
Alternatively, we could just add the links to the existing documents...

[2022-08-04 11:57] snneji commented on #5099
@abrennan89  Do you mean this template here: https://github.com/knative/docs/blob/main/contribute-to-docs/templates/template-blog-entry.md#copy-the-template

[2022-08-04 15:00] abrennan89 commented on #5099
No idea tbh, thought I saw an older one at one point with the hugo frontmatter but maybe it was somewhere else.

Either way, the one you're linking to looks like it's missing the author info, date etc and is different to what's [actually being used in the docs](https://knative.dev/blog/articles/eventing-rabbitmq-announcement/) as we decided a while back on the WG call, so either all the existing b

[2022-08-05 16:09] snneji commented on #5099
@abrennan89, Do you think we should keep that table with tracking info about reviews and approvals? I'm not sure it's needed since reviews will be logged in GH.

[2022-08-05 16:10] abrennan89 commented on #5099
Nah I think it can be removed

[2022-08-08 10:23] SunnyWinteri opened #5163 "Failed to read tracing config, using the no-op default: empty json tracing config IN Parallel with multiple cases"
## Expected Behavior
`event-display` log:
[code]

## Actual Behavior

Run the following command:
`kubectl logs -l serving.knative.dev/service=event-display --tail=30 -c user-container`

Output:
` Failed to read tracing config, using the no-op default: empty json tracing config`

## Steps to Reproduce the Problem
Follow the steps:
https://github.com/knative/docs/blob/main/code-samples/eventing/para

[2022-08-10 15:04] pierDipi commented on #5163
This is just a warning, but the application should still be working fine.

[2022-08-10 15:04] abrennan89 commented on #5057
Reference: https://github.com/knative/client/blob/main/docs/cmd/kn_source_apiserver.md

[2022-08-10 15:05] abrennan89 commented on #5058
Reference: https://github.com/knative/client/blob/main/docs/cmd/kn_source_ping.md

[2022-08-10 15:15] #4873 closed

[2022-08-10 15:16] abrennan89 commented on #5061
Not sure there's anything we can do on this for now or that we'll have bandwidth to change it. Closing.

[2022-08-10 15:16] #5061 closed

[2022-08-10 15:17] abrennan89 commented on #5056
There are individual issues now for the outstanding ones:
https://github.com/knative/docs/issues/5057
https://github.com/knative/docs/issues/5058

Closing this epic.

[2022-08-10 15:17] #5056 closed

[2022-08-10 15:19] abrennan89 commented on #4060
Per the above comment, closing this issue as it has been open for over a year with no action.
If there is docs work required from the docs WG, please open smaller issues with details of the required work. Otherwise I think this should be tracked / worked on in the Security WG instead.

[2022-08-10 15:20] abrennan89 commented on #5062
Explained in the docs https://knative.dev/docs/client/kn-plugins/

[2022-08-10 15:20] abrennan89 commented on #5064
Documented already https://knative.dev/docs/client/kn-plugins/

[2022-08-10 15:20] #5064 closed

[2022-08-10 15:22] abrennan89 commented on #5065
Reference: https://github.com/knative/client/blob/main/docs/cmd/kn_plugin_list.md

[2022-08-10 15:35] #5052 closed

[2022-08-10 15:41] pierDipi commented on #4943
This is the spec version of the content to document https://github.com/knative/specs/blob/main/specs/eventing/data-plane.md#event-acknowledgement-and-delivery-retry

[2022-08-10 17:29] davidhadas opened #5170 "Add Documentation for the Queue Proxy Option feature (extensions to QP)"
**Document how to add and configure a runtime extension to QP**
Documentation should include:
 - What is a QP Extension
 - How does one add a QP Extension to the QP Image
 - How does one configure the cluster to enable the use of QP Extensions
 - How does one activate and configure a QP Extension on a specific service
 - Examplify adding, enabling, activating, and configuring a "Test-Gate" from kn

[2022-08-10 17:45] davidhadas commented on #5170
/assign davidhadas

[2022-08-10 17:49] amaanq commented on #5058
/assign

[2022-08-10 18:23] rhuss opened #5171 "Document the kn plugin directory"
* The `kn` plugin directory is `~/.config/kn/plugins` on Linux and macOS, and on `%APPDATA%\kn\plugins` (I think this information is also missing on https://knative.dev/docs/client/kn-plugins/#manually-install-a-plugin where it is only mentioned that it can be put on the $PATH

_Originally posted by @rhuss in https://github.com/knative/docs/pull/5167#discussion_r942620187_

[2022-08-11 02:42] SunnyWinteri commented on #5163
Thanks for your help. Is there any other way for me to view `event-display` logs?

[2022-08-11 06:46] pierDipi commented on #5163
as you're doing should work:
[code]

[2022-08-12 12:26] psschwei opened #5173 "Add docs on probes"
**Describe the change you'd like to see**
We have some info on what types of probes the user can add to the Services [here](https://github.com/knative/specs/blob/main/specs/serving/runtime-contract.md#meta-requests), but it'd be nice to have a doc (possibly at something like `https://knative.dev/docs/serving/services/user-probes`) that describe what types of probes users can set (readiness/livenes

[2022-08-13 04:58] Aryan-Deshpande commented on #4998
Hey is this issue being worked on, would like to work on this too. New to knative, and I'd like to get started on contributing 😄 .

[2022-08-16 17:04] davidhadas opened #5177 "Support knative.dev/REPO redirect to pkg.go.dev/knative.dev/serving for go packages"
right now:
knative.dev/serving redirects to pkg.go.dev/knative.dev/serving
knative.dev/pkg redirects to pkg.go.dev/knative.dev/pkg

But:
https://knative.dev/net-kourier does not forward to https://pkg.go.dev/knative.dev/net-kourier
and the same for all other go repos.

Seems like the implementation for serving and pkg is extendible  (See https://github.com/knative/docs/pull/5176) - we now added se

[2022-08-18 12:41] matzew commented on #4823
/reopen

this is not a duplicate of 4824 - I created both, since they cover different use-cases

[2022-08-18 18:15] gawsoftpl opened #5178 "During create new revision of model Return http code 0"
/kind bug

When I create new revision for model I received a lots http code 0 for high load (200 requests per second)

[code]
After install new revisions only 50% of pods received traffic for inference. Rest 50% has 0 traffic.

I dont know that this is a error for knative or istio?

When I delete all models, wait for delete all pods, create models from beginning. Everything works great.

**Model a

[2022-08-18 19:15] gawsoftpl commented on #5178
When I set service for local cluster this error apear.  When I deleted this label everything working fine.

[code]

[2022-08-18 19:17] #5178 closed

[2022-08-19 12:26] snneji opened #5180 "Knative 1.7 release notes blog post"
## Tasks

After Knative 1.7 release day (August 23, 2022):
1. After each component has released, consolidate all release notes into a blog post similar to the [Knative 1.2 blog post](https://knative.dev/blog/releases/announcing-knative-v1-2-release/). Use the [template](https://github.com/knative/docs/blob/main/blog/docs/releases/_template-announcing-knative-v1-X-release.txt) to format the blog po

[2022-08-19 12:29] snneji opened #5181 "Release docs for Knative v1.7"
## Task

Cut a release for 1.7 after release day (August 23, 2022). For instructions, see the [docs release process](https://github.com/knative/docs/blob/main/contribute-to-docs/docs-release-process.md).

The remaining versions in the script `hack/build.sh` should be: 1.7, 1.6, 1.5, 1.4

## Dependencies

Wait for the following components to be released:
- [x] [Serving 1.7](https://github.com/knati

[2022-08-19 20:09] abrennan89 commented on #4557
Added Concepts section and updated Revision, Garbage collection, serving and eventing snippets:
- https://github.com/knative/docs/pull/5156
- https://github.com/knative/docs/pull/5155
- https://github.com/knative/docs/pull/5183
more to come

[2022-08-23 09:23] #5170 closed

[2022-08-25 11:50] #3534 closed

[2022-08-25 11:55] #5065 closed

[2022-08-25 13:13] AlexandreDelforgeAdeo opened #5189 "Opentelemetry collector for Knative works well in "metrics" namespace but not in others. How could we deploy it in another namespace ?"
## Expected Behavior
I would like to deploy opentelemetry collector objects in another namespace than "metrics" one

## Actual Behavior
When I am doing that, no metrics are exposed
![Screenshot from 2022-08-25 15-01-33](https://user-images.githubusercontent.com/93909673/186672017-5462f020-9a00-4e74-97aa-86dfda242abd.png)

And I have some errors in knative activator pod
![Screenshot from 2022-08-25

[2022-08-25 15:27] #5181 closed

[2022-08-26 14:26] abrennan89 commented on #5189
@skonto can you provide some help here to figure out if this is possible and whether there's anything we can add to docs?

@AlexandreDelforgeAdeo FYI I believe that questions like this should be first directed to the @knative/serving-observability-reviewers @knative/serving-wg-leads groups before docs, to see if it's possible to work out the issue and provide details before requesting docs.

[2022-08-26 14:42] abrennan89 commented on #5177
The docs WG are not responsible for documenting how new repos are added to the project, so any changes to the process to ask folks to add these redirects should be discussed with the TOC and added here: https://github.com/knative/community/tree/main/mechanics

AFAIK these Go redirects aren't something the docs WG actively maintains, while they live in our repo because of the website, it should be

[2022-08-26 14:49] abrennan89 commented on #5040
@carlisia @evankanderson if this still needs to be documented please provide some draft docs / information.

@evankanderson re the above comment, I just meant we don't document specific mention of the plugins AFAIK, which makes things even more confusing, we just talk about needing a networking layer (those docs are already a mess IMO that need a good clean up) and istio etc as options scattered t

[2022-08-26 16:23] lance commented on #5177
@davidhadas I believe you should submit a PR similar to https://github.com/knative/docs/pull/4015. You should create the HTML redirects, then run `go run ./tools/redir-gen/` in the root of this repo to update `golang/_redirects`, and submit those changes as a PR.

[2022-08-26 16:27] lance commented on #5177
/transfer-issue community

Transferring this issue to the community repo since it's a process change suggestion/request.

[2022-08-26 16:29] upodroid commented on #5177
/transfer community

[2022-08-26 17:43] abrennan89 commented on #5038
@lance I think it's safe to say the proposal itself has been reviewed and approved now. Would you consider maybe closing this issue and raising specific doc issues for what needs to be documented in the site based off the proposal so that there's something actionable?

[2022-08-26 17:44] abrennan89 commented on #5038
@lance I just remembered also that you were planning to move the proposal to the proper template, so maybe it's not approved yet.
Any ETA for when that's expected?
I think if it's decided to go another route in the meantime due to time pressures the proposal would need to change to reflect that.

[2022-08-26 18:00] #5116 closed

[2022-08-26 18:30] lance commented on #5038
@abrennan89 I was asking about this in Slack the other day.

Do you think something like this requires a full FT proposal?

[2022-08-26 19:40] abrennan89 commented on #5038
@lance I really don't know to be honest; I don't have bandwidth atm to get into the details of what was in the original proposal, so I'm not sure how different this is to that. If the direction is changing entirely, I'd say it should be tracked in an FT, yes, to make it clear what was changed, what was the reasoning, who made the decision, etc. We should maintain transparency for major project cha

[2022-08-26 19:41] abrennan89 commented on #5038
I still think we need to revisit the whole way our tutorials exist atm FWIW - they're not really proper tutorials, it seems to just be turning into a dumping ground for things that should probably have their own sections in the docs, e.g. there's no functions sections besides what you're proposing here, and I think that should maybe be added in its own right rather than just existing as part of th

[2022-08-26 19:42] abrennan89 commented on #5038
Last thing - I'd say if you do take this route, functions should be after serving and eventing, since you need those installed to deploy functions as services or connect functions to eventing components.

[2022-08-26 19:52] lance commented on #5038
The  Serving and Eventing sections of the tutorial don't cover installation. That's in the section just before "Using Knative Functions" in my example. My opinion is that the simplest and easiest way to digest Knative is through Functions, and presenting them first is the way to go.

[2022-08-30 00:49] adamzr commented on #5100
I'd like to understand how to define the port in the readiness probe definition. Do I specify no port? If so, does KNative add in its default port (8080) or is there a Kubernetes default? Do I specify a named port? If so, what name? Or, do I just put in 8080?

[2022-08-30 07:12] daisy-ycguo opened #5197 "Broken link of "security-guard""
## Expected Behavior
In document https://github.com/knative/docs/blob/main/docs/serving/queue-extensions.md, link to "security-guard" should direct to `knative.dev/security-guard` or `knative-sandbox/security-guard`

## Actual Behavior
"security-guard" doesn't work any more.

For example, the [security-guard](https://knative.dev/security-guard/README.md) repository provides an extension that uses

[2022-08-30 17:13] snneji commented on #4922
@abrennan89 The original reason why we moved the samples is mainly to make it easier for devs to clone the repo and have the whole sample, including instructions and accompanying YAML and other files, in one place. We got feedback from quite a few people saying they preferred to use the samples from GitHub rather than using them from the docs.

We also felt that if the samples are on the site, it

[2022-08-30 17:29] #5067 closed

[2022-08-30 17:56] #5197 closed

[2022-08-30 18:06] abrennan89 commented on #4994
I think this issue is sort of obsolete now, since we're revisiting how we do the quickstart and tutorials in general, in light on [conversations](https://knative.slack.com/archives/C9CV04DNJ/p1661535428082209) on Slack and the addition of Functions.

[2022-08-30 18:06] #4994 closed

[2022-08-30 19:05] lance opened #5205 "Add Functions to Existing Tutorial"
**Describe the change you'd like to see**
The existing tutorial does not include Knative Functions. It would be nice to have something there by KubeCon in October. This request is to add a section in the left-hand menu called "Using Knative Functions" or similar which is an introduction to the technology, including a tutorial.

**Additional context**
For the time being, this supercedes https://git

[2022-08-30 19:23] #5180 closed

[2022-08-30 19:24] #5163 closed

[2022-08-30 19:26] abrennan89 commented on #5058
@amaanq any update on this one?

[2022-08-30 19:27] abrennan89 commented on #4998
@Aryan-Deshpande as far as I know nobody is working on this, I can assign you if you're still interested? Thanks.

[2022-08-30 19:28] abrennan89 commented on #4956
Closing this until eng has their UX figured out. We can reopen a new issue for this if the update is still required later.

[2022-08-30 19:28] #4956 closed

[2022-08-30 19:31] abrennan89 commented on #5099
@snneji it looks like the PR is opened against your fork instead of the docs repo. Would you mind fixing it and we can get this merged then? 🙂

[2022-08-31 14:05] abrennan89 commented on #4557
https://github.com/knative/docs/pull/5114 - the PDB part of this should be a snippet (note to self)

[2022-08-31 18:05] #5106 closed

[2022-09-06 15:10] abrennan89 commented on #3772
Related https://github.com/openshift/openshift-docs/pull/49552

[2022-09-07 12:57] abrennan89 commented on #5205
Not sure if this link is related? https://miro.com/app/board/o9J_lAlC520=/
I don't know who owns this doc, just found it when I was clearing out bookmarks

[2022-09-07 13:02] abrennan89 commented on #5189
Not clear if there is any actual docs requirement here. Please direct questions about this to the Knative Slack instance.

[2022-09-07 13:02] #5189 closed

[2022-09-07 20:27] lance commented on #5205
I cannot access the link

[2022-09-14 07:57] DevSusu opened #5217 "Prometheus metrics not exported by default"

[2022-09-14 19:40] rvowles opened #5216 "knative install docs for Eventing recommend archived project for GCP"
## Actual Behavior

On this page https://knative.dev/docs/install/yaml-install/eventing/install-eventing-with-yaml/#verify-the-installation it refers to installing the Google Pub/Sub support from https://github.com/google/knative-gcp - and this project is archived. I cannot find a replacement anywhere so the documentation should probably be removed as it is not a viable alternative.

[2022-09-15 17:56] amaanq commented on #5058
Just created a PR for this, looking for a review now

[2022-09-19 15:05] davidhadas opened #5224 "Security-Guard"
## What is changing? (Please include as many details as possible.)
The first release of the Security Guard.

## How will this impact our users?
Adds new functionality to help secure deployed services

## In what release will this take happen (to the best of your knowledge)?
The Alpha of Security-Guard will be ready around the time Knative v1.18 release is released

## Context
1. https://github.com

[2022-09-20 17:09] julioNico opened #5225 "How Kubernetes version is necessary to install Operator 1.3.x or low?"
**Where is the documentation for operator v1.3 and older releases?**
On the page https://knative.dev/docs/install/operator/knative-with-operators/ or https://knative.dev/docs/ we have only informations about Knative v1.4 or newer.

I need this informations like this link https://knative.dev/docs/install/operator/knative-with-operators/ but abount v1.3 and older.

**Additional context**
I am upgrad

[2022-09-21 14:18] aslom commented on #5058
I did quick review LGTM @amaanq @abrennan89 @snneji  @lionelvillard  - adding base64 encoding to examples shows how to use kn CLI to get the same result as using YAML

[2022-09-21 14:45] abrennan89 opened #5226 "Create a single, central doc about configuring default channel configmaps"
Currently there are separate docs for the Operator and regular CRs, plus kafka docs:
- https://knative.dev/docs/install/operator/configuring-eventing-cr/
- https://knative.dev/docs/eventing/configuration/kafka-channel-configuration/
- https://knative.dev/docs/eventing/configuration/channel-configuration/

**Describe the change you'd like to see**
1. There should be a similar section to https://kna

[2022-09-21 14:50] abrennan89 commented on #4069
Work to move sections to snippets is ongoing. I don't think this epic is required anymore.

[2022-09-21 14:50] #4069 closed

[2022-09-21 14:51] abrennan89 opened #5227 "Document use of `kn service create --force`"
From @rhuss

`knative service create --force` is to entirely overwrite an existing service, which means delete it first and then recreate it. This is in contrast to `kn service update`, which updates individual fields on an existing installation. You would use it in scripts to ensure that you have a fresh service even if a service with this name already exists. That's useful e.g. for CI runs when

[2022-09-21 14:55] #5105 closed

[2022-09-21 17:14] #5058 closed

[2022-09-21 17:21] amaanq commented on #5057
Asking for clarification, it seems like the main docs page shows an example on how to create the source with kn (step 6), so I'm not sure what else exactly needs to be documented for using kn

[2022-09-21 18:06] aslom commented on #5057
From what I see the last part about deletion of namespace could be replaced by `kn source apiserver delete`? And kubectl version of deleting apiserver CR? @lionelvillard

[2022-09-22 14:45] rahul3002 commented on #4558
i would too fix this issue

[2022-09-23 10:06] #3583 closed

[2022-09-26 01:34] #5041 closed

[2022-09-26 01:34] #5040 closed

[2022-09-26 02:34] life-learner1 opened #5245 "Install knative failed by operator"
## Expected Behavior
install successfully
## Actual Behavior
knative-operator pod is restarted over and over again,  below is the error log
[code]
## Steps to Reproduce the Problem

1. AWS EKS in China
2. replace gcr.io with gcr.dockerproxy.com
3. kubectl apply -f https://github.com/knative/operator/releases/download/knative-v1.6.1/operator.yaml

## Additional Info

[2022-09-26 18:49] abrennan89 commented on #5245
Please open an issue in the [operator repo](https://github.com/knative/operator/issues) or ask for help in the Knative Slack instead, since docs cannot solve this issue without someone first figuring out the root cause.

[2022-09-26 18:49] #5245 closed

[2022-09-26 18:52] abrennan89 commented on #5225
We only provide docs on knative.dev for the last 3 Knative versions. Currently those versions are 1.4+
If you want to view docs for older versions, you will need to go to the older branch in the docs repo and view the markdown files for the version you want, e.g. https://github.com/knative/docs/blob/release-1.3/docs/install/operator/knative-with-operators.md

[2022-09-26 18:52] #5225 closed

[2022-09-26 19:18] #5216 closed

[2022-10-02 11:31] Atharv-Nalwade commented on #5227
This is my first time to open source this issue will help me start my journey into open source
Can I get assigned to this issue

[2022-10-06 21:37] lance opened #5265 "Create a Functions section"
**Describe the change you'd like to see**

Evan in https://github.com/knative/docs/pull/5243#discussion_r989327583

We'll need to add more content here (fine in a subsequent PR):

- [x] What is it / how does it work?
- [ ] How do I use it / what's the intended workflow?
  - [ ] Create
  - [ ] Iterate
  - [ ] Integrate in build system
  - [ ] Update buildpack / other maintenance needed?
- [ ] What'

[2022-10-07 04:45] Harini1023 commented on #5227
I would really wish to work on this issue and document use of <b>kn service create force </b>. Could you please assign this issue.

[2022-10-08 18:26] KiranPatil30 commented on #5226
Hii Sir , Can you assign this issue to me?

[2022-10-09 21:33] abrennan89 commented on #5226
Let's wait for @snneji 's input before we go ahead with this one

[2022-10-10 03:01] KiranPatil30 commented on #5226
Ok

[2022-10-10 18:40] abrennan89 commented on #5171
The plugin directory config and how to use it is documented here: https://knative.dev/docs/client/configure-kn/

[2022-10-10 18:40] #5171 closed

[2022-10-10 18:54] abrennan89 commented on #4824
@matzew it depends on whether admin permissions are required for any of the steps included here?
For now I will put it in the developer section, but let me know if you think it requires admin permissions.

[2022-10-10 19:32] #5086 closed

[2022-10-10 19:37] abrennan89 commented on #5090
These types of changes should be documented by developers in the release notes for each release, not in the core docs.

[2022-10-10 19:37] #5090 closed

[2022-10-10 19:38] abrennan89 commented on #4998
@snneji are you still working on this one or can we unassign it for someone else to pick up?

[2022-10-10 19:41] abrennan89 commented on #2810
Closing this since the issue has been open for over 2 years. @rhuss please do not open XXL issues like this, and instead open an issue for each individual section if there are changes still required. Opening issues that are this large make working them unmanageable.

[2022-10-10 19:44] abrennan89 commented on #3772
New snippet should be added to https://knative.dev/docs/eventing/triggers/ and the event delivery section

[2022-10-10 19:46] abrennan89 commented on #4557
The docs keep growing so I think rather than trying to make this a list, let's just fix them as we go.

[2022-10-10 19:46] #4557 closed

[2022-10-12 11:19] lance commented on #5265
No I mean language pack. https://github.com/knative/func/blob/main/docs/language-pack-providers/language-pack-contract.md

It's how companies and vendors extend Functions

[2022-10-13 12:54] #4824 closed

[2022-10-13 14:27] matzew opened #5276 "DeploymentOverrides allow more overrides than documented"
Reading here:
* https://knative.dev/docs/install/operator/configuring-eventing-cr/#override-system-services
* https://knative.dev/docs/install/operator/configuring-serving-cr/#high-availability

They list a subset of possible overrides.

Serving states:
* Currently resources, replicas, labels, annotations and nodeSelector are supported.

Eventing states:
* Currently labels, annotations and selecto

[2022-10-13 14:28] matzew commented on #5276
Soon there will be two more possible overrides:

https://github.com/knative/operator/pull/1247/

[2022-10-13 14:34] matzew opened #5277 "There is no Eventing activator"
The `KnativeEventing` operator installation talks about `activator`, which is a component from serving, not eventing.:

https://knative.dev/docs/install/operator/configuring-eventing-cr/#override-the-affinity

IMO we should use a different workload to describe the override of the `affinity`

[2022-10-13 18:29] abrennan89 commented on #5276
@matzew please provide YAML examples for how to set any that are missing as well as descriptions of what they do, why someone would want to set them, etc. This currently isn't enough information to update docs.

[2022-10-14 09:14] skonto commented on #5276
@matzew @abrennan89
These are K8s overrides so not something new for the user. The user would utilize them for the same purpose it is done for non-knative workloads. For example to name a few:
- nodeSelector: to run the workloads on specific nodes only
- readinessProbes, livenessProbes: to override default values and set whatever makes sense in the deployment env.
- env allows overriding env vars

[2022-10-18 11:39] jagadhees-ravi opened #5280 "code(52) empty reply from server"
Hi,

I am new to knative serving and kubernetes. I have tried deploying helloworld-python app and I followed the instructions as per the document. I can able to build and deploy the app into docker hub. But when I try to give request to the app using curl I am getting this error : **code(52) empty reply from server** . Can you help me with this. My operating system is windows 11. And I am using do

[2022-10-18 15:19] #5205 closed

[2022-10-19 04:36] #5224 closed

[2022-10-19 04:39] abrennan89 opened #5284 "Follow up security guard docs"
The security guard docs https://github.com/knative/docs/pull/5256 were merged to allow this to be included in the 1.8 release, but I believe the docs section for this still needs some clean up and editing.

[2022-10-19 05:02] abrennan89 opened #5285 "Automate CLI / func docs generation"
**Describe the change you'd like to see**
The options for `kn` and `func` CLI commands are constantly being expanded and updated.
It is not reasonable for docs to be manually updated frequently enough to keep up with the changes.
I would like to see folks on the eng team provide some method of implementation for auto-generating docs reference pages for the CLI tools that can be published on the we

[2022-10-19 05:44] abrennan89 opened #5287 "Advanced language pack docs"
Follow up from https://github.com/knative/docs/issues/5265

Add docs for:

- Language pack inventory page
- Writing your own language pack

[2022-10-19 05:46] abrennan89 commented on #5265
Moved advanced questions about lang packs to separate issue.

[2022-10-19 05:48] abrennan89 commented on #5265
@lance per Evan's original comment, is there enough info about buildpacks yet to warrant opening a follow up issue for advanced docs about that?

[2022-10-19 05:50] abrennan89 opened #5288 "Add docs about using func with eventing to tutorial"
See https://github.com/lance/docs/blob/de222b8e3ef8baaa6af6df3bfa8187c2e9ab7b7f/docs/getting-started/function-triggers.md for draft docs.

Related to https://github.com/knative/docs/issues/5038

[2022-10-19 07:13] nak3 opened #5289 "Release docs for Knative v1.8"
## Task

Cut a release for 1.8 after release day. For instructions, see the [docs release process](https://github.com/knative/release/blob/main/PROCEDURES.md#releasing-a-new-version-of-the-knative-documentation).

The remaining versions in the script `hack/build.sh` should be: 1.8 1.7, 1.6, 1.5 (Please fix me if it is wrong. I just decided it from https://github.com/knative/docs/issues/5181)

## D

[2022-10-19 07:25] davidhadas commented on #5284
/assign @davidhadas

[2022-10-19 12:13] psschwei commented on #5285
Also some discussion in #4430

[2022-10-19 13:21] lance commented on #5287
/assign @lance

[2022-10-19 14:19] lance commented on #5287
/assign @abrennan89

[2022-10-19 16:09] abrennan89 commented on #5287
Removing my assignment since this is additional content required that I can't provide, it's separate to the PR that I have open atm that adds basic language pack docs, since it's a more advanced use case (building your own).

[2022-10-19 16:12] abrennan89 commented on #5285
Thanks @psschwei - it looks like some work was done on this but the previous issue was marked closed without it being really implemented; any idea why?

[2022-10-19 17:18] psschwei commented on #5285
Looks we decided on a [WG call](https://github.com/knative/docs/pull/4623#issuecomment-1010215502) to just go with a link to the client repo. I vaguely recall running into some issues trying to automate moving the docs over here, but don't remember exactly what they were.

[2022-10-21 10:23] #5289 closed

[2022-10-25 14:31] abrennan89 commented on #5285
I think the biggest issue with just having a link is that it doesn't allow us to retain different versions of the docs for different versions of `kn` or `func`, which is something that I'd like to see, but maybe adds additional complications here since I don't think the versions were considered in previous discussions.

[2022-10-25 16:10] abrennan89 opened #5305 "func updates for v1.8"
## What is changing?

Updates to the `func` CLI per @lance comments https://github.com/knative/docs/pull/5286

## In what release will this take happen (to the best of your knowledge)?
1.8+

[2022-10-25 16:36] abrennan89 commented on #5280
Presumably this issue is referring to the sample here https://github.com/knative/docs/tree/main/code-samples/serving/hello-world/helloworld-python

@knative/serving-reviewers @knative/serving-wg-leads can you please reach out to provide guidance here, since these samples aren't maintained by the docs team really. It might be time to look at moving these back into the correct repos, e.g. moving thi

[2022-10-25 16:36] #5280 closed

[2022-10-25 16:40] #5054 closed

[2022-10-25 16:47] #5038 closed

[2022-10-26 15:39] lance commented on #5305
The change is related to `func deploy --remote` without a `--git-url` argument, resulting in direct code upload vs. pulling from github

[2022-10-27 09:36] gabriel-rh opened #5308 "Missing step in knative functions tutorial"
**Describe the change you'd like to see**

While working through the knative functions tutorial (https://knative.dev/docs/getting-started/build-run-deploy-func/)

[code]

It looks like I need to change directory  - this may be obvious to knative users, but for beginners, it should be added to the steps in the tutorial.

[code]

**Additional context**
N/A

[2022-10-27 09:50] gabriel-rh opened #5309 "Add --registry option to func run command in knative functions tutorial"
**Describe the change you'd like to see**
While working through the knative functions tutorial (https://knative.dev/docs/getting-started/build-run-deploy-func/):

[code]

It looks like I need to explicitly add a `--registry` option:

[code]

**Additional context**
N/A

[2022-10-27 10:02] gabriel-rh opened #5310 "Document requirement for public repository for func deploy command"
**Describe the change you'd like to see**
[https://knative.dev/docs/functions/build-run-deploy-func/](https://knative.dev/docs/functions/build-run-deploy-func/)

It might be worth highlighting in the docs that the `func deploy` command requires the repository to be public, by default. (With Quay, repositories are private by default - for the func deploy to work first time, you would need to create

[2022-10-28 11:58] lance commented on #5308
Thanks for your bug reports @gabriel-rh - super helpful! For this one, the page does say this just before the command is shown.

(emphasis added)

We originally did have `cd hello` but thought the text worded the way it is was enough. Obviously, it's not 👍

[2022-10-29 10:15] hokandil commented on #4998
Hi all , can I work on this? if yes , could you assign it to me?

[2022-10-29 10:53] Aryan-Deshpande commented on #4998
Hey extremely sorry for the late reply, I'll be interested in taking up the issue !.

[2022-11-03 10:28] prushh opened #5315 "Broken links in "Community owned samples" section"
## Expected Behavior
In the document [_Knative code samples_](https://github.com/knative/docs/tree/main/docs/samples), the projects' links inside [_Community owned samples_](https://github.com/knative/docs/tree/main/docs/samples#community-owned-samples) section should direct to the specified language sample.

## Actual Behavior
Any specified link in the _Language(s)_ column of the table is broken

[2022-11-03 11:58] psschwei opened #5316 "Update instructions for using temporary DNS in installation section"
We updated the default domain in https://github.com/knative/serving/pull/13259 to `svc.cluster.local`, which is not reachable outside of the cluster. As a result, users who want to use the [temporary DNS option](https://github.com/knative/docs/blob/main/docs/snippets/temporary-dns.md) will first need to patch in a domain (for example, `example.com`) before they'll be able to reach the service.

We

[2022-11-07 09:25] skonto commented on #5276
We have two new overrides: a) probes from https://github.com/knative/docs/issues/5276 b) workloads section in CR via https://github.com/knative/operator/issues/1246

[2022-11-09 17:30] #5316 closed

[2022-11-18 05:13] mbrancato opened #5331 "Lack of documentation on queue-proxy probing"
**Describe the change you'd like to see**
Comprehensive documentation on queue-proxy probing controls and behaviors.

**Additional context**
Readiness probing, and specifically aggressive probing, is part of the queue-proxy sidecar. Some services are slower to start than others, may have backend dependencies such as a database, etc. However, there is really no documentation on how to configure the

[2022-11-18 19:32] amithkk opened #5334 "Broken links in "function overview""
## Expected Behavior
Links to templates present in https://knative.dev/docs/functions/ work

## Actual Behavior
Links are stale and 404s

[2022-11-19 15:10] #5334 closed

[2022-11-22 10:15] rkorzeniec opened #5337 "stackdriver is unsupported for config-tracing ConfigMap on GCP"
## Expected Behavior
The [observability docs config options](https://knative.dev/docs/eventing/accessing-traces/#configuration-options) mention that `stackdriver` is one of the valid values for the `backend` config.

On GCP it started to fail on the 21.11.2022 with such error:
[code]

## Actual Behavior
This documentation should mention the list of supported backends

## Steps to Reproduce the Pro

[2022-11-22 10:38] #5309 closed

[2022-11-22 14:57] jagadhees-ravi opened #5339 "Could not create knative service"
Hi,

I tried to create knative service by following the helloworld-python tutorial. I followed every step, but I am getting error. Kindly help me resolve it. I am pasting the error message for reference.

"Configuration "helloworld-python" does not have any ready Revision. Error: RevisionFailed: Revision "helloworld-python-00001" failed with message: Unable to fetch image "docker.io/<my-docker-use