[2021-07-05 16:51] evankanderson commented on #3941
/close

[2021-07-05 16:51] #3941 closed

[2021-07-06 01:29] gyliu513 commented on #3941
Thanks @evankanderson , very clear.

BTW: Does Knative has any plan to support Stateful resources other than Stateless?

[2021-07-06 11:11] #3827 closed

[2021-07-06 11:15] cardil opened #3945 "[mkdocs] Knative logo area behaves odly"
Hovering over the Knative logo shouldn't cause it to fade out. Fading out logo is sending the signal that clicking it isn't available. That may cause confusion among the users. If we want to keep the effect, it should be subtle, not drastic.

Also, the Knative text next to the logo isn't clickable. That's a standard thing to make it clickable, so users use it to return to the homepage.

https://us

[2021-07-06 11:30] cardil commented on #3945
Maybe instead of fading out, we case animate a little rotation on hover. Like this?

https://user-images.githubusercontent.com/540893/124592905-47555980-de5e-11eb-897c-41ea2ccb0df7.mp4

[2021-07-06 11:49] omerbensaadon commented on #3945
@cardil yes yes yes x100, that is so much cooler. If you've got this locally, can you ship this before tomorrow?

[2021-07-06 11:51] cardil commented on #3945
Yes, I can.

/assign

[2021-07-06 12:02] omerbensaadon opened #3946 "Local build (`mkdocs serve`) doesn't work with out of date mkdocs version"
## Expected Behavior
When I run `mkdocs serve` it renders the site locally

## Actual Behavior
It shows me the error:
[code]

## Steps to Reproduce the Problem

1. Pull latest commits (this bug impacts everything after #3797 was closed)
1. Do mkdocs serve
1. Read it and weep

## Additional Info
**Additional context**
This is fixed by doing
[code]
and needs to be documented somewhere in the contrib

[2021-07-06 12:27] #3477 closed

[2021-07-06 13:36] #3449 closed

[2021-07-06 13:45] #3508 closed

[2021-07-06 14:17] evankanderson commented on #3941
Eventing components tend to be stateful, but it seems unlikely that Serving will provide support for stateful applications.

To misquote Leo Tolstoy:

While this may not strictly be true, the range of state assignment and handover needs between applications varies widely. I'd be excited to see similar toolkits for common stateful application patterns (e.g. https://agones.dev/ for gamedev), but I d

[2021-07-06 16:27] RichardJJG opened #3949 "Change references to old docs templates to the new templates"
Richie's docs templates are referenced in the PR pull template and likely elsewhere also. If the new templates are merged now, reference those instead. The exception might be Richie's blog template -- assuming some people still blog.

Also, link to the new templates from the Style Guide main page.

[2021-07-06 16:28] RichardJJG commented on #3949
/kind mkdocs

[2021-07-06 16:28] RichardJJG commented on #3949
/priority medium

[2021-07-06 16:29] RichardJJG commented on #3949
/kind style

[2021-07-06 17:19] csantanapr commented on #3911
To go live edit the netlify config for "knative.dev", go to Deploy Settings and change 3 things.
1. Set git repository to github.com/knative/docs
2. Unset build script (the build script is specify in netfliy config file `netlify.toml`
3. Set branch to mkdocs
![image](https://user-images.githubusercontent.com/1094878/124641496-c6e22900-de5c-11eb-8469-351fbd953beb.png)

[2021-07-06 18:18] maximilien commented on #3907
OK @omerbensaadon and team, I have the logos. Bunch so not sure which works for your needs. How do you want me to share? PR? Attachment here? Slack? Email? Let me know. Best.

[2021-07-06 19:26] omerbensaadon commented on #3907
Drop em here and let us know which one you prefer!

SVG is ideal :)

On Tue, Jul 6, 2021 at 2:18 PM dr.max ***@***.***> wrote:

[2021-07-06 21:34] maximilien commented on #3907
GH won't accept anything but JPG or GIF so assume these are OK. I also have EPS that I could upload and share somewhere else and link here. Hope this works.

![ibm2](https://user-images.githubusercontent.com/39187/124669330-12013980-de67-11eb-9a5d-d4f9ebe079f5.jpg)
![ibmneg_blurgb](https://user-images.githubusercontent.com/39187/124669332-1299d000-de67-11eb-8132-ca4ef64af9ba.jpg)
![ibmneg_white](h

[2021-07-06 21:39] omerbensaadon commented on #3907
Sorry for the bother, can you email an SVG to ***@***.***

On Tue, Jul 6, 2021 at 5:34 PM dr.max ***@***.***> wrote:

[2021-07-06 23:16] #3945 closed

[2021-07-07 06:20] rhuss opened #3951 "Update blue/green deployment example with `kn` usage"
The blue-green deployment examples in `developer/serving/traffic-management.md` uses `kubectl` and direct manipulation of `Route` elements. This use case/sample is covered by `kn` directly to provide a much more streamlined user experience. We should refactor the sample to us `kn` without confusing people with the internal implementation details.

@navidshaikh @dsimansk Could we already do a Blue

[2021-07-07 06:20] rhuss commented on #3951
Related PR: https://github.com/knative/docs/pull/3825

[2021-07-07 11:53] RichardJJG opened #3952 "Make blog release notes for v0.24"
Make blog release notes for v0.24

https://knative.dev/blog/2021/04/06/version-0.22-release

[2021-07-07 11:55] RichardJJG commented on #3952
/assign

[2021-07-07 11:55] RichardJJG commented on #3952
/kind mkdocs

[2021-07-07 11:55] RichardJJG commented on #3952
/priority high

[2021-07-07 12:52] omerbensaadon commented on #3911
thank you @csantanapr!!

[2021-07-07 12:52] omerbensaadon commented on #3907
My github handle @ gmail ^

[2021-07-07 12:54] #3874 closed

[2021-07-07 13:07] #3907 closed

[2021-07-07 13:37] abrennan89 commented on #3507
We can probably also check for https://github.com/knative/eventing/issues/4865 as part of this that PingSource is v1 throughout docs.
At least 1 place it's not that needs an update:  https://dev-knative.netlify.app/development/eventing/samples/parallel/multiple-branches/

[2021-07-07 13:38] abrennan89 commented on #3507
@n3wscott can you please provide input / link to source files for that?

[2021-07-07 13:52] #3857 closed

[2021-07-07 14:02] #3524 closed

[2021-07-07 14:12] #3349 closed

[2021-07-07 14:16] omerbensaadon opened #3956 "Align `/admin/install/knative-with-operators` to Style Guide (`/help/contributor/style-guide/`)"
@snneji has already commented on what needs to change on the original PR here: https://github.com/knative/docs/pull/3891

[2021-07-07 14:26] #3936 closed

[2021-07-07 14:26] snneji opened #3957 "Command style: use -f instead of --filename"
Change the style guide to use `kubectl apply -f <filename>.yaml` as suggested in https://github.com/knative/docs/pull/3904#pullrequestreview-700370279

file location:
docs/help/contributor/style-guide/documenting-code.md

[2021-07-07 14:26] snneji commented on #3957
/kind style

[2021-07-07 14:27] snneji commented on #3957
/assign

[2021-07-07 14:49] snneji commented on #3956
Can be dealt with as part of https://github.com/knative/docs/issues/3813

[2021-07-07 14:50] snneji commented on #3956
/assign

[2021-07-07 16:09] #3957 closed

[2021-07-07 17:06] snneji opened #3966 "Add 0.24 RabbitMQ Eventing Extension release notes to the Blog"
When the RMQ release notes have been generated, copy the release notes from the [RMQ Extension 0.24 release notes](https://github.com/knative-sandbox/eventing-rabbitmq/releases/tag/v0.24.0) page to the [blog release notes](https://github.com/knative/docs/blob/mkdocs/blog/releases/announcing-knative-v0-24-release.md) page.

Slack thread for request for release notes: https://knative.slack.com/archi

[2021-07-07 17:06] snneji commented on #3966
/kind good-first-issue

[2021-07-07 17:20] omerbensaadon commented on #3911
WOOOO DONE

[2021-07-07 17:20] #3911 closed

[2021-07-07 21:07] n3wscott commented on #3507
@abrennan89 I created that from using kubectl describe on sinkbinding.

[2021-07-07 21:34] abrennan89 opened #3971 "Feature flag docs lists are a mess"
The feature flag docs here: https://knative.dev/docs/serving/feature-flags/ have multiple lists that are broken and instead render as "* list item 1 * list item 2...etc"

I think this is just an issue with spacing that needs to be fixed throughout the page.

[2021-07-08 06:50] embano1 opened #3976 "„Home“ button missing"
**Describe the change you'd like to see**
Once I‘m in a section, e.g. click „Cluster Administrator?…“, I cannot easily go back to the front matter. I have to go through the side bar menu, clicking several times on the „back“ button until I can click on „Knative“ which brings me back home. A workaround for now is to click on the version drop-down, which is not very intuitive.

Solution: I can click

[2021-07-08 14:03] julz commented on #3976
This might be worth bringing up as a feature request on [the Mkdocs-material theme repo](http://github.com/squidfunk/mkdocs-material) since ideally we'd pick up a feature from there rather than building our own here (unless there's already an upstream issue for something like this already obviously).

[2021-07-08 14:06] omerbensaadon opened #3977 "Tear down `https://dev-knative.netlify.app/`"
We don't need this site anymore since we launched the new knative.dev

[2021-07-08 14:08] omerbensaadon commented on #3977
/assign @RichieEscarez

Richie, I actually can't delete this as I am not an owner. Do you mind tearing it down in Netlify?

[2021-07-08 14:26] julz commented on #3875
/close

done in https://github.com/knative/docs/pull/3913

[2021-07-08 14:26] #3875 closed

[2021-07-08 15:05] omerbensaadon commented on #3912
Done! https://hackmd.io/WWcVF60dT_m4Clv26v8V4w?both

Much simpler than the previous process :)

[2021-07-08 15:07] omerbensaadon opened #3978 "Document "How to Release Docs" in the Contributor's Guide"
**Describe the change you'd like to see**
As a follow on to https://github.com/knative/docs/issues/3912, document how to Release Docs in the Contributor's Guide.

**Additional context**
https://hackmd.io/WWcVF60dT_m4Clv26v8V4w?both

[2021-07-08 15:07] #3912 closed

[2021-07-08 15:07] omerbensaadon commented on #3906
When we publish new Release blog, will test this

[2021-07-08 16:20] #3952 closed

[2021-07-08 16:20] #3966 closed

[2021-07-08 18:42] omerbensaadon opened #3982 "Rename homepage to `Home` instead of `Knative`"
<img width="1084" alt="Screen Shot 2021-07-08 at 2 39 58 PM" src="https://user-images.githubusercontent.com/16281246/124974151-76a0cd80-dffa-11eb-9001-e5d289e21fb7.png">

Knative - Knative looks a bit weird

[2021-07-08 18:44] omerbensaadon commented on #3982
I actually can't find where this name is set

[2021-07-08 19:24] julz commented on #3982
I think https://github.com/knative/docs/blob/mkdocs/docs/index.md probably

[2021-07-08 20:33] RichieEscarez commented on #3977
I think Carlos made those changes?

[2021-07-08 20:34] omerbensaadon commented on #3977
I just can’t delete it because I am not an owner, neither is Carlos…

On Thu, Jul 8, 2021 at 4:33 PM RichieEscarez ***@***.***>
wrote:

[2021-07-09 12:55] omerbensaadon commented on #3906
https://knative.dev/blog/releases/index.xml

It works!

[2021-07-09 12:55] #3906 closed

[2021-07-09 13:31] snneji opened #3988 "Clean up PR #3876"
Edit https://github.com/knative/docs/pull/3876 for style. Ensure new text follows the [Knative Style Guide](https://dev-knative.netlify.app/development/help/contributor/style-guide/).

[2021-07-09 13:37] #3835 closed

[2021-07-09 13:38] snneji commented on #3988
/kind cleanup
/kind style
/kind good-first-issue

[2021-07-09 17:36] snneji opened #3991 "Fix formatting and links in release notes"
Fix formatting and links in release notes: https://knative.dev/blog/2021/06/29/v0.24-release/#highlights

[2021-07-09 17:51] RichieEscarez commented on #3977
Gotcha, thanks for explaining. Ill delete it now.

[2021-07-09 17:53] #3977 closed

[2021-07-12 12:35] #3982 closed

[2021-07-12 13:50] abrennan89 opened #3997 "Style Guide: Add rollout and time-based to the word list for docs contributors"
Add "rollout" (not roll-out) and "time-based" (not time based) to the word list.
Follow up from #3990

[2021-07-13 07:03] soham283 commented on #3997
@abrennan89 I would like to work on this issue,
can you please give the example where the changes are supposed to be done ?

[2021-07-13 07:09] soham283 commented on #3762
@julz  is this issue is open or has been resolved ??

[2021-07-13 07:49] julz commented on #3762
Yes, looks like this is still an issue, see e.g:

![image](https://user-images.githubusercontent.com/354013/125412506-e7f3ce00-e3b6-11eb-95ac-1d77a356e6ec.png)
(should be in code block)

and

![image](https://user-images.githubusercontent.com/354013/125412243-9ea37e80-e3b6-11eb-81d5-16da912627b8.png)
("Run the `main.py` file to train the model" shouldn't be in a code block, and the ````bash` text

[2021-07-13 13:01] omerbensaadon opened #3999 "Document how to add a re-direct"
**Describe the change you'd like to see**
See above

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-13 13:10] omerbensaadon opened #4000 "Broken community link"
It seems almost all repo needs to update the link https://knative.dev/contributing/ to https://knative.dev/community/contributing/

[2021-07-13 13:20] abrennan89 commented on #3997
Hi @soham283 , thank you!
You can find the word list here: https://knative.dev/docs/help/contributor/style-guide/word-and-phrase-list/

[2021-07-13 13:58] RichardJJG commented on #3949
/assign

[2021-07-13 15:35] RichardJJG opened #4003 "Salvage content from old contributor docs"
There is good content left in help/contributor. There is also a lot of content about Hugo that no longer applies.

1. Delete obsolete content within help/contributor
1. Update remaining content in help/contributor (delete Hugo front matter, delete broken links, rename files as needed, etc)
1. Copy the remaining content in help/contributor to docs/help/contributor
1. Delete help/contributor

[2021-07-13 15:36] RichardJJG commented on #4003
/kind mkdocs

[2021-07-13 15:36] RichardJJG commented on #4003
/priority medium

[2021-07-13 15:36] RichardJJG commented on #4003
/kind cleanup

[2021-07-13 18:42] #3991 closed

[2021-07-13 19:37] abrennan89 commented on #3951
Fixed in https://github.com/knative/docs/pull/3825/files#diff-1a8e531397364eff3d8858cb05dd280f845c135d5da46faa8e9008634b874cc1R70

Let's open a different issue if the behavior of traffic management needs an update later

[2021-07-13 19:37] #3951 closed

[2021-07-14 08:53] embano1 commented on #3976
I just realized that the logo to link back to the homepage is actually there in desktop mode but not shown on certain screen sizes (phone).

![image](https://user-images.githubusercontent.com/15986659/125593535-5bb192fa-af15-4f95-ae70-3e51381e5b01.png)

Not sure if this is configurable for the mobile theme though?

[2021-07-14 09:25] snneji commented on #4000
/priority high

[2021-07-14 09:27] snneji commented on #3999
/priority medium

[2021-07-14 09:32] snneji commented on #3978
/priority medium

[2021-07-14 09:53] snneji commented on #3976
/priority high

[2021-07-14 10:00] snneji commented on #3971
/priority medium

[2021-07-14 10:06] snneji commented on #3956
@omerbensaadon could you close this. I'm fixing this topic in a PR for #3813.

[2021-07-14 10:19] snneji commented on #3946
Might be useful to add a troubleshooting section or page and add these instructions there.

[2021-07-14 10:20] snneji commented on #3946
/priority high

[2021-07-14 10:24] snneji commented on #3940
/priority high

[2021-07-14 10:28] snneji commented on #3917
/priority high

[2021-07-14 10:33] snneji commented on #3868
/priority nice-to-have

[2021-07-14 10:37] snneji commented on #3867
@abrennan89 Since Omer thinks this is OK to close, could you close this?

[2021-07-14 10:39] snneji commented on #3866
@abrennan89 Is there more info you can provide about this one? Could you add a description? Also we are not sure how high priority this is.

[2021-07-14 10:43] snneji commented on #3853
/priority high

[2021-07-14 10:53] snneji commented on #3817
@abrennan89 which issues are part of this epic?

[2021-07-14 11:00] snneji commented on #3811
/priority high

[2021-07-14 11:05] snneji commented on #3810
/priority medium

[2021-07-14 11:12] snneji commented on #3425
@omerbensaadon I see a lot of work has been done. What still needs to be done for this one? Can it be closed?

[2021-07-14 11:12] snneji commented on #3425
/priority high

[2021-07-14 11:14] snneji commented on #3794
/priority medium

[2021-07-14 11:17] snneji commented on #3783
/priority high

[2021-07-14 11:19] snneji commented on #3773
/priority nice-to-have

[2021-07-14 11:27] snneji commented on #3772
/priority medium

[2021-07-14 12:37] abrennan89 commented on #3817
@snneji I've already added a bunch of issues above, do you have Zenhub? Maybe otherwise you can't see them, I'm not sure?

[2021-07-14 12:41] abrennan89 commented on #3866
@snneji this was pulled out from #1923 - it used to be just a one line sub-task in a list, so this is all the information there ever was 🤷🏻‍♀️ I didn't request it originally, it came from something Richie asked for. Since it's quite generic though we can maybe just close it.

[2021-07-14 12:42] #3867 closed

[2021-07-14 12:46] abrennan89 commented on #1923
Once you split out the tasks from this issue (I removed some of the original list items and made them their own issues), what's left is a pretty generic request for information. I think just adding info about "event producers and consumers" out of context doesn't really add any value, so I'd like for us to close this one for now and revisit this when we have bandwidth to flesh out some more concep

[2021-07-14 13:30] #3448 closed

[2021-07-14 14:29] #3949 closed

[2021-07-14 14:33] RichardJJG commented on #3840
/assign

[2021-07-14 14:53] xtreme-sameer-vohra commented on #3917
Thanks for the reminder @snneji
I had forgotten to create the PR 😁

[2021-07-14 18:08] omerbensaadon commented on #3946
Yeah we may want to put this as part of the contributor's guide or something?

Or an MkDocs FAQ of some kind?

[2021-07-14 19:53] julz commented on #3946
Possibly controversial opinion: we don't actually need to do much here or add a troubleshooting section. There are two sets of people - those already using mkdocs on the project who might have an old version, and new people going through the contributor guide for the first time.

The first set have already fixed this for themselves since we told everyone on slack etc and I think we're pretty confi

[2021-07-14 21:07] psschwei opened #4013 "Broken link on Kubernetes services page"
I noticed a broken link on one of the docs pages. It's the link to code samples in the "What's Next" section on the Kubernetes services page: https://knative.dev/docs/serving/knative-kubernetes-services/

When clicked, the link gives a 404. It appears that the link is incorrect (it goes to https://knative.dev/docs/serving/knative-kubernetes-services/samples/ but really should be https://knative.de

[2021-07-14 21:16] #3999 closed

[2021-07-14 21:16] #4000 closed

[2021-07-15 09:23] RichardJJG commented on #4003
/assign

[2021-07-15 13:20] #3840 closed

[2021-07-15 14:17] RichardJJG opened #4016 "Add title and heading grammar rules to "Voice and language" topic"
Our topic titles and headings are a mix of imperatives and gerunds. What form should a topic title take? "Create an account" or "Creating an account"? What about headings?

Google Style doesn't rule on this.

Pivotal style was gerunds for topic titles and imperatives for headings: the topic title is "Creating an account" and the headers included "Configure permissions", "Enter your details", etc.

[2021-07-15 14:17] RichardJJG commented on #4016
/kind style

[2021-07-15 14:18] RichardJJG commented on #4016
/priority medium

[2021-07-15 14:18] RichardJJG commented on #4016
/kind mkdocs

[2021-07-15 14:38] abrennan89 opened #4017 "Docs writer update for Kafka example PR"
Style updates and editing for https://github.com/knative/docs/pull/4012

[2021-07-16 09:35] RichardJJG opened #4021 "Copy the rest of the Kubernetes style guide to Knative style guide"
Where there aren't clashes, copy the rest of the Kubernetes style guide to the Knative style guide.

[2021-07-16 09:35] RichardJJG commented on #4021
/kind mkdocs

[2021-07-16 09:35] RichardJJG commented on #4021
/kind style

[2021-07-16 09:35] RichardJJG commented on #4021
/priority medium

[2021-07-16 11:08] RichardJJG opened #4022 "Style Guide: Document how to use feature state shortcodes"
This [Slack thread](https://knative.slack.com/archives/C9CV04DNJ/p1623911093061800) explains why we should probably bring back feature state shortcodes at some point.

If we do, we need to document how to use them in the style guide and/or the doc templates.

[2021-07-16 11:08] RichardJJG commented on #4022
/kind mkdocs

[2021-07-16 11:08] RichardJJG commented on #4022
/kind style

[2021-07-16 11:08] RichardJJG commented on #4022
/priority medium

[2021-07-16 11:14] julz commented on #4022
We did this in https://github.com/knative/docs/pull/3913 so maybe this issue is just about adding them to style guide

[2021-07-16 12:32] #4003 closed

[2021-07-16 13:01] RichardJJG opened #4023 "Link to all contribution docs from the Contribution README"
Add links to old contribution docs in the Contribution README:
docs/help/contributor/readme.md

[2021-07-16 13:01] RichardJJG commented on #4023
/priority medium

[2021-07-16 13:01] RichardJJG commented on #4023
/kind mkdocs

[2021-07-16 14:28] #4023 closed

[2021-07-16 15:30] abrennan89 commented on #3935
Last topic to do is load balancing: https://knative.dev/development/serving/load-balancing/
This is going to require splitting the docs into admin guide load balancing vs dev load balancing though, since there are some things that need to be configured using ConfigMaps

[2021-07-16 16:07] RichardJJG commented on #4021
/assign

[2021-07-16 19:04] #3917 closed

[2021-07-16 22:18] abrennan89 commented on #3882
Which release? 😄

[2021-07-16 22:26] #3686 closed

[2021-07-16 22:31] abrennan89 commented on #3762
@julz I feel like we should either move the Community section to the new site before working on this or pull out the samples from this section and add them elsewhere in the admin or dev guides?

[2021-07-16 22:37] julz commented on #3882
Heh, well, at the risk of massively tempting fate (😬), I'd say the transition has gone pretty well and we're unlikely to want to move back anytime soon so.. probably good to remove them any time now

[2021-07-16 23:00] abrennan89 commented on #1192
Ehhh I just noticed the docs at https://knative.dev/development/admin/install/serving/install-serving-with-yaml/#install-the-knative-serving-component actually use a URL that points to `knative-nightly` - have we then been telling people to install the nightly version this whole time, and if so should we not be doing that and be pointing to a stable, released version instead @evankanderson ?

[2021-07-16 23:03] julz commented on #1192
the development/ docs (i.e. pre-release from the drop-down) link to the nightly release (since the development docs might refer to features that aren't in the latest stable version), the docs/ docs (v0.24 in the dropdown) link to the current stable release (e.g. https://knative.dev/docs/admin/install/serving/install-serving-with-yaml/#install-the-knative-serving-component).

[2021-07-16 23:05] julz commented on #1192
having said that I do still think an explicit "How to install the nightly release" might be useful in docs/, rather than requiring people to know to flip the dropdown to pre-release, iyswim

[2021-07-17 15:17] evankanderson commented on #1192
It's possible that `kn quickstart` might resolve this, but I think it's worth a note somewhere about the availability of the GCS manifests, as that that allows automation to avoid the GitHub API rate limits, which are pretty tight.

[2021-07-19 13:37] #4021 closed

[2021-07-19 14:52] RichardJJG commented on #4016
Actually, this is already covered in the Procedure template and it's procedure-specific guidance. I don't want to over-load the Style page with topic-specific stuff so I'll close this issue.

[2021-07-19 14:52] #4016 closed

[2021-07-19 15:29] snneji commented on #3946
@julz do you think that we might want to upgrade mkdocs again in the future? If so, it might be useful to have this info somewhere that people can access it. If not, we can apply your suggestion.

[2021-07-20 08:30] RichardJJG commented on #3811
/assign

[2021-07-20 09:30] kimikuri opened #4032 "Broken link to "Knative contributor's guide" on knative/doc page"
## Expected Behavior
When I clicked the link to "Knative contributor's guide" in the "Get Started" section on https://github.com/knative/docs/,  https://github.com/knative/docs/blob/mkdocs/docs/help/contributor/README.md should be shown.

## Actual Behavior
The link gives a 404 (broken link).

## Steps to Reproduce the Problem
1. Click the link to "Knative contributor's guide" in the "Get Started"

[2021-07-20 10:25] RichardJJG opened #4033 "Style Guide: Establish standard for link paths"
A standard for writing link paths would help:
1. Keep the link checker bot happy.
2. Reduce likelihood of errors (yes, link checker can catch them, but they still slow us down)
3. Reduce cognitive load (it's easier to follow a standard than make a judgement call every time)

Add the following to the style guide:
* .md should be in every internal link
* we should link to files, not folders: `[Kafka

[2021-07-20 10:26] RichardJJG commented on #4033
/kind mkdocs

[2021-07-20 10:26] RichardJJG commented on #4033
/priority high

[2021-07-20 10:27] RichardJJG commented on #4033
/kind good-first-issue

[2021-07-20 10:29] RichardJJG opened #4034 "Describe proper link paths in Style Guide"
New rule: write `[<some-page>](./<some-page>.md)`, not `[<some-page>](../<some-page>)`

`[<some-page>](../<some-page>)` is functional, but the link checker doesn't like it and causes 404 errors in staging.

[2021-07-20 10:30] RichardJJG commented on #4034
/kind style

[2021-07-20 10:30] RichardJJG commented on #4034
/priority high

[2021-07-20 12:54] RichardJJG commented on #4033
/assign

[2021-07-20 16:02] RichardJJG commented on #4033
/unassign

[2021-07-20 16:49] RichardJJG opened #4037 "Enable checking for broken links by adding .md to all internal links"
Add `.md` to every relative link that needs it. (Do not add it to absolute links.)

**Detail:** Many of our internal links lack the `.md` extension. That made sense for Hugo but it doesn't for MkDocs and our link checker bot.

[2021-07-20 16:50] RichardJJG commented on #4037
/kind mkdocs

[2021-07-20 16:50] RichardJJG commented on #4037
/priority medium

[2021-07-20 17:15] RichardJJG opened #4038 "Add missing Community docs to the Docs repo"
Some of the docs in https://knative.dev/community/ do not actually exist in the docs repo. And they should. It might be a straight-forward copy-and-paste job, but check with Carlos Santana first.

The clearing up afterwards is likely to be more technical and require engineer assistance (again, Carlos might be your man for this).

[2021-07-20 17:15] RichardJJG commented on #4038
/kind mkdocs

[2021-07-20 17:15] RichardJJG commented on #4038
/kind infrastructure

[2021-07-20 17:21] RichardJJG commented on #4034
Duplicate of https://github.com/knative/docs/issues/4033

[2021-07-20 17:21] #4034 closed

[2021-07-20 20:57] psschwei opened #4040 "Update Getting Started guide to use Quickstart plugin"
Now that the first version of the [quickstart plugin](https://github.com/knative-sandbox/kn-plugin-quickstart/releases/tag/v0.1.0) has been released, we should update the [Getting Started guide](https://knative.dev/docs/getting-started/) to use it.

/assign @psschwei

[2021-07-21 01:44] nak3 commented on #4032
I think it makes sense. But let's double-check with @RichardJJG or somebody.
@RichardJJG Do you have any thoughts?

[2021-07-21 09:16] #3940 closed

[2021-07-21 09:18] RichardJJG commented on #4037
/assign

[2021-07-21 09:41] snneji commented on #4040
/priority medium

[2021-07-21 09:42] snneji commented on #4038
/priority medium

[2021-07-21 09:44] snneji commented on #4032
/priority high

[2021-07-21 09:44] snneji commented on #4032
/assign @RichardJJG

[2021-07-21 09:46] snneji commented on #4013
/priority high

[2021-07-21 09:48] snneji commented on #4013
I think it would be nice to also improve the link text in that section. They should be more descriptive than "here".

[2021-07-21 09:53] snneji commented on #3866
@abrennan89 sure, close it if you think it's OK.

[2021-07-21 09:56] snneji commented on #3769
/kind infrastructure
/priority medium

[2021-07-21 10:00] snneji commented on #3765
@psschwei is this still an issue?

[2021-07-21 10:02] snneji commented on #3765
/triage needs-user-imput

[2021-07-21 10:05] snneji commented on #3765
/triage needs-user-input

[2021-07-21 10:08] snneji commented on #3760
/priority medium

[2021-07-21 10:14] snneji commented on #3710
/priority medium

[2021-07-21 10:15] snneji commented on #3696
Done in #3767

[2021-07-21 10:15] #3696 closed

[2021-07-21 10:17] snneji commented on #3598
/priority nice-to-have

[2021-07-21 10:24] snneji commented on #3549
The [README](https://github.com/knative/docs#readme) also has a lot of broken links. I think it would be a good idea to fix those and remove stuff about Hugo while adding the Mkdocs instructions.

[2021-07-21 10:25] snneji commented on #3549
/priority medium

[2021-07-21 10:33] snneji commented on #3724
/priority nice-to-have

[2021-07-21 10:35] snneji commented on #3528
/priority high

[2021-07-21 10:36] snneji commented on #3528
/assign

[2021-07-21 10:38] snneji commented on #3507
/priority high
/assign

[2021-07-21 10:43] snneji commented on #3496
/priority high

[2021-07-21 10:49] snneji commented on #3461
/priority medium

[2021-07-21 10:53] snneji commented on #3451
/priority medium

[2021-07-21 10:57] snneji commented on #3447
Done

[2021-07-21 10:57] #3447 closed

[2021-07-21 10:58] snneji commented on #3446
Done

[2021-07-21 10:58] #3446 closed

[2021-07-21 11:01] snneji commented on #3445
/priority medium

[2021-07-21 11:14] snneji commented on #3372
/priority medium

[2021-07-21 11:19] snneji commented on #3352
/priority medium

[2021-07-21 11:23] snneji commented on #3278
@RichieEscarez does this still apply since we have moved to MkDocs?

[2021-07-21 11:24] snneji commented on #3278
/triage needs-user-input

[2021-07-21 11:28] snneji commented on #3264
/priority medium

[2021-07-21 11:32] snneji commented on #3263
Done in #3669

[2021-07-21 11:32] #3263 closed

[2021-07-21 11:52] snneji commented on #3956
Closing as this will be fixed as part of #3813.

[2021-07-21 11:52] #3956 closed

[2021-07-21 12:30] psschwei commented on #3765
No, it's working now.

[2021-07-21 12:30] #3765 closed

[2021-07-21 12:35] #3866 closed

[2021-07-21 14:40] RichardJJG opened #4043 "Fix all instances of ./ in relative links"
Fix all instances of ./

Detail: `[<some-page>](./<some-folder>/<some-page>)` is not valid (and the link checker doesn't like it -- it causes 404 errors in staging). The link must be one of the following:

`[<some-page>](../<some-folder>/<some-page>)`
`[<some-page>](<some-folder>/<some-page>)`

[2021-07-21 14:42] RichardJJG commented on #4043
/kind style
/priority medium

[2021-07-21 14:50] RichardJJG commented on #4043
/assign

[2021-07-22 14:16] omerbensaadon opened #4047 "Current contributor guide does not detail how the `nav.yml` works"
## Expected Behavior

1. When I look at the contributor guide, I see something explaining how to add a new page to docs
2. When I submit a "new file" PR, the template tells me how to add my page to the nav

## Actual Behavior
Neither of these things exist

## Additional Info
**Additional context**
See: https://github.com/knative/docs/pull/4012 for example of contributor friction

[2021-07-22 14:35] RichardJJG commented on #4032
Fixing now -- thank you, @kimikuri and @nak3!

[2021-07-22 14:54] #4043 closed

[2021-07-22 16:44] abrennan89 commented on #3710
I have some time on the calendar on the 2nd to talk to @devguyio re event sources, and Markus should be back next week to talk about the load balancing / autoscaling docs thing. Will update then, likely I'll finish this after my vacation in Aug.

[2021-07-22 16:46] snneji commented on #3811
Reopening because part 1 is done, part 2 still needs to be done.

[2021-07-22 18:18] RichieEscarez commented on #3278
Yes I would assume so but I don't know how the mkdocs builds work. @julz and @csantanapr can clarify

[2021-07-22 18:25] julz commented on #3278
In docs repo I think this is ok now since we have actions that can fail the PR if stuff fails (and PR previews to make sure stuff works). For community repo this is still a problem, though. We've been discussing revisiting the decision to generate (part of) the community docs from the community repo (while understanding why we wanted it done that way originally), which might be one simple way to f

[2021-07-22 19:12] trisberg opened #4050 "Add note for developer installation instructions"
**Describe the change you'd like to see**

I think there should be additional notice on the Getting started page for more advanced developer installations pointing to the Administration pages.

**Additional context**

I was used to using the instructions for the YAML install in the old docs. With the new layout I had a hard time finding them in the Administration section. Since I'm a developer, I

[2021-07-23 07:34] gyliu513 commented on #3941
@evankanderson sorry for late response, I want to had more discussion about this: considering the k8s already support scaling statefulset, can the knative be enhanced just align with k8s? Do not need to scale statefulset to 0, but just scale it between 1 and N, does this make sense?

[2021-07-23 10:55] #3971 closed

[2021-07-23 11:07] #4017 closed

[2021-07-23 14:08] snneji commented on #4033
Apparently linking to folders causes issues with the link checker. I vote that we should link to the `README.md` file.

[2021-07-23 14:09] snneji commented on #4013
/assign

[2021-07-23 14:13] RichardJJG commented on #4033
Confusingly, though, I find that putting the readme in the URL doesn't work.
For example, https://knative.dev/docs/eventing/readme.md gives a 404 whereas https://knative.dev/docs/eventing/ works fine.

Do you know the cause for this oddity, @julz?

[2021-07-23 14:31] snneji commented on #3813
@abrennan89 should I also edit the docs in the [/tutorials/katacoda](https://github.com/knative/docs/tree/mkdocs/tutorials/katacoda) directory? I'm not sure if I should edit them because they have `{{execute}}` after each YAML snippet. Also I'm not sure where these docs are published.

[2021-07-23 14:42] abrennan89 opened #4052 "Create proposal for how we document Knative sandbox add ons"
**Describe the change you'd like to see**
We should have a standard documentation process for how we document features added to knative-sandbox vs 3rd party features, e.g. event sources.

**Additional context**
WIP proposal doc: https://docs.google.com/document/d/1RvkDZbWQCUXnXkMjk1RSRR6998c_4bwP4HxW0WtXycg/edit?usp=sharing

[2021-07-23 15:12] snneji commented on #3445
/assign

[2021-07-23 15:27] abrennan89 commented on #3813
Probably better to ask @csantanapr or @sbawaska because I really don't know anything about the Katacoda stuff 🙂

[2021-07-23 16:21] julz commented on #4038
FWIW some of these should not be copied over, since they actually should live in community (e.g. governance etc) and we don't want two copies getting out of sync obviously. I'd suggest that we solve those cases by just literally linking to the GitHub view of those pages, and keeping just the bits that we really want converted in to a pretty website in docs (I don't think we _really_ need most/any

[2021-07-23 18:27] sbawaska commented on #3813
The katacoda tutorial runs inside linux containers, so no need to update them.

[2021-07-23 20:01] julz commented on #4033
I think it's just how static html websites work: the way directory-based URLs (i.e. `/eventing/`) are made is that when you access `/eventing/` the web server gives you`/eventing/index.html` (because obviously a directory itself isn't a file that can be shown). People tend to use the `/foo/` version of a link to not expose the details of the filename (e.g. so if you used `index.php` one day the li

[2021-07-26 09:31] RichardJJG commented on #4033
Thanks, @julz. The solution, then, is https://knative.dev/docs/eventing/index.html ?

That works and it satisfies link checker bot's demand to link only to files with extensions. (I'm guessing the link checker doesn't care specifically about `.md`, just that there's a valid extension.)

It also works when the file is named readme and not index: https://knative.dev/docs/index.html

[2021-07-26 09:36] julz commented on #4033
Sorry, no, Im being unclear. The link checker requires you to link to the _source_ file (that's why it requires an extension - not because it just likes extensions, because it looks at the source). Linking to directories, and linking to index, work because those URLs happen to be what the source files (ie the .md files) are built in to in the final output website, but the link checker can't easily

[2021-07-26 09:48] RichardJJG commented on #4033
@julz, ah, okay, so the rule would be to include .md in every path EXCEPT for index and readme files (for which you just write `index` without an extension)?

https://knative.dev/docs/<some-folder>/index
https://knative.dev/docs/<some-folder>/<some-file-that-is-not-index-or-readme>.md

As best I can tell this is the only standard for creating link paths that
a) works
b) appeases the link checker

[2021-07-26 09:52] julz commented on #4033
No I think the rule should always be to link to the .md file. In absolutely every case. Is there an example of one that doesn't work this way?

[2021-07-26 09:53] RichardJJG commented on #4033
Yes: https://knative.dev/docs/eventing/index.md

[2021-07-26 09:53] julz commented on #4033
To be clear you shouldn't ever add "knative.dev" since that will break PR previews when the site is built to a different url. Just link to the md file with a relative link.

[2021-07-26 09:55] julz commented on #4033
Can you show me the source link to that that doesn't work when you try to link to the md page?

[2021-07-26 09:59] julz commented on #4033
Oh wait in the example the link should be to README.md because that's what the page is (https://github.com/knative/docs/blob/mkdocs/docs/eventing/README.md), so `[foo](./README.md)`.

[2021-07-26 10:01] RichardJJG commented on #4033
True, but https://knative.dev/docs/eventing/readme.md doesn't work either. That said, you might have pointed out the problem with `https://knative.dev`. I'm going to try with a relative link in staging.

[2021-07-26 10:03] julz commented on #4033
Yeah just use a relative link to the readme.md, it'll be converted to the right link (ie the directory) in the build.

[2021-07-26 10:35] RichardJJG commented on #4033
**Learn more about Knative Eventing and Eventing Sources.** in https://knative.dev/docs/eventing/samples/ does seem to work, thanks, yeah.

When I make my own relative link to a readme.md file in staging it doesn't work, though, which is why I've been getting so confused. From what you're saying, though, I guess that's to be expected because of the whole site-loading business.

Ideally everything

[2021-07-26 10:41] julz commented on #4033
I'm not really sure what you mean by "staging" tbh. It should all just work. Can you give me an example of a source code link (in a markdown page, on a branch) that doesn't work, and exactly the circumstances in which it doesn't work?

[2021-07-26 10:54] RichardJJG commented on #4033
Ah, my trial link works now -- nevermind. That's strange. Maybe the site was just slow to load -- it loaded the link text but not the link functionality...? Thanks again for clarifying all this, @julz -- the standard really should be just to link to the specific file and extension. I can see now that that should be fine in all cases.

[2021-07-26 12:59] xinydev opened #4058 "Wrong version for strimzi-kafka-operator"
## Expected Behavior

https://knative.dev/docs/eventing/samples/kafka/

There is no `apiVersion: kafka.strimzi.io/v1beta2` in strimzi-kafka-operator(0.16.2)

strimzi spi:
https://github.com/strimzi/strimzi-kafka-operator/blob/5ccb3a88f7060a27d579d299f520639a7be81a37/api/src/main/java/io/strimzi/api/kafka/model/Kafka.java#L33-L52

We need upgrade to  0.20.0+(at least) for strimzi-kafka-operator for

[2021-07-26 13:52] julz opened #4060 "[EPIC] Create "Securing Kubernetes and Knative" section for admin guide"
**Describe the change you'd like to see**

We should document in the admin guide how to set up Knative and Kubernetes securely (referencing up-stream guides as appropriate).

Topics might include (this is an initial brainstorm, and we should think carefully about which bits belong in our docs vs being better as references to upstream docs):

 - Link to our threat model, to be clear about currently

[2021-07-26 13:59] #4013 closed

[2021-07-26 19:32] abrennan89 commented on #4058
Is this covered by https://github.com/knative/docs/pull/4028 already?
I think it's better to point out to upstream Strimzi docs rather than have to keep maintaining our own separate install docs for it.

[2021-07-27 01:18] xinydev commented on #4058
Thanks!
/close

[2021-07-27 01:18] #4058 closed

[2021-07-27 11:16] RichardJJG opened #4062 "Update the help/maintainer files"
1. Update the `help/maintainer` files (some content likely still applies, but the Hugo stuff, of course, doesn't).
1. Move the folder to within `docs/help/`.
1. Delete the old, and now empty, `help` folder.

[2021-07-27 11:17] RichardJJG commented on #4062
/kind infrastructure

[2021-07-27 11:17] RichardJJG commented on #4062
/priority medium

[2021-07-27 14:51] #3811 closed

[2021-07-27 17:14] omerbensaadon commented on #3769
https://github.com/cmacmackin/markdown-include#configuration
https://github.com/neurobin/mdx_include
https://facelessuser.github.io/pymdown-extensions/extensions/snippets/

[2021-07-28 09:58] RichardJJG commented on #3211
Addressing this issue within https://github.com/knative/docs/issues/4038

[2021-07-28 09:58] #3211 closed

[2021-07-28 10:24] RichardJJG commented on #3116
@xtreme-sameer-vohra, does this issue still apply?

[2021-07-28 14:53] omerbensaadon opened #4066 "Link to Code of Conduct from the docs repo"
**Describe the change you'd like to see**
As part of 1.0 efforts, we need to make sure each repo links to a Code of Conduct. See: https://knative.dev/community/contributing/code-of-conduct/

**Additional context**
See https://github.com/knative/community/issues/680

[2021-07-28 16:23] ReggieCarey opened #4067 "Suggested improvements to the Getting Started"
The Knative getting started documentation seems to be fixated on installing kubernetes using one method or another.  It would be nice to have that in a prerequisites section.  Getting knative installed on an existing K8s is probably more valuable to readers without the k8s installation tool specifics. Ideally, installation via kubectl or helm or via an operator as provided on operatorhub.io.

Knat

[2021-07-28 19:22] abrennan89 opened #4069 "[EPIC] Work on snippets infrastructure"
TO DO:

- [x] #3769
- [x] #4556
    -  Eg [offset functionality](https://github.com/cmacmackin/markdown-include#configuration) so that snippets can be included at the correct heading level in different places.
- [ ] #4557
- [ ] #4558
- [ ] QUESTION: Is a generic snippets folder the best way to store these, or should we have snippets organized by topic to make them easier to find?

This is just a b

[2021-07-28 19:24] abrennan89 commented on #3140
Any updates on this issue? Is there any actual documentation work still to be completed, or can this move to a different repo until there is?

[2021-07-28 19:25] abrennan89 commented on #3534
This probably has a dependency on #4052

[2021-07-28 19:27] abrennan89 commented on #3346
Closing this one since it's too general and could go on indefinitely 😄 let's start creating more targeted epics for particular user stories.
@rhuss if there are specific pages lacking `kn` commands / tabs, please raise them as individual issues in the repo so that they can be assigned to folks in manageable chunks.

[2021-07-28 19:27] #3346 closed

[2021-07-28 19:29] abrennan89 commented on #2810
@daisy-ycguo @rhuss is anyone currently working on this or should we unassign it and split up the issue into smaller tasks?

[2021-07-28 19:34] abrennan89 commented on #3703
I think wrt the snippets of code, `...` has been added now in each of them to show that it's just an excerpt, so that's acceptable IMO?

The code text > quotes does still need to be updated though.

[2021-07-28 19:37] abrennan89 commented on #3703
Relates to #3710 since this should be in the admin guide (configmap docs).

[2021-07-28 21:33] xtreme-sameer-vohra commented on #3116
Hey @RichardJJG
Thanks for following up on this.
The issue has changed but still applies, I updated the issue's body to reflect the current state (new website & Istio's deployment name change). Does it need more info/context ?

[2021-07-29 09:51] RichardJJG opened #4072 "Enshrine or discard definition list formatting"
Decide whether definition list formatting is part of Knative Style and then, if it is, document it in the style guide.

The alternative to definition list formatting is tables.

**Definition list formatting**
![image.png](https://images.zenhubusercontent.com/605a12ff4c53b93a49d79c12/19a2ee0f-71e5-47e7-bdc6-29671b10a4b4)

**Table formatting**
![image.png](https://images.zenhubusercontent.com/605a12

[2021-07-29 10:01] snneji commented on #4033
Just incase it wasn't mentioned here, I've found that the link to `README.md` is case sensitive. If you use lowercase `readme.md`, it won't work. Uppercase `README.md` works fine (unless you have other things wrong with your link, such as using the wrong folder structure at the beginning).

[2021-07-29 10:21] RichardJJG opened #4073 "Add "may" and "since" to Word and Phrase List"
Add "may" and "since" rules per Google Style:

https://developers.google.com/style/word-list#letter-m
https://developers.google.com/style/word-list#letter-s

[2021-07-29 10:22] RichardJJG commented on #4073
/assign

[2021-07-29 10:34] snneji opened #4074 "Add "below" and "above" to Knative word list"
The [Google style guide](https://developers.google.com/style/word-list?hl=en#letter-b) has a rule to avoid using "below" and "above" for accessibility reasons.

- [x] Add these rules to the [Knative word and phrase list](https://knative.dev/development/help/contributor/style-guide/word-and-phrase-list/).

- [x] Remove the word "below" from the rule in [Documenting YAML](https://knative.dev/develop

[2021-07-29 11:37] snneji opened #4077 "Style guide: add rule for using short flags in commands"
Add rule to the [Knative style guide](https://knative.dev/development/help/contributor/style-guide/documenting-code/) to use short version of flags when documenting commands where possible, i.e. using `-n` instead of `--namespace` or using `-f` instead of `--filename`.

For more information, see this [Slack thread](https://knative.slack.com/archives/C9CV04DNJ/p1627473723430000).

[2021-07-29 11:41] #4073 closed

[2021-07-29 12:24] omerbensaadon commented on #4067
Thank you for your deedback @ReggieCarey!

This sounds like two separate issues...

#1 Having an easy way to "Get Started" w/ Knative which isn't dependent on KinD

#2 Having completed install instructions for kn on Linux, instead of redirecting to release pages. (@psschwei I think has already done this or was going to...?)

I'll open an issue for #2, have I characterized #1 correctly?

[2021-07-29 12:27] omerbensaadon opened #4078 "Provide install instructions in for kn on Linux instead of linking to the release page"
**Describe the change you'd like to see**
It is a poor user experience to have this tab link out, it would be nice to have complete install instructions for Linux right in that tab, similar to what we do for homebrew.

**Additional context**
From #4067:

[2021-07-29 12:33] snneji opened #4079 "Style Guide: add to word list avoiding "should""
Add to the [Knative Word and Phrase list](https://knative.dev/development/help/contributor/style-guide/word-and-phrase-list/) to avoid using "should" in documentation.

[2021-07-29 15:29] psschwei commented on #4067
I don't believe I've touched the "Install `kn`" section of the docs in anything I've done. Perhaps we could link to the [client docs](https://github.com/knative/client/blob/main/docs/README.md#installing-kn) or maybe even update the Client release page to include a link to the install instructions?

I believe the first/third options are provided in the [administrator "Installing Knative" guide](ht

[2021-07-29 16:07] #3549 closed

[2021-07-29 16:12] RichardJJG commented on #4037
/unassign

[2021-07-29 16:24] RichardJJG commented on #4032
Fixed through https://github.com/knative/docs/pull/4049

[2021-07-29 16:24] #4032 closed

[2021-07-29 17:02] RichardJJG commented on #3116
Thanks, @xtreme-sameer-vohra -- I'm sure whoever starts work on it will reach out if they need to.

[2021-07-29 19:19] #3445 closed

[2021-07-30 04:08] nak3 opened #4081 "Add documentation for BYO certificate for custom domains"
**Describe the change you'd like to see**

- https://github.com/knative/serving/issues/10530 starts BYO certs but no documentation is available yet.
- We need a new doc page or add the procedure in https://knative.dev/docs/developer/serving/services/custom-domains/

[2021-07-30 07:36] Shashankft9 opened #4082 "Issues with kafka channel example doc"
Issues with https://knative.dev/docs/eventing/samples/kafka/channel/:
- the second step in the prerequisites should land to the actual kafka channel installation page: https://knative.dev/docs/admin/install/eventing/install-eventing-with-yaml/#optional-install-a-default-channel-messaging-layer
there should be a third prerequisite of installing a broker layer (mt channel based, since the doc demons

[2021-07-30 10:08] rhuss commented on #2810
@abrennan89 no, nobody is actually working on this issue (an @daisy-ycguo is not working on Knative anymore ...)

[2021-07-30 16:48] salaboy opened #4085 "Add a 'Books, courses, and videos' section in the documents"
There is a free full book from Manning about Knative in Action. This should be added front page of the website so new users are aware that there is a book available and it is free to download.

**Describe the change you'd like to see**
I wanna know and see the book when I first enter the knative.dev website.

**Additional context**
Links in the docs about other books mentioning Knative should be a

[2021-07-30 16:56] snneji opened #4087 "Apply new style rule"
The [Knative word and phrase list](https://knative.dev/development/help/contributor/style-guide/word-and-phrase-list/) has a new rule to avoid using "below" and "above" to refer to a position in the docs.

Search the Knative docs for uses of these words and replace "below" with "following" or "later", and "above" with "earlier" or "preceding".

[2021-07-30 16:58] julz commented on #4085
Looks like the book is [not free](https://www.manning.com/books/knative-in-action) unless you [give your email to VMware](https://tanzu.vmware.com/content/ebooks/knative-in-action) so I'm not sure whether linking to the free version is "right" on the community site or not (though it's a great book and a great thing that VMware is sponsoring it!). Maybe this is something steering should weigh in on

[2021-07-30 16:58] snneji commented on #4074
Created a new issue to apply this change https://github.com/knative/docs/issues/4087

[2021-07-30 17:00] salaboy commented on #4085
@julz we might separate this into two things then..
- Showing that the book exists and promote it.. I believe this is a big thing for Open Source projects, to show that a big editorial has a published book.
- Having a link that says that it is sponsored if you want to download it.

[2021-07-30 17:21] Shashankft9 opened #4088 "Adding a comparison of eventing models (channels vs brokers) on website"
**Describe the change you'd like to see**
- comparison of eventing models (channel-subscription vs broker-trigger), when to use them, complexity etc

this gdoc can be used: https://docs.google.com/document/d/15sLf_1HMV94gdP_FW0P2Ldo62jjCu8PbmNOGQ1wSBfc/edit
and spec doc here:
https://github.com/knative/specs/blob/main/specs/eventing/overview.md

**Additional context**
the above links came up in th

[2021-07-30 17:22] julz commented on #4085
Ack, I'm just a little jittery, personally, about links to commercial/vendor stuff directly from the community home page. Looking at Istio and Kubernetes' websites, neither of them seem to link to a book. Rust does, but it's literally a html version included directly on the website that's both free and unsponsored.

[2021-07-30 17:39] snneji opened #4089 "Should be able to use <username> rather than {username} in hello world sample"
**Describe the change you'd like to see**
I would like to be able to use `<>` instead of `{}` for placeholders in code samples. (This is to align with the Knative style rule for [referencing variables in code blocks](https://knative.dev/docs/help/contributor/style-guide/documenting-code/#referencing-variables-in-code-blocks).)

**Additional context**
I tried to update a code sample in PR #4083 to

[2021-07-30 17:40] snneji commented on #4089
/assign @julz

[2021-07-30 18:11] salaboy commented on #4085
@julz let's make sure that the fact that is sponsored doesn't block people from finding a valuable resource.

[2021-07-30 18:42] julz commented on #4085
Indeed so would I (and [often do](https://twitter.com/doctor_julz/status/1251082754613182464?s=20) fwiw), but not on the front page of the community site, personally. Would we link to IBM Cloud's knative service (for example) from the front page, since it offers a free tier and is a fast way to get started, or eg TriggerMesh's [free training course](https://www.triggermesh.com/knative-eventing-tra

[2021-08-02 14:45] JeffNeff opened #4092 "Broken Link in Event Registry Docs"
## Expected Behavior

## Actual Behavior
The link for `Installing Knative` is broken within the [Event Registry Documentation](https://knative.dev/docs/eventing/event-registry/)
## Steps to Reproduce the Problem

1. Navigate to https://knative.dev/docs/eventing/event-registry/
1. Scroll to the bottom locating the `Next steps` section
1. Select the `Installing Knative` link

## Additional Info
**Ad

[2021-08-02 20:33] abrennan89 commented on #4092
It actually doesn't make sense for this to be a next step anyway, since this page indirectly has Eventing as a prerequisite.

This link should be removed and a prerequisites section should be added to the page instead.
There's also some other general cleanup here to do, wrt formatting, broken numbering, etc.

[2021-08-02 20:34] psschwei commented on #4078
/assign

[2021-08-02 20:41] abrennan89 commented on #4085
Agree with @julz here, I don't think it's a good idea to promote a vendor-sponsored resource on the main community site.

+1 for that, I don't see an issue there. Let's repurpose this issue to track that instead.

[2021-08-02 20:45] abrennan89 commented on #4082
Added this to the epic; folks seem to be reporting a lot of similar issues for the Kafka pages.

[2021-08-02 20:49] #4074 closed

[2021-08-02 22:19] #3703 closed

[2021-08-03 14:49] salaboy commented on #4085
Let's add the topic to the Steering committee agenda so they discuss this.
But 100% behind the idea of Books, Courses and probably videos as well.

[2021-08-03 14:50] salaboy commented on #4085
Great to see @abrennan89 also joining here!

[2021-08-04 16:27] Shashankft9 commented on #4082
hey @abrennan89, I think most of these issues can be covered in https://github.com/knative/docs/pull/4028 - so I shared my opinions on there.
Except the second point about subscription, maybe that can go in a separate PR if required.

[2021-08-04 18:51] csantanapr commented on #4072
I vote for Tables !

[2021-08-04 18:53] csantanapr opened #4097 "Make blog release notes for v0.25"
On every release we do a blog post with all changes together in one place like https://knative.dev/blog/2021/06/29/v0.24-release/

[2021-08-04 18:53] csantanapr commented on #4097
/assign

[2021-08-04 20:21] abrennan89 commented on #3268
@n3wscott are there any other issues that need to be added to this epic, or is it finished once Samia is done with the last open issue?

[2021-08-05 10:16] julz opened #4101 "Search doesn't work correctly on Hugo-based pages (community, blog)"
## Expected Behavior

Search works on community and blogs pages

## Actual Behavior

Search 404s on community and blogs pages

## Steps to Reproduce the Problem

1. Go to https://knative.dev/community/
2. Find the search box (it's in the navigation sidebar)
3. Use your keyboard or another input device to enter text (it's often located near your fingers) and submit the form

## Additional Info

Thi

[2021-08-05 10:16] julz commented on #4101
/assign

[2021-08-05 13:37] #3078 closed

[2021-08-05 13:37] #3783 closed

[2021-08-05 13:37] #3079 closed

[2021-08-09 07:20] vaikas commented on #4085
I think we should have a section like that for sure. One question is what the vetting process for getting things in there will be. I could for example foresee something like, open a PR, maybe if somebody can vounch for it, they stamp it, if we don't have that, perhaps somebody should be assigned to check it out before adding?
Regardless, I added to SC agenda for this weeks meeting.
Thanks all!

[2021-08-09 12:55] #4092 closed

[2021-08-09 14:39] RichardJJG commented on #4087
/assign

[2021-08-09 16:11] snneji commented on #4087
/unassign

[2021-08-09 16:13] RichardJJG commented on #4087
Oh, sorry, I completely missed that you were assigned to this, @snneji. I wasn't trying to usurp you. =P

[2021-08-09 17:44] shinigambit commented on #4081
/assign

[2021-08-09 20:50] csantanapr opened #4103 "[security] Document RBAC resources for knative"
The docs should have a page that goes over all the RBAC (ie ClusterRoles, ClusterRoleBindings, Roles, RoleBindings) resources being created when the user install knative.

As an admin installing knative in their production cluster, not having the correct information on which RBAC resources are being created, and the service accounts being granted a certain level of permissions to resources cluster

[2021-08-09 20:55] csantanapr commented on #4103
/assign @evankanderson

[2021-08-10 10:17] snneji commented on #4087
That's fine! I've got my name on too much anyway. I'm happy you picked this up.

[2021-08-10 10:21] #4078 closed

[2021-08-10 16:40] nainaz commented on #4072
I vote for Tables !

[2021-08-10 16:45] RichardJJG commented on #4072
Tables received unanimous support in the [DUX Working Group meeting](https://docs.google.com/document/d/1NSlGHen5Dh6c2A0LGavGWibddWrlSLV_PbEbMpNjSTU).
Explicitly state that we use tables for lists of definitions.

[2021-08-11 09:18] #2078 closed

[2021-08-11 09:28] snneji commented on #4103
@csantanapr how important do you think this one is? we've given this a medium but that was just a guess.

[2021-08-11 09:48] RichardJJG commented on #4082
@abrennan89, did this issue get resolved as part #4028?

[2021-08-11 14:28] mikaelasanchez opened #4105 "Broken links"
## Expected Behavior
- Redirect me to https://knative.dev/docs/serving/autoscaling/concurrency when clicking **concurrency**
- Redirect me to https://knative.dev/docs/serving/autoscaling/concurrency#target-utilization when clicking **target utilisation**

## Actual Behavior
Page not found

## Steps to Reproduce the Problem
Go to https://knative.dev/docs/serving/load-balancing/target-burst-capacity

[2021-08-11 14:49] sankalp-r commented on #4079
@snneji I would like to work on this.

[2021-08-12 08:52] RichardJJG commented on #4047
/assign

[2021-08-12 13:13] RichardJJG opened #4108 "Style Guide: Add standard reference for our Docs repo to the Word and Phrase List"
An engineer (antoineco) pointed out that we refer to our Docs repository differently throughout the docs and that maybe we should standardize. And, sure, why not?

| Correct Term                                   | Incorrect Term(s)                             |
|----------------------------------|-----------------------------------|
| \`knative/docs\` GitHub repository | Knative Docs repo<br>Docs

[2021-08-12 16:38] vaikas commented on #4085
Let's do this! @pmorie @vaikas will be on point from SC to make forward progress.

[2021-08-12 16:39] pmorie commented on #4085
i'm supportive of making this available for download, great opportunity to help folks learn and spread the project around.

[2021-08-12 16:44] pmorie commented on #4085
hrm i wonder if we can avoid the need to hand out one's email

[2021-08-12 16:51] #4047 closed

[2021-08-12 17:04] vaikas commented on #4085
I think the proposed plan is to:
 * Create a new section in the documents "Books, courses, and videos" (or sumtin like that)
 * Add things there that we already know of and have been vetted. I think for something like a book that requires an email address, we could make a note of that in the link, description, etc.
 * Define a process for adding new content. Mainly I'm just wanting to make sure th

[2021-08-12 17:07] julz commented on #4085
Yeah @pmorie the email capture is the bit that made me a bit uncomfortable with it being on the home page, personally.

@vaikas that plan sounds perfect to me 👌

[2021-08-12 18:51] #4087 closed

[2021-08-12 21:08] pmorie commented on #4085
@julz if we got the email capture removed how would you feel

[2021-08-12 21:51] julz commented on #4085
My main hesitation is the email capture so without that I'd personally be a lot more comfortable with it (we'd still be linking to only one specific vendor's product-branded page from the home page; how much - if at all - we should care about that Id defer entirely to y'all on steering though 😊)

I think @vaikas's approach of having a generic resources page with a clear policy for how stuff gets a

[2021-08-13 11:47] nak3 opened #4111 "Page not found for "Using a custom domain" and "Using subroutes" in knative.dev/docs/serving/"
## Expected Behavior

- `Using a custom domain` should point to https://knative.dev/docs/serving/using-a-custom-domain/
- `Using subroutes` should be changed to `Traffic Management` with the link https://knative.dev/docs/developer/serving/traffic-management/

## Actual Behavior

- The link for "Using a custom domain" and "Using subroutes" in https://knative.dev/docs/serving/#configuration-and-netw

[2021-08-16 09:24] salaboy commented on #4085
I am super happy to see this moving forward, happy to help as well.  I am 100% agree with @julz and @vaikas proposal

[2021-08-16 10:13] vaikas commented on #4085
Started looking at this and realized we already have "Knative books" section here that already lists the book mentioned and the "Knative cookbook":
https://knative.dev/docs/getting-started/next-steps/

How do folks feel just adding "Knative courses" and "Knative videos" there? I think we might want to add a note to the "Knative in action" that states that it requires an email registration?

[2021-08-16 14:51] omerbensaadon commented on #4085
I think if we're too sensitive about playing "favorites" between vendors we will lose sight of the greater purpose for our collaboration.

We are a community of contributors most of whom happen to work for one of the major contributing vendors. Though we may sometimes have competing outcomes in the short term, **in the longterm, we all want the same thing: the Knative spec as a standard for Server

[2021-08-16 14:51] omerbensaadon commented on #4085
FWIW I agree with @vaikas's approach above, not throwing a wrench in here

[2021-08-16 15:10] vaikas commented on #4085
@omerbensaadon I'm fine with putting it elsewhere, just when I started adding it, noticed that we already had two books there :)

[2021-08-16 15:12] vaikas commented on #4085
We have the 'What's next' when you click 'Getting started', so it's one click from the entry page. Should we just add a 'Knative Resources' section that's at the same level as 'What's next' and move the existing links there?

[2021-08-16 15:27] julz commented on #4085
Completely ack those goals @omerbensaadon and I hope you know I share them! I just don't personally think it's a good look (or gives the impression we want to give, as a project, to potential users, or those considering contributing to or building on the project) to prominently and directly link to a single vendor's branded email capture page from the home page no matter how awesome the book, or h

[2021-08-16 15:33] salaboy commented on #4085
@vaikas at least from my personal experience that section is too deep and not easy to find

[2021-08-16 17:32] JeffNeff opened #4112 "`About sinks` Page Should Contain Open Source Examples"
**Describe the change you'd like to see**
I would like to see more open-source examples of Sinks included with the explanation of Sinks in the developer documentation, specifically `/docs/developer/eventing/sinks`. Triggermesh has two examples [here](https://github.com/triggermesh/bringyourown/tree/master/targets) that I think would be a good fit, however, I would like to see several more included

[2021-08-16 18:01] abrennan89 commented on #4112
Hey @JeffNeff - thanks for raising this!
I think for now it's OK to add your PR and let it close this issue, but maybe this can be raised in the TOC or DUX WG calls directly to get some input from others on whether they have other examples to follow up with.
I'm wary of keeping issues open where there is no plan to work on them in the community, or for example if nobody else has any other sinks to

[2021-08-16 18:10] abrennan89 commented on #3612
@julz since the website has been updated to include the note about older versions not being maintained, I think it's OK to close this and just focus on 0.24+ going forward. Feel free to reopen if you think this is incorrect. Thanks.

[2021-08-16 18:10] #3612 closed

[2021-08-16 18:12] abrennan89 commented on #3878
I personally don't think it's that much overhead to just manually add this; I think we just need proper contrib docs about specifically how to use snippets for our docs, and this note could be added there to copy/paste.
WDYT @snneji @RichardJJG ?

[2021-08-16 18:15] #3546 closed

[2021-08-16 18:15] abrennan89 commented on #3863
Hey @snneji - thanks for taking this on.
Is there a PR open for this that can be linked, or do you need any help from devs etc. to complete this?

[2021-08-16 18:19] abrennan89 commented on #3809
@xtreme-sameer-vohra this looks like it's taken care of now by the **Trusted by:** section?
If so, could you close the issue please? I'm not sure if there's a PR to link for this that was missed @aijamalnk ?

[2021-08-16 18:39] abrennan89 commented on #3942
@evankanderson could you or do you know anyone who could help with automation for this?

[2021-08-16 18:42] #3868 closed

[2021-08-16 18:43] abrennan89 commented on #3847
@snneji @RichardJJG would either of you be able to work on this one?

[2021-08-16 18:48] abrennan89 commented on #3946
@julz @snneji is there any action required here or can we close this one?

[2021-08-16 18:49] abrennan89 commented on #3997
Hi @soham283 - do you still plan to work on this issue?
Let me know if you're stuck or need help. Thanks.

[2021-08-16 18:52] abrennan89 commented on #3853
I think more info is required here, since I could only find the comment about fixing it for minikube: https://github.com/kubernetes/minikube/issues/1568#issuecomment-308674617

@lionelvillard can you please provide an explanation of what CNI is, why it needs to be set, and how to set it? Thanks.

[2021-08-16 19:28] #3882 closed

[2021-08-16 19:32] abrennan89 commented on #3496
Bump @rhuss - any progress on this one? Thanks!

[2021-08-16 19:33] julz commented on #3946
I think I'd vote we close for now. Anyone getting mkdocs now will have an acceptable version. If we need to help folks upgrade mkdocs in the future we can add some instructions then (I'd hope it will be a while before that, though).

[2021-08-16 19:38] abrennan89 commented on #4108
We should probably do this for all repos actually, e.g. knative sandbox, others?

[2021-08-16 19:44] abrennan89 commented on #4111
Good catch. Some of the other links on https://knative.dev/docs/serving/using-a-custom-domain/ are also broken so these can be fixed together.

[2021-08-16 19:47] abrennan89 commented on #4072
Related: #3837 - our table formatting needs to be cleaned up a bit

[2021-08-16 19:48] abrennan89 commented on #4072
There was also this discussion https://github.com/knative/docs/issues/3865 about it, but I guess we're going with tables then.

[2021-08-16 19:55] #3946 closed

[2021-08-17 02:08] evankanderson commented on #3942
Should this be a reference to PR ##, or a reference to the new/substantially changed pages?

What's the criteria for "submitted by an engineer"? Is this an allowlist of people whose PRs don't trigger this behavior, a `/command`, or something else?

Any thoughts on what constitutes a "substantial" change that might be worth review? Markdown pages with at least 40% changed content?

Once we know the

[2021-08-17 10:37] snneji commented on #4037
/assign

[2021-08-17 17:13] #3278 closed

[2021-08-17 17:30] csantanapr commented on #4097
Thanks cool @RichardJJG and @snneji

[2021-08-17 19:15] csantanapr opened #4117 "Provide 0.25 docs version on knative.dev website"
We need to add to the drop down `0.25` of the docs (mkdocs based) at the top.

And remove version `0.21`, this version is hugo based
![image](https://user-images.githubusercontent.com/1094878/129786510-b4d50c99-d132-4b23-a528-03c4eb13c261.png)

After this change `0.25`, `0.24`, and `pre-release` will be in mkdocs format. The versions `0.23` and `0.22` will be in hugo format.

[2021-08-17 19:15] csantanapr commented on #4117
@julz would this something you can handle?

[2021-08-17 19:43] julz commented on #4117
I can help with this, but it may make sense for me to work with someone else because I did this last release so there's a danger of us ending up with only one person knowing how to release if I keep doing it :) In theory it should be very easy now 🤞 (tho no doubt we'll hit some snags since it's the second time ever)

[2021-08-18 00:38] A0xStealth opened #4118 "Code block syntax incorrectly displayed"
## Expected Behavior
Triple backtick Code block syntax with language should not be included when creating a code block

## Actual Behavior
Triple backtick code block syntax with language is included

## Steps to Reproduce the Problem

1. Go to: https://knative.dev/docs/admin/collecting-metrics/#make-the-prometheus-instance-public
2. Review "Enter the command" instructions
3. Triple backtick with l

[2021-08-18 01:39] csantanapr commented on #4117
I can do it this time for 0.25

Do you have instructions or notes some where?

[2021-08-18 02:13] orionHong opened #4119 "Reference links broken in "getting-started-knative-app.md""
## Expected Behavior
`Resource Types documentation` should point to https://github.com/knative/specs/blob/main/specs/serving/overview.md#service.

`Serving spec documentation` should point to https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md.

## Actual Behavior
`Resource Types documentation` points to https://github.com/knative/serving/blob/main/docs/spec/o

[2021-08-18 07:45] julz commented on #4117
These should be the instructions: https://hackmd.io/WWcVF60dT_m4Clv26v8V4w?both (and https://github.com/knative/docs/issues/3978 is the issue to incorporate in to the contributor's guide, which we should do).

I imagine the "edit build.sh on main" step will need a little bit more work than it will in a couple releases (when the Hugo stuff scrolls out) since we still have some hacks in there for th

[2021-08-18 08:23] RichardJJG commented on #3942
@evankanderson

The PR -- it's not efficient to review an entire page when the PR only changes, say, a short paragraph.

I like the allowlist idea. It's automatic and the list would be short, unambiguous, and easily updated.

[2021-08-18 08:48] RichardJJG commented on #3847
Yep, and we've assigned this high priority.

[2021-08-18 09:45] snneji commented on #4119
/assign

[2021-08-18 09:46] snneji commented on #4118
/assign

[2021-08-18 12:20] #4081 closed

[2021-08-18 13:48] #3813 closed

[2021-08-18 13:57] #3847 closed

[2021-08-18 16:29] RichardJJG commented on #3878
I think for the GitHub Action to be worthwhile it would need to be very clever about always using correct indentation, not overwriting text, etc, etc, and also seldom (or never) require updating. If such a GitHub Action can be super clever and also require next to zero technical overhead forever, I would prefer it over manually adding that note.

Otherwise I think we have to just manually add the

[2021-08-18 19:44] abrennan89 commented on #2085
I think we should close this one since it seems that https://github.com/knative/docs/issues/3523 supersedes it, and it has been open for over 1.5 years with no meaningful action or eng input provided to create docs. Please bring the discussion to the DUX WG if you feel that there's something important stemming from this that needs to be raised.

[2021-08-18 19:44] #2085 closed

[2021-08-18 20:10] wiggitywhitney opened #4124 "Hyperlink navigates to "Page Not Found""
## Expected Behavior

Clicking the link  "Eventing Components" on the webpage https://knative.dev/docs/getting-started/first-broker/ in my browser would take me to a list of eventing components

## Actual Behavior

Clicking the link  "Eventing Components" on the webpage https://knative.dev/docs/getting-started/first-broker/ in my browser takes me to "Page Not Found"

## Steps to Reproduce the Prob

[2021-08-18 21:02] abrennan89 opened #4126 "Style guide update: Don't include md filename in HTML links"
Our style guide should include guidelines on using `a href` HTML links in docs without the .md filenames as an exception.
(Slack thread: https://knative.slack.com/archives/C9CV04DNJ/p1629320206058100)

For example, using a link like:
[code]
will work to have a link that opens in a new window. If you add the README.md as follows:
[code]
it will break the link.

cc @RichardJJG @snneji @omerbensaadon

[2021-08-19 06:26] reoring opened #4128 "An example of creating secret that missing docker-registry parameter"
## Expected Behavior

The Kubernetes secret resource is created successfully.

## Actual Behavior

Run commands below. This command is written in a document at https://knative.dev/docs/developer/serving/deploying-from-private-registry/#procedure

[code]

[code]

## Steps to Reproduce the Problem

1. Setup Kubernetes.
1. Setup knative
1. Run kubectl create secret command

## Additional Info

[2021-08-19 08:32] vaikas commented on #2105
Thanks for the ping @abrennan89 I'll try to get to it either this week or next.

[2021-08-19 08:54] RichardJJG commented on #4126
I recommend changing the rule to simply: "Always use Markdown instead of HTML."
I count only 25 HTML links in the Docs folder; it's an easy clean-up issue.

@julz, there's no reason to ever write links in HTML, right? MkDocs is built for Markdown, after all.

[2021-08-19 09:34] julz commented on #4126
The only use case I know of (I don't know if there's a markdown way of doing this -- there might be, I can research a bit) is to open links in a new window (like @abrennan89's example of `target="_blank"` above)

[2021-08-19 09:40] julz commented on #4126
Neat! Turns out there _is_ a way to do this in mkdocs markdown -- looks like we can use a link like this:

[code]

Assuming that works we could put that in the style guide instead.

[2021-08-19 09:52] RichardJJG opened #4129 "Re-write HTML links in Markdown"
**Describe the change you'd like to see**
Re-write all the HTML links in the Docs folder in Markdown. I count 25 HTML links at present.

HTML links that specify opening a new window can be written in Markdown:
`<a href="../blah/README" target="blank_">link</a>`
becomes
`[link](../blah/README.md){target=_blank}`

**Reasoning**
The simpler and more uniform we can make links, the better: easier maint

[2021-08-19 09:54] RichardJJG commented on #4126
Thanks as ever for the quick response, @julz!

I've created a related clean-up issue: https://github.com/knative/docs/issues/4129#issue-974482749.

[2021-08-19 12:07] snneji commented on #4129
@RichardJJG Should we also update the style guide to mention this?

[2021-08-19 12:44] RichardJJG commented on #4129
Yes, the relevant issue is https://github.com/knative/docs/issues/4033.

[2021-08-19 13:32] snneji opened #4131 "Make sure there are no broken links"
Ensure all current links are formatted in a way that the link checker can discover broken links.

[2021-08-19 13:41] #4131 closed

[2021-08-19 14:16] snneji opened #4132 "Add .md to internal links in the admin folder"
Add `.md` to every relative link in the files in the [`docs/admin/`](https://github.com/knative/docs/tree/mkdocs/docs/admin) folder. (Do not add it to absolute links.)

**Detail:** Many of our internal links lack the .md extension. That made sense for Hugo but it doesn't for MkDocs and our link checker bot.

[2021-08-19 14:16] snneji opened #4133 "Add .md to internal links in the serving folder"
Add `.md` to every relative link in the files in the [`docs/serving/`](https://github.com/knative/docs/tree/mkdocs/docs/serving) folder. (Do not add it to absolute links.)

**Detail:** Many of our internal links lack the .md extension. That made sense for Hugo but it doesn't for MkDocs and our link checker bot.

[2021-08-19 14:16] snneji opened #4134 "Add .md to internal links in the eventing folder"
Add `.md` to every relative link in the files in the [`docs/eventing/`](https://github.com/knative/docs/tree/mkdocs/docs/eventing) folder. (Do not add it to absolute links.)

**Detail:** Many of our internal links lack the .md extension. That made sense for Hugo but it doesn't for MkDocs and our link checker bot.

[2021-08-19 14:17] snneji opened #4135 "Add .md to internal links in the developer folder"

[2021-08-19 14:19] snneji opened #4136 "Add .md to internal links in the client and getting-started folders"
Add `.md` to every relative link in files in the [`docs/client/`](https://github.com/knative/docs/tree/mkdocs/docs/client) and [`docs/getting-started/`](https://github.com/knative/docs/tree/mkdocs/docs/getting-started) folders. (Do not add it to absolute links.)

**Detail:** Many of our internal links lack the .md extension. That made sense for Hugo but it doesn't for MkDocs and our link checker b

[2021-08-19 14:41] abrennan89 commented on #4126
This is awesome folks thank you! FYI @omerbensaadon 🙂
I will close this issue now since we have #4129 instead

[2021-08-19 14:41] #4126 closed

[2021-08-19 16:06] RichardJJG commented on #4108
Yep, good idea. I've added a note to the rule saying just that.

[2021-08-19 16:14] #4108 closed

[2021-08-19 16:40] #4124 closed

[2021-08-19 18:19] bennidhamma opened #4140 "Knative Kafka install link broken"
## Expected Behavior
There is a link in this doc page (https://knative.dev/docs/developer/eventing/sources/kafka-source/) to another link that is not valid, for how to install the kafka source for knative:

"Pre-requisites: A Kubernetes cluster with Knative Kafka Source installed."

that link is: https://knative.dev/docs/developer/admin/install/

which I would expect to take me to a place where i

[2021-08-19 23:26] aijamalnk commented on #3809
@abrennan89 this issue is about end user logos. Our Knative content work and case studies should address it. I will close the issue once we deliver them.

[2021-08-20 11:19] RichardJJG commented on #4072
/assign

[2021-08-20 11:19] RichardJJG commented on #4033
/assign

[2021-08-20 11:28] #4128 closed

[2021-08-20 13:42] snneji opened #4145 "Delete duplicate page"
There are two versions of [Deploying images from a private container registry](https://knative.dev/docs/developer/serving/deploying-from-private-registry/) in the repo `/docs/serving/deploying-from-private-registry.md` and `/docs/developer/serving/deploying-from-private-registry.md`.

Remove the version in the Serving guide and add any updates to that file to the version in the developer guide.

[2021-08-20 14:04] snneji opened #4147 "Work out what to do with the Getting started with app deployment page"
[Getting started with app deployment](https://knative.dev/docs/serving/getting-started-knative-app/) is not in the left hand nav.

Check the info in "Getting started with app deployment" against what's in the developer guide under Services (`docs/developer/serving/services`).

If the information is covered there, delete the file. If the info is not covered, move the file to that location and updat

[2021-08-20 16:52] snneji opened #4149 "Delete the old _index page"
We are no longer using the old website index page (https://knative.dev/docs/_index/).

Check whether the info is either mentioned elsewhere or whether it's not really necessary, and then delete the page.

[2021-08-20 18:53] omerbensaadon opened #4150 "Remove yellow banner from website"
## Expected Behavior
Now that we've released the new version of the website, we can remove the yellow banner from the top of the site.

## Actual Behavior
It's still there

## Steps to Reproduce the Problem

1. Go to knative.dev
2. Look at top of page
3. Become visibly upset

[2021-08-22 14:02] csantanapr commented on #4117
/assign

[2021-08-23 15:34] snneji commented on #4069
@abrennan89 Has there been a decision on which snippets plugin we want to use? If so can we close https://github.com/knative/docs/issues/3769?

[2021-08-24 08:16] #4117 closed

[2021-08-24 10:47] snneji commented on #4079
/ok-to-test

[2021-08-24 10:48] snneji commented on #4079
Hi @sankalp-r! Sorry I missed your message. Do you still want to work on this one?

[2021-08-24 12:11] snneji commented on #3863
Hi @abrennan89, I need to work out how to present this info. Will submit a PR soon.

[2021-08-24 13:11] #4033 closed

[2021-08-24 14:01] RichardJJG commented on #4135
/assign

[2021-08-24 14:43] RichardJJG commented on #4135
Good regex queries to find links that need changing:

Markdown: \]\((?!http|#)
HTML: <insert-here>

[2021-08-24 16:56] RichardJJG commented on #4038
See the notes from 2021/08/17 in https://docs.google.com/document/d/1NSlGHen5Dh6c2A0LGavGWibddWrlSLV_PbEbMpNjSTU/

[2021-08-24 19:19] snneji commented on #4105
/assign

[2021-08-24 20:23] #4150 closed

[2021-08-25 05:22] sankalp-r commented on #4079
@snneji Yes, I am still interested to work.

Correct Term: shall
Incorrect Term: should
Notes: Use "shall" if some requirement is mandatory.

@snneji Is this fine?

[2021-08-25 09:51] RichardJJG commented on #4079
@sankalp-r, it's simply best to avoid "should" as far as possible.

We can copy the [Google Style rule](https://developers.google.com/style/word-list#letter-s) but be less verbose about it.

[2021-08-25 10:11] #4118 closed

[2021-08-25 10:23] RichardJJG commented on #3988
@julz, what is meant by "By default" [here](https://github.com/knative/docs/pull/3876/files#diff-2b7fae481c93e3be7bd05a1f51b5c9f4cbb001d199f4d5af3fd0651e37605b09R23)?

Is there some other method for doing this that we need to document? It might make the reader wonder if they have the default setup.

[2021-08-25 10:32] #4105 closed

[2021-08-25 10:32] #4133 closed

[2021-08-25 10:32] julz commented on #3988
the alternative is the stuff in the "tip" section just below that paragraph

[2021-08-25 10:33] RichardJJG commented on #3988
Thanks, thought so. We'll re-jig things a bit.

[2021-08-25 10:57] RichardJJG commented on #3988
We're moving this [text](https://github.com/knative/docs/pull/3876/files#diff-2b7fae481c93e3be7bd05a1f51b5c9f4cbb001d199f4d5af3fd0651e37605b09R42) outside the tip box to be part of the procedure. Is it worth adding an example snippet of the config map?

[2021-08-25 11:17] RichardJJG commented on #3988
/assign

[2021-08-25 11:18] RichardJJG commented on #3988
/assign @snneji

[2021-08-25 12:56] RichardJJG commented on #4135
I changed the `using-subroutes` link to `traffic-management.md` because that's already a redirect.

[2021-08-25 14:09] #4136 closed

[2021-08-26 09:56] adamfowleruk opened #4159 "NATSS channel YAML URL gives a 404"
## Expected Behavior
YAML URL correct

## Actual Behavior
404

## Steps to Reproduce the Problem

1. Go to page
1. Copy/paste NATS channel kubectl apply command and run it
1. failure

## Additional Info
**Additional context**
Add any other context about the problem here.

Think it should be: https://raw.githubusercontent.com/knative-sandbox/eventing-natss/release-0.25/config/300-natss-channel.yaml

[2021-08-26 19:27] lionelvillard opened #4163 "knative.dev/eventing-contrib redirect is missing"
## Expected Behavior
importing knative.dev/eventing-contrib should work.

## Actual Behavior

Getting:

[code]

## Steps to Reproduce the Problem

1. cleanup go mod cache
1. hack/update-deps.sh --upgrade in eventing-kafka
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2021-08-26 21:11] #4163 closed, assigned to lionelvillard

[2021-08-27 14:59] snneji opened #4167 "Clean up PR #4080"
Edit https://github.com/knative/docs/pull/4080 for style. Ensure new text follows the [Knative Style Guide](https://knative.dev/development/help/contributor/#style).

There are some suggested edits in the comments.

[2021-08-31 18:26] #4134 closed

[2021-08-31 19:16] #4140 closed

[2021-08-31 20:37] pierDipi commented on #4159
cc @zhaojizhuang

[2021-09-01 02:46] zhaojizhuang commented on #4159
/assign

[2021-09-01 08:10] RichardJJG commented on #4132
/assign

[2021-09-01 08:11] RichardJJG commented on #4132
Markdown: `\]\((?!http|#)`
HTML: `<a href=.(?!http|#)`

[2021-09-01 12:32] #4132 closed

[2021-09-01 12:41] rhuss commented on #3496
@abrennan89 thanks for the reminder. I know you will be angry with me 🙇 :) , but could you give me a quick pointer where to add the PR for the documentation ? (I mean to which file) . Thanks and apologies to bug you with this question, but the location is probably not https://knative.dev/docs/client/ ?

[2021-09-01 13:14] abrennan89 commented on #3496
lol I'm not angry, don't worry 😄 thanks for getting back to me!
I would be inclined to say https://knative.dev/docs/developer/serving/services/custom-domains/ since you're right, there's not really a client reference guide so to speak, we tend to just add `kn` commands where they fit in procedures. Feel free to ping me on Slack if you need any additional help.

[2021-09-01 13:36] RichardJJG commented on #4129
/assign

[2021-09-02 11:36] #4129 closed

[2021-09-02 13:26] RichardJJG commented on #3451
/assign

[2021-09-02 14:23] snneji commented on #4037
Epic completed. All sub-issues closed.

[2021-09-02 14:23] #4037 closed

[2021-09-02 15:51] abrennan89 commented on #3787
@omerbensaadon this page is actually gone now I think, we can probably close this issue since we're doing card sort and other strategy stuff

[2021-09-02 15:54] abrennan89 commented on #3523
@evankanderson is the plan still to implement this? Any updates?

[2021-09-02 15:56] abrennan89 commented on #3674
@julz @omerbensaadon is this still relevant? I think Omer doesn't have access to this anymore?

[2021-09-02 15:57] omerbensaadon commented on #3674
I still have access to this, but it seems like we're not using it... Closing

[2021-09-02 15:57] #3674 closed

[2021-09-02 16:42] abrennan89 commented on #3598
I think this one is out of scope of the docs repo, since this information as per @novahe 's comment is usually contained in the development readme or the related engineering repo, and is more related to dev contribution than end user docs.

[2021-09-02 16:42] #3598 closed

[2021-09-03 11:14] RafalSkolasinski opened #4177 "wrong version of kubernetes in prerequisites.md"
According to

https://github.com/knative/eventing/blob/0c41e6d42127ec22cfc17c565dd90d2b89e578f8/vendor/knative.dev/pkg/version/version.go#L33-L36

the minimum version of kubernetes now is 0.19.

The bump from 0.18 seems to happened around knative 0.24 release.

This is not reflected in the https://github.com/knative/docs/blob/mkdocs/docs/snippets/prerequisites.md
nor on the webiste:
- https://knat

[2021-09-03 11:17] cardil opened #4178 "A subject example for SinkBinding of CronJob uses invalid image and deprecated API version"
A subject example for SinkBinding of CronJob uses invalid image

https://github.com/knative/docs/blob/001cd9bd29f345114fe324446cb0eb194f771d28/docs/developer/eventing/sources/sinkbinding/getting-started.md#L157

[code]

It also uses the deprecated API version of `batch/v1beta1`. The `batch/v1` should be used instead.

https://github.com/knative/docs/blob/001cd9bd29f345114fe324446cb0eb194f771d28/do

[2021-09-03 11:26] cardil commented on #4178
For image problem we could link to https://knative.dev/docs/eventing/samples/container-source/#prepare-the-heartbeats-image but building that image is super cumbersome. It is used in multiple places in the docs, just like the event-display image is.

I think we should prebuild heartbeats image and publish it the same as we are publishing event-display image.

[2021-09-03 11:31] cardil commented on #4178
/cc @abrennan89

[2021-09-03 13:46] #4097 closed

[2021-09-03 19:11] cardil commented on #4178
Hmm, This page has even more problems.

https://github.com/knative/docs/blob/001cd9bd29f345114fe324446cb0eb194f771d28/docs/developer/eventing/sources/sinkbinding/getting-started.md#L212-L216

This command also seems not to work. There are a couple of problems with it:

- subject here uses `Job:batch/v1` but above example uses `CronJob:batch/v1beta1`
- subject uses label selector of `app=heartbeat-

[2021-09-03 22:06] cardil commented on #4178
I think resolving this must be preceded by fixing of https://github.com/knative/eventing/issues/5710.

[2021-09-03 22:40] lionelvillard opened #4181 "[KafkaSource] document defaulting configmap"
**Describe the change you'd like to see**
The KafkaSource defaulting webhook now supports adding the KEDA annotations stored in a configmap.

**Additional context**
Add any other context or screenshots about the feature request here.
See https://github.com/knative-sandbox/eventing-kafka/pull/855

[2021-09-04 11:34] antoineco opened #4183 "Broker Configuration page needs a few clarifications"
**Describe the change you'd like to see**

The way Brokers are configured is confusing by nature and this is nothing the docs can change. However, there are a few things in the current page which IMO either bring confusion or are plain inaccurate.

I proposed some of those changes in a PR, but they triggered requests for changes which, if applied, would have turned ambiguous statements into untrue

[2021-09-06 11:32] RichardJJG commented on #3451
Awaiting answers to: https://knative.slack.com/archives/C017X0PFC0P/p1630927912038000

[2021-09-06 14:53] RichardJJG commented on #3451
Answers received and acted on

[2021-09-06 15:58] #3451 closed

[2021-09-07 11:13] RichardJJG commented on #4066
/assign

[2021-09-07 13:28] #4066 closed

[2021-09-07 14:12] RichardJJG commented on #4167
/assign

[2021-09-07 15:31] #3988 closed

[2021-09-07 15:35] csantanapr opened #4188 "Update documentation to use existing heartbeats image"
We are now releasing a container image for heartbeats `gcr.io/knative-nightly/knative.dev/eventing/cmd/heartbeats`

We should update all the samples and references to the image, and instead of a placeholder or tell the user to build the image the yaml should have the URL to the existing image for the user to try the example right away.

[2021-09-07 15:37] #4040 closed

[2021-09-07 15:37] sebgoa commented on #4177
you are right, it is even in the release notes for 0.24: https://github.com/knative/serving/releases/tag/v0.24.0

[2021-09-07 15:40] julz commented on #4060
/assign

[2021-09-07 15:47] sebgoa commented on #4119
@snneji are you working on this ? you can ask @JeffNeff to fix it :)

[2021-09-07 15:50] sebgoa commented on #4159
@adamfowleruk which page are you referring to ? If I go to https://knative.dev/docs/eventing/channels/channels-crds/ the NATSS link points to a README file that loads fine.

[2021-09-07 16:03] #4145 closed

[2021-09-07 17:13] csantanapr opened #4191 "wrong version of kubernetes required when installing knative"
Starting with version 0.24 the minimum version of kubernetes required is 1.19

In the docs today we say the minimum version is 1.18 this is wrong for 0.24, 0.25, and pre-release/main

In addition of `mkdocs` branch we need to update the text in the release branches `release-0.24` and `release-0.25` also.

This is handle by a mkdocs snippet here https://github.com/knative/docs/blob/mkdocs/docs/snip

[2021-09-07 17:15] csantanapr commented on #4191
Here is the source of truth what versions is the minum
https://github.com/knative/community/blob/main/mechanics/RELEASE-VERSIONING-PRINCIPLES.md#knative-serving-version-table
https://github.com/knative/community/blob/main/mechanics/RELEASE-VERSIONING-PRINCIPLES.md#knative-eventing-version-table

[2021-09-07 17:52] pierDipi commented on #4159
Adam is referring to https://knative.dev/docs/admin/install/eventing/install-eventing-with-yaml/, that page links to [1] which should rather be [2]

1. https://github.com/knative-sandbox/eventing-natss/releases/download/v0.25.0/300-natss-channel.yaml
2. https://github.com/knative-sandbox/eventing-natss/releases/download/v0.25.0/eventing-natss.yaml

This was fixed by https://github.com/knative/docs

[2021-09-07 17:52] #4159 closed

[2021-09-07 17:55] pierDipi commented on #4159
Backport https://github.com/knative/docs/pull/4192

[2021-09-07 22:04] GarrettPoore opened #4197 "Eventing Getting Started Guide Clarifications"
**Describe the change you'd like to see**
I'm new to knative and just walked through the getting started guide and ran into a few things that could have been clearer.

- The guide doesn't mention exactly what needs installed, just that knative eventing needs installed. I installed the only required yamls from the [admin guide](https://knative.dev/docs/admin/install/eventing/install-eventing-with-y

[2021-09-08 07:28] rhuss commented on #3496
@abrennan89 to which source file does https://knative.dev/docs/developer/serving/services/custom-domains/  translate ? I can't find it in the docs repo. There I only can find https://github.com/knative/docs/blob/mkdocs/docs/serving/using-a-custom-domain.md which is a completely different document.

[2021-09-08 09:17] RichardJJG commented on #4197
I think we can solve this simply by re-naming this section to "Tour" or "Knative in a Nutshell" or something similar. "Getting Started" sounds too much like "Install Knative", which isn't what this section is really about.

[2021-09-08 10:08] snneji commented on #4191
Hi, I'm going to close as it is a duplicate of https://github.com/knative/docs/issues/4177.

[2021-09-08 10:08] #4191 closed

[2021-09-08 10:47] snneji opened #4201 "Add .md to internal links in the help folder"
Add `.md` to every relative link in the files in the [`docs/help/`](https://github.com/knative/docs/tree/mkdocs/docs/help) folder. (Do not add it to absolute links.)

**Detail:** Many of our internal links lack the .md extension. That made sense for Hugo but it doesn't for MkDocs and our link checker bot.

[2021-09-08 15:11] abrennan89 commented on #3496
@rhuss are you sure you're on the correct branch in git and that you have pulled / rebased any changes from upstream? I just checked on my local repo and it's definitely under docs/docs/developer/serving/services/custom-domains.md
![image](https://user-images.githubusercontent.com/40172997/132535989-d45f0635-fdb6-40a1-ab7b-4e275e67a4eb.png)

[2021-09-08 15:40] rhuss commented on #3496
Thanks !

I was on the `main` branch (which does not contain that file), but it looks like that `mkdocs` is the default branch in the docs repo. Is there a particular reason why the `main` branch is not used as default, like for the others Knative repos ?

<img width="886" alt="Screen Shot 2021-09-08 at 17 39 35" src="https://user-images.githubusercontent.com/99080/132540820-e3ba64e0-bf1b-4bd1-a0a

[2021-09-08 15:43] JeffNeff opened #4203 "BYO Sinks Feature Request"
**Describe the change you'd like to see**
A guide for BYO Sources [exists](https://knative.dev/docs/developer/eventing/sources/creating-event-sources/). It would be nice to see a guide made for Sink's as well.

[2021-09-08 16:02] abrennan89 commented on #3496
It's because it just hasn't been moved over yet, the plan was to use mkdocs temporarily.
@omerbensaadon any plans to move us back to the main branch?

[2021-09-08 16:42] JeffNeff commented on #4149
/assign

[2021-09-08 16:45] JeffNeff commented on #4119
/assign

[2021-09-08 16:45] JeffNeff commented on #4178
/assign

[2021-09-08 17:04] snneji commented on #4177
Already dealt with in #4196

[2021-09-08 19:11] #4177 closed

[2021-09-09 12:22] snneji commented on #4119
I'm not working on it right now so I don't mind unassigning myself.

[2021-09-09 12:22] snneji commented on #4119
Thanks for picking this up @JeffNeff :)

[2021-09-09 13:14] RichardJJG commented on #4201
/assign

[2021-09-09 13:17] RichardJJG commented on #4201
Use these regex expressions to find relative links:
Markdown: `\]\((?!http|#)`
HTML: `<a href=.(?!http|#)`

[2021-09-09 13:24] snneji opened #4212 "Fixed links to be cherry picked back to 0.25"
We recently fixed a bunch of links in the mkdocs branch. These fixes need to be in the 0.25 branch as well. Cherry pick the commits from the following PRs:

- #4123
- #4139
- #4157
- #4170
- #4171
- #4173

[2021-09-09 13:27] #4212 closed

[2021-09-09 13:51] #4201 closed

[2021-09-09 14:02] RichardJJG opened #4219 "Add .md extension to internal links in the docs folder (top level)"
Add `.md` to every relative link in the files in the [`docs`](https://github.com/knative/docs/tree/mkdocs/docs) folder, ignoring sub-folders. (Do not add it to absolute links.)

**Detail:** Many of our internal links lack the .md extension. That made sense for Hugo but it doesn't for MkDocs and our link checker bot.

[2021-09-09 14:03] RichardJJG commented on #4219
Use these regex expressions to find relative links:
Markdown: `\]\((?!http|#)`
HTML: `<a href=.(?!http|#)`

[2021-09-09 15:26] snneji commented on #4178
Hi @cardil, the first step of this procedure is to [create a namespace](https://knative.dev/docs/developer/eventing/sources/sinkbinding/getting-started/#create-a-namespace) for the SinkBinding and all related resources. The example namespace in this step is `sinkbinding-example`.

Is the problem that the instructions for Creating a subject and Creating a sink do not include a namespace? If so, wou

[2021-09-09 16:27] RichardJJG commented on #4219
I'll simply delete the internal link `serving/gke-assigning-static-ip-address/` because I really can't see where this should point. I've fixed dozens and dozens of internal links, but that one has me stumped.

[2021-09-09 18:34] abrennan89 opened #4220 "Remove vendor specific example"
RE https://knative.slack.com/archives/CU9DGL4FM/p1630605291030400
The sample here https://knative.dev/development/eventing/samples/iot-core/ should be removed

[2021-09-09 18:45] #4220 closed

[2021-09-09 18:54] abrennan89 commented on #3942
+1

I think it could just be me, you and Samia for now until Max starts really contributing to the project.

+1 - I would rather we just open issues to review everything than miss a paragraph of text getting a review because it was just shy of the mark for triggering this. It's no harm to just close issues for smaller changes that don't need a review.

[2021-09-09 18:55] #4079 closed

[2021-09-09 19:04] abrennan89 commented on #4050
There is actually an existing note on the first page that links to the admin guide: https://knative.dev/docs/getting-started/#before-you-begin

Our structure might not be clear enough at the minute overall; we are revisiting whether having the admin vs dev guides is a good idea and will be looking into better structures soon.

[2021-09-09 19:04] #4050 closed

[2021-09-09 19:14] abrennan89 commented on #3710
I feel like we've come to a point where we are realizing the issues / limitations of this type of structure.
It's apparent by looking at what's left in the serving and eventing doc sections, where there are things that don't necessarily fit in one persona or the other, e.g. autoscaling has its own section outside of developer or admin topics, because there are things in there that touch both: http

[2021-09-09 19:14] #3710 closed

[2021-09-09 19:15] #3935 closed

[2021-09-09 19:43] abrennan89 commented on #3044
@devguyio any updates on this one yet? Should we unassign it and ask the @knative/eventing-wg-leads for help on it if you don't have bandwidth? It's been open for almost a year now so I'd like to get it closed 🙂

[2021-09-09 19:45] abrennan89 commented on #3461
@julz any update on this one?

[2021-09-10 09:00] julz commented on #3461
Ach, sorry, this dropped off my list. Is there a template I should start from now or should I just pick some doc that seems similar and start from there?

[2021-09-10 13:09] evankanderson commented on #3810
I think linking to https://github.com/knative/community/issues/696 is probably the right plan now.

[2021-09-10 13:20] abrennan89 commented on #3461
@julz current templates list is here: https://knative.dev/docs/help/contributor/#templates 🙂

[2021-09-10 13:59] lionelvillard commented on #3853
I'm not a networking guy. Maybe @markusthoemmes can help?

[2021-09-10 15:43] snneji commented on #3942
I think the requirements mentioned in the comments so far are good enough to get this going. We can test the automation for a while and make changes if necessary if there are things we don't like about how it works.

[2021-09-10 15:56] snneji commented on #3528
@joshuawilson are you referring to the instructions on https://knative.dev/docs/developer/eventing/sources/ping-source/? If so, that page has changed a lot recently. Do you think this issue still applies?

[2021-09-10 17:05] snneji opened #4225 "Clean up PR #4209"
Edit https://github.com/knative/docs/pull/4209 for style and fix formatting. Ensure the text follows the [Knative Style Guide](https://knative.dev/development/help/contributor/#style).

[2021-09-10 17:12] #3496 closed

[2021-09-10 18:19] snneji commented on #4147
Fixed in https://github.com/knative/docs/pull/4226

[2021-09-10 18:19] #4147 closed

[2021-09-13 11:21] joshuawilson commented on #3528
Looks like it is using a different version of the ping-source so it should work.

[2021-09-13 19:50] abrennan89 commented on #1192
Closing this since the issue is 2 years old and these docs technically are available on the development version of the site. We can revisit if this or something similar is requested by users in the future.

[2021-09-13 19:50] #1192 closed

[2021-09-13 20:17] abrennan89 commented on #2810
I don't think that this should be one single guide for CLI, but let's see what comes out of Omer's card sorts in terms of docs structure.
I think this should've been filed as individual issues per topic, not one giant issue, but I've converted the list to checkboxes. I think in the meantime let's cross off what already exists in docs and fill any gaps, then the kn content in the site can be restru

[2021-09-13 21:29] lionelvillard commented on #2105
seems like it's now documented here: https://github.com/knative/specs/blob/main/specs/eventing/data-plane.md#derived-reply-events

[2021-09-13 21:50] abrennan89 commented on #2105
Thanks @lionelvillard - I think we'll also need some actual examples of YAML though? It's not clear to me _where_ / how a user actually sets these from this doc?

[2021-09-13 22:09] lionelvillard commented on #2105
I think the original issue is about the event receiver can send back a CloudEvent reply. Maybe I'm reading this wrong.

Since this is about event delivery, seems like the right place to add a section about reply is here: https://knative.dev/docs/developer/eventing/event-delivery/

WDYT?

[2021-09-14 11:19] snneji opened #4230 "[Epic] Reorganise docs content"
The navigation for the site is a bit confusing at the moment. The site has (at least) the following issues:

1. It's hard to find crucial content such as installing.
2. Half the docs are in admin/dev guides and the other half in eventing/serving guides. We need to decide which strategy makes more sense.

To deal with this we need to:
- [x] #4296
- [x] #4386
- [x] #4380
- [x] #4344
- [x] #4376
- [x

[2021-09-14 13:45] snneji commented on #4225
/assign

[2021-09-14 15:28] #4219 closed

[2021-09-14 15:50] dhruvbehl opened #4233 "Issues with collector.yaml file in the Metrics documentation of Administration guide"
## Expected Behavior
Currently i see 2 issues in the documentation of Metrics section under the Administration guide and 1 issue in the https://github.com/knative/docs/blob/mkdocs/docs/admin/collecting-metrics/collector.yaml file

1. Currently the github project has already migrated to main branch naming convention. Hence changes to be made in the https://github.com/knative/docs/blob/mkdocs/docs/a

[2021-09-14 15:51] dhruvbehl commented on #4233
If the bug seems legit i have a solution that i would like to discuss and contribute back to the project.

[2021-09-14 18:08] csantanapr commented on #4233
Hi please submit a PR with your suggested fixes.

[2021-09-14 18:09] csantanapr commented on #4233
Don't why `health_check` which is a string would cause an error
[code]
But create a PR and we can discuss in the PR

cc @evankanderson

[2021-09-14 18:18] dhruvbehl commented on #4233
Currently in the doc the collector.yaml referenced is https://raw.githubusercontent.com/knative/docs/master/docs/install/collecting-metrics/collector.yaml which currently seems to be down (404).

I suggest to use either

https://raw.githubusercontent.com/knative/docs/main/docs/install/collecting-metrics/collector.yaml (from the main branch)
or
https://github.com/knative/docs/blob/mkdocs/docs/admin

[2021-09-14 18:50] dhruvbehl commented on #4233
@csantanapr @evankanderson Please have a look at this PR draft https://github.com/knative/docs/pull/4235

[2021-09-14 19:20] csantanapr commented on #4233
Use the mkdocs branch, that the current one

[2021-09-14 19:24] dhruvbehl commented on #4233
The documentation published on still uses the collector.yaml from the master branch.

Refer step (2) of Set up the collector section under https://knative.dev/docs/admin/collecting-metrics/

Please have a look at my suggestion in the PR raised

[2021-09-15 15:17] omerbensaadon commented on #3810
I think this is done RE: what Evan said

[2021-09-15 15:17] #3810 closed

[2021-09-15 16:43] #3862 closed

[2021-09-15 17:19] csantanapr opened #4243 "Migrate blog from hugo to mkdocs"
With the [recent changes](https://twitter.com/squidfunk/status/1437456678753026049?s=20) and example for mkdocs-material blog. I think we can take a stab on converting the [knative blog](https://knative.dev/blog/) from hugo to mkdocs.

The mkdocs-material blog => https://squidfunk.github.io/mkdocs-material/blog/

[2021-09-15 17:19] csantanapr commented on #4243
cc @omerbensaadon

[2021-09-15 17:19] csantanapr commented on #4243
cc @julz

[2021-09-15 17:33] julz commented on #4243
Oh wow 😍.

[2021-09-15 18:51] psschwei opened #4245 "Include minimum system requirements in Getting Started guide(s)"
**Describe the change you'd like to see**
In the various getting started guides (developer, cluster admin) it would be nice to provide a set of minimum system recommendations (cpu/ram, number of nodes, etc.) within the documentation.

**Additional context**
This was surfaced via a user who was unable to run the KonK script locally due to not having enough system resources and suggested this additi

[2021-09-15 19:16] psschwei commented on #4243
I should be able to help with this

[2021-09-15 19:41] omerbensaadon commented on #4243
Legend! thank you Paul

On Wed, Sep 15, 2021 at 3:16 PM Paul Schweigert ***@***.***>
wrote:

[2021-09-15 23:21] xtreme-sameer-vohra opened #4247 ""Setting up a custom domain" assumes Istio"
**Describe the change you'd like to see**
The instructions on [Setting up a custom domain](https://knative.dev/docs/serving/using-a-custom-domain/) don't assume Istio as the installed networking layer.

Either providing generic instructions that apply regardless of network layer choice or explicitly labelling Istio specific instructions as such.

**Additional context**
Unfortunately sections like

[2021-09-15 23:28] xtreme-sameer-vohra opened #4248 ""Configuring the ingress gateway" should be marked as Istio specific"
**Describe the change you'd like to see**
The [Configuring the ingress gateway](https://knative.dev/docs/serving/setting-up-custom-ingress-gateway/) page is confusing as it is not clear that its only applicable if using Istio as the networking layer for Knative and not applicable otherwise.

It would be great to have it be specific, something like;
`Configuring the ingress gatetway if using Istio`

[2021-09-15 23:43] xtreme-sameer-vohra opened #4249 ""Access Request Traces" doc links only work for Istio"
**Describe the change you'd like to see**
[Access Request Traces](https://knative.dev/docs/serving/accessing-traces/) has links to Zipkin and Jaeger that only work if deployed to an Istio specific namespace eg "http://localhost:8001/api/v1/namespaces/istio-system/services/zipkin:9411/proxy/zipkin/", which assumes `istio-system` as the namespace.

Ideally, our instructions should be generic and wor

[2021-09-16 10:57] dhruvbehl opened #4252 "Typographical mistake in collecting metrics section of Administration guide"
## Expected Behavior
The line with a typographical mistake can be restructured to "For example, high request latency means that the requests are taking too much time to be fulfilled."

## Actual Behavior
Under section https://knative.dev/docs/admin/collecting-metrics/serving-metrics/metrics/#activator there is a typographical mistake in the line "For example high request latency means that request

[2021-09-16 10:58] dhruvbehl commented on #4252
Will be a raiding a PR for the fix

[2021-09-16 10:59] dhruvbehl commented on #4233
Will be raising a PR for the fix soon

[2021-09-16 13:35] #4225 closed

[2021-09-17 10:01] julz opened #4255 "Document ingress class annotation"
**Describe the change you'd like to see**

Document - I'd suggest a page called "Configuring the Ingress Class for a specific Knative Service" or "Overriding the default Ingress Class for a Knative Service" but docs writer input greatly appreciated here) how a user can use the [`network.knative.dev/ingress.class`](https://github.com/knative/serving/blob/d207fa3a92ace22f56ad123a75809a8b0495c88b/ven

[2021-09-17 10:53] #4249 closed

[2021-09-17 14:28] nak3 opened #4256 "Explain what is different between customizing domain by DomainMapping and config-domain"
As mentioned in https://knative.slack.com/archives/C9CV04DNJ/p1631885543076700, currently we have two sections to customize domain:
- https://knative.dev/docs/developer/serving/services/custom-domains/
- https://knative.dev/docs/serving/using-a-custom-domain/

We should explain more clearly what are different between them.

I am planning to change them as:
- Add a short explanation of the use case

[2021-09-17 19:16] abrennan89 commented on #3773
@knative/eventing-wg-leads @matzew can ya'll provide details for this?

[2021-09-17 19:24] lionelvillard opened #4257 "Document default-ch-webhook (default-channel) configmap"
**Describe the change you'd like to see**
A clear and concise description of what you want to happen.

Document how administrator can configure the [channel defaulter](https://github.com/knative/eventing/blob/main/config/core/configmaps/default-channel.yaml)

[2021-09-17 19:48] #3794 closed

[2021-09-17 20:00] abrennan89 commented on #3865
It was actually decided some time ago I think to not use definition lists, so this will stay in tables 😞

Still need to move that one section to the dev guide though.

[2021-09-17 20:31] abrennan89 commented on #4257
I think this is already documented here https://knative.dev/docs/admin/install/operator/configuring-eventing-cr/#setting-a-default-channel ?

[2021-09-17 20:33] abrennan89 commented on #4257
Maybe that's just for the Operator though. I never really understood why the CRs only seem to be in the sections for the Operator; does this not apply with a YAML install etc the same way?

[2021-09-17 20:36] #3865 closed

[2021-09-17 20:38] abrennan89 commented on #4245
cc @omerbensaadon

[2021-09-17 20:39] abrennan89 commented on #4247
@nak3 any chance you could work on this one when you are making the other updates as part of https://github.com/knative/docs/issues/4256?

[2021-09-18 01:24] #3107 closed

[2021-09-18 14:54] rupipal opened #4261 "Typo in Knative Quickstart"
The command should be kn-quickstart (hyphen to be included) in the step "Install Knative and Kubernetes on a local Docker Daemon using..." under section 'Install the Knative "Quickstart" environment.'   Here, https://knative.dev/docs/getting-started/ .

[2021-09-19 16:58] JeffNeff commented on #4261
/assign

[2021-09-19 23:26] nak3 commented on #4247
/assign
Sure, I will try to fix it.

[2021-09-20 08:41] salaboy commented on #4257
@lionelvillard I do agree with @abrennan89, it feels like we need to move that section also to the YAML based instructions.
Would that solve this issue? I am happy to send a PR with that change now

[2021-09-20 08:57] salaboy commented on #4257
@lionelvillard @abrennan89 can you please advise if the PR that I've sent make sense to solve this issue?

[2021-09-20 09:17] salaboy commented on #4257
I've added a section to the admin guide as well so we can have broker and channel defaults in there.

[2021-09-20 09:32] salaboy commented on #4255
Ok, looking a bit at the existing documentation this sounds like it should go here:

https://github.com/knative/docs/tree/main/docs/developer/serving/services

And that the section will look pretty much like: https://github.com/knative/docs/blob/main/docs/developer/serving/services/private-services.md

I will start a PR to review the content, as it is not 100% clear how much needs to be documented

[2021-09-20 10:11] salaboy commented on #4255
@julz @abrennan89 I've just created a PR to get this started, comments/feedback appreciated.

[2021-09-20 12:40] lionelvillard commented on #4257
Thanks @abrennan89. IMO the operator doc should reference the configmap documentation as the operator is just a wrapper around the configmap.

@salaboy thanks for the PR. Looking...

[2021-09-20 15:28] GarrettPoore opened #4265 "Document How Resources Work"
**Describe the change you'd like to see**
Most of the docs go into how to configure various resources, but there is very little why or how everything works or fits together. There are some small flow charts around, but looking between [Channells](https://knative.dev/docs/eventing/channels/) and [Brokers](https://knative.dev/docs/eventing/broker/) as a newbie it's hard to figure out how all of this

[2021-09-20 21:06] psschwei commented on #4261
While the binary is named `kn-quickstart`, `kn quickstart` should work if (1) you're using v0.25 of the `kn` client, and (2) the `kn-quickstart` binary is on your PATH. @rupipal is that not working for you?

[2021-09-21 07:02] rupipal commented on #4261
Hi @psschwei  It didn't work for me. Following https://github.com/knative-sandbox/kn-plugin-quickstart/blob/release-0.3/README.md , the first thing I did was to try by placing it in ~/.config/kn/plugins. So I placed it in/usr/local/bin, which is already on the PATH as kn-quickstart. And my client kn version is v0.25.

[2021-09-21 07:19] dhruvbehl commented on #4233
@csantanapr @evankanderson @abrennan89 Please review the fix https://github.com/knative/docs/pull/4267

[2021-09-21 07:26] dhruvbehl commented on #4252
@abrennan89 Please review https://github.com/knative/docs/pull/4268

[2021-09-21 07:57] dhruvbehl opened #4269 "Dead links found under the Knative operator section"
## Expected Behavior
The ```Getting started``` hyperlink should point to https://knative.dev/docs/getting-started/ and the ```Deploying images from a private container registry``` hyperlink to https://knative.dev/docs/developer/serving/deploying-from-private-registry/

## Actual Behavior
Currently both the hyperlinks ie ```Getting Started``` and ```Deploying images from a private container registr

[2021-09-21 07:58] dhruvbehl commented on #4269
Will be submitting a PR for the fix soon

[2021-09-21 07:59] dhruvbehl commented on #4269
/assign

[2021-09-21 13:10] abrennan89 commented on #4233
It's actually the main branch now so any PR might need to be updated

[2021-09-21 15:42] #3461 closed

[2021-09-21 15:55] #4255 closed

[2021-09-21 17:34] abrennan89 commented on #3760
cc @nak3 @houshengbo @markusthoemmes is this something you can maybe help to provide information for?

[2021-09-21 17:56] dhruvbehl commented on #4269
raised a PR https://github.com/knative/docs/pull/4270 to fix the issue

[2021-09-21 18:06] #3787 closed

[2021-09-21 18:17] rupipal commented on #4261
Hi Paul,

 Thank you for taking it up.

 I am using Debian 11 Bullseye.

 I'v tried to reproduce whatever had happend. By repeating.

 With the executable kn-quickstart in ~/.config/kin/plugins,

kn plugins list does show this plugin as placed. So, when I run kn quickstart kind,

Running Knative Quickstart using Kind
✅ Checking dependencies...
    Kind version is: kind v0.11.1 go1.16.4 linux/amd64

[2021-09-22 01:43] #3507 closed

[2021-09-22 03:58] rupipal commented on #4261
Hi Paul,
Thanks for your response.

I think running kn plugins list doesn't show kn recognizes a particular plugin. I haven't taken a look at the kn code; it is merely throwing up the list of plugins from ~/.config/kin/plugins because it has that property plugin.path-lookup (deprecated but not not disabled; it should lead kn to the list; something like that). For it to recognize a particular plugi

[2021-09-22 04:27] rupipal commented on #4261
Hello Paul,

Wait a sec :).  It does work in  /usr/local/bin like kn quickstart kind too. But with sudo. I think I didn't try sudo in the first few attempts. Here,

$ sudo kn quickstart kind
[sudo] password for rupinder:
Running Knative Quickstart using Kind
✅ Checking dependencies...
    Kind version is: kind v0.11.1 go1.16.4 linux/amd64

Knative Cluster kind-knative already installed.
Delete and

[2021-09-22 05:53] #4233 closed

[2021-09-22 06:02] #4252 closed

[2021-09-22 13:47] csantanapr opened #4275 "Release 0.26"
Tasks
- Update website to have new version 0.26, and drop oldest version
- Publish blog post with release notes for new version 0.26
    - Make sure to mention the first release of the component https://github.com/knative-sandbox/eventing-kogito

/assign

[2021-09-22 16:59] dprotaso opened #4276 "Eventing - Getting Started Guide has wrong/omitted namespace in the yaml"
Link : https://knative.dev/docs/eventing/getting-started/

It looks like it's missing namespaces etc. so those resource will being in the `default` namespace instead of the `event-example`

[2021-09-22 20:46] psschwei commented on #4261
It does work in /usr/local/bin like kn quickstart kind too. But with sudo.

Hmm, that sounds like it might be the permissions on the file (?).

Yes, that's right. Plugins for the `kn` client are standalone executable files, whose names begins with `kn-`. This is pretty much the same as how plugins work with `kubectl` (other than the file prefix :) ).

[2021-09-23 14:50] benmoss commented on #4276
the `kind: broker` on the sample broker also will break if the user tries to update the object

[2021-09-23 15:47] evankanderson opened #4283 "Add a website button to create an issue for the current page"
**Describe the change you'd like to see**
Discussed in TOC meeting 9/23. In addition to an "edit this page", add a "file an issue on this page" button to allow users to flag content issues with a particular page.

[2021-09-24 01:44] omerbensaadon commented on #4283
This was on the Docs Roadmap, but never materialized as an issue. I reckon this is rather important, going to tweet at Material MkDocs founder to ask

[2021-09-24 14:29] omerbensaadon opened #4286 "Delete / Move to Github all Getting Started Content"
**Describe the change you'd like to see**
This is an epic to house moving all Getting Started Content for Serving or Eventing into Github or to delete the content altogether.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-09-24 16:59] dprotaso commented on #4276
/assign @lionelvillard

[2021-09-24 17:00] dprotaso opened #4287 "The RBAC for eventing API Source doesn't seem to work"
The RBAC here says you only need access to `events`
https://knative.dev/docs/developer/eventing/sources/apiserversource/getting-started/

After deploying an `APISource` it actually gives me warning stating it needs access to `pods` and `apps/deployments` before the source becomes `Ready`

/assign @lionelvillard

[2021-09-27 07:49] salaboy opened #4293 "Broken Link to Code Samples in Doc"
## Expected Behavior

Correct links in this page:
https://knative.dev/docs/samples/

## Actual Behavior

The following links on the `https://knative.dev/docs/samples/` page are broken:

- Eventing and Eventing Sources code samples
- Serving code samples

## Steps to Reproduce the Problem

1. go to the page and click the links

[2021-09-27 10:34] #4167 closed

[2021-09-27 11:36] snneji commented on #4062
I think there's some Hugo related stuff in `docs-release-process.md` and `docs-repo-maintanence.md`. This should be cleaned up, so yes to step 1.

Not sure whether we need to move this info inside the docs folder though (ie steps 2 & 3). This info looks like it is specifically to help people to do releases so not many people will need to look at it.

[2021-09-27 13:04] rupipal commented on #4261
Hi @psschwei  Thanks. I think, for me, the issue seems settled. It may be closed.

[2021-09-27 13:20] psschwei commented on #4261
@knative/docs-wg-leads ^^^

[2021-09-27 17:20] snneji opened #4296 "Create a proposal for the site navigation"

[2021-09-27 17:20] snneji commented on #4296
/assign

[2021-09-27 18:07] #4269 closed

[2021-09-27 20:06] psschwei commented on #4243
/assign

[2021-09-28 09:22] #3978 closed

[2021-09-28 10:40] snneji opened #4303 "Cleanup PR #4301"
Edit #4301 for style and fix formatting. Ensure the text follows the Knative Style Guide.

[2021-09-28 10:44] #4287 closed

[2021-09-28 12:02] lionelvillard commented on #4287
@dprotaso lmk if this is working for you now. If not, please reopen this issue, thx.

[2021-09-28 12:26] snneji commented on #4038
I'm going to convert this to an epic because there are a few tasks that need to be done for this one.

If I understand correctly our plan is to:
- Move the Community markdown files that live in the Community section of the docs folder to the community repo.
- ~~Move the docs style guide etc. to the community repo?~~
- Reformat the style guide to make sure it when it renders in GitHub it makes sens

[2021-09-28 12:29] snneji commented on #4296
Currently doing a card sort with a number of participants to work out where users expect to see different docs.

https://miro.com/app/board/o9J_l1Iv2e4=/

[2021-09-28 17:39] snneji opened #4305 "Create an overview page for PingSource and for ContainerSource"
## Background
The sections for [PingSource](https://knative.dev/development/developer/eventing/sources/ping-source/) and  [ContainerSource](https://knative.dev/development/developer/eventing/sources/containersource/) should have similar content and navigation structure to [ApiServerSource](https://knative.dev/development/developer/eventing/sources/apiserversource/) and [SinkBinding](https://knativ

[2021-09-28 23:57] #4275 closed

[2021-09-29 14:56] #4303 closed

[2021-10-01 02:56] soham283 commented on #3997
@abrennan89 , @snneji can you please review #4313 ?
Revert if any changes needed
(Sorry for submitting late PR)

[2021-10-01 03:04] soham283 commented on #170
@abrennan89 I would like to work on the issue, can you please assign this issue to me?
(the changes must be done into word list page or on the spreadsheet which you have mentioned above?)

[2021-10-01 14:18] snneji opened #4314 "Clean up PR #4309 (Add doc for rabbitmq broker)"
Edit https://github.com/knative/docs/pull/4309 for style and fix formatting. Ensure the text follows the [Knative Style Guide](https://knative.dev/development/help/contributor/#style).

[2021-10-01 18:05] #3997 closed

[2021-10-01 18:05] abrennan89 commented on #170
@soham283 thanks! I don't think we ever decided where it should live, I think I may have deleted the old file since I never really got anywhere with it, so feel free to create any kind of document on the Google Drive for Knative that suits you (spreadsheet might be easiest or doc) to collect information and then we can decide where this will live later.

@snneji @omerbensaadon was a glossary inclu

[2021-10-03 12:49] lamw opened #4315 "YAML referenced in Logging Documentation goes to 404"
## Expected Behavior
The referenced YAML for deployment is successful

## Actual Behavior
The referenced YAML goes to 404

## Steps to Reproduce the Problem

In [Logging](https://knative.dev/docs/admin/collecting-logs/) documentation, the referenced YAML in Step 1 points to `https://github.com/knative/docs/raw/main/docs/admin/install/collecting-logs/fluent-bit-collector.yaml` but this gives 404. L

[2021-10-04 07:13] soham283 commented on #170
@abrennan89  I would like to do it on Spreadsheet.
 I have one query, I should start writing glossary by referencing only word list  or I have to go through from some different list??

[2021-10-04 10:37] snneji commented on #2105
@abrennan89, I'm not sure what the priority is on this one. Could you add a priority label?

[2021-10-04 10:45] snneji commented on #170
No, the glossary is not on the card sort. It can be put wherever you think best.

[2021-10-04 13:15] abrennan89 commented on #170
I think it should live wherever other reference docs end up being then I guess, but I think it would be better to add it to the card sort since it's something that was requested by users. Up to you.

@soham283 this is actually not at all related to the word list, the word list is a reference list for technical writers and does not necessarily only include technical terms. The ask for creating a gl

[2021-10-04 13:21] lionelvillard commented on #2105
This is quite high-priority for GA.

@abrennan89 I agree with should have YAML examples:
- https://knative.dev/docs/eventing/channels/subscriptions/: there is no mention of reply. It should
- https://knative.dev/docs/eventing/broker/: `Subscribers can also reply to an active request from the broker, and can respond with a new CloudEvent that will be sent back into the broker.`. This is good and it

[2021-10-04 13:24] abrennan89 commented on #2105
@lionelvillard who can provide these samples though? Can you assign someone please since Ville is likely not to work on this now?

I disagree that this should have its own section, since this opens the door for having much too granular docs where specific sections of the spec have their own section in docs each time, and we're trying to get away from that and group things in a more meaningful way.

[2021-10-04 13:44] snneji commented on #4276
@dprotaso @lionelvillard, can we close this issue? Does #4295 fix the issue here?

[2021-10-04 13:50] snneji commented on #4293
Hi, I don't seem to be able to reproduce this issue. I went to the page https://knative.dev/docs/samples/ and:
- Eventing and Eventing Sources code samples links to https://knative.dev/docs/eventing/samples/
- Serving code samples links to https://knative.dev/development/serving/samples/

Are you still having this problem?

[2021-10-05 01:07] csantanapr opened #4322 "Post release 0.26 blog"
Publish blog post with release notes for new version 0.26
Make sure to mention the first release of the component https://github.com/knative-sandbox/eventing-kogito

/assign

[2021-10-05 12:23] csantanapr opened #4324 "Add link in home page about adopters"
Add something to the home page that website visitors can find who are the adopters, and for adopters to add themselves to the list.
Currently the list is in this issue https://github.com/knative/community/issues/696
We can link to the issue

/assign

[2021-10-05 12:37] #4322 closed

[2021-10-06 01:36] #4243 closed

[2021-10-06 17:45] snneji opened #4329 "Clean up PR #4297 (configuring the knative-ingress-gateway gateway and istio-ingressgateway-service)"
Edit #4297 for style and fix formatting. Ensure the text follows the [Knative Style Guide](https://github.com/knative/docs/tree/main/contribute-to-docs/style-guide).

Change the new sections to have steps as suggested in this comment: https://github.com/knative/docs/pull/4297#pullrequestreview-769041758.

Sections to edit:
- https://knative.dev/docs/install/operator/configuring-serving-cr/#replace

[2021-10-06 19:00] dprotaso opened #4332 "Document init containers feature flag"
this landed: https://github.com/knative/serving/pull/12019 and needs some documentation

/assign @skonto

[2021-10-07 15:17] #4256 closed

[2021-10-07 15:28] #4332 closed

[2021-10-08 09:17] JCzz opened #4337 "Description of using githubAPIURL"
The doc:
https://knative.dev/docs/eventing/samples/github-source/#create-event-source-for-github-events

Reference:
"If using GitHub enterprise you will need to add an additional githubAPIURL field to the spec specifying your GitHub enterprise API endpoint, see [here](https://knative.dev/docs/eventing/#githubsource)"

How to?

[2021-10-08 14:45] omerbensaadon opened #4339 "[EPIC] Consolidate Docs Contribution Content and Remove Hugo Site"
### Context
At the moment, our Docs contributor content is sort of peppered all of over the place and not very easy to find. We've decided in the last few DUX meetings that we would move all content relevant to contributing into Github. This story details what all needs to be moved!

---

### Story
**As a** new contributor
**I want** to have a single place where I can find all of the information r

[2021-10-08 15:05] psschwei opened #4340 "Update instructions for creating a blog post"
After migrating the blog to mkdocs ( #4298 ), we need to update our doc on [how to create blog posts](https://github.com/knative/docs/blob/main/docs/help/contributor/creating-blog-posts.md).

For mkdocs, users will need to:

* create their blog post in the relevant folder : `/blog/docs/<type>` (note that currently blog posts are in `/blog/<type>`, and those `type/` directories were moved inside of

[2021-10-08 15:34] omerbensaadon opened #4341 "Move all relevant docs from the community site to their new home in Github"
### Context
We're trying to consolidate all of the Docs Contribution Content (see #4339)

I feel the story below has `/community/`well covered but would love some opinions!

---

### Story
**As a** new user
**I want** to find anything that was previously found in the community site in the `how-to-contribute` folder
**So that** I know how to make my first contribution with confidence

### Acceptanc

[2021-10-08 17:56] omerbensaadon opened #4342 "Move all relevant docs from the existing contributor's guide to their new home in Github"
### Context
We're trying to consolidate all of the Docs Contribution Content (see #4339)

The story below is to move all of the content from docs/help/contributor to a new folder called "how-to-contribute" which appears in the main docs repo

---

### Story
**As a** new user
**I want** to find anything that was previously found in the community site in the `how-to-contribute` folder
**So that** I

[2021-10-08 18:39] omerbensaadon opened #4343 "Update the existing CONTRIBUTING.md to reflect changes to contributing docs"
[BLOCKED BY #4342]

### Context
We're trying to consolidate all of the Docs Contribution Content (see #4339)

---

### Story
**As a** new user
**I want** to understand where I need to go once I've checked out the CONTRIBUTING.MD file
**So that** I know where to go to understand how to make my first contribution with confidence

### Acceptance Criteria
- [x] Edit CONTRIBUTING.MD
[code]

All informa

[2021-10-08 20:15] omerbensaadon opened #4344 "Create a new section for the website called "Install Knative""
### Context
During the Card Sort, many folks grouped much of the install documentation under an "Installing Knative" section, see https://miro.com/app/board/o9J_l1Iv2e4=/

### Story
**As a** Knative user
**I want** to have a go-to place for installing Knative
**So that** I can more easily find all of the install options
**And so that** installing Knative is easily found from the homepage

### Acce

[2021-10-08 20:21] omerbensaadon opened #4345 "Create a new page for installing the Knative Quickstart"
### Context
Once #4344 is delivered, this page should be created

### Story
**As a** Knative user
**I want** to have the option to install the Knative Quickstart
**So that** I can leverage a local installation of Knative separate from the Getting Started Guide

### Acceptance Criteria
- [ ] Create new page for the Knative Quickstart, link out to the Getting Started guide at the end of the install

[2021-10-11 16:02] houshengbo opened #4347 "Cleanup issue for the style changes on page configuring-serving-cr.md"
Per the comment here: https://github.com/knative/docs/pull/4297#pullrequestreview-769041758

We need to clean up the formatting of the page configuring-serving-cr.md.

[2021-10-11 23:11] evankanderson commented on #2105
#4351 updates the "Event Delivery" section of the Developer Guide, which I think should resolve this issue.

https://knative.dev/docs/eventing/getting-started/ currently explains [sending events to the broker](#https://knative.dev/docs/eventing/getting-started/#sending-events-to-the-broker), but doesnt't have any description of how replies fit into the picture. Were it me, I'd update the TOC as fo

[2021-10-12 03:51] nak3 opened #4352 "Use general example domain in doc"
**Describe the change you'd like to see**

Some example uses a specific domain for example:

- [Setting up a custom domain](https://knative.dev/docs/serving/using-a-custom-domain/) uses `mydomain.com`.
- [Enabling automatic TLS certificate provisioning](https://knative.dev/docs/serving/using-auto-tls/) uses `myemail@gmail.com`.

The mydomain.com is already used by someone so we should not use it i

[2021-10-12 07:01] #2105 closed

[2021-10-12 20:46] abrennan89 opened #4353 "Document using POST CloudEvents to Broker"
**Describe the change you'd like to see**

Add a section for writing a process that POSTs CloudEvents to the Broker without creating a new K8s object. SinkBinding can help auto-fill the URL of the Broker, but it should be stable once it's created, so you can also copy the URL by hand from kubectl get brokers.
In particular, the "have a process that POSTs CloudEvents" is a good solution if you have

[2021-10-13 08:09] skonto commented on #3134
I will try run the example to get an updated image.

[2021-10-13 08:28] #4314 closed

[2021-10-13 08:51] mukundjalan opened #4356 "Installing Knative(docs/docs/snippets/prerequisites.md)"
## Expected Behavior
Kubernetes cluster v1.19 can install Knative.

## Actual Behavior
But Kubernetes minimum version has changed to v1.20.0-0 and Install failed.

## Additional Info
**Additional context**
log from controller
[code]

**Install information:**
 - Platform : EKS
 - Knative Version: 0.26.0

[2021-10-13 09:01] nak3 commented on #4356
Thank you for your report. https://github.com/knative/docs/pull/4355 and its backport will fix the issue.

[2021-10-13 09:03] nak3 commented on #4356
Ah, sorry. Knative 0.26 requires Kubernetes v1.20. Is it possible to update your k8s cluster?
Or you can workaround the min version via `https://github.com/knative/pkg/blob/main/version/version.go#L31` but it needs to be set every knative's system pod .

[2021-10-13 14:24] snneji opened #4359 "Cleanup PR #4318 (Remove Istio specific instruction from "Setting up a custom domain")"
Edit #4318 for style.
- The "Verify the domain using temporary DNS" section should have steps.
- Ensure the text follows the Knative Style Guide.

[2021-10-14 14:18] snneji commented on #4344
@omerbensaadon, I think this should be under the epic for reorganising content #4230.

Also, do you think we should plan the subnav first before creating the issues to implement it? I'm asking because it might be useful to include a list of topics that should be in this section before starting this issue. Otherwise, later we might have to move files again.

[2021-10-14 14:21] snneji commented on #4345
Would we also keep this content on the [Knative Quickstart page](https://knative.dev/docs/getting-started/#install-the-knative-quickstart-environment) in the getting started guide?

[2021-10-14 15:07] omerbensaadon opened #4363 "New Knative Blog Posts don't have authors"
## Expected Behavior
When someone posts a blog, I expect to see an author and a link out to their socials

## Actual Behavior
It's not clear who the author is for Blog Posts

## Steps to Reproduce the Problem

1. Load a blog post
1. Try and find the author

[2021-10-14 15:32] omerbensaadon opened #4365 "Add padding for Blog Post to enhance readability"
**Describe the change you'd like to see**
At the moment, the Blog post display like regular docs content:

<img width="1440" alt="Screen Shot 2021-10-14 at 8 26 46 AM" src="https://user-images.githubusercontent.com/16281246/137349496-94aebfc5-ea8f-4e1c-8e3e-d38e9fecf4df.png">

I feel it would be much more readable if there was a bit of padding on either side of this content.

**Additional context*

[2021-10-14 15:51] snneji commented on #4356
@mukundjalan The docs are fixed now (see #4355 and #4362), can I close this issue?

[2021-10-14 16:04] snneji commented on #4339
@omerbensaadon I've added this to the roadmap. What priority level do you think this epic is? Do we want to do this now or next?

[2021-10-14 16:25] snneji commented on #4344
My comment above was more about remembering to move files in the directory structure. I find it really helpful that the directory structure matches the website navigation. 🙂

[2021-10-14 16:26] snneji commented on #4344
I think it would be best to change the links and also add redirects. It's good to keep the links in each file up to date. The redirects should really be for anyone who has bookmarked pages that have moved.

[2021-10-14 16:31] omerbensaadon commented on #4344
Ohhh this makes sense, I'll do that

[2021-10-14 23:10] #4356 closed, assigned to nobody

[2021-10-18 10:08] #4149 closed

[2021-10-19 17:21] zzvara opened #4372 "Kubernetes Service is not created in the Go RESTful example"
Documentation states in `docs/serving/samples/rest-api-go/`, that a Kubernetes Service will be created as well, but it is not with v0.26.0 installed through Kubernetes Operator as the docs guided.

[2021-10-21 12:01] #2931 closed

[2021-10-21 12:09] snneji opened #4376 "Knative Serving: match directory structure to site structure"
Start this issue after #4296 is delivered.

### Context
During the Card Sort, many folks grouped the Serving documentation under a "Knative Serving" section, see https://miro.com/app/board/o9J_l1Iv2e4=/. Taking this into account, the site navigation was updated in PR #4382.

Now, the files in the [`/docs/serving`](https://github.com/knative/docs/tree/main/docs/serving) directory need to be updated

[2021-10-21 12:16] snneji opened #4377 "Knative Eventing: match directory structure to site structure"
Start this issue after #4296 is delivered.

### Context
During the Card Sort, many folks grouped the Serving documentation under a "Knative Evnting" section, see https://miro.com/app/board/o9J_l1Iv2e4=/. Taking this into account, the site navigation was updated in PR #4382.

Now, the files in the [`/docs/eventing`](https://github.com/knative/docs/tree/main/docs/eventing) directory need to be updat

[2021-10-21 12:34] snneji opened #4378 "Create a new section for the website called "Code Samples""
### Context
During the Card Sort, many folks grouped the code samples under a "Code samples" section, see https://miro.com/app/board/o9J_l1Iv2e4=/

### Story
**As a** Knative user
**I want** to have a go-to place for Knative code samples
**So that** I can more easily find all of the samples

### Acceptance Criteria
- [x] Create new site-wide Subheading
[code]

---

- [x] Move all code samples from

[2021-10-21 12:40] snneji opened #4379 "reorganise the directory strucutre"

[2021-10-21 12:40] #4379 closed, assigned to nobody

[2021-10-21 12:51] snneji opened #4380 "Move observability section to Serving and Eventing guides"
## Context
We would like an observability section to be in both the Serving and Eventing guides.

## Acceptance Criteria
- [ ] Move the observability section in the admin guide to the both the Serving and Eventing guides.

[2021-10-21 13:17] snneji opened #4381 "Consolidate information around checking Knative version"
## Context
There are two topics with a command to check your Knative version:
1. https://knative.dev/docs/admin/upgrade/
2. https://knative.dev/docs/check-install-version/

The first topic only works if you have installed Knative with the Operator. This fact is not mentioned in the docs.

## Acceptance Criteria
- [ ] Consolidate this information into the "Checking your Knative version" topic
- [ ]

[2021-10-22 06:48] mukundjalan opened #4383 "Change the port of Knative Service"
I have been trying to change the port of the "Service" object created by Knative but I do not see any option in the specifications to do so.

I am able to change the container port but that is not what I am trying to achieve. I need the service to listen on a different port (9080 in my case) from another service in the cluster or from outside the cluster.

Why is this required:
I am trying to crea

[2021-10-26 13:47] snneji opened #4386 "Update button for admin guide from homepage"
## Context
During the Card Sort, there was consensus around removing the admin and developer guides, see https://miro.com/app/board/o9J_l1Iv2e4=/

## Acceptance Criteria
- Replace the link for the "Cluster Administrator? Get Started Here!" button with a link to the installing section

[2021-10-27 14:46] psschwei opened #4390 "Add command line instructions for CloudEvents player to getting started guide"
**Describe the change you'd like to see**

In the "Introducing the CloudEvents Player" section of the Getting Started guide, we provide instructions for sending/receiving events using the web interface. Some users might want to use the command line instead, so it would be useful to add details on how to do that to the guide (perhaps in a tip box).

/assign

[2021-10-28 13:30] #4380 closed, assigned to snneji

[2021-10-28 14:01] omerbensaadon opened #4394 "Create new, more barebones Community section within the MkDocs Site"
**Describe the change you'd like to see**
In order to remove the last bits of Hugo functionality, we'll need to recreate the Community Section in the MkDocs site.

I've submitted https://github.com/knative/community/issues/796 which is approved by Steering which enables us to link out to the Github Repo when needed.

**Additional context**
- [x] Community Communications (Slack, Dev List, etc.)
- [

[2021-10-29 05:55] pierDipi opened #4400 "Document content mode for KafkaSink"
## What is changing? (Please include as many details as possible.)

KafkaSink has a `contentMode` field that specifies the content mode
of the output CloudEvent.
Possible values are `structured` or `binary`.

## How will this impact our users?

No impact, this feature has already been released many releases ago.

## In what release will this take happen (to the best of your knowledge)?
Ex. v0.2-v0

[2021-10-29 07:46] #4376 closed, assigned to snneji

[2021-10-29 07:46] #4377 closed, assigned to snneji

[2021-10-29 07:47] #4381 closed, assigned to snneji

[2021-10-30 14:38] matthiasgubler commented on #4077
/assign

[2021-11-01 14:38] omerbensaadon opened #4404 "Create a section on the homepage for Knative Case Studies"
@xtreme-sameer-vohra has context on this, he will follow up with a PR

[2021-11-01 14:44] xtreme-sameer-vohra commented on #4404
/assign

[2021-11-01 14:45] xtreme-sameer-vohra commented on #4404
## Copy
`Check out the Knative Case Studies`

## Logos
- Deepc ai
- Outfit7
- Puppet

[2021-11-01 18:18] snneji commented on #4386
I think it would be better to fix the hard link than rely on a redirect so I'm going to reopen this if it's OK.

[2021-11-02 13:34] #4404 closed

[2021-11-02 17:00] csantanapr opened #4417 "Release docs for Knative v1.0"
- Make sure to remove last release 0.23 (last hugo yay)
- Dropdown should have `v1.0` in versions
- Adjust to have the URL that point to GitHub yamls to use `knative-v1.0.0` instead of `v1.0.0` like `https://github.com/knative/serving/releases/download/knative-v1.0.0/serving-core.yaml`

cc @omerbensaadon @julz

/assign

[2021-11-02 17:04] julz commented on #4417
* make sure to check download links for past and current version in preview before merging :)

[2021-11-02 21:54] #4417 closed

[2021-11-02 22:00] omerbensaadon opened #4419 "Clicking the Knative logo when in the blog tab does not take you home"
## Expected Behavior
Clicking the Knative logo takes you to the Knative hompage

## Actual Behavior
When in the blogs section, it takes you to the blog section

## Steps to Reproduce the Problem

1. Knative.dev
1. click blog
1. click logo in top left corner of the site

[2021-11-03 02:50] dprotaso commented on #4420
Documenting the ability to set an image pull secret on the PodSpec would be useful documentation.

[2021-11-03 15:21] sebgoa opened #4423 "Wrong links in DEVELOPMENT.md"
There are wrong links to the templates in https://github.com/knative/docs/blob/main/DEVELOPMENT.md

files were moved to `help/contributor`

[2021-11-03 15:26] sebgoa opened #4424 "Contributing Guide points to missing script"
The contributing guide points to a missing script to run the site locally with the blog.

[code]

Looks like it should instead be:

[code]

[2021-11-03 16:19] sebgoa opened #4427 "Failing to build Blog locally"
I have tried to run the Blog site locally on OSX to fix #4419

I followed the  instructions in https://knative.dev/docs/help/contributor/mkdocs-contributor-guide/
and ran:

[code]

(submitted a PR #4425  to fix the docs that pointed to an old script)

butI keep running into this issue:

[code]

[2021-11-03 16:39] csantanapr opened #4429 "webpage analytics can't distinguish home page for the different entry points"
webpage analytics can't distinguish home page titles for the different entry points

Update the entry points page titles, most show up as "Overview - Knative"
They should say "Serving Overview - Knative", "Eventing Overview - Knative", and so on.

![image](https://user-images.githubusercontent.com/1094878/140103822-3800a4e0-eee4-40f9-b7be-4a6e92152c97.png)

[2021-11-03 21:53] csantanapr commented on #4429
/assign @omerbensaadon

[2021-11-03 21:55] csantanapr commented on #4427
@psschwei could look into this?
/assign @psschwei

[2021-11-03 23:58] psschwei opened #4430 "Add kn client commands to the docs"
This came up in [Slack](https://knative.slack.com/archives/C9CV04DNJ/p1635978757051300) today -- essentially, it'd be good to get the kn commands (i.e. [this info](https://github.com/knative/client/blob/main/docs/cmd/kn.md) ) into the docs.

Probably related to #2810

[2021-11-04 02:48] psschwei commented on #4427
I was able to get the blog to build on a Mac by running the following commands (let me note that Mac is not my daily driver, so this may not be the ideal way to do things, but it worked...):

[code]

[2021-11-04 09:25] julz commented on #4427
this happens because we're still building with Hugo for the community section so you need to do `npm install -g postcss postcss-cli autoprefixer http-server` if you're building the whole site (rather than just the mkdocs pages). This is documented in the "**Local Preview including Blog and Community Site" tab** in the [Local Preview section of the contributor guide](https://knative.dev/docs/help/c

[2021-11-04 09:27] sebgoa commented on #4427
@julz since you just chimed in, can you check this one https://github.com/knative/docs/pull/4425 because there is an error in the section that you just mentioned

[2021-11-04 09:56] sebgoa commented on #4427
I will close this, because this is a personal issue. I am now getting down the rabbit hole of having to upgrade my version of OSX...

thanks for the detailed build steps.

[2021-11-04 09:56] #4427 closed

[2021-11-04 11:18] snneji commented on #4430
This is a good point. It would make sense to at least provide a link to this info in the reference section.

[2021-11-04 11:41] #4400 closed

[2021-11-04 11:41] #4424 closed

[2021-11-04 13:18] snneji commented on #4420
The link above is broken. Is this the correct page: https://knative.dev/docs/serving/deploying-from-private-registry/

[2021-11-04 13:51] #4077 closed

[2021-11-04 13:51] #4423 closed

[2021-11-04 13:51] #4419 closed

[2021-11-04 14:06] #4390 closed

[2021-11-04 14:14] snneji commented on #4429
Is this because the nav.yaml has entries where pages are just named "Overview"? If so, I can submit a PR to fix this.

[2021-11-04 14:15] omerbensaadon commented on #4429
On my todo list today… I’ve got it!

On Thu, Nov 4, 2021 at 10:14 AM Samia Nneji ***@***.***>
wrote:

[2021-11-04 16:18] snneji commented on #4383
@nak, would you be able to help with this?

[2021-11-04 16:21] snneji commented on #4372
@nak, would you be able to help?

[2021-11-04 16:26] snneji opened #4439 "Fix broken formatting in Code samples"
## Context
Many of the pages in this [Code samples section](https://knative.dev/docs/samples/) have broken formatting.

## Acceptance criteria
- Fix the markdown in all Code sample pages by correcting the whitespace around code snippets.

[2021-11-04 16:34] snneji opened #4440 "Move Eventing getting started page to getting started guide"
## Context

The Eventing docs has an extra [Eventing getting started](https://knative.dev/docs/eventing/getting-started/) page (location in repo: [`eventing/getting-started.md`](https://github.com/knative/docs/blob/main/docs/eventing/getting-started.md)).
This page provides a `kubectl` command line based getting started tutorial, whereas the current [getting started](https://knative.dev/docs/getti

[2021-11-04 16:40] snneji opened #4441 "Consolidate information from additional Eventing overview page"
## Context
The Eventing docs have a second [overview page](https://knative.dev/docs/eventing/developer-overview/) that is not in the left nav (location in repo: [`eventing/developer-overview.md`](https://github.com/knative/docs/blob/main/docs/eventing/developer-overview.md)). We already have an Eventing overview so this page might be redundant.

## Acceptance criteria
- Salvage useful information

[2021-11-04 17:48] #3352 closed

[2021-11-04 22:24] abrennan89 commented on #4052
Proposal doc was created

[2021-11-04 22:24] #4052 closed

[2021-11-05 15:14] #4441 closed

[2021-11-05 22:36] csantanapr opened #4449 "build the container image for mkdocs development"
We want to have the mkdocs image built to make the instructions easier for people to be able to run the mkdocs website locally.
Currently these are the instructions https://github.com/knative/docs/blob/main/hack/docker/README.md

And asks the user to build the image locally, but we preferred to point to an image already prebuilt it can be nightly by Prow
https://github.com/knative/docs/blob/main/h

[2021-11-05 22:40] csantanapr opened #4450 "Update the outfit7 logo with the provided one"
Two places the logo shows up, replace with new logo file
![image](https://user-images.githubusercontent.com/1094878/140586127-edb0da17-489a-4a52-b052-7b1207c078ce.png)

![image](https://user-images.githubusercontent.com/1094878/140586162-9cbf5cdf-5101-4edf-8d9f-e1404e8b360d.png)

With this new file:
![Outfit7_Logo_Red](https://user-images.githubusercontent.com/1094878/140586091-c4fb08be-5b0d-460e-

[2021-11-05 22:40] csantanapr commented on #4450
/kind good-first-issue

[2021-11-06 13:53] nak3 commented on #4372
Hi @zzvara Sorry for the delay. The sample `rest-api-go` was outdated and it was supposed to be removed as per https://github.com/knative/docs/issues/2053 https://github.com/knative/docs/issues/2053#issuecomment-651524070

We will remove the page but do you have anything trouble for REST app with Knative? The REST app should not need any special setting on Knative side.

[2021-11-06 13:54] nak3 commented on #4372
/assign

[2021-11-06 14:11] nak3 commented on #4383
Hi @mukundjalan

Please allow me to confirm which "Service" pod you would like to change:
For example, when we deployed `hello-example` ksvc, Knative creates the following ksvc and k8s services.

[code]

Could you please point out what port you want to change to?

[2021-11-07 11:17] zzvara commented on #4372
@nak3 yes, the issue was in general as with the `rest-api-go` and custom, home-brew examples that for none of the `Knative` `Services` had a Kubernetes `Service`, therefore I could not call it internally from the cluster and could not expose it using `traefik`.

Quick backstory: I attempted to migrate Kubeless functions to Knative because of the problem of container-mutability with Kubeless: Kubel

[2021-11-08 01:49] csantanapr opened #4451 "Add release notes for v1.0 blog"
Create release notes blog for v1.0

/assign

[2021-11-08 11:17] #4386 closed

[2021-11-08 18:56] pmbanugo commented on #4451
/lgtm

[2021-11-08 18:59] #4451 closed

[2021-11-08 20:18] matthiasgubler commented on #4450
/assign

[2021-11-08 20:47] matthiasgubler commented on #4450
@csantanapr I'm kind of confused. In  #4456 I updated the logo to the one you provided. By reviewing the preview https://deploy-preview-4456--knative.netlify.app/docs/about/case-studies/outfit7/ I thought it looks quite similar, so I did a couple of file-compares with the old and new one and there was no difference, even though the PR says that the new file is 8.94 KB bigger. However, are you sure

[2021-11-09 00:59] nak3 commented on #4372
Hi @zzvara
I guess that your Knative Service has an issue around networking layer.
Could you please share:
- The output of `$ kubectl get all -o yaml`
- What ingress are you using [in this list](https://knative.dev/docs/install/serving/install-serving-with-yaml/#install-a-networking-layer) - istio, kourier, contour?

[2021-11-09 10:21] zzvara commented on #4372
@nak3 I tried Kourier, Contour, Ambassador as well. A Kubernetes Service would have been nice without another layer of routing, security, and load balancing (e.g. Ambassador). However, Ambassador did not register the Knative service as an App for routing. (Again, this is based on the `docs/serving/samples/rest-api-go/` and custom Apps.)

[code]

[code]

If I could try out a Java tutorial for examp

[2021-11-09 16:44] pierDipi opened #4460 "Document Kafka Broker commit offset interval"
## What is changing? (Please include as many details as possible.)

The committed offset is a pointer to the last record that a
the consumer has successfully processed.

We're committing the offset every [`auto.commit.interval.ms`]
milliseconds.

Users can change the interval by changing the
`config-kafka-broker-data-plane` ConfigMap
that is introduced in:
https://knative.dev/docs/eventing/broker/

[2021-11-09 22:05] #4450 closed

[2021-11-10 00:32] evankanderson commented on #3809
https://github.com/knative/docs/pull/4406

/close

[2021-11-10 00:32] #3809 closed

[2021-11-10 03:35] csantanapr commented on #4450
oh so sorry @matthiasgubler I didn't see you were already working on this with an open PR 🤦

I provided the correct file. The thing to compare is is the URLs, the new file only shows in main you need to select pre-release

To the naked eye they look identical. I just grab the file they sent me in a zip file

[2021-11-11 07:36] matthiasgubler opened #4468 "Installationguide for Knative Serving via operator is not working"
## Expected Behavior
I can follow the guideline step by step and the result is a nice and clean installation of Knative Serving with an arbitrary network layer.

## Actual Behavior
We installed it up until this part of the documentation:
https://knative.dev/docs/install/operator/knative-with-operators/#:~:text=Check%20the%20status%20of%20Knative%20Serving%20Custom%20Resource%3A

And we got an erro

[2021-11-11 08:32] matthiasgubler commented on #4468
Fyi: after installing istio KnativeServing was marked as ready

[2021-11-11 11:11] snneji opened #4469 "Fix broken nav item"
## Expected Behavior
All menu items should work while in the blog.

## Actual Behavior
Menu item for Code Samples results in a page not found error when in the blog.

## Steps to Reproduce the Problem

1. Go to the blog
1. Click Code samples in the top menu

## Additional Info
**Additional context**
Problem reported in this [Slack message](https://knative.slack.com/archives/C9CV04DNJ/p163661424308

[2021-11-11 11:35] #4469 closed

[2021-11-11 12:30] #4429 closed

[2021-11-11 14:37] omerbensaadon commented on #3268
Since 1.0 is already out, I am going to assume this is done

[2021-11-11 14:37] #3268 closed

[2021-11-11 14:40] omerbensaadon commented on #4230
Removed #4378 since we would consider this major overhaul done.

Not worth blocking on this issue

[2021-11-11 14:40] #4230 closed

[2021-11-11 14:49] omerbensaadon commented on #4341
Folded this in with #4342

[2021-11-11 14:49] #4341 closed

[2021-11-11 22:42] csantanapr commented on #3853
@lionelvillard Why is the dispatcher need to connect to itself in the first place? Are all dispatchers required this?

[2021-11-11 22:45] csantanapr opened #4473 "Add kn quickstart minikube option for getting started"
Today in the getting started for serving we document the use of kind and  `kn quickstart kind`
https://knative.dev/docs/getting-started/

Now that we added support for `kn quickstart minikube` I think we should document this option for the getting started and validate the both tutorials for serving and eventing.

Also remove the quote about minikube
![image](https://user-images.githubusercontent.c

[2021-11-11 22:46] abrennan89 commented on #4460
@pierDipi can you please provide some additional information about this feature to help document it?

[2021-11-12 04:55] nak3 commented on #4468
Umm... Documentation mentions it in https://knative.dev/docs/install/operator/knative-with-operators as:

1. Install Istio.
2. To configure Knative Serving to use Istio, copy the following YAML into a file:

@matthiasgubler Can we close this issue and work on https://github.com/knative/docs/pull/4467 ?

[2021-11-12 05:38] matthiasgubler commented on #4468
Regarding usability I would not just close it. In comparision with the "plain" yaml installation (https://knative.dev/docs/install/serving/install-serving-with-yaml/), the operation guide mentions istio after the validation of the result. That means the expected result in the guide never aligns with the documentation. A colleague of mine was installing it step by step and failed right there. This

[2021-11-12 15:07] snneji commented on #3796
We already have a Code samples section in the top level navigation, so from a users point of view I think we've already made a decision (ie have serving and eventing code samples on the site and have community code samples in GitHub with a link in the docs).

In terms of directory structure, my vote would be to have a `docs/samples/` folder containing all samples. This course of action is describe

[2021-11-12 15:09] snneji opened #4475 "[EPIC] Fix formatting errors"
Fix formatting errors such as broken numbering or note formatting.

- [x] #4476
- [x] #4477
- [x] #4478
- [x] #4479
- [x] #4439

[2021-11-12 15:13] snneji opened #4476 "Update old note formatting"
Search the docs for incorrect or old note formatting such as `**NOTE:**`, `**Note:**`, or `Note:` and update to MkDocs note formatting `!!! note`

For more info on note formatting, see the [Knative doc contributor guide](https://knative.dev/docs/help/contributor/mkdocs-contributor-guide/#admonitions)

[2021-11-12 15:39] snneji opened #4477 "Fix broken formatting in Installing guide"
Review the webpages in the Installing guide and fix formatting issues such as:
- incorrect bullet points or numbering
- broken tab formatting

The following issues need to be fixed:
- [x] https://knative.dev/docs/install/installing-istio/#choosing-an-istio-installation “Installing Istio without sidecar injection(Recommended default installation)” missing a space before the opening parenthesis.
- [

[2021-11-12 15:39] snneji opened #4478 "Fix broken formatting in Serving guide"
Review the webpages in the Serving guide and fix formatting issues such as incorrect bullet points or numbering and broken tab formatting etc.

[2021-11-12 15:39] snneji opened #4479 "Fix broken formatting in Eventing guide"
Review the webpages in the Eventing guide and fix formatting issues.

TO DO
- [x] Remove definition list in https://knative.dev/docs/eventing/#common-use-cases
- [x] fix bulleted list https://knative.dev/development/eventing/accessing-traces/#example —
- [x] Format https://knative.dev/docs/eventing/custom-event-source/custom-event-source/publish-event-source/ as numbered steps
- [x] Fix broken not

[2021-11-12 15:53] abrennan89 commented on #3796
I think it would be better to have samples maintained as code in engineering repos and a way to point to them or include them in docs; these aren't something writers should be responsible for maintaining IMO.
I also think they would be more useful to users in the relevant sections than in one big jumble of samples, e.g. put autoscaling samples with autoscaling docs, Kafka samples with Kafka docs,

[2021-11-15 09:27] julz commented on #4089
oops, this fell off my list, let me look at it

/reopen
/remove-lifecycle stale

[2021-11-15 09:32] julz commented on #4089
oh actually, looks like the tests are disabled now since https://github.com/knative/docs/pull/4300 so this should be fine?

[2021-11-15 10:24] snneji commented on #4089
If you think it's fine, feel free to close the issue.

[2021-11-15 11:36] julz commented on #4089
Okie, you should be able to change `<username>` to `{username}` now, if you hit any problems do re-open!

/close

[2021-11-15 11:36] #4089 closed

[2021-11-15 13:24] snneji commented on #3796
@abrennan89 I agree that writers shouldn't be responsible for maintaining code. When you talk about moving the samples to be maintained as code in engineering repos, do you mean move only the code files in each [sample folder](https://github.com/knative/docs/tree/main/docs/serving/samples/cloudevents/cloudevents-dotnet)? Or do you also mean moving the procedure files such as [this example page](ht

[2021-11-15 13:56] csantanapr commented on #3796
All sample codes should be store in another git repo than docs repo

The sample instructions markdown should not be in render in the website even is the code and md files live in another git repo other than docs repo

The code should be along side with the tutorial/instructions to run

The location of the samples is something to discuss

One alternative is to have them in the git repos in serving

[2021-11-15 16:48] houshengbo commented on #4468
@matthiasgubler There used to be an instruction in the prerequisite, saying installing istio.
However, after knative is enabled with multiple ingresses, people complained that knative does not depend on istio, so need to remove that. Then it seemed the removal led to more confusion.

[2021-11-15 17:06] matthiasgubler commented on #4468
@houshengbo what would you then suggest to do, that qe don't have two different suggestions of installation paths in the different kind of installation-doc?

[2021-11-15 21:39] houshengbo commented on #4468
@matthiasgubler I put a link in the PR you submitted.

[2021-11-15 21:39] abrennan89 opened #4485 "Update (serving) autoscaling docs"
**Describe the change you'd like to see**

- [x] Rewrite overview page
- [ ] Rewrite scale bounds docs
- [ ] Rewrite concurrency docs
- [x] Move everything to Autoscaling section instead of dev/admin topics
- [ ] Next steps / additional resources / links
- [ ] Reorganize content by topic / persona better - better user story of why config this stuff

[2021-11-16 03:04] csantanapr commented on #4440
I think it should be deleted, and anything useful from it incorporate into the main eventing getting started https://knative.dev/docs/getting-started/getting-started-eventing/

[2021-11-16 03:05] csantanapr commented on #4440
Let's discuss on wg meeting and decide which option to move forward

[2021-11-16 18:18] nainaz commented on #3796
+1 to @csantanapr suggestions.
Code samples reading and access on website can be improved by have a link to Github for navigating the examples. As  developers are used to of this flow of following examples on GitHub.
Samples can live in the docs repo on Github.

[2021-11-16 18:50] csantanapr opened #4490 "TriggerMesh Sources missing from docs"
## Expected Behavior
Be able to find the S3 knative source in the third party section here https://knative.dev/docs/eventing/sources/#third-party-sources.

Find a row with S3 Source, with 2 links. One link to the documentation and also how to install the source. Another link to an example yaml on how to use it.

## Actual Behavior
Some triggermesh sources are missing, and the one present only poin

[2021-11-16 19:02] csantanapr commented on #4490
cc @sebgoa

[2021-11-16 19:03] csantanapr commented on #4490
/assign @antoineco

[2021-11-16 19:20] csantanapr commented on #4490
/kind eventing

[2021-11-16 19:25] csantanapr opened #4491 "Update website to new major version v8 of material-mkdocs"
We have being waiting to get support for [code annotations](https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#code-annotations)
![image](https://user-images.githubusercontent.com/1094878/142051866-3f125e0d-5f5b-4da9-b3c7-bcfe0ba6c031.png)

It looks like it would be included in [v8](https://github.com/squidfunk/mkdocs-material/releases/tag/8.0.0b1), currently, we use v7 we need to

[2021-11-16 19:51] csantanapr commented on #4491
If you have intentions to work on this issue, wait until the first official release of v8.

@julz is this something I think you will enjoy working since you have the most experience with the build and structure

[2021-11-16 20:42] #4490 closed

[2021-11-17 09:00] matthiasgubler commented on #4473
/assign

[2021-11-17 11:02] csantanapr commented on #4473
Woot ! Thank you @matthiasgubler for taking this issue

[2021-11-17 14:00] snneji commented on #3796
After discussing in the WG meeting we have decided to render the code samples in GitHub only, with links to the samples on the website.

On the subject of moving the samples to another repo, there were concerns about whether engineers would want to maintain the samples in their repos. Also, there were concerns about who would be responsible for PRs if we created a new repo. Because of this we deci

[2021-11-17 14:09] snneji opened #4498 "Move code samples from being on the website to GitHub only"
## Context

As part of #3796, we decided that code samples should be viewed in GitHub and not on the website.

## Acceptance Criteria

1. Remove all [Code sample](https://knative.dev/docs/samples/) pages except the Overview pages from the website
2. Move all code samples to top level of the docs repo.
3. Update `git clone` commands in each snippet to clone the `main` branch, i.e. `git clone https:

[2021-11-17 14:21] snneji commented on #3796
The code samples section was created according to the consensus view from the card sort. I think it's nice to have a central location where users can look up all code samples. Serving has a [table](https://knative.dev/docs/serving/samples/) organizing the samaples, Eventing should have one too.

If we like we can link from docs such as autoscaling to where users can find relevant samples.

[2021-11-18 11:04] fengqi2019 opened #4504 "can't create a KafkaSource?"
## Expected Behavior
when i create kafkasource as doc
[code]
i should find kafkasource pod:
[code]
## Actual Behavior
but i can't find the pod
[code]
## Steps to Reproduce the Problem

### kafka-source.yaml
[code]
### kafka-topic.yaml
[code]
yaml:
[code]
### service.yaml

[code]

[2021-11-18 11:14] #4504 closed

[2021-11-18 17:28] #4449 closed

[2021-11-18 17:31] #4473 closed

[2021-11-18 21:21] csantanapr opened #4506 "create a table with all the possible annotations for serving CR"
As I do more demos is hard to find what all the possible values config that can be put on a knative service

Let's use this issue to find all the annotations and links to the respective docs on the website.
The idea is to have an index table.

After discussing with @dprotaso he agrees this is a good idea.

[2021-11-18 21:21] csantanapr commented on #4506
/assign @csantanapr
/assign @dprotaso

[2021-11-19 21:11] abrennan89 commented on #4119
YAML section no longer exists

[2021-11-19 21:11] #4119 closed

[2021-11-19 21:25] abrennan89 commented on #4067
@omerbensaadon are you still working on this one?

[2021-11-19 21:26] omerbensaadon commented on #4067
I'm not convinced there's an action here... I'd be ok to close it

[2021-11-20 01:23] #3724 closed

[2021-11-20 01:23] #3372 closed

[2021-11-22 14:22] #4476 closed

[2021-11-22 16:30] snneji opened #4515 "Take down Hugo community site"
After #4394 has been completed, take down the Hugo version of the community site so that only the MkDocs site is available to users.

### Tasks

- Make changes to the build scripts
- Remove the [`community`](https://github.com/knative/docs/tree/main/community) folder

[2021-11-22 16:36] snneji opened #4516 "#4394"

[2021-11-22 17:11] #4067 closed

[2021-11-23 12:30] mukundjalan commented on #4383
Hi @nak3,

Here I would like to change the port of "hello-example" service to some value other than 80, lets say 9090. How can I achieve this?

[2021-11-24 16:16] #4516 closed

[2021-11-26 21:00] snneji commented on #3769
@abrennan89 are you still interested in working on this?

[2021-11-29 03:26] zhaojizhuang opened #4522 "Add memory metrics in Doc"
Relate to this issue [support mem metrics in HPA]  https://github.com/knative/serving/issues/11635

Update the doc to add `memory` option https://knative.dev/docs/serving/autoscaling/autoscaling-metrics/

[2021-11-29 03:26] zhaojizhuang commented on #4522
/assign

[2021-11-29 03:42] #4522 closed

[2021-11-29 08:11] zhaojizhuang commented on #4522
Close this issue,tracked  here  ----> https://github.com/knative-sandbox/eventing-natss/issues/145

[2021-11-29 13:14] abrennan89 commented on #3769
@snneji I was never working on / assigned to this, but it's still something we need, or at least that needs to be documented properly.

[2021-11-30 16:44] csantanapr commented on #4491
this is ready to be work on, martial mkdocs 8.x is now GA
https://squidfunk.github.io/mkdocs-material/changelog/#material-for-mkdocs

[2021-11-30 16:47] csantanapr opened #4525 "update build for PR to make pre-release/main the default site"
When new contributors make PRs for docs, and they click on the preview link they can't find their change.

This is because the default landing page is the last release version and not pre-release/main, they have to select the version drop down and select "pre-release" to see their change reflected.

We can update the build that on only when doing PRs the default site is the pre-release.

Note: Usu

[2021-11-30 16:55] csantanapr opened #4526 "update the right top github stars/forks count"
![image](https://user-images.githubusercontent.com/1094878/144091767-c26f26e9-cf5e-43c6-84e1-9de5bd682821.png)

We currently show an incorrect number of start and forks on the main website, this is because we use material mkdocs and uses the docs repo for the info.

We should update the build to collect all stars and forks across all the repos, and the link to take the user to the git org or commu

[2021-11-30 20:06] #4342 closed

[2021-11-30 20:06] #4343 closed

[2021-12-01 08:34] fengqi2019 opened #4531 "Where to find yaml cases for Services (Route, etc.) (including most configurations)"
Hello, where to find yaml cases for Services (Route, etc.) (including most configurations)  ?

[2021-12-02 02:56] nak3 commented on #4531
Probably you are looking for this page https://knative.dev/docs/reference/api/serving-api/ ?

[2021-12-02 07:11] pierDipi commented on #4460
/assign

[2021-12-02 07:22] pierDipi opened #4535 "It is not clear why Eventing optional components are optional"
Users have been reporting multiple times that their Broker or Channel setup doesn't work because the documentation reports that Broker and Channel layers are optional like in https://github.com/knative/eventing/issues/5944.

Those optional components are required to follow the next steps, so I'm proposing to remove the Optional word in the heading and instead add a sentence explaining why a Broker

[2021-12-02 09:46] meng-yu-github commented on #4535
It is recommended to modify the document.

Both the Channel layer and the Broker layer need to be installed, but you can choose one of multiple options to install.

Is there a corresponding relationship between multiple options? For example, whether installing `NATS Channel` for the Channel layer and `Apache Kafka Broker` for the Broker layer can test successfully.

[2021-12-02 11:42] pierDipi commented on #4535
I agree a clarification may be helpful.

This is possible, you can use multiple layers in the same cluster.

The only relationship that they have is that they all conform to the shared spec: https://github.com/knative/specs/tree/main/specs/eventing that allows multiple layers to be integrated and communicate with each other in a loosely coupled way.

[2021-12-02 19:28] aslom opened #4538 "Docs are missing Getting Started for developer contributors"
For new developers that want to work on Knative, finding exactly what they need to do is not easy. I have described the problem in details and listed different entrypoints in google doc: https://docs.google.com/document/d/1mFY2QdXUvhCORyVkhJtBOqWeYGOIxmJ-ltSPXWZRU3E/edit?usp=sharing

**Describe the change you'd like to see**
Docs like https://www.kubernetes.dev/docs/guide/ - maybe reference them a

[2021-12-03 15:23] abrennan89 commented on #170
@soham283 are you still planning to work on this one?

[2021-12-03 16:03] #2108 closed

[2021-12-03 16:29] abrennan89 commented on #3520
@csantanapr any update on this one?

[2021-12-03 16:30] #3796 closed

[2021-12-03 16:31] abrennan89 commented on #3853
cc @nak3 can you help with this one maybe?

[2021-12-03 16:41] #4085 closed

[2021-12-03 17:58] #4188 closed

[2021-12-03 18:02] snneji commented on #3769
Could you remind why we want to change the content reuse plugin we use? What are the issues with the one we're currently using that will need to be solved by a new plugin?

[2021-12-06 11:31] julz commented on #4491
I doubt this will make it to the top of my todo list soon and it's something other people could pick up, so I'll unassign myself and assign if I actually end up getting some time

/unassign

[2021-12-06 18:39] abrennan89 commented on #4479
@snneji is there anything else to be added to this list or is this issue ready to assign?

[2021-12-06 18:44] abrennan89 commented on #3943
@snneji @xtreme-sameer-vohra is there any work left to do for this one?
I think it would be nice to get all the mkdocs migration stuff finished entirely so we can go back to focusing on docs content.

[2021-12-06 18:49] #4286 closed

[2021-12-06 18:50] abrennan89 commented on #4305
@sureshkumarAQ apologies that you weren't assigned, just saw this comment today. Would you still like to work on this issue?

[2021-12-06 18:52] abrennan89 commented on #4283
@evankanderson @omerbensaadon any plans for this one?
Not sure who would have the expertise to work on this one.

[2021-12-06 20:06] pierDipi commented on #2944
I'm adding more details to this issue.

On this page https://knative.dev/docs/eventing/configuration/broker-configuration/
users can configure some Broker defaults cluster-wide or per namespace.
For example:
[code]

With the new feature, another field called `delivery` can be configured as well, as follows:

[code]

The `delivery` field has the same shape as the delivery field of the broker as sho

[2021-12-06 20:06] pierDipi commented on #2944
let me know if the above helps!

[2021-12-06 21:25] omerbensaadon commented on #4283
This is a place where we are looking for contribution, no clear ownership.

Anyone with basic web-dev experience and some familiarity with MkDocs should be able to deliver on this...

[2021-12-06 21:31] abrennan89 commented on #2944
Thank you so much @pierDipi ! This is great!

[2021-12-07 13:32] nak3 commented on #4372
Okay @zzvara Please let us know if there is any issue with non-oudated tutorial. I am closing this issue as rest-api-go example was outdated and removed.

[2021-12-07 13:32] #4372 closed

[2021-12-07 23:43] xtreme-sameer-vohra commented on #3943
Hey @abrennan89
https://knative.dev/help/  is a 404 now and my memory is a bit fuzzy since it has been so long so I'd defer to you both.
This issue was auditing the old site and seeing whats missing in the current site. From a quick glance and assuming the new help page is https://knative.dev/docs/help/contributor/, I don't see the FAQ or Maintainer guides sections present.

[2021-12-08 05:57] xtreme-sameer-vohra opened #4543 "Eventing Sugar Controller Trigger sugaring expects Broker name to be "default""
## Expected Behavior
Instructions on [Sugar Controller](https://knative.dev/docs/eventing/sugar/) are correct and work

## Actual Behavior
Following the [Sugar Trigger Example](https://knative.dev/docs/eventing/sugar/#trigger-examples)
[code]
fails with

[code]

Update the instructions to mention that Broker's name must be `default` as the [admission webhook expects it](https://github.com/knative/

[2021-12-08 05:58] xtreme-sameer-vohra commented on #4543
/assign

[2021-12-08 06:36] nak3 commented on #3853
I think we should specifically ask users to enable hairpin traffic rather than CNI. And the setting for for the hairpin traffic depends on their Cluster/CNI.

So, I'd we add the following sentence to the eventing installation docs:

[code]

For "Some eventing components", we can replace it with imc-dispatcher if we know only imc-dispatcher needs it as @csantanapr asked :smile_cat:

@abrennan89 @li

[2021-12-08 08:05] Shashankft9 commented on #3853
@csantanapr its mostly related to how sequences work, so in the case of sequence following the example here: https://knative.dev/docs/eventing/flows/sequence/sequence-reply-to-event-display/, if I create a sequence and check the services created:
[code]

so the dispatcher runs the first sink in the sequence, then for the second sink it tries to connect to `sequence-kn-sequence-1-kn-channel` which

[2021-12-08 16:06] kvmware commented on #4538
Related issue https://github.com/knative/test-infra/issues/2946

[2021-12-08 16:49] aslom commented on #4394
@omerbensaadon do you have link to details how MkDocs would work wit Knative docs and github repos?

[2021-12-08 17:29] omerbensaadon commented on #4394
@aslom I would defer to the process change (https://github.com/knative/community/issues/796) which I think answers that question?

Looks like Samia is already on it with a PR... do you have any specific questions I can answer?

[2021-12-08 18:58] csantanapr opened #4545 "[steering blog]: new post to communicate steering election results"
Add a blog post under steering to communicate the steering election results.

/assign

[2021-12-09 13:23] snneji commented on #3943
I think we have done most of these tasks. I've just submitted https://github.com/knative/docs/pull/4544 to move the contributor guides from Hugo to MkDocs. That's the last thing we currently plan to move over to the website.

I'm not sure how much of the maintainer guides (https://github.com/knative/docs/tree/main/help/maintainer) need to be updated for MkDocs. These files document the release pro

[2021-12-09 13:23] #3943 closed

[2021-12-09 14:26] snneji commented on #4479
Hi @abrennan89, thanks for adding your items. I added a few items to the list that I noticed when doing the reorg.

[2021-12-09 14:38] abrennan89 commented on #4178
@JeffNeff do you still plan to work on this one?

[2021-12-09 14:50] hbelmiro opened #4547 "First Knative Service expected URL is different from the output"
When following the steps from https://knative.dev/docs/getting-started/first-service/, the outputted URL for the service is different from the expected. And when we try to access that URL, it can't be resolved.

curl http://hello.default.example.com
curl: (6) Could not resolve host: hello.default.example.com

## Expected Behavior

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Probl

[2021-12-09 20:44] abrennan89 commented on #4547
@psschwei @omerbensaadon @csantanapr can ya'll take a look at this please since it's part of the getting started?

[2021-12-09 20:58] psschwei commented on #4547
What version of the plugin are you using? This is often a problem with the `minikube tunnel` command, and there's been a couple of updates to the latest version of the plugin (v1.0.1) to address common issues.

[2021-12-09 23:55] csantanapr commented on #4547
@hbelmiro try version v1.0.1 of the in-quickstart plugin I hit the same problem because of not stopping and asking user to run minikube tunnel

[2021-12-10 05:56] VinayGoudCheguri opened #4550 "istio is not configured with knative-serving properly if official knative istio controller is used"
I have tried installing knative-serving and then configuring istio already existing in the cluster by applying the knative-istio-controller from (https://github.com/knative/net-istio/releases/download/knative-v1.0.0/net-istio.yaml). But, I end up with the IstioNotConfigured error.

I resolved this by adding a 3rd party knative-istio-controller from (https://github.com/knative/serving/blob/main/thi

[2021-12-10 06:44] nak3 commented on #4550
Could you elaborate on `IstioNotConfigured` error? I think Knative Resources does not set the status.
The official release is a little bit behind the `third_party/istio-latest/net-istio.yaml` but it is same release actually.

[2021-12-10 07:12] nak3 commented on #4547
Hmm... I'm not minikube user so I may be wrong :sweat_smile: But Knative on minkube configures the domain `127.0.0.1.nip.io` from `example.com` automatically?
I thought that https://knative.dev/docs/getting-started/first-service/ requires the domain change in `config-domain` like [Configure DNS](https://knative.dev/docs/install/serving/install-serving-with-yaml/#configure-dns). Otherwise, Knaive u

[2021-12-10 08:47] julz commented on #4101
I think we're planning to have no Hugo files, including for community, pretty soon, so Im going to let this age out

[2021-12-10 11:43] #4359 closed

[2021-12-10 11:45] snneji commented on #4531
Hi @fengqi2019, did @nak3  answer your question? If so, you can close this issue.

[2021-12-10 11:53] snneji commented on #4538
@aslom I made PR https://github.com/knative/docs/pull/4544 that moves the contributor information onto the MkDocs site.

I'm wondering whether it would be clearer if the link "Join the community" would say something like "Contribute to Knative"?

[2021-12-10 12:19] hbelmiro commented on #4547
@psschwei @csantanapr
I'm using quickstart v1.0.1 and kn 0.27.0. Both installed from homebrew.

@nak3
From the link you provided:

There's no way to take the External IP or CNAME from setting up networking and configure DNS. None of those services are installed (Kourier, Ambassador, Contour or Istio). I ran the Getting started tutorial, so I didn't any network configuration.

[2021-12-10 14:03] snneji opened #4553 "[EPIC] Getting started guide cleanup"
Epic to group issues related to the Getting started guide:

- [x] #4554
- [x] #4197
    - clarify that users must follow the guide from start to finish as a tutorial
    - maybe clarify name of guide
- [x] #4345
- [x] #4547
- [x] #4440
- [x] #4245
- [x] #4612
- [x] #4671
- [x] #4740

[2021-12-10 14:04] psschwei commented on #4547
From the info you've provided, it sounds like `minikube tunnel` is in fact the issue.

On Linux systems, the quickstart plugin runs the `minikube tunnel` command automatically, which would be why you didn't encounter an issue on Fedora.

On Mac/Windows systems, the user needs to run the tunnel command themselves... after the cluster comes up, the screen should show a message that says:

[code]

Di

[2021-12-10 14:18] snneji opened #4554 "Run through the Getting started guide and create a friction log"
There have been a few issues coming up about the getting started guide.

- [x] follow the guide and create a friction log
- [x] make fixes or follow up issues where necessary

[2021-12-10 14:29] snneji opened #4555 "#4554"

[2021-12-10 14:29] #4555 closed

[2021-12-10 15:15] hbelmiro commented on #4547
Yes. I ran the command in a separate window and pressed Enter in the original one. I can't remember when I closed the tunnel window, but I'm sure I waited as much as it was reasonable for me. I'm not very familiar with k8s, so I can remove all and do a fresh install if you think that helps.

[2021-12-10 15:24] psschwei commented on #4547
One thing I just thought of... we just fixed the profile info for the tunnel in [#185](https://github.com/knative-sandbox/kn-plugin-quickstart/pull/185), so there's a chance that the tunnel was referencing the wrong profile... (actually, I think that's probably pretty likely the culprit here).

Can you try again, and when you run the tunnel in the separate window use `minikube tunnel --profile kna

[2021-12-10 15:46] snneji commented on #4069
Hi @abrennan89, I would like to create the issues for this epic. Are you happy for me to create issues from the TO DO list?
Is there anything else you would want added?

[2021-12-10 16:31] abrennan89 commented on #4069
@snneji I think that's fine to go ahead with, thanks

[2021-12-10 16:34] abrennan89 commented on #3116
Unless anyone sees value in the https://knative.dev/docs/serving/knative-kubernetes-services/ page, after discussion with Markus, I think we can delete this page entirely. Wdyt @xtreme-sameer-vohra ?

[2021-12-10 16:55] hbelmiro commented on #4547
@psschwei

[code]

[2021-12-10 21:14] psschwei commented on #4547
Hmmm... what profiles exist? (`minikube profile list`)
Did you run the tunnel command separately or as part of the quickstart?

[2021-12-10 22:15] csantanapr commented on #4547
I think there seems to be some confusion here.

Would you mind using the released versions
kn version `v1.0.0`
[code]
kn-quickstart version `v1.0.1`
[code]

@nak3

I thought that https://knative.dev/docs/getting-started/first-service/ requires the domain change in config-domain like Configure DNS. Otherwise, Knaive uses the default example.com which cannot be resolved.

The `kn quickstart` command

[2021-12-10 23:23] psschwei commented on #4547
That's right, I got my wires crossed... the profile should be `minikube-knative`. Sorry for any confusion!

[2021-12-11 01:10] #4531 closed

[2021-12-13 10:52] snneji opened #4556 "Implement new snippet plugin including offset functionality"
## Context

To prevent duplication in docs we want to implement a snippets feature that meets our needs. Do this after #3769 is closed.

## Tasks

1. Implement the snippets plugin from the result of #3769.
1. Implement the offset functionality for the new plugin so that snippets can be included at the correct heading level in different places. For example, [this one](https://github.com/cmacmackin/

[2021-12-13 10:52] snneji opened #4557 "SPIKE: Create a list of sections in the docs that should be snippets"
## Context

To prevent duplication in docs we are implementing a snippets feature.

## Tasks

1. Create a list of sections in the docs that should be snippets, where these should be reused / could reduce duplication.
2. Do one of the following:
   - Implement the snippets for the identified sections, OR
   - Make a new issue to implement snippets if the sections need heading offset and the offset

[2021-12-13 10:52] snneji opened #4558 "Add guidance about creating and including snippets in docs for contributors."
## Context

To prevent duplication in docs we want to implement a snippets feature that meets our needs.

## Tasks

1. After #4556 is closed, document how to use the snippets plugin in the [docs contributor guide](https://github.com/knative/docs/tree/main/contribute-to-docs).

[2021-12-13 13:46] snneji commented on #3942
Do we still want to do this?

[2021-12-13 14:57] #4394 closed

[2021-12-13 15:13] abrennan89 commented on #3942
I'd love to but I'm not sure how. @evankanderson did you still want to help with this one?

[2021-12-13 15:19] #4460 closed

[2021-12-13 15:22] csantanapr opened #4562 "Release docs for Knative v1.1"
Cut a release for 1.1

remaining versions would be main, 1.1, 1.0, 0.26, 0.24

Dependencies:

- [x] New community tab/pages revamp
- [x] Service 1.1
- [x] Eventing 1.1
- [x] Kn CLI 1.1
- [x] Operator 1.1
- [x] Kn Plugins 1.1 and Homebrew released

/assign

[2021-12-13 19:57] hbelmiro commented on #4547
Yeah. I left the tunnel window open and it worked. Sorry for that.
It might be a good idea to put a note on the docs saying that the window must remain open throughout the process.

[2021-12-13 21:13] csantanapr opened #4567 "Unable to read entire cookie policy without accepting cookie policy first"
@abrennan89 commented on [Tue May 04 2021](https://github.com/knative/ux/issues/40)

@brian-burton commented on [Thu Jul 02 2020](https://github.com/knative/docs/issues/2636)

## Expected Behavior
A user of the site should be able to read the full cookie policy before accepting the pop-up.

## Actual Behavior
When reading any page on the site before accepting the cookie policy, the ability to scro

[2021-12-13 22:29] csantanapr commented on #4245
we should be able to run the `kn quickstart` for kind and minikube and check how much CPU and memory is requested and how much resources are being consumed when doing the two getting started for serving and eventing

[2021-12-14 04:19] csantanapr commented on #4567
/kind bug

[2021-12-14 04:20] csantanapr opened #4570 "Knative 1.1 release notes blog post"
Consolidate all components and write a blog post similar to https://knative.dev/blog/releases/announcing-knative-v1-0-release/

[2021-12-14 04:47] csantanapr commented on #4515
/unassign @psschwei

[2021-12-14 04:48] csantanapr commented on #4515
/assign
I'm working on this

[2021-12-14 07:31] #4515 closed

[2021-12-14 10:38] VinayGoudCheguri commented on #4550
@nak3 Unfortunately I do not have any snapshots or error logs to share. But I remember, when I describe the knative service
I got the following output.

[code]

[2021-12-14 11:05] nak3 commented on #4550
Okay so `IngressNotConfigured` not `IstioNotConfigured`. There are several reasons but I don't see any problem in the official 1.0 release yaml. If no logs from your end, I think it is difficult to investigate the issue unfortunately.

[2021-12-14 11:07] VinayGoudCheguri commented on #4550
okay

[2021-12-14 11:07] #4550 closed

[2021-12-14 12:20] #4498 closed

[2021-12-14 13:01] csantanapr opened #4575 "Create /communtiy redirect"
We recently move the community files from hugo to mkdocs this required us to move files from the root of the site and into one of the mkdocs versioned sites

 Now any links pointing to /community are not found

We need to fix this with a redirect in netlify
/community/* -> /docs/community/*

[2021-12-14 13:16] pierDipi commented on #4570
@csantanapr let's make sure we thank release leads in the blog post!
It's a lot of work that deserves a mention!

[2021-12-14 17:59] csantanapr commented on #4575
/assign @snneji

[2021-12-14 18:57] snneji opened #4576 "Update links to community guide"
## Context

Community guide has moved to MkDocs. We need to reduce confusion around contributing and community links on the site.

## Tasks

- [x] Update the contribute call to action on home page to https://knative.dev/docs/community/contributing/
- [x] Change "Join the Community" to "Community" in the menu
- [x] Update Community overview page name
- [x] Redirect away from old docs contributor gu

[2021-12-14 19:21] csantanapr commented on #4570
It's a lot of work that deserves a mention!

That's a great idea @pierDipi 👍

[2021-12-14 19:52] #4575 closed

[2021-12-14 20:08] snneji opened #4579 "Clean up unnecessary files in docs repo"
## Context

Now we have moved fully from Hugo, we can delete some unnecessary files.

## Tasks

- [x] Remove `/community` folder
- [ ] Find out other files to delete

[2021-12-14 20:15] snneji commented on #4579
/assign

[2021-12-14 20:20] #4576 closed

[2021-12-15 02:02] csantanapr commented on #4562
✅  New community is ready https://knative.dev/docs/community/

[2021-12-15 02:03] csantanapr commented on #4562
✅ Serving 1.1 ready https://github.com/knative/serving/releases/tag/knative-v1.1.0

[2021-12-15 02:04] csantanapr commented on #4562
💹 Eventing 1.1 ready https://github.com/knative/eventing/releases/tag/knative-v1.1.0

[2021-12-15 02:05] csantanapr commented on #4562
✅ Client (Kn CLI) 1.1 ready https://github.com/knative/client/releases/tag/knative-v1.1.0

[2021-12-15 02:24] csantanapr commented on #4562
✅ Kn homebrew plugins 1.1 ready https://github.com/knative-sandbox/homebrew-kn-plugins/pull/55

[2021-12-15 02:24] csantanapr commented on #4562
Operator v1.1 is not cut

[2021-12-15 15:35] xtreme-sameer-vohra commented on #3116
IMHO it is valuable to help new contributors / operators understand what each Knative Serving component does. From a quick glance on the site search I didn't find this info any where else 🤔
For the new contributors, we could merge this page with [Serving Resources Overview](https://github.com/knative/serving/blob/main/docs/resources-overview.md). Thoughts ?
For operators, I don't have any data to

[2021-12-15 21:43] #4545 closed

[2021-12-16 11:13] #4339 closed

[2021-12-16 11:13] snneji commented on #4339
All tasks completed

[2021-12-16 11:51] snneji commented on #4340
@psschwei It seems that we have 2 locations with instructions for the blog: in the [blog README](https://github.com/knative/docs/blob/main/blog/README.md), and in the [docs contributor guide](https://github.com/knative/docs/blob/main/contribute-to-docs/what-to-contribute/creating-blog-posts.md).

I see that you updated information in the blog README in https://github.com/knative/docs/pull/4416. Ma

[2021-12-16 13:28] psschwei commented on #4340
Yeah, I think that makes sense. I'll make a PR.

[2021-12-16 18:05] #4543 closed

[2021-12-16 18:56] csantanapr commented on #4562
✅ Operator 1.1 is ready https://github.com/knative/operator/releases/tag/knative-v1.1.0

[2021-12-16 19:50] csantanapr commented on #4562
Knative v1.1 Site is live ✨
https://knative.dev 🚀

[2021-12-16 20:16] mcastilho commented on #4562
Hey Carlos @csantanapr,

The links for the crds and core yamls are wrong.

The urls below are not found
https://github.com/knative/serving/releases/download/release-1.1/serving-crds.yaml

Shouldn't it be
https://github.com/knative/serving/releases/download/knative-v1.1.0/serving-crds.yaml

and so on..... for all the links

[2021-12-16 20:23] csantanapr commented on #4562
Your correct @mcastilho let me double check what went wrong

re-opening

cc @psschwei

[2021-12-16 21:36] omerbensaadon commented on #4339
🥳

[2021-12-16 21:44] csantanapr opened #4593 "website banner for v1.0 doesn't show warning"
The warning message should show for the last oldest versions in this case 1.0, 0.26, and 0.25

Only shows up for 0.26 and 0.25 but not 1.0

https://knative.dev/v1.0-docs/
![image](https://user-images.githubusercontent.com/1094878/146453430-7692c887-9d8a-4fbb-afa0-975f55984ae0.png)

https://knative.dev/v0.26-docs/
https://knative.dev/v0.25-docs/
![image](https://user-images.githubusercontent.com/10

[2021-12-16 21:46] csantanapr commented on #4562
It should be fix now @mcastilho
![image](https://user-images.githubusercontent.com/1094878/146453686-e6b53ff8-0926-4036-9a73-a277fc084ae3.png)

[2021-12-16 21:46] #4562 closed

[2021-12-16 22:42] psschwei commented on #4593
Updating [overrides/main.html](https://github.com/knative/docs/blob/main/overrides/main.html#L7-L19) as follows should fix the issue:

[code]

That _may_ need to be cherry-picked back into the 1.0 branch for the change to show up...

[2021-12-16 22:43] psschwei commented on #4593
Will PR later this evening

/assign

[2021-12-17 01:26] #3723 closed

[2021-12-17 12:33] #4340 closed

[2021-12-17 12:41] #4593 closed

[2021-12-17 12:47] csantanapr opened #4596 "Update home page banner v1.1"
The default home page and version is now the new version v1.1 and it display a banner about the v1.0 milestone and links to the blog post.

We should update the banner now.

Some options:
- No banner
- Banner with a message about joining the Cncf with link to blog post
- Banner announcing new version v1.1 and links to the v1.1 release notes blog post (to be written soon)

[2021-12-17 13:15] csantanapr commented on #4596
cc @snneji @psschwei

[2021-12-17 14:07] psschwei commented on #4596
I think I like either a CNCF banner or no banner. I'd put the CNCF option slightly ahead, but I am a little worried about counting chickens before they've hatched...

Whatever option we decide, one change we'll need to make is to make sure that the old version warning is part of the announce block in `overrides/main.html`, i.e.

[code]

(the old version warning being outside the announce block was

[2021-12-17 14:08] snneji commented on #4596
I vote for no banner. If we think joining the CNCF is very important for users to be alerted to, I would be OK with that option.

Reasoning:
- I think that a banner should be a temporary item for very important information.
- I don't think we should always have a banner for the latest release.
- It might just be me but I tend to ignore banners that are permanently at the top of a website, so I wou

[2021-12-17 14:17] snneji commented on #4596
FYI @abrennan89 if you have an opinion on this matter, feel free to add it. 🙂

[2021-12-17 14:26] psschwei commented on #4596
+1

[2021-12-17 14:30] csantanapr commented on #4596
Sounds good let's remove the banner, next big announcement when we get accepted to cncf then we can put the banner up
In this case we have time to design a more good looking banner and maybe some knative and cncf logos dancing of joy 😊

[2021-12-17 14:31] csantanapr commented on #4596
+1 remove banner from v1.1 and main