[2019-09-23 11:43] meteatamel opened #1814 "GCP Cloud Pub/Sub source sample docs need to be updated for v0.9"
## Expected Behavior
I follow the instructions on this page (docs/eventing/samples/gcp-pubsub-source/index.md) to listen GCP Pub/Sub events in Knative.

## Actual Behavior
The instructions say to run this:

`kubectl apply --filename https://github.com/knative/eventing-contrib/releases/download/v0.9.0/gcppubsub.yaml`

But that yaml file does not exist anymore. I think I might need to use https://gi

[2019-09-24 16:42] samodell commented on #1417
Fixed by #1790

[2019-09-24 16:42] #1417 closed

[2019-09-24 16:45] meteatamel opened #1823 "Configuring outbound network access is redundant"
This doc page says "Knative blocks all outbound traffic by default" but I don't think this is true in the more recent release. By default, all my samples worked without having to enable outbound traffic. This doc page should be removed?

[2019-09-26 17:27] samodell commented on #1649
Closing; not seeing the TODO anymore.

[2019-09-26 17:27] #1649 closed

[2019-09-26 21:07] Baykonur commented on #1574
why was this issue closed without any solution proposed?

[2019-09-26 21:47] samodell commented on #1574
Hmm, we've been able to successfully deploy the sample app, so we thought this may have been resolved in a subsequent Knative release. @Baykonur  have you run into this failure too?

[2019-09-27 11:51] Baykonur commented on #1574
@samodell , sorry I did not know you were at the reporter's side. Yes I have this exact issue: `Get https://gcr.io/v2/: dial tcp: lookup gcr.io on 10.96.0.10:53: no such host`, I am pretty sure because of our corporate proxy server, if I try to launch for an image which is from our internal repo, then it works.

[2019-09-27 18:48] mattmoor opened #1833 "Assigning a static IP address for Knative on Kubernetes Engine(development/serving/gke-assigning-static-ip-address.md)"
This page has a number of rendering problems.

[2019-09-27 18:49] mattmoor opened #1834 "Site wide rendering issues for codeblocks w/o linebreaks"
The Ubuntu bullets are rendered improperly.

[2019-09-27 20:54] alexellis commented on #281
/remove-lifecycle stale

[2019-09-30 20:05] mattmoor opened #1842 "GKE cluster creation doesn't set up cluster local gateway"
## Expected Behavior

The cluster local gateway is installed

## Actual Behavior

It is not.

## Steps to Reproduce the Problem

Follow the GKE cluster creation commands and install knative.

cc @tcnghia

[2019-10-01 08:48] xorver opened #1843 "GCP Cloud Pub/Sub source(docs/eventing/samples/gcp-pubsub-source/index.md)"
## Expected Behavior
   kubectl apply --filename https://github.com/knative/eventing-contrib/releases/download/v0.9.0/gcppubsub.yaml

should work

## Actual Behavior

error: unable to read URL "https://github.com/knative/eventing-contrib/releases/download/v0.9.0/gcppubsub.yaml", server reported 404 Not Found, status code=404

Question:
Would it be fine to use GCP PubSub event source from some olde

[2019-10-01 18:47] RichieEscarez commented on #1834
https://knative.dev/development/install/knative-with-aks/

![image](https://user-images.githubusercontent.com/11762685/65990808-20742300-e441-11e9-962d-e5f5b1376566.png)

[2019-10-01 19:07] RichieEscarez opened #1850 "Remove mention of all past versions"
Going forward, knative.dev should only mention breaking or important changes from one previous version (v.latest -1).

Todo:
- [ ] All references to any other version should be removed
- [ ] If necessary, revise all content to consider only one version prior (otherwise remove mention of a version altogether)
- [ ] If we must mention something, consider adding it to a migration guide or known issue

[2019-10-02 01:35] akashrv opened #1853 "Update Knative Installation instructions to include Eventing"
[Installing Knative](https://knative.dev/docs/install/) only talks about installing Knative Serving. There are no instructions to install Knative Eventing except for in a small section under [Getting Started](https://knative.dev/docs/eventing/getting-started/#installing-knative-eventing)

Knative Eventing and Serving are independent components and can work together too. My suggestion will be to ha

[2019-10-02 05:07] drnic opened #1854 "Enabling tag to digest resolution(docs/serving/tag-resolution.md)"
Link to Google Slide "Why we resolve tags in Knative" is private [1]. Could it be made public please?

[1] https://docs.google.com/presentation/d/1gjcVniYD95H1DmGM_n7dYJ69vD9d6KgJiA-D9dydWGU/edit?usp=sharing

[2019-10-02 18:10] steren opened #1856 "Update C# sample to .Net Core 3.0"
https://github.com/knative/docs/tree/master/docs/serving/samples/hello-world/helloworld-csharp

Apparently, .Net Core 3.0 is available.
Our sample uses 2.2, we should make sure it's up to date.

[2019-10-02 18:12] steren commented on #1856
CC @grayside

[2019-10-02 20:34] RichieEscarez commented on #1843
Looks like this was removed for 0.9: https://github.com/knative/eventing/pull/1598

So the docs should be updated to use: https://github.com/google/knative-gcp

[2019-10-02 20:57] RichieEscarez commented on #904
Duplicate of https://github.com/knative/docs/issues/1853

[2019-10-02 20:57] #904 closed

[2019-10-02 21:05] RichieEscarez commented on #1854
It is publicly accessible but you need to first join the knative-users group, please see details here: https://knative.dev/contributing/contributing/#design-documents

[2019-10-02 21:05] #1854 closed

[2019-10-02 21:06] RichieEscarez commented on #1856
/cc @grayside

[2019-10-03 12:11] JCzz commented on #1574
I have the same problem:

Env:
[code]

knative yaml: hello.yaml
[code]
No reply:
`curl -H "Host: http://go-hello-world.default.example.com" http://${IP_ADDRESS}`

[2019-10-03 12:15] JCzz opened #1857 "Routing bug: No reply from: gcr.io/knative-samples/helloworld-go"
My bad - close this one

[2019-10-03 12:30] #1857 closed

[2019-10-03 13:44] samodell commented on #1853
@akashrv

Currently, the install guides there direct folks to install both Knative Serving and Eventing --

https://knative.dev/docs/install/knative-with-gke/#installing-knative

The majority of the install guides follow that lead. (The ones that don't are for platforms with minimal disk space, where size constraints were an issue).

We want to avoid duplicating the install page for each component

[2019-10-03 14:55] samodell commented on #1521
/remove-lifecycle stale

[2019-10-03 21:39] RichieEscarez opened #1859 "Configuring outbound network access(docs/serving/outbound-network-access.md)"
Is this topic still valid? During the knative.dev navigation restructure review this topic received the following comment:

"[matzew] This shouldn't be necessary any more, since we don't use Istio sidecars"

Please identify whether this topic is still accurate and should exist in the Knative docs. Or please open a PR with "fixes" or to otherwise delete the file.

[2019-10-04 00:10] akashrv commented on #1853
There are two issues I see here:

1. Not all install guides cover Eventing
https://knative.dev/docs/install/knative-with-ambassador/
My Bad :( - I just read the first link and didnt check others. You are correct. Other links mention both.

2. It is not clear to someone not working on Knative whether Serving and Eventing are independent or not. These are independent components and we should clarify

[2019-10-07 17:40] aslom opened #1865 "Kafka documentation not visible?"
## Expected Behavior

Kafka in the list of code samples:
https://knative.dev/docs/eventing/samples/
(it should be https://github.com/knative/docs/tree/master/docs/eventing/samples/kafka )

## Actual Behavior

Missing link to
https://github.com/knative/docs/tree/master/docs/eventing/samples/kafka

## Steps to Reproduce the Problem

1. Open https://knative.dev/docs/eventing/samples/

## Additional I

[2019-10-07 17:40] aslom commented on #1865
/assign @RichieEscarez

@matzew

[2019-10-07 17:44] aslom opened #1866 "Eventing samples README.md missing in repo"
## Expected Behavior

Able to edit in github
https://knative.dev/docs/eventing/samples/

## Actual Behavior

404 opening
https://github.com/knative/docs/tree/release-0.9/docs/eventing/samples/README.md

## Steps to Reproduce the Problem

1. Click " View/Edit this page" in right top corner in https://knative.dev/docs/eventing/samples/

## Additional Info
**Additional context**
Add any other context

[2019-10-07 21:17] matzew commented on #1865
I see them online... development ? not a released version

On Mon 7. Oct 2019 at 19:40, Aleksander Slominski <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-10-07 21:37] samodell commented on #1865
Hi @aslom  , PR #1712  was merged to the master branch, which shows up as the "development" section of the website. You can see that page here: https://knative.dev/development/eventing/samples/

To get the docs to show up in the 0.9 branch, you'll need to either cherry-pick your commit in the release-0.9 branch or repeat the change in the release 0.9 branch: https://github.com/knative/docs/tree/re

[2019-10-07 21:37] #1865 closed

[2019-10-08 09:22] #1581 closed

[2019-10-08 18:18] RichieEscarez opened #1872 "Docs still contain references to deprecated knative-ingressgateway"
Going forward, we should refer to only the latest past version. The following docs include several steps regarding the 0.3 and 0.4 versions (which are 5 and 6 versions past) that need to be removed or revised.

If nothing needs to be mention for migrating from v0.9 to v0.10, please delete and/or revise the corresponding steps.

Docs that mention the deprecated `knative-ingressgateway`:
https://git

[2019-10-08 19:48] vaikas-google commented on #1842
This beasically means that anybody that installs Knative on GKE with 0.9 will get a broken setup. I think this warrants a dot release.

[2019-10-08 22:50] RichieEscarez opened #1874 "Restructure the "Community" section"
To improve site navigation, the following changes will be made to the "Community" section:

- [x] Update the "Overview"
- [x] Apply the `docs` layout to use and show a left nav pane
- [x] Move the "[Contributing](https://knative.dev/contributing/)" into the "[Community](https://knative.dev/community/)" section below the "[Code Samples](https://knative.dev/community/samples/)" (https://github.com/k

[2019-10-08 23:29] RichieEscarez opened #1875 "New topic: "How to post to the blog""
Provide instructions about how users can post to the [Blog section](https://knative.dev/blog/).

- [ ] Create and add a GitHub template (so anyone who wants to post gets the necessary site content in their PR when clicking "Post to the blog" form the site)
- [x] Explain how to use the template, including:
  - how to add the post into the correction blog section
  - what [front matter](https://gohu

[2019-10-09 11:27] marcjoha opened #1876 "Installing Istio for Knative(docs/install/installing-istio.md)"
## Expected Behavior

Istio is installed

## Actual Behavior

Components istio-ingressgateway and istio-pilot are not created because yaml validation fails due to wrong apiVersion of Deployment.

## Steps to Reproduce the Problem

1. Follow the guide

## Additional Info
**Install information:**
 - Platform (GKE, IKS, AKS, etc.): GCE
 - Knative Version: 0.9.0

[2019-10-09 21:20] steren commented on #1856
@meteatamel maybe you can help us?

[2019-10-09 23:20] RichieEscarez commented on #1648
known issue that we are working towards resolving (#1202 #1834)

[2019-10-09 23:20] #1648 closed

[2019-10-09 23:23] RichieEscarez commented on #1465
moving this to #1875

[2019-10-09 23:23] #1465 closed

[2019-10-09 23:37] RichieEscarez commented on #1866
The "View/Edit" link in knative.dev expects there to be a README.md file in the repo. In this case that README is missing and should be added to the repo.

[2019-10-09 23:39] RichieEscarez commented on #1872
Related issue: #1850

[2019-10-10 00:10] meteatamel commented on #1856
Sure, please assign to me and I'll take a look

[2019-10-10 00:31] steren commented on #1856
I guess @RichieEscarez has the power to assign it to you

[2019-10-10 00:36] RichieEscarez opened #1880 "Update the "releases" section of the Blog"
[Blog -> Releases](https://knative.dev/blog/releases/)

Determine how to use this section going forward. It is outdated and excludes mention of any of the recent releases.

Will contributors continue to add posts here for each release?

[2019-10-10 01:46] RichieEscarez opened #1881 "Update: Knative overview"
Update the Knative overview @ https://knative.dev/docs/:

- Cover Knative at a high level only.
- Should explain what "Knative" means (Serving and Eventing components)
- And then explain what each component is/provides (high level picture)
- Use something visual (matrix or diagram) to show how each component can be used (together/standalone)
- Introduce "Why" to use each component, then link to th

[2019-10-10 02:01] grayside commented on #1856
/assign meteatamel

[2019-10-10 02:15] RichieEscarez opened #1882 "New topic: Use cases"
Conceptual content about Knative use cases:
- describe in depth the primary use cases
- build from where the "Overview" left off
- provide architecture and diagrams for the well-known "solutions"
- this topic avoids going into that "How To"
- should link to "Next steps", including our "Getting Started" guides and any related tutorials

[2019-10-10 02:39] RichieEscarez opened #1883 "Restructure the "Reference" section"
Revise the "Reference and API" section:

- [x] Rename the section to "Reference"
- [x] Move the API docs down into a sub-section "API"
   - [x] Position Serving above Eventing
- [x] Add a new "Release notes" section (initially act as a landing page that links to all the repo "Releases" pages)
- [x] Move and rename "Concepts > Resources" topic as a "Related resources" sub-topic
     - [x] Add `alia

[2019-10-10 02:47] RichieEscarez commented on #1661
@ahmetb Has there been any progress here?

Now that both the Serving and Eventing API doc builds fail, I'm wondering if this issue will remain as a blocking item through the next releases, or if Knative needs to investigate an alternative?

/cc @rgregg

[2019-10-10 03:02] RichieEscarez opened #1884 "Update: Enhance the "Code Samples" landing page"
- Rename to "All Knative code samples"
- Consider using [`{{ readfile }}` shortcodes](https://github.com/knative/website/blob/master/layouts/shortcodes/readfile.md) to fully render the individual Serving and Eventing  code samples pages within this landing page
  - Render Community too?
- Move "External links" to a separate page under "Community" that also gets "included" here too (using `{{ readf

[2019-10-10 03:12] samodell opened #1885 "Update GCP PubSub Page"
## Expected Behavior
https://knative.dev/docs/eventing/samples/gcp-pubsub-source/ is easy to follow

## Actual Behavior
Install instructions for Knative are unclear. It's also not clear when you are done with the install portion.

## Additional context

Screenshots from Slack discussion w/ Jonathan Campos: https://drive.google.com/file/d/1ceAyeFiQRyYougY5PTy8NrOI6B63nNQ0/view

https://drive.google

[2019-10-10 11:24] onsails opened #1886 "Setup TLS with Gloo gateway"
I am writing an blog post about setting up GKE cluster, installing Knative with Gloo and deploying a service. Trying to make my instructions appropriate for production use and understandable for newcomers to k8s like I am. I've successfully done and described all steps (deployed gloo and knative, deployed a service available on HTTP with explicit health and readiness, database connection configura

[2019-10-10 14:20] meteatamel commented on #1856
I have an open PR [1816](https://github.com/knative/docs/pull/1816) to fix this.

[2019-10-10 16:42] tcnghia commented on #1886
@prettynatty AutoTLS is still in its early phase, but it works with Gloo.

/cc @ilackarms is there an easy way to manually assign certificates for Gloo?

[2019-10-10 16:42] tcnghia commented on #1886
/assign @ilackarms

[2019-10-10 17:13] prettynatty commented on #1886
I'l happily contribute to docs of both knative and Gloo about TLS setup, even if there is no easy way to setup TLS. We've discussed the issue with @ilackarms in Gloo slack for a while and apparently there are multiple ways to setup TLS on Knative with Gloo. Then moved conversation here to involve both sides because I decided to stick to the way which allows developer to keep using Knative abstract

[2019-10-10 20:35] meteatamel commented on #1842
+1 on doing a dot release. A number of folks already ran into this. Either the installation yaml files or instructions should be updated to do whatever is needed to have this working by default on the current version of GKE with Istio add-on version.

[2019-10-11 13:50] abrennan89 opened #1892 "Document BYO autoscaler"
**Describe the change you'd like to see**
Add documentation outlining how to configure and implement using your own Pod Autoscaler with Knative Serving.

/assign abrennan89

[2019-10-11 14:20] abrennan89 commented on #978
Hey folks. I went to look into this issue and maybe assign it to myself, but it looks like it could be covered now at https://knative.dev/docs/serving/cluster-local-route/ ?

[2019-10-11 14:22] abrennan89 commented on #978
Maybe there is scope here instead to have a top level section on "Configuring access for Knative Services" and then break this down into internal and external access, defaults, etc, so that it provides better context for users?

[2019-10-11 15:08] abrennan89 commented on #978
/assign abrennan89

@samodell assigning this to myself to work on if that's OK :slightly_smiling_face: lmk what you think / if there are any issues with this. Thanks!

[2019-10-11 16:13] samodell commented on #978
Hey @abrennan89 , go for it! I think the main problem is discoverability; we have a lot of the info, but it's called out in a confusing way.  "Cluster local route" isn't what folks think of when they're thinking about creating an internal-only or private service, but that's what the main page that talks about this is called.

[2019-10-11 18:33] ZhiminXiang commented on #1842
/assign @ZhiminXiang

[2019-10-11 19:42] RichieEscarez commented on #1555
[Proposed location in the site nav](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvwSk/edit#gid=413198505&range=197:197)

[2019-10-11 21:04] RichieEscarez opened #1895 "New "Cluster maintenance" section"
Create an operator focused section that covers how to maintain a cluster running Knative (post install information about how to add or remove features, as well as how to upgrade).

- [ ] Repurpose the 'custom install' topic to align with the how to "maintain your cluster"
  - include mention (and/or links to):
     - 'kn' CLI
     - networking
     - observerability

  - [ ] install new features/p

[2019-10-11 21:18] RichieEscarez opened #1896 "New "reference" topic "Knative installation files""
Move the "reference" info out of https://knative.dev/development/install/knative-custom-install/, into its own topic so what remains are two distinct topics (1) a task and (2) this new reference.

New ref topic should include and be the new home for:
- Title: "Knative installation files and dependencies" (short: "Install files and dependencies")
- list of installation files
- table the describes t

[2019-10-11 22:04] RichieEscarez opened #1897 "Update: "Modifying your installation""
After the ref content is removed (#1896) from https://knative.dev/development/install/knative-custom-install/, revise this to cover how to modify/maintain your current installation.

- change title: "Modifying your installation"
- explain how to modify and maintain the features on your cluster, including how to:
  - add/remove components, features, or plugins
- change filename (remove "knative" fr

[2019-10-12 01:03] RichieEscarez commented on #1344
This should be up to date now.

[2019-10-12 01:30] RichieEscarez opened #1898 "Update the "Install" section to cover "Install options""
The install details for either the Serving or Eventing component are to be separated into their individual sections. This provides users the specific details about only the Knative component they are interested.

With the above model, the top-level "Install" section should be repurposed to provide an overview, the available install options, and enough detail to help the user choose the desired ins

[2019-10-12 05:28] qiujian16 opened #1900 "The example in autoscaling should have annotations"
## Expected Behavior
Example here https://github.com/knative/docs/blob/master/docs/serving/configuring-the-autoscaler.md#configuring-cpu-based-autoscaling should put the parameter in side annotations

## Actual Behavior
No annotations is set, the creation using example fails

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platfo

[2019-10-14 16:45] meteatamel commented on #1814
I have the instructions to set this up in my tutorial: https://github.com/meteatamel/knative-tutorial/blob/master/docs/08-helloworldeventing.md

[2019-10-14 16:52] meteatamel opened #1902 "Knative Eventing docs need to explain somewhere Knative with GCP project"
[Knative with GCP](https://github.com/google/knative-gcp) is needed to read Google Cloud events in Knative Eventing. However, Knative Eventing docs does not mention this project at all. There should be a page somewhere in Knative Eventing docs where we explain Knative with GCP project and what it's used for, so people are aware and have context.

[2019-10-14 17:39] meteatamel opened #1903 "Knative installation instructions for GKE should include cluster-local-gateway installation"
The Knative Installation instructions for GKE should be updated to have cluster-local-gateway installed so Knative Eventing works out of the box for PullSubscription and Knative Services as event sinks.

[2019-10-14 18:01] ahmetb commented on #1814
+1 Can we prioritize updating this? I think it's pretty severe that the GCP eventing instructions are broken and it seems like this work to separate the repos was done as part of v0.9.

[2019-10-14 21:17] vaikas-google commented on #1903
https://github.com/knative/docs/pull/1894

[2019-10-15 05:23] abrennan89 commented on #1850
Is there a way to also filter search results by version or prevent these from showing up older versions of docs mixed in with the latest docs? It makes the search a little confusing to use IMHO because you have to check the link to make sure the docs aren't from an older version every time.

[2019-10-15 09:09] ron212 opened #1905 "GCP Cloud Pub/Sub source(docs/eventing/samples/gcp-pubsub-source/index.md)"
## Expected Behavior
Install  GCP PubSub event source

## Actual Behavior

Get 404 not found an error
error: unable to read URL "https://github.com/knative/eventing-contrib/releases/download/v0.9.0/gcppubsub.yaml", server reported 404 Not Found, status code=404
## Steps to Reproduce the Problem

1. Create GKE cluster
2. Install Knative 0.9.0
3.  Install  GCP PubSub event source (kubectl apply --fi

[2019-10-15 14:45] RichieEscarez commented on #1850
Yeah, I feel the same about our search too. I've had that on my to-do list since the [site launch](https://github.com/knative/docs/projects/5#card-20873600) but have not been able to get to it. I'm opening formal issues for all the site backlog items, including improved search scope.

[2019-10-15 16:45] gianarb opened #1906 "minikube not working and apiserver is crashing consistently"
I am trying to build a PoC using knative, but I can't get the minikube installation to work.

## Expected Behavior
apiserver working and all the container running

## Actual Behavior
apiserver down and minikube too slow to be usable. Every command inside the VM hangs

## Steps to Reproduce the Problem

1. clone https://github.com/gianarb/knative-test
2. make minikube/start
3. make istio/install
4.

[2019-10-15 19:38] RichieEscarez commented on #1797
Looks like this feature was recently added to the Docsy template. That means we will need to investigate upgrading from our early "beta" version of the docsy code to pick that up.

Marking this a duplicate of https://github.com/knative/website/issues/57

[2019-10-15 19:38] #1797 closed

[2019-10-15 21:22] dgerd commented on #1796
/assign

[2019-10-16 17:28] ZhiminXiang commented on #1842
This issue was fixed by the PR https://github.com/knative/docs/pull/1894

[2019-10-16 19:19] eallred-google commented on #1750
fixed a couple of the non-eventing links

[2019-10-17 11:13] etherlai opened #1910 "does knative serving support faas？"
I see serving sample yaml image is a server with 8080 port.
can I use function not web server just like kubeless.

[2019-10-17 14:32] grzesiek commented on #1895
I believe that being able to easily upgrade Knative is really important. It is not clear how to do that without a large downtime at the moment.

[2019-10-17 17:46] vaikas-google commented on #1842
merged and cherrypicked to 0.9 documents. I'm closing, reopen if something else is missing.

[2019-10-17 17:46] #1842 closed

[2019-10-18 04:26] Violet-Guo opened #1913 "Bug in eventing debugging example.yaml"
In eventing debugging process, apply the example.yaml to debug.

## Expected Behavior
`kubectl apply --filename example.yaml`

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. apply the example.yaml in eventing debugging doc.

## Additional Info
**Additional context**
None.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.): K8S
 - Knative Version: V0.9

[2019-10-21 01:46] EatonZ commented on #1856
Looks like @meteatamel's PR was merged, so I think this can be closed now.
Still needs to be published to [Cloud Run docs](https://cloud.google.com/run/docs/quickstarts/build-and-deploy), though.

[2019-10-21 16:39] #1856 closed

[2019-10-21 22:02] #1900 closed

[2019-10-22 07:30] #1913 closed

[2019-10-22 22:49] RichieEscarez opened #1917 "New "how to contribute to docs" instructions"
Need to author the instructions about how to contribute to knative.dev, including all the missing Hugo/Docsy/site requirements. When and where to add:
- [ ] General info about site:
       - Hugo
       - Docsy
       - [Markdown processor info](https://gohugo.io/getting-started/configuration-markup/)
       - Netlify
       - knative/website repo

- [ ] front matter

[code]

     - ‘title’ and ‘t

[2019-10-22 23:05] RichieEscarez opened #1919 "Ensure that all topics with long titles use a `linkTitle`"
To avoid text wrapping the left navigation menu, topics with long titles should use the [`linkTitle` frontmatter](https://gohugo.io/content-management/front-matter/) element to specify a shorter title (for the nav only).

Navigation titles should not be repetitive, for example, every topic under the "Install" section, should avoid repeating "Install" in every nav element within that section (becau

[2019-10-22 23:39] RichieEscarez commented on #978
This topic about internal k8s services also exists and is related: https://knative.dev/docs/serving/knative-kubernetes-services/

We should tie these topics together into a thorough overview and then nest the related "task" topics under that overview (*how to do X (and WHY)*). See [Proposed navigation structure here](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvw

[2019-10-23 00:02] ahmetb commented on #978
this seems to be a misunderstanding. we're not talking about Kubernetes Services that are created as part of Knative installation; we're talking about Knative Services created by users (which aren't explained in this linked doc, or anywhere else).

[2019-10-23 00:40] RichieEscarez commented on #978
I agree but I'm in the middle of trying to organize our library to align with the developer flow and was simply trying to group "services" into a single section. Within that section, we can have separate topics or even another section specific about knative services.

That said, would it be incorrect or confusing to group all 'services' related content? Do they fall under different roles? (Is Oper

[2019-10-23 02:56] ahmetb commented on #978
Any k8s core/v1 Service that appears under knative-serving namespace has nothing to do with any user-created Knative Service. So it doesn't make sense they're in the same doc.

TBH https://knative.dev/docs/serving/knative-kubernetes-services/ this doc is a deep dive that most knative users don't even need to know. It's an explanation of knative internal machinery. Most users won't change these, so

[2019-10-23 16:38] RichieEscarez commented on #978
Thanks @ahmetb! I'd love to get move of this level of feedback in our [Nav proposal](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvwSk/edit?ts=5d826691#gid=413198505).

[2019-10-23 21:06] RichieEscarez opened #1921 "Create an "archive" section in the site for old releases"
Determine how to accomplish this in the site and then implement one of the following options:

* Create/host a peer "archives" site that gets refreshed at each release
    - Send version 'latest-2' to archive when new version is published to knative.dev.
    - Create and publish another site on Netlify (ie. archives.knative.dev)
    - The archive site would a separate build process

* Static conte

[2019-10-23 23:02] RichieEscarez opened #1922 "Restructure "Serving component" section"
Align content with the developer flow and arrange content into logical sections.

[View proposed nav structure](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvwSk/edit?ts=5d826691#gid=413198505&range=32:32)

- [x] For all moved or renamed files, add a redirect to that file's frontmatter (#1925)
- [ ] Add ‘kn’ CLI to the Getting Started
- [ ] Create a Serving only i

[2019-10-23 23:07] RichieEscarez opened #1923 "Restructure "Eventing component" section"
Align content with the developer flow and arrange content into logical sections.

[View proposed nav structure](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvwSk/edit?ts=5d826691#gid=413198505&range=121:121)

- For all moved or renamed files, add a redirect to that file's frontmatter (#1925)
- [x] Create a Eventing only install section
- [ ] Create new “Event cons

[2019-10-24 06:22] bappr commented on #1809
Literally spent 1 full day dealing with this issue. ;)
Documentation about that is more than welcome! 👍

[2019-10-24 18:21] RichieEscarez opened #1925 "Ensure that all content affected by the nav changes gets a "redirect""
The following requires a redirect:
- moved or changed folders
- filename change

To add a redirect, you must add the [`aliases` element](https://gohugo.io/content-management/front-matter/#front-matter-variables) to the file's frontmatter.

**`aliases:`**
**`  - /docs/contribution-guidelines/`**

[Example](https://raw.githubusercontent.com/knative/docs/6efd60b4a000ba4293cc694755738366b5ef059d/contr

[2019-10-24 19:18] justingrayston opened #1926 "Getting Started with Eventing(docs/eventing/getting-started.md)"
## Expected Behavior
In the docs it says `kubectl get pods -n knative-eventing` will result in

NAME                                            READY   STATUS    RESTARTS   AGE
eventing-controller-6cdf6ff785-44k98            1/1     Running   0          29m
eventing-webhook-6c4f6699d8-qclbx               1/1     Running   0          29m
imc-controller-85cdb4946b-h2msj                 1/1     Runni

[2019-10-25 07:59] pajoma opened #1927 "Regarding in-memory-controller in Guide: Getting Started with Eventing"
## Expected Behavior
Output of `kubectl get pods --namespace knative-eventing` after installation of knative eventing resources matches the output in guide.

[code]

## Actual Behavior
The in-memory controller and dispatcher is missing.

[code]

## Steps to Reproduce the Problem

Install KNative Eventing as described in guide

It's just confusing, since the output in the guide seems to have two di

[2019-10-25 16:27] rgregg commented on #1130
@ZhiminXiang is this something you could draft instructions for?

[2019-10-25 17:13] ZhiminXiang commented on #1130
Currently we still see E2E test failures when enabling mTLS (https://github.com/knative/serving/pull/5648). I think we need to root cause the E2E test failures to make sure mTLS works before starting the instruction.

[2019-10-25 20:28] RichieEscarez commented on #1927
Duplicate of #1926

[2019-10-25 20:28] #1927 closed

[2019-10-28 16:37] samodell commented on #170
/remove-lifecycle rotten

[2019-10-28 19:20] vaikas-google commented on #1910
Yes you can create functions that behave like web servers, and wire them into events. I think you're maybe asking are there libraries that mask away the invocation (http[s] as a transport for example) instead of having to hand code it?
Here's some examples for how to use Knative eventing:
https://knative.dev/docs/eventing/samples/

There are some tools that make it easier to write function logic:

[2019-10-29 20:18] #1489 closed

[2019-10-29 20:20] RichieEscarez commented on #1210
@ZhiminXiang is this fixed already?

[2019-10-30 17:32] RichieEscarez commented on #1210
Update: This is still in-progress.

[2019-10-30 19:45] nachocano commented on #1905
/assign

[2019-10-30 19:46] nachocano commented on #1843
/assign

[2019-10-30 19:46] nachocano commented on #1814
/assign

[2019-10-31 00:12] RichieEscarez opened #1946 "Create new `release-0.10` branch and publish v0.10 docs"
Blocking items before creating new branch:
- [x] Finish removing 'build' from doc set:
        -  https://github.com/knative/website/pull/99
        - https://github.com/knative/docs/pull/1942
- [x] Fix hardcoded URL so that they point to the correct repo branch/release https://github.com/knative/docs/pull/1945

Create new `release-0.10` branch:
- [x] Steps 2 - 5 @ https://github.com/knative/docs/

[2019-10-31 00:32] RichieEscarez commented on #1859
From chat:
"Outbound access is allowed by default
The model changed in Istio 1.1 and OSS recommends Istio 1.2"

"enabled by default since Istio 1.1.  Since we require 1.1 for Knative v0.8.1 onward, Knative > v0.8.1 would suffice"

[2019-10-31 00:40] RichieEscarez commented on #1859
cc/ @evankanderson  @dgerd  @ahmetb

[2019-10-31 01:26] RichieEscarez commented on #1946
New branch created: https://github.com/knative/docs/releases/tag/v0.10.x

[2019-10-31 01:44] ZhiminXiang opened #1949 "Need docs for using HTTP01 Challenge for Auto TLS"
**Describe the change you'd like to see**
After PR https://github.com/knative/serving/pull/5186 is checked in, we need a document to introduce how to set up cluster to use HTTP01 challenge for Auto TLS.

[2019-10-31 01:45] RichieEscarez commented on #1946
v10 ready for publishing (pending a followup LGTM). closing

[2019-10-31 01:45] #1946 closed

[2019-10-31 01:46] RichieEscarez commented on #1859
this topic was removed from master, v0.9, and v0.10

[2019-10-31 01:46] #1859 closed

[2019-10-31 02:30] RichieEscarez commented on #1804
That topic has been remove recently #1859 (it was only accurate for v0.8.1 and earlier)

[2019-10-31 02:30] #1804 closed

[2019-10-31 05:05] nachocano commented on #1262
/assign

[2019-10-31 05:06] nachocano commented on #1885
/assign

[2019-10-31 05:09] nachocano commented on #1750
The eventing links should have been fixed with this https://github.com/knative/docs/pull/1950.
Not closing it as some serving ones might still be broken?

[2019-10-31 14:38] lionelvillard opened #1952 "Document DeliveryOptions"
## What is changing? (Please include as many details as possible.)
Channels can now support [DeliveryOptions](https://github.com/knative/eventing/tree/master/docs/delivery).

## How will this impact our users?

They will be able to better control the event delivery, eg when errors occur.

## In what release will this take happen (to the best of your knowledge)?
v11

## Context
Link to associated P

[2019-10-31 18:02] #1262 closed

[2019-10-31 18:02] #1814 closed

[2019-10-31 18:02] #1843 closed

[2019-10-31 18:02] #1885 closed

[2019-10-31 18:02] #1905 closed

[2019-11-01 21:23] ahmetb opened #1955 "Hard to link to sections of API documentation through #targets"
File in question:
https://github.com/knative/docs/blob/51b878d8ebb494e48cfa5f4214defe92e85eb491/docs/serving/spec/knative-api-specification-1.0.md#volume

In this doc there are duplicate headings, such as "Revision" which causes these to be generated as:

- #revision
- #revision-2

[2019-11-01 21:23] ahmetb opened #1956 "Hard to link to sections of API documentation through #targets"
File in question:
https://github.com/knative/docs/blob/51b878d8ebb494e48cfa5f4214defe92e85eb491/docs/serving/spec/knative-api-specification-1.0.md

In this doc there are duplicate headings, such as "Revision" which causes these to be generated as:

- #revision
- #revision-2

Unfortunately this makes permalinking really difficult. It would be good to get stable #ids for these.

[2019-11-04 01:08] duglin opened #1958 "Add support for cmd and args when creating a new service"
Knative, via yaml, supports specifying the cmd and args in the podSpec - `kn` should support this too since there are times when people may need to specify which exe in the image to run or what args to pass to the exe. Sometimes the default values in the image are not sufficient.

[2019-11-04 16:33] taragu opened #1960 "Add field ImagePullSecrets to docs"
As field ImagePullSecrets is added with PR https://github.com/knative/serving/pull/5917, we need to update https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md

Also bump the lastUpdated and version (1.0.1).

Part of #5866

/assign @taragu
FYI @dgerd

[2019-11-05 00:39] CapKenR commented on #1624
I ran into a similar race condition on a new, non-GKE cluster.

[code]
Running the command again worked.

[2019-11-05 00:42] ahmetb opened #1962 "Broken link for Serving API documentation"
Right now https://knative.dev/docs/reference/serving-api/

has a link to `https://github.com/knative/serving/tree/%7B%7B%3C%20branch%20%3E%7D%7D/pkg/apis`

which seems to be broken.

/kind bug

[2019-11-05 00:50] evankanderson commented on #1624
I'll see what we can do about getting the operator installation
documentation ready for mainstream so that we're not debugging kubectl
application of yaml...

On Mon, Nov 4, 2019 at 4:40 PM Ken Rider <notifications@github.com> wrote:

--
Evan Anderson <argent@google.com>

[2019-11-05 21:44] ahmetb opened #1964 "Custom domains doc only explains customizing default domain"
https://knative.dev/docs/serving/using-a-custom-domain/

This doc is titled "Setting up a custom domain" but it actually only covers "Configuring the default domain".

It doesn't explain how can I expose my `hello-go.default.example.com` with a domain name I own like `hello.com`.

[2019-11-05 22:39] ahmetb commented on #1955
/close
in favor of #1956

[2019-11-05 22:39] #1955 closed

[2019-11-06 00:54] #1515 closed

[2019-11-06 19:28] duglin opened #1968 "Psuedo schema for our resources"
**Describe the change you'd like to see**

On today's eventing call I mentioned that I'd be interested in seeing a pseudo schema for
our resources. So, I created this: https://docs.google.com/document/d/1MTuQ_v7TH-JgKWr4Ie7bYvvi4uR6PEs4c4DHAfW4Y60/edit#  to show the type of thing I was looking for.

While yes this is a very geeky thing and would not replace our more user-friendly docs, I think the

[2019-11-06 19:39] duglin commented on #1402
/remove-lifecycle rotten

[2019-11-06 19:43] coryrc opened #1969 "Friction: Installing Knative(docs/install/_index.md)"
tl;dr On https://knative.dev/docs/install/ I believe the "Comprehensive install guides" should be the very first thing on the page, possibly relabeled "Quickstart Guides".

First line after the title "Installing Knative" is "Follow this guide to install Knative components on a platform of your choice." This is just a wordier version of the title wasting space.

It's misleading for the first paragr

[2019-11-07 16:17] abrennan89 commented on #978
@RichieEscarez I'm a little unclear about what we want to document now. Should we separate the Knative Services stuff we were talking about into another ticket since it's two different types of services? Getting the feeling this issue still needs its own new section of content re user created services?

@markusthoemmes can you or do you know who can provide information about creating cluster inter

[2019-11-07 17:58] RichieEscarez commented on #978
Sorry about that, I should have also made mention of the changes I pushed into the Nav proposal.

Our outline for what we want and what's missing is all being tracked in the [Nav proposal](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvwSk/edit#gid=413198505&range=53:53), so I've updated is per ahmetb's input. Ultimately we are restructuring all the content into "[

[2019-11-09 01:18] RichieEscarez opened #1973 "Outdated: Binding running services to an IoT core(docs/eventing/samples/iot-core/index.md)"
gcppubsub.yaml was removed and replaced with https://github.com/google/knative-gcp ([more info](https://github.com/knative/docs/pull/1950))

The last available version of gcppubsub.yaml is in v0.8.2:
https://github.com/knative/eventing-contrib/releases/download/v0.8.2/gcppubsub.yaml

Since this sample (https://knative.dev/docs/eventing/samples/iot-core/) is not using content from v0.10, it should

[2019-11-09 01:42] RichieEscarez commented on #1750
all fixed!

[2019-11-09 01:50] #1960 closed

[2019-11-09 01:51] #1633 closed

[2019-11-11 16:36] samodell commented on #1632
/remove-lifecycle stale

[2019-11-11 19:28] vaikas opened #1977 "Update the parallel,sequence to flows.knative.dev"
## What is changing? (Please include as many details as possible.)
We're moving parallel & sequence from messaging.knative.dev to flows.knative.dev API group. We need to update our docs to reflect this.

## How will this impact our users?
They should move to the new flows.knative.dev resources.

## In what release will this take happen (to the best of your knowledge)?
v0.11

## Context
Link to ass

[2019-11-11 19:47] samodell commented on #1969
Thanks for writing this up, Cory! Totally agree with you on these points; we've got some changes coming that will hopefully address these concerns about the install sections.

[2019-11-12 05:23] coryrc commented on #1969
Woohoo! I'll look for the changes. Thanks.

[2019-11-12 15:37] #1977 closed

[2019-11-12 17:02] abrennan89 opened #1980 "Rename reconciler to controllers and add link to Kubernetes controller docs"
**Describe the change you'd like to see**
Follow up from @RichieEscarez 's comment on https://github.com/knative/docs/pull/1877

**Additional context**
Part of #1892 fix

[2019-11-12 17:02] abrennan89 commented on #1980
/assign abrennan89

[2019-11-14 19:46] dgerd opened #1983 "Notate external links in documentation"
**Describe the change you'd like to see**
We have many links in our documentation including some to external content. For example, in https://knative.dev/docs/install/ "Picking the Right Solution" links to K8s docs. Below it "Installing with Ambassador" links to docs within the Knative website.

External links results in a new pop-up window while internal docs change the navigation within the wind

[2019-11-14 21:01] #1980 closed

[2019-11-15 05:21] emaildanwilson commented on #1809
Same here, this bit me today until I happened across the issue above. IMO it would also be helpful if there was a way to add network tags to the master gke instances. That way I could write a firewall rule that allows access without specifying the cidr block on either side.

[2019-11-17 04:25] EatonZ commented on #1856
FYI, [Google's site](https://cloud.google.com/run/docs/quickstarts/build-and-deploy) is still not updated, someone may want to sync it up.😉

[2019-11-17 23:50] grayside commented on #1856
Thanks for the check EatonZ, looks like the problem is limited to the instruction to use dotnet v2.2. We'll get that fixed up.

[2019-11-20 21:43] abrennan89 commented on #1850
/assign abrennan89

[2019-11-20 23:13] abrennan89 commented on #1850
### Version mentions from review (list is WIP):

- [ ] Installing Knative > MicroK8s > Enable Knative (mentions Serving & Eventing 0.7.1)
     - [ ] Also has a note about updating versions in the doc. We should remove the note if we're not going to track / commit to tracking this for each version.
- [ ] Installing Knative > Azure Kubernetes Service > Installing Knative (mentions 0.3.x)
- [ ] Insta

[2019-11-21 22:42] abrennan89 commented on #1850
@RichieEscarez @samodell any idea what to do about the last three on this list? Do we need a migration guide?
I will double check this is all of them with fresh eyes tomorrow :slightly_smiling_face:

[2019-11-21 23:39] RichieEscarez commented on #1850
Lets just remove that whole "upgrade step":

![image](https://user-images.githubusercontent.com/11762685/69385706-11f1fd00-0c75-11ea-923c-f61f625a7d84.png)

Thanks a ton!!!!

[2019-11-22 15:13] abrennan89 commented on #1850
Thanks @RichieEscarez :slightly_smiling_face: the PR is updated to reflect this and the other comments now.

[2019-11-25 15:31] mattmoor opened #2001 "Cloud Events - Go(development/serving/samples/cloudevents/cloudevents-go/index.md)"
## Expected Behavior

Numbered list at top to appear like: https://github.com/knative/docs/tree/master/docs/serving/samples/cloudevents/cloudevents-go

## Actual Behavior

The first element is folded into the paragraph before.

cc @RichieEscarez

[2019-11-28 17:41] lucamaf opened #2005 "grpc code sample build breaks"
## Expected Behavior
I expect to be able to build the docker image for the grpc code sample successfully

## Actual Behavior
When I launch this:
docker build --tag "lucamaf/grpc-ping-go" .

I get back this:
Sending build context to Docker daemon 22.53 kB
Step 1/10 : FROM golang:1.12 as builder
Error parsing reference: "golang:1.12 as builder" is not a valid repository/tag: invalid reference format

[2019-11-29 23:13] mjschmidt opened #2007 "Page needs improvement - https://knative.dev/docs/eventing/samples/kafka/"
## Expected Behavior
I installed strimzi kafka to my cluster just to ensure that I would have a compatible/expected kafka since that is what the docs asked for. However I am unable to proceed past creating the channel for kafka in knative.

## Actual Behavior
No address is passed into the knative v0.10.0 yaml file. Also, i did manually update this as the knative 10 docs still point to an older v0.

[2019-11-29 23:14] mjschmidt commented on #2007
I am also unsure which branch I would do a pull from. would I branch master or go hot fix v0.10.0

[2019-11-30 01:49] kmjayadeep opened #2009 "Cookies popup keeps coming up"
In documentation website, the popup for the consent of cookies keeps coming up on each page even if we accept it. This behavior greatly deteriorates the user experience.

Steps to reproduce
------
1. go to https://knative.dev/docs/eventing/samples/gcp-pubsub-source/ or any documentation page
2. click on `accept` on cookies prompt
3. refresh page
4. see the popup coming again

Expected behavior
---

[2019-11-30 16:52] mjschmidt opened #2010 "Page needs improvement"
## Expected Behavior

This example actually went well once I figured out what the docs issue was
This is the page that needs fixing:
https://knative.dev/docs/eventing/samples/kubernetes-event-source/

I expected this command to give me back the pod logs (as described)
kubectl logs -l serving.knative.dev/service=event-display -c user-container

## Actual Behavior

After doing a pod get -o yaml, I r

[2019-12-02 13:11] mjschmidt commented on #2007
This command returns empty, which means that step one in these docs does functionally nothing.

[code]

[2019-12-02 19:36] #1850 closed

[2019-12-02 22:32] ahmetb opened #2014 "Can't find any docs about Revision Tags"
`spec.traffic` block of a ksvc supports a `tag` field (new-ish feature).

But I can't seem to find what this field does and how it can be used to split traffic.

Ideally it would be mentioned here https://knative.dev/docs/serving/samples/traffic-splitting/index.html

It's actually used here: https://knative.dev/v0.8-docs/serving/samples/blue-green-deployment/ but it doesn't explain what the "tag"

[2019-12-03 14:53] mattmoor commented on #768
We have a sample for this here: https://github.com/knative/docs/tree/master/docs/serving/samples/secrets-go

[2019-12-03 14:53] #768 closed

[2019-12-03 16:53] samodell commented on #1032
/remove-lifecycle stale

[2019-12-03 22:36] hrgui opened #2017 "[eventing/gcp-pubsub-source] InvalidSink when doing kubectl apply -f gcp-pubsub-source.yaml"
## Expected Behavior

PubSub to be ready

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. Follow examples in https://github.com/knative/docs/tree/master/docs/eventing/samples/gcp-pubsub-source#deployment

`kubectl describe PubSub/testing-source `
## Additional Info
**Additional context**
Add any other context about the problem here.
[code]

Seems like
https://github.com/knative/e

[2019-12-04 02:40] samodell commented on #1711
/remove-lifecycle stale

[2019-12-04 12:48] PurpleBooth commented on #400
I believe this is now clarified

/close

[2019-12-04 12:48] #400 closed

[2019-12-04 22:43] EatonZ commented on #1856
Another FYI: 3.1 LTS is out now. Might want to do another update here - probably will be the last update needed for a while (next is 3.0 in Nov 2020).

[2019-12-05 00:09] steren commented on #1696
/remove-lifecycle stale

[2019-12-05 02:05] leavest opened #2020 "Install on a Kubernetes cluster(docs/install/Knative-with-any-k8s.md)"
## Expected Behavior
The container kube-rbac-proxy in pods node-exporter can be running.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

1. I already have a Kubernetes(v1.13) cluster.
2. Installing Istio with sidecar injection.
3. Installing Knative.

## Additional Info
**Additional context**
Add any other context about the problem here.
log for container kube-rbac-proxy
[code]
**In

[2019-12-05 02:40] #2020 closed

[2019-12-05 11:09] aliok commented on #1239
@RichieEscarez just had a chance to give the script a try. It works great.

I guess we cannot have a README.md on the website repo as it would be rendered as well, right?
Can we have a txt file that is not rendered?

Would be nice to see how to build the website quickly, instead of looking inside the script

[2019-12-05 11:50] meteatamel opened #2021 "Update C# sample to .Net Core 3.1"
https://github.com/knative/docs/tree/master/docs/serving/samples/hello-world/helloworld-csharp

.Net Core 3.1 is available.

[2019-12-05 11:51] meteatamel commented on #1856
Opened [2021](https://github.com/knative/docs/issues/2021). I'll send a PR.

[2019-12-05 12:07] meteatamel commented on #2021
Opened a PR, please merge: https://github.com/knative/docs/pull/2022

[2019-12-05 18:06] RichieEscarez commented on #1239
That's great to hear @aliok. I will eventually add a README the knative/website repo. Other than the fact that the process seems to change from month to month as I fix or improve things, I do have other priorities right now. We are restructuring all of our content right now but after that I'll be able to document all these administration type steps.

[2019-12-05 20:31] ahmetb opened #2023 "Eventing install docs suggest the command will installs the wrong thing"
Page: https://knative.dev/docs/eventing/getting-started/

This claims it installs "eventing sources" but actually this installs the entire Eventing release and NO "eventing sources".

AFAICT eventing sources install isn't documented.

/priority P1
if that works

[2019-12-05 21:23] ahmetb opened #2025 "Can't find old documentation pages about using private registries"
These pages showing up on site search results for keyword "private"  seem to be gone and redirect to the homepage :( (why can't we set up redirect while shuffling files like this in Netlify?)

There's nothing under `Serving Component` on the sidebar that helps me find where this content has gone to.

[2019-12-05 21:26] ahmetb commented on #2025
Sadly all google search results are broken, too. The content at #847 seems to be gone from the site.

![image](https://user-images.githubusercontent.com/159209/70275303-bd657c00-1762-11ea-8830-7910cf53f02e.png)

[2019-12-05 21:39] ahmetb opened #2026 "markdown code fence syntax error"
found at  https://knative.dev/docs/eventing/getting-started/#installing-knative-eventing

[2019-12-05 22:09] ahmetb commented on #2026
This issue actually happens 3 times on this page.

[2019-12-06 15:17] meteatamel opened #2029 "Knative Eventing samples should be updated to use CloudEvents 1.0"
Knative docs use CloudEvents 0.3 spec in samples. One example is [here](https://knative.dev/docs/eventing/getting-started/) where `Ce-Specversion: 0.3` has been mentioned a few times.

From v0.10.2 onwards Knative eventing works with both CE 0.3 as well as CE 1.0. Docs should be updated to mention this and samples ideally use the new CE 1.0 spec.

[2019-12-06 18:46] ThinkDigitalSoftware opened #2030 "Broken link in knative docs for installing a Kubernetes cluster"
## Expected Behavior

Link is not broken
## Actual Behavior
link is broken

## Steps to Reproduce the Problem

1. Follow the link to the [docs](https://github.com/knative/docs/tree/175313457f94baa036b400f12d162157edef70a7/community/samples/serving/helloworld-dart#prerequisites)
2. follow the link here. (replicated) below 👇🏾
 A Kubernetes cluster with Knative installed. Follow the [installation ins

[2019-12-06 19:02] abrennan89 commented on #1555
/projects Kn Client Docs

[2019-12-06 19:09] abrennan89 commented on #1555
/project Kn Client Docs

[2019-12-06 20:18] samodell commented on #2030
@ThinkDigitalSoftware  Following your link to the Helloworld-Dart sample, it looks like you were viewing the docs on an out-of-date tree that was last edited Jan. 2019: https://github.com/knative/docs/tree/175313457f94baa036b400f12d162157edef70a7/community/samples/serving/helloworld-dart#prerequisites

If you navigate instead to the same page on the most recent release branch, the link resolves co

[2019-12-06 20:18] #2030 closed

[2019-12-06 20:50] ThinkDigitalSoftware commented on #2030
Ok, thanks. I was linked here from a docker getting started tutorial. Maybe
that needs to be updated.

On Fri, Dec 6, 2019, 12:19 PM samodell <notifications@github.com> wrote:

[2019-12-06 21:00] abrennan89 commented on #1555
/project 23

[2019-12-07 00:43] RichieEscarez commented on #2009
Hi @kmjayadeep,

Sorry that you are experiencing an odd behavior on the site. Unfortunately, regardless of the timezone i test, im unable to replicate your issue. The only way I get the "every page cookie notice" behavior is if I turn off/disable cookies in my browser. If your browser is preventing cookies from being stored, then each page load will act as a new request, thus a pop-up for every pa

[2019-12-08 05:23] kmjayadeep commented on #2009
Hi @RichieEscarez
Thanks for testing it out. It seems like the issue is only in Firefox. I've tried disabling tracking protection and still getting the same result.
however I have observed the following logs in console when i click on accept button
[code]
I'm not sure why it is showing UTC time zone, as I'm in UTC + 530
Also I don't see anything relevant on cookie tab. I've also tried on incognito

[2019-12-09 23:39] samodell opened #2032 "Investigate idea of having a bot post "needs eng input" docs PRs into related channels to encourage review"
**Background**

Sometimes, a PR hangs open in the Docs repo because we need someone with the right technical expertise to verify an update to the details of the documentation. Right now, the Docs team usually has to manually solicit input from engineers, but this process won't scale very effectively.

We want to look into the idea of a bot that would take any open PR in the Docs repo flagged "need

[2019-12-10 18:42] abrennan89 commented on #1622
@moficodes are you still encountering this issue?
It looks like its rendering fine to me at https://knative.dev/docs/eventing/samples/cronjob-source/

[2019-12-10 19:03] #1622 closed

[2019-12-10 19:26] abrennan89 commented on #1892
/project 17

[2019-12-10 20:05] abrennan89 commented on #2017
triage/needs-eng-input

[2019-12-10 20:06] abrennan89 commented on #2017
/label triage/needs-eng-input

[2019-12-10 23:14] vaikas opened #2033 "Update documentation / samples to not use deprecated fields."
## What is changing? (Please include as many details as possible.)
As per: https://github.com/knative/eventing/issues/2298

We need to update examples that use:
sequence, parallel and subscription and sources to use non-deprecated fields.

## How will this impact our users?
They will need to use non-deprecated fields (they were deprecated in 0.10, so in 0.12 they will be gone).

## In what release

[2019-12-10 23:29] samodell opened #2035 "Create a folder for Documentation-related contributing info"
Create a folder in the "Community" repo for documentation-related information and move the new Docs Contributing guide and the template page into that folder. This will solve the problem of the template page being included in the left nav for the community materials at https://knative.dev/contributing/

[2019-12-11 00:29] grayside commented on #1686
/remove-lifecycle stale

[2019-12-11 14:55] abrennan89 commented on #1555
/project 23

[2019-12-11 14:58] abrennan89 commented on #2014
kind/new-docs-needed

[2019-12-11 15:03] abrennan89 commented on #1555
kind/needs-end-input

[2019-12-11 15:03] abrennan89 commented on #1555
kind/needs-eng-input

[2019-12-11 15:04] abrennan89 commented on #1555
/kind needs-eng-input

[2019-12-11 15:04] abrennan89 commented on #1555
/kind/needs-eng-input

[2019-12-11 16:11] samodell opened #2037 "Cut the release-0.11 branch and update the website to display the new branch"

[2019-12-11 17:10] abrennan89 commented on #2037
/kind enhancement

[2019-12-11 17:11] abrennan89 commented on #2037
/project 23

[2019-12-11 17:48] abrennan89 commented on #2014
/kind serving

[2019-12-11 17:50] abrennan89 commented on #2029
/kind eventing

[2019-12-11 18:38] samodell opened #2038 "Investigate getting contributors permissions to add issues to project boards"
@abrennan89  is doing some project management for the Docs repo, but she can't add an issue to a project board.

Goal -- find out what controls permissions for that and find a workflow for giving contributors permissions to edit project boards without granting any unneeded permissions.

[2019-12-11 18:45] RichieEscarez commented on #2009
Thanks for the feedback. It sounds like I need to refine the window for the EU timezone.

In the meantime, from the Firefox console/terminal, can you run `getcookie()` to  verify that the cookie still exists (you should get `accepted` as the return value)? I might need to do something additional to support that browser (ill try on my end too but I'd like to get another data point to better underst

[2019-12-11 18:49] abrennan89 opened #2039 "Create top level Knative Client section"
**Describe the change you'd like to see**
Add a CLI section at the same level in the nav as Serving and Eventing.

**Additional context**
[Notes from client docs discussion](https://docs.google.com/document/d/1ScMMnPnjKi9iC0DR3ci634O_mX32ksfZVe0_YhP9VOk/edit?folder=1K5cM9m-b93ySI5WGKalJKbBq_cfjyi-y#)

[2019-12-11 18:50] abrennan89 commented on #2039
/assign abrennan89
/kind cli
/kind enhancement

[2019-12-11 19:14] abrennan89 commented on #2039
/project 23

[2019-12-11 19:15] samodell commented on #2039
/project 20

[2019-12-11 20:08] abrennan89 opened #2041 "Add instructions to install Knative using the `kn` CLI"
**Describe the change you'd like to see**
Add a new 'Install Knative using `kn`' section to https://knative.dev/docs/install/

[2019-12-11 20:22] abrennan89 commented on #1192
@samodell this one probably makes sense to do once we have separate install guides for Serving and Eventing.
Maybe add this as a note for #1922 and #1923 so that this comment doesn't get lost if the issue goes stale before these get separated?

I'll add the details about [nightly builds](https://github.com/knative/client/blob/master/docs/README.md#getting-started) to the CLI install docs.

[2019-12-11 20:40] samodell commented on #1192
/remove-lifecycle stale

[2019-12-11 23:52] hrgui commented on #2017
## More info:

I initially created the cluster through the UI from GKE  (with Cloud Run enabled), but not through the docs that knative provided. When following the docs faithfully, everything works as expected.

Closing.

[2019-12-11 23:52] #2017 closed

[2019-12-12 02:53] #1962 closed

[2019-12-12 05:30] kmjayadeep commented on #2009
This is what i get in console

[code]

I tried printing the log before clicking accept button.
Strange thing is that even though the cookie is there, every time the popup keeps coming.

[2019-12-12 16:03] abrennan89 commented on #2039
Related issue: https://github.com/knative/client/issues/510

[2019-12-12 16:43] lionelvillard opened #2043 "document broker delivery options"
## What is changing? (Please include as many details as possible.)
The Broker now supports `spec.delivery`.

## How will this impact our users?
They will be able to control what to do (retries, deadlettersink) when event delivery fails.

## In what release will this take happen (to the best of your knowledge)?
Ex. v0.2-v0.3
0.12.0

## Context
Link to associated PRs or issues from other repos here.

[2019-12-12 17:01] #2039 closed

[2019-12-12 17:18] abrennan89 opened #2044 "Create `Installing `kn` CLI` docs"
**Describe the change you'd like to see**
Add documentation in the new Client section for how to download and install `kn` CLI.

[2019-12-12 17:43] samodell commented on #2038
/project 20

[2019-12-12 18:54] abrennan89 opened #2046 "Create "Connecting `kn` to your cluster" section"
**Describe the change you'd like to see**
Create a section under **Client (Kn)** outlining the requirement for a "kubectl-style config file" for your platform, based on https://github.com/knative/client/blob/master/docs/README.md#connecting-to-your-cluster.

Check all external links and ensure that all platforms listed have docs for the config file. If not, raise an issue to create clear docs and

[2019-12-12 19:05] abrennan89 commented on #2046
Link to [Organizing Cluster Access Using kubeconfig Files](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/)

[2019-12-12 23:41] #1952 closed

[2019-12-13 15:43] mattmoor opened #2050 "Remove Ambassador from docs in 0.12"
It is unclear whether this integration still works, and we need to land e2e testing for this integration to remain.  We shouldn't just remove these eagerly, but if it looks like we won't have them in 0.12, then we should remove the docs to avoid them becoming a hazard for users.

See also: https://github.com/datawire/ambassador/issues/1871

[2019-12-13 17:32] abrennan89 commented on #1892
This is covered now under Implementing your own Pod Autoscaler at https://knative.dev/development/serving/configuring-autoscaling/

Closing this issue.

[2019-12-13 17:32] #1892 closed

[2019-12-13 18:43] abrennan89 commented on #1919
@RichieEscarez are there guidelines around the max length for the linkTitles?
Also, do we keep any reference doc of which sections have which weights / go in which order, something like a Google sheet maybe?

[2019-12-13 19:44] abrennan89 commented on #1883
https://github.com/knative/docs/pull/2052/files#diff-b00a88a07ceb21b1a83e5822e0c86c1dR3

[2019-12-13 20:09] abrennan89 commented on #1883
This one has its own issue now so I won't do it as part of this issue.

[2019-12-13 20:14] d2iq-shadowbq opened #2053 "rest-api-go uses an SaaS service API which is now deleted."
## Expected Behavior

A sample application in the documentation should work as expected.

https://github.com/knative/docs/blob/06881add07600c2e8252e77a45aa489714710c1a/docs/serving/samples/rest-api-go/stock.go#L66

A price is returned

## Actual Behavior

The docs reference in a sample a SaaS service by [iextrading.com](iextrading.com) which is no longer publicly available.

Fetching "https://api.

[2019-12-16 17:09] abrennan89 commented on #2041
Issue created in error, `kn` is not used for installations. Closing issue.

[2019-12-16 17:09] #2041 closed

[2019-12-16 22:59] #1903 closed

[2019-12-18 03:34] RichieEscarez commented on #1202
With the new Hugo v0.61.0 release, all of these issue go away. See pending [the PR in knative/website](https://github.com/knative/website/pull/115) for the fix that resolves these issues

[2019-12-18 03:37] RichieEscarez commented on #2026
Fixed in https://github.com/knative/website/pull/115

Preview here: https://5df99dd0591d650008c975c8--knative.netlify.com/docs/eventing/getting-started/

[2019-12-18 08:58] dleurs opened #2060 "Improve page"
I don't want here to highlight a problem but something that, I think, is missing in the "using a Custom Domain" and the knative get started in.

After "kubectl get ksvc", in the page to get an Hello World Go working, it is said that if the URL includes example.com, we have to do a bunch of stuff ("kubectl edit cm config-domain --namespace knative-serving", or modifying /etc/hosts, this one works f

[2019-12-18 09:04] pablobastidasv opened #2061 "Page needs improvement"
## Expected Behavior

When following the examples from [camel source page](https://knative.dev/docs/eventing/samples/apache-camel-source/) in a completely new k8s minikube environment, they work as the page says.

## Actual Behavior

Executing the example `Run a Timer CamelSource` in Minikube (knative with gloo) does not work and I cannot find any documentation that helps me to find what is happen

[2019-12-18 18:48] RichieEscarez commented on #1202
Fix was merged, closing this

[2019-12-18 18:48] #1202 closed

[2019-12-18 18:49] #2026 closed

[2019-12-19 00:50] RichieEscarez commented on #1654
Fixed with https://github.com/knative/docs/pull/2027

[2019-12-19 00:50] #1654 closed

[2019-12-19 01:01] RichieEscarez commented on #2061
@pablobastidasv Ive pinged the Eventing Slack channel for help with your issue. If you don't get a response here, you might try opening your issue in the knative/eventing or eventing-contrib repos (or reaching out directly on Slack too)?

[2019-12-19 03:30] ahmetb opened #2067 "istio self-install instructions broken/incomplete"
Page: https://knative.dev/docs/install/installing-istio/#installing-istio-with- sidecar-injection
and
https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection

Specifically the highlighted part `install/kubernetes/helm/istio`.

![image](https://user-images.githubusercontent.com/159209/71142232-a0519400-21cb-11ea-9ef3-920a8e549a41.png)

I'm not sure how it's sup

[2019-12-19 03:43] ahmetb opened #2068 "superfluous new lines in some code blocks"
Code blocks in https://knative.dev/docs/serving/accessing-traces/ page have trailing new line

![image](https://user-images.githubusercontent.com/159209/71143226-a301b880-21ce-11ea-841d-65066ee5ae61.png)

[2019-12-19 03:44] ahmetb commented on #2068
ditto this page: https://knative.dev/docs/serving/cluster-local-route/
and this page: https://knative.dev/docs/serving/debugging-application-issues/
I think there are more.

[2019-12-19 04:03] ahmetb opened #2069 "Flow is broken for installing-istio doc"
https://knative.dev/docs/install/installing-istio/

This page has some serious flaws.

Most notably anyone reading the page top to bottom will install FULL istio, then LEAN istio, but nowhere in titles it says it's a LEAN istio.

![image](https://user-images.githubusercontent.com/159209/71144028-78652f00-21d1-11ea-867a-d17c9a0b498a.png)

Hope this helps.

[2019-12-19 04:14] ahmetb commented on #2069
Adding fuel to the fire, I have just realized I also need to follow [this section](https://knative.dev/docs/install/installing-istio/#updating-your-install-to-use-cluster-local-gateway) (buried down the page, because there's no proper Table of Contents) to get a cluster-local-gateway (which is something most users will need).

I highly recommend splitting this page to 5 separate pages with clear t

[2019-12-19 04:44] ahmetb opened #2070 "Show how to use Prometheus and/or Grafana in "accessing-metrics" docs"
https://knative.dev/docs/serving/accessing-metrics/#grafana
https://knative.dev/docs/serving/accessing-metrics/#prometheus

These two pages say "here's how you access {Grafana,Prometheus}".

As a user who's not familiar with any of these, I would've appreciated which {dashboard,metrics} I am supposed to look at to learn more about my application running on Knative.

For Grafana: Which dashboards a

[2019-12-19 07:08] ahmetb commented on #2069
I'll close this since I realized finishing `Downloading Istio and Installing CRDs` actually doesn't fully installs istio components; just the CRDs.
/close

[2019-12-19 07:08] #2069 closed

[2019-12-19 08:07] nicolaferraro commented on #2061
@pablobastidasv can you provide some more context on the status of your current namespace, that will help investigate the issue.

E.g.
[code]

[2019-12-19 08:09] nicolaferraro commented on #2061
If there's a pod started from the timer source, it will also help having its logs.

[2019-12-19 10:33] pablobastidasv commented on #2061
Hi @nicolaferraro, here the additional context information you asked for.

[code]

[code]

[code]

[code]

[code]

I don't see any log related to the timer source, only the camel-k-operator.

In advance, thanks for your help.

[2019-12-19 10:51] nicolaferraro commented on #2061
It's strange, there's no status section in the Camel Source. This means probably that the camel-source-controller is not able to change it.

Can you provide the logs of the controller?

[code]

[2019-12-19 11:06] pablobastidasv commented on #2061
Now there is something, here the logs:

[code]

[2019-12-19 11:38] nicolaferraro commented on #2061
Thanks @pablobastidasv , it looks like a problem due to a refactoring in pgk that broke it in 0.11.0.
I'm opening an issue on eventing-contrib to track.

[2019-12-19 15:47] enricofranco opened #2071 "Wrong fields in eventing/samples/kafka/source/event-display.yaml"
File `docs/eventing/samples/kafka/source/event-display.yaml` reports

[code]

Applying this yaml, console returns this message:

[code]

Modifying the yaml file in this way, according to this page https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#service-2, it is correctly applied.

[code]

Are there any mismatches in the docs?

[2019-12-19 17:41] ahmetb opened #2073 "Istio doesn't inject sidecars despite installing it with sidecar injection and labeling ns"
I am following "Installing Istio with sidecar injection" guide from the istio template compiled at https://knative.dev/docs/install/installing-istio/#installing-istio-with-sidecar-injection with ISTIO_VERSION=1.4.2

It installs Istio correctly.

[code]

Then I read Automatic Sidecar Injection (https://istio.io/docs/setup/additional-setup/sidecar-injection/#automatic-sidecar-injection) and run:

[c

[2019-12-19 21:28] RichieEscarez commented on #1661
Fixed for 0.11 and master. Closing.

[2019-12-19 21:28] #1661 closed

[2019-12-19 22:08] ahmetb commented on #2073
So the [with Istio sidecar](https://knative.dev/docs/install/installing-istio/#installing-istio-with-sidecar-injection) does this in helm chart:

  --set sidecarInjectorWebhook.enabled=true \
  --set sidecarInjectorWebhook.enableNamespacesByDefault=true \
  --set global.proxy.autoInject=disabled \

However it looks like when I set `global.proxy.autoInject=enabled`, and apply that istio.yaml, follo

[2019-12-19 23:19] eallred-google commented on #2038
See knative/test-infra#1586

[2019-12-20 01:32] nak3 commented on #2073
Yes, the docs has same issue with https://github.com/knative/serving/issues/6166, which was fixed by https://github.com/knative/serving/pull/6169.

Although I will update the docs, perhaps we should use `istioctl` intead of `helm` as proposed by https://github.com/knative/serving/issues/6100.

Finally, just FYI (I know you do not expect this though), according to https://istio.io/docs/ops/configur

[2019-12-20 03:30] ahmetb commented on #2073
I think the current docs aren’t bad, I am not sure if it’s worth doing an overhaul. Just needs fixing.

[2019-12-20 23:01] samodell commented on #2023
/label priority/2

[2019-12-21 00:25] #2037 closed

[2019-12-21 00:25] #2023 closed

[2019-12-23 22:58] RichieEscarez commented on #2009
I've tried a few things that I found on the internet to try and resolve the behavior in Firefox but all have failed. Perhaps in the near future a solution will surface? Ill try to swing back around to this and look for other alternatives after i've wrapped up some other priorities.

Thanks again @kmjayadeep!

[2019-12-24 01:56] kmjayadeep commented on #2009
Thanks @RichieEscarez
I will also try to dig deeper when I get time.

[2019-12-26 17:47] Hackdemon23 opened #2078 "#654"
## What is changing? (Please include as many details as possible.)

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
Ex. v0.2-v0.3

## Context
Link to associated PRs or issues from other repos here.

1.
1.
1.

## Additional info

[2019-12-27 09:00] alexellis commented on #281
Is this available now or still waiting on an Istio change?

[2019-12-27 14:54] mattmoor commented on #281
You should be able to put it in `spec.template.spec.timeoutSeconds`.

[2019-12-27 14:55] mattmoor commented on #281
Note I'm using the v1 syntax that's aligned with K8s Deployment et al.

[2020-01-02 18:26] adrcunha commented on #66
It seems that the amount of testing we currently have is enough.

/close

[2020-01-02 18:26] #66 closed

[2020-01-02 22:11] capri-xiyue opened #2081 "Add docs and code samples for Storage source"
**Describe the change you'd like to see**
Add docs and code samples for Storage source

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-01-02 22:11] capri-xiyue commented on #2081
/assign @capri-xiyue

[2020-01-03 00:03] grantr commented on #1271
/close

[2020-01-03 00:03] #1271 closed

[2020-01-05 11:25] SteffenBurger opened #2084 "Remove deprecated installation of Istio from documentation"
The documentation describes the installation of Istio via Helm

https://knative.dev/docs/install/knative-with-any-k8s/

Helm is the deprecated way according to the official statement from the Istio website

"The Helm installation approach will be deprecated in the future. We recommend Installing with istioctl, instead."

https://istio.io/docs/setup/install/helm/

[2020-01-06 16:57] samodell commented on #1222
/remove-lifecycle rotten

[2020-01-06 17:58] grayside commented on #1793
It looks like the test system itself now explains this, but if we want instructions to which contributors can be pointed a further doc change is needed. Not sure if there are any written instructions on sample practices, if nothing exists then in my opinion this can be closed and referenced from a new issue to create such a page.

[2020-01-06 22:26] RichieEscarez commented on #2009
@kmjayadeep, this appears to be fixed in https://github.com/knative/website/pull/117. It seems to be working for me in Firefox, can you also validate before we merge in the change?

Here is the staged change: https://deploy-preview-117--knative.netlify.com/

[2020-01-07 05:50] kmjayadeep commented on #2009
Yes the issue seems to be fixed. I have commented in the PR as well.
Great job! Thanks :)

[2020-01-07 14:10] duglin opened #2085 "Document which PodSpec fields are valid"
**Describe the change you'd like to see**
While the yaml for a KnService leverages the Kubernetes PodSpec definition, not all of the PodSpec fields are valid for KnServices. We should document which fields people can use.

[2020-01-07 16:47] duglin commented on #2085
Perhaps just a pointer to https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#container since I didn't see how to get to this doc from our md files.
Seem like https://knative.dev/docs/reference/serving-api/#serving.knative.dev/v1beta1.Revision might be a duplicate, which is unfortunate since that might mean they get out of sync.

[2020-01-07 22:24] RichieEscarez commented on #2009
https://github.com/knative/website/pull/117 merged, closing

[2020-01-07 22:24] #2009 closed

[2020-01-07 22:47] RichieEscarez commented on #2025
Re: #847

That content uses Knative Build, which was deprecated. To view that file, you can view the past doc versions in the GitHub repo (along with the deprecated Knative Build content):

https://github.com/knative/docs/branches/all

[2020-01-07 22:54] RichieEscarez commented on #2025
Good news is that I'm not able to get those same search results (likely since our site index was updated and scraped between now and when this issue was opened):

![image](https://user-images.githubusercontent.com/11762685/71935997-16a73d80-315d-11ea-99ee-8055bf586737.png)

The new version of "how to ... private registry" file (from #2027) now shows at the top so im going to close this and also en

[2020-01-07 22:54] #2025 closed

[2020-01-07 23:24] ahmetb commented on #2025
I'm seeing no results from knative.dev yet but I'll take your word for it.

![image](https://user-images.githubusercontent.com/159209/71937627-d1393f00-3161-11ea-8721-a71843d09aee.png)

[2020-01-08 02:26] RichieEscarez commented on #1866
Resolved in https://github.com/knative/docs/pull/1975

[2020-01-08 02:26] #1866 closed

[2020-01-08 02:35] RichieEscarez commented on #2025
Maybe a chrome history "thing" so I see recently visited pages that match the search query?

I was trying to replicate that query from your screenshot so that I could obtain those URLs that result in 404s and then add them as aliases in the new file. Feel free to pass along any other bad URLs that you come across and i'll happily add them to the frontmatter our current source files.

[2020-01-08 23:05] samodell commented on #2032
@chaodaiG  I think you created the Slack bot that posts test updates. Do you think a bot that worked as described above would be feasible to implement?

[2020-01-09 12:38] Iamlovingit opened #2088 "`deploy your own version knative serving` IS NOT WORK"
I have changed the https://github.com/knative/serving/blob/1d263950f9f2fea85a4dd394948a029c328af9d9/pkg/reconciler/revision/resources/resourceboundary.go#L30, give more resource to `queue-proxy`, at least `200m to 400m`. Then i run the `ko apply -f config/`, and `apply` a `hello-world` demo.
Describe the pod, the container resource is not changed.  Where is wrong?
[code]
## Expected Behavior
the r

[2020-01-09 17:39] tcnghia commented on #1876
/close

I believe this has been fixed in newer version of Istio.

[2020-01-09 17:39] #1876 closed

[2020-01-09 23:37] vaikas opened #2092 "Docs say github source is installed by default."
## Expected Behavior
If I want to use github source to wire events to my cluster, I can do so by following documentation.

## Actual Behavior
You can't, because it's missing the step for installing the github source CRD.

## Steps to Reproduce the Problem

1. follow the steps at: https://knative.dev/docs/eventing/samples/github-source/
1. You can't because github source CRD has not been installed

[2020-01-09 23:59] #2092 closed

[2020-01-10 16:37] samodell commented on #1958
@duglin  Should this issue be in the client repo instead? Doesn't seem like a docs issue if the functionality doesn't exist in `kn` yet. I'm closing this out, but if that's not the case, feel free to reopen here.

[2020-01-10 16:37] #1958 closed

[2020-01-10 16:43] samodell commented on #2001
Looks like this page (https://knative.dev/docs/serving/samples/cloudevents/cloudevents-go/index.html) renders properly now. This was probably fixed by Richie's work in https://github.com/knative/website/pull/115

[2020-01-10 16:43] #2001 closed

[2020-01-10 16:56] samodell commented on #1926
At first, the guide directed folks to install eventing using from the `eventing.yaml` file, instead of the `release.yaml` file. Only the `release.yaml` file comes with the inmemory cluster channel provisioner. The instructions now point to installing `release.yaml` (https://github.com/knative/eventing/releases/download/v0.11.0/release.yaml), which does come with the channel provisioner. Closing th

[2020-01-10 16:56] #1926 closed

[2020-01-10 16:57] samodell commented on #1910
Closing this out since Ville provided an answer.

[2020-01-10 16:57] #1910 closed

[2020-01-10 17:01] samodell commented on #1921
Since we decided not to host all versions of the content on Knative.dev, I am going to close this out. You built a pointer to the old release branches on GitHub, which is accessible from the version-switcher menu. Feel free to reopen if you disagree! :)

[2020-01-10 17:01] #1921 closed

[2020-01-10 17:20] duglin commented on #1958
hmm not sure why I opened it here - sorry :-)

[2020-01-10 17:22] samodell commented on #2029
@evankanderson @grantr

Can we update to CloudEvents 1.0 without making changes to the samples, or do updates need to be made first?

[2020-01-10 17:25] samodell commented on #2033
@vaikas  Do you have anyone in mind who can make these updates to the samples?

[2020-01-10 18:23] vaikas commented on #2033
oops, I think I updated all the ones I could find. If there are still others that are wrong, let's open targeted issues to fix those instead. Ok with that? I'll close and if you don't agree, please reopen :)

[2020-01-10 18:23] #2033 closed

[2020-01-10 18:28] samodell commented on #2088
@Iamlovingit  for troubleshooting, you may want to post to the Knative Slack.

Did you encounter this error while following a particular page in the docs? If so, please let us know! For now, it sounds to me like this might not be a documentation issue. Feel free to open an issue in the Serving repo, or reopen this issue if this is a documentation issue.

[2020-01-10 18:28] #2088 closed

[2020-01-10 22:29] steren opened #2096 "Build failure for Go sample"
When I build the Go sample with Cloud Build, I get:

[code]

@grayside @ahmetb

[2020-01-10 22:41] grayside commented on #2096
/assign grayside

[2020-01-10 22:46] grayside commented on #2096
This has no problem building for me locally direct with go or docker. Do you have further error output?

[2020-01-11 00:02] steren commented on #2096
I cannot reproduce either. Not sure what I did wrong.

[2020-01-11 00:02] #2096 closed

[2020-01-13 09:35] meteatamel commented on #1902
This bug is still relevant

[2020-01-13 09:36] meteatamel commented on #1902
/remove-lifecycle stale

[2020-01-13 19:27] coryrc opened #2099 "Document testing (in Contributing section?)"
**Describe the change you'd like to see**
A new possible contributor would have a hard time finding testgrid.knative.dev, the PR dashboard https://gubernator.knative.dev/pr, or performance testing results at https://mako.dev/project?name=Knative.

[2020-01-14 00:50] chaodaiG commented on #2032
I think it's feasible to implement, the challenge I can imagine would be the buy in from other WGs, since it could be noisy to other channels

[2020-01-14 02:36] samodell commented on #1796
/remove-lifecycle stale

[2020-01-14 10:36] ysjjovo opened #2101 "Command 'docker build' failed in Sample 'cloudevents-go'"
## Expected Behavior

success

## Actual Behavior

failed

## Steps to Reproduce the Problem

1. Run following commands:
[code]
2. get failure message bellow.
[code]

## Environment Info
[code]

[2020-01-14 16:07] #2021 closed

[2020-01-15 08:54] arghya88 commented on #2085
is initcontainers allowed?

[2020-01-15 12:57] duglin commented on #2085
@arghya88 no I do not think they are supported yet

[2020-01-15 19:50] rstroop opened #2104 "Page needs improvement"
I have the fanout error described at the bottom of the post, but the document does not describe how to fix or debug the issue. Only that it is having an issue communicating. This section at least should be finished, even if the rest of the document cannot be.

[2020-01-15 21:00] ahmetb opened #2105 "Can't find docs on replying to events"
One can reply to Knative events with events.

This is very briefly mentioned at https://knative.dev/docs/eventing/samples/sequence/sequence-reply-to-event-display/
![image](https://user-images.githubusercontent.com/159209/72471083-cbadab80-3796-11ea-980f-bb549a14064b.png)

as well as https://knative.dev/v0.9-docs/eventing/parallel/
![image](https://user-images.githubusercontent.com/159209/72471123

[2020-01-15 22:41] samodell commented on #2104
Hi @rstroop  -- your issue doesn't contain any information about the page you were on when you encountered this problem. Can you please link to the document?

[2020-01-16 01:12] rstroop commented on #2104
I was referring to this page: https://knative.dev/docs/eventing/debugging/

Richard Stroop

Senior Integration Architect

Red Hat <https://www.redhat.com>

M: 703.200.7586
<https://www.redhat.com>

Let no debt remain outstanding, except the continuing debt to love one
another, for whoever loves others has fulfilled the law. -Romans 13:8 NIV

On Wed, Jan 15, 2020 at 5:41 PM samodell <notifications@

[2020-01-16 07:19] ahmetb opened #2108 "Support for networking protocols is not explained anywhere"
Upon visiting https://knative.dev/docs/serving/
I read what Knative serving is.

I wonder, does it support HTTP? Ctrl-f 'http':
![image](https://user-images.githubusercontent.com/159209/72502073-57eabd80-37ed-11ea-8d92-07ed7985ba71.png)

I wonder: does it support grpc?
Ctrl-F 'grpc': [no results]

I wonder: does it support any TCP application? How about UDP?
Ctrl-F 'tcp', 'protocol', 'network': [n

[2020-01-16 07:21] ahmetb opened #2109 "Docs don't mention "stateless" limitation of Knative Serving"
Maybe I'm missing something but "stateless applications" seems rather the most fundamental limitation of Knative Serving.

Yet upon visiting

- https://knative.dev/docs/
- https://knative.dev/docs/serving/

I don't see the word `stateless` mentioned.

https://knative.dev/ mentions the stateless word once:

but the sentence semantics don't make you think **"statelful only"**.

[2020-01-16 18:56] samodell commented on #2061
It looks like this issue may have been resolved by a fix in another repo, so I'm closing this for now.

If that's incorrect, please feel free to re-open!

[2020-01-16 18:56] #2061 closed

[2020-01-16 22:29] samodell commented on #2032
@chaodaiG  -- thanks for your input! I'll think about collecting buy in :)

[2020-01-16 23:23] samodell commented on #75
/remove-lifecycle rotten

[2020-01-16 23:36] samodell commented on #1697
Hi @mikehelmick -- This issue seems like it might be more at home in the Serving repo. Would you be open to moving it there? (Let me know if you think it should stay in Docs, though!)

[2020-01-20 00:37] jjangga0214 commented on #311
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-01-21 05:23] dongdan39 opened #2113 "Concurrent request to the helloworld-go example."
Hi,
  I have successfully deploy and test the helpful helloworld-go knative example on my kubernetes cluster. Now I want to test multiple concurrent request to the knative serverless service to watch the auto scale up and down of the service, but I found the curl command does not work here, there's always only one pod running for all the requests. And I also tested with commands like "ab" and "hey

[2020-01-21 18:03] samodell commented on #2050
@mattmoor  can you confirm if the e2e testing has landed and these docs are good to stay, or if we should take them out?

[2020-01-21 19:30] samodell opened #2114 "Follow up -- review fixes for PR 2045"
Update/fix Kn install doc, responding to comments left on: https://github.com/knative/docs/pull/2045

[2020-01-21 19:31] #2044 closed

[2020-01-21 20:01] abrennan89 commented on #2007
@matzew is there a way that the curl command under https://knative.dev/docs/eventing/samples/kafka/channel/ **Creating a KafkaChannel channel CRD** can be updated to point to a latest version at all times rather than "v0.10.0" so that we won't have to keep checking the accuracy of docs like this?

i.e. could we use something like `curl -L "https://github.com/knative/eventing-contrib/releases/downl

[2020-01-21 20:06] abrennan89 commented on #1716
Seems to be fixed in the latest version of the docs

[2020-01-21 22:19] mattmoor commented on #2050
I don't see a tab, though I believe some of the pieces have landed.  @concaf where are we on getting this into testgrid.knative.dev?

[2020-01-21 22:57] capri-xiyue opened #2116 "Update knative eventing sources"
## Expected Behavior
Fix all dead links of knative-gcp sources listed in  https://knative.dev/docs/eventing/sources/, all of the knative-gcp sources should link to the related README.md.

## Actual Behavior
Currently, for https://knative.dev/docs/eventing/sources/, when you click `GCP PubSub`, `Google Cloud Scheduler` and so on, all of these show `404 Not Found`.

## Steps to Reproduce the Problem

[2020-01-21 23:04] capri-xiyue commented on #2116
/assign

[2020-01-22 00:27] capri-xiyue opened #2119 "Create/Update code samples for knative-gcp sources."
**Describe the change you'd like to see**
Create/Update code samples for knative-gcp sources. Currently the code samples for GCP Cloud Pub/Sub source is out-dated. And there is no code samples for CloudStorageSource, Cloud SchedulerSource and CloudAuditLogsSource. Need to add code samples for CloudStorageSource, Cloud SchedulerSource and CloudAuditLogsSource.

**Additional context**
Add any other

[2020-01-22 00:28] capri-xiyue commented on #2119
/assign

[2020-01-22 00:32] capri-xiyue commented on #2081
Close since it's a duplicate of https://github.com/knative/docs/issues/2119

[2020-01-22 00:32] #2081 closed

[2020-01-22 08:12] concaf commented on #2050
@samodell @mattmoor e2e tests have landed, I'm now looking at what the next steps are, will be pinging on Slack for the same.

Tests have landed at https://github.com/knative/serving/pull/6268 and https://github.com/knative/test-infra/pull/1598. I've updated the docs at https://github.com/knative/docs/pull/1893 as well. Will be updating to the latest Ambassador which was released last week.

https

[2020-01-22 11:03] mjschmidt commented on #2007
So the Kafka Channel actually isn't working as expected and I am not sure what to look at next. There are more details below, as well as what I plan to pull request back to the docs when I get the Kafka Channel example working again down below.

After some tweaks (simple things like specifying the correct default channel configuration since you can't have 0 partitions for kafka, but that is the de

[2020-01-22 11:12] mjschmidt commented on #2007
Kubernetes version 1.15.7
knative 0v.11.0 and I switched out the curl command to use v0.11.0 as well manually (one of the tings I plan to pull request)

Output from kubectl get all -n default at this point:
[code]

Output from `kubectl get all -n kafka` for the strimzi cluster the example suggests you deploy. I verified that this cluster was working correctly by running test messages through an ex

[2020-01-22 11:16] mjschmidt commented on #2007
Again fully happy to either get you all doing the technical writing at knative the edits needed so far to the Kafka Channel, or to submit a pull request myself, but I do seem to be having problems with the end of the sample, so some help there would be appreciated!

[2020-01-22 12:58] matzew commented on #2007
I think the document talks about putting in some numbers:

[code]

[2020-01-22 13:00] matzew commented on #2007
I've changed the URLs to go w/ latest

see https://github.com/knative/docs/pull/2121

[2020-01-22 13:04] mjschmidt commented on #2007
It does, that kafka channel actually works just fine, it is when you go to configure the CRD that things break because that CRD needs partitions and replication factor declared in the yaml it to work when specifying default channel info. I plan to put in a pull request for all of that.

[2020-01-22 13:04] mjschmidt commented on #2007
I THINK the issue seems to be with the eventing container.

[2020-01-22 13:04] mjschmidt commented on #2007
later in the example

[2020-01-22 15:46] karimbzu opened #2124 "Internal error occurred: failed calling webhook "sinkbindings.webhook.sources.knative.dev": Post https://eventing-webhook.knative-eventing.svc:443/sinkbindings?timeout=30s: service "eventing-webhook" not found"
failed to run operator. error starting device discovery daemonset. Error starting discover daemonset: failed to create rook-discover daemon set. Internal error occurred: failed calling webhook "sinkbindings.webhook.sources.knative.dev": Post https://eventing-webhook.knative-eventing.svc:443/sinkbindings?timeout=30s: service "eventing-webhook" not found

## Expected Behavior
The pods should be crea

[2020-01-22 18:01] samodell commented on #2113
Hi @dongdan39 , for help with troubleshooting, you'll probably have the best luck reaching out on Slack: slack.knative.dev

[2020-01-22 18:07] samodell commented on #2124
Hi @karimbzu  -- sorry to hear you're having trouble! For help, you'll probably have the best luck reaching out on slack: https://slack.knative.dev

[2020-01-22 18:11] samodell commented on #707
/lifecycle frozen

[2020-01-22 18:12] samodell commented on #716
/remove-lifecycle rotten

/lifecycle frozen

[2020-01-22 18:19] samodell commented on #1222
I'm going to close #716  as a duplicate of this, and we'll use this issue to track translation.

/cc @toshi0607 , who was interested in helping with translation into Japanese.

We are still not ready for translation (see initial response above), but the progress is getting closer to a stable phase. I'll update this issue when we're ready to start work on translation.

[2020-01-22 18:19] samodell commented on #716
Closing as a duplicate of #1222 -- we'll use that issue to track the subject of translating the Knative docs in general.

[2020-01-22 18:19] #716 closed

[2020-01-22 22:28] #1949 closed

[2020-01-22 23:07] samodell commented on #1919
@abrennan89  We do not have a max length documented (although we should!) and we do not currently keep a reference doc for the weights of the pages. It's an area where we need to come up with a solution, for sure. I like you idea of a Google Sheet, but I'm not sure how we'd maintain something like that.

[2020-01-22 23:11] samodell commented on #1906
Hi @gianarb  -- sorry for the late response on this! Did you ever get your installation up and running? If you still need help troubleshooting, you should head to the Slack channel: https://slack.knative.dev

[2020-01-22 23:11] samodell commented on #1906
/remove-lifecycle stale

[2020-01-22 23:16] samodell commented on #1886
/remove-lifecycle stale

[2020-01-23 00:52] toshi0607 commented on #1222
I'm looking forward to update! I'm willing to support it.

[2020-01-23 01:40] ZhiminXiang opened #2127 "Need steps for troubleshooting or verification of Auto TLS doc"
Feedback got from @vagababov about the auto TLS doc https://github.com/knative/docs/blob/master/docs/serving/using-auto-tls.md:

We need to have verifications for key steps, and a section for troubleshooting potential issues.

[2020-01-23 01:40] ZhiminXiang commented on #2127
/assign @ZhiminXiang

[2020-01-23 11:41] Jay-Funk commented on #2007
For me it worked with eventing and serving v0.11.0 and eventing-contrib v0.11.2 and adding the spec part to the default channel configMap.
eventing-contrib v0.12.0 gives me an error for the broker saying something about an incorrect field _ref_ in the ingress subscription but i will create a seperate issue after futher testing.

[2020-01-23 12:00] mjschmidt commented on #2007
@Jay-Funk not sure what you mean by it working with serving v0.11.0 since this is a ticket on just the eventing example for the Kafka Channel.

[2020-01-23 12:03] mjschmidt commented on #2007
For the config map, I have a pull request in here because I was getting an error about 0 partitions being an unacceptable value for the defaul channel:
https://github.com/knative/docs/pull/2122

[2020-01-23 12:03] mjschmidt commented on #2007
Just waiting for the okay from my company to review the CLA

[2020-01-23 12:40] karimbzu commented on #2124
@samodell Thanks for your support, i have resolved the issue from slack group you shared.
This was the solution: oc delete mutatingwebhookconfigurations.admissionregistration.k8s.io sinkbindings.webhook.sources.knative.dev

thanks alot

[2020-01-23 18:13] samodell commented on #1739
/remove-lifecycle rotten

/lifecycle frozen

[2020-01-23 18:18] samodell commented on #1853
/remove-lifecycle stale

/lifecycle frozen

[2020-01-23 18:19] samodell commented on #1792
/lifecycle frozen

[2020-01-23 18:20] samodell commented on #1744
Fixed by #1769

[2020-01-23 18:20] #1744 closed

[2020-01-23 18:49] samodell commented on #1771
This is still valid. On https://knative.dev/docs/eventing/sources/:

Cron Job 404
GCP PubSub 404
Google Cloud Scheduler 404
Google Cloud Storage 404
Container Source 404

/remove-lifecycle rotten

[2020-01-23 19:01] samodell commented on #1696
Closing; I'm going to reopen this issue in the website repo, since this is directly website-related. I'll @ mention you on the new issue for tracking.

[2020-01-23 19:01] #1696 closed

[2020-01-23 19:04] #1716 closed

[2020-01-23 19:10] samodell commented on #1645
I don't see any broken links on this page in the current docs (https://knative.dev/docs/serving/debugging-performance-issues/) so I'm closing this out.

[2020-01-23 19:10] #1645 closed

[2020-01-23 19:15] samodell commented on #1541
/remove-lifecycle rotten

[2020-01-23 19:42] samodell commented on #1739
Related: #1461

[2020-01-23 22:04] samodell commented on #1376
/remove-lifecycle stale

[2020-01-23 22:05] samodell commented on #1365
/remove-lifecycle stale

[2020-01-24 21:22] maximilien opened #2131 "Add more `kn` client workflow samples and examples"
**Describe the change you'd like to see**

Add more sample workflows and examples using `kn` client with Knative

[2020-01-24 21:22] maximilien commented on #2131
/good-first-issue

[2020-01-25 22:43] ZhiminXiang opened #2133 "Need a section to explain the DNS interference for DNS challenge of Auto TLS"
**Describe the change you'd like to see**
Per https://github.com/knative/serving/issues/4569#issuecomment-578448201, DNS interference could be a limitation for using Auto TLS DNS challenge.
We need to explicitly document this in the Auto TLS doc.

[2020-01-27 02:54] vaikas opened #2134 "Kafka broker example does not work. missing numPartitions replcationFactor"
## Expected Behavior
Following the example in the Kafka to work correctly here:
https://knative.dev/docs/eventing/samples/kafka/channel/

## Actual Behavior
Broker fails to come up correctly with errors about missing numPartitions.

## Steps to Reproduce the Problem

1. Follow the steps up to the 'Configuring Knative Broker...'
1. Broker does not come up and there are errors that it's missing numP

[2020-01-27 07:22] #2134 closed

[2020-01-27 12:41] meteatamel opened #2136 "GCP Cloud Pub/Sub source page needs update for v0.12.0"
[GCP Cloud Pub/Sub source](https://knative.dev/docs/eventing/samples/gcp-pubsub-source/) page is out of date as of Knative v0.12.0. It needs to be updated to show all the setup steps I mentioned here:

https://github.com/meteatamel/knative-tutorial/blob/master/docs/pubsubeventing.md

[2020-01-27 18:49] mattmoor opened #2137 "Consolidate our install docs."
tl;dr I would like to consolidate our install guides into a single source of truth.

### Background

knative.dev currently has over a dozen different guides for how to install parts of Knative. There are at least 8 guides for installing Knative that include cluster provisioning instructions.
There are 4-5 guides for installing knative/serving with customized networking layers.

These guides are ma

[2020-01-27 18:50] mattmoor commented on #2137
cc @samodell

I am going to try to put together a PoC for `#1` now to see how viable a single source of truth could be.

[2020-01-27 19:48] samodell commented on #1898
Newer plan: https://github.com/knative/docs/issues/2137

If we move forward with the plan outlined there, I'll close this out.

[2020-01-27 21:24] samodell commented on #1823
Fixed a while back by #1947

[2020-01-27 21:24] #1823 closed

[2020-01-28 02:45] mattmoor commented on #2137
I shared a little PoC in slack.

[2020-01-28 05:11] mattmoor commented on #2137
I published the latest from hackmd [here](https://github.com/mattmoor/docs/blob/rework-generic-install/docs/install/Knative-with-any-k8s.md)

[2020-01-28 19:24] mattmoor commented on #2137
@vaikas is going to take a crack at the eventing section in the hackmd later

[2020-01-28 23:20] #2131 closed

[2020-01-29 08:55] SarnathK opened #2139 "Page needs improvement - Links provided for UIs are localhost URLs and are of no use"
## Expected Behavior
The URL for various tracing tools should show how the tracing UI looks like
## Actual Behavior
The URL is mapped to localhost which expects the UI to run on my machine
## Steps to Reproduce the Problem

1. Click the URLs given for Zipkin UI and the other one
2. You will receive a Unable to connect message
3.

## Additional Info

[2020-01-29 14:54] fhopfensperger opened #2141 "Deploying images from a private container registry(docs/serving/deploying/private-registry.md)"
## Expected Behavior
The command to create a secret is wrong, it should be:
[code]

[2020-01-29 22:31] samodell commented on #2139
Hi @SarnathK  -- those URLs do work if you have the monitoring tools set up locally. If you are just wanting to see what the tools look like before installing Knative or monitoring, you could check out each tool's website. We do link out to each tool's page in the accessing metrics guide: https://knative.dev/docs/serving/accessing-metrics/ , which I think may have been the page you were on.

I'm g

[2020-01-29 22:31] #2139 closed

[2020-01-30 15:29] matejvasek opened #2145 "Cron job source example: outdated image"
## Expected Behavior
Log of the pod running the event-display service should contain information about received events (begins with "☁️  cloudevents.Event" as described in the example).

## Actual Behavior
Log contains errors:
`{"level":"error","ts":1580396460.0210204,"logger":"fallback","caller":"http/transport.go:408","msg":"failed to decode message","error":"unknown encoding","stacktrace":"gith

[2020-01-30 15:39] matejvasek commented on #2145
The gcr.io/knative-releases/github.com/knative/eventing-sources/cmd/event_display image is also used in some other places:

`docs/eventing/getting-started.md
docs/eventing/getting-started.md
docs/eventing/samples/container-source/service.yaml
docs/eventing/samples/container-source/README.md
docs/eventing/samples/gcp-pubsub-source/event-display.yaml
docs/eventing/samples/cronjob-source/service.yaml

[2020-01-30 16:27] mattmoor opened #2147 ""v1" Service uses v1alpha1-only construct "runLatest""
https://github.com/knative/docs/blob/release-0.12/docs/eventing/samples/kafka/source/event-display.yaml

[2020-01-30 16:34] lionelvillard commented on #2147
the image should be fixed too. Should be `gcr.io/knative-releases/knative.dev/eventing-contrib/cmd/event_display` with a sha?

[2020-01-30 17:20] samodell commented on #2145
Related to #2147  -- @vaikas  should we update the eventdisplay URL to the one used in PR #2148  in these other locations in the docs?

[2020-01-30 17:24] #2147 closed

[2020-01-30 18:20] mattmoor opened #2152 "Document HPA-class autoscaling in Knative/Serving"
We need documentation for how to configure HPA-class autoscaling in knative/serving

/assign @markusthoemmes
cc @vagababov

I'm opening this as a placeholder for a TODO in the consolidated install documentation that I'm working on, which covers how to *install* this, but we still need docs on *using* it.

[2020-01-30 18:40] mattmoor opened #2153 "Document the installation of additional Channel implementations"
I'm adding this for use in a TODO, which will hopefully make the intent of this more clear, but the gist is as follows...

I'm reworking the core installation instructions to use tabs at various decision points, and for Eventing one of those decision points is which Channel to use.  At present, the only documented channel will be `InMemory`, which is called out as not production ready.  It would b

[2020-01-30 18:43] mattmoor opened #2154 "Incorporate source installation into the core install document"
This is another placeholder issue for a `TODO(#1234)`, but we should try to get tabs added for various Knative sources that folks can install under the `## Optional Eventing extensions` section.

/assign @n3wscott @nachocano

[2020-01-30 20:08] vagababov commented on #2152
Is there a way to link it to the project in the serving? 🙄
Ref: https://github.com/knative/serving/projects/11

[2020-01-30 20:28] vaikas commented on #2153
I brought this up in the Channel WG last week and this week also. @matzew volunteered to have a simple way to install at least Kafka. Nats we're looking for volunteers. For others we need to follow up.

[2020-01-30 21:44] #1874 closed

[2020-01-30 22:55] matzew commented on #2153
Is something like:

[code]

working for you, for kafka install (the kafka broker - not any knative kafka bits)

[2020-01-30 22:58] vaikas commented on #2153
sorry, been distracted. I'm going to see if we can pipe the artifacts into yaml and just apply that one yaml?

[2020-01-31 16:23] vaikas commented on #2145
Yes we should. That was my question in the docs meeting about using a variable and then when we push a new version, all these should change :)

[2020-02-02 00:00] #76 closed

[2020-02-02 00:00] #129 closed

[2020-02-02 00:00] #177 closed

[2020-02-02 00:00] #245 closed

[2020-02-02 00:00] #291 closed

[2020-02-02 18:11] duglin opened #2161 "No eventing install docs"
Unless I'm missing it, I can't find any docs on https://knative.dev/docs/install/ about installing eventing. I know that people can be selective about what to install, but can we at least point people to the corresponding release on github and give a little bit of guidance as to what the list of release artifacts are?

[2020-02-03 23:01] ahmetb opened #2165 "Prometheus and Grafana installation steps seem superfluous"
I just installed knative v0.12 from https://knative.dev/docs/install/knative-with-minikube/

and my cluster has `prometheus-system-*` and `grafana-*` pods.

I read https://knative.dev/docs/serving/installing-logging-metrics-traces/ and it tells me to install Prometheus and Grafana again, which doesn't seem accurate:

![image](https://user-images.githubusercontent.com/159209/73698413-f2744900-4695-

[2020-02-04 01:24] mattmoor opened #2166 "Create streamlined Istio install instructions to inline"
See the original comment here: https://github.com/knative/docs/pull/2155#discussion_r374427602

The idea is that we should have some instructions that inline some basic steps here to avoid folks having to jump elsewhere and return.

cc @tcnghia

[2020-02-05 03:48] vaikas commented on #2153
Thanks for doing this @matzew
I ran these with just a small change by piping the intermediate yamls into .yaml files and then applying them separately, they worked great from what I can tell!! 💪
Seems like we should be able to add this very similarly to how we create Istio install yamls in Serving:
https://github.com/knative/serving/blob/0b0f9605df5c080a91fa26eb50f8d895364e5c57/third_party/istio-1

[2020-02-05 04:38] mattmoor commented on #2153
I think we want something like that for Eventing developers/development, but I'm not sure we want to ship the yamls for our docs (we don't for Istio, the produced yamls are just for contributors).

I think we need a goal where the default tabs [here](https://knative.dev/development/install/knative-with-any-k8s/#installing-the-eventing-component) leave users with a realistic install of Eventing.  I

[2020-02-06 16:13] astoycos opened #2179 "Container Source Example(docs/eventing/samples/container-source/index.md)"
## Expected Behavior
Expected Container Source Example to work correctly

## Actual Behavior
Error is reported, Event-Display service shows the following error

End Log looks like the following
`{"level":"error","ts":1581004429.103795,"logger":"fallback","caller":"http/transport.go:408","msg":"failed to decode message","error":"unknown encoding","stacktrace":"github.com/knative/eventing-sources/ve

[2020-02-06 17:32] #2137 closed

[2020-02-08 21:56] mattmoor commented on #1678
@rgregg when this transformation first started, I definitely agreed with your sentiment.  I think this is exacerbated by the fact that this repo was all we had when we first launched the project, it is still pinned, and it still is one of our most starred repos.

However, as we start to try and do more advanced things in our documentation, it is going to become increasingly problematic to try and

[2020-02-10 05:13] ahmetb commented on #978
/lifecycle frozen
I am not sure if it’s fixed yet. Pls close if it is.

[2020-02-10 19:00] FWiesner opened #2198 "Please document how to retain message order when producing messages via a Broker"
**Describe the change you'd like to see**
Kafka at least offers the capability to set the partition key to ensure that messages with the same key make it to the same topic partition and thereafter get delivered in sequence of their insertion.
I do not know whether it is a documentation or feature request (or both). But, I doubt that there is no implementation yet and would like to understand from

[2020-02-11 04:09] Namphibian opened #2199 "Istio deprecating helm install"
Just a note that Istio is deprecating helm installs of the service mesh.

See here:
https://istio.io/docs/setup/install/helm/

The current documentation show the helm install, however if you go to the Istio site the instructions are different.

Its worth to note that most of the configuration stays the same when using the recommended install. I will see if I can get it running and make some sugges

[2020-02-11 04:42] mattmoor commented on #2166
I wonder how feasible it would be to try and adopt `istioctl install` for this.

[2020-02-11 04:46] mattmoor commented on #2166
In fact, given that it seems to have built-in "profiles" I wonder how hard it would be to get them to build in a knative profile 😍

[2020-02-11 13:03] duglin opened #2202 "Add editable search box to search results page"
**Describe the change you'd like to see**
From this page: https://knative.dev/docs/
if I enter a search phrase I get a new tab/window with the results.
However, the search phrase is not shown to me on that results page in an editable form. Which means if I had a typo in my search I need to close the window and use the old/previous window. It would be nice if I could just edit the search phrase on

[2020-02-11 16:48] rhuss opened #2809 "Add a FAQ section"
## In what area(s)?

## Describe the feature:

A FAQ should shortly describe how to realize common use cases with a single command. Actually we could borrow some ideas of https://knative.tips and show how those tips could be implemented via `kn` (as it looks like that the ghost behind knative.tips is not very positive to include `kn` on that web site). But other FAQs are equally well suited. Ideal

[2020-02-11 18:01] mattmoor opened #2204 "Document what's going beta in 0.13"
I believe a bunch of stuff in eventing is hitting Beta in 0.13, we should update the `feature-state`s of these and make sure our samples reflect any changes.

cc @vaikas @lionelvillard

[2020-02-12 07:41] matzew commented on #2153
some work being captured here: https://github.com/knative/eventing-contrib/issues/895

[2020-02-12 15:37] josiemundi opened #2208 "Installing Knative(development/install/knative-with-any-k8s.md): Broken link for broker implementation"
## Expected Behavior
Following the command in the Installing Knative docs, when I run:

```kubectl apply --filename https://github.com/knative/eventing/releases/download/v0.12.0/channel-broker.yaml```

I expect this to install a Broker implementation.

## Actual Behavior

When I run above command I get the following 404 error:

error: unable to read URL "https://github.com/knative/eventing/release

[2020-02-12 15:47] josiemundi opened #2209 "Installing Knative: Add image of deployed components (Serving and Eventing) at each stage"
**Describe the change you'd like to see**
In the new Installing Knative doc, it would be really helpful to have a clear view of the components that a user should see deployed after installing the Serving and Eventing components. This exists for the Getting Started with Eventing guide so for consistency would be nice to have it here as well.

**Additional context**
Add any other context or screensh

[2020-02-12 15:50] mattmoor commented on #2153
Works for me @matzew !

[2020-02-12 15:50] #2153 closed

[2020-02-12 18:46] samodell commented on #2161
I feel like this is addressed with the new version of the install page Matt put together: https://knative.dev/development/install/knative-with-any-k8s/

That will go live in v0.13, so closing this out. Feel free to reopen if you disagree.

[2020-02-12 18:46] #2161 closed

[2020-02-12 18:52] samodell commented on #2198
Adding @vaikas  to take a look from the eventing perspective -- feel free to reassign to someone else.

[2020-02-12 18:54] samodell commented on #2199
@tcnghia  Can you or someone else with networking expertise decide how we should tell users to perform the Istio install once install via Helm is deprecated? Related to #2166 , where Matt suggests maybe we should work with the Istio folks to create a Knative profile for Istio install.

[2020-02-12 18:55] samodell commented on #2202
@duglin  could you reopen this in the Website repo?

[2020-02-12 18:55] #2202 closed

[2020-02-12 19:00] samodell commented on #2208
Hey @josiemundi ! One thing with the pre-development docs in that they in active development, so it's possible that there is no channel-broker.yaml for v0.12, but that it will exist in v0.13. (The master branch becomes the next release branch when the release is cut.) I don't know for sure if that's the case with this error, but it may be. @vaikas , since this is eventing-related.

[2020-02-12 19:27] KazW commented on #2084
The first istio install command can probably (still testing) be replaced by:

[code]

[2020-02-12 19:29] KazW commented on #2084
Replacing the local cluster gateway appears to be a bit harder, the following command produces an error:
[code]
`bad path=value (values.gateways.custom-gateway.autoscaleMin=1): unknown field "custom-gateway" in v1alpha1.GatewaysConfig`

This was using istio 1.4.4.

[2020-02-12 20:55] #2116 closed

[2020-02-13 01:44] Namphibian commented on #2199
@samodell

I tried using the minimal profile instead of the Helm install with everything switched off and it worked pretty well.

They might be able to base their instrructions on the different profiles plus apparently you most of the helm properties are available by appending value to the front of it.

See the snippet below:

If you want to enable security on top of the default profile, you can s

[2020-02-13 09:24] matzew opened #2213 "Update Source writers guide to show controller to use generated reconciler"
Basically we should update this doc:
https://knative.dev/development/eventing/samples/writing-receive-adapter-source/

to reflect changes that we have done on (source) controllers, like: https://github.com/knative/eventing/pull/2533

[2020-02-13 09:24] matzew commented on #2213
/assign @lberk

[2020-02-14 19:49] #130 closed

[2020-02-14 22:09] nachocano commented on #2136
/assign @capri-xiyue this can be fixed with your sources PR

[2020-02-14 22:12] #2145 closed

[2020-02-14 22:43] #2119 closed

[2020-02-17 13:57] matzew commented on #2213
For sample source this was already done:

https://github.com/knative/sample-source/pull/11

as in code - but not doc

[2020-02-17 15:39] matzew commented on #2213
/unassign @lberk
/assign @matzew

[2020-02-17 15:39] matzew commented on #2213
I was on this...

[2020-02-18 19:25] #2046 closed

[2020-02-19 12:59] AlcaYezz opened #2224 "Documentation on cloudevent sample context"
**Describe the change you'd like to see**

I dig a bit on the CloudEvent  serving sample and functions handling the event have a context comming from the go sdk. I expect it to be something similar than the one in Google Function or AWS Lambda but there is not documentation about it.
Is there a common way to declare a custom context shared between several services ? And how can we use it ?
I'd lik

[2020-02-19 13:01] #2224 closed

[2020-02-19 14:28] #2213 closed

[2020-02-19 17:52] paul931224 opened #2226 "Enabling automatic TLS certificate provisioning(docs/serving/using-auto-tls.md)"
`kubectl apply --filename https://github.com/knative/serving/releases/download/vv0.12.0/serving-nscert.ya`

It is actually https://github.com/knative/serving/releases/download/v0.12.0/serving-nscert.ya
One "v" is a typo. Keep on the good work, nice documentation!

[2020-02-19 19:31] n3wscott opened #2227 "Document Broker.spec.config usage."
## What is changing? (Please include as many details as possible.)

In v1beta1 `Broker.spec.config` is now used instead of `Broker.spec.channeTemplateSpec`

Config is a pointer to anything, but in the impl of Channel based Broker, it will be a configmap with the following shape:

[code]

## How will this impact our users?
The broker will work with either `spec.channelTempalteSpec` or the new shape

[2020-02-19 19:32] n3wscott commented on #2227
Implemented here: https://github.com/knative/eventing/pull/2596

[2020-02-19 20:30] matzew commented on #2227
@n3wscott what's not really clear to me is:

using the `default` broker... and doing the labeling (`kubectl label namespace default knative-eventing-injection=enabled`)  - how can I than set the `.config` to point to a `KafkaChannel` configuration ?   Or is that now impossible?

[2020-02-19 20:34] matzew commented on #2227
Ah, it will than still go via the `default-ch-config` CM ...

ok

[2020-02-19 20:36] matzew commented on #2227
One more,  @n3wscott

for `Broker.spec.config`  do I list the name of the config map ?

I am not sure I understand this vague text:

[2020-02-20 11:11] matzew commented on #2227
ah, like

[code]

[2020-02-20 12:30] paul931224 opened #2228 "Installing Istio for Knative(docs/install/installing-istio.md)"
The last a tag href is : https://knative.dev/docs/install/installing-istio/#installing-istio-with-SDS-to-secure-the-ingress-gateway
It doesn't work.
It should be https://knative.dev/docs/install/installing-istio/#installing-istio-with-sds-to-secure-the-ingress-gateway

[2020-02-20 15:05] FWiesner commented on #2198
This directly relates to https://github.com/knative/eventing-contrib/issues/944

[2020-02-20 15:58] vaikas commented on #2198
TL;DR, today this is not possible. There's some ongoing work to figure out how we might be able to change things.

[2020-02-21 02:25] vaikas opened #2229 "Add examples for v1beta1 [channels, inmemorychannels]"
## What is changing? (Please include as many details as possible.)
We're introducing v1beta1.[Channel,InMemoryChannel]. We should add documentation / samples for these.

## How will this impact our users?
They will have added functionality (for example DeadLetterChannel on channels)

## In what release will this take happen (to the best of your knowledge)?
v0.13

## Context
Link to associated PRs

[2020-02-21 02:26] vaikas commented on #2229
https://github.com/knative/eventing/pull/2621

[2020-02-23 00:00] #1743 closed

[2020-02-23 00:00] #1697 closed

[2020-02-23 00:00] #1428 closed

[2020-02-23 00:00] #1576 closed

[2020-02-23 00:00] #1365 closed

[2020-02-23 08:27] sebgoa opened #2234 "First Eventing Example is Too Complicated"
**Describe the change you'd like to see**

The landing page points to an eventing example that deals with the kubernetes event source. I think it is too complicated.

A simple cronjob event source should suffice. It would avoid having to setup service accounts and role binding for the k8s source to work.

**Additional context**

Just going through the first 4 examples of the landing page.

[2020-02-24 07:46] dgerd commented on #1796
I have clearly not been able to get to this. Unassigning.

[2020-02-24 12:00] #1770 closed

[2020-02-24 12:00] #132 closed

[2020-02-24 18:05] lionelvillard opened #2242 "explain eventing.knative.dev/scope annotation"
## What is changing? (Please include as many details as possible.)
The In-memory and Kafka dispatchers can now be installed in the same namespace as the CR when the  `eventing.knative.dev/scope` annotation is set to `namespace`

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
v0.13

## Context
Link to associated PRs or issues from other

[2020-02-24 22:05] RichieEscarez commented on #2035
/close

[2020-02-24 22:05] #2035 closed

[2020-02-25 05:51] vishaltak commented on #2179
Looks like the latest version of "event_display" throws these errors. Don't know if this is by design or a compatibility issue.

@astoycos - If you update your image digest as follows, things should work fine.

[code]

[2020-02-25 12:01] #1833 closed

[2020-02-25 15:27] houshengbo opened #2245 "Release 0.12 doc says eventing requires istio"
## Expected Behavior
Serving can use Istio as Ingress controller, but eventing does not rely on Ingress.

## Actual Behavior
`Installing Knative with Kourier` section says "Note that Istio is required for the Knative Eventing component."

## Steps to Reproduce the Problem

1. Go to https://knative.dev/docs/install/
1. Scroll down to the `Installing Knative with Kourier` section
1.

## Additional I

[2020-02-25 17:18] liu-cong opened #2246 "Document how to opt in/out sinkbinding webhook"
## What is changing? (Please include as many details as possible.)
We are adding a new env var to override sinkbinding webhook selectors.

## How will this impact our users?
No change by default. But helps to fix https://github.com/knative/eventing/issues/2350 by overriding the env var

## In what release will this take happen (to the best of your knowledge)?
0.13

## Context
https://github.com/kn

[2020-02-25 17:27] liu-cong commented on #2246
/assign

[2020-02-25 17:35] n3wscott opened #2247 "Document v1alpha2 Sources"
## What is changing? (Please include as many details as possible.)
New api group with new shape.

## How will this impact our users?
new api for `sources.knative.dev`

## In what release will this take happen (to the best of your knowledge)?
0.13

/assign

[2020-02-25 19:02] vaikas opened #2248 "Document and update examples for v1beta1 for Broker,Trigger, and EventType"
## What is changing? (Please include as many details as possible.)
Adding v1beta1 apis for Broker,Trigger, EventType

## How will this impact our users?
Users will have a cleaner API.

## In what release will this take happen (to the best of your knowledge)?
V0.13

## Context
Link to associated PRs or issues from other repos here.

1. Trigger: https://github.com/knative/eventing/pull/2414
1. Event

[2020-02-26 15:53] lberk opened #2252 "AwssqsSource now uses sources.knative.dev"
Previously the source used sources.eventing.knative.dev and has been moved to sources.knative.dev

No other functional changes

[2020-02-26 16:15] lionelvillard opened #2253 "Add examples for v1beta1 [sequence, parallel]"
# What is changing? (Please include as many details as possible.)

We're introducing v1beta1.[Sequence,Parallel]. We should add documentation / samples for these.

# How will this impact our users?

They will have added functionality (for example Delivery on sequence)

# In what release will this take happen (to the best of your knowledge)?
happened in v0.13

# Context

Link to associated PRs or i

[2020-02-26 16:15] lionelvillard commented on #2253
/assign

[2020-02-26 16:17] lionelvillard commented on #2252
/assign @lberk

[2020-02-26 17:05] carieshmarie commented on #1541
Hey Scott - as mentioned in yesterday's WG, can you follow up on this issue and close or fix? Thanks!

[2020-02-26 22:05] mreferre opened #2255 "glooctl --dry-run doesn't include the creation of the gloo-system namespace"
## Expected Behavior
When I generate the yaml file using the `--dry-run` flag (i.e. `glooctl install knative --dry-run > knative-gloo-fargate.yaml`) I expect to produce a yaml that I can apply.

## Actual Behavior
The yaml generated apparently misses the creation of the `gloo-system` namespace so everything that is being applied in that ns fails.

## Steps to Reproduce the Problem
[code]
At this p

[2020-02-27 19:07] q1240725729 opened #2258 "i need help!!"
![image](https://user-images.githubusercontent.com/56433777/75477340-201f8a00-59d7-11ea-9a30-a72c143db6c8.png)
![image](https://user-images.githubusercontent.com/56433777/75477403-39c0d180-59d7-11ea-9041-8c87a3e0038a.png)
I don't know why it came back false

[2020-02-27 19:13] q1240725729 commented on #2258
version is 0.10.0

[2020-02-28 01:57] #2228 closed

[2020-02-28 14:17] #2114 closed

[2020-02-28 14:24] abrennan89 commented on #2258
I think it's because of
`Reason: RevisionMissing`

There's some information about Revisions in the docs: https://knative.dev/docs/serving/
but this doesn't look like a documentation issue, unless maybe we add some troubleshooting information once it gets solved.

@mattmoor any idea where folks should be logging issues like this that aren't docs related?

[2020-02-28 14:33] mattmoor commented on #2258
I'm going to transfer to knative/serving

[2020-02-28 19:10] houshengbo opened #2260 "Add the docs on how to install knative with operator"
**Describe the change you'd like to see**
Start to add documentation for knative operators, explaining how to install and configure knative with operators.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-03-02 12:30] tarunrathor-pro opened #2262 "Application Kafka topics with KNative Trigger filtering configuration and example"
**Describe the change you'd like to see**
A example where Kafka is the default channel and Trigger with filters based on event fields.
Additionally the real source of events is application kafka  topics ( not the kafka channel topics).

What would the complete setup be in this case. Does it still need the KafkaSource to read from application level kafka topics to publish to brokers (with kafka bac

[2020-03-03 20:07] RichieEscarez opened #2265 "Release 0.13 blocker: Install docs look out of date"
docs/docs/install/knative-with-any-k8s.md

1. includes lots of "feature state" version numbers and its unclear if they all need to be changed to 0.13. im not familiar with these entries or where else they are used but we should ensure that they are up to date before cutting a release branch and publishing

2. there are also lots of new terminology that do not align with the previous team agreed on

[2020-03-03 20:21] RichieEscarez commented on #1009
Maintainer docs to go in knative/community under the docs folder: https://github.com/knative/community/pull/64

[2020-03-03 20:21] #1009 closed

[2020-03-03 20:22] RichieEscarez commented on #1282
i think expectations have changed and no one is concerned with this anymore, closing

[2020-03-03 20:22] #1282 closed

[2020-03-03 22:48] n3wscott opened #2267 "[0.14] Eventing is removing api group sources.eventing.knative.dev"
## What is changing? (Please include as many details as possible.)
Eventing is dropping the api group `sources.eventing.knative.dev` from knative/eventing.

## How will this impact our users?

The following resources are removed:

- `CronJobSource/sources.eventing.knative.dev`
- `ApiServerSource/sources.eventing.knative.dev`
- `SinkBinding/sources.eventing.knative.dev`
- `ContainerSource/sources.e

[2020-03-03 23:45] mattmoor commented on #2265
1. This is consistent with (in fact based on) Kubernetes's equivalent, it lists the version at which the feature reached the current state.

2. This is news to me, and I'm a little surprised it wasn't raised in code review.

3. The only change I made to this (pre-existing) filename was to make it all lowercase because otherwise Hugo and the markdown linter couldn't agree on links.

4. My recollect

[2020-03-04 00:37] RichieEscarez commented on #2265
Sorry, Im really just trying to help ellenevans@ push out a release and dont have time to track any of this down nor try to fix it.

1. I see. Do we have a list somewhere that explains more about Knative feature states, it initially looked like we failed to update the numbers from v0.09 and confused me.

2. All the tools in the "observability plugin" are not just monitoring, there is tracing and v

[2020-03-04 00:45] mattmoor commented on #2265
@RichieEscarez re: `4.`

Is that not what this does?
[code]

[2020-03-04 00:47] mattmoor commented on #2265
Ack, so not blocking?

[2020-03-04 00:51] RichieEscarez commented on #2265
oh yup, the aliases covers that. I do think that we should maintain a level of quality and not challenge our users all the time my minimizing the filename changing (thus my push for changing this before it goes out). but that said, im completely distracted right now (enough to not even notice the aliases)  and dont have the bandwidth to help here. thanks @mattmoor !

[2020-03-04 00:51] mattmoor commented on #2265
Sent a PR for `2.`, are any of the rest blocking / actionable?

[2020-03-04 00:52] mattmoor commented on #2265
@RichieEscarez re: renames, the knative-with-any-k8s -> other is itself a rename! 🤣

[2020-03-04 00:52] mattmoor commented on #2265
I can TAL at that now, since I've got my repo warmed up.

[2020-03-04 01:03] RichieEscarez commented on #2265
@mattmoor to save the day! thank for fixing all this!

[2020-03-04 01:03] #2265 closed

[2020-03-04 14:47] sxmon commented on #2124
I also had to delete delete mutatingwebhookconfigurations.admissionregistration.k8s.io legacysinkbindings.webhook.sources.knative.dev

[2020-03-05 00:09] RichieEscarez commented on #1344
updated to reflect today's build configuration

[2020-03-05 14:35] aslom commented on #170
This is excellent idea especially for more technical parts such as defining components in Knative projects.

For example defining queue-proxy:
https://github.com/knative/serving/blob/08b386d8fbcef2751cd2cc221098526354da4d37/docs/scaling/SYSTEM.md
https://github.com/knative/serving/pull/7126

[2020-03-05 20:04] abrennan89 opened #2276 "Minor issues on API Server Source page"
## Expected Behavior
Titles in the left nav panel and on the actual page should be consistent to avoid confusion, and version numbers should be reasonably up to date or removed entirely.

## Actual Behavior
In this page, the nav panel says Kubernetes event, but the page is actually called API Server Source.
Also, this page refers to "release-0.9" - we are now at 0.13 so this is pretty outdated.

#

[2020-03-05 20:04] houshengbo opened #2277 "Add the docs on how to configure Knative with Operator CRs"
**Describe the change you'd like to see**
Operator CR can the source to configure Knative. We need to have doc on explaining how to configure the operator CRs.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-03-07 01:24] vaikas opened #2281 "Document Broker Classes and how to default them."
## What is changing? (Please include as many details as possible.)
We're going to have multiple Broker Classes, document how you can default them in the broker defaults configmap.

## How will this impact our users?
They can specify different brokers and in particular with this issue, we need to document how they can default them.

## In what release will this take happen (to the best of your know

[2020-03-07 12:00] #1793 closed

[2020-03-09 15:46] lionelvillard opened #2288 "document multi-tenant PingSource"
## What is changing? (Please include as many details as possible.)
PingSources can now be handled by a global multi-tenant service.

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
v0.14

## Context
Link to associated PRs or issues from other repos here.

1. https://github.com/knative/eventing/pull/2716
1.
1.

## Additional info

[2020-03-09 17:48] dprotaso opened #2289 "We should create a docs section about how Knative can be extended"
**Describe the change you'd like to see**

I received some feedback along the lines:

Looking for some docs related to the internal pluggable types ie. KIngress I couldn't find any. We should aim to have some documentation around these types and maybe even some examples.

[2020-03-09 17:59] evankanderson commented on #2289
Is the question around re-using the internal types in another project, or how to fulfil one of the internal types?

I'd be wary of the former -- the interfaces were purpose-built for Knative, and we may change them as needed in the future. For the latter, I think [this doc](https://docs.google.com/document/d/1Kwy13f36aeBv8slYy2OkpSRE6OKkkk2nAldiEq49Ybg/edit) will provide a clearer place on the net

[2020-03-09 18:05] dprotaso commented on #2289
This one :)

[2020-03-09 19:58] matzew opened #2290 "Monitoring docs depend on istio"
## Actual Behavior

when using different ingress than istio... the installation of monitoring does not fully work!

## Steps to Reproduce the Problem

1. go here: https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-observability-plugin
1. run `kubectl apply --filename https://github.com/knative/serving/releases/download/v0.13.0/monitoring-metrics-prometheus.yaml
` and get error

[2020-03-09 20:50] vaikas commented on #2290
@mdemirhan is this something that you could find an owner for?
/assign @mdemirhan

[2020-03-10 15:58] mpetason commented on #2141
/assign

[2020-03-10 16:59] sebgoa opened #2293 "Autoscale sample shows wrong number of Pods under load"
## Expected Behavior

I expect the autoscale sample:
https://github.com/knative/docs/blob/master/docs/serving/samples/autoscale-go/README.md

To actually depict what really happens.

## Actual Behavior

With the introduction of `container-concurrency-targe-percentage` default to 70%, the autoscaling sample actually ends up with 7 or 8 pods instead of 5 like mentioned in the doc.

## Steps to Repro

[2020-03-10 17:04] mpetason commented on #2068
Most of the docs look like this were shell is used:

[code]

To get it to show up without the extra spacing other sections use:

[code]

I think either we would have to change all of the ```shell blocks and use ```, or leave it as is since most of the shell blocks match.

Any ideas?

[2020-03-10 17:11] sebgoa opened #2294 "Link to PingSource page is 404"
## Expected Behavior

Link to page to not 404

## Actual Behavior

In https://knative.dev/docs/eventing/broker-trigger/
Link to PingSource goes to https://knative.dev/docs/eventing/samples/ping-source/index.html which is 404

the page is indeed at:

https://github.com/knative/docs/blob/master/docs/eventing/samples/ping-source/README.md

[2020-03-11 00:06] RichieEscarez commented on #1834
Fixed with https://github.com/knative/website/pull/115

[2020-03-11 00:06] #1834 closed

[2020-03-11 15:04] abrennan89 commented on #2248
@vaikas is this issue closed by #2259 ? If not, what else is required here?

[2020-03-11 15:24] #2141 closed

[2020-03-11 15:27] mpetason commented on #2101
It fails because it is missing the go.mod and go.sum file that it expects in the Dockerfile. A fix would be to run:

[code]

The mod file will have the go version, but not the required field yet so we run:

[code]

Which results in:

[code]

Now we can build the docker image.

[2020-03-11 15:32] mpetason commented on #2101
/assign

[2020-03-11 15:45] #2248 closed

[2020-03-11 17:52] #2260 closed

[2020-03-11 20:34] grantr opened #2301 "Install docs point to eventing 0.13.0 but we want them to install 0.13.3"
## Expected Behavior
Install docs direct users to install the latest point release of the minor version, e.g. 0.13.x where x is the most recent release in the 0.13 branch.

## Actual Behavior
Eventing has released 0.13.3, but docs still refer to 0.13.0.

## Steps to Reproduce the Problem

1. https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-eventing-component

## Additional I

[2020-03-13 17:48] #2294 closed

[2020-03-13 20:44] #2101 closed

[2020-03-16 15:52] FWiesner opened #2314 "KafkaChannel setup in the docs incorrect"
## Expected Behavior
https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-eventing-component should properly describe the procedure to run Eventing with a KafkaChannel.

## Actual Behavior
The documentation follows the pre-0.13 approach and does not cover the creation of configmap `config-br-defaults` and cm `kafka-channel` as described under https://knative.dev/docs/eventing/ch

[2020-03-16 16:23] lberk commented on #2252
Looks like @ellenevans got to this with #2268 (thanks!)

/close

[2020-03-16 16:24] #2252 closed

[2020-03-17 00:01] #281 closed

[2020-03-18 19:01] trisberg opened #2319 "Update image in Eventing Design Overview, replace Targetable with Addressable"
## Expected Behavior

The image used in Eventing Design Overview should use the correct terminology

## Actual Behavior

It says that the Service should be `Targetable` when it should be `Addressable`

## Steps to Reproduce the Problem

1. go here https://knative.dev/docs/eventing/
1. scroll down to the image

## Additional Info
**Additional context**
Add any other context about the problem here.

[2020-03-18 19:19] vaikas opened #2320 "Document installation / usage of MT channel broker"
## What is changing? (Please include as many details as possible.)
We're adding a Multi Tenant Channel based broker.

## How will this impact our users?
You can install an alternative Broker Class implementation that has routing components
in the shared knative-eventing (or wherever you install knative).

## In what release will this take happen (to the best of your knowledge)?
v0.14

## Context
L

[2020-03-18 19:59] #2314 closed

[2020-03-18 21:55] #2276 closed

[2020-03-18 22:20] #2320 closed

[2020-03-19 20:54] ellenevans opened #2328 "Double version number in dropdown menu for v.012.x"
## Expected Behavior
![Kn-docs-dropdown](https://user-images.githubusercontent.com/35748459/77113983-ff03f500-69e8-11ea-960c-bb1a1062d835.png)

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2020-03-23 15:54] matzew commented on #2290
@mdemirhan any thoughts on this   and/or https://github.com/knative/serving/issues/7197 ?

[2020-03-23 18:30] mdemirhan commented on #2290
Our only installation story at the moment is via hard coded YAML files. These problems can be solved when we move to an operator based installation and I believe this would be a good input for the operations work group. For YAML based installation, the only option I can think of is to define different YAMLs for each of the networking ingresses.

I put my thoughts for #7197 as well - see below for

[2020-03-23 23:54] nachocano opened #2332 "Update docs related to ContainerSource"
**Describe the change you'd like to see**
We deprecated ContainerSource in 0.12. We are bringing it back now with a new API group (`sources.knative.dev`), and without previous deprecated fields (we use template instead).
Should update the docs properly, including the migration from ContainerSource to SinkBinding.

**Additional context**
https://github.com/knative/eventing/issues/2739

/assign

[2020-03-24 04:10] #1872 closed

[2020-03-24 15:27] mpetason commented on #2293
The service is created with `autoscaling.knative.dev/target: "10"` which will overwrite the new default 70 value. I think the output is correct after testing it a few times. I can prob update the wording to reflect the new default, but I think the output is correct.

[2020-03-24 16:09] mpetason commented on #2255
Which section were you running into issues on docs? It does seem like you'd want to either setup the gloo namespace first or if you want to use a namespace other than the gloo-system namespace you would want to add the -n flag:

  -n, --namespace string    namespace for reading or writing resources (default "gloo-system")

[2020-03-24 16:15] mpetason commented on #2226
This was fixed by https://github.com/knative/docs/pull/2240

[2020-03-24 16:20] mpetason commented on #2208
It looks like the issue follows what @samodell was saying. It doesn't exist in v0.12 but does in v0.13.

This link works -

https://github.com/knative/eventing/releases/download/v0.13.0/channel-broker.yaml

Now the docs are updated to show the correct link after the v0.13.0 release.

[2020-03-24 16:38] mpetason commented on #2179
I walked through and tested this out. It does look like the image update resolves the issue. The logs go from the errors provided above to useful information:

[code]

[2020-03-24 16:58] #2179 closed

[2020-03-25 09:33] mreferre commented on #2255
Thanks @mpetason. It turned out this is more of a `glooctl` issue than a doc issue. I am tracking it here: https://github.com/solo-io/gloo/issues/2533.

Thanks for chiming in. I am going to close this issue.

[2020-03-25 09:33] #2255 closed

[2020-03-25 13:22] Zyqsempai opened #2337 "Broken links on eventing/README page"
Sequence and Parallel pages links don't work on main eventing doc [page](https://github.com/knative/docs/blob/master/docs/eventing/README.md#higher-level-eventing-constructs), since `sequence.md` and `parallel.md` pages have moved to `flow` subfolder.

[2020-03-25 13:36] #2337 closed

[2020-03-27 15:02] jeffgriffith opened #2343 "Refers to knative-serving domain config out of order"
'Install istio for knative' gives steps for modifying the config-domain for knative-serving, but we have not yet created knative-serving. Istio is a pre-req. Perhaps suggest doing it after knative-serving is installed or move it there?

[2020-03-27 18:46] abrennan89 commented on #1771
@mukobi are you still working on this issue? Should we assign it to you?
Thanks :)

[2020-03-27 18:48] abrennan89 commented on #1923
I think the eventing only install section is covered now in the docs here https://knative.dev/docs/install/any-kubernetes-cluster/ ? @carieshmarie wdyt? Can we check off that item in the list?

[2020-03-27 18:59] #2332 closed

[2020-03-27 19:39] abrennan89 opened #2345 "Update docs to include changes related to Multi Tenant channel based broker"
## What is changing? (Please include as many details as possible.)

As of 0.14, MT channel based broker will be introduced
https://knative.dev/development/eventing/mt-channel-based-broker/

## How will this impact our users?
Knative will now provide a Multi Tenant Broker implementation that uses Channels for event routing.

## In what release will this take happen (to the best of your knowledge)?

[2020-03-27 20:15] mukobi commented on #1771
Oh sorry, I totally forgot about this. You can assign it to someone else.

[2020-03-28 22:11] ZhiminXiang opened #2346 "Installing Knative from microk8s misses networking related components."
## Expected Behavior
There is a clear instruction from installing Knative through microk8s, and tell users how to install networking related components.

## Actual Behavior
According to the thread: https://knative.slack.com/archives/CA9RHBGJX/p1585374724018300, the user install Knative through microk8s by running the following command:
[code]
Looks like it only installs the serving-core component

[2020-03-30 03:13] cc4i opened #2348 "Installing Knative(docs/install/any-kubernetes-cluster.md)"
## Expected Behavior
➜  knative kubectl apply --filename https://github.com/knative/serving/releases/download/v0.13.0/monitoring-tracing-jaeger-in-mem.yaml
jaeger.jaegertracing.io/jaeger created
service/zipkin unchanged

## Actual Behavior
➜  knative kubectl apply --filename https://github.com/knative/serving/releases/download/v0.13.0/monitoring-tracing-jaeger-in-mem.yaml

service/zipkin unchanged

[2020-03-30 15:28] abrennan89 commented on #1771
Cron Job and Container Source have been replaced now; they're marked as deprecated, but maybe they should be removed from the list entirely since these are OOTB sources that should be covered eventually using `kn` commands in their own doc section (or at the least kubectl + yaml, as per ApiServerSource?).

[2020-03-30 19:43] Cynocracy opened #2350 "Knative community roles(community/contributing/ROLES.md)"
## Expected Behavior
* Edit/view link redirects to correct MD page

## Actual Behavior
* Stale link points to community/contributing/ROLES.md, which was moved to a top level dir.

[2020-03-31 00:37] n3wscott opened #2352 "Document ApiServerSource v1alpha2 and delete all v1alpha1 examples."
## What is changing? (Please include as many details as possible.)

Adding APIServerSource v1alpha2, APIServerSource is reconciled and realized only in the v1alpha2 API, some fields are now ignored. v1alpha1 documentation no longer fully apply.

## How will this impact our users?

The v1alpha1 shape of ApiServerSource will no longer work for the extra fields such as label selectors and the owner b

[2020-03-31 15:26] mpetason commented on #2067
It looks like both of these items are covered by -

https://knative.dev/docs/install/installing-istio/#downloading-istio-and-installing-crds

# Download and unpack Istio
export ISTIO_VERSION=1.3.6
curl -L https://git.io/getLatestIstio | sh -
cd istio-${ISTIO_VERSION}

After doing the above commands you'll have the correct path - istio-1.3.6/install/kubernetes/helm/istio.

Then we create a namespac

[2020-03-31 15:33] mpetason commented on #2005
This might be related to your Docker version and support for multi stage builds.

Docker version - 19.03.8

$ docker build --tag "mpetason/grpc-ping-go" .
Sending build context to Docker daemon  22.53kB
Step 1/10 : FROM golang:1.12 as builder
 ---> 80bb9c6de3f2
Step 2/10 : RUN go get google.golang.org/grpc
 ---> Running in d0fba80e573a

[2020-03-31 16:00] lberk opened #2354 "Writing Source the Hard Way (With RA) needs updating"
## What is changing? (Please include as many details as possible.)
As per knative/sample-source#40
The sample source now uses sinkbindings to track the deployment/ra and uses the v2 version of the RA.  Updates, benefits, and changes should be documented.  Including CeOverrides, and metrics.

cc/ @n3wscott @matzew
## How will this impact our users?
The reconciler should be much more compact and mor

[2020-03-31 16:02] mpetason commented on #2071
https://github.com/knative/docs/pull/2148 resolved this issue.

[2020-03-31 17:08] ahmetb commented on #2067
/close

[2020-03-31 17:08] #2067 closed

[2020-03-31 18:29] evankanderson commented on #2350
/assign @evankanderson

[2020-04-01 08:28] nak3 opened #2357 "Istio (v1.5.1 or later) should be installed by istioctl command"
## What is changing? (Please include as many details as possible.)

Istio projects announced that `helm` installation will be deprecated. So `istioctl` command should be used instead of it.

## How will this impact our users?

Users need to use `istioctl` to install istio.

## In what release will this take happen (to the best of your knowledge)?

Istio 1.5.1 or later. Istio 1.4.x and Istio 1.5.0

[2020-04-01 17:08] richterdavid opened #2359 "Installing cert-manager for TLS certificates(docs/serving/installing-cert-manager.md)"
##  Expected Behavior

Documented install procedure at https://knative.dev/docs/serving/installing-cert-manager/ works fine.

## Actual Behavior

~/knative-workspace/cert-manager-0.6.1$ kubectl apply -f deploy/manifests/cert-manager.yaml
unable to recognize "deploy/manifests/cert-manager.yaml": no matches for kind "Deployment" in version "apps/v1beta1"
unable to recognize "deploy/manifests/cert-ma

[2020-04-02 09:54] objectiser commented on #2348
Rather than including the steps to install the individual yaml files, which may get out of sync if changes occur in the Jaeger project, it may be better to reference the Jaeger docs: https://www.jaegertracing.io/docs/latest/operator/#installing-the-operator-on-kubernetes or install via the operatorhub (press Install on https://operatorhub.io/operator/jaeger)? Possibly offer both options.

[2020-04-03 08:13] sebgoa commented on #2293
Which version of knative are you testing this on ?

[2020-04-04 19:54] maisem opened #2367 "Broken links under `Higher Level eventing constructs`"
The links for [Sequence](https://knative.dev/docs/eventing/sequence) and [Parallel](https://knative.dev/docs/eventing/parallel) constructs result in "Page Not Found".

## Expected Behavior
Clicking on the link opens the correct page with details about the construct.

## Actual Behavior
Page Not Found

## Steps to Reproduce the Problem

1. Go to https://knative.dev/docs/eventing
1. Scroll down to "

[2020-04-04 19:54] maisem commented on #2367
cc @vaikas

[2020-04-06 02:10] mattwelke opened #2368 "Page needs improvement ("Installing Knative")"
## Expected Behavior
I am able to find instructions for how to install the latest version of Knative (1.13 right now) on Minikube, like I was able to before for earlier versions.

## Actual Behavior
I cannot find instructions for how to install Knative on Minikube when looking at the 1.13 version of t he docs. I recall being able to create a NodePort service when following the documentation for an

[2020-04-06 17:20] ellenevans opened #2602 "Update https://knative.dev/community/contributing/docs/docs-contributing/"
"Try out Knative and send us feedback. For example, run through one of the install guides and then try Getting Started with Knative Serving."

The install guides have been winnowed down to a single install guide.

[2020-04-07 15:15] mpetason commented on #2367
Fixed by https://github.com/knative/docs/pull/2338

[2020-04-07 15:31] mpetason commented on #2359
This is due to an older apiVersion in the cert-manager deployment files. The cert-manager.yaml and others are using apps/v1beta1 while the latest version of K8s uses apps/v1.

That being said, the current version of Cert-Manager uses helm, so I'm not sure which version we want to point to in the docs or if we should rewrite to work with the helm installation.

[2020-04-07 15:42] mpetason commented on #2359
This page actually needs to be updated a bit. The latest version of cert-manager is v0.14.1, and we're recommending v0.6.*, which probably will not as well as we need. It's not a simple "update URL for crds/other" because it swaps to Helm, which means the YAML files are dependent on the values provided by Helm.

[2020-04-07 16:17] ZhiminXiang commented on #2359
Currently we run our E2E tests against cert-manager 0.12. So I will update the doc to upgrade to 0.12. Once we test 0.14, we can bump the version to 0.14.

[2020-04-07 16:17] ZhiminXiang commented on #2359
/assign @ZhiminXiang

[2020-04-07 17:05] richterdavid opened #2370 "Knative processes and guidelines(community/contributing/mechanics/_index.md)"
https://knative.dev/community/contributing/mechanics/ should link to https://knative.dev/community/contributing/mechanics/feature-tracks/ like it does to https://knative.dev/community/contributing/mechanics/working-group-processes/

[2020-04-08 08:26] matzew opened #2371 "Document how to change the broker defaults"
Document how to change the default broker from `channel-broker` to `mt-channel-broker`.

By changing the configmap to:

[code]

[2020-04-08 16:48] vagababov opened #2375 "Productionize and public target burst capacity document."
The document: https://docs.google.com/document/d/1ubszZxikwe0O1JsA-Rjwdv3YA-rgHWKLI9WPAD083ig/edit

I took it to the WG meeting some time ago.
This should give it proper tracking.

/cc @abrennan89

[2020-04-10 00:01] #1632 closed

[2020-04-10 00:01] #1750 closed

[2020-04-10 17:52] #2293 closed

[2020-04-10 21:02] PhilCorney opened #2380 "https://github.com/knative/docs/blob/release-0.13/docs/install/installing-istio.md"
GitHub URL 404s for the the below Istio version

# Istio minor version should be 1.3, 1.4 or 1.5
export ISTIO_MINOR_VERSION=1.3

export VERSION=$(curl https://raw.githubusercontent.com/knative/serving/master/third_party/istio-${ISTIO_MINOR_VERSION}-latest)

kubectl apply -f https://raw.githubusercontent.com/knative/serving/master/third_party/${VERSION}/istio-knative-extras.yaml

[2020-04-10 22:37] ZhiminXiang commented on #2359
This issue has been partially addressed by PR https://github.com/knative/docs/pull/2239/files.

I will update the supported version to 0.12 next.

[2020-04-11 21:06] mattmoor opened #2382 "Upgrade cloudevents-go to the new SDK"
The cloudevents SDK for Go has been getting overhauled, and we should update the Serving sample `cloudevents-go` to match.

/assign @slinkydeveloper @n3wscott
cc @duglin

[2020-04-12 01:03] n3wscott commented on #2382
I can do this... I have a few things I want to show people.

[2020-04-12 16:06] mpetason commented on #2293
@sebgoa I was using the latest from master, but I can install a specific version and test again this week. I'm not sure if the version matters when the service specifies a target amount (unless older APIs don't accept that option.)

[2020-04-13 12:29] slinkydeveloper commented on #2382
@n3wscott cool, loop me in the review ;)

[2020-04-13 16:31] #2382 closed

[2020-04-14 12:00] #1809 closed

[2020-04-14 15:06] antoineco opened #2389 "Outdated references to event-display image"
The `event-display` image referenced in multiple places in the docs is very much outdated and does not work with v1 CloudEvents.

The full image name is `gcr.io/knative-releases/github.com/knative/eventing-sources/cmd/event_display`.

I will try to figure out what the release process is for this image and send a PR to update those outdated references.

[2020-04-14 15:21] antoineco commented on #2389
`event-display` is a fairly generic component, so I'll simply update the docs to point to the nightly image: `gcr.io/knative-nightly/knative.dev/eventing-contrib/cmd/event_display`.

[2020-04-14 21:08] #2370 closed

[2020-04-15 14:25] duglin opened #2397 "Version Dropdown stutters"
When I go to https://knative.dev/v0.12-docs/  by choosing v0.12 from the version drop-down in the title bar, I see this:

<img width="264" alt="image" src="https://user-images.githubusercontent.com/1944671/79348634-3f309780-7f03-11ea-9246-ec10332017e6.png">

Seems like the "v0.12" shouldn't be repeated

[2020-04-17 14:18] JCzz opened #2399 "Doc bug: simple link not found for "using-auto-tls""
In the documentation from:
https://knative.dev/v0.13-docs/serving/using-cert-manager-on-gcp

"Enabling automatic TLS certificate provisioning"
The link(https://knative.dev/v0.13-docs/using-auto-tls) is not working, error message:
[code]

This works, and hopefully for Knative v0.13:
https://knative.dev/docs/serving/using-auto-tls/

[2020-04-17 14:35] mattmoor commented on #2204
I think this is done?  @vaikas ?

[2020-04-17 14:39] mattmoor opened #2400 "Document GithubBinding"
## What is changing? (Please include as many details as possible.)

Introducing a new binding to make it simple to talk to the Github API

## How will this impact our users?

There is a new resource to facilitate authenticating with the Github API, and a helper library to make bootstrapping a client trivial.

## In what release will this take happen (to the best of your knowledge)?

Targeting 0.15

[2020-04-17 14:40] mattmoor opened #2401 "Document KafkaBinding"
## What is changing? (Please include as many details as possible.)

Introducing a new binding to make it simple to talk to the Kafka API

## How will this impact our users?

There is a new resource to facilitate authenticating with the Kafka API, and a helper library to make bootstrapping a client trivial.

## In what release will this take happen (to the best of your knowledge)?

Targeting 0.15

[2020-04-17 17:22] d2iq-shadowbq commented on #2053
/remove-lifecycle stale

[2020-04-17 23:22] #2277 closed

[2020-04-18 11:58] jonatasbaldin opened #2402 "Sequence and Parallel documentation are missing in v0.13.0"
## Expected Behavior
Be able to access the main Sequence and Parallel documentation in the `v0.13.0` as they were present in the `v0.12.0`.

- https://knative.dev/v0.12-docs/eventing/sequence/
- https://knative.dev/v0.12-docs/eventing/parallel/

## Actual Behavior
The links are both broken (nonexistent) in `v0.13.0`.

## Steps to Reproduce the Problem
- Search for the docs in v0.13.0
- Not find an

[2020-04-20 09:28] heprotecbuthealsoattac commented on #311
/remove-lifecycle stale

[2020-04-20 13:19] #2389 closed

[2020-04-20 13:28] lionelvillard commented on #2402
The new links are:
- https://knative.dev/v0.13-docs/eventing/flows/sequence/
- https://knative.dev/v0.13-docs/eventing/flows/parallel/

[2020-04-20 19:17] jonatasbaldin commented on #2402
Oh, ok, thanks! I think that from going from the pages on v0.12 to v0.13 it breaks because of the new parent page.

[2020-04-20 19:17] #2402 closed

[2020-04-21 20:24] sebgoa commented on #2380
indeed, 1.3 was removed here https://github.com/knative/serving/commit/0762cfcff12a199c9179a9f2cc700c46d3e99305#diff-15230e5dad94ffaefa7b526c0c1e89e5

[2020-04-21 20:44] sebgoa commented on #2399
it seems to be a build issue because the source seems good to me and the pre-release page are correct:

https://knative.dev/development/serving/using-cert-manager-on-gcp/

the 0.12 pages are also good:

https://knative.dev/v0.12-docs/serving/using-cert-manager-on-gcp/

[2020-04-22 02:07] ahmetb commented on #2108
/lifecycle frozen

[2020-04-22 02:07] ahmetb commented on #1964
/lifecycle frozen

[2020-04-22 08:37] jonatasbaldin commented on #1964
Hhey @ahmetb!

@bsideup wrote this article on how to create custom domains per Service: https://bsideup.github.io/posts/knative_custom_domains/

I'm thinking about documenting this process in the docs.

What do you think?

[2020-04-22 08:39] jonatasbaldin commented on #447
Since the monitoring bundle is deprecated as of [v0.14.0](https://github.com/knative/serving/releases/tag/v0.14.0), could we close this?

[2020-04-22 08:41] bsideup commented on #1964
@jonatasbaldin funny thing - I thought about contributing it to the docs but didn't find time yet :D

I was thinking about doing it this week, but if you do it first - feel free to! 👍

[2020-04-22 10:13] jonatasbaldin commented on #1964
hey, just made the docs! would love a review from you @bsideup

[2020-04-22 16:28] ahmetb commented on #1964
I don’t think that blog post quite explains my need. I am looking to map example.com to a ksvc. To do that, I guess you need to drop {{.Name}} because I don’t care about ksvc’s name in my domain?

[2020-04-22 16:31] bsideup commented on #1964
@ahmetb you can use the same approach as described in the blog post, just instead of using `$subdomain.{{.Domain}}` (where `$subdomain` is the label's value) you can replace it with just `$domain`

[2020-04-22 16:33] ahmetb commented on #1964
I see. I think that’s the useful scenario docs should actually mention. 1:1 domain ksvc mappings; not templates.

[2020-04-23 15:45] ahmetb commented on #1376
/lifecycle frozen

[2020-04-23 19:38] tcnghia commented on #1376
@ahmetb since we are not aware of a distro where your command breaks, let's update to use it?  if it breaks someone we can rollback.

My guess is that this change will be a net positive, since the corner-case K8s distribution may represent small set of user?  Again, if the guess is wrong we can rollback.

[2020-04-23 20:21] mattmoor commented on #1376
I'd like to better understand where we still have this, but more because we shouldn't have Istio specific stuff outside of install, which itself no longer uses this.  I don't think that it's unreasonable to expect that folks have set up DNS (possibly thru `xip.io`).  Ack that `xip.io` doesn't work on AWS, but DNS also isn't that hard to set up.

[2020-04-24 11:41] blorette opened #2415 "Page needs improvement"
## Documentation Unlear
Step 3 makes reference to applying service account when above simply talks of modifying existing.

[2020-04-25 15:20] kailashyogeshwar85 commented on #2124
It still tries to send data to eventing-webhook after deletion. Any further steps.

[2020-04-26 20:49] sebgoa commented on #2415
Can you put the link to the page you are talking about ? thanks

[2020-04-28 09:12] tshak commented on #1130
:wave: We're struggling to get mTLS to play nicely with Knative. Seeing as #5648 is resolved I would love to see documentation on this scenario.

[2020-04-28 15:21] mpetason commented on #2397
There's currently two other issues opened about this:

https://github.com/knative/docs/issues/2328
https://github.com/knative/website/issues/154

[2020-04-29 07:56] digikin commented on #1682
/remove-lifecycle stale

[2020-04-29 07:59] digikin commented on #1682
Sorry for changing the status I guess this did go stale now that version 0.13 is out but I can go over the documentation again to double check.

[2020-04-29 21:23] evankanderson commented on #1917
/kind good-first-issue

[2020-04-29 21:58] #2380 closed

[2020-04-30 17:58] rtipnis opened #2426 "Page needs improvement"
No reasoning is given for any of those minikube start parameters. Why 6 cpus, why a vm is needed (and not a container etc.)

[2020-05-02 13:46] vugardzhamalov commented on #1682
Hi @digikin! I am not sure if I should open a new ticket, following error was coming up for me during v.014.0 installation on Minikube:
`error: unable to recognize "https://github.com/knative/serving/releases/download/v0.14.0/serving-core.yaml": no matches for kind "Image" in version "caching.internal.knative.dev/v1alpha1"`

In order to resolve (both for Serving and Eventing components) I had to e

[2020-05-03 12:47] hasheddan opened #2430 "Add example of consuming managed services provisioned by Crossplane"
**Describe the change you'd like to see**
We recently gave a [demo on TBS](https://youtu.be/UnMm_T79drA?t=2495) of provisioning a [GCP Cloud SQL](https://cloud.google.com/sql) instance using [Crossplane](https://crossplane.io/), then consuming the connection information in a Knative `Service`. This is a valuable workflow that enhances the Knative experience and allows for a sample to be written th

[2020-05-05 00:04] digikin commented on #1682
Honestly I don't have an answer @vagababov nobody at knative seems to answer or respond to this issue. So, I would start a new issue you might have better luck getting someone to at least reply.

[2020-05-05 01:32] vagababov commented on #1682
@vugardzhamalov
I think :)

[2020-05-05 07:09] jonatasbaldin commented on #1682
Hi @vugardzhamalov @digikin @vagababov, how are y'all doing?

Just tested installing v0.14.0 on Minikube and everything worked ✨. I used the instructions from [my blog post](https://deployeveryday.com/2020/03/31/running-knative-locally.html), using Kourier:

[code]

Before accessing the Service, go in another terminal and open the Minikube tunnel:
[code]

Tested by curling the the Service on its e

[2020-05-05 07:30] jonatasbaldin commented on #2430
Hey @hasheddan, thanks for reaching out! It always awesome to have more contributions to the samples :)

There are currently two ways to contribute to the samples, as described [here](https://knative.dev/community/contributing/docs/docs-contributing/) under the `Determining where to add user focused code samples` section:

- 1 **Knative owned and maintained**: where the sample will need to be acti

[2020-05-05 07:35] jonatasbaldin commented on #2426
Hi @rtipnis! Could point out which page is this content located?

Thanks!

[2020-05-05 07:39] jonatasbaldin opened #2433 "Create OWNERS file under each samples folder"
**Describe the change you'd like to see**
Since the samples under `eventing/samples` and `serving/samples` are more official (maintained by a Knative member, integrated with e2e tests etc) it would be nice to have a OWNERS file under each folder so we know who to ping if an issue is raised.

What do y'all think?

[2020-05-05 08:44] markusthoemmes commented on #2152
I think with the recent autoscaling docs rework, this is done.

/close

[2020-05-05 08:44] #2152 closed

[2020-05-05 16:27] rhuss commented on #1555
/remove-lifecycle rotten

[2020-05-05 16:35] rhuss opened #2435 "Knative Samples: Add alternative version with using "kn""
**Describe the change you'd like to see**

For samples that include YAML descriptors of Knative resources, I suggest adding a corresponding `kn` command in an additional TAB, like it is done for the various autoscale options in https://knative.dev/development/serving/configuring-autoscaling/

In the first step, all relevant sections should be identified and then the alternative `kn` syntax added.

[2020-05-05 16:36] rhuss commented on #2435
/assign

[2020-05-05 16:36] rhuss commented on #1555
/assign

[2020-05-05 16:43] rhuss opened #2436 "Autoexpand example section when multiple tabs are given"
## Expected Behavior

Examples which have different flavors presented by tabs should already show the default presentation, like in

![image](https://user-images.githubusercontent.com/99080/81091789-fcf5e700-8eff-11ea-9c8a-9d693e011d40.png)

## Actual Behavior

In the current version of the new [autoscaling docs](https://knative.dev/development/serving/configuring-autoscaling/) the examples are no

[2020-05-06 16:33] jonatasbaldin commented on #2436
Got it!

[2020-05-06 16:39] jonatasbaldin commented on #2397
Was this fixed? I remember I was able to reproduce it but not anymore 🤔

[2020-05-06 17:43] #2436 closed

[2020-05-07 12:16] vugardzhamalov commented on #1682
Thank you guys @digikin @vagababov @jonatasbaldin !

My minikube profile is rather different but I did it as you've instructed in the earlier post. Not sure if this is of any help to anyone - at this stage I can only point out three things:

1. The issue with 'images.caching.internal.knative.dev' CRD and/or with 'queue-proxy' Image object (and of course the error message I've posted earlier) is de

[2020-05-07 18:25] vugardzhamalov commented on #1682
Oh... I wonder if this #https://github.com/knative/serving/issues/7755 is of any relevance? Seems like it is a similar issue the difference is that it is a nightly instead of v0.14 in my case...

[2020-05-10 19:08] duglin commented on #1968
/remove-lifecycle rotten

[2020-05-11 23:18] grant opened #2443 "Add Hello, World for Deno"
## Expected Behavior

There is a sample showing how to run Deno.

## Actual Behavior

There is no sample showing how to run Deno.

## Steps to Reproduce the Problem

1. View Samples (https://github.com/knative/docs/tree/master/community/samples/serving)
1. Observer no folder `helloworld-deno`

[2020-05-11 23:27] grant commented on #2443
I'm unable to change the label to a FR.

[2020-05-12 03:21] csantanapr opened #2445 "Add sample for cloudevents-nodejs"
**Describe the change you'd like to see**
Add a similar example of the cloudevents-go located here https://github.com/knative/docs/tree/master/docs/serving/samples/cloudevents/cloudevents-go for node.js

**Additional context**
This was a response to a call to arms by @mattmoor on Twitter https://twitter.com/mattomata/status/1258609477256744960?s=20

[2020-05-12 03:21] csantanapr commented on #2445
/assign

[2020-05-12 18:02] jonatasbaldin commented on #1682
I'll try to take a look into this this week, but I wasn't able to quickly reproduce it :(

[2020-05-12 20:43] abrennan89 opened #2454 "Create docs on high-availability components and leader election"
**Describe the change you'd like to see**
- Describe how HA works for Knative
- Provide details about which components are HA
- Default settings, how to configure HA

**Additional context**
- Based on https://docs.openshift.com/container-platform/4.3/serverless/serverless-config-HA.html
- Based on previous PR https://github.com/knative/docs/pull/2279 by @pmorie

[2020-05-12 23:40] #2443 closed

[2020-05-13 07:46] slinkydeveloper opened #2459 "Now tracing works with some eventing sources too"
## What is changing? (Please include as many details as possible.)
Now the config-tracing map is used by some sources too. This page needs to be updated: https://knative.dev/docs/eventing/accessing-traces/

## How will this impact our users?
Users can access to traces from eventing sources

## In what release will this take happen (to the best of your knowledge)?
v0.15

## Context
Link to associat

[2020-05-13 07:46] slinkydeveloper commented on #2459
/assign

[2020-05-13 15:32] vaikas commented on #1853
@akashrv I'm closing this since we have install instructions. Please reopen if you still think it's an issue?

[2020-05-13 15:32] #1853 closed

[2020-05-13 15:34] vaikas opened #2462 "Inconsistency in instructions for installing eventing."
## Expected Behavior
Install documents for Eventing provide a single set of working instructions.

## Actual Behavior
There are two, with different results:
https://knative.dev/docs/eventing/getting-started/#installing-knative-eventing
https://knative.dev/docs/install/any-kubernetes-cluster/

## Steps to Reproduce the Problem

1. Try to install using the path to 'any-kubernetes-cluster', you get d

[2020-05-13 15:44] #2462 closed

[2020-05-13 19:31] grant opened #2466 "Fix Deno std lib version"
## Expected Behavior

Use accurate std lib in `hello-deno` sample.. The std lib version broke last night.

## Actual Behavior

404 std lib used in `hello-deno` sample.

## Steps to Reproduce the Problem

1. Use `hello-deno` sample, see 404 import.

Related:
- https://github.com/denoland/deno/issues/5267
- https://github.com/denoland/deno/issues/5277

[2020-05-13 19:55] #2466 closed

[2020-05-15 10:37] rutpal commented on #2070
More than a year after this issue was opened, I come to have exactly the same problem.
Any help? Any place where I can find an explanation of what knative metrics are measuring?

[2020-05-15 16:56] ahmetb commented on #2070
/lifecycle frozen

[2020-05-15 16:56] ahmetb commented on #2105
/lifecycle frozen

[2020-05-15 21:21] abrennan89 opened #2472 "Add a command to set min/max scale for Activators (i.e. edit knative-serving/activator HPA resource."
**Describe the change you'd like to see**
Follow up from #2454 #2455
Add additional configuration options for Activators.

@vagababov can you provide details please and I'll add them to the docs? Thanks.

[2020-05-15 21:22] vagababov commented on #2472
[code]

[2020-05-17 19:34] vugardzhamalov commented on #1682
Hi  @jonatasbaldin
FYI please consider this as a follow up to my first point in https://github.com/knative/docs/issues/1682#issuecomment-625218932

I've decided to proceed with a clean install of Fedora 32 (the issue was opened while I was still on Fedora 31). And it seems like I don't get any delays with 'Image' object anymore... Not sure what could've been the problem (may somehow could've been

[2020-05-18 01:00] itsmurugappan commented on #2401
PR referenced above has a type. The PR url is https://github.com/knative/eventing-contrib/pull/1116

[2020-05-18 14:11] aliok commented on #2354
Updates for https://github.com/knative/sample-source/pull/40 is done with https://github.com/knative/docs/pull/2475.

No ceOverrides nor metrics though.

[2020-05-18 15:12] abrennan89 opened #2477 "Add docs for load balancing"
## What is changing?
- [Load balancing configuration is available](https://docs.google.com/document/d/1_q-MmBDZ-7wr0ENAEfzCCYRMDJTbM97Q-yIX424JfN8/edit#heading=h.dlhaweupt3on)

## How will this impact our users?
They will need to know how to configure and it and how it works within Knative

## In what release will this take happen (to the best of your knowledge)?
<Ex. v0.2-v0.3> not sure, @vagabab

[2020-05-19 05:37] r-kotagudem opened #2479 "knative service is not recheable, connection timesout when the pod scales to zero. knative doesnt support envoy filter configuration?"
## Expected Behavior
Trying to apply envoy external authorization filter to knative service.
To be able to authorize requests consistently with envoy ext_authz filter delegating policy evaludation  by open policy agent grpc server.

## Actual Behavior
 deploy a knative service, which runs fine.
apply below envoy filter using target/label selector
wait for pod to scale to zero, then the service is

[2020-05-19 14:00] mjschmidt opened #2481 "Apache Kafka Channel Example(docs/eventing/samples/kafka/channel/index.md)"
## Expected Behavior
`kubectl label namespace default knative-eventing-injection=enabled`
Should result in the following channels being created:
[code]

## Actual Behavior
These topics are not created:
[code]

This results in the logs at the end of the example from this command being empty and the example ultimately fails:
`kubectl logs --selector='serving.knative.dev/service=broker-kafka-display'

[2020-05-19 19:34] abrennan89 commented on #1385
@ahmetb just wondering if this issue is still relevant? Was there some particular information you would like to see in the docs?

[2020-05-19 19:41] ahmetb commented on #1385
Very much relevant. I don’t see a reason why it wouldn’t be.

[2020-05-19 23:06] vaikas opened #2484 "Document the usage of storage version migrator for Eventing"
## What is changing? (Please include as many details as possible.)
There will be a new tool similar to Serving for migrating the storage version from v1alpha1 to v1beta1. This issue tracks adding docs for it.

## How will this impact our users?
They can run a tool that upgrades all their resources.

## In what release will this take happen (to the best of your knowledge)?
v0.15
## Context
Link to

[2020-05-20 12:53] abrennan89 commented on #1541
@n3wscott any updates here?

[2020-05-20 13:01] abrennan89 commented on #1630
Hi @kzjackson1
I think the issue relating to dependencies in the install guide has been fixed during the install docs overhaul: https://knative.dev/docs/install/any-kubernetes-cluster/
Let me know if that solves the issue for you.

Thanks!

[2020-05-20 13:15] abrennan89 commented on #1682
@digikin the latest docs for 0.14 no longer mention installing on specific platforms, e.g. Minikube, just a generic install guide.
I think this issue is maybe one for the main repo rather than docs if it's about installation issues on Minikube, rather than a specific docs change.
Thanks

[2020-05-20 13:48] mattmoor commented on #1682
tl;dr if `--selector knative.dev/crd-install=true` is used with anything but `ko`, it is a bug, our public docs should stop referencing it.

`kubectl apply --selector knative.dev/crd-install=true` shouldn't be use anywhere anymore, we should be replacing it with explicit installation of the CRD yamls (e.g. `serving-crds.yaml`).

**AI: It looks like [Serving](https://knative.dev/docs/install/any-ku

[2020-05-20 13:54] abrennan89 commented on #1969
@coryrc can this issue been closed now? I think the docs are pretty different now :slightly_smiling_face: https://knative.dev/docs/install/

[2020-05-20 15:59] abrennan89 commented on #2435
@rhuss do you want to add a list of commands here and we can split this into smaller tasks? I can add some of it when I'm doing docs PRs anyway.

[2020-05-20 17:43] ryandawsonuk opened #2487 "event-display requires CE 0.2"
I deployed the event-display kservice from https://github.com/knative/docs/blob/master/docs/eventing/samples/kafka/source/README.md#create-the-event-display-service i.e. gcr.io/knative-releases/github.com/knative/eventing-contrib/cmd/event_display

I then deployed a curler pod and did the following curl:
[code]
Which the event-display received but couldn't decode. I then sent it with Ce-Specversio

[2020-05-20 18:48] #2245 closed

[2020-05-20 18:49] abrennan89 commented on #2050
@concaf can this issue be closed or is there any additional docs work to do? Thanks :slightly_smiling_face:

[2020-05-20 20:06] abrennan89 commented on #2426
I don't think that this issue is valid anymore, since vendor specific install docs have been removed and we shouldn't have references to minikube now.

@rtipnis please let me know if you think that this issue still requires doc changes, and provide links or specific locations of the issues, otherwise I will close it. Thanks.

cc @mattmoor for a second pair of eyes :eyes:

[2020-05-20 20:09] abrennan89 commented on #2267
@n3wscott what would be the required doc changes in relation to this?

[2020-05-20 20:51] abrennan89 commented on #2368
Hi @mattwelke
The install guide no longer includes documentation for specific platforms.
There is a [Knative Offerings](https://knative.dev/docs/knative-offerings/) section where links can be added to docs for specific platforms though, where these have their own docs about using Knative.

@macruzbar this might be a good topic for a blog or tutorial post?

[2020-05-21 01:25] n3wscott commented on #2267
It might be already done

[2020-05-21 02:40] csantanapr commented on #1682
@digikin if it's useful here is specific recipe for minikube I maintain https://github.com/csantanapr/knative-minikube

[2020-05-21 07:15] kameshsampath opened #2489 "Default channels(docs/eventing/channels/default-channels.md) - update apiVersion"
The Knative Channel samples needs to be updated for apiVersion `messaging.knative.dev/v1beta1`

## Expected Behavior
https://github.com/knative/eventing-contrib/issues/1239

## Actual Behavior
https://github.com/knative/eventing-contrib/issues/1239

## Steps to Reproduce the Problem

https://github.com/knative/eventing-contrib/issues/1239

**Install information:**
 - Knative Version: v0.14.x

[2020-05-21 07:15] kameshsampath commented on #2489
/assign

[2020-05-21 07:35] rhuss commented on #2435
Sorry, I'm still behind. The plan was first to identify on which pages a in sample alternative could be added and then group this into smaller tickets. This analysis hasn't happened yet. If you stumble upon a page with a yaml example it would be cool to add a reference to this page to this issue. Next week we should be more clear how to proceed.

[2020-05-21 12:46] abrennan89 commented on #2435
Can do!

[2020-05-21 13:49] concaf commented on #2050
@abrennan89 the docs are fine, there are tests as well which are not perfect but being worked on as and when time permits - I'm OK with closing this issue.

[2020-05-21 14:24] #2050 closed

[2020-05-21 14:40] n3wscott commented on #2267
Searched and found no old refs to the Kinds listed.

[2020-05-21 14:40] #2267 closed

[2020-05-21 20:20] abrennan89 commented on #2435
List of pages that need `kn` examples added:
- [ ] [Deploying apps](https://knative.dev/development/serving/getting-started-knative-app/)
- [ ] [routing blue green deployment traffic](https://knative.dev/development/serving/samples/blue-green-deployment/)
- [ ] [Autoscaling](https://knative.dev/development/serving/configuring-autoscaling/) I'd wait til after I merge #2439 though
- [ ] [event sourc

[2020-05-22 00:22] evankanderson opened #2492 "Add high-level documentation for SinkBinding"
## Expected Behavior

I should understand what a SinkBinding is for and how to use it.

## Actual Behavior

There's a sample that shows how to use it, but the way that it works and how to use it with my own container requires a little thought.

## Steps to Reproduce the Problem

1. Read https://knative.dev/docs/eventing/ . There's nothing there that describes how to send events yourself.
1. Read h

[2020-05-22 03:37] #2479 closed

[2020-05-22 17:31] joshuawilson opened #2497 "wrong link/title in api doc"
## Expected Behavior
I expected to drill down in the API doc to see that information I was looking for.

## Actual Behavior
I got a link to a parent of thing that was supposed to be linked to.

## Steps to Reproduce the Problem

1. https://knative.dev/docs/reference/serving-api/#serving.knative.dev/v1.RevisionSpec
2. The `PodSpec` should be `containers`. Containers is a child of PodSpec.

## Addit

[2020-05-22 18:30] #2445 closed

[2020-05-22 18:52] joshuawilson commented on #2497
I found another issue just like the described one above.

It should go `service.spec.template` but the docs have `service.spec.ConfigurationSpec.template`

[2020-05-22 22:38] tang-john opened #2500 "Installing Knative components using Operator(development/install/knative-with-operators.md)"
## Expected Behavior
The following file does not exist

https://storage.googleapis.com/knative-sandbox-nightly/operator/latest/operator.yaml

## Actual Behavior

## Steps to Reproduce the Problem

1. Go to https://knative.dev/development/install/knative-with-operators/
1.Look for the line:  kubectl apply -f https://storage.googleapis.com/knative-sandbox-nightly/operator/latest/operator.yaml
1. The

[2020-05-24 14:13] #2357 closed

[2020-05-24 15:30] gianarb commented on #1906
Hello!
it looks like it is not a problem other people experienced or that are experiencing currently. So I can't check it again right. Gonna close it for now

[2020-05-24 15:30] #1906 closed

[2020-05-26 17:03] #2401 closed

[2020-05-26 17:34] abrennan89 opened #2508 "Remove mentions of old versions of Knative (~0.6): Knative Eventing(docs/eventing/_index.md)"
## Actual Behavior
Docs mention super old versions of Knative (0.6) at least once on this page.
Docs should be checked regularly for outdated versions

## Steps to Reproduce the Problem

1. An example https://knative.dev/docs/eventing/#event-registry

## Additional Info
Needs input from docs WG about whether groom the docs to remove old versions for each release, and published guidelines maybe abo

[2020-05-26 23:35] macruzbar opened #2510 "Add byline to the blog"
## What is changing? (Please include as many details as possible.)
We are adding a static information field to blog entries on Knative.dev

## How will this impact our users?
Users will be able to know who is writing stories and can contact them if they need; Knative contributors can get more recognition for their work

## In what release will this take happen (to the best of your knowledge)?
N/A

[2020-05-27 08:57] rhuss commented on #2435
Cool, thanks ! Let's start with the "Getting started" guide and add a corresponding kn example. I will do a PR for this now.

[2020-05-27 13:19] rhuss commented on #2435
@abrennan89 I submitted a first PR for the "Getting Started" experience with `kn`: #2514

[2020-05-27 17:58] vaikas opened #2516 "Remove references to ChannelBasedBroker"
## What is changing? (Please include as many details as possible.)
ChannelBasedBroker is going away. Update documentation by removing it and changing all the examples to use MTChannelBasedBroker

## How will this impact our users?

## In what release will this take happen (to the best of your knowledge)?
v0.16

## Context
Link to associated PRs or issues from other repos here.

1. https://github.c

[2020-05-27 22:03] abrennan89 commented on #2375
This issue is blocked pending merge of #2439 which adds TBC to the docs, which we will expand on in this issue by adding a load balancing section.
The PR that needs to be merged already has an approved label, so it just needs an LGTM I think.

@carieshmarie @mattmoor @evankanderson could someone with permissions take a look at merging #2439 please to unblock this. Thanks!

[2020-05-27 22:12] abrennan89 commented on #2345
**To do list**

- [ ] Create Brokers subsection to group information
  - [ ] Create issue to split out broker and trigger docs https://knative.dev/docs/eventing/broker-trigger/ instead give these their own section and group broker information.
- [ ] Side quest - can we get some better formatting for notes in the docs site @evankanderson ? I see a lot of "NOTE:" and it doesn't do much to highlight

[2020-05-28 12:24] grounded042 commented on #1130
I’m also interested in documentation on getting mTLS up and running as it’s something we’re needing and there doesn’t seem to be a solid source on how to go about doing that.

[2020-05-28 15:10] pfremm opened #2519 "Knative Community Meetup(community/meetup/_index.md)"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2020-05-28 17:47] macruzbar commented on #2510
/assign @evankanderson

[2020-05-28 17:58] Shashankft9 opened #2520 "Update the docs for kafkasource usage"
## Expected Behavior
The logs in the Aache Kafka Event Source (4th step) and Verify (step 2) sections are not updated after the new knative release: https://github.com/knative/docs/tree/master/docs/eventing/samples/kafka/source

4th step log should be from here:
https://github.com/knative/eventing-contrib/blob/1db4476e8a13bad85e19d9afc7e443b80e75170e/kafka/source/pkg/adapter/adapter.go#L81

while

[2020-05-29 00:58] macruzbar opened #2522 "Create blogging guidelines for Knative.dev"
**Describe the change you'd like to see**
Have a documented process for Knative.dev blog that encourages community members to contribute content to the Knative blog.

**Additional context**
This was [discussed](https://docs.google.com/a/google.com/document/d/1Y7rug0XshcQPdKzptdWbQLQjcjgpFdLeEgP1nfkDAe4/edit?usp=drive_web) at the Documentation WG meeting of May 19th.

/assign @macruzbar

[2020-05-29 17:57] k33g opened #2524 "What is the reason to not use an existing version (latest) of cloudevents SDK"
Hello, I don't understand why you use this:

https://github.com/knative/docs/blob/bf5fef670e5bc96457a39e3c86c824ed236843bf/docs/serving/samples/cloudevents/cloudevents-nodejs/package.json#L16

[2020-05-29 19:23] tcnghia opened #2525 "Update Istio installation to use `istioctl`, not `helm`"
**Describe the change you'd like to see**
Now that Istio 1.6 is released and 1.4 is deprecated, we should switch our instruction to use `istioctl`

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-05-29 19:23] tcnghia commented on #2525
cc @ZhiminXiang

[2020-05-29 22:23] richterdavid opened #2526 "improve webdev and pagespeed scores"
Google's public website measurement tools indicate that knative.dev and the pages on that site could use some improvements.

https://web.dev/measure/
https://developers.google.com/speed/pagespeed/insights/?url=knative.dev&tab=mobile
https://developers.google.com/speed/pagespeed/insights/?url=knative.dev&tab=desktop
https://www.thinkwithgoogle.com/feature/testmysite/
testmysite report: https://stor

[2020-05-30 21:56] erekgit commented on #2481
@mjschmidt I am also experiencing the same issue.  the ingress and trigger topics are not being created.

[2020-06-01 01:50] erekgit commented on #2481
@mjschmidt Does this work with Knative 0.13?

[2020-06-01 10:56] mjschmidt commented on #2481
I do not know it didn't work in knative 11, but I have not tried 13. I keep checking back periodically.

[2020-06-01 15:14] medenzon commented on #2481
@erekgit I’m seeing the same behavior

[2020-06-01 15:17] mjschmidt commented on #2481
I am glad that other people are seeing this issue. I wish I knew more and where to look and could help more

[2020-06-01 17:30] erekgit commented on #2481
@mjschmidt can you show the output from the logs of your default-broker-filter?

kubectl logs default-broker-filter-XXXXX

[2020-06-01 17:32] mjschmidt commented on #2481
I cannot I took down the deployment for now. I can set it back up later and get back to you though! @erekgit

[2020-06-01 18:23] abrennan89 commented on #1385
Cool, was just checking since the issue is a year old :slightly_smiling_face:

[2020-06-02 05:42] erekgit commented on #2481
@mjschmidt I was able to get the Channel and Sourcing to work, will draft up my results that are appropriate for public release.

1.)  I'd recommend installing Istio with Automatic Sidecar Injection Disabled by Default

(See if this is enough to get you in working order ^^^ but i still do not see the ingress and trigger topics being automatically created)

2.)  The Sourcing has an issue with the e

[2020-06-02 07:34] sebgoa commented on #2524
let's ask @csantanapr since he wrote it

[2020-06-02 07:36] sebgoa commented on #2519
There is no bug description here, you just left the template blank

[2020-06-02 08:11] sebgoa commented on #2497
Why do you say that it should not be `PodSpec`, that's what the spec is https://github.com/knative/serving/blob/master/pkg/apis/serving/v1/revision_types.go#L75

Also can you expand on your second comment about `service.spec.template` where do you see that ?

[2020-06-02 08:15] sebgoa commented on #2487
Could you try with `gcr.io/knative-releases/knative.dev/eventing-contrib/cmd/event_display` instead ?

[2020-06-02 11:27] matzew commented on #2516
/assign @matzew

see PR: https://github.com/knative/docs/pull/2533

[2020-06-02 12:04] csantanapr commented on #2524
Hi at the time when the sample was written, I used the latest version. I’m waiting for version 2.0 of the sdk to be release.

[2020-06-02 12:09] csantanapr commented on #2524
It looks like there is a tag v2.0.1 out today that we can update the sample to use this version

https://github.com/cloudevents/sdk-javascript/tags

[2020-06-02 13:41] erekgit commented on #2481
PR https://github.com/knative/docs/pull/2532  Merged to resolve the 3rd issue. above ^^^

[2020-06-02 17:01] evankanderson commented on #2481
/close

[2020-06-02 17:01] #2481 closed

[2020-06-02 17:10] #2516 closed

[2020-06-02 18:23] evankanderson commented on #2524
/assign @csantanapr

Though @k33g should feel free to send a PR if they'd prefer.

[2020-06-02 18:29] joshuawilson commented on #2497
I talked to @rhuss and he explained that the types are inlined in GoLang and the docs are generated. The inlined type appears in the docs but as a non-GoLang dev I thought something was wrong since the yaml doesn't match.

At this point, I concede that the docs, spec, and output yaml all match. You can close this if you want.

However, as a user I find this set up for the docs very confusing. I lo

[2020-06-02 18:33] rhuss commented on #2497
The misunderstanding is that

![image](https://user-images.githubusercontent.com/99080/83556161-b4861500-a50f-11ea-8fda-5ae8141abbf9.png)

really is only understandable by Go coders. However, I suppose that the API documentation should be language neutral, ideally something like an OpenAPI schema used by Swagger docs and as used by Kubernetes itself.

Without explaining what "(embedded)" really me

[2020-06-02 18:39] evankanderson commented on #2487
Requested in #productivity on Slack to delete all the `gcr.io/knative-releases/github.com/*` releases, assuming that they are months old at this point.

[2020-06-02 18:40] evankanderson commented on #2497
@ahmetb is the owner of the tool that does the API documentation generation, IIRC.

Ahmet, are you interested in this bug report? If so, where should it go?

[2020-06-02 18:42] evankanderson commented on #2519
/close

[2020-06-02 18:42] #2519 closed

[2020-06-02 18:57] abrennan89 commented on #1882
Closing in favor of creating smaller issues for each use case or concept.

[2020-06-02 18:57] #1882 closed

[2020-06-02 19:30] abrennan89 commented on #1922
@carieshmarie I think each of the checkbox items on this issue could probably be an epic of its own instead, with its own subtasks. Otherwise the scope is too overwhelming I think :slightly_smiling_face:

[2020-06-02 20:05] evankanderson commented on #2043
@lionelvillard Is this still active?

[2020-06-02 20:37] ahmetb commented on #2497
/assign
yeah it's weird containers[] isn't showing up there. will take a look.

[2020-06-02 20:42] ahmetb commented on #2497
@evankanderson actually, there's not much we can do here.

https://github.com/knative/serving/blob/96b5f3e35596e313bc71445abec18d3ba076b9f1/pkg/apis/serving/v1/revision_types.go#L74-L90 shows that there's  `type RevisionSpec { corev1.PodSpec }` embed.

The field name `containers` comes from Kubernetes `corev1.PodSpec`. In v1alpha1 this was working, because we explicitly had a `Container corev1.Pod

[2020-06-02 20:44] abrennan89 commented on #2007
@mjschmidt is it OK to close this issue? I think it's for an older release.
Let me know if this is still valid.

[2020-06-02 20:47] k33g commented on #2524
@csantanapr @evankanderson I had some issues to run the sample with the latest version last week - I will give it a try again this week

[2020-06-02 20:54] abrennan89 commented on #1376
If this is something that's specific to AWS, should we be documenting it at all? If it's something that needs to be configured to use Knative on a particular platform, it should be in AWS's own docs I would think.
@carieshmarie any thoughts?

[2020-06-02 20:55] lionelvillard commented on #2043
yes

/remove-lifecycle stale

[2020-06-02 20:59] abrennan89 commented on #1678
Closing since we no longer have vendor specific GKE docs.
Please open another issue specific to the macros issue if it's still a problem in current docs.

[2020-06-02 20:59] #1678 closed

[2020-06-02 21:09] ahmetb commented on #1376
It’s not necessarily AWS specific but the way AWS does networking exposes this situation. The feature is supported and allowed in Kubernetes, so there might be other cases where this’ll happen.

[2020-06-02 21:10] abrennan89 commented on #1886
@onsails is this issue still relevant?

TLS is covered now here https://knative.dev/docs/install/any-kubernetes-cluster/#optional-serving-extensions but it's not clear to me what the request is in this issue for docs, so I'm not sure if this covers it?

[2020-06-02 21:26] abrennan89 commented on #2227
@n3wscott @matzew is this issue still relevant?
If so can you please provide details of the specific changes to docs that are required.
Thanks.

[2020-06-02 21:29] abrennan89 commented on #1130
@ZhiminXiang is there any update on instructions for this yet? Do you plan to create them?

[2020-06-02 21:46] abrennan89 commented on #1541
No response so I am closing this issue. Please reach out if there's still a requirement here @n3wscott

[2020-06-02 21:46] #1541 closed

[2020-06-02 21:49] abrennan89 commented on #1050
We're working on this in the WG now as a group. It doesn't make sense really to have an issue tracking this, because it's a huge project with multiple participants, and we will create individual issues for each requirement or user story.
cc @carieshmarie

[2020-06-02 21:49] #1050 closed

[2020-06-02 21:56] abrennan89 commented on #1902
We no longer include documentation for Knative on specific platforms, with the exception of the https://knative.dev/docs/knative-offerings/ page that lists links to vendor docs.
Closing this issue since it relates only to GCP.

[2020-06-02 21:56] #1902 closed

[2020-06-02 22:02] abrennan89 commented on #2497
@ahmetb does this issue belong in the docs repo or is it related to something else? Is there any actual documentation requirement here?

[2020-06-02 22:04] abrennan89 commented on #2073
@nak3 @ahmetb can this issue be closed now?

[2020-06-02 22:06] ahmetb commented on #2497
Since it’s in the website, let’s keep the issue here. It won’t be a docs fix but the fix would go into this repo.

[2020-06-02 22:08] abrennan89 commented on #1446
@evankanderson we can probably close this issue and just revisit this section during the planning session?
I don't know that this issue provides much information about we want to do with this section yet, unless you have some ideas?

[2020-06-02 23:07] onsails commented on #1886
No, lots of things changed since I created the issue.
TLS setup instructions are clear now.

[2020-06-02 23:07] #1886 closed

[2020-06-02 23:58] nak3 commented on #2073
@abrennan89  Sorry for the delay. Yes, we can close this ticket as new istio installation docs (using `istioctl`) https://github.com/knative/docs/pull/2458 is availabel and it should not be confusable anymore.

/close

[2020-06-02 23:58] #2073 closed

[2020-06-03 12:52] abrennan89 commented on #2415
@blorette please provide a link to the page you're referring to, or let me know if it's OK to close this issue.
Thanks.

[2020-06-03 13:16] blorette commented on #2415
@abrennan89

Sorry, thought the report linked it.

Its from:
https://knative.dev/docs/serving/deploying/private-registry/

If I remember correctly, setting up the ability to use a private repo. The 2nd step modifies an existing service account, and then step 3 is sort of just there.

[2020-06-03 14:35] mjschmidt commented on #2007
I haven't tested it yet, but it should be fine, I can open up a new issue if needed or reopen the issue later.

[2020-06-03 14:35] mjschmidt commented on #2007
If fixed, not still valid

[2020-06-03 14:39] #2007 closed

[2020-06-03 14:59] abrennan89 commented on #1880
@macruzbar this seems like it might be related to the work you're doing with our blog infrastructure :slightly_smiling_face: do you want to take this one?

[2020-06-03 15:01] abrennan89 commented on #1875
@macruzbar hope it's OK if I assign this to you :slightly_smiling_face: it's pretty much a duplicate issue for what you're working on with blog templates I think.

[2020-06-03 15:10] abrennan89 commented on #2500
@jcrossley3 @houshengbo can you provide the correct information to resolve this?
Thanks!

[2020-06-03 15:10] mattwelke commented on #2368
Agree that it makes sense to push the responsibility of documenting how to install Knative on various platforms to the platforms themselves, now that there are so many. A blog post sounds like a great way to do it first party though if Knative experts are willing. :+1:

[2020-06-03 15:23] abrennan89 commented on #2484
@vaikas can you provide details about how to use this tool please?

I think upgrade docs in general need to be updated, so maybe we can combine this work
https://knative.dev/docs/install/upgrade-installation/

[2020-06-03 15:33] jcrossley3 commented on #2500
We promoted the operator out of the sandbox, so the correct url for nightlies is now: https://storage.googleapis.com/knative-nightly/operator/latest/operator.yaml

[2020-06-03 15:35] abrennan89 commented on #311
@evankanderson is there still a reason to have this issue open in the docs repo? It's almost 2 years old :scream:
If so, do you know the specific docs changes required?

[2020-06-03 15:39] abrennan89 commented on #2397
Seems to be fixed now, can't reproduce for v0.14 docs.

[2020-06-03 15:39] #2397 closed

[2020-06-03 15:40] abrennan89 commented on #2328
This isn't reproducible in the current version of docs (0.14).

[2020-06-03 15:40] #2328 closed

[2020-06-03 16:00] abrennan89 commented on #2500
Whoops, looks like it's already updated in the latest version :slightly_smiling_face:
https://knative.dev/development/install/knative-with-operators/#install-knative-with-the-knative-operator

[2020-06-03 16:00] #2500 closed

[2020-06-03 16:14] abrennan89 commented on #2199
Docs still mentioning needing Helm for the Istio install: https://knative.dev/docs/install/installing-istio/

Is there a reason why we provide specific Istio docs for Knative, rather than listing it as a prerequisite in our install docs, linking out to the official guide, then just having a "post-install config" type section about configuring it to work?

cc @markusthoemmes @mattmoor any thoughts?