[2021-02-24 19:12] csantanapr opened #3275 "Release of Knative 0.21 for docs/website"
Cut the release of Knative 0.21 for docs/website

The summary of the tasks to do are the following provided by @RichieEscarez

- [x] Update the API docs in Master: https://github.com/knative/docs/blob/master/docs/reference/api/README.md
Example from last release: https://github.com/knative/docs/pull/3141
- [x] Create a new knative/docs branch (the new release): https://github.com/knative/docs/rele

[2021-02-24 19:12] csantanapr commented on #3275
/assign

[2021-02-24 19:30] csantanapr commented on #3275
Example from last release: #3141

PR opened: https://github.com/knative/docs/pull/3276

[2021-02-24 19:44] csantanapr commented on #3275
Example from last release: knative/website#247

PR opened: https://github.com/knative/website/pull/256

[2021-02-24 19:44] csantanapr commented on #3275
cc @RichieEscarez @omerbensaadon

[2021-02-24 21:58] csantanapr commented on #3275
View the 0.21 documentation: https://knative.dev/v0.21-docs/
* [Serving 0.21.x](https://github.com/knative/serving/releases/tag/v0.21.0)
* [Eventing 0.21.x](https://github.com/knative/eventing/releases/tag/v0.21.0)

The process to release is not that difficult. Here are my take aways.

1. Update the API docs in the docs repo, submit PR, get it merge into master https://github.com/knative/docs/pull

[2021-02-24 21:58] #3275 closed

[2021-02-24 22:12] csantanapr opened #3277 "Publish new Knative release v0.21 blog"
Publish new Knative release v0.21 blog

Similar to the previous blogs https://knative.dev/blog/releases/

/assign

[2021-02-24 23:19] RichieEscarez opened #3278 "Docs build health checks and error resolution"
Ensure that there are no surprises on a Knative release day and that there are no merged files in the repo that will block the publishing of a new release.

## What is changing?

Use GitHub Actions to ensure that the knative.dev site build is healthy and block the offending PR that is causing build failures from merging those broken files into the repo.

Currently, all PR automatically get built b

[2021-02-25 14:56] zhanggbj commented on #3277
Hi @csantanapr

Here is the kn-plugin-admin latest release for 0.21.

https://github.com/knative-sandbox/kn-plugin-admin/releases/tag/v0.21.0

[2021-02-25 15:31] xtreme-sameer-vohra commented on #3273
/assign

[2021-02-25 15:53] dsimansk commented on #3277
The other one is `kn-plugin-source-kafka`.

https://github.com/knative-sandbox/kn-plugin-source-kafka/releases/tag/v0.21.0

[2021-02-26 13:51] omerbensaadon commented on #3220
Fixed by #3245 and #3280 !

[2021-02-26 13:51] #3220 closed

[2021-02-26 15:38] omerbensaadon commented on #3273
/assign @snneji

[2021-02-26 15:41] omerbensaadon commented on #3274
/assign @RichardJJG

[2021-02-26 18:35] yanweiguo commented on #3274
/assign

[2021-02-27 05:36] #3277 closed

[2021-02-28 06:13] Xunzhuo opened #3283 ""View/Edit this Page" Button missing README.md"
## Expected Behavior

To edit target pages

## Actual Behavior

404 Not Found

![企业微信截图_20210228141157](https://user-images.githubusercontent.com/48784001/109409585-f1b00280-79ce-11eb-95d4-82dbbee4b61b.png)

## Steps to Reproduce the Problem

1.  separate _index.md to _index.md and README.md

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install informa

[2021-02-28 06:13] Xunzhuo commented on #3283
/assign

[2021-03-01 18:01] lberk commented on #3273
@omerbensaadon there is typically a table in the release notes that could potentially be copied.

The eventing triage group looks over any issue that has the 'needs-eng-input' -- given that it seems you're already well on your way to solving this issue, can we drop the label at this time?

Thanks!

[2021-03-02 12:43] csantanapr opened #3300 "Document how to proper uninstall Knative"
**Describe the change you'd like to see**

Yesterday, I saw someone struggling to uninstall and re-install knative.

The person deleted the knative-serving namespace and then had issues re-installing with webhooks resources left behind and old resources of ksvc could not uninstall after reinstalling

We should document the details and how to properly uninstall

**NOTE:** not super important where

[2021-03-02 13:24] omerbensaadon commented on #3273
@lberk dropped!

And thanks for that tip about release notes...

[2021-03-02 13:29] omerbensaadon commented on #3273
@lberk sorry, where can I find that table in the release notes...? I looked https://github.com/knative/eventing/releases/tag/v0.21.0 and didn't see it

[2021-03-02 13:53] lberk commented on #3273
Thanks!

Its under the `Assets` label and has each file needed as well as the size.

[2021-03-02 13:55] omerbensaadon commented on #3273
@lberk ah yes, I was meaning something more like https://github.com/knative/docs/pull/3296

Is this something one of the folks on the Eventing WG could write up...?

That's sort of why I added the `needs input` label

[2021-03-02 15:08] abrennan89 commented on #1555
@rhuss I'm going to go ahead and manually add CLI docs until we can figure out the automation part - I think it's better than nothing for now? :woman_shrugging: wdyt?

[2021-03-02 16:26] xtreme-sameer-vohra commented on #3273
@lberk I understood the ask as providing a description for the files that are under the `Assets` label as the file name themselves are not sufficient to help folks understand;
- what each file contains (without looking at the contents)
- which files are required/optional
- if the files have dependencies

[2021-03-02 16:31] #3266 closed

[2021-03-03 10:37] rhuss commented on #1555
yes, sure ! thanks ...

[2021-03-03 14:51] omerbensaadon commented on #2960
@RichieEscarez moved this to backlog since looks like you're currently working on it.

It's also in the [EPIC] Clean Up the Cruft as "in progress"

Keep me posted if you want me to split out some of this stuff as separate issues?

[2021-03-03 14:55] omerbensaadon commented on #3273
Please PR this to docs/install/assets/eventing.md!

[2021-03-03 15:10] omerbensaadon opened #3303 "(Split of #1896) Create "custom-install" page"
**Describe the change you'd like to see**
This issues is a child issue to #1896.

**Dependencies:**
This issue is dependent on the work done in #3273 & #3274.

`Files to be created:`
/install/custom-install/

`Existing files to be edited:`
/docs/install/ (add link to /docs/custom-install/)

`Files to remove:`
/docs/install/assets/serving.md
/docs/install/assets/eventing.md

`STORY`
[code]

Install

[2021-03-03 15:56] xtreme-sameer-vohra commented on #3273
Good timing, @snneji  created https://github.com/knative/docs/pull/3304

[2021-03-03 16:14] omerbensaadon commented on #3273
Fantastic! This is coming along nicely.

Let's get some other reviewers on here :)

[2021-03-03 16:54] houshengbo commented on #3300
@csantanapr Suggest them use knative operator. I would rather they mess up the operator.

[2021-03-03 17:51] csantanapr commented on #3300
We need to document clearly proper way to uninstall for both methods of installation we support operator and simple yaml.

We can't force people to only use operator for the open source project.

[2021-03-03 19:13] #3271 closed

[2021-03-03 19:16] abrennan89 commented on #3224
New link provided by @vaikas : https://github.com/knative/eventing/blob/master/pkg/apis/eventing/v1beta1/eventtype_types.go

[2021-03-03 20:23] #3224 closed

[2021-03-03 20:55] pierDipi opened #3309 "Remove links to Go code"
We have some pages that link to Go code (especially Go types).
Most of the time while reading the documentation is not expected to see that a link brings you to a low-level representation of the resource you're learning.
In addition to that, users might not be familiar with Go and they should not think that Go is required for learning or using Knative.

## Expected Behavior

No link to Go code.

#

[2021-03-03 23:47] abrennan89 commented on #3283
As far as I know we're moving away from having READMEs intentionally. Need some clarification on this. Please do not merge any PRs to re-add READMEs until this is clarified.

[2021-03-03 23:50] evankanderson commented on #3283
Oh, is the issue that the "edit this page" link is directing to the README.md rather than `_index.md`?

[2021-03-04 11:48] Xunzhuo commented on #3283
yes the "edit this page" is directing to README.md rather than _index.md. This is what the issue means.

[2021-03-04 15:12] #3274 closed

[2021-03-04 23:18] patelrutva opened #3313 "(help) Could not resolve host: helloworld-go.default.mydomain.com"
## Ask your question here:

I am new to knative. I have installed minikube for cluster support and all the required tools for knative . While creating the service in reference of this: [https://knative.dev/docs/serving/getting-started-knative-app/](url)

I am getting below output:
1) Create service command output as expected):

`kn service create helloworld-go --image gcr.io/knative-samples/hellow

[2021-03-04 23:19] patelrutva commented on #3313
help wanted/

[2021-03-05 21:39] #3273 closed

[2021-03-05 22:23] abrennan89 commented on #3283
We've decided to update the build to stop using the READMEs. It may break in some places temporarily where we have yet to remove these in favor of index, but we'll fix them as we find them. Closing this PR since we should not be re-adding the READMEs.

[2021-03-05 22:23] #3283 closed

[2021-03-05 22:29] abrennan89 commented on #1222
@omerbensaadon is this something the UX WG can look at?
I can't see this ever being implemented by the docs WG in the foreseeable future, we just don't have the resources to facilitate something like this which isn't a priority for us.

[2021-03-05 22:30] #2430 closed

[2021-03-05 22:32] abrennan89 commented on #2995
@nak3 please open this in the website repo instead

[2021-03-05 22:32] #2995 closed

[2021-03-05 22:38] abrennan89 commented on #2751
@lionelvillard can you provide content for this please? I don't know what needs to be documented to close it.

[2021-03-06 02:31] dprotaso commented on #3313
/close

dupe of https://github.com/knative/serving/issues/10897

[2021-03-06 02:32] #3313 closed

[2021-03-06 05:34] RichieEscarez commented on #2960
Made a little progress on this:
![image](https://user-images.githubusercontent.com/11762685/110196585-5d90d180-7dfa-11eb-93f4-ad59f0547009.png)

[2021-03-07 09:57] Yashks1994 commented on #3309
I would link to help with the Open issue.
Would you suggest what files need to be updated?

[2021-03-07 10:51] pierDipi commented on #3309
This is the list, I'd suggest creating a different PR for each file:
[code]

We should link to the documentation page if it exists, if it doesn't we should link to a sample.
If there is no documentation page or sample, let's leave it as it is for now and we can later decide what to do.

[2021-03-08 03:14] yangyunfeng007 opened #3326 "Apache Kafka Source Example(docs/eventing/samples/kafka/source/index.md)"
There are some errors in the example of KafkaSource, the elements in the spec should indent spaces.

![image](https://user-images.githubusercontent.com/17523539/110268969-9b117c80-7ffd-11eb-89eb-beec2f0bc4ff.png)

[2021-03-08 12:10] RichardJJG commented on #3018
/assign

[2021-03-08 14:46] lionelvillard commented on #2751
I will close and reopen when this feature lands.

[2021-03-08 14:46] #2751 closed

[2021-03-09 11:01] RichardJJG commented on #3018
Blocker: https://knative.slack.com/archives/C9CV04DNJ/p1615287550079400

[2021-03-09 11:53] #3326 closed

[2021-03-09 12:50] snneji commented on #3303
/assign

[2021-03-09 17:58] #2942 closed

[2021-03-09 17:58] #3133 closed

[2021-03-10 18:41] snneji opened #3335 "YAML-based installation(development/install/any-kubernetes-cluster.md)"
## Actual Behavior

In the `main` branch:
1. There are visible comments in a few places on the page. These should be hidden.
2. The final step of the installation procedure looks odd (step beginning with "Monitor the Knative components..."). This applies to both Serving and Eventing sections. This step used to be step 5 in the serving/eventing procedures before the procedure was broken up into sub

[2021-03-10 18:44] #3335 closed

[2021-03-10 18:45] snneji opened #3336 "Exposed comments and odd formatting in YAML-based installation"
## Actual Behavior

In the topic [YAML-based installation](https://knative.dev/development/install/any-kubernetes-cluster/) in the `main` branch:
1. There are visible comments in a few places on the page. These should be hidden.
2. The final step of the installation procedure looks odd (step beginning with "Monitor the Knative components..."). This applies to both Serving and Eventing sections. Th

[2021-03-11 09:45] MandarJKulkarni opened #3337 "Debugging issues with your application(docs/serving/debugging-application-issues.md)"
## Expected Behavior
Below 2 links on the [Debugging issues with your application](https://knative.dev/docs/serving/debugging-application-issues/) documentation page are not working.

Check application logs
Check Istio routing

The links are in the [Check revision Status](https://knative.dev/docs/serving/debugging-application-issues/#check-revision-status) section below Check Pod Status sub-sectio

[2021-03-11 12:24] chinmay22897 opened #3338 "Page needs improvement"
## Expected Behavior
Complete info about accessing traces on documentation.
## Actual Behavior
On the Accessing Traces page for Serving looks like the Zipkin and Jaegar access info is incomplete even the command for that is just `kubectl proxy`, please update this part.
## Steps to Reproduce the Problem
link- https://knative.dev/docs/serving/accessing-traces/
## Additional Info

[2021-03-11 12:45] #3338 closed

[2021-03-12 05:06] Yashks1994 commented on #3309
/assign

[2021-03-15 13:50] RichardJJG commented on #3300
/assign

[2021-03-15 14:54] RichardJJG commented on #3300
Blocker: https://knative.slack.com/archives/C9CV04DNJ/p1615820052105600

[2021-03-15 17:07] lberk commented on #3263
@n3wscott would you have a few minutes to look into this one?

[2021-03-15 19:16] abrennan89 opened #3345 "kn cli"

[2021-03-15 19:16] #3345 closed

[2021-03-15 19:21] abrennan89 commented on #3006
This has been updated in the latest version of the docs
https://knative.dev/development/client/install-kn/

[2021-03-15 19:21] #3006 closed

[2021-03-15 19:23] abrennan89 opened #3346 "kn CLI documentation"
I am creating this epic to group all of the miscellaneous kn CLI issues and prevent duplication.

For the v0.22 release, I have added a new CLI Tools section to the docs, however sub-tasks should be added to this epic for each kn command that needs to be documented, _or_ for each page / section that needs to be updated to include kn commands as well as YAML or kubectl.

======

Closing #2435 to tr

[2021-03-15 20:01] #3337 closed

[2021-03-15 20:15] abrennan89 commented on #1461
@xpepermint the link in this issue looks like it just gives a 404 error, can you provide an updated link for the docs you're referring to please?
There are some API docs in the current build of the docs https://knative.dev/development/reference/api/ but I'm not sure if that helps with your issue.

[2021-03-15 20:50] xpepermint commented on #1461
@abrennan89 that's a very old issue. I don't remember what I meant :). Closing ...

[2021-03-15 20:50] #1461 closed

[2021-03-15 20:56] #3336 closed

[2021-03-15 21:01] abrennan89 commented on #1461
Thanks so much @xpepermint !

[2021-03-15 21:06] evankanderson commented on #1574
We don't currently have any testing for disconnected / proxy-required operation of Knative.

This is a reasonable thing to want to do, but we don't currently have working instructions, nor a test environment to keep it working. If someone wants to work on that, the [operations WG](https://github.com/knative/operator) might be a reasonable place to collaborate.

Without a test environment, any dire

[2021-03-15 21:43] grantr commented on #3300
From eng perspective, this can take the form of "these steps must be done in order or uninstall will fail". For example:

1. Delete all CRDs owned by knative (pretty sure we label these). I think as part of this, the k8s apiserver also deletes all instances of each CRD.
2. Delete all MutatingWebhookConfiguration and ValidatingWebhookConfiguration owned by knative (do we label these?)
3. Delete sys

[2021-03-15 22:04] abrennan89 opened #3349 "Update blue/green deployment docs"
This issue is to update the docs about using the blue/green traffic routing pattern.
Existing docs are here: https://knative.dev/development/serving/samples/blue-green-deployment/

Tasks required:

- [x] Move these docs from the obscurity of serving/samples to their own section in the docs under dev guide.
- [ ] Add alternative kn CLI commands as well as cleaning up kubectl/YAML docs.

May require

[2021-03-15 22:11] abrennan89 commented on #2435
Added an issue for blue/green deployment, taking it off the list to track elsewhere: https://github.com/knative/docs/issues/3349

[2021-03-15 22:25] abrennan89 opened #3350 "Clean up event source docs"

[2021-03-15 22:26] abrennan89 opened #3351 "Clean up APIServerSource docs"
Currently, there seem to be two different docs for APIServerSource:
- https://knative.dev/development/eventing/sources/apiserversource/
- https://knative.dev/development/eventing/samples/kubernetes-event-source/

Tasks required:

- [x] We should  combine these into one well written doc with good examples under the event sources section.
- [x] Add alias as required to reroute from old sample doc, c

[2021-03-15 22:30] abrennan89 commented on #2435
Added an issue for APIServerSource docs cleanup, taking it off the list to track elsewhere: https://github.com/knative/docs/issues/3351

[2021-03-15 22:31] abrennan89 opened #3352 "Clean up event registry docs, add kn"
The documentation here could do with a cleanup: https://knative.dev/development/eventing/event-registry/
Anywhere that we can add kn CLI docs as an option here they should be added.

[2021-03-15 22:35] abrennan89 commented on #2435
Added an issue for event registry docs cleanup, taking it off the list to track elsewhere: https://github.com/knative/docs/issues/3352

[2021-03-15 22:36] abrennan89 commented on #2435
Marking the code samples off the list because we need to go through them and figure out what needs to be updated and this should be part of the Epic work for https://github.com/knative/docs/issues/3346

[2021-03-15 22:40] abrennan89 commented on #2435
I have created an Epic to track this issue instead #3346 - closing this issue but have retained the context in the new Epic to make sure it's tracked.
Please add any YAML examples that need kn CLI commands to the new Epic. You may need permissions / zenhub but if you have any trouble please ping me on Slack.

[2021-03-15 22:40] #2435 closed

[2021-03-16 12:17] omerbensaadon commented on #2960
PS: @RichieEscarez I would push that with some //TODOs, doesn't have to be perfect 👍🏼

PS: If you want to work on it solo I would still push and just put //TODO @RichieEscarez

[2021-03-16 12:36] skonto commented on #3140
@evankanderson let's start with some of the above and try to measure them. Assuming we have the metrics in place how can we measure all these based on some reference infra? Should we have a dedicated cluster with some sample app?

[2021-03-16 12:51] omerbensaadon commented on #2942
Sorry @abrennan89 I am just getting used to following up on Github notifications, they were going to an email I never checked for awhile there...

Pardon the ball drop and thanks for picking this back up :)

[2021-03-16 17:43] RichieEscarez commented on #2960
Yes, thats the plan. Thanks Omer! I almost got it to a state to push but I ran out of time (lots of distractions lately from various request combined with lots of merge conflicts and changes within the files im touching). Generally there are updates across knative/docs, knative/website, and knative/community (since duplicate and outdated info exists throughout), so theres a lot of coordination, te

[2021-03-16 23:16] pierDipi commented on #3309
There are some open PRs.
/reopen

[2021-03-17 11:52] omerbensaadon commented on #3303
I believe closing this issue will also close #1896...

CC: @RichieEscarez correct me if I am wrong here?

[2021-03-17 12:13] RichardJJG opened #3355 "Copy clarifying sentence about installing Serving and Eventing components"
Add the "You can install the Serving component, Eventing component, or both on your cluster" sentence from install/_index.md to near the top of the "YAML-based installation" page and the "Knative Operator installation" pages.

A reader might go straight to a specific installation page and then wonder if they need to install both Serving and Eventing components, whether they need both or not.

[2021-03-17 12:16] RichardJJG commented on #3355
/label kind/install

[2021-03-17 16:11] snneji commented on #3355
/assign

[2021-03-17 16:25] snneji commented on #3352
/assign

[2021-03-17 16:27] snneji commented on #3352
/assign

[2021-03-17 18:16] RichieEscarez commented on #3303
Great question!

This is a question of accessibility and enabling those users who are not yet "adv users".

I previously hand crafted this content, which defines what each YAML does / what it's purpose is
 (here is a link from a past version. i randomly pick .10 but its not clear to me when it was deleted from the install guide): https://github.com/knative/docs/blob/release-0.10/docs/install/Knati

[2021-03-17 20:39] #3309 closed

[2021-03-17 20:45] pierDipi commented on #3309
@Yashks1994 Thanks a lot, this was a big one!

[2021-03-17 21:06] #3355 closed

[2021-03-18 12:03] omerbensaadon commented on #3303
@RichieEscarez ok this is helpful context.

@snneji and @RichardJJG have created this table anew (see the "Dependencies" section in the issue above.

Do they have the correct granularity of information? If so, where do you think these tables ought to live in the installation journey to enhance the understanding of what users are functionally installing?

CC: @abrennan89

[2021-03-18 12:29] omerbensaadon opened #3361 "Split the current YAML-based installation into "click through" sub-headings"
**Describe the change you'd like to see**
We ought to split the main "install doc" (page referenced in title) for Knative into sections which necessitate "progressing" along the install path.

This allows us to provide more context per step without overwhelming users and allows users to open Issues/PRs against specific installation steps.

It has the added bonus of allowing us to track where users

[2021-03-18 12:35] omerbensaadon commented on #3361
/kind enhancement

[2021-03-18 12:46] omerbensaadon opened #3362 "Split the current YAML-based installation into "click through" sub-headings for Knative Eventing"
**Describe the change you'd like to see**
We ought to split the main "install doc" (page referenced in title) for Eventing into sections which necessitate "progressing" along the install path.

This allows us to provide more context per step without overwhelming users and allows users to open Issues/PRs against specific installation steps.

It has the added bonus of allowing us to track where user

[2021-03-18 12:46] omerbensaadon commented on #3362
/kind enhancement

[2021-03-18 13:56] abrennan89 opened #3364 "Consolidate docs for creating event sources"
There are multiple docs on how to create event sources in eventing > code samples.
These docs are not very visible for users and could be consolidated better under Eventing IMHO.
- https://knative.dev/docs/eventing/samples/writing-event-source-easy-way/
- https://knative.dev/docs/eventing/samples/writing-event-source/

Tasks to do:
- [ ] Move from code samples to better named topic under eventing

[2021-03-18 20:08] abrennan89 opened #3366 "Clean up PingSource docs for eventing v1.0"

[2021-03-18 21:56] grantr opened #3367 "Diagram in serving docs is a broken link"
On this page https://knative.dev/docs/serving/ the "Diagram that displays how the Serving resources coordinate with each other" is a broken link.

I think the closest correct link is https://github.com/knative/serving/blob/main/docs/spec/images/object_model.png.

[2021-03-18 21:56] grantr commented on #3367
/kind good-first-issue

[2021-03-19 06:27] denny-lclin opened #3368 "Event delivery(docs/eventing/event-delivery.md)"
## Expected Behavior
An example of configuring Broker delivery for Configuring Broker Delivery part

## Actual Behavior
An example of subcription

## Steps to Reproduce the Problem
N/A

## Additional Info
**Additional context**
BTW, regarding to 'Knative Eventing provides various configuration parameters to control the delivery of events in case of failure.' in Overview, is there a more specific d

[2021-03-19 10:35] snneji commented on #3361
@omerbensaadon the YAML-based installation already has sub-headings. I'm not sure what you mean by click through sub-headings - would these all be on one page or does it mean multiple pages?

[2021-03-19 14:13] omerbensaadon commented on #3361
@snneji it would be multiple pages! Let's hop on a quick call and I will put our resolution in this issue.

[2021-03-19 14:59] omerbensaadon commented on #3361
After speaking to @snneji we have come to the following conclusions:

1. This is too many splits! While this would be good for the UX WG to measure the effectiveness of changes to each section, it may negatively impact the user experience (making people click more could introduce unneeded friction)
^^ `Action Item` vv
- [ ] Add this to the Docs WG Agenda. Pitch the idea of separating either Requir

[2021-03-19 15:44] omerbensaadon commented on #2960
@RichieEscarez ok awesome!

@snneji @RichardJJG could be good folks to review this since they are fairly new 🥇

[2021-03-19 18:28] a-peek4 opened #3370 "Welcome to Knative(docs/_index.md)"
Titles are not in Chicago title case - not sure what the style guide says for the Knative docs but changing to chicago style could be a positive change.

"Getting started with app deployment" to "Getting Started with App Deployment"

[2021-03-19 21:50] ominiet opened #3371 "Hello World - Python(docs/serving/samples/hello-world/helloworld-python/index.md)"
## Expected Behavior
Clicking Link to installation instructions to send to installation instruction docs

## Actual Behavior
link navigates to 404 page

## Steps to Reproduce the Problem

1. start on https://knative.dev/docs/serving/samples/hello-world/helloworld-python/index.html#prerequisites
1. click _installation instructions_ link
1. be redirected to https://knative.dev/install/index.html ins

[2021-03-20 11:54] LeonardAukea opened #3372 "Explicitly state prerequisites in istio-authorization document"
Following, the documentation on [istio-authorization](https://github.com/knative/docs/blob/main/docs/serving/istio-authorization.md ) will lead to RBAC issues, unless you explicitly have istio set up with auto mTLS or you set a `PeerAuthentication` in the namespace where your knative service is running. This holds true for Knative serving `0.19` and istio `1.9`. I think it would be helpful to expl

[2021-03-20 16:22] mpetason commented on #3371
Looks like these pages have the same issue:

https://knative.dev/docs/serving/samples/hello-world/helloworld-go/#prerequisites
https://knative.dev/docs/serving/samples/hello-world/helloworld-java-spark/#prerequisites
https://knative.dev/docs/serving/samples/hello-world/helloworld-java-spring/#prerequisites
https://knative.dev/docs/serving/samples/hello-world/helloworld-shell/#prerequisites

[2021-03-20 17:08] mpetason commented on #3234
It looks like this might have been fixed with v0.20 and v0.21. It might be related to the change over from using the index to point to the README file. Now there is only an index and a README file is no longer used.

[2021-03-22 02:28] omerbensaadon opened #3374 "Make "Optional Serving extensions" section collapsable by default (development/install/any-kubernetes-cluster.md)"
## Expected Behavior
I expect the "Optional Serving extensions" section to behave similarly to the "Optional Eventing extensions" section which appears collapsed by default.

## Actual Behavior
The "Optional Serving extensions" appears open with "TLS via HTTP01" selected. It takes up quite a lot of screen real-estate for an optional extension.

## Steps to Reproduce the Problem

1. Go to https://k

[2021-03-22 02:38] omerbensaadon commented on #3374
Part of epic in https://github.com/knative/ux/issues/1

[2021-03-22 15:11] abrennan89 commented on #3234
This is actually fixed in all versions now on the site since Evan did some work for it. We may need to update some other docs to get them moved from README --> index to make sure they all work, but the page specified in this issue works fine now. Closing.

[2021-03-22 15:11] #3234 closed

[2021-03-22 15:16] omerbensaadon commented on #3303
Bump

[2021-03-22 15:23] omerbensaadon opened #3376 "Add YAML description to each of the files under "Installing Serving Component" (development/install/any-kubernetes-cluster.md)"
## Expected Behavior
When a new users comes to the "Installing Serving Component" section of the YAML-based install page, they should be given a brief description for each of the YAML files they are applying, a link out to learn more and an understanding of what impact those YAML files will have on their cluster.

## Actual Behavior
When a new users comes to the "Installing Serving Component" sect

[2021-03-22 15:37] omerbensaadon opened #3377 "Add context as to why users need to add a Networking layer, add a recommendation for prototyping (development/install/any-kubernetes-cluster.md)"
## Expected Behavior
When a new users comes to the "Installing a networking layer" section of the YAML-based install page, they should understand why Knative Serving needs a Networking layer, what it enables them to do and should be instructed to choose the Networking layer they are most familiar with/is already installed in their cluster.

In the event users do not have a Networking layer they ar

[2021-03-22 15:40] omerbensaadon opened #3378 "Add YAML description to each of the files under "Installing Eventing Component" (development/install/any-kubernetes-cluster.md) #3376"
## Expected Behavior
When a new users comes to the "Installing Eventing Component" section of the YAML-based install page, they should be given a brief description for each of the YAML files they are applying, a link out to learn more and an understanding of what impact those YAML files will have on their cluster.

## Actual Behavior
When a new users comes to the "Installing Eventing Component" se

[2021-03-22 17:25] evankanderson commented on #3371
I think this is a bug in the website build script here:

https://github.com/knative/website/blob/main/scripts/processsourcefiles.sh#L146

You can experiment with the website build statically to figure out what's going on: https://github.com/knative/website/blob/main/DEVELOPMENT.md

I might be able to take a look later this week, but we should be moving to `index.md` or `_index.md` files, and away

[2021-03-22 17:41] mpetason commented on #3236
I think this has to do with it being a README file - it's not getting built properly. Other files with artifacts work with .md files instead. Opened a PR to move the readme over to an _index.md file.

[2021-03-22 22:20] #3371 closed

[2021-03-23 12:33] omerbensaadon commented on #3376
/kind good-first-issue

[2021-03-23 12:34] omerbensaadon commented on #3377
/kind good-first-issue

[2021-03-23 12:34] omerbensaadon commented on #3378
/kind good-first-issue

[2021-03-23 16:42] evankanderson commented on #2068
This seems to be something about the `<pre` wrapping the `<code` that introduces an extra 15 pixels (per Developer tools)

<pre style="background-color:#f8f8f8;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-shell" data-lang="shell">kubectl label kservice <span style="color:#4e9a06">${</span><span style="color:#000">KSVC_NAME</span><span style="color:#4e9a06">}</span> networking.kn

[2021-03-23 16:42] RichieEscarez commented on #2068
Not sure what the cause is but the syntax highlighting configuration is here that you might be able to play with and fix/remove the extra line: https://gohugo.io/content-management/syntax-highlighting/

[2021-03-23 17:26] evankanderson commented on #3140
@maximilien

[2021-03-23 18:35] evankanderson commented on #1385
Hi, this would look like https://knative.dev/docs/serving/samples/hello-world/helloworld-java-spring/index.html with the following YAML:

[code]

[2021-03-23 18:36] evankanderson commented on #1385
I'm not sure whether covering these parts of the PodSpec should be in the sample code or in a section on "configuring containers in Knative", but it does seem worthwhile pointing out that there are a lot of settings that Knative inherits from Kubernetes which can be useful.

[2021-03-23 19:19] mpetason commented on #3367
The link is correct, it just isn't getting rendered properly on the website. Works in github - but that's because it actually renders the README file.

/assign

[2021-03-23 21:54] evankanderson commented on #1739
The Serving and Eventing components auto-generate Kubernetes-style client bindings; there is automated `golang` documentation available here:

https://pkg.go.dev/knative.dev/serving/pkg/client/clientset/versioned/typed/serving/v1
https://pkg.go.dev/knative.dev/eventing/pkg/client/clientset/versioned/typed/eventing/v1

The Kubernetes apiserver also serves an OpenAPI document for both serving and ev

[2021-03-23 21:54] evankanderson commented on #1739
/remove-triage needs-eng-input

[2021-03-23 21:55] evankanderson commented on #1574
/remove-triage needs-eng-input

[2021-03-23 21:59] evankanderson commented on #2085
This is currently only available in code, AFAIK.

The code [is here](https://github.com/knative/serving/blob/main/pkg/apis/serving/k8s_validation.go#L281) (`ValidatePodSpec`), but I don't think there's an easy way to go from that code to any sort of documentation. If this is still a high priority, it will probably require some amount of pairing, plus some type of tracking checking for items gettin

[2021-03-23 22:00] evankanderson commented on #2085
/remove-triage needs-eng-input

[2021-03-23 22:00] evankanderson commented on #2108
This should probably be in some very introductory (first 2-3 pages of the site) content that both HTTP and HTTPS are supported, and that Knative has tools to help with HTTPS setup if you want that and are internet-connected with a DNS name.

[2021-03-23 22:01] evankanderson commented on #2108
/assign

/remove-triage needs-eng-input

[2021-03-23 22:01] evankanderson commented on #1385
/remove-triage nedes-eng-input

[2021-03-23 22:02] evankanderson commented on #3018
I see this tagged as `/triage needs-eng-input`, but it's not clear what engineering answers are needed. If someone wants to summarize those (or `/remove-triage needs-eng-input`), I'd be happy to take a swing.

[2021-03-23 22:06] evankanderson commented on #3117
There are two references to Istio; one in the first paragraph and one in the first set of bullets. I might try rewriting this as:

[code]

[2021-03-23 22:07] evankanderson commented on #3117
/remove-triage needs-eng-input

[2021-03-23 22:07] evankanderson commented on #3140
/assign @maximilien

[2021-03-23 22:07] evankanderson commented on #3140
/remove-triage needs-eng-input

[2021-03-23 22:13] evankanderson commented on #3349
Here's a CLI command to split traffic:

[code]

To assign 80% of traffic to green and 20% to blue revisions of the "example" Service. Note that the actual Revision names will probably be more like "example-green" and "example-blue" -- you'll probably want to use the user-selected revision name option in the YAML/the `--revision-name` flag to `kn service` create and update commands.

/remove-triage

[2021-03-23 22:14] evankanderson commented on #1385
/remove-triage needs-eng-input

[2021-03-24 00:36] duglin commented on #2085
Not sure about its relative priority but as it stands today, only reading the docs I'm not sure someone can figure out which podSpec fields are supported - and I think that's an important concern.

[2021-03-24 01:26] nak3 commented on #3117
Yes, @evankanderson 's fix above looks good to me.

[2021-03-24 01:39] xtreme-sameer-vohra commented on #3117
👍 thats simple and straightforward as well.
The [Serving Install Page](https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-serving-component) refers to it as picking a `networking layer`. I'll defer to @nak3 & @evankanderson  as to which is better `HTTP proxy` or `Networking Layer`, but it would be awesome to keep the language consistent.

[2021-03-24 17:58] #3303 closed

[2021-03-24 20:11] snneji commented on #3361
/assign

[2021-03-24 20:12] snneji commented on #3362
/assign

[2021-03-24 20:13] omerbensaadon commented on #3361
@snneji I haven't gotten around to updating this issue yet, but I think we are on the same page so feel free to start work :)

Pre-Req > Serving > Eventing > Optional

For this story, I would just focus on splitting out Pre-Req > Serving + Optional > Eventing + Optional

[2021-03-24 20:21] snneji commented on #3361
@omerbensaadon Since we agreed in the docs WG that we would split this topic into 4 parts, do we need to also have #3362? Would it be possible to repurpose this issue to do all the splitting work here and delete the other issue?

[2021-03-24 20:24] omerbensaadon commented on #3361
If that works better for you, absolutely. I'll close that issue now and expand this one!

[2021-03-24 20:24] omerbensaadon commented on #3362
consolidating this issue into a larger issue upon @snneji's request

[2021-03-24 20:24] #3362 closed

[2021-03-24 20:25] omerbensaadon commented on #3361
OK, we are totally aligned and I think you'll be the only one working this for the time-being. I will expand this story to capture our discussion from the Docs WG 👍🏼

[2021-03-24 21:19] snneji commented on #3377
@omerbensaadon should this and #3378 wait until the installing topic has been split (ie #3361 has been closed)? I'll be creating new pages for the split. The information added here might need to be on one of the new pages.

[2021-03-24 21:22] omerbensaadon commented on #3377
You could work these in either order, but I don't feel they block each other.

If there were more folks working this, we'd have to think a bit harder, but since it looks like it's just you (thank you) I'd say work either!

My preference would be split first then context, only because you could do the split without ENG input :)

[2021-03-24 22:43] #3374 closed

[2021-03-25 13:04] omerbensaadon commented on #3361
@snneji take a look 👍🏼

[2021-03-25 20:39] benmoss commented on #3236
Yep, this is the problem

[2021-03-25 22:52] #3236 closed

[2021-03-27 17:04] #3367 closed

[2021-03-29 13:08] omerbensaadon commented on #1896
@RichieEscarez I think this is done?

[2021-03-30 12:52] snneji commented on #3370
/close

[2021-03-30 12:52] #3370 closed

[2021-03-30 12:53] snneji commented on #3377
/assign

[2021-03-30 15:36] snneji commented on #3376
/assign

[2021-03-30 17:00] sbawaska opened #3402 "Katacoda: configure the minikube to use a local domain name"
**Describe the change you'd like to see**
In the katacoda tutorials being discussed in #3142, rather than using the minikube IP, it would better to use a local domain name such as `http://demo.default.127.0.0.1.nip.io`. see comment here: https://github.com/knative/docs/pull/3142#discussion_r598965848

[2021-03-30 17:06] sbawaska opened #3403 "Katacoda: eventing broker tutorial improvement"
**Describe the change you'd like to see**
Change the order of consumers in the eventing broker tutorial

**Additional context**
For the katacoda tutorial discussed in #3142, consider changing the order of consumers to have one trigger on consumer1 and two triggers on consumer2. https://github.com/knative/docs/pull/3142#discussion_r599195722

[2021-03-30 21:09] #3364 closed

[2021-03-31 20:27] benmoss opened #3405 "Serving API links are broken"
The links on https://knative.dev/docs/serving/ to Service, Route, Configuration and Revision are broken.

They are linking to URLs like https://knative.dev/blob/master/docs/serving/spec/knative-api-specification-1.0#service instead of https://knative.dev/docs/serving/spec/knative-api-specification-1.0#service

As a side-note, the 404 page that is shown when you follow those also is lacking CSS.

[2021-03-31 20:58] evankanderson commented on #3405
Oof, these got moved to https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md, but it would be nice to extract the high-level descriptions and get them back on the website.

/assign @tayarani

/good-first-issue

[2021-04-01 14:52] #3361 closed

[2021-04-01 15:27] tayarani commented on #3405
@evankanderson would it be bad if they links pointed to the specs repo? Instead of duplicating parts of the docs in serving.

[2021-04-01 15:46] csantanapr opened #3407 "CLI install instruction page is broken on main/pre-release"
Visit https://knative.dev/development/install/
Then click on Knative CLI Install https://knative.dev/development/install/install-kn
Page is broken
![image](https://user-images.githubusercontent.com/1094878/113319908-eeff4080-92df-11eb-8865-18b1ad28e3a8.png)

[2021-04-01 15:47] csantanapr commented on #3407
/assign @rhuss

[2021-04-01 15:47] csantanapr commented on #3407
cc @knative/client-wg-leads

[2021-04-02 20:37] ominiet opened #3412 "Knative Eventing Sugar Controller(docs/eventing/sugar/_index.md)"
## Expected Behavior

While viewing https://knative.dev/docs/eventing/sugar/#installing

I expect to see a valid shell snippet for applying the eventing sugar controller resource

## Actual Behavior

What I see is the following snippet instead:

[code]

[2021-04-05 17:42] #3407 closed

[2021-04-05 19:43] grantr commented on #3412
Duplicate of #3236

#3379 fixes this, and #3417 will backport it to the current release docs.

[2021-04-05 19:43] #3412 closed

[2021-04-05 20:48] abrennan89 commented on #2636
@omerbensaadon probably another consideration for any new website stuff

[2021-04-05 20:56] abrennan89 commented on #3078
@omerbensaadon might be a good one to look at from a UX perspective.
I'm not sure why the files are referenced this way, it feels like adding docs to explain what each yaml is/does would be good, as well as maybe just including the yaml in the docs directly, or properly explaining where to find them in a repo.

[2021-04-05 21:09] omerbensaadon commented on #3078
Agreed, this is certainly worth exploring, feels like an "Icebox" item for now, especially if Channels take a backseat to Brokers in our Eventing "Getting Started" documentation

[2021-04-06 03:06] omerbensaadon commented on #3366
@abrennan89 I am trying to write an issue to move this content:
https://docs.google.com/document/d/1V_6Cjqbt0khUhewXnT_3_Hc2L0RDFThy4lHo8z-sEQ8/edit#heading=h.rq419k3cyw2t
into the PingSource example as apart of https://github.com/knative/ux/issues/21.

If @RichardJJG took a stab at this and moved the content we have above into this page (docs/eventing/samples/ping-source/index.md) would that sati

[2021-04-06 03:10] omerbensaadon commented on #3366
@RichardJJG I made this a child issue of https://github.com/knative/ux/issues/21.

The portion of the document you've been editing under the subheading [When this happens do that (1:1 event delivery)
](https://docs.google.com/document/d/1V_6Cjqbt0khUhewXnT_3_Hc2L0RDFThy4lHo8z-sEQ8/edit#heading=h.rq419k3cyw2t) is an example found with much less detail and polish in [PingSource Example](https://knat

[2021-04-06 03:16] omerbensaadon opened #3425 "Improve Channels(docs/eventing/channels/_index.md) documentation with work from Eventing Walkthrough"
This page currently shows an extremely high-level explanation of what Channels are, it would be great to shift over writing done under the subheading [What happens when there are multiple Consumers?(1:N event delivery)](https://docs.google.com/document/d/1V_6Cjqbt0khUhewXnT_3_Hc2L0RDFThy4lHo8z-sEQ8/edit#heading=h.szyb21ccv8hs) to improve this documentation.

[2021-04-06 03:17] omerbensaadon commented on #3425
Supports https://github.com/knative/eventing/issues/4911

Child issue of https://github.com/knative/ux/issues/21

[2021-04-07 12:59] zhaojizhuang opened #3428 "Delete RPS Target in page (docs/serving/autoscaling/autoscaling-targets.md)"
## Expected Behavior
Since we have RPS Target in page https://knative.dev/docs/serving/autoscaling/rps-target/

Maybe we should delete RPS Target in page https://knative.dev/docs/serving/autoscaling/autoscaling-targets/

![image](https://user-images.githubusercontent.com/3124692/113869980-ecbb4b80-97e3-11eb-8f47-8ca741ea7bec.png)

[2021-04-07 13:00] zhaojizhuang commented on #3428
/kind feature

[2021-04-07 15:38] n3wscott opened #3431 "Document Duck Types at a high level"
We need to explain the concept in the docs at a high level to make eventing docs make sense.

/assign

[2021-04-07 19:33] evankanderson commented on #3405
(sorry for the delay, got caught up in release/automation work)

[2021-04-07 20:09] omerbensaadon opened #3436 "Release Knative 0.22"
Cut the release of Knative 0.22 for docs/website

The summary of the tasks to do are the following:

- [x] Update the API docs in Master: https://github.com/knative/docs/blob/master/docs/reference/api/README.md
Ex: https://github.com/knative/website/pull/247
- [x] Create a new knative/docs branch (the new release): https://github.com/knative/docs/releases
See: https://github.com/knative/docs/tree/

[2021-04-08 01:50] RichieEscarez commented on #2960
Version sent for review (a lot of the "website" section have Todo's):
![image](https://user-images.githubusercontent.com/11762685/113956251-0d7aa580-97d2-11eb-9c0d-e52c92b081fc.png)

[2021-04-08 11:47] #3436 closed

[2021-04-08 14:52] howardjohn opened #3442 "Simplify Installing Istio for Knative (docs/install/installing-istio.md)"
## Expected Behavior
Installation is as simple as possible

## Actual Behavior

Install has a few redundant steps, and some that do nothing

[code]

^ is 100% equivalent to what is offered and a bit simpler.

I would further recommend removing the autoInject=disabled and jwtPolicy.

Istio injection is already opt in by namespace label, so I think it adds complexity to explicitly disable it. Additi

[2021-04-08 15:39] nak3 commented on #3442
Thank you!
We probably should update manifest in net-istio's repo as well.
e.g.
https://github.com/knative-sandbox/net-istio/blob/main/third_party/istio-stable/istio-minimal.yaml
https://github.com/knative-sandbox/net-istio/blob/main/third_party/istio-stable/istio-ci-no-mesh.yaml

[2021-04-09 01:39] zhaojizhuang commented on #3428
cc @markusthoemmes

[2021-04-09 12:30] omerbensaadon commented on #3246
Ooo, neat!

We certainly need to find a way to...

1) show people what vendors exist in the Knative ecosystem (both extending Knative and leveraging Knative)
2) have this shown in a place that incentivizes people put their offerings in it
3) create a scalable way to "merge" offerings into a page like this

[2021-04-09 12:46] snneji opened #3444 "Improve the Verify the installation sections"
On both the Serving and Eventing YAML installation topics, improve the "Verify the Installation" section by adding example output for the `kubectl get pods` command.

Topic Links:
- [Installing Knative Serving using YAML files](https://knative.dev/development/install/install-serving-with-yaml/#verify-the-installation)
- [Installing Knative Eventing using YAML files](https://knative.dev/development

[2021-04-09 12:47] #3444 closed

[2021-04-09 12:48] snneji opened #3445 "Improve the Verify the installation sections"
On both the Serving and Eventing YAML installation topics, improve the "Verify the Installation" section by adding example output for the `kubectl get pods` command.

Topic Links:
- [Installing Knative Serving using YAML files](https://knative.dev/development/install/install-serving-with-yaml/#verify-the-installation)
- [Installing Knative Eventing using YAML files](https://knative.dev/development

[2021-04-09 12:59] snneji opened #3446 "Reorganize the Prerequisites topic"
In the [Prerequisites](https://knative.dev/development/install/prerequisites/) topic, it seems weird to have system reqs and then prereqs as two separate sections. Reorganize these sections to be more logical. One option is to combine as one section, maybe one as a sub-heading of the other.

[2021-04-09 13:45] snneji opened #3447 "Improve style in Installing optional extensions"
Using the recommendations in the [Google style guide](https://developers.google.com/style), fix style issues in [Installing optional extensions](https://knative.dev/development/install/install-extensions/).

Fix the following:
- Improve link text and cross referencing
- Correct capitalization
- If there is procedural content, make sure it has steps (if there is more than one step)
- Where necessar

[2021-04-09 13:51] snneji commented on #3447
/good-first-issue

[2021-04-09 13:53] snneji commented on #3446
/good-first-issue

[2021-04-09 13:59] snneji opened #3448 "Improve style in Installing Knative Eventing using YAML files"
Using the recommendations in the [Google style guide](https://developers.google.com/style), fix style issues in [Installing Knative Eventing using YAML files](https://knative.dev/development/install/install-eventing-with-yaml/).

Fix the following:
- Improve link text and cross referencing
- Correct capitalization
- If there is procedural content, make sure it has steps (if there is more than one

[2021-04-09 14:00] snneji commented on #3448
/good first issue

[2021-04-09 14:01] snneji opened #3449 "Improve style in Installing Knative Serving using YAML files"
Using the recommendations in the [Google style guide](https://developers.google.com/style), fix style issues in [Installing Knative Serving using YAML files](https://knative.dev/development/install/install-serving-with-yaml/).

Fix the following:
- Improve link text and cross referencing
- Correct capitalization
- If there is procedural content, make sure it has steps (if there is more than one st

[2021-04-09 14:02] snneji commented on #3449
/good-first-issue

[2021-04-09 14:02] snneji commented on #3448
/good-first-issue

[2021-04-09 14:02] snneji commented on #3449
/good-first-issue

[2021-04-09 14:03] snneji commented on #3448
/good-first-issue

[2021-04-09 14:31] omerbensaadon commented on #3446
/kind good-first-issue

[2021-04-09 14:34] omerbensaadon commented on #3376
Closed as part of https://github.com/knative/docs/pull/3411

[2021-04-09 14:34] #3376 closed

[2021-04-09 14:34] snneji commented on #3447
/kind good-first-issue

[2021-04-09 14:36] snneji commented on #3447
/remove-good-first-issue
/remove-help

[2021-04-09 14:38] snneji commented on #3446
/remove-good-first-issue
/remove-help

[2021-04-09 14:38] snneji commented on #3448
/remove-good-first-issue
/remove-help
/kind good-first-issue

[2021-04-09 14:39] snneji commented on #3449
/remove-good-first-issue
/remove-help
/kind good-first-issue

[2021-04-09 15:11] snneji commented on #3018
@omerbensaadon, I think this has been done so we can close this issue, right?

[2021-04-09 15:14] snneji commented on #3378
@omerbensaadon, I think this was done in your PR #3411 so we can close this issue, right?

[2021-04-09 16:06] omerbensaadon commented on #3378
Yup!

[2021-04-09 16:07] #3378 closed

[2021-04-09 16:07] omerbensaadon commented on #3018
I'd defer to @abrennan89 ?

[2021-04-12 14:00] #3018 closed

[2021-04-12 14:31] abrennan89 opened #3451 "Follow up comments from PR #3434"
**Describe the change you'd like to see**
https://github.com/knative/docs/pull/3434 needs some follow up after merging to fix the doc structure and improve the content so that it's easier to understand.

[2021-04-12 17:18] #3431 closed

[2021-04-12 21:27] abrennan89 commented on #3081
@xtreme-sameer-vohra for issue #1, what is the actual requested docs change? Can you provide a link to the page please?

[2021-04-12 21:30] abrennan89 commented on #3081
Note: https://knative.dev/docs/eventing/samples/kafka/source/ should be moved to be a subsection of https://knative.dev/docs/eventing/sources/

[2021-04-12 21:56] #3102 closed

[2021-04-12 21:56] #3123 closed

[2021-04-12 21:57] abrennan89 commented on #3134
@knative/eventing-wg-leads can someone provide a new image for this or should we remove it maybe?

[2021-04-13 13:19] #3428 closed

[2021-04-13 15:08] vaikas commented on #3134
@skonto might you be able to update this or provide guidance given all your work here as of late?

[2021-04-13 17:02] xtreme-sameer-vohra commented on #3081
Hey @abrennan89
Looks like you already found it but just in case the link for issue #1 is [here](https://knative.dev/docs/eventing/samples/kafka/source/#apache-kafka-topic-optional)

[2021-04-13 17:04] xtreme-sameer-vohra commented on #3081
In terms of the docs change, the actual output when running `$ kubectl -n kafka get kafkatopics.kafka.strimzi.io` doesn't match what is on the website. I added the actual output I observed to the issue description, that could be used to update the website

[2021-04-13 17:14] abrennan89 commented on #3081
I didn't mean issue #1 in this repo 😄 I meant in the description of this issue: **Issue 1: Verify output for Kafka Topic**

[2021-04-13 17:22] #3377 closed

[2021-04-13 19:46] abrennan89 commented on #3081
Related Slack thread requiring other updates to this doc section, probably worth doing both as an overhaul together: https://knative.slack.com/archives/C9CV04DNJ/p1618339815199000

[2021-04-13 20:34] #2068 closed

[2021-04-14 18:43] #3351 closed

[2021-04-14 20:12] pierDipi commented on #2934
@omerbensaadon any updates?

[2021-04-14 20:22] abrennan89 commented on #1376
This issue has been open for ~2 years and the fix to add "make sure you have a working installation of Knative" to every sample seems very trivial / not worth spending docs resources on to me atm, since it should be assumed that a working Knative is required to use the samples IMO.

@omerbensaadon has been working on standardizing prerequisites in docs, and I have been working on cleaning up sampl

[2021-04-14 20:22] #1376 closed

[2021-04-15 08:00] skonto commented on #2934
@pierDipi @omerbensaadon We can create a proposal for the app to get started. I already have one.

[2021-04-15 08:30] pierDipi commented on #2934
Cool, go ahead then.

[2021-04-15 11:36] csantanapr commented on #2934
This is great a sample app(s) to explain Knative concepts is something I have being wanted to have Knative for a while.

Is great to have some helping hands on this now.

Would you like to write a proposal and present to the UX WG?

Someone from VMware that @omerbensaadon brought in is also working on an app. We should combine ideas and efforts.

[2021-04-15 13:08] omerbensaadon commented on #2934
sorry folks, let this one slip.

@skonto would love to see a proposal!

After you write the proposal, we can see where the work we have been doing with the Tanzu Developer's Center could fit together?

Moving this issue to the UX Repo...

[2021-04-15 13:08] #2934 closed

[2021-04-15 13:08] omerbensaadon commented on #2934
Issue moved to [knative/ux #33](https://github.com/knative/ux/issues/33) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-15 13:20] skonto commented on #2934
Cool! I am working on it next week will have something for review, I recently developed a [small one](https://github.com/skonto/serverless-zero-demo-app) (not polished) and spent some time thinking about it anyway.

[2021-04-15 13:21] omerbensaadon commented on #2934
Responded to this in https://github.com/knative/ux/issues/33

[2021-04-15 14:27] rhuss opened #3461 "Add documentation for the revision garbage collector"
## What is changing? (Please include as many details as possible.)

Currently, there is no comprehensive user-facing documentation for describing the _revision garbage colletor_, i.e. the way how unused revisions are removed and which parameters are used to configure the garbage collector.

## How will this impact our users?

This will help the admin persona to configure the revision garbage colle

[2021-04-15 17:01] pmbanugo opened #3462 "Setting up a custom domain per Service"
**Describe the change you'd like to see**
I want to easily reference how to set up a custom domain per service in Knative. I found this [page](https://knative.dev/docs/serving/using-a-custom-domain-per-service/) with some info but what I was looking for was on a different [page](https://knative.dev/docs/serving/creating-domain-mappings/) with a title that I think should also be `Setting up a custo

[2021-04-15 18:52] omerbensaadon commented on #3268
@evankanderson some of this is covered in the Eventing Getting Started prototype, but the rest of the tutorial stuff probably needs to be post 1.0

[2021-04-15 18:56] omerbensaadon commented on #3425
/assign @RichardJJG

[2021-04-15 19:29] omerbensaadon opened #3463 "Improving / reorg of broker docs"
Creating an issue to track the work in knative/docs#3427

Part of the epic https://github.com/knative/docs/issues/3268 and covers:

[2021-04-15 23:01] #978 closed

[2021-04-15 23:25] omerbensaadon opened #3464 "Link to Broker Specs from Broker docs(docs/eventing/broker/_index.md)"
Link: https://github.com/knative/specs/blob/main/specs/eventing/broker.md

See: https://github.com/knative/eventing/issues/4910#issuecomment-820799779

[2021-04-16 11:32] nak3 commented on #3462
So there are three options:

A. Merge [1] and [2] into one page.
B. Keep them as separate pages but change the titles and add link each other.
C. Remove [1] and have only [2].

[1]: Custom domain by annotation    - https://knative.dev/docs/serving/using-a-custom-domain-per-service/
[2]: Custom domain by DomainMapping - https://knative.dev/docs/serving/creating-domain-mappings/

[2021-04-16 11:34] nak3 commented on #3462
I am prefer to C. because I assumed that [1] is not official docs as it mentioned `There is currently no official process to set up a custom domain per Service. The topic is being discussed here.` in the page.

[2021-04-16 11:36] nak3 commented on #3462
/cc @knative/technical-oversight-committee @julz

[2021-04-16 11:42] julz commented on #3462
yeah @nak3 I agree: I think 1 was an interesting hack that was worth documenting when it was the best option, but isnt something we should have as the main suggested way now that theres a top level feature about to move to beta that works properly with tls and arbitrary addressables etc. So I'd vote for C also; if we really really want a reference to the other trick we can put it in a collapsible

[2021-04-16 13:40] RichardJJG commented on #3366
/assign @snneji  for review

[2021-04-16 14:22] abrennan89 commented on #3366
@RichardJJG can you link the pull request to this issue please?

[2021-04-16 14:53] RichardJJG commented on #3366
Oh, sorry, that's confusing, bear with...

[2021-04-16 15:40] pmbanugo commented on #3462
I will go for *C* with a note at the end referencing `[1]` as an alternative but not recommended.

[2021-04-16 16:53] #3464 closed

[2021-04-19 09:24] skonto commented on #1792
@devguyio I am working on a PR to add the currently exposed Serving, Eventing metrics in docs. I can be assigned this.

[2021-04-19 09:25] devguyio commented on #1792
Thanks!
/assign @skonto

[2021-04-19 11:21] RichardJJG commented on #3366
After a lot of head-scratching and Googling I resorted to: https://github.com/knative/docs/pull/3476

(I couldn't push my feature branch to GitHub for the life of me so I just created a PR through the GitHub UI directly. Inelegant, but at least my proposed changes are here now...)

[2021-04-19 14:13] abrennan89 opened #3477 "Create documentation templates for new topics"
**Describe the change you'd like to see**

We should provide docs templates for
- new topics in the nav (template dir)
- 3 main types of content; procedures, conceptual and reference

**Additional context**
Hopefully having copy/paste/edit templates for docs will make it easier for eng and others to contribute to docs since it takes some of the guess work out of formatting and how to add new topic

[2021-04-20 02:14] #3442 closed

[2021-04-20 03:46] zhaojizhuang opened #4420 "We need to add another way to configure credentials for private image registry"
/kind doc

## Expected Behavior

Besides `default service account` , we should add another way to configure credentials  for private image registry in doc,
see
- https://github.com/knative/serving/issues/5866
- https://github.com/knative/serving/blob/e4c7848e2e347b8ee4dc66eb8272a280b270e5cd/vendor/k8s.io/api/core/v1/types.go#L3043

add to this page https://knative.dev/docs/serving/deploying/privat

[2021-04-20 16:43] omerbensaadon opened #3481 "Broken link on Installing Knative(development/install/_index.md)"
For whatever reason, the prerequisite.md doesn't render out ".md" in the development site so that link goes to a broken link even though it is correctly referenced in the docs repo

[2021-04-20 17:23] evankanderson commented on #3481
It turns out the content there looks like:

[code]

Which suggests we should just trim off the `.md` from that one link. I thought that Hugo did that for us, but I think Hugo wants `{{<ref ...>}}` and `{{<relref ...>}}`, which seems to miss the point of Markdown, TBH.

[2021-04-20 18:28] #3481 closed

[2021-04-20 20:07] abrennan89 commented on #3463
CLI stuff will be part of #3483 but I think it's overkill to track with this issue since I've already got Scott's issue assigned to me now https://github.com/knative/eventing/issues/4910

[2021-04-20 20:07] #3463 closed

[2021-04-21 03:17] hongshaoyang opened #3484 "Knative Serving(docs/serving/_index.md)"
Broken link:

<img width="836" alt="Screenshot 2021-04-21 at 11 15 38 AM" src="https://user-images.githubusercontent.com/19281800/115491684-ff795a00-a292-11eb-9eac-3597e80dde7a.png">

[Automatic scaling up and down to zero](https://knative.dev/docs/serving/autoscaling/README.md) links to a 404 not found.

[2021-04-21 04:56] csantanapr opened #3485 "Blog post for Knative release v0.22"
Blog post for Knative release v0.22

Add post to https://knative.dev/blog/releases/

[2021-04-21 04:56] csantanapr commented on #3485
/assign

[2021-04-21 09:14] skonto commented on #3134
I could update the docs there for sure. I have an example image from a [related discussion](https://knative.slack.com/files/U014N1H8JG7/F01RZ6F55C6/image.png) on Slack.

[2021-04-21 17:20] #3484 closed

[2021-04-21 18:04] #1792 closed

[2021-04-21 18:54] abrennan89 opened #3488 "[1.0] Fully document brokers.eventing.knative.dev"
@n3wscott commented on [Mon Feb 22 2021](https://github.com/knative/eventing/issues/4910)

Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for brokers.eventing.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [x] Sample minimum of component
- [x] Sample complete resource of component
- [ ] Fully documented features a

[2021-04-21 18:57] abrennan89 commented on #3488
@n3wscott moved the issue so I can tick things off 😄
Attached PR needs a review (I have some minor changes to make from our Slack convo earlier), and otherwise the only things I think left to address are;
- the demo thing, idk what you need for this?
- any extra status stuff, labels or annotations I've left out

[2021-04-21 21:13] omerbensaadon commented on #3488
:O

@abrennan89 we should totally do this as we pick things up and start work on them!! A stellar move

[2021-04-21 21:54] vaikas opened #3489 "eventing-contrib tools (event-display, appender for example) are moving to eventing"
## What is changing? (Please include as many details as possible.)
These tools:
https://github.com/knative/eventing-contrib/tree/main/cmd

Are moving to:
https://github.com/knative/eventing/tree/main/cmd

Many of our existing docs refer to these tools so we need to update the examples.

## How will this impact our users?
All existing examples will continue to work because the images are still in t

[2021-04-21 22:06] n3wscott opened #3490 "Add the RabbitMQ Broker to Broker Impl list"
We should add the RabbitMQ Broker to this as a follow-up.

_Originally posted by @n3wscott in https://github.com/knative/docs/pull/3483#discussion_r617918848_

cc @vaikas @n3wscott

[2021-04-21 22:22] #3488 closed

[2021-04-21 22:24] abrennan89 commented on #3488
@n3wscott feel free to reopen this if there's stuff that wasn't covered by the last PR

[2021-04-21 22:32] abrennan89 commented on #1192
@omerbensaadon do you want to take a crack at this one or add it for in the DUX group?

[2021-04-22 13:30] abrennan89 commented on #1739
Closing per Evan's comments.

[2021-04-22 13:30] #1739 closed

[2021-04-22 14:48] omerbensaadon commented on #1192
I'll throw this on the DUX agenda 👍🏼

[2021-04-23 03:05] csantanapr opened #3496 "document Client CLI kn domain"
The new version of the `kn` CLI container a new command `domain`

The info is included in the release notes but it should properly be documented in the website

It was suggested by @abrennan89 to open an issue in the PR for the release notes blod [here](https://github.com/knative/docs/pull/3486#discussion_r617561269)

/assign @rhuss

[2021-04-23 09:22] rhuss commented on #3496
Is this something I could actively drive or is it more about delivering input for the documentation and the docs creation happens by somebody else ?

Happy to do either, if I know where to put this documentation to.

[2021-04-23 14:06] #3485 closed

[2021-04-23 19:12] #3246 closed

[2021-04-23 19:12] abrennan89 commented on #3246
Issue moved to [knative/ux #35](https://github.com/knative/ux/issues/35) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-23 20:22] evankanderson commented on #3462
@pmbanugo

If you're working on this item, you can type `/assign`, and Prow will mark you as assigned so no one else works on it.

[2021-04-23 21:47] pmbanugo commented on #3462
/assign

[2021-04-26 15:19] pmbanugo commented on #3405
Just adding to this because the links captured in the screenshot below also have failing links, and the 404 page looks like there are no styles for the page and everything is in disarray.

<img width="731" alt="Screenshot 2021-04-26 at 17 17 19" src="https://user-images.githubusercontent.com/4036118/116107671-85423e80-a6b3-11eb-952f-15d2d8635db5.png">

[2021-04-26 16:58] vaikas commented on #3111
@antoineco is this something that you might be able to take a look at?

[2021-04-26 17:03] vaikas commented on #3044
@n3wscott @vaikas we'll talk about this tmw in the dux/channel meeting.

[2021-04-26 17:07] vaikas commented on #2105
We also need to vet all the places where a user can reply and then put a link to examples on how to reply. We might be able to leverage cloudevents sdk, but maybe the examples in all the languages are not complete.

[2021-04-26 17:16] antoineco commented on #3111
I'm not even sure whether this was ever properly tested, so I would be careful documenting it 🙂 @pianohacker do you have any experience using that?

For the context, @mattmoor requested that every (?) source has a corresponding "binding" some time ago. The goal was not to allow multiple sources to reference the same credentials (we can already do that with Kubernetes Secrets), but rather to let th

[2021-04-26 20:53] RichieEscarez commented on #2668
https://knative.dev/help/contributor/publishing/

[2021-04-26 20:53] #2668 closed

[2021-04-26 21:00] RichieEscarez commented on #1032
https://knative.dev/help/contributor/gettingstarted/

[2021-04-26 21:00] #1032 closed

[2021-04-26 21:03] RichieEscarez commented on #1917
Two items remain:

- [ ] Nested shortcodes are NOT supported - results in mixed content (.md + HTML) in the markdown that gets processed to HTML (so code (ie HTML or Markdown) is rendered (not just text)) (today, this is mentioned only here https://github.com/knative/website/blob/main/layouts/shortcodes/readfile.md)
- [ ]  How Prow chooses reviewers: https://github.com/kubernetes/test-infra/tree/m

[2021-04-26 21:04] ellenevans opened #3499 "Staging and publishing Knative documentation(help/contributor/publishing.md)"
## Expected Behavior

## Actual Behavior

"The page and any elements like widgets, titles, and links, work and renders correctly."
Wrong verb number in either "work" or "renders".  I go with plural subject, so "render".

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IK

[2021-04-26 21:06] RichieEscarez commented on #2960
Status: A lot of the website info, both publishing and maintainer instructions have been left in draft state given that the team has proposed to replace Hugo and Docsy website build tools

[2021-04-26 21:11] ellenevans opened #3500 "Adding new documentation(help/contributor/new-docs/_index.md)"
## Expected Behavior

## Actual Behavior
Broken link
Submit your contribution to GitHub
If you are not familiar with GitHub, see our [[working with GitHub guide]] to learn how to submit documentation changes.

The link currently points to a .md file, not the served html.

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem

[2021-04-27 12:20] JiyeYu opened #3501 "Event display pod automatically terminating after 70 seconds from built"
We are trying following example. But we got stuck.
https://knative.dev/docs/eventing/samples/kafka/source/

## Expected Behavior

[code]
$ kubectl get pod
NAME                                                              READY   STATUS        RESTARTS   AGE
event-display-00001-deployment-6b68d8888d-k48j6                   0/2     Terminating   0          2m8s
kafkasource-kafka-source-458b347a-12d9

[2021-04-27 12:38] #3501 closed

[2021-04-27 15:00] omerbensaadon commented on #1222
@SataQiu would you be willing to be the primary maintainer for this? Around 7% of our website visitors are coming from China so this makes sense, it's just something that would require a ton of overhead to maintain.

[2021-04-27 15:04] #1222 closed

[2021-04-27 15:04] abrennan89 commented on #1222
Issue moved to [knative/ux #36](https://github.com/knative/ux/issues/36) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-27 16:50] abrennan89 commented on #3477
re # 288 PR in the website we may need to update the link for the docs templates later if we add multiple templates for new pages

[2021-04-27 19:37] #3489 closed

[2021-04-28 13:14] abrennan89 opened #3507 "[1.0] Fully document pingsources.sources.knative.dev"
@n3wscott commented on [Mon Feb 22 2021](https://github.com/knative/eventing/issues/4916)

Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for pingsources.sources.knative.dev to be ready for 1.0:
- [x] Getting Started demo using the component.
- [x] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented feature

[2021-04-28 13:15] abrennan89 opened #3508 "[1.0] Fully document channels.messaging.knative.dev"
@n3wscott commented on [Mon Feb 22 2021](https://github.com/knative/eventing/issues/4911)

Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for channels.messaging.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented features

[2021-04-28 14:57] abrennan89 commented on #1923
Note to self: Conceptual info re producers / consumers in this PR can be added: https://github.com/knative/docs/pull/3476

[2021-04-28 15:01] abrennan89 opened #3510 "[1.0] Fully document sinkbindings.sources.knative.dev"
@n3wscott commented on [Mon Feb 22 2021](https://github.com/knative/eventing/issues/4918)

Related to https://github.com/knative/docs/issues/3268
The following work needs to be validated for sinkbindings.sources.knative.dev to be ready for 1.0:
- [ ] Getting Started demo using the component.
- [ ] Sample minimum of component
- [ ] Sample complete resource of component
- [ ] Fully documented featur

[2021-04-28 22:13] #3462 closed

[2021-04-29 09:11] Morriz opened #3512 "dead link"
On https://knative.dev/docs/install/upgrade-installation/ there is a link to the operator upgrade instructions, which does not exist: https://knative.dev/docs/install/upgrade-installation-with-operator.md

[2021-04-29 10:00] RobinsChens opened #3513 "Prerequisites(docs/install/prerequisites.md)"
## Expected Behavior

it doesn't work

## Actual Behavior

![image](https://user-images.githubusercontent.com/11987492/116533873-73130b00-a914-11eb-8cec-f6ce66040885.png)

## Steps to Reproduce the Problem
![image](https://user-images.githubusercontent.com/11987492/116533984-950c8d80-a914-11eb-8467-7b1fc2555d54.png)

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about t

[2021-04-30 23:36] #3512 closed

[2021-05-03 14:12] abrennan89 commented on #3405
@tayarani any update on this issue?

[2021-05-03 15:33] abrennan89 commented on #1555
There is now a CLI topic in the main navigation: https://knative.dev/development/client/
We can add docs for specific `kn` commands as we go, I am going to close this issue in favor of opening smaller issues for adding specific CLI docs, since with an issue this general its hard to know when we can call it complete.

Thanks for raising @maximilien and please feel free to add additional `kn` CLI do

[2021-05-03 15:33] #1555 closed

[2021-05-03 15:34] abrennan89 commented on #1555
Epic for additional CLI tasks: https://github.com/knative/docs/issues/3346

[2021-05-03 15:57] #3168 closed

[2021-05-03 15:59] abrennan89 commented on #2105
@vaikas happy to help with this if there's a list or some spec info somewhere about which resources can have replies specified?

[2021-05-03 16:01] abrennan89 commented on #3368
Hi @denny-lclin
I made some updates to the broker docs for the upcoming v0.23 version: https://knative.dev/development/eventing/broker/broker-event-delivery/
Please let me know if this covers your issue or if you feel that there's more to do before we close this issue. Thanks!

[2021-05-03 16:05] abrennan89 commented on #3112
Issue moved to [knative/ux #38](https://github.com/knative/ux/issues/38) via [**ZenHub**](https://www.zenhub.com/)

[2021-05-03 16:05] #3112 closed

[2021-05-03 16:11] abrennan89 opened #3520 "[EPIC] Docs infrastructure work"
## Expected Behavior

- [ ]  Anyone from the docs team should be able to quickly and easily build and release the latest version of the docs
- [x] There should be documentation templates and guidelines for adding new sections of content and/or pages to the docs, as well as an overall information architecture that can be updated to show where new doc sections will live
- [ ] Docs tasks are automate

[2021-05-03 16:14] #3300 closed

[2021-05-03 16:24] markusthoemmes commented on #2085
For whatever that's worth: We now also have this as part of the openAPI schema of the Revision (and Service and Configuration). Maybe we can generate something from that?

[2021-05-03 16:29] abrennan89 commented on #1574
/close
Closing based on @evankanderson 's comment. Please feel free to reopen if this info ever becomes available / an owner is found, otherwise this issue is 2+ years old and can't actually be solved by docs alone.

[2021-05-03 16:29] #1574 closed

[2021-05-03 16:39] #3366 closed

[2021-05-03 17:11] abrennan89 opened #3522 "Remove duplicate upgrading page"
The "Upgrading your installation with Knative operator(docs/install/upgrade-installation-with-operator.md)" page is a duplicate to the updated https://knative.dev/docs/upgrade/upgrade-installation-with-operator/ page and can be deleted

[2021-05-03 17:35] dprotaso commented on #3513
the logs you posted aren't for the component that's crash looping - can you capture logs for the `autoscaler `deployment

[2021-05-03 18:11] RichieEscarez commented on #3500
This needs to go in https://github.com/knative/website/pull/288

[2021-05-03 18:32] evankanderson opened #3523 "Use OpenAPI docs to generate reference docs"
## Expected Behavior

https://knative.dev/docs/reference/api/ are based on the exported OpenAPI definitions:

* https://github.com/knative/serving/blob/main/config/core/300-resources/service.yaml (et al)
* https://github.com/knative/eventing/blob/main/config/core/resources/broker.yaml (et al)

These should be able to be filtered by API group, so only non-internal APIs are documented. Kubernetes ha

[2021-05-03 20:40] Vafilor opened #3524 "Use pre-existing gateway instead of knative-ingress-gateway (istio)"
**Describe the change you'd like to see**

Additional doc to describe how to use a pre-existing gateway instead of the `knative-ingress-gateway` when using istio.

I wanted to use a pre-existing gateway instead of the default `knative-ingress-gateway`, because the existing gateway already had TLS set up.

I couldn't find a clear way to do this in the documentation. I tried modifying `knative-ingre

[2021-05-03 20:52] #2821 closed

[2021-05-03 21:29] abrennan89 opened #3525 "Create Administration guide"
## Expected Behavior

There should be a Knative administration guide for cluster administrator tasks.

## Actual Behavior

Tasks are scattered across different Knative topics. There's no central place to go to look for docs on how to set up Knative on a cluster so that it's usable for developers.

## Additional Info

Information architecture (tentative, accepting feedback): https://miro.com/app/bo

[2021-05-04 05:31] su-hyunieee opened #3527 "How-to guides for contributing to Knative documentation(help/_index.md)"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Version:

[2021-05-04 05:31] #3527 closed

[2021-05-04 12:35] joshuawilson opened #3528 "Broker(docs/eventing/broker/_index.md) old PingSource"
## Expected Behavior
Creating a PingSource to work.

## Actual Behavior
PingSource does not have a Sink.

## Steps to Reproduce the Problem

1. Run each example on the page.
1. Check the PingSource for a Sink.
1.

## Additional Info
**Additional context**
The PingSource is using `sources.knative.dev/v1beta2` and has fields that do not exist on the latest.

**Install information:**
 - Platform (GKE

[2021-05-04 17:15] #3500 closed

[2021-05-04 22:42] abrennan89 commented on #2810
Note to self: Related to https://github.com/knative/ux/issues/39

[2021-05-04 22:43] abrennan89 commented on #3346
Note to self: Related to https://github.com/knative/ux/issues/39

[2021-05-04 22:43] abrennan89 commented on #1923
Note to self: Related to https://github.com/knative/ux/issues/39

[2021-05-04 22:44] abrennan89 commented on #3349
Note to self: Related to https://github.com/knative/ux/issues/39

[2021-05-04 22:44] abrennan89 commented on #3496
Note to self: Related to https://github.com/knative/ux/issues/39

[2021-05-04 22:46] abrennan89 commented on #3350
Note to self: Related to https://github.com/knative/ux/issues/39

[2021-05-04 22:48] #2636 closed

[2021-05-04 22:48] abrennan89 commented on #2636
Issue moved to [knative/ux #40](https://github.com/knative/ux/issues/40) via [**ZenHub**](https://www.zenhub.com/)

[2021-05-05 17:22] RichieEscarez commented on #2960
Closing this given that the team has started planning the migration to different site tooling: https://docs.google.com/document/d/1434cyG3bUvjOLD8KtT7Flc96460QpS5PFnCtbpAa5pM/edit#heading=h.n8a530nnrb

All "website" related internal "how-to" documentation will need to change and be updated with the new tooling information.

[2021-05-05 17:22] #2960 closed

[2021-05-05 20:59] abrennan89 opened #3534 "[EPIC] Document kn plugins"
Plugins

- [x] #5062
- [x] #5063
- [x] #5064
- [ ] #5065
- [x] #5066
- [ ] #5067

[2021-05-05 21:03] abrennan89 commented on #3534
Note to self: Related to knative/ux#39

[2021-05-06 15:07] omerbensaadon commented on #170
Started here: https://docs.google.com/spreadsheets/d/1p1_kBUd6ZvonxHkMcEJPayf6QIpExuFf5cFq0ptar7I/edit#gid=0

[2021-05-06 15:43] omerbensaadon opened #3537 "Sanity-check Install-related content"
## Description:
We want to make sure the install-related content which lives in the Alpha site (https://github.com/knative/docs/tree/mkdocs) meets a sanity-check.

In the new site, these install instructions will be for administrators  _specifically_, which is why the story is written from an admin's perspective. (See: #3525 and PR #3526)

---

## Story
[code]

## Acceptance Criteria
`Navigation`

[2021-05-06 18:50] omerbensaadon opened #3538 "Create an Alpha Contributor's Guide for Material for MkDocs"
See above

[2021-05-06 18:50] omerbensaadon commented on #3538
Done!

https://docs.google.com/document/d/1LG5MWDWvVcVNzmxSqn3AG4MWtdhib6Ydp_bOZ1qrxNc/edit

[2021-05-06 18:50] #3538 closed

[2021-05-06 22:00] Morriz commented on #3512
This is a poor solution imo as I can't find information to the operator upgrade instructions at all ;(

[2021-05-06 22:08] evankanderson commented on #3405
These links don't seem to be broken anymore, though they jump through an interstitial page we should probably remove at some point.

/close

[2021-05-06 22:08] #3405 closed

[2021-05-07 12:34] omerbensaadon opened #3539 "Ensure the Knative Blog is hosted in the old Hugo format"
## Description:
Since we want to limit the scope of our work in this first release of the MkDocs site, we have opted to keep our Blog in the existing Hugo template and wire it together with the MkDocs prototype.

See: https://knative.dev/blog/

---
## Story
[code]

## Acceptance Criteria
`Blog Tab Present`
[code]

`MkDocs -> Hugo`
[code]

`Hugo -> MkDocs`
[code]

## Known Issues and Considerations

[2021-05-07 12:47] omerbensaadon opened #3540 "Ensure blog posts can be posted to the new site"
## Description:
Since we want to limit the scope of our work in this first release of the MkDocs site, we have opted to keep our Blog in the existing Hugo template and wire it together with the MkDocs prototype.

See: https://knative.dev/blog/

For the current process, see: https://github.com/knative/docs/blob/3af9db6781370363e333bd00d0043d407f3d8142/help/contributor/new-blog/_index.md

---
## Sto

[2021-05-07 12:54] omerbensaadon opened #3541 "Ensure the Knative Community tab is hosted in the old Hugo format"
## Description:
Since we want to limit the scope of our work in this first release of the MkDocs site, we have opted to keep our Community tab in the existing Hugo template and wire it together with the MkDocs prototype.

See: https://knative.dev/blog/

---
## Story
[code]

## Acceptance Criteria
`Community Tab Present`
[code]

`MkDocs -> Hugo`
[code]

`Hugo -> MkDocs`
[code]

## Known Issues and

[2021-05-07 13:24] omerbensaadon opened #3542 "Set up GH Pages for `mkdocs` branch in the docs repository"
## Description:
We want to host the `mkdocs` branch in /docs/ on GH Pages so we can automatically build new changes made to the branch.

---
## Story
[code]

## Acceptance Criteria
`I have a link`
[code]

`New commit on the mkdocs branch`
[code]

## Known Issues and Considerations:

[2021-05-07 18:23] sdhoward opened #3724 "$PORT variable usage"
/area networking

## Ask your question here:

Is there a doc that clearly describes the use of the PORT environment variable? There's an [old issue](https://github.com/knative/serving/issues/2258#issue-371622171) and a [spec](https://github.com/knative/specs/blob/main/specs/serving/runtime-contract.md#network-environment) that mention it, but neither makes it clear which side should be setting it

[2021-05-07 19:17] xtreme-sameer-vohra opened #3543 "Knative Serving(docs/serving/_index.md)"
## Expected Behavior
Clicking [More Samples Link](https://knative.dev/docs/serving/#more-samples-and-demos) here works

## Actual Behavior
Its throws a 404

## Steps to Reproduce the Problem

1. Visit link above
1. Click the More Samples Link

[2021-05-08 07:37] nak3 commented on #3543
This is same issue with https://github.com/knative/docs/pull/3487.
As `README.md` was changed to `index.md`, we need to remove `README.md`.

Not only samples link, but also all `README.md` link grep-ed by:
[code]
need to be updated.

cc @evankanderson

[2021-05-10 12:58] abrennan89 commented on #3512
@Morriz this was fixed in #3515 - Operator upgrade docs are here: https://knative.dev/docs/upgrade/upgrade-installation-with-operator/

[2021-05-10 13:03] omerbensaadon opened #3546 "[EPIC] MkDocs Migration"
## Context

This Epic will house the logistics required to combine all of the necessary work to migrate Knative from Hugo to MkDocs.

## How will we know when this Epic is finished?
This Epic will be finished when the Docs Writers and the UX WG members are working on the same branch and that branch is an MkDocs version of the Knative site.

## Prototype

<img width="1020" alt="Screen Shot 2021-05-

[2021-05-10 13:04] omerbensaadon opened #3547 "Initial migration from julz/docs/mkdocs to knative/docs/mkdocs"
## Description:
A story for the initial content cutover to docs/mkdocs. Blocks all other stories in this Milestone.

---
## Story
[code]

## Acceptance Criteria
`Branch is up-to-date`
[code]

`Branch effectively replaces shortcodes`
[code]

`Branch removes _index.md files`
[code]

## Known Issues and Considerations:
- Shortcode Documentation: https://github.com/knative/website/tree/main/layouts/sh

[2021-05-10 13:06] abrennan89 commented on #170
I don't really think this is a glossary; it's just for the style guide and doesn't actually contain descriptions of what the words are / mean

[2021-05-10 13:43] omerbensaadon commented on #170
Ah, I stand corrected, could be a good place to source words from though!

[2021-05-10 15:10] julz commented on #3547
/assign

[2021-05-11 01:57] gabo1208 opened #3548 "Fixed header on user scroll"
## Expected Behavior
Header should be fixed top on page scrolling by the user

## Actual Behavior
The header dissapear after scrolling

## Steps to Reproduce the Problem

1.Scroll

[2021-05-11 01:57] gabo1208 commented on #3548
/assign @gabo1208

[2021-05-11 02:49] gabo1208 opened #3549 "Add basic instructions on how to start to serve the website to the README"
## Expected Behavior
Add basic instructions on how to start to serve the website to the README

## Actual Behavior
No instructions in the readme file

## Steps to Reproduce the Problem

1. Go to the readme file

[2021-05-11 02:49] gabo1208 commented on #3549
/assign @gabo1208

[2021-05-11 13:14] gabo1208 commented on #3548
/kind mkdocs

[2021-05-11 14:16] #3547 closed

[2021-05-11 22:00] csantanapr commented on #3542
/assign @csantanapr

[2021-05-12 11:55] omerbensaadon commented on #3537
/assign

[2021-05-12 13:50] omerbensaadon commented on #3540
I think this is fixed in #3558 since it leverages the existing site repo

[2021-05-12 13:51] omerbensaadon opened #3559 "Document process for previewing MkDocs + Hugo Locally in Alpha Contrib guide"
Surfaced in #3558

[2021-05-12 13:51] omerbensaadon commented on #3559
/assign

[2021-05-12 14:45] draksler opened #3560 "incorrect issuer name in the guide for Enabling automatic TLS certificate provisioning"
## Expected Behavior
Configuring knative as described in [this](https://knative.dev/docs/serving/using-auto-tls/) guide, using the HTTP-01 challenge, should lead to automatic certificate provisioning.

## Actual Behavior
It doesn't.

## Steps to Reproduce the Problem
Follow the [guide](https://knative.dev/docs/serving/using-auto-tls/) - HTTP-01 challenge mode.

## Additional Info
Looking through t

[2021-05-12 15:24] gabo1208 commented on #3549
/kind mkdocs

[2021-05-12 15:26] gabo1208 opened #3561 "Fixed navigation menu nav links color"
## Expected Behavior
- Navigation nav links should be visible to the user

## Actual Behavior
- Nav links are invisible except for the active one

## Steps to Reproduce the Problem

1. Go to a mobile resolution
2. Open the top nav menu

[2021-05-12 15:27] gabo1208 commented on #3561
/assign @gabo1208
/kind mkdocs

[2021-05-12 16:05] lenalebt opened #3562 "How to do extended ingress routing with "httpProtocol: Redirected" setting?"
**Describe the change you'd like to see**
I am referring to the documentation in https://knative.dev/docs/serving/samples/knative-routing-go/index.html.

I currently have KNative set up together with cert-manager for automatic certificate provisioning (using the `autoTLS` feature). I would also like to use `"httpProtocol": "Redirected"` to forward all http traffic to https on the istio-ingressgate

[2021-05-12 18:23] omerbensaadon opened #3565 "Enable knobots on `mkdocs` branch"
## Description:

---
## Story
[code]

## Acceptance Criteria
`Submitting a PR`
[code]

## Known Issues and Considerations:

[2021-05-12 18:23] omerbensaadon commented on #3565
@evankanderson could use your help on this!

[2021-05-12 20:02] abrennan89 commented on #3543
@nak3 Added a PR to fix this and some of the others, but there are lots so it'll probably all be fixed over time, not as one issue.

[2021-05-12 20:09] abrennan89 opened #3568 "Fix broken links"
**From @nak3** comment on https://github.com/knative/docs/issues/3543

As README.md was changed to index.md, we need to remove README.md.

Not only samples link, but also all README.md link grep-ed by:

$ grep -rH "\/README.md)" | grep -v https

need to be updated.

cc @evankanderson

[2021-05-12 20:50] n3wscott commented on #3263
@snneji is working on rewriting the entire section, so hold tight

[2021-05-12 21:27] #3368 closed

[2021-05-12 21:34] omerbensaadon commented on #3539
Closed by #3558

[2021-05-12 21:34] #3539 closed

[2021-05-12 21:34] omerbensaadon commented on #3540
Closed by #3558

[2021-05-12 21:34] #3540 closed

[2021-05-12 21:34] omerbensaadon commented on #3541
Closed by #3558

[2021-05-12 21:34] #3541 closed

[2021-05-12 22:39] #3522 closed

[2021-05-12 23:29] csantanapr commented on #3565
I asked in productivity channel in Slack for help on this

[2021-05-13 00:36] nak3 commented on #3543
Thank you!

[2021-05-13 08:51] skonto commented on #3140
The related feature track doc is [here](https://docs.google.com/document/d/1stV8Cdts9c5MMGQ7cQmTxrpw49YZbCoBvgHT482Whl8/edit?usp=sharing).
Operations WG is working on some similar stuff, after the doc is reviewed we need to discuss how to validate SLIs/SLOs.

[2021-05-13 12:00] omerbensaadon commented on #3548
Thank you for opening issues against this PR!

[2021-05-13 12:29] omerbensaadon commented on #3542
Closed by #3557! See it live here: https://knative.github.io/docs/docs/

[2021-05-13 12:29] #3542 closed

[2021-05-13 12:35] omerbensaadon commented on #3561
Fixed by #3571

[2021-05-13 12:35] omerbensaadon commented on #3548
Fixed by #3571

[2021-05-13 12:35] #3548 closed

[2021-05-13 13:00] omerbensaadon opened #3573 "De-Risk hosting multiple versions of the Knative website"
## Description:
This is a story for de-risking multiple versions using MkDocs. **This story only requires that the previous versions build, not that they must be constantly up-to-date based on cherrypicked PRs to the respective `release-{version}` branches.**

That functionality will be covered in a different story.

---
## Story
[code]

## Acceptance Criteria
✅ `Version Dropdown`
[code]

⚙️ `Mult

[2021-05-13 13:00] omerbensaadon commented on #3573
/assign @julz

[2021-05-13 13:08] omerbensaadon commented on #3559
/kind mkdocs

[2021-05-13 16:55] #3543 closed

[2021-05-13 17:29] draksler commented on #3560
or potentially if it is prefered to keep the specific name, the correct one could be referenced in the configmap

[2021-05-14 00:54] nak3 commented on #3560
Yes, agree. The doc created `letsencrypt-http01-issuer` ClusterIssure in https://knative.dev/docs/serving/using-auto-tls/#clusterissuer-for-http-01-challenge, so we probably want to use `letsencrypt-http01-issuer`.

I think we can just remove the following snippet example from the doc.

[code]

[2021-05-14 00:56] nak3 commented on #3560
/kind networking

[2021-05-14 09:11] yangyunfeng007 opened #3577 "Channel types and defaults(docs/eventing/channels/channel-types-defaults.md)"
This [Configuring the Eventing Operator custom resource](https://knative.dev/docs/eventing/channels/docs/install/configuring-eventing-cr/) link returns 404.

![image](https://user-images.githubusercontent.com/17523539/118248879-5e6b7100-b4d7-11eb-85cd-42444cd2b846.png)

[2021-05-14 13:43] RichardJJG commented on #3449
/assign

[2021-05-14 18:28] #3117 closed

[2021-05-15 14:10] NovaHe commented on #3568
/assign
I am willing to do it

[2021-05-15 15:03] NovaHe commented on #3577
/assign

[2021-05-16 05:21] nak3 commented on #3562
Hi @lenalebt IIUC, the problem could be solved if we could set `"httpProtocol": "Enabled"` to the specific internal services (e.g. login-service and search-service in the picture) while keep global setting `"httpProtocol": "Redirected"`. Is that correct?
If correct, we are trying to introduce an annotation to set the option for each services by https://github.com/knative/networking/issues/301 and

[2021-05-17 12:14] markusthoemmes commented on #3565
To be clear: This isn't about knobots (which are doing repo external things like cross-repo updates) but rather the in-repo checks that run per PR? If so, you can update those in https://github.com/knative-sandbox/.github

[2021-05-17 12:29] omerbensaadon commented on #3565
@markusthoemmes we have found this as well, what file specifically do we edit to ensure the branch "mkdocs" in /docs/ gets a check?

[2021-05-17 12:31] csantanapr commented on #3565
Thanks @markusthoemmes
Yes this issue is about updating the github actions centrally.

The problem is there are two repos named ".github" and is not clear which is the source of truth the one Knative-sandbox or Knative org

It looks like your saying Knative-sandbox

[2021-05-17 12:33] markusthoemmes commented on #3565
FWIW, the mkdocs branch (AFAIK) doesn't get any propagations automatically you could also just update the actions on the branch for the same effect.

[2021-05-17 13:05] csantanapr commented on #3565
/close
with PR #3582

[2021-05-17 13:05] #3565 closed

[2021-05-17 14:26] matzew opened #3583 "Describe SASL option for KafkaSource"
**Describe the change you'd like to see**

I do not see any SASL related documentation in the kafka source docs:
https://knative.dev/development/developer/eventing/sources/kafka-source/

However, the Source does support SASL in various ways, and it should be documented.

Some comments on the relevant bits are in here:
https://github.com/knative-sandbox/eventing-kafka/pull/237#issuecomment-73472187

[2021-05-17 18:09] lenalebt commented on #3562
Hey @nak3 yes, that is correct. More specifically, for my use-case it would be sufficient to be able to set `"httpProtocol": "Enabled"` for internal services (annotated with `networking.knative.dev/visibility: cluster-local`) while keeping it `"httpProtocol": "Redirected"` globally - in theory. That is what I'd love to have in the end, but I guess I need to keep those specific services globally av

[2021-05-17 23:48] csantanapr commented on #3573
This is being deploy now on https://beta-knative.netlify.app/v0.22-docs/

I think we can do this with {baseurl} to return back to https://beta-knative.netlify.app/docs

[2021-05-18 02:16] nak3 commented on #3562
Oh, you want to set the the internal service to `cluster-local`. Then, it can be solved by just configuration change.
You can update `docs/serving/samples/knative-routing-go/routing.yaml` like this:

[code]

When setting `httpProtocol: Redirected`, knative adds `httpsRedirect: true` in `knative-ingress-gateway` Gateway in `knative-serving` namespace but it does not add it in `knative-local-gateway

[2021-05-18 07:41] lenalebt commented on #3562
That indeed works!

I'll prepare a PR with updated docs later on today. Thank you very much for your help!

[2021-05-18 12:34] yiqinguo opened #3598 "How to compile knative source code"
How to compile knative source code？

[2021-05-18 14:24] #3560 closed

[2021-05-18 14:42] omerbensaadon commented on #3573
I see a thin black bar on the top of our (Pre-Release) version,  just noting it here.

[2021-05-18 14:42] #3573 closed

[2021-05-18 14:52] abrennan89 commented on #3507
@n3wscott is there anything still missing from https://knative.dev/docs/eventing/sources/pingsource/ now from this list?
Can you provide details for anything else that needs to be added please?

[2021-05-18 14:52] omerbensaadon commented on #3559
Done https://docs.google.com/document/d/1LG5MWDWvVcVNzmxSqn3AG4MWtdhib6Ydp_bOZ1qrxNc/edit#heading=h.qo84my2iav6g

[2021-05-18 14:52] #3559 closed

[2021-05-18 14:54] #3537 closed

[2021-05-18 15:04] NovaHe commented on #3598
Generally, there is a `DEVELOPMENT.md` in the project root directory, which will be explained in detail.
e.g.  [knative/serving](https://github.com/knative/serving/blob/main/DEVELOPMENT.md)

[2021-05-18 15:24] julz commented on #3573
I think you probably still have an old version of extra.css in your browser cache, this is the new bit that hides that: https://github.com/knative/docs/blob/mkdocs/docs/stylesheets/extra.css#L47-L51

[2021-05-18 16:01] #3568 closed

[2021-05-19 11:24] omerbensaadon opened #3604 "Transfer WIP PRs from main -> mkDocs"

[2021-05-19 11:25] omerbensaadon opened #3605 "Switch default branch to `mkdocs` from `main`"
Switch the default branch in the docs repository from mkdocs to main

[2021-05-19 11:29] omerbensaadon opened #3606 "Update current contributor's guide to reflect MkDocs changes"
Basically, everything under https://knative.dev/help/

[2021-05-19 11:32] omerbensaadon opened #3607 "Pull in new changes from `main` to `mkdocs`"
Any changes which have occurred between the last time we did a migration to now should be moved over.

[2021-05-19 11:43] omerbensaadon commented on #3607
/kind mkdocs
/assign

[2021-05-19 14:56] julz opened #3612 "Previous release docs should be updated to release branches with sslip.io default domain"
Related to #3574, which updated the text in docs.

For releases before 0.23 (which already includes this fix) we should update the release branches in website/ to point at the latest patch releases of serving, to pick up the cherry-picks of the fixed default-domain job from https://github.com/knative/serving/pull/11298.

[2021-05-19 15:34] omerbensaadon commented on #3606
/assign

[2021-05-19 15:34] omerbensaadon opened #3613 "Upload a Beta contributor's guide in MkDocs formatting"

[2021-05-19 15:45] omerbensaadon opened #3614 "Create a new `/snippets` directory for content reuse"
docs/snippets will be the new home of content that is often re-used

[2021-05-19 17:48] #3607 closed

[2021-05-19 17:48] #3613 closed

[2021-05-19 17:48] #3614 closed

[2021-05-19 17:53] omerbensaadon opened #3617 "Ensure "Pre-Release" on Knative.dev points to `mkdocs` branch"

[2021-05-19 18:28] csantanapr opened #3618 "Release knative v0.23 for docs/website"
The current process can be summarize in the following:

- [x] Wait for dependent repos to release (today thats /serving and /eventing)
- [x] Generate the API specification and merge via PR into `main` branch #3619
- [x] Create the new relase branch on the `docs` repository https://knative.dev/help/maintainer/docs-release-process/#create-branch-from-updated-main
- [x] Update the `website` repositor

[2021-05-19 18:30] csantanapr commented on #3618
Both serving and eventing are released for v0.23
https://github.com/knative/serving/releases/tag/v0.23.0
https://github.com/knative/eventing/releases/tag/v0.23.0

Now API reference docs can be generated

[2021-05-19 19:05] #3562 closed

[2021-05-19 19:52] omerbensaadon opened #3622 "Make Netlify PR previews point to /development/"
Currently, the Netlicy bot brings you to the PR-built website, but it throws you to /docs/ (which is just the latest release) but, in fact, the changes I as a contributor am looking for are on /development/

See #3601 for example, the changes @abrennan89 has made are on /development/ but the link brings me to /docs/

[2021-05-19 20:29] csantanapr commented on #3618
Waiting on @RichieEscarez when he has a chance to review https://github.com/knative/website/pull/304 for staging builds.
But website is out v0.23

[2021-05-19 20:30] omerbensaadon opened #3623 "Configure beta.knative.dev to work instead of https://beta-knative.netlify.app/"

[2021-05-19 20:30] omerbensaadon commented on #3623
/assign @carlo

[2021-05-19 20:31] omerbensaadon commented on #3623
/assign @csantanapr

[2021-05-19 20:35] csantanapr opened #3624 "Blog post for Knative release v0.23"
Blog post for Knative release v0.23

Add post to https://knative.dev/blog/releases/

[2021-05-19 20:36] csantanapr commented on #3624
Waiting on release notes for the individual components to be available

- [ ] Serving
- [ ] Eventing
- [ ] Cli
- [ ] Operator

[2021-05-19 21:27] csantanapr commented on #3623
After a very extensive scientific discussion between @RichieEscarez, @csantanapr, and @julz on what color to pain the shed we decided that the best option to make progress is to leave the website using the hostname `dev-knative.netlify.app` for now and when we are ready then make the netlify change to point to the docs repo to move the mkdocs to knative.dev

TLDR; Will use https://dev-knative.netl

[2021-05-19 21:27] #3623 closed

[2021-05-19 21:35] csantanapr commented on #3617
I think what this means is make the pre-release drop down in the version in the current hugo knative.dev site redirect folks to the dev-knative.netlify.app site.

@julz can you help with this ^^

[2021-05-19 21:47] julz commented on #3617
I guess we could hard-code the URL in the href `if eq .version $preReleaseLabel` [here](https://github.com/knative/website/blob/39b28522b71121fade15595fd8a379eb3153c8f2/layouts/partials/navbar-version-selector.html#L44) to the new URL? But swapping back won't work unless we _also_ modify the mkdocs version of the dropdown which may be confusing 🤔

[2021-05-19 21:50] julz commented on #3617
actually I wonder if changing the url [in params.toml](https://github.com/knative/website/blob/main/config/production/params.toml#L86) would work (but we still have the problem of going the other way, from the new site back to the old)

[2021-05-19 22:18] #3525 closed

[2021-05-19 22:28] #3622 closed

[2021-05-20 01:47] csantanapr commented on #3617
I think we do it with netlify redirects both ways

[2021-05-20 03:24] csantanapr commented on #3617
I propose we try with redirects between the 2 sites with netlify redirects in netlify.toml on both repos
| knative.dev  | dev-knative.netlify.app |
| ------------- | ------------- |
| /development -->  | /development  |
| /v0.23-docs/ | <-- /v0.23-docs/  |
| /v0.22-docs/ | <-- /v0.22-docs/  |
| /v0.21-docs/ | <-- /v0.21-docs/  |
| /v0.20-docs/ | <-- /v0.20-docs/  |

[2021-05-20 03:29] csantanapr commented on #3617
@julz what you think?
https://github.com/knative/website/pull/307

[2021-05-20 04:32] csantanapr commented on #3605
This is now done

[2021-05-20 04:32] #3605 closed

[2021-05-20 04:37] csantanapr opened #3629 "Fix all broken links in development version"
Many links are broken on new mkdocs site https://dev-knative.netlify.app/development/

[2021-05-20 04:37] csantanapr commented on #3629
/kind mkdocs

[2021-05-20 04:39] nak3 commented on #3524
Hi @Vafilor I think this doc https://knative.dev/docs/serving/setting-up-custom-ingress-gateway/ covers some of the steps. Could you please review it and let us know if we should add something?
(I feel that our doc is difficult to hit the search for some reason...)

[2021-05-20 08:03] vaikas opened #3630 "Releasing a version of the Knative documentation(help/maintainer/docs-release-process.md)"
## Expected Behavior
Link to check for existing releases for serving / eventing to work.

The link sez:
https://github.com/knative//releases/

which does not work.

I would assume it would be actually two links:
https://github.com/knative/eventing/releases/
https://github.com/knative/serving/releases/

## Actual Behavior
404

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additi

[2021-05-20 08:12] vaikas commented on #3630
It was a single link, but when I went to fix it, noticed that then below it talked about "three repos", which confused me. I guess the intent would be to check the four repos to what I changed it into.

[2021-05-20 18:54] omerbensaadon commented on #3629
This will be part of the Sanity Checks for Serving, Eventing, and Reference in Early Beta

Sanity Checks for client, concepts, sample content and community samples in Late Beta

[2021-05-20 18:54] omerbensaadon commented on #3629
You can feel free to close this if that is A-OK with you, or keep it for posterity in case we miss something! Up to you

[2021-05-20 19:07] omerbensaadon opened #3640 "[EPIC] Beta Homepage Updates"
## Description:
Before we close out Early Beta, we want to make sure we have a homepage we can be proud of shipping publicly. The current homepage looks great, but needs a bit of smoothing out.

This issue will be an Epic which contains many child issues, but will also contain some Acceptance Criteria which apply to any changed we make.

If you have [Zenhub](https://www.zenhub.com/) you'll be able

[2021-05-20 19:21] #3630 closed

[2021-05-20 19:23] omerbensaadon opened #3641 "[EPIC] Sanity Check Serving Content"
## Description:
We want to make sure the Serving content which lives in the Beta site (https://github.com/knative/docs/tree/mkdocs) meets a sanity-check.

---

## Story
[code]

## Acceptance Criteria
`Navigation`
[code]

`Legibility, Credibility Check`
[code]

## Known Issues and Considerations:
- [x] Anywhere the user is not expected to copy and paste a code block (i.e. showing terminal output) s

[2021-05-20 19:28] omerbensaadon opened #3642 "[EPIC] Sanity Check Eventing Content"
## Description:
We want to make sure the Eventing content which lives in the Beta site (https://github.com/knative/docs/tree/mkdocs) meets a sanity-check.

---

## Story
[code]

## Acceptance Criteria
`Navigation`
[code]

`Legibility, Credibility Check`
[code]

## Known Issues and Considerations:
- [x] Anywhere the user is not expected to copy and paste a code block (i.e. showing terminal output)

[2021-05-20 19:35] omerbensaadon opened #3643 "Fix all broken links in `/serving`"
## Description:
We want to make sure the Serving content which lives in the Beta site (https://github.com/knative/docs/tree/mkdocs) does not contain broken links

---

## Story
[code]

## Acceptance Criteria
`Legibility, Credibility Check`
[code]

## Known Issues and Considerations:
- When you build the site using `mkdocs serve` mkdocs will spit out all internal links it finds which are broken. If

[2021-05-20 19:36] omerbensaadon opened #3644 "Fix all broken links in `/eventing`"
## Description:
We want to make sure the eventing content which lives in the Beta site (https://github.com/knative/docs/tree/mkdocs) does not contain broken links

---

## Story
[code]

## Acceptance Criteria
`Legibility, Credibility Check`
[code]

## Known Issues and Considerations:
- When you build the site using `mkdocs serve` mkdocs will spit out all internal links it finds which are broken. I

[2021-05-21 09:58] #3577 closed

[2021-05-21 11:53] csantanapr commented on #3629
I thought there was only one milestone Beta, not two early Beta and late Beta.
I didn't see the issues you mentioned stating they will cover link checking too that that's part of the definition of “Sanity Check.”

I'm ok if you want to close this as a duplicate once the other issues splitting this work are created.

[2021-05-21 15:11] csantanapr commented on #3618
/close
release is node 🎉

[2021-05-21 15:11] #3618 closed

[2021-05-24 10:45] boramalper opened #3653 "Hello World - Python(docs/eventing/samples/helloworld/helloworld-python/_index.md) Trigger fails with BrokerDoesNotExist"
## Expected Behavior
Following the instructions in [Hello World - Python](https://knative.dev/docs/eventing/samples/helloworld/helloworld-python/) sample tutorial of Knative Eventing should work.

## Actual Behavior
Step 2.3 of [Building and deploying the sample](https://knative.dev/docs/eventing/samples/helloworld/helloworld-python/#building-and-deploying-the-sample) fails. Trigger is not ready b

[2021-05-24 10:50] boramalper commented on #3653
The solution is to define a broker in `sample-app.yaml`.

[code]

I am happy to send a PR if this is indeed considered a bug. [Hello World - Golang](https://knative.dev/docs/eventing/samples/helloworld/helloworld-go/) tutorial has a broker correctly defined.

[2021-05-24 20:24] omerbensaadon opened #3654 "YAML in hello-world returns an error"
## Expected Behavior
When I apply the YAML from https://dev-knative.netlify.app/development/getting-started/first-service/#knative-service-hello-world I expect it to work

## Actual Behavior
It returns an error

## Steps to Reproduce the Problem

1. Make the hello.yaml file
1. Try to apply it
1. Read it and weep

## Additional Info
**Additional context**
Add any other context about the problem her

[2021-05-24 20:26] omerbensaadon commented on #3654
/assign

[2021-05-24 20:41] omerbensaadon opened #3656 "YAML in traffic split returns an error"
## Expected Behavior
When I apply the YAML from https://dev-knative.netlify.app/development/getting-started/first-traffic-split/#creating-a-new-revision I expect it to work

## Actual Behavior
It returns an error

## Steps to Reproduce the Problem

1. Make the hello.yaml file
1. Try to apply it
1. Read it and weep

## Additional Info
**Additional context**
Add any other context about the problem h

[2021-05-24 21:18] omerbensaadon opened #3658 "Route YAML in `getting-started/first-traffic-split/` does not work"
## Expected Behavior
I expect when I create the route in `getting-started/first-traffic-split/` it will work

## Actual Behavior
The traffic split is accepted by Knative but it does not work

## Steps to Reproduce the Problem

1. Create the 2 hello world revisions (`hello-world` and `hello-knative`)
2. `kubectl apply` changes
3. See that it doesn't work :(

## Additional Info

[2021-05-25 00:35] #3654 closed

[2021-05-25 04:29] #3656 closed

[2021-05-25 14:22] omerbensaadon commented on #3604
done

[2021-05-25 14:22] #3604 closed

[2021-05-25 14:22] omerbensaadon commented on #3617
done!

[2021-05-25 14:22] #3617 closed

[2021-05-25 15:56] omerbensaadon opened #3664 "Create a Docker image for contributor use"
## Description:
We have added a number of extensions to the existing Material for MkDocs deployment and need to create a Docker image which reflects those additions.

---

## Story
[code]

## Acceptance Criteria
`Docker Image Works`
[code]

`Documentation Exists`
[code]

## Known Issues and Considerations:
See https://dev-knative.netlify.app/development/getting-started/contributing/contributing/#i

[2021-05-25 16:36] omerbensaadon commented on #3658
/assign @csantanapr

[2021-05-25 17:19] csantanapr commented on #3629
/close
duplicate of #3643 and #3644

[2021-05-25 17:19] #3629 closed

[2021-05-25 19:03] gabo1208 opened #3665 "Page icons not displaying correctly on Safari/Mac"
<img width="1792" alt="Screen Shot 2021-05-25 at 1 55 43 PM" src="https://user-images.githubusercontent.com/4516177/119554183-00098280-bd62-11eb-8db4-68e861ebc365.png">

**The icon should display correctly in all of the browsers**
 Icons appear to be incomplete when using Safari/Mac browser

**Additional context**
Safari Version 14.1.1 (16611.2.7.1.4)
Intel MacBook Pro OS Version 11.4

[2021-05-25 19:06] gabo1208 commented on #3665
/label kind/good-first-issue

[2021-05-25 19:14] omerbensaadon commented on #3665
/label good-first-issue

[2021-05-25 19:14] omerbensaadon commented on #3665
/label mkdocs

[2021-05-25 19:15] omerbensaadon commented on #3665
/kind good-first-issue

[2021-05-26 13:41] omerbensaadon commented on #3653
@boramalper we would absolutely love to have that PR! Thank you for opening the issue and resolving it!

PS: We would love to have you [join us on the Knative Slack](https://slack.knative.dev/)! Please reach out to me if you would like to get more involved in Knative :)

[2021-05-26 13:42] omerbensaadon commented on #3653
PPS: actually if you could DM me on that Slack I have a request for you!

[2021-05-26 13:43] omerbensaadon commented on #3624
bumping this?

[2021-05-26 13:43] omerbensaadon commented on #3549
Oooo this is a great catch...

/assign

[2021-05-26 17:03] snneji opened #3671 "Add the style guide Google doc to the contributor guide"
Add new style rules and any other additional information from the "Knative Styleguide Braindump" Google doc to the Knative contributor guide.

Styleguide Google doc:
https://docs.google.com/document/d/1tigolRzKhronvgoAJfszE-XHWWd0LQ8o_j0D73O9KvM/edit#heading=h.gkysxvbx0rpt

Knative Style Guide in the contributor guide:
https://knative.dev/help/contributor/how-to/styleguide/

[2021-05-26 17:04] snneji commented on #3671
/kind good-first-issue

[2021-05-26 18:14] omerbensaadon opened #3672 "Logo on the homepage is glitchy on first load"
## Expected Behavior
When I load https://dev-knative.netlify.app/ I should see a the banner without any glitches

## Actual Behavior
When you first load the page, you see the knative logo flash against a white background before being put in the banner where it is supposed to render

## Steps to Reproduce the Problem

1. Go to https://dev-knative.netlify.app/
1. Switch between any tab and the homep

[2021-05-26 18:14] omerbensaadon commented on #3672
CC: @markusthoemmes @shinigambit

[2021-05-26 18:27] omerbensaadon commented on #3672
/good-first-issue

[2021-05-26 18:28] omerbensaadon commented on #3672
/kind good-first-issue

[2021-05-26 18:28] omerbensaadon commented on #3672
/remove-good-first-issue

[2021-05-26 20:19] #1896 closed

[2021-05-26 20:48] omerbensaadon opened #3673 "Ensure Reference content for Serving and Eventing is up-to-date and viewable"
## Description:
Reference content is auto-generated from the `serving` and `eventing` repos and gets spit out into https://dev-knative.netlify.app/development/reference/api/serving/ and https://dev-knative.netlify.app/development/reference/api/eventing/eventing/ (a link we certainly want to fix.)

In the past, those releasing docs had to generate this content before cutting a release. @julz has cr

[2021-05-26 20:56] omerbensaadon opened #3674 "Enable the website to build with Material for MkDocs Insiders"
Since I have already paid for this, and it has some nifty features which do not negatively impact the contributor experience, I reckon we should enable this.

See: https://squidfunk.github.io/mkdocs-material/insiders/

PS: someone will have to pair with me to figure out how to do this since I own the access to the MkDocs Insiders repo

[2021-05-26 21:06] abrennan89 commented on #1385
Added as part of #3646

[2021-05-26 21:32] omerbensaadon commented on #3673
/assign @julz

[2021-05-26 23:04] #1385 closed

[2021-05-27 05:32] soham283 commented on #3672
Hello Omer,
I would like to work on this issue can you assign it to me

[2021-05-27 05:46] soham283 commented on #3665
Hello Omer,
I would like to work on this issue, can you please open this issue to me

[2021-05-27 11:43] vaikas opened #3678 "Infinite redirect loop in the netlify preview."
## Expected Behavior
In my PR:
https://github.com/knative/docs/pull/3677

netlify bot gives this link:
😎 Browse the preview: https://deploy-preview-3677--dev-knative.netlify.app

Clicking on it I'd expect to see the preview.

## Actual Behavior
Clicking on the link results in an infinite redirect loop.

If you curl it you get a permalink, in this case:
https://60af832540c4f100084e6e7a--dev-knative

[2021-05-27 12:28] omerbensaadon commented on #3678
@vaikas thanks for opening this!

/assign @csantanapr

[2021-05-27 12:32] omerbensaadon commented on #3672
Awesome 🎉, thanks for your contribution! We are targeting Friday, June 4th for closing out this Milestone, do you reckon you could deliver something by early next week?

/assign @soham283

[2021-05-27 12:40] omerbensaadon commented on #3665
@soham283 let's get #3672 closed first before I assign you to this one 👍🏼

[2021-05-27 12:53] vaikas opened #3679 "Hello World - Python(docs/eventing/samples/helloworld/helloworld-python/_index.md)"
## Expected Behavior
The sample to create a Broker also.

## Actual Behavior
The yaml does not create a Broker.

## Steps to Reproduce the Problem

1.
1.
1.

## Additional Info
**Additional context**
https://stackoverflow.com/questions/67720835/knative-eventing-newobservedgenfailure-error-for-helloworld-samples-trigger/67722535#67722535

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):

[2021-05-27 14:05] NovaHe commented on #3679
/assign
I will fix it

[2021-05-27 21:59] omerbensaadon opened #3686 "Document "upgrading kn""
**Describe the change you'd like to see**
Currently, there is not documentation (AFAIK) that explains how to upgrade kn. This is especially painful via homebrew since we'v changed from `master` > `main`

You need to run

[code]

**Additional context**
I will probably write this myself, but opening an issue to track. I do need info from @knative/client-wg-leads as to what other methods exist to upg

[2021-05-27 22:04] #3510 closed

[2021-05-28 05:46] navidshaikh commented on #3686
Usually `brew upgrade kn` would do.
We'd to tap `knative/client` afresh if user had tapped `knative/client` before our migration to main branch. (local copy of master branch refs are now gone in upstream)
+1 to doc it here, also README of the repo https://github.com/knative/homebrew-client/blob/main/README.md covers that too.

[2021-05-28 15:42] boramalper commented on #3679
@vaikas When you use [this `sample-app.yaml`](https://github.com/boramalper/docs/blob/2a2364fb8e94176a1b02cf68a578e36f848cbdf7/docs/eventing/samples/helloworld/helloworld-python/sample-app.yaml) instead, do you still experience the same error?

[2021-05-28 17:09] snneji opened #3687 "Fix formatting issues in new SinkBinding topics"
1. Bulleted lists are not working within tabs
2. Tab formatting is broken in [Create a SinkBinding object](https://dev-knative.netlify.app/development/eventing/sources/sinkbinding/getting-started/#create-a-sinkbinding-object_1)
3. Fix note formatting on reference page

Links:
- https://dev-knative.netlify.app/development/eventing/sources/sinkbinding/
- https://dev-knative.netlify.app/development/e

[2021-05-28 17:09] snneji commented on #3687
/assign

[2021-05-28 19:03] omerbensaadon commented on #3671
/assign @RichardJJG

[2021-05-28 19:04] omerbensaadon commented on #3644
/assign

[2021-05-28 19:04] omerbensaadon commented on #3643
/assign

[2021-05-31 09:29] soham283 commented on #3665
#3672 has been solved PR has been accepted for that issue (#3689). Can you please Assign me this issue @omerbensaadon

[2021-05-31 21:31] soham283 commented on #3446
Hello @snneji , I would like to work on this issue, can you please assign me this issue ?

[2021-06-01 09:43] snneji opened #3694 "Small text size in tables and notes"
# Issue
The text in tables and notes seems to be smaller than the text on the rest of the page. This issue might cause an accessibility issue for some users.

Increase the size of the text in tables and notes to match the rest of the page.

# Examples

**Screenshot of table formatting:**

<img width="739" alt="Screen Shot 2021-05-28 at 18 14 25" src="https://user-images.githubusercontent.com/33425

[2021-06-01 09:43] snneji commented on #3694
/kind mkdocs
/kind good-first-issue

[2021-06-01 09:53] snneji opened #3696 "Update style for H4 headings"
# Issue
H4 headings look like bold text. It would be nice for these headings to have a distinctive style.

# Example

**Screenshot of H4 formatting:**
(https://knative.dev/docs/developer/eventing/sources/sinkbinding/reference/#cloudevent-overrides)

<img width="739" alt="Screen Shot 2021-05-28 at 18 18 33" src="https://user-images.githubusercontent.com/33425661/120304186-77419800-c2c7-11eb-8309-6e

[2021-06-01 09:58] snneji commented on #3696
/kind mkdocs
/kind good-first-issue

[2021-06-01 16:02] #3672 closed

[2021-06-01 16:53] omerbensaadon commented on #3665
/assign @soham283

[2021-06-01 16:55] omerbensaadon commented on #3665
CC: @gabo1208

[2021-06-01 16:58] omerbensaadon commented on #3678
This is fixed @julz

[2021-06-01 16:58] #3678 closed

[2021-06-01 17:00] omerbensaadon opened #3701 "Create help section in MkDocs"
//TODO

[2021-06-01 19:12] soham283 commented on #3694
I would like to work on the issue, please can you (@snneji) assign me the issue ?

[2021-06-01 19:15] omerbensaadon commented on #3674
Moved to Late Beta

[2021-06-01 19:40] psschwei opened #3703 "Fix formatting issues in Feature Flags doc"
Based on discussion in #3666, there's a couple of formatting updates we can make to [docs/serving/feature-flags.md](https://github.com/knative/docs/blob/mkdocs/docs/serving/feature-flags.md):

1. Full examples for yaml samples rather than snippets (for example, [here](https://github.com/knative/docs/blame/mkdocs/docs/serving/feature-flags.md#L104-L121) and [here](https://github.com/knative/docs/bl

[2021-06-01 19:40] omerbensaadon commented on #3701
/assign

[2021-06-01 19:41] omerbensaadon commented on #3671
hey I am already in this area so I am going to move it into MkDocs

[2021-06-01 21:13] omerbensaadon opened #3706 "Logo does not render correctly in Safari"
## Expected Behavior
I expect the logo to render as it does in chrome

## Actual Behavior
The aspect ratio is off

![image](https://user-images.githubusercontent.com/16281246/120391211-b6d6a700-c2fc-11eb-8f7e-e3a18b2955a5.png)

## Steps to Reproduce the Problem

1. Open Safari
1. Go to the Knative Beta Site
1. See funky logo

[2021-06-02 13:29] pierDipi opened #3708 "[mkdocs] addressable-resolver ClusterRole guide for sinks doesn't render properly"
## Expected Behavior

On the old website based on Hugo, this guide is rendered properly: https://knative.dev/docs/eventing/sink/#2-create-an-addressable-resolver-clusterrole

## Actual Behavior

The documentation here: https://dev-knative.netlify.app/development/eventing/sink/#2-create-an-addressable-resolver-clusterrole is not rendered properly

## Steps to Reproduce the Problem

1. Visit https:/

[2021-06-02 13:31] pierDipi commented on #3708
/kind mkdocs
/kind style

[2021-06-02 13:41] julz commented on #3708
/assign

[2021-06-02 15:11] snneji commented on #3694
Sure that would be great!

/assign @soham283

[2021-06-02 15:34] soham283 commented on #3665
please assign me the issue @gabo1208 or @omerbensaadon

[2021-06-02 16:04] gabo1208 commented on #3665
Sure thing! /assign @soham283

[2021-06-02 17:20] abrennan89 opened #3710 "Organize additional content into admin vs developer guides"
**Describe the change you'd like to see**

There's a lot of stuff still in the Serving and Eventing sections that can be better organized by persona, so I'm going to try to move it incrementally, do some editing, fix some formatting, etc.

[2021-06-02 17:44] n3wscott commented on #3507
* [ ]  Sample complete resource of component
* [ ]  Fully documented features and options, including
     * [ ]  All spec fields
     * [ ]  All status fields
     * [ ]  Any magic labels or annotations that apply.

I think these are the remaining items for pingsource based on v0.23 of https://knative.dev/docs/eventing/sources/ping-source/

I think we are mainly missing this page: https://dev-knat

[2021-06-02 23:17] #3687 closed

[2021-06-03 11:22] csantanapr opened #3715 "shortcode {{< branch >}} not working in mkdocs development version"
## Expected Behavior

To be able to run the samples in development version

## Actual Behavior

Can't run samples in development version

## Steps to Reproduce the Problem

1. Go to any sample serving or eventing page that state to clone the docs repo like the Hello Worlds https://dev-knative.netlify.app/development/serving/samples/hello-world/helloworld-go/
1. Copy the git clone line
[code]
1. Ru

[2021-06-03 11:45] csantanapr commented on #3011
/close

[2021-06-03 11:45] #3011 closed

[2021-06-03 11:46] csantanapr commented on #3624
/assign

[2021-06-03 14:39] omerbensaadon opened #3719 "Create re-usable snippet for installing `kn`"
We want to poke at out our emerging re-usable content strategy by getting this low-hanging fruit delivered

[2021-06-03 15:23] #3719 closed

[2021-06-03 15:58] gabo1208 commented on #3642
/assign

[2021-06-03 20:46] julz opened #3723 "Document how to install knative from private/air-gapped registry"
**Describe the change you'd like to see**
A somewhat common requirement is to install Knative in an environment without internet connectivity, or from a specific registry (as opposed to the pre-built images in GCR). This requires editing the images of the various knative images in the yaml, and also the queueSidecarImage value in config-deployment.yaml.

**Additional context**
Slack thread where t

[2021-06-04 12:55] omerbensaadon commented on #3520
@abrennan89 I may have to move this out of Early Beta as it needs further discussion, I think we've checked off a few of these boxes. We may want to discuss at DUX next week?

[2021-06-04 13:38] omerbensaadon commented on #3641
Working on this now

[2021-06-04 13:57] abrennan89 commented on #3520
@omerbensaadon I'm not concerned with it for right now, +1 for moving it to late beta

[2021-06-04 16:14] abrennan89 commented on #3044
@vaikas any update on this one?

[2021-06-04 16:32] #3490 closed

[2021-06-04 16:38] abrennan89 commented on #3461
@rhuss was the documentation for  https://knative.dev/docs/serving/feature-flags/#responsive-revision-garbage-collector removed? I don't see anything in the site for this when I search for garbage collector

[2021-06-04 16:43] #3402 closed

[2021-06-04 16:43] abrennan89 commented on #3402
Issue moved to [knative/ux #41](https://github.com/knative/ux/issues/41) via [**ZenHub**](https://www.zenhub.com/)

[2021-06-04 16:44] abrennan89 commented on #3402
IMO any issues for things like Katacoda going forward should be opened in the UX repo, not docs, since doc writers generally don't work on these. I've moved this issue. Thanks.

[2021-06-04 16:48] abrennan89 commented on #2108
@evankanderson I see this one's still assigned to you, do you plan to add a PR or something for this? Thanks

[2021-06-04 16:50] abrennan89 commented on #2319
This image has since been removed.

[2021-06-04 16:50] #2319 closed

[2021-06-04 21:02] #2910 closed

[2021-06-04 21:24] omerbensaadon opened #3733 "[Investigation Needed] "Edit Page" button doesn't work"
## Expected Behavior
When I click on the Pencil Icon
![Screen Shot 2021-06-04 at 5 23 39 PM](https://user-images.githubusercontent.com/16281246/120864071-a111ed80-c559-11eb-9079-87c0dee508a1.png)
I see the page I am viewing on Github

## Actual Behavior
Broken link

## Steps to Reproduce the Problem

1. Load any page that isn't the homepage
2. Click the pencil
3. Read it and weep

## Additional In

[2021-06-04 21:30] julz commented on #3733
Yep, this is currently set to use `main` rather than `mkdocs` branch here: https://github.com/knative/docs/blob/mkdocs/mkdocs.yml#L8. We could swap that to be `edit/mkdocs/docs` instead, but we'll just have to switch it back after 🤷.

If you want to validate you can just swap that locally and run mkdocs serve, or push a WIP commit with that changed.

[2021-06-04 22:21] csantanapr commented on #3658
/assign @omerbensaadon
/unassign @csantanapr

[2021-06-04 22:22] #3658 closed

[2021-06-04 22:25] omerbensaadon opened #3737 "CloudEvents Player does not receive CloudEvents after creation of the Trigger"
## Steps to Reproduce the Problem

1. Go through the Eventing Getting Started guide
1. Create the trigger for the CloudEvents
1. Try and send an event

## Expected Behavior
CloudEvent is shown as received by the CloudEvents Player

## Actual Behavior
It doesn't receive them :(

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Plat

[2021-06-05 02:20] csantanapr commented on #3640
child issues for this Epic should be created so they can be assigned to one or more individuals to work on.
In this state, folks would be hesitant to take the issue as an Epic

[2021-06-05 02:21] csantanapr commented on #3640
I think the CSS is already optimized

[2021-06-05 11:37] soham283 commented on #3694
@snneji please review my PR

[2021-06-05 18:31] soham283 commented on #3696
I would like to work on this issue, @snneji can you please assign this issue ?

[2021-06-06 15:40] rhuss commented on #3461
@abrennan89 good point, looks like that this flag has been removed in the meantime. I'm not aware of this change, but @knative/serving-writers should know.

[2021-06-06 16:19] julz commented on #3461
Yeah, there's no feature flag any more (as of https://github.com/knative/serving/pull/11309) since gc v2 is now the default (and only) option

[2021-06-07 05:30] rhuss commented on #3461
@julz thanks for the pointer. But I guess we still would need documentation to explain how the garbage collector works in detail ? Or is this PR then obsolete, too ?

[2021-06-07 06:02] julz commented on #3461
No we definitely - imo - still need docs for the feature in general, just no longer for turning it on and off :-)

[2021-06-07 11:49] snneji commented on #3696
/assign @soham283

[2021-06-07 11:52] snneji commented on #3696
Hi @soham283, I assigned you to this issue. I believe you can also assign yourself to issues using the `/assign` command in a comment. The Knative prow robot then assigns you to the issue.

[2021-06-07 12:27] omerbensaadon commented on #3665
Closed by #3740

[2021-06-07 12:46] omerbensaadon opened #3741 "Make sure `Modifying the Deployment Config Map: developer/serving/services/deployment.md` isn't in mkdocs.yml"

[2021-06-07 12:54] #3606 closed

[2021-06-07 12:54] #3671 closed

[2021-06-07 12:54] #3701 closed

[2021-06-07 12:58] abrennan89 commented on #3741
Oops

[2021-06-07 12:58] #3741 closed

[2021-06-07 13:01] #3665 closed

[2021-06-07 13:05] #3643 closed

[2021-06-07 14:33] abrennan89 commented on #3461
Thanks folks, can someone provide details for docs for this please?

[2021-06-07 16:28] #3679 closed

[2021-06-08 08:19] boramalper commented on #3653
Fixed by #3682 I believe.

[2021-06-08 08:19] #3653 closed

[2021-06-08 12:07] csantanapr opened #3746 "Move word and phrases style guide from google sheet into docs github repo"
The technical writers have created an [initial guide for knative docs for words and phrases](https://docs.google.com/spreadsheets/d/1p1_kBUd6ZvonxHkMcEJPayf6QIpExuFf5cFq0ptar7I/edit#gid=0)

This one extendeds the [k8s existing one](https://kubernetes.io/docs/contribute/style/style-guide/#documentation-formatting-standards)

The issue is to track the work to move the guide from Google sheet into a

[2021-06-08 12:08] csantanapr commented on #3746
/kind mkdocs

[2021-06-08 12:43] #3664 closed

[2021-06-08 15:56] omerbensaadon opened #3752 ""Contribute" button in Homepage footer is broken"
## Expected Behavior
The "Contribute" button takes you to the contributor gude

## Actual Behavior
It's a broken link

## Steps to Reproduce the Problem

1. Go to homepage
1. Scroll down to the bottom of the page
1. Click "Contribute"

## Additional Info
**Additional context**
Add any other context about the problem here.

**Install information:**
 - Platform (GKE, IKS, AKS, etc.):
 - Knative Vers

[2021-06-08 16:53] omerbensaadon commented on #3520
/assign @csantanapr

[2021-06-08 20:00] abrennan89 commented on #170
Added a doc to collect terms that need definitions and possibly snippets: https://docs.google.com/spreadsheets/d/1ayoHb0Y833smQzIoe_Cj9NqwxaHpaYvaJ2tYtk3xw7A/edit?usp=sharing

[2021-06-08 21:31] #3694 closed

[2021-06-08 22:27] omerbensaadon commented on #3561
Somehow, this problem is back?

[2021-06-09 00:29] csantanapr opened #3756 "blog and community links take you to 404 page"
## Expected Behavior
On the home page of mkdocs https://dev-knative.netlify.app/development/
Click into the tabs/links blog and the community should take you to the correct path URL
![image](https://user-images.githubusercontent.com/1094878/121273920-52d15700-c897-11eb-97c1-d2f1512b0915.png)

It should take you to
1. https://dev-knative.netlify.app//blog/
2. https://dev-knative.netlify.app/communi

[2021-06-09 00:30] csantanapr commented on #3756
/kind mkdocs
I did a diff on the pip dependencies comparing a working run vs. not working
![image](https://user-images.githubusercontent.com/1094878/121274334-4b5e7d80-c898-11eb-882f-a8c181980843.png)

[2021-06-09 00:30] csantanapr commented on #3756
cc @julz

[2021-06-09 14:00] gabo1208 commented on #3561
Seems that some css broke the "inherit" color for the nav item links, fixing it

[2021-06-09 14:17] #3561 closed

[2021-06-09 14:18] omerbensaadon commented on #3756
Fixed in #3758?

[2021-06-09 14:18] #3756 closed

[2021-06-09 14:54] yanniszark opened #3760 "Add wait-for-drain to AuthorizationPolicy for system paths used by Knative"
## Expected Behavior

In page https://knative.dev/v0.22-docs/serving/istio-authorization/#allowing-access-from-system-pods-by-paths, the given AuthorizationPolicy gives access to paths `/metrics` and `/healthz`.  I expected the given AuthorizationPolicy to also include the `/wait-for-drain` path. Knative uses this path to wait until all requests in the queue are complete before terminating a Pod.

[2021-06-09 16:04] julz opened #3762 "Bad formatting on bentoml sample in community"
See https://knative.dev/community/samples/serving/machinelearning-python-bentoml/ in current (hugo) docs.

Search for ```bash. Also notice the yaml inline and without a code block in the "Building and deploying the sample" section.

[2021-06-09 17:10] Vafilor commented on #3524
Hi @nak3, thanks for the reply! Sorry for taking so long on my end.

If i'm understanding that guide correctly, it allows you to point the `knative-ingress-gateway` to a different service.
That's not quite what I'm looking for.

In my case, I already have a Gateway set up, it looks something like this

`ingressgateway`
[code]

Which is pretty close to the `knative-ingress-gateway`.

So, instead of

[2021-06-09 17:16] abrennan89 opened #3763 "The left nav links are showing up as different colors"
## Expected Behavior

Links would all be the same color in the left nav, except for maybe the current page link.

## Actual Behavior

Links are multi-colored (blue / black depending on whether they're nested or not).

## Steps to Reproduce the Problem

1. Look at the docs https://dev-knative.netlify.app/development/admin/

[2021-06-09 18:21] psschwei opened #3765 "mkdocs 1.2 not compatible with some knative-specific extensions"
Was following the instructions to install Mkdocs and encountered the following error:

[code]

Based on [this Mkdocs issue](https://github.com/mkdocs/mkdocs/issues/2446), it looks like the most current version of Mkdocs (1.2) is not currently compatible with some of the plugins we're using.

A simple fix is to pin the version of Mkdocs, i.e. `pip install mkdocs==1.1.2`

[2021-06-09 18:29] #3641 closed

[2021-06-09 18:41] julz commented on #3765
I think the linked issue is a _slight_ red herring: that's talking about a plugin (monorepo) that we don't use.

Looks like the actual problem is with mkdocs-macros-plugin (see https://github.com/fralau/mkdocs_macros_plugin/issues/86). The good news is it only affects `mkdocs serve` locally (otherwise the netlify builds would have stopped working since [they're using mkdocs 1.2 already](https://ap

[2021-06-09 19:21] omerbensaadon commented on #3642
done!

[2021-06-09 19:21] #3642 closed

[2021-06-09 19:21] omerbensaadon commented on #3644
done! Thanks @gabo1208

[2021-06-09 19:22] #3644 closed

[2021-06-09 19:59] soham283 commented on #3696
please review the pr #3767  @snneji and @omerbensaadon

[2021-06-10 01:46] omerbensaadon opened #3769 "[SPIKE] Which content re-use plugin should we use?"
Recently, we've discussed a couple of content re-use plugins (Snippets, mdx-include, etc.) which of these plugins should we use?

Factors to consider:
- Ease of use by current docs writers (UX of leveraging snippets)
- Ability to fetch from remote repos (important for things like #3673
- We are already using Snippets so there would be minimal logistic effort to move off of that tool

[2021-06-10 01:50] omerbensaadon opened #3770 "Link to the Contributor's Guide (`/help/contributor/`) from the `docs` Github Repo README and PR Template"
It would be nice if we could link to this Contributor's guide form Github so that new Contributor's are more likely to come across it.

It may also be nice to edit the PR template to include a link to the Contributor's Guide so people opening new PRs can have it handy.

[2021-06-10 02:01] #3763 closed

[2021-06-10 06:49] matzew opened #3772 "Document Trigger Delivery Spec aspects"
**Describe the change you'd like to see**

The documentation on "Event Delivery" does not have any example on its usage for triggers.
Example code:
https://github.com/knative/eventing/blob/d5f8b90a0050dac74ec534da3d84468496f38bd7/test/rekt/resources/trigger/trigger_test.go#L236-L274

**Additional context**
Add any other context or screenshots about the feature request here.

Looking here: https://

[2021-06-10 07:46] matzew opened #3773 "Event Delivery lacks retry info"
**Describe the change you'd like to see**

Event delivery doc (https://knative.dev/docs/eventing/event-delivery/) has very little information on retry.

I think it would be value for developers to learn more about, when/how a retry is triggered, what status codes are relevant here etc

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-10 09:54] RichardJJG commented on #3746
/assign

[2021-06-10 13:58] omerbensaadon opened #3776 "🛑 Add Analytics Cookie Tracking Warning (`/about-analytics-cookies`) to the Knative site"
## Description:
We need to add a warning to the homepage that users who access the site to let them know we use Google Analytics to track users

---

## Story
[code]

## Acceptance Criteria
- [ ] `First Site Visit`
[code]

**Copy:**
[code]

---

- [ ] `Click OK or X`
[code]

---

- [ ] `Click Learn More`
[code]
Page: https://github.com/knative/website/blob/main/content-override/en/about-analytics-

[2021-06-10 14:07] omerbensaadon opened #3777 "🛑 Add Google Analytics to `mkdocs` site"
## Description:
BLOCKED BY #3776

Adding Google Analytics so we can track effectiveness of MkDocs migration.

See: https://github.com/knative/website/pull/262 for tracking codes

---

## Story
[code]

## Acceptance Criteria
- [ ] `First Site Visit`
[code]

**Copy:**
[code]

---

- [ ] `Omer accesses Google Analytics Dashboard`
[code]

## Known Issues and Considerations:
See: https://github.com/kna

[2021-06-10 18:38] soham283 commented on #3706
please assign me this issue

[2021-06-10 18:42] soham283 commented on #3449
@RichardJJG are you working on this issue currently ?

[2021-06-10 19:47] #3746 closed

[2021-06-10 21:42] abrennan89 commented on #1192
@evankanderson do you know how to do this? This issue has been open forever so I'd like to see us close it, whether that's because we don't intend to doc this or because someone can give me the info 😄

[2021-06-10 21:44] evankanderson commented on #1192
I need to look up where the nightly artifacts are stored. Let me do that...

/assign

[2021-06-11 05:46] nak3 commented on #3524
@Vafilor Thank you for the explanation. It's clear.
Actually the configuration is same place but the docs does not explain about the Gateway :sweat: I will update the docs.

So if you want to use your own gateway named `my-gateway` in `my-namespace` namespace, you can configure the `config-istio` configmap to:

[code]
[code]

`config-istio` configmap explains it in the comment line https://github.

[2021-06-11 08:23] RichardJJG commented on #3449
@soham283, I've just committed my changes.

[2021-06-11 09:32] taiju opened #3783 "There is a mistake in the installation procedure of Strimzi."
There is a mistake in the installation procedure of Strimzi.

The API version of Strimizi has been changed in the following commit.
https://github.com/knative/docs/pull/3603/files

However, the version of Strimzi Operator used in the Strimzi installation procedure has not been changed, so following the procedure will result in a validation error.
https://github.com/knative/docs/tree/83877ca0f68688

[2021-06-11 09:42] taiju commented on #3783
Sorry, I didn't see the PR below. So you're modifying it to change to an external link, rather than updating the content?
https://github.com/knative/docs/pull/3781

[2021-06-11 10:03] julz commented on #3461
I think the comments in https://github.com/knative/serving/blob/main/config/core/configmaps/gc.yaml are actually a reasonably good start, but I'll happily work with someone to convert it in to a proper doc. Do you want me to try to do a first draft and if so is there a template I should use etc?

[2021-06-11 13:21] RichardJJG commented on #3448
/assign

[2021-06-11 14:00] abrennan89 commented on #3461
I think @RichardJJG was working on some doc templates but idk if they were finished / implemented yet.

The only thing I'd ask is that you add it to the admin guide under serving config if it's configmap stuff 😉 Happy for you to take a look if you want to, and I can give a review later if you ping when you need it.
Thanks!

/assign @julz

[2021-06-11 14:24] omerbensaadon opened #3785 "🛑 Add ability to import Go packages site-wide"
## Description:
In order to be able to import go packages as e.g. knative.dev/serving/foo/bar instead of github.com/knative/serving/foo/bar you have to prove you own knative.dev by serving a meta tag in the page when knative.dev/serving/foo/bar is requested with a particular header set

So if we forget, all the imports in the code wont work :smile:

---

## Story
[code]

## Acceptance Criteria
If

[2021-06-11 14:26] omerbensaadon commented on #3776
/assign @julz

[2021-06-11 16:50] abrennan89 commented on #3783
@taiju probably yeah, a lot of the docs around this were out of date anyway, e.g. the script and related docs were installing a very old version, and I think it makes more sense to point out to those docs than to try to maintain our own separate version of strimzi docs.

[2021-06-11 20:36] omerbensaadon opened #3786 "Populate `kn plugins` page with existing `kn` plugins"
## Description:
We currently have a `kn plugins` page which is empty (https://dev-knative.netlify.app/development/client/kn-plugins/).

It would be nice if we could populate it with a table of the current plugins available to `kn` (found here: https://github.com/knative-sandbox?q=kn&type=&language=&sort=)

---

## Story
[code]

## Acceptance Criteria

- [ ] `See all available plugins`
[code]
`Samp

[2021-06-11 21:07] omerbensaadon opened #3787 "[DOCS SPIKE] What should we do with all of the Concept topics? (`/concepts/`, `/eventing/*`, `/serving/*`"
## Description:
We have this weird page (https://knative.dev/docs/concepts/), Eventing and Serving Concepts (usually the README in each of the components) and concepts for which we don't have concept pages (Traffic Splitting, for example)

This Docs [Spike](https://en.wikipedia.org/wiki/Spike_(software_development)) is to flesh out a desired state for where these Concepts should live.

At the very

[2021-06-14 00:23] taiju commented on #3783
@abrennan89 Thanks!
For maintainability, linking to the documentation is probably the best way to go.
However, it would be nice if the installation instructions for Kafka were also written here.
Because Knative Eventing is also attractive because it can transparently handle Kafka as a backend, so it would be nice to be able to install it without Kafka expertise.

[2021-06-14 11:16] snneji opened #3791 "Improve code snippets in SinkBinding reference"
**Describe the change you'd like to see**
Add lines to the code snippets on [SinkBinding reference](https://dev-knative.netlify.app/development/eventing/sources/sinkbinding/reference/) to show the examples in this topic in the context of a whole resource.

**Additional context**
See [this discussion](https://github.com/knative/docs/pull/3774#discussion_r649484141) in #3774 for more info.

[2021-06-14 11:21] snneji commented on #3791
/kind good-first-issue

[2021-06-14 11:21] snneji commented on #3791
/assign

[2021-06-14 13:18] #3737 closed

[2021-06-14 15:21] abrennan89 opened #3794 "Style guide update: add details of how we include YAML snippets"
**Describe the change you'd like to see**

As per the discussion here https://github.com/knative/docs/pull/3774#discussion_r650135360 - we should show "full" samples of YAML in docs rather than just snippets, so that we are providing context for users of where exactly things like annotations sit in the YAML. We need to add this to the style guide so that we can enforce consistency.

[2021-06-14 16:02] abrennan89 commented on #3787
@omerbensaadon related? https://miro.com/app/board/o9J_lGgYxFs=/?openComment=3074457358287748889

[2021-06-14 16:05] abrennan89 commented on #3786
I think we'd want eng folks to provide some input here wrt to the status of each of the plugin types and how ready they are to be included, maybe use those status badges that show the version / alpha etc on the pages covering these?

[2021-06-14 16:35] RichardJJG opened #3795 "Style Guide update: add words and phrases, forbid Latin, rule on measurement unit spacing"
**Style Guide >> Voice and language**
Discourage the use of Latin along with jargon and idioms. It's true in the Google Style guide and it's a typical and uncontroversial style guide rule.

**Style Guide >> Word & Phrase List**
__minikube__ over __Minikube__
__hostname__ over __host name__

**Style Guide >> Formatting standard and conventions**
Copy the salient Google Style rules for spacing in un

[2021-06-14 18:56] omerbensaadon commented on #3787
To that comment in particular? I don't reckon, I am just wondering on how we want to use "Concepts..."

Should we concentrate all of our explanatory docs under that heading and have everything else be process/guides?

[2021-06-14 19:00] omerbensaadon opened #3796 "[DOCS SPIKE] What should we do with our sample content?"
## Description:
We have samples under `/samples/`, `/serving/samples/`, `/eventing/samples` and `community/samples`.

It would be nice to figure out what structure we want these to take on the Knative site before launch.

There have also been recommendations of moving the samples outside of the Knative website altogether and into GitHub (if so, we can host it over in the UX Repo maybe?).

This Doc

[2021-06-14 20:02] omerbensaadon opened #3797 "Decompose `mkdocs.yml` into `mkdocs.yml` + `navigation` + `redirects`"
## Description:
We would like to split up the mkdocs.yml into `main`, `navigation`, and `redirects` in order to make it more manageable + scriptable.

---

## Story
[code]

## Acceptance Criteria

- [ ] `Separate mkdocs.yml`
[code]

---

- [ ] `Sanity Check`
[code]

## Known Issues and Considerations:

## Who should probably pick up this issue?
- [x] Existing Contributors
- [x] New Contributors

[2021-06-14 20:24] dprotaso commented on #2931
Following up: @iancoffey switched teams and isn't involved with KFServing anymore.

@upodroid are you interested in _maintaining_ these contributions across releases? We ideally would like someone to be regularly involved - meaning fixes issues, write some documentation on how to use these monitors. We just want to avoid these going stale again and being unmaintained.

/remove-lifecycle stale

[2021-06-14 21:05] upodroid commented on #2931
I'm up for it.

I have joined the google group.

This fits the Operations WG nicely.

[2021-06-14 23:53] omerbensaadon opened #3799 "🛑 Make existing redirects work in `mkdocs`"
## Description:
In the old version of the Knative site, redirects were done with with [front-matter](https://gohugo.io/content-management/front-matter/), we must now move all of the redirects from front-matter to the `redirects` section of the mkdocs.yml

---

## Story
[code]

## Acceptance Criteria

- [ ] `All existing redirects work in mkdocs`
[code]

---

## Nice to Have Acceptance Criteria
- [

[2021-06-15 00:17] omerbensaadon opened #3800 "Communicate to users that the `mkdocs` site is in public beta, link them to docs issues for feedback"
## Description:
While we've done a great job on the MkDocs Site, we want users to understand that they are using a site that is recently "hot off the presses" in order to incentivize users to provide feedback on the site as well as excuse any "work in progress" sections.

Looks like Material for MkDocs has something called an ["announcement bar"](https://squidfunk.github.io/mkdocs-material/setup/s

[2021-06-15 00:36] omerbensaadon opened #3801 "🛑 Render Old Versions of Knative.dev as static HTML"
## Description:
Since we don't want to have to move everything over to `mkdocs`, we're forced to live with a "Frankenstein's Monster" for old versions of the website (newest version = `mkdocs`, all previous versions = `Hugo` )

---

## Story
[code]

## Acceptance Criteria
- [x] `Visit old versions`
[code]

---

- [x] `Come back to current version`
[code]

## Known Issues and Considerations:

## Wh

[2021-06-15 02:34] nak3 commented on #3524
/assign

[2021-06-15 08:40] RichardJJG commented on #3795
/assign

[2021-06-15 12:19] #3795 closed

[2021-06-15 15:52] skonto commented on #2931
I can also help @upodroid :) We should discuss where to host such artifacts.

[2021-06-15 16:04] upodroid commented on #2931
great, i'll see you at the Operations WG today.

[2021-06-15 17:23] omerbensaadon commented on #3800
We may want to soften the language here and not use "Beta"

[2021-06-15 17:25] csantanapr commented on #3800
Do not use the word `Beta` just say that the website is new provide feedback if you like it or something not working

[2021-06-15 17:25] omerbensaadon commented on #3800
/hold

[2021-06-15 17:25] omerbensaadon commented on #3800
CC: @csantanapr @julz

[2021-06-15 17:25] csantanapr commented on #3800
mkdocs already supports a banner, easy to configure

[2021-06-15 17:26] omerbensaadon commented on #3785
/assign @julz

[2021-06-15 17:28] omerbensaadon commented on #3801
@omerbensaadon make sure to add old version similar to K8s in a new AC

[2021-06-15 17:32] csantanapr commented on #3800
here are the docs to implement "Announcement bar" https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-header/?h=header#announcement-bar

[2021-06-15 17:32] gabo1208 commented on #3800
https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-header/#announcement-bar Here it is

[2021-06-15 17:57] xtreme-sameer-vohra opened #3809 "Homepage should feature at least 3 customer logos"
**Describe the change you'd like to see**
At least 3 customer (not vendor) logos on the website homepage.
This is from [Knative GA Requirements doc](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aaf#heading=h.rbnr61t4qtv8)

[2021-06-15 18:01] xtreme-sameer-vohra opened #3810 "Add a page in the community section for End-user community"
**Describe the change you'd like to see**
A page in [knative.dev/community](https://knative.dev/community) highlighting the end-user community where additional users can add testimonials.
This is from [Knative GA Requirements doc](https://docs.google.com/document/d/1mC_nDpLIycqiBn5Om1tvbcY3yyAR3WUNXcHiyloEzhg/edit?ts=609d1aaf#heading=h.rbnr61t4qtv8)

[2021-06-15 20:39] #3785 closed

[2021-06-15 21:09] dprotaso commented on #2931
Following up from the operations WG meeting

We're going to create a sandbox repo and revive parts of the monitoring bundle:
https://github.com/knative/community/issues/654
https://github.com/knative/community/pull/653

After revival we'll drive improvements and potential publishing of dashboards to grafana.com

[2021-06-16 13:16] snneji opened #3811 "Update style guide: new rules for using code formatting"
We have decided on new style rules. Add them to the style guide.

- [x] **Add rule: "Do not use code in headings"**

     Suggested location for rule: https://github.com/knative/docs/blob/mkdocs/docs/help/contributor/style-guide/style-and-formatting.md.
    Decided in this [Slack thread](https://knative.slack.com/archives/C9CV04DNJ/p1623754932034700)

- [ ] **Add to list of things that should be i

[2021-06-16 13:17] snneji commented on #3811
/kind style

[2021-06-16 13:33] #3791 closed

[2021-06-16 15:40] snneji opened #3813 "Split kubectl commands using <<EOF into two steps"
The current method for documenting `kubectl` commands YAML using `kubectl apply -f - <<EOF...` does not work for Windows users.

To fix this issue, do the following:

- [x] Update style rule in the [Documenting YAML](https://dev-knative.netlify.app/development/help/contributor/style-guide/documenting-code/) section of the style guide. File location: https://github.com/knative/docs/blob/mkdocs/docs

[2021-06-16 15:41] snneji commented on #3813
/kind bug
/kind style

[2021-06-16 16:47] abrennan89 commented on #3752
If we're talking about this one
![image](https://user-images.githubusercontent.com/40172997/122260023-6df42600-ce98-11eb-9c37-9fee7272bfff.png)

It seems to work fine for me and brings me to https://dev-knative.netlify.app/development/help/contributor/, so I guess this was fixed in the meantime? Closing the issue.

[2021-06-16 16:47] #3752 closed

[2021-06-16 16:50] #3403 closed

[2021-06-16 16:50] abrennan89 commented on #3403
Issue moved to [knative/ux #45](https://github.com/knative/ux/issues/45) via [**ZenHub**](https://www.zenhub.com/)

[2021-06-16 16:51] abrennan89 commented on #3134
@skonto any updates here?

[2021-06-16 16:53] abrennan89 commented on #3268
Assigning some folks who have been working on issues for this

[2021-06-16 16:56] #3092 closed

[2021-06-16 16:59] abrennan89 commented on #3496
@rhuss either is fine - do you have draft info for docs for this, or want to take this issue and add a PR yourself?

[2021-06-16 17:01] abrennan89 commented on #3534
@omerbensaadon I think I saw basically a duplicate for this issue somewhere recently that you had opened, just FYI?
#3786 maybe this one?

[2021-06-16 17:02] abrennan89 commented on #3786
This seems to be a duplicate ot #3534 - OK to close this one, @omerbensaadon ?

[2021-06-16 18:20] abrennan89 commented on #3513
This doesn't really look like an issue with docs/install/prerequisites as much as general installation problems.
Please ask for troubleshooting help in the Knative Slack (most like #serving-questions would help) and open an issue requesting a specific docs change if there is one required. Thanks.

[2021-06-16 18:20] #3513 closed

[2021-06-16 18:22] abrennan89 commented on #3499
I think https://dev-knative.netlify.app/development/help/contributor/publishing points to a page that no longer exists

[2021-06-16 18:22] #3499 closed

[2021-06-16 18:29] abrennan89 commented on #3612
@julz presumably this is just to update the docs here https://knative.dev/v0.22-docs/install/install-serving-with-yaml/#configure-dns  for older versions than 0.23?

re "to point at the latest patch releases of serving" - can you provide the URL to point at these to update the command? Thanks.

[2021-06-16 18:30] embano1 opened #3815 "Add VMware to maintainers of Tanzu Sources"
**Describe the change you'd like to see**
Add VMware to maintainers of Tanzu Sources.

**Additional context**
VMware engineers are actively developing the Tanzu Sources.

[2021-06-16 18:43] abrennan89 commented on #3044
@devguyio was this related to the stuff you wanted to work on?

It's a really poor UX at the minute to end the guide like this
![image](https://user-images.githubusercontent.com/40172997/122274785-92f09500-cea8-11eb-8659-a6acae8e11da.png)

If we're not going to add more information here I am tempted to just clean up what we do have and move it to the developer guide, close this issue, and add a UX

[2021-06-16 18:45] abrennan89 commented on #3111
Closing this issue for now until we have some confirmation from @knative/eventing-wg-leads that this should actually be documented. Doesn't look like this is a decision docs can make atm.

[2021-06-16 18:45] #3111 closed

[2021-06-16 18:59] abrennan89 opened #3817 "[EPIC] Clean up Kafka docs"
There are multiple open issues for Kafka / Strimzi docs. This epic is an attempt to group them together so that I can multitask on the docs work.

- [x] #4058
- [x] #3783
- [x] #3078
- [x] #3079
- [x] #4082
- [x] #3583
- [x] #3077
- [x] #3081
- [x] #2262

[2021-06-16 19:03] #3350 closed

[2021-06-16 19:06] abrennan89 commented on #3041
This seems like a very old issue; we can revisit what is/isn't included in API docs builds when that comes up in the docs roadmap, wrt automation etc as well.

[2021-06-16 19:06] #3041 closed

[2021-06-17 08:12] devguyio commented on #3044
@abrennan89 thanks for pinging! I totally agree and I'm gonna be working on this on Monday (release day is June 29th)

[2021-06-17 08:12] devguyio commented on #3044
/assign

[2021-06-17 08:21] devguyio commented on #3817
That sounds great @abrennan89 and thanks for pinging. I would like to sync more and help~

[2021-06-17 14:37] #3815 closed

[2021-06-18 15:34] abrennan89 opened #3824 "Style clean up for DNS info"
Follow up comments from https://github.com/knative/docs/pull/3823 re style and possibly making this a snippet

[2021-06-18 15:49] julz commented on #3824
/assign

[2021-06-18 16:15] abrennan89 commented on #3349
Existing docs have moved to here https://dev-knative.netlify.app/development/serving/samples/blue-green-deployment
Possibly combine this with work to update https://dev-knative.netlify.app/development/serving/samples/traffic-splitting/

[2021-06-21 11:27] RichardJJG opened #3827 "Style Guide Tweak -- remove code formatting and style guide use ambiguities"
1. Remove code formatting from example in https://dev-knative.netlify.app/development/help/contributor/style-guide/style-and-formatting/#documenting-knative-api-objects
It misled one engineer and it bleeds into our entirely separate rule on when to apply code formatting.

1. Spell out that, in the event of clashes, the Knative Style Guides overrules the K8s Style Guide.
Again, an engineer didn't r

[2021-06-21 11:29] RichardJJG commented on #3827
kind/style

[2021-06-21 11:29] RichardJJG commented on #3827
/kind/style

[2021-06-21 11:30] julz commented on #3827
FWIW I'd suggest also explicitly saying in the Code Formatting one that in other cases (including where the k8s guide would say you should) you shouldn't use code formatting (unless I missed a sentence somewhere that says this). Even just adding the word "only" in the initial paragraph would satisfy my pedantry here ;)

[2021-06-21 11:31] RichardJJG commented on #3827
@julz, thanks, I was thinking the same thing.

[2021-06-21 11:33] RichardJJG commented on #3827
kind:docs

[2021-06-21 11:36] RichardJJG commented on #3827
/label kind:style

[2021-06-21 11:36] RichardJJG commented on #3827
/assign

[2021-06-21 11:37] RichardJJG commented on #3827
/label kind/style

[2021-06-21 11:37] RichardJJG commented on #3827
/label style

[2021-06-21 17:42] dprotaso opened #3829 "[new site] links with anchors don't seem to scroll to the right section"
## Expected Behavior

When I click on the link https://dev-knative.netlify.app/development/admin/install/operator/configuring-serving-cr/#override-system-deployments

I expect it to scroll down to the override system deployments section. I expect this to work with any anchor.

## Actual Behavior

It does not scroll down

## Steps to Reproduce the Problem

1. Click on the link https://dev-knative.n

[2021-06-21 19:15] aijamalnk commented on #3809
@xtreme-sameer-vohra doesn't look like I can assign this issue to myself. Could you assign it to me please?

[2021-06-21 19:16] aijamalnk commented on #3810
@xtreme-sameer-vohra doesn't look like I can assign this issue to myself. Could you assign it to me please?

[2021-06-21 19:38] julz commented on #3829
/assign

[2021-06-22 09:28] jai opened #3831 "Broken link - Knative Eventing(docs/eventing/_index.md)"
## Expected Behavior

## Actual Behavior

Link to 'trigger' documentation is broken.

## Steps to Reproduce the Problem

1. Visit https://knative.dev/docs/eventing/
1. Click on "trigger" under Functionality bullet-item-2
1. See 404

[2021-06-22 14:47] #3829 closed

[2021-06-22 16:17] csantanapr commented on #3799
Could someone point on an example on this front-matter redirect in the knative hugo site, is this located the docs or website repo?

[2021-06-22 16:20] julz commented on #3799
https://github.com/knative/docs/blame/mkdocs/docs/client/README.md#L7

My script which should hopefully mostly automate this is at https://github.com/julz/redirectredirects

[2021-06-22 17:05] csantanapr commented on #3801
build the last 0.24 and development will be in mkdocs, 0.23, 0.22, 0.19, with hugo

[2021-06-22 17:51] evankanderson opened #3835 "Document DomainClaims and administrator management of DomainMapping"
## What is changing? (Please include as many details as possible.)

Administrators can control which namespaces may use a custom domain for DomainMappings by setting `autocreateClusterDomainClaims` to `false` in the `config-network` ConfigMap, and then manually creating [ClusterDomainClaim objects](https://github.com/knative/networking/blob/main/pkg/apis/networking/v1alpha1/domainclaim_types.go#L6

[2021-06-22 17:53] julz commented on #3835
I have it on my list to do this

/assign

[2021-06-22 22:58] #3824 closed

[2021-06-22 23:08] #3673 closed

[2021-06-23 16:26] abrennan89 opened #3837 "Fix CSS for tables"
## Expected Behavior

Tables should look nice and be easy to read.

## Actual Behavior

Tables have a lot of ugly bits, like not being consistent widths, lines breaking in the middle of words, etc.

## Steps to Reproduce the Problem

See Slack thread https://knative.slack.com/archives/C9CV04DNJ/p1624464518093800

[2021-06-23 16:44] abrennan89 commented on #3837
Markus fixed the line break issue: https://github.com/knative/docs/pull/3838

[2021-06-24 12:52] RichardJJG opened #3840 "Style Guide: Prevent the correct terms in Word and Phrase List from breaking across several lines"
Some phrases in the Correct Term column break across several lines, such as "Knative Service". Breaking correct terms on to two lines is confusing.

[2021-06-24 12:53] RichardJJG commented on #3840
/kind:good-first-issue

[2021-06-24 12:54] RichardJJG commented on #3840
/kind

[2021-06-24 15:32] gyliu513 opened #3841 "Any guidance for how to turn a Kubernetes Deployment+Service to Knative Service"
## Ask your question here:

There is a very simple example here https://www.redhat.com/sysadmin/kubernetes-deployment-knative-service for how to turn a Kubernetes deployment into a Knative service, but does the Knative has any official document or guidance for how to do this? I think this is important for people leveraging knative to manage their Kubernetes resources. Thanks!

[2021-06-24 16:40] evankanderson commented on #3841
/good-first-issue

[2021-06-24 19:53] dprotaso opened #3843 "[new site] search doesn't show up names of labels"
## Expected Behavior

Searching for `disableAutoTLS` shows me pages where `disableAutoTLS` is present on that page

## Actual Behavior

It shows up nothing.

## Additional Info

Slack convo: https://knative.slack.com/archives/C01JBD1LSF3/p1624563257021900

Julz suggests that we change the separator here https://www.mkdocs.org/user-guide/configuration/#separator to include `/`

I think that'd help

[2021-06-24 19:56] dprotaso opened #3844 "[new site] font sizes increase when window gets bigger"
## Expected Behavior

Font sizes remain consistent - or it reaches a max size after a certain point.

## Actual Behavior

Making my window bigger causes the font size to increase on the website

<img width="2672" alt="Screen Shot 2021-06-24 at 3 53 35 PM" src="https://user-images.githubusercontent.com/18562/123324152-81406a80-d504-11eb-813d-9f1e7e8fac22.png">

## Other details
I'm on a iMac 5K Ret

[2021-06-25 08:42] RichardJJG opened #3847 "Style Guide -- Define how we use admonitions"
MkDocs supports many types of admonitions (info boxes): https://squidfunk.github.io/mkdocs-material/reference/admonitions/#supported-types

Specify in https://knative.dev/development/help/contributor/style-guide/style-and-formatting/

1. Which types we permit
2. The rules for using those types

[2021-06-25 10:44] RichardJJG opened #3849 "Style Guide -- Fix up the index page"
On https://dev-knative.netlify.app/development/help/contributor/style-guide/

1. Remove the link to the W&P spreadsheet
2. Remove references to other style guides -- we only use ours (we'll plug the few remaining gaps as we go)

[2021-06-25 10:44] RichardJJG commented on #3849
/assign

[2021-06-25 12:51] gyliu513 commented on #3841
/assign

[2021-06-25 13:25] omerbensaadon opened #3852 "Snippets (Content Reuse) link doesn't work"
The link from https://dev-knative.netlify.app/development/help/contributor/ to Content Reuse is broken

[2021-06-25 13:41] lionelvillard opened #3853 "Knative Eventing requires CNI mode set to true"
**Describe the change you'd like to see**
When installing Knative Eventing, the prerequisite section should mention that the CNI mode should be set to true.

**Additional context**
Add any other context or screenshots about the feature request here.

https://github.com/knative/eventing/issues/2039

[2021-06-25 15:18] abrennan89 commented on #3853
@lionelvillard it looks like this is a specific requirement for minikube? In that case, I'm not sure it belongs in our core docs.

[2021-06-25 15:30] abrennan89 commented on #3840
Probably related to #3837 ?
cc @julz @evankanderson

[2021-06-25 15:39] abrennan89 commented on #3831
The information in the description of this issue doesn't seem correct.

I think you're referring to: https://dev-knative.netlify.app/development/serving/samples/hello-world/helloworld-csharp/ ?
In future issues, @jai please just add a direct link to the page you're referring to.
There doesn't seem to be any csharp / .NET sample for eventing https://knative.dev/docs/eventing/samples/helloworld/

No

[2021-06-25 15:44] abrennan89 commented on #3831
lol please don't use numbers like `#2` n issues - I spent a good 5 minutes looking in the C# sharp sample for a broken link because it added the link to the PR for that sample (see above) 😂
You can ignore the previous comment I added / deleted @jai 🙃

This link is fixed in the latest version of the docs: https://dev-knative.netlify.app/development/eventing/
I'm not sure if we plan to keep maintain

[2021-06-25 15:47] abrennan89 commented on #1917
I think it's safe to close this now since we've moved to mkdocs. Anything left to be added should probably just be opened as a new task. I don't think prow auto-selects reviewers anymore anyway.

[2021-06-25 15:51] abrennan89 commented on #2944
Requires updates to the docs here: https://dev-knative.netlify.app/development/admin/eventing/broker-configuration/

[2021-06-25 16:01] evankanderson commented on #3840
We might need to use `&nbsp;` for the spaces to avoid breaks

[2021-06-25 16:20] jai commented on #3831
Sorry about that @abrennan89 I totally should have seen that auto-link!

[2021-06-25 17:20] abrennan89 commented on #3831
@jai it's all good 😄

[2021-06-25 18:45] Shashankft9 commented on #3853
I had to enable hairpin mode in the CNI (kube-router) I am using in my k8s cluster. Hairpin mode was specifically required for using `Sequence`, where the `imc-dispatcher` pod was trying to connect to itself through the clusterIP of `http://sequence-kn-sequence-1-kn-channel.serverless.svc.cluster.local"`.
I am not sure how the behavior is in the other CNIs, but yes for kube-router, I had to exclus

[2021-06-28 01:55] omerbensaadon opened #3857 "Populate "Next Steps" Section of Getting Started Guide"
**Describe the change you'd like to see**
I'd like to populate the "Next Steps" Section of the Getting Started guide with some helpful destinations for folks to go after they've gotten the tutorial finished.

List currently includes:
- Developer's Guide
- Admin's Guide
- Knative in Action
- Knative Cookbook
- Knative.tips
- Knative YouTube Channel
- A Google Form to ask folks what we're missing
-

[2021-06-28 11:51] #3706 closed

[2021-06-28 12:00] omerbensaadon opened #3862 "[AFTER GO LIVE] Change name of `mkdocs` to `main`, fix {{ branch }} to point to `main` instead of `mkdocs`"
Due to changes in #3860, we'll have to change this variable to point to the `main` branch instead of the `mkdocs` branch before we "go live" with the new version of the Knative site.

[2021-06-28 12:29] snneji opened #3863 "Add status fields to reference page for event source docs"
Document the following for APIServerSource, SinkBinding, and ContainerSource:

- All status fields
- Any magic labels or annotations that apply.

This is a spin off from PR #3812

[2021-06-28 12:29] snneji commented on #3863
/assign

[2021-06-28 12:56] snneji commented on #3813
/assign

[2021-06-28 13:21] #3640 closed

[2021-06-28 13:23] omerbensaadon opened #3864 "Unpicking existing version re-directs"
**Describe the change you'd like to see**
Currently, our site links old versions to knative.dev since our beta site is hosted on Netlify, we need to make sure we unpick these redirects before we "go live" because knative.dev will be where the new mkdocs site lives once it's off of the beta domain.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-28 13:51] #3786 closed

[2021-06-28 13:56] abrennan89 commented on #1895
I think we can close this issue now since it's sort of covered by the following:

- Observability docs https://github.com/knative/docs/issues/2931
- Plugins https://github.com/knative/docs/issues/3534
- Reference docs https://github.com/knative/docs/pull/3334
- Upgrading docs https://dev-knative.netlify.app/development/admin/upgrade/

I think if there is anything missing let's open a new, smaller

[2021-06-28 13:56] #1895 closed

[2021-06-28 14:07] #3849 closed

[2021-06-28 15:18] omerbensaadon commented on #3786
@abrennan89 sorry I am bad at GH notifications. Fine to close this one since I am assuming you're the one working on it!

[2021-06-28 15:24] omerbensaadon commented on #3831
If this is fixed in pre-release, we can close this issue!

Thanks @jai @abrennan89

[2021-06-28 15:24] #3831 closed

[2021-06-28 15:34] abrennan89 opened #3865 "Clean up metrics docs"
**Describe the change you'd like to see**

The tables don't look very good. I think from the Slack chats with @julz and @markusthoemmes we decided it would be better to use definition lists for metrics docs that are currently in the admin guide.

Also, on going through these, there's a dev section here https://knative.dev/development/admin/collecting-metrics/serving-metrics/metrics/#developer-user

[2021-06-28 15:35] abrennan89 opened #3866 "Create new “Eventing concepts” section"

[2021-06-28 15:38] abrennan89 opened #3867 "Add ‘kn’ CLI to the Getting Started and append “with event delivery” to title"
Converted to issue from #1923 check list item
/assign @omerbensaadon
I'll let you decide whether this one is required still Omer since it's part of the Getting Started

[2021-06-28 15:40] abrennan89 opened #3868 "Create new “Managing events” section"
Split out from #1923 check list
@RichieEscarez can you provide more details about what you would expect / like to see in this type of section?

I'm not sure it's required vs just making sure CLI commands etc for eventing components are documented properly, which shouldn't be a single issue, but covered in multiple use cases. It's too big an area for one issue IMO.

[2021-06-28 15:44] abrennan89 commented on #1923
For observability and debugging, these require engineering input/work that are already tracked as other issues:
- https://github.com/knative/docs/issues/3044 debugging
- https://github.com/knative/docs/issues/2931 observability
Checking these off the list for this issue

[2021-06-28 17:33] #1923 closed

[2021-06-28 18:13] #3776 closed

[2021-06-28 20:12] AngeloDanducci opened #3871 "Istio listed as a prerequisite on the knative with operators install page"
**Describe the change you'd like to see**
Even though Istio is the current default I think it makes sense to mention the other networking layers [here](https://knative.dev/v0.22-docs/install/knative-with-operators/#prerequisites) as any should be able to satisfy as a networking layer prerequisite.

I can't find this exact text in the repo, appears to be [a nested md file that itself is generated s

[2021-06-29 06:08] nak3 commented on #3871
Thank you for the report!

The snippet is here [prerequisites.md](https://github.com/knative/docs/blob/mkdocs/docs/snippets/prerequisites.md) and the prerequisite of Istio was removed in the latest (`mkdoc`) branch.
So the doc from next release (v0.24) fixes the issue. Here is the preview of the doc - https://dev-knative.netlify.app/development/admin/install/knative-with-operators/#prerequisites

[2021-06-29 08:23] julz opened #3874 "Add back Feature State labels"
We [previously removed](https://github.com/knative/docs/issues/2781) many of the feature state labels because they were confusing (arguably mostly due to the previous, over-concise format of the labels). Now that we plan to lower the amount of cherry-picking we do to old releases, though, we need to ensure the main docs work well for the last 4 versions, which means being clear about when certain

[2021-06-29 08:25] julz opened #3875 "Add feature state label macro"
It should be possible to easily create a nice feature state label indicating the current state of a feature (alpha, beta, GA) and since which version the feature has been in this state. See [examples in Kubernetes docs](https://kubernetes.io/docs/concepts/containers/runtime-class/) for inspiration. It may look something like this:

[code]

We should make sure that we don't make this over-concise.

[2021-06-29 08:25] julz commented on #3875
/assign

[2021-06-29 14:09] omerbensaadon commented on #3871
@AngeloDanducci Thanks for the issue! @nak3 thanks for the quick response.

Closing this, let me know if there is further action needed :)

[2021-06-29 14:09] #3871 closed

[2021-06-29 14:16] omerbensaadon opened #3878 "Add automation to comment in "snippets" location anywhere a snippet is used"
**Describe the change you'd like to see**
It is confusing for new contributors to not understand where snippets are coming from (see #3871), and it's a bit too much overhead to ask all docs writers to include comments with every snippet.

It would be nice to add to our Github Actions a comment above any snippet which reads:

[code]

**Additional context**
Add any other context or screenshots about

[2021-06-29 14:16] omerbensaadon commented on #3871
I've opened https://github.com/knative/docs/issues/3878 as a result of the confusion here, thanks for surfacing this!

[2021-06-29 14:20] #3715 closed

[2021-06-29 14:22] omerbensaadon commented on #3867
Thank you for splitting up that issue!

I actually don't see this in the issue you've linked so IDK what this means 😅

[2021-06-29 14:33] omerbensaadon commented on #3827
@RichardJJG

/label kind/style 👍🏼

[2021-06-29 14:33] omerbensaadon commented on #3827
/label kind/style

@RichardJJG

👍🏼

[2021-06-29 14:35] omerbensaadon commented on #3810
/assign @aijamalnk

[2021-06-29 14:36] omerbensaadon commented on #3809
/assign @aijamalnk

[2021-06-29 14:46] omerbensaadon opened #3879 "Replace all **NOTE:** text in Channels subheading (/eventing/channels/*) to "info" Admonitions"
**Describe the change you'd like to see**
See title!

Formatting

[code]

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-29 14:57] omerbensaadon opened #3880 "Remove "Try in your Browser" button on the homepage"
**Describe the change you'd like to see**
"Try in your browser" takes you to an O'Reilly login page. All users who clicked this option were upset to see this login after they clicked this button.

We either need to make it more obvious that this is taking you to a KataCoda tutorial or remove the button altogether

**Additional context**
Add any other context or screenshots about the feature reques

[2021-06-29 15:16] #3841 closed

[2021-06-29 15:44] julz commented on #3799
/assign

[2021-06-29 16:06] #3799 closed

[2021-06-29 16:28] julz opened #3882 "Clean up yaml metadata"
The YAML metadata was used by Hugo but isn't needed anymore since #3881 and should be cleaned up. Leaving this till after release out of an abundance of caution in case we end up needing to regenerate anything etc.

[2021-06-29 21:11] abrennan89 opened #3883 "Clean up BYO event source docs"
I'm currently working on cleaning up the docs @ https://dev-knative.netlify.app/development/eventing/sources/creating-event-sources/ so just opening an issue to track the PR and give visibility.

[2021-06-30 01:44] nak3 opened #3885 "[mkdoc] Yaml URL misses prefix "v" and micro version in v0.23 page"
## Expected Behavior

The URL for yaml in installation page is not correct.

For example, https://dev-knative.netlify.app/docs/install/install-serving-with-yaml/#install-the-serving-component

### CURRENT
[code]

### TOBE
[code]

## Actual Behavior

It seems the URL was defined by `artifact`:
https://github.com/knative/docs/blob/0435903a210b752879b12b3da5af2537895e6429/hack/macros.py#L20

and `{ve

[2021-06-30 09:29] snneji opened #3887 "test"
test issue

[2021-06-30 09:31] snneji commented on #3887
/priority critical

[2021-06-30 09:31] snneji commented on #3887
/priority nice-to-have

[2021-06-30 09:31] #3887 closed

[2021-06-30 09:52] snneji commented on #3885
/high
/assign @julz
since you are working on this issue

[2021-06-30 09:53] snneji commented on #3885
/priority high

[2021-06-30 10:06] snneji commented on #3883
/priority medium

[2021-06-30 10:07] snneji commented on #3882
/priority nice-to-have

[2021-06-30 10:12] snneji commented on #3879
These docs are currently located at this URL: https://dev-knative.netlify.app/development/eventing/channels/

[2021-06-30 10:14] snneji commented on #3879
/priority medium

[2021-06-30 10:20] snneji commented on #3875
/priority medium

[2021-06-30 10:26] snneji commented on #3874
/priority medium

[2021-06-30 10:42] snneji commented on #3867
@omerbensaadon @abrennan89 Does [this section](https://dev-knative.netlify.app/development/getting-started/install-knative-quickstart/#install-the-knative-cli) in the getting started guide cover this issue?

[2021-06-30 10:47] snneji commented on #3863
/priority high

[2021-06-30 10:49] snneji commented on #3863
/kind eventing
/kind new-docs-needed

[2021-06-30 10:50] snneji commented on #3862
/priority critical

[2021-06-30 11:08] snneji commented on #3852
@omerbensaadon has the Content Reuse page been written yet? If so, where can I find it in the file structure?

[2021-06-30 11:09] snneji commented on #3852
/priority medium

[2021-06-30 11:14] snneji commented on #3847
/priority high

[2021-06-30 11:20] snneji commented on #3844
/priority nice-to-have

[2021-06-30 11:24] snneji commented on #3840
/priority medium

[2021-06-30 11:28] snneji commented on #3827
/priority medium

[2021-06-30 14:30] omerbensaadon commented on #3867
I would feel comfortable closing this

[2021-06-30 14:31] omerbensaadon commented on #3852
docs -> snippets -> README

[2021-06-30 14:33] #3885 closed

[2021-06-30 14:54] sebgoa commented on #2293
just did it again and same results, 7 pods

[code]

[2021-06-30 15:44] abrennan89 opened #3890 "Clean up Operator install docs in admin guide"
## Expected Behavior

Knative Serving is installed successfully by following the steps [here](https://knative.dev/development/admin/install/knative-with-operators/)

## Actual Behavior

- Istio requirement for default ingress is missing, should be part of prerequisites. Seems to have been removed at some point.
- Options for alternative ingresses are further down in the document, after KnativeServ

[2021-06-30 18:31] #3801 closed

[2021-06-30 18:31] #3864 closed

[2021-06-30 19:12] abrennan89 opened #3892 "Add a favicon for the new site"
**Describe the change you'd like to see**
The old version of the site had a nice little Knative favicon which isn't there in the new version:
![image](https://user-images.githubusercontent.com/40172997/124017940-ebe22200-d9ac-11eb-9353-7051f3769652.png)

This looks pretty straightforward to add: https://squidfunk.github.io/mkdocs-material/setup/changing-the-logo-and-icons/#favicon

[2021-06-30 19:16] julz commented on #3892
Oh weird, we actually [are already setting that](https://github.com/knative/docs/blob/mkdocs/mkdocs.yml#L252), but I think the hacks we're doing to combine the old Hugo blog together with the new site broke it, should be a super easy fix though

[2021-06-30 19:23] julz commented on #3892
ha, no, even simpler: I forgot to copy it over when I reapplied the changes from my personal fork to the real repo 🤦

[2021-06-30 20:44] #3892 closed

[2021-07-01 10:24] snneji opened #3897 "Fix broken links"
Fix all broken links on the site.

You can find a list of broken links by running `mkdocs serve`. Mkdocs will then list all internal broken links.

[2021-07-01 10:25] snneji commented on #3897
/kind good-first-issue

[2021-07-01 10:25] snneji commented on #3897
/priority high

[2021-07-01 10:29] snneji commented on #3897
/kind good-first-issue
/priority high

[2021-07-01 10:30] snneji commented on #3897
/assign

[2021-07-01 10:46] julz opened #3899 "Run mkdocs in strict mode in a GitHub action"
This would be a nice easy way to find out about broken links/formatting etc in PRs without breaking the real build or previews. There are currently 14 broken link warnings that will need fixing (via #3897) before we can do this.

Strict mode can be enabled via `mkdocs build --strict`, and will cause mkdocs to error on warnings (such as broken links, bad formatting, missing redirect targets).

/goo

[2021-07-01 11:08] cardil opened #3900 "Incorrect variant of Red Hat logo is used for new site"
**Describe the change you'd like to see**
A wrong Red Hat logo is being used for the new website. According to the [Red Hat logo standards](https://www.redhat.com/en/about/brand/standards/logo) correct version is a variant A. The new site is currently using variant C:

**Additional context**

Attaching proper logo.

<img width="613" alt="Logo-RedHat-A-Color-RGB(1)" src="https://user-images.githubu

[2021-07-01 11:09] cardil commented on #3900
/kind mkdocs

[2021-07-01 11:49] csantanapr commented on #3899
This github action contains the recipe for the mkdocs dependencies https://github.com/knative/docs/blob/mkdocs/.github/workflows/knative-mkdocs.yaml

[2021-07-01 12:14] #3900 closed

[2021-07-01 12:20] csantanapr commented on #3760
This issue is not specific to mkdocs new site
/remove-kind mkdocs

[2021-07-01 12:24] csantanapr commented on #3760
@dprotaso could you triage handle this?

[2021-07-01 12:28] csantanapr commented on #3733
This means we are renaming mkdocs branch to main ?

[2021-07-01 13:17] julz commented on #3733
replicating some context from a long slack thread here: we _will_ rename, but not till after go-live (since we will be building the _old_ site from main till then), so we probably do want to fix this before go-live (and then un-fix it after! :))

[2021-07-01 13:20] julz commented on #3733
/assign

[2021-07-01 14:13] omerbensaadon commented on #3733
added priority and milestone :D

[2021-07-01 14:18] #3733 closed

[2021-07-01 14:19] julz commented on #3862
think given we decided (in slack just now :)) to release from mkdocs and swap the branches some time after (since we have to wait till the old site is no longer up) we can pull this one out of blocks-release

[2021-07-01 14:31] #3843 closed

[2021-07-01 15:43] omerbensaadon opened #3905 "Add Github, Twitter + Slack Logos to the homepage footer, center align logos + text"
## Expected Behavior
The links at the bottom of the page to Github, Twitter + Slack should include logos like on the old site as well as center aligning the content in each of the boxes.

i.e. ![Screen Shot 2021-07-01 at 11 40 33 AM](https://user-images.githubusercontent.com/16281246/124152181-4dfc5f00-da61-11eb-8e91-6f6832979629.png)

## Actual Behavior
![Screen Shot 2021-07-01 at 11 42 25 AM](ht

[2021-07-01 15:49] omerbensaadon opened #3906 "[GO LIVE] Ensure RSS Blog Feed works post-migration"
See above!

I'm fairly certain Blog is the only RSS feed on the website

[2021-07-01 15:59] omerbensaadon opened #3907 "Add correct IBM Logo svg to the Knative site"
## Expected Behavior
There should be a correct svg for IBM on the homepage

## Actual Behavior
I just yanked the IBM Cloud logo off the internet, I don't know if IBM wants their IBM logo or their Cloud logo?

## Steps to Reproduce the Problem

1. Visit the homepage
1. Go to "Trusted By"

[2021-07-01 16:12] omerbensaadon opened #3908 "[SPIKE] Investigate what needs to be rewtitten or moved from "Help" Section (knative.dev/help)"
Currently, there is a massive amount of support documentation at http://knative.dev/help.

Not all of it is strictly necessary.

Acceptance of this issue would simply require a ToDo list of things to move over or rewrite.

[2021-07-01 16:18] maximilien commented on #3907
On it @omerbensaadon… remember this week and part of next are vacation so still waiting on response. The one from Web site should be OK for now. Thanks.

[2021-07-01 16:23] omerbensaadon commented on #3907
@maximilien ah gotcha, no problem!

[2021-07-01 16:32] omerbensaadon opened #3909 "Fix weird left align issue with logos in the "Trusted By:" Section"
## Expected Behavior
I expect the content in the "Trusted by" section to take up the entire page section

## Actual Behavior
The content leaves a weird gap on the right side

See:
![Screen_Shot_2021-07-01_at_12_30_08_PM](https://user-images.githubusercontent.com/16281246/124158609-2066e400-da68-11eb-9b43-119b2cda089d.png)

## Additional Info
**Additional context**
I tested this on Chrome Safari an

[2021-07-01 18:22] omerbensaadon opened #3911 "[GO LIVE] Make knative.dev point to the `mkdocs` branch"
**Describe the change you'd like to see**
When I visit knative.dev I should see the new site not the old one!

**Additional context**
N/A

[2021-07-01 18:23] omerbensaadon opened #3912 "[GO LIVE] Fully document the new release process while releasing the new version of the site"
**Describe the change you'd like to see**
We need to fully document the new release process while we are getting `mkdocs` out the door

**Additional context**

[2021-07-02 06:02] rhuss commented on #3686
According to https://github.com/Homebrew/brew/pull/10423 a

[code]

should be sufficient.

[2021-07-02 11:04] omerbensaadon opened #3914 "Add missing footer with privacy and licensing information from old site"
**Describe the change you'd like to see**
![image](https://user-images.githubusercontent.com/16281246/124265441-ab48ec80-db03-11eb-9288-26cbb4c2e633.png)
The footer should include the links from the image above on the knative.dev site.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-02 14:43] xtreme-sameer-vohra commented on #3686
Thanks @rhuss
That command recognizes the branch name change. I had to run `brew update` subsequently to get the formulae list updated. Without it, brew was still seeing v0.21 as the latest version.

[2021-07-02 15:34] omerbensaadon commented on #3914
/project DUX Hackathon

[2021-07-02 15:41] julz commented on #3777
/assign

[2021-07-02 15:44] benmoss commented on #3880
/assign

[2021-07-02 15:49] cardil commented on #3909
/assign

[2021-07-02 15:49] shinigambit commented on #3800
/assign

[2021-07-02 15:59] benmoss commented on #3907
/remove-kind blocks-release

[2021-07-02 16:08] benmoss commented on #3852
/assign

[2021-07-02 16:09] #3880 closed

[2021-07-02 16:11] gabo1208 commented on #3879
/assign @omerbensaadon

[2021-07-02 16:24] julz commented on #3914
/assign

[2021-07-02 16:28] xtreme-sameer-vohra commented on #3686
The simplifed flow can be
[code]

[2021-07-02 16:31] snneji commented on #3897
/assign

[2021-07-02 16:33] xtreme-sameer-vohra opened #3917 "Issues with upgrading Kn using Homebrew"
## What is changing? (Please include as many details as possible.)
Upgrading Kn when using Homebrew might break for folks due to changes outlined in #3686

## How will this impact our users?
Users won't be able to upgrade to versions post 0.21 as homebrew can't see the newer versions.

## In what release will this take happen (to the best of your knowledge)?
+v 0.22

## Suggestion
@omerbensaadon r

[2021-07-02 16:34] RichardJJG commented on #3770
/assign

[2021-07-02 16:37] #3879 closed

[2021-07-02 16:39] xtreme-sameer-vohra commented on #3908
/assign

[2021-07-02 16:40] evankanderson commented on #3912
/priority high

[2021-07-02 16:40] evankanderson commented on #3911
/priority critical

[2021-07-02 16:40] evankanderson commented on #3906
/priority medium

[2021-07-02 16:42] evankanderson commented on #3899
/kind infrastructure
/priority high

[2021-07-02 16:43] evankanderson commented on #3674
/remove-priority high
/priority medium

[2021-07-02 16:50] xtreme-sameer-vohra commented on #3908
Tree at https://knative.dev/help/
- [ ] Contributor guides
  - [ ] Join
  - [ ] New docs
    - [ ] Docs template
    - [ ] _index.md template
  - [ ] New blog post
    - [ ] Blog template
  - [ ] How-tos
    - [ ] Using GitHub
    - [ ] Content structure
    - [ ] Front matter
    - [ ] Style guide
    - [ ] Formatting standards
    - [ ] Shortcodes
    - [ ] Code samples
  - [ ] Preview Website
-

[2021-07-02 16:56] #3909 closed

[2021-07-02 16:59] cardil commented on #3905
/assign

[2021-07-02 17:26] #3770 closed

[2021-07-02 17:34] benmoss commented on #3797
/assign

[2021-07-02 17:36] xtreme-sameer-vohra commented on #3917
/assign

[2021-07-02 17:37] xtreme-sameer-vohra commented on #3917
@omerbensaadon I'll work on this -> opportunity to test out local dev for the new site

[2021-07-02 17:37] benmoss commented on #3797
Not sure this is possible with mkdocs by itself, we'd have to go into a tool like `jq` or `ytt` or something, do we want this that bad?

[2021-07-02 17:45] julz commented on #3797
I think it is as of mkdocs 1.2, see https://github.com/mkdocs/mkdocs/pull/2422 and the linked comment

[2021-07-02 17:57] benmoss opened #3926 "Buncha broken links"
https://github.com/benmoss/docs/runs/2975487385?check_suite_focus=true has a bunch of broken links, need to comb through those and fix em

/assign
/kind bug cleanup

[2021-07-02 18:01] #3914 closed

[2021-07-02 18:18] #3905 closed

[2021-07-02 18:55] #3797 closed

[2021-07-02 19:06] #3777 closed

[2021-07-02 19:06] #3852 closed

[2021-07-02 19:08] xtreme-sameer-vohra commented on #3908
@omerbensaadon lmk if ☝️ is sufficient

[2021-07-02 19:19] #3897 closed

[2021-07-02 19:23] evankanderson commented on #3899
/assign

[2021-07-02 20:13] benmoss commented on #3926
Not exactly, the PR action only fails if a file that's being changed has broken links

[2021-07-02 20:15] julz commented on #3926
Hmm. But this does mean if anyone edits a file that happens to contain an existing broken link they have to fix up the whole file or they'll get an error they didn't introduce right?

[2021-07-02 20:19] julz commented on #3926
Looking at some of these broken links, I think they may unfortunately be reporting bad links that are valid mkdocs syntax, e.g. `[✖] ../../../../serving/using-a-custom-domain` (and a few others). There are currently actually only 3 _real_ broken internal links in the build, based on #3931 and many more than that being reported here..

[2021-07-02 20:22] benmoss commented on #3926
I think you might be wrong, https://dev-knative.netlify.app/development/serving/getting-started-knative-app/ has a broken link to "using a custom domain"

[2021-07-02 20:27] julz commented on #3926
hmm I don't think that file is actually in the nav at all, it looks like an old page that never got deleted but is still being built

[2021-07-02 20:27] julz commented on #3926
(you'll notice it doesn't have a sidebar on the left, and is not in nav.yml)

[2021-07-02 20:32] benmoss commented on #3926
i'm afraid it's beyond my pay grade to know how to deal with broken links in dead documentation that is still being rendered on the docs site

[2021-07-02 20:33] julz commented on #3926
Having said that https://dev-knative.netlify.app/development/serving/using-subroutes/ does indeed have a broken link, and I think I know why. I think what's happening here is #3399 broke redirects :( Which means some links that were relying on redirects to work, don't. The link to private routes [should have been redirected]( https://github.com/knative/docs/blob/mkdocs/config/redirects.yml#L74), b

[2021-07-02 20:33] julz commented on #3926
oops wrong link, I mean #3928

[2021-07-02 20:42] benmoss commented on #3926
hmm, i tested one redirect and it worked, let me see

[2021-07-02 20:43] benmoss commented on #3926
yeah it seems broken now too, it must have been because i was relying on mkdocs serve which still was serving with old configuration

[2021-07-02 20:49] benmoss commented on #3926
hmm i'm bisecting and that link appears broken before the config change was made :/

[2021-07-02 20:51] #3926 closed

[2021-07-02 21:05] julz commented on #3926
you're right - that link _was and is_ broken -- looks like the mkdocs link check doesn't complain about links that dont link to the markdown file but instead to the directory, that's a pain

[2021-07-02 21:07] #3899 closed

[2021-07-02 22:18] abrennan89 opened #3935 "Move Serving developer topics to developer guide"
Move the docs in the developer topics of https://knative.dev/development/serving/ to the developer guide

[2021-07-02 22:19] abrennan89 opened #3936 "Move event source docs to developer guide"
Clean up and move:

- https://dev-knative.netlify.app/development/eventing/sources/ping-source/
- https://dev-knative.netlify.app/development/eventing/sources/sinkbinding/
- https://dev-knative.netlify.app/development/eventing/sources/kafka-source/

Remove:
- https://dev-knative.netlify.app/development/eventing/sources/apache-camel-source/

[2021-07-05 09:36] RichardJJG opened #3938 "Style guide > W&P List: Add Merriam-Webster as official dictionary"
We need an official dictionary for checking spellings (especially hyphenated words). I suggest Merriam-Webster because it's free, it's American English, and it's widely used.

Link to the dictionary in
https://dev-knative.netlify.app/development/help/contributor/style-guide/word-and-phrase-list/

[2021-07-05 09:36] RichardJJG commented on #3938
/assign

[2021-07-05 09:36] RichardJJG commented on #3938
/kind good-first-issue

[2021-07-05 09:36] RichardJJG commented on #3938
/kind mkdocs

[2021-07-05 09:37] RichardJJG commented on #3938
/kind style

[2021-07-05 09:37] RichardJJG commented on #3938
/kind

[2021-07-05 09:51] rhuss commented on #3496
Let me pick this issue and write a documentation PR.

[2021-07-05 13:31] snneji opened #3940 "Style guide: update guidelines for adding links"
Update the [style guide](https://dev-knative.netlify.app/development/help/contributor/style-guide/README.md) to tell contributors to use the `.md` file extension when linking to internal Knative docs. This is so link checking works correctly.

Location of style guide directory: https://github.com/knative/docs/blob/mkdocs/docs/help/contributor/style-guide/

[2021-07-05 13:32] snneji commented on #3940
/kind style

[2021-07-05 13:49] gyliu513 opened #3941 "Statefulset can also support autoscale after Kuberntes 1.9"
Kuberntes 1.9 do support scaling Statefulset https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/ , so with issue comment https://github.com/knative/docs/issues/3841#issuecomment-867790502 , can we remove the `stateless` requirement?

But still, I think the Kuberntes Statefulset does not support scale to 0, but should support scale from 1 to N.

@evankanderson comments?

[2021-07-05 14:44] snneji commented on #3936
/assign

[2021-07-05 14:49] RichardJJG opened #3942 "Automatically create a GitHub issue for reviewing an engineer's merged PR"
**Describe the change you'd like to see**
When an engineer's PR is merged, a GitHub issue is automatically created with the title "Review [name of PR]" and with a link to the PR in the issue's description.

**Additional context**
https://knative.slack.com/archives/C9CV04DNJ/p1625480959205300

TL;DR we want to lower the bar to /lgtm engineers' PRs ("Does this PR break anything? No? Then we'll merge

[2021-07-05 14:49] RichardJJG commented on #3942
/kind mkdocs

[2021-07-05 14:50] RichardJJG commented on #3942
/priority medium

[2021-07-05 14:50] RichardJJG commented on #3942
/triage needs-eng-input

[2021-07-05 15:22] snneji commented on #3942
@RichardJJG do you think we should mention that this is a style review - just to make it clear (to new users) that the review is not for technical information. Maybe mention in the issue title eg "Style review <PR-#>" or make sure the automation adds the style label?

[2021-07-05 15:45] omerbensaadon commented on #3908
@xtreme-sameer-vohra awesome thank you for this!!

Going to close this and open a new issue for this :)

[2021-07-05 15:46] #3908 closed

[2021-07-05 15:47] omerbensaadon opened #3943 "Move "help" section over to `mkdocs`"
As part of #3908 @xtreme-sameer-vohra did a cursory look through the help section to see what was needed to complete for the new site.

---

## Legend
- Move over: The page should be moved to the new site
- Re-write: The page has Hugo references and needs to be updated for the new site
- Assess: Needs an assessment with someone with more knowledge of the website than myself 😁

## Tree at https://k

[2021-07-05 15:54] #3800 closed

[2021-07-05 15:54] #3938 closed

[2021-07-05 16:47] evankanderson commented on #3941
Knative assumes that the workloads are stateless; it uses a Deployment under the covers, and may remove Pods at random rather than assigning indexes and removing the last index.

For workloads which are amenable to Knative's workload management, it can simplify one common case for Deployments (12-factor HTTP applications). Not all Deployments are suitable for Knative workload management (as an exa

[2021-07-05 16:50] evankanderson commented on #3941
To put this another way, even if Kubernetes supports managing and scaling a workload, it may not be suitable for Knative. That's by design; you can always use Kubernetes to manage the workload, and Knative aims to simply one pattern by making assumptions about the workload that rule out other (reasonable, supported by Kubernetes) workloads.